<template>
  <div class="modal-content-container">
    <div class="tooltip-positioner">
      <Tooltip content="You can use lists to segment and target specific groups of candidates with your sequences. You can create a list by importing your own candidates, asking Happie to find contact info for candidates whom you’ve identified yourself, or asking Happie to find the right candidates and their contact info. Think of lists as the very top of your recruitment marketing funnel, and Happie is here to help you fill it!" />
    </div>
    <UpsellButton
      :image="bolt"
      title="create a sequence"
      description="Promote your job to candidates with a multi-touch sequence"
      :onClick="createSequence"
    />
    <UpsellButton
      :image="happieTarget"
      title="find candidates"
      description="Ask Happie to find the right candidates and their contact info"
      :onClick="findCandidatesClick"
    />
    <UpsellButton
      :image="cloud"
      title="import a list"
      description="Import your own list of candidates"
      :onClick="importClick"
    />
  </div>
</template>


<script>
import UpsellButton from 'components/Modals/Upsell/UpsellButton'
import Tooltip from 'components/Tools/Tooltip'

import bolt from 'img/upsell-buttons/bolt.svg'
import happieTarget from 'img/upsell-buttons/happie-target.svg'
import cloud from 'img/upsell-buttons/cloud.svg'

import { modals, alerts } from 'helpers'
import api from 'api'

// TODO: the button functions will need to be changed/updated

export default {
  components: {
    UpsellButton,
    Tooltip
  },
  mounted () {
  },
  data () {
    return {
      bolt: bolt,
      happieTarget: happieTarget,
      cloud: cloud
    }
  },
  computed: {
  },
  methods: {
    createSequence () {
      // TODO: Modify if we need to actually handle adding to lists on this page
      this.$router.push({ path: `/outreach/sequences` })
      modals.hide()
    },
    findCandidatesClick () {
      // TODO: Fill in real recipients

      let requestObject = {
        template_name: 'sales_not_find_candidates',
        recipients: ['steven@gethappie.me']
      }

      api.ajax('emails/send', {
        type: 'POST',
        data: requestObject
      })
      .done(() => {
        alerts.show({
          status: 'success',
          message: 'A Happie team member will reach out soon about helping you find the right candidates for your open roles. We’re happy (pun intended) to help!'
        })
      })
      .fail(() => {
        console.error('failed to send email')
        alerts.show({
          status: 'error',
          message: `Oh no! For some reason, your email failed to send. Please try again later.`
        })
      })
    },
    importClick () {
      // TODO: Modify if we need to actually handle adding to lists on this page
      this.$router.push({ path: `/outreach/lists` })
      modals.hide()
    }
  },
  props: {
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .modal-content-container {
    padding: 68px 18px 24px 18px;
    text-align: center;
  }

  .tooltip-positioner {
    position: absolute;
    top: 23px;
    left: 25px;
  }


</style>
