<template>
  <div class="modal-content-container">
    <div class="tooltip-positioner">
      <Tooltip content="You can use lists to segment and target specific groups of candidates with your sequences. You can create a list by importing your own candidates, asking Happie to find contact info for candidates whom you’ve identified yourself, or asking Happie to find the right candidates and their contact info. Think of lists as the very top of your recruitment marketing funnel, and Happie is here to help you fill it!" />
    </div>
    <UpsellButton
      :image="cloud"
      title="import a list"
      description="Import your own list of candidates"
      :onClick="importClick"
    />
    <UpsellButton
      :image="clipboard"
      title="create empty list"
      description="Create a new empty list now, and add candidates later"
      :onClick="createNewListClick"
    />
    <UpsellButton
      :image="happieTarget"
      title="find candidates"
      description="Ask Happie to find the right candidates and their contact info"
      :onClick="findCandidatesClick"
    />
    <UpsellButton
      :image="magnifyingGlass"
      title="find contact info"
      description="Ask Happie to find contact info for a list of candidates"
      :onClick="findContactInfoClick"
    />
  </div>
</template>


<script>
import UpsellButton from 'components/Modals/Upsell/UpsellButton'
import Tooltip from 'components/Tools/Tooltip'

import magnifyingGlass from 'img/upsell-buttons/magnifying-glass.svg'
import happieTarget from 'img/upsell-buttons/happie-target.svg'
import cloud from 'img/upsell-buttons/cloud.svg'
import clipboard from 'img/upsell-buttons/clipboard.svg'

import { modals, alerts } from 'helpers'
import { accountStore, metadataStore } from 'stores'
import api from 'api'

export default {
  components: {
    UpsellButton,
    Tooltip
  },
  data () {
    return {
      magnifyingGlass,
      happieTarget,
      cloud,
      clipboard,
      accountStore: accountStore.get()
    }
  },
  computed: {
  },
  methods: {
    findContactInfoClick () {
      let recipients = []

      if (metadataStore.get().environment === 'dev') {
        recipients = [accountStore.get().account.email]
      } else {
        recipients = ['steven@gethappie.me']
        // TODO: Uncomment this when we're ready to go to prod
        // recipients = ["nick@gethappie.me", "richie@gethappie.me", "steven@gethappie.me"]
      }

      let requestObject = {
        template_name: 'sales_not_find_info_part_1',
        recipients: recipients
      }

      api.ajax('emails/send', {
        type: 'POST',
        data: requestObject
      })
      .done(() => {
        // Show modal to import candidates to send to Happie
        modals.show({
          component: 'FileImport',
          props: {
            containerStyles: { width: '700px' },
            findCandidates: true,
            addToList: this.list.id,
            callback () {
              if (this.customCallback) {
                this.customCallback()
              }
            }
          }
        })
      })
      .fail(() => {
        console.error('failed to send email')
        alerts.show({
          status: 'error',
          message: `Uh-oh, there was an error sending your email. Please try again.`
        })
      })
    },
    createNewListClick () {
      this.createListCallback()
    },
    findCandidatesClick () {
      // TODO: Fill in real recipients

      let requestObject = {
        template_name: 'sales_not_find_candidates',
        recipients: ['steven@gethappie.me']
      }

      api.ajax('emails/send', {
        type: 'POST',
        data: requestObject
      })
      .done(() => {
        alerts.show({
          status: 'success',
          message: 'A Happie team member will reach out soon about helping you find the right candidates for your open roles. We’re happy (pun intended) to help!'
        })
      })
      .fail(() => {
        console.error('failed to send email')
        alerts.show({
          status: 'error',
          message: `Oh no! For some reason, your email failed to send. Please try again later.`
        })
      })
    },
    importClick () {
      modals.show({
        component: 'FileImport',
        props: {
          callback () {
            if (this.customCallback) {
              this.customCallback()
            }
          },
          enableListSelect: false,
          containerStyles: { width: '700px' }
        }
      })
    }
  },
  props: {
    list: { required: false },
    customCallback: { required: false },
    createListCallback: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .modal-content-container {
    padding: 68px 18px 24px 18px;
    text-align: center;
  }

  .tooltip-positioner {
    position: absolute;
    top: 23px;
    left: 25px;
  }


</style>
