<template>
  <div class="upsell-button" :style="customStyles">
    <img v-svg-src="image" :style="imageStyles"></img>
    <h2>{{title}}</h2>
    <p v-if="description">{{description}}</p>
    <AttentionButton text="SELECT" :click="onClick"></AttentionButton>
  </div>
</template>


<script>
import AttentionButton from 'components/FormElements/AttentionButton'

export default {
  components: {
    AttentionButton
  },
  mounted () {
  },
  data () {
    return {

    }
  },
  computed: {
  },
  methods: {
  },
  props: {
    image: { required: false },
    title: { required: true },
    description: { required: false },
    onClick: { required: true },
    imageStyles: { required: false },
    customStyles: { required: false }
  }
}
</script>

<style lang='scss'>
  @import "~styles/variables";

  .upsell-button {
    position: relative;
    @include i-b;
    width: 165px;
    height: 218px;

    border: 1px solid $shamrock;
    text-align: center;

    padding: 12px 6px;
    margin-right: 2px;

    img {
      @include i-b;
      margin-bottom: 16px;
    }

    h2 {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 800;
    }

    p {
      font-size: 12px;
      line-height: 16px;
    }

    button {
      position: absolute;
      bottom: 14px;
      left: 50%;
      transform: translateX(-50%);
    }

  }

</style>
