<template>
  <div class="main-container">
    <span role="button" class="add-block" @click="createNewCampaign"></span>
      <div class="sk-folding-cube" v-if="!campaignsLoaded">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
    <p v-if="!table.rows.length && campaignsLoaded" class="no-campaigns">You haven't created a campaign yet. Get Started by clicking the plus sign <span>[+]</span> above. Let's make magic happen!<br><img v-svg-src="MakeMagic"></p>
    <SectionTable
      v-if="table.rows.length"
      :table="table"
      :actionChange="actionChange"
      :toggleEnabled="toggleEnabled"
      :tableStyles="tableStyles"
      :nameClick="openCampaignDetails"
    />
  </div>
</template>

<script>

import SectionTable from 'components/Sections/SectionTable'

import api from 'api'
import { alerts, modals, appInitializer } from 'helpers'
import { campaignsStore } from 'stores'

import MakeMagic from 'img/make-magic.svg'

export default {
  components: {
    SectionTable,
    MakeMagic
  },
  mounted () {
    let debugOptions = {
      debugData: [],
      debugTimeout: 100
    }

    // Check if we have campaigns from the store, if not, call the api
    this.campaigns = campaignsStore.get().campaigns
    if (this.campaigns.length < 1) {
      api.ajax('campaigns/', null, debugOptions)
      .done((response) => {
        console.log('response ', response)
        campaignsStore.init(response)
        this.campaigns = campaignsStore.get().campaigns
        this.campaignsLoaded = true
      })
    } else {
      this.campaignsLoaded = true
    }
  },
  data () {
    return {
      table: {
        head: [
          '',
          'name',
          '',
          'campaign elements',
          'actions'
        ],
        rows: [],
        dropdownItems: [
          { value: 'select', label: 'Select Action' },
          { value: 'report', label: 'View Report' },
          { value: 'edit', label: 'Edit' },
          { value: 'delete', label: 'Delete' }
        ],
        selectedItem: { value: 'select' }
      },
      tableStyles: {
        containerStyles: { 'margin-top': '29px' },
        headStyles0: {
          display: 'none'
        },
        colStyles0: {
          display: 'none'
        },
        headStyles1: {
          'text-align': 'left',
          width: '30%'
        },
        colStyles1: {
          'text-align': 'left',
          width: '30%'
        },
        headStyles2: {
          display: 'none'
        },
        colStyles2: {
          display: 'none'
        },
        headStyles3: {
          width: '40%'
        },
        colStyles3: {
          width: '40%'
        },
        headStyles4: {
          width: '25%'
        },
        colStyles4: {
          width: '25%'
        }
      },
      campaignsLoaded: false,
      MakeMagic: MakeMagic,
      campaigns: []
    }
  },
  watch: {
    campaigns: {
      handler (val, oldVal) {
        this.makeTable()
      },
      deep: true
    }
  },
  methods: {
    makeTable () {
      let rows = []
      $(this.campaigns).map(function (key, value) {
        let row = {
          'cols': [
            true,
            '',
            '',
            [
              {
                'name': 'jobs',
                'value': 0
              },
              {
                'name': 'pages',
                'value': 0
              },
              {
                'name': 'lists',
                'value': 0
              },
              {
                'name': 'sequences',
                'value': 0
              }
            ]
          ]
        }
        $(value).map(function (k, v) {
          if (v.id) {
            row.id = v.id
          }

          row.cols[1] = v.name ? v.name : 'Untitled'

          if (v.req_ids) {
            row.cols[3][0].value = v.req_ids.length
          }
          if (v.page_ids) {
            row.cols[3][1].value = v.page_ids.length
          }
          if (v.list_ids) {
            row.cols[3][2].value = v.list_ids.length
          }
          if (v.sequence_ids) {
            row.cols[3][3].value = v.sequence_ids.length
          }
        })
        rows.push(row)
      })
      this.table.rows = rows
    },
    openCampaignDetails (id) {
      this.$router.push({ path: `campaigns/${id}` })
    },
    actionChange (item, id) {
      let value = item.value.toLowerCase()

      this.table.selectedItem = { value: 'select' }

      if (value === 'edit') {
        this.openCampaignDetails(id)
      }
      if (value === 'delete') {
        this.deleteCampaign(id)
      }
      if (value === 'report') {
        // TODO: this will actually need to be a real route when reports are done
        this.$router.push({ path: `/reports` })
      }
    },
    createNewCampaign (e) {
      this.openCampaignDetails('new')
    },
    deleteCampaign (id) {
      // TODO: probably need a way to delete multiple campaigns when there is a bulk actions dropdown

      // Get campaign for the name
      let campaign = campaignsStore.getCampaign(id)

      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to delete your campaign ”${campaign.name}”? Once deleted, you will no longer be able to view reports for this campaign. Also, all of the jobs, pages, lists, and sequences associated with this campaign will still exist.`,
          confirmText: 'Yes, delete it!',
          cancelText: 'Cancel',
          confirm: () => {
            api.ajax(`campaigns/${id}`, {
              type: 'DELETE'
            })
            .done(() => {
              // Remove campaign from our local data
              campaignsStore.deleteCampaigns([id])
              this.campaigns = campaignsStore.get().campaigns

              // Reset the sequence and page stores because we need to allow for sequences and pages that were attached to the deleted campaign to no longer have a campaign_id
              appInitializer.clearStores(['sequencesStore', 'pagesStore'])

              alerts.show({
                message: `You successfully deleted your campaign “${campaign.name}”. We hope it helped you successfully hire the right candidates, too!`,
                status: 'success'
              })
            })
            .fail(() => {
              alerts.show({
                message: `Uh oh! There was an error deleting your campaign “${campaign.name}”. Please refresh your page, and try again!`,
                status: 'error'
              })
            })
          }
        }
      })
    },
    toggleEnabled () {
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  // TODO: Probably can be combined somewhere since it is being used in multiple places: jobs, sequences, campaigns...

  .sk-folding-cube {
    margin-top: 60px;
  }

  .sk-folding-cube .sk-cube:before {
    background-color: $dove-gray;
  }

  .add-block {
    background-image: url('~img/add-block.svg');
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 61px;
    height: 61px;

    &:hover {
      background-image: url('~img/add-block-active.svg');
    }
  }

  .no-campaigns {
    display: block;
    margin: auto;
    margin-top: 32px;
    width: 643px;
    font-size: 24px;
    text-align: center;
    color: $dove-gray;

    span {
      font-weight: 800;
    }

    img {
      margin-top: 35px;
    }
  }

</style>
