<template>
  <div class="main-container" @scroll="handleScroll" ref="mainContainer">
    <ScrollNav :showNav="showNav">
      <span class="scroll-left-container">
        <span class="scroll-to-top" role="button" @click="scrollToTop">Campaign Settings</span>
      </span>
      <span class="scroll-right-container">
        <span role="button" class="campaign-delete-button" @click="deleteCampaign"></span>
        <span role="button" class="campaign-save-button" @click="saveCampaign">
          <img v-svg-src="saveImg">
          SAVE
        </span>
      </span>
    </ScrollNav>

    <div class="padding-container">
      <ContentNavHeader :containerStyles="backContainerStyles" label="Back to All Campaigns" backPath="/outreach/campaigns" />
      <router-link class="view-report" :to="{path: `/reports`, query: $route.query}">VIEW REPORT</router-link>
      <div class="panel options-panel">
        <div class="options-header">
          <span class="options-header-block">
            <h1 class="i-b">Campaign Settings</h1>
            <img v-bind:class="{'i-b collapse-arrow': true, 'options-open': !settingsCollapsed}" v-svg-src="upArrowImg" @click="collapseSettings" role="button"></img>
          </span>
          <span class="options-header-block right">
            <span role="button" class="campaign-delete-button" @click="deleteCampaign"></span>
            <span role="button" class="campaign-save-button" @click="saveCampaign">
              <img v-svg-src="saveImg">
              SAVE
            </span>
          </span>
        </div>

        <div v-show="!settingsCollapsed" class="options-controls">
          <hr />

          <div class="i-b width-half">
            <h2>
              Campaign Name
              <Tooltip content="You can use <i>campaigns</i> to organize and report on your organization’s recruitment marketing activity and results. Your jobs, pages and sequences in Happie all work toward the same goal — getting the right candidates engaged. Grouping them into a campaign helps give you deeper insights into how they help achieve these goals." :customStyles="tooltipStyles" />
            </h2>
            <CustomInput
              :icon="rocket"
              placeholder="Enter a name for your campaign..."
              :containerStyles="nameContainerStyles"
              :customStyles="nameCustomStyles"
              v-if="campaign"
              v-model="campaign.name"
              customId="test-campaigns-input"
            />
          </div>
          <div class="i-b width-half">
            <h2>Start Date</h2>
            <DatePicker
              v-if="campaign"
              :onChange="startDateChange"
              :date="campaign.start_date"
              placeholder="Select Start Date..."
              customId="test-campaigns-start-date"
            />
          </div>

          <div class="i-b width-half bottom-half">
            <h2>Description</h2>
            <CustomTextArea
              placeholder="Enter a description for your campaign..."
              :containerStyles="descriptionContainerStyles"
              :customStyles="descriptionCustomStyles"
              v-if="campaign"
              v-model="campaign.description"
              customId="test-campaigns-text-area"
            />
          </div>
          <div class="i-b width-half bottom-half">
            <h2>End Date</h2>
            <DatePicker
              v-if="campaign"
              :onChange="endDateChange"
              :date="campaign.end_date"
              placeholder="Select End Date..."
              customId="test-campaigns-end-date"
            />
          </div>

        </div>

      </div>

      <div class="panel bottom-panel">

        <h1>
          ADD EMPLOYER BRAND ASSETS
          <Tooltip content="You can add <i>employer brand assets</i> to your campaign to track assets in Happie used to promote your opportunities and convey your company culture to candidates. When you engage candidates with sequences, you’ll likely want to use something — like a page and/or job description — that they can view to help them decide whether or not they’re interested. That’s where employer brand assets come in!" :customStyles="tooltipStyles" />
        </h1>

        <div>
          <h2 class="less-margin">
            Job(s)
            <Tooltip content="You use <i>jobs</i> in Happie to market opportunities in your company to candidates. Everything in Happie centers on finding, attracting, and engaging the right candidates for your jobs." :customStyles="tooltipStyles" />
          </h2>
          <div>
            <CustomMultiSelect
              v-if="campaignLoaded && jobsLoaded"
              :icon="briefcase"
              :items="jobs"
              :selected="campaign.req_ids"
              :onChange="jobsChange"
              placeholder="Select one or more jobs..."
              :customStyles="multiSelectCustomStyles"
              customId="test-campaigns-custom-select"
            />
          </div>
          <span @click="createNewJob" role="button" class="create-new">Create a new job</span>
        </div>

        <div>
          <h2 class="less-margin">
            Page(s)
            <Tooltip content="You use <i>pages</i> to create online destinations for candidates to learn more about your company, individual teams and team members, and company culture. To ensure accurate tracking, a page can only be associated with one campaign, so if you’d like to use the same page, please create a duplicate. If a page is already associated with a campaign, it won’t appear as an option." :customStyles="tooltipStyles" />
          </h2>
          <div>
            <CustomMultiSelect
              v-if="campaignLoaded && pagesLoaded"
              :icon="page"
              :items="pages"
              :selected="campaign.page_ids"
              :onChange="pagesChange"
              placeholder="Select one or more pages..."
              :customStyles="multiSelectCustomStyles"
            />
          </div>
          <span @click="createNewPage" role="button" class="create-new">Create a new page</span>
        </div>

        <h1>
          ENGAGE CANDIDATES
          <Tooltip content="You can <i>engage candidates</i> in Happie by organizing groups of candidates into lists and targeting those candidates over time with sequences. Effectively engaging candidates is just like effectively engaging anyone — deliver the right message, at the right time, to the right person." :customStyles="tooltipStyles" />
        </h1>

        <div>
          <h2 class="less-margin">
            List(s)
            <Tooltip content="You can use <i>lists</i> to segment and target specific groups of candidates with your sequences." :customStyles="tooltipStyles" />
          </h2>
          <div>
            <CustomMultiSelect
              v-if="campaignLoaded && listsLoaded"
              :icon="clipboard"
              :items="lists"
              :selected="campaign.list_ids"
              :onChange="listsChange"
              placeholder="Select one or more lists..."
              :customStyles="multiSelectCustomStyles"
            />
          </div>
          <span @click="createNewList" role="button" class="create-new">Create a new list</span>
        </div>

        <div>
          <h2 class="less-margin">
            Sequence(s)
            <Tooltip content="You use <i>sequences</i> to reach out to candidates with multiple messages over time, to get them interested in your company and open jobs. Think of sequences as persistence on autopilot! To ensure accurate tracking, a sequence can only be associated with one campaign, so if you’d like to use the same sequence, please create a duplicate. If a sequence is already associated with a campaign, it won’t appear as an option." :customStyles="tooltipStyles" />
          </h2>
          <div>
            <CustomMultiSelect
              v-if="campaignLoaded && sequencesLoaded"
              :icon="bolt"
              :items="sequences"
              :selected="campaign.sequence_ids"
              :onChange="sequencesChange"
              placeholder="Select one or more sequences..."
              :customStyles="multiSelectCustomStyles"
            />
          </div>
          <span @click="createNewSequence" role="button" class="create-new">Create a new sequence</span>
        </div>

      </div>
    </div>

  </div>
</template>

<script>
import CustomInput from 'components/FormElements/CustomInput'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import Tooltip from 'components/Tools/Tooltip'
import CustomMultiSelect from 'components/FormElements/CustomMultiSelect'
import ContentNavHeader from 'components/Tools/ContentNavHeader'
import DatePicker from 'components/Tools/DatePicker'
import ScrollNav from 'components/Tools/ScrollNav'

import deepEqual from 'deep-equal'
import api from 'api'
import { alerts, modals, appInitializer } from 'helpers'
import moment from 'moment'
import * as stores from 'stores'

import saveImg from 'img/save-white.svg'
import bolt from 'img/bolt.svg'
import rocket from 'img/rocket.svg'
import page from 'img/page.svg'
import target from 'img/target.svg'
import clipboard from 'img/dropdowns/clipboard.svg'
import upArrowImg from 'img/up-arrow.svg'
import briefcase from 'img/briefcase.svg'

export default {
  components: {
    CustomInput,
    CustomTextArea,
    CustomMultiSelect,
    Tooltip,
    ContentNavHeader,
    DatePicker,
    ScrollNav
  },
  computed: {
  },
  data () {
    return {
      showNav: false,
      scrollShowHeight: 62,
      jobsLoaded: false,
      sequencesLoaded: false,
      pagesLoaded: false,
      listsLoaded: false,
      campaignLoaded: false,
      campaign: null,
      originalCampaign: null,
      lists: [],
      pages: [],
      jobs: [],
      sequences: [],
      bolt,
      rocket,
      page,
      clipboard,
      target,
      upArrowImg,
      briefcase,
      saveImg,
      backContainerStyles: {
        display: 'inline-block',
        'margin-top': '35px'
      },
      nameContainerStyles: {
        display: 'inline-block',
        float: 'left'
      },
      nameCustomStyles: {
        width: '300px'
      },
      descriptionContainerStyles: {
        display: 'inline-block',
        float: 'left',
        'margin-bottom': '35px'
      },
      descriptionCustomStyles: {
        width: '300px'
      },
      multiSelectContainerStyles: {
        display: 'inline-block',
        'margin-bottom': '30px',
        width: '100%'
      },
      multiSelectCustomStyles: {
        width: '100%',
        'margin-bottom': '15px'
      },
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle',
        'margin-left': '18px'
      },
      tooltipBottomStyles: {
        display: 'inline-block',
        'vertical-align': 'top',
        'margin-left': '18px',
        'margin-top': '10px'
      },
      settingsCollapsed: false
    }
  },
  created () {
    // Load the campaign
    this.getCampaign()

    // Load jobs
    if (stores.jobsStore.get().jobs.length) {
      this.loadJobs(stores.jobsStore.get().jobs)
    } else {
      api.ajax('reqs')
      .done((response) => {
        console.log('response from jobs ', response)
        stores.jobsStore.init(response)
        this.loadJobs(response)
      })
      .fail((e) => {
        console.error('Error getting jobs ', e)
      })
    }

    // Load pages
    if (stores.pagesStore.get().pages.length) {
      this.loadPages(stores.pagesStore.get().pages)
    } else {
      api.ajax('page')
      .done((response) => {
        console.log('response from page ', response)
        stores.pagesStore.init(response)
        this.loadPages(response)
      })
      .fail((e) => {
        console.error('Error getting pages ', e)
      })
    }

    // Load lists
    if (stores.listsStore.get().lists.length) {
      this.loadLists(stores.listsStore.get().lists)
    } else {
      api.ajax('candidate-lists')
      .done((response) => {
        console.log('response from lists ', response)
        stores.listsStore.init(response)
        this.loadLists(response)
      })
      .fail((e) => {
        console.error('Error getting lists ', e)
      })
    }

    // Load sequences
    if (stores.sequencesStore.get().sequences.length) {
      this.loadSequences(stores.sequencesStore.get().sequences)
    } else {
      api.ajax('sequences')
      .done((response) => {
        console.log('response from sequences ', response)
        stores.sequencesStore.init(response)
        this.loadSequences(response)
      })
      .fail((e) => {
        console.error('Error getting sequences ', e)
      })
    }
  },
  mounted () {
  },
  methods: {
    scrollToTop () {
      $(this.$refs.mainContainer).animate({
        scrollTop: 0
      }, 250)
    },
    handleScroll (e) {
      let scroll = $(e.target).scrollTop()
      if (scroll >= this.scrollShowHeight) {
        this.showNav = true
      } else {
        this.showNav = false
      }
    },
    getCampaign () {
      let campaignId = this.$route.params.campaign_id

      if (campaignId === 'new') {
        let newCampaign = {
          'id': 'new',
          'page_ids': [],
          'req_ids': [],
          'sequence_ids': [],
          'list_ids': [],
          'date_created': moment().format(),
          'last_updated': moment().format(),
          'name': '',
          'description': '',
          'start_date': null,
          'end_date': null
        }

        this.campaign = newCampaign
        this.campaignLoaded = true
      } else {
        api.ajax(`campaigns/${this.$route.params.campaign_id}`)
        .done((response) => {
          console.log(response)

          // Since we pulled from the api, update the campaigns store in case there is new data
          stores.campaignsStore.updateCampaigns([response])

          // set the original to compare to any changes
          this.originalCampaign = response

          // Remove reference
          let campaign = $.extend(true, {}, response)
          this.campaign = campaign

          this.campaignLoaded = true
        })
        .fail((e) => {
          console.error('error loading campaign ', e)
        })
      }
    },
    loadJobs (jobs) {
      $.each(jobs, (key, value) => {
        this.jobs.push({
          value: value.id,
          label: value.title ? value.title : 'Untitled'
        })
      })
      this.jobsLoaded = true
    },
    loadPages (pages) {
      $.each(pages, (key, value) => {
        // Check if the page is connected to a different campaign
        if (value.campaign_id == null || value.campaign_id == this.$route.params.campaign_id) {
          this.pages.push({
            value: value.id,
            label: value.title ? value.title : 'Untitled'
          })
        }
      })
      this.pagesLoaded = true
    },
    loadLists (lists) {
      $.each(lists, (key, value) => {
        this.lists.push({
          value: value.id,
          label: value.name ? value.name : 'Untitled'
        })
      })
      this.listsLoaded = true
    },
    loadSequences (sequences) {
      $.each(sequences, (key, value) => {
        // Check if the page is connected to a different campaign
        if (value.campaign_id == null || value.campaign_id == this.$route.params.campaign_id) {
          this.sequences.push({
            value: value.id,
            label: value.name ? value.name : 'Untitled'
          })
        }
      })
      this.sequencesLoaded = true
    },
    createNewJob () {
      this.$router.push({ path: `/outreach/jobs/new` })

      alerts.show({
        message: `To add your new job to your campaign “${this.campaign.name}”, click ‘back’ on your web browser and select it in the Jobs field, after editing and saving it here. You can always add it to your campaign later, too!`,
        status: 'warning'
      })
    },
    createNewPage () {
      api.ajax('page/', {
        type: 'POST'
      })
      .done((response) => {
        // Add new page to store
        let newPage = $.extend(true, {}, response)
        stores.pagesStore.addPages([newPage])

        this.$router.push({ path: `/pagebuilder/${response.id}` })

        alerts.show({
          message: `To add your new page to your campaign “${this.campaign.name}”, click ‘back’ on your web browser and select it in the Pages field, after editing and saving it here. You can always add it to your campaign later, too!`,
          status: 'warning'
        })
      })
      .fail((e) => {
        console.error('error creating page ', e)
      })
    },
    createNewList () {
      this.$router.push({ path: `/outreach/lists/new` })

      alerts.show({
        message: `To add your new list to your campaign “${this.campaign.name}”, click ‘back’ on your web browser and select it in the Sequences field after you're done editing it. You can always add it to your campaign later, too!`,
        status: 'warning'
      })
    },
    createNewSequence () {
      this.$router.push({ path: `/outreach/sequences/new` })

      alerts.show({
        message: `To add your new sequence to your campaign “${this.campaign.name}”, click ‘back’ on your web browser and select it in the Sequences field after you're done editing it. You can always add it to your campaign later, too!`,
        status: 'warning'
      })
    },
    deleteCampaign () {
      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to delete your campaign ”${this.campaign.name}”? Once deleted, you will no longer be able to view reports for this campaign. Also, all of the jobs, pages, lists, and sequences associated with this campaign will still exist.`,
          confirmText: 'Yes, delete it!',
          cancelText: 'Cancel',
          confirm: () => {
            api.ajax(`campaigns/${this.campaign.id}`, {
              type: 'DELETE'
            })
            .done(() => {
              stores.campaignsStore.deleteCampaigns([this.campaign.id])

              // Reset the sequence and page stores because we need to allow for sequences and pages that were attached to the deleted campaign to no longer have a campaign_id
              appInitializer.clearStores(['sequencesStore', 'pagesStore'])

              // Send them back to the list view
              this.$router.push({ path: `/outreach/campaigns` })

              alerts.show({
                message: `You successfully deleted your campaign “${this.campaign.name}”. We hope it helped you successfully hire the right candidates, too!`,
                status: 'success'
              })
            })
            .fail(() => {
              alerts.show({
                message: `Uh oh! There was an error deleting your campaign “${this.campaign.name}”. Please refresh your page, and try again!`,
                status: 'error'
              })
            })
          }
        }
      })
    },
    collapseSettings () {
      if (this.settingsCollapsed) {
        this.settingsCollapsed = false
      } else {
        this.settingsCollapsed = true
      }
    },
    startDateChange (newDate) {
      this.campaign.start_date = newDate
    },
    endDateChange (newDate) {
      this.campaign.end_date = newDate
    },
    listsChange (e) {
      this.campaign.list_ids = e
    },
    pagesChange (e) {
      this.campaign.page_ids = e
    },
    jobsChange (e) {
      this.campaign.req_ids = e
    },
    sequencesChange (e) {
      this.campaign.sequence_ids = e
    },
    saveCampaign (options) {
      // Change the id arrays to int arrays instead of strings

      let newPages = this.campaign.page_ids.map((x) => {
        return parseInt(x)
      })
      this.campaign.page_ids = newPages

      let newLists = this.campaign.list_ids.map((x) => {
        return parseInt(x)
      })
      this.campaign.list_ids = newLists

      let newJobs = this.campaign.req_ids.map((x) => {
        return parseInt(x)
      })
      this.campaign.req_ids = newJobs

      let newSequences = this.campaign.sequence_ids.map((x) => {
        return parseInt(x)
      })
      this.campaign.sequence_ids = newSequences

      let url
      let requestType
      let campaignId = this.$route.params.campaign_id

      if (campaignId === 'new') {
        url = 'campaigns'
        requestType = 'POST'
      } else {
        url = `campaigns/${this.campaign.id}`
        requestType = 'PUT'
      }

      api.ajax(url, {
        type: requestType,
        data: this.campaign
      })
      .done((response) => {
        console.log('response from save campaign', response)

        if (campaignId === 'new') {
          stores.metadataStore.setHasUnsavedChanges(false)
          let newCampaign = $.extend(true, {}, response)
          stores.campaignsStore.addCampaigns([newCampaign])

          // Replace the current route with the newly created ID, as long as we haven't passed in an
          // option to ignore this case (like when we're saving on redirecting away from the page)
          if (!options || !options.ignoreRedirect) {
            this.$router.replace({
              params: {
                'campaign_id': response.id
              }
            })
          }

          alerts.show({
            message: `Awesome — you successfully saved your changes to your campaign “${this.campaign.name}”!`,
            status: 'success'
          })

          // Kind of redundant API call since POST returns the user, but helps us update our internal data
          setTimeout(() => {
            this.getCampaign()
          })
        } else {
          // Update the campaign in our store (if it's in the store)
          stores.campaignsStore.updateCampaigns([response])

          // Remove reference
          let savedCampaign = $.extend(true, {}, response)
          this.campaign = savedCampaign

          // Reset our starting campaign to compare changes to
          this.originalCampaign = response
          stores.metadataStore.setHasUnsavedChanges(false)

          // Reset the sequence and page stores because we need to allow for sequences and pages that were attached to the campaign to check again for campaign_id
          appInitializer.clearStores(['sequencesStore', 'pagesStore'])

          alerts.show({
            message: `Awesome — you successfully saved your changes to your campaign “${this.campaign.name}”!`,
            status: 'success'
          })
        }
      })
      .fail((e) => {
        console.error('error creating campaign ', e)

        alerts.show({
          message: `Oh no! For some reason, there was an error saving your campaign “${this.campaign.name}”. Please try again!`,
          status: 'error'
        })
      })
    }
  },
  watch: {
    campaign: {
      handler (newValue) {
        if (!deepEqual(newValue, this.originalCampaign)) {
          stores.metadataStore.setHasUnsavedChanges(true, this.saveCampaign)
        }
      },
      deep: true
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .main-container{
    padding: 0px;
    padding-bottom: 158px;

    .padding-container {
      padding: 0px 20px;
    }
  }

  .options-panel {
    .options-header {
      padding: 0px;
    }
  }

  .view-report {
    background: $shamrock;
    border-radius: 2px;
    font-size: 16px;
    letter-spacing: 1.8px;
    text-align: center;
    color: $white;
    text-decoration: none;
    display: inline-block;
    float: right;
    padding: 12px 27px;
    margin: 15px 0px;

    @include transition-sm-med-ease;

    &::before {
      content: ' ';
      height: 20px;
      width: 20px;
      margin-right: 24px;
      display: inline-block;
      background-image: url('~img/view-report.svg');
      vertical-align: middle;
    }

    &:hover {
      background: $shamrock-hover;
    }
  }

  .panel {
    padding: 1.0rem 2.0rem;
    margin-bottom: 2.6rem;
    max-height: none;
    overflow: visible;

    &.bottom-panel {
      padding-bottom: 82px;

      h1 {
        margin-top: 40px;
        margin-bottom: 27px;
        font-size: 14px;
        font-weight: 800;
        color: $dove-gray;
        letter-spacing: 1.8px;
      }
    }

    &.options-panel {
      .options-controls {
        overflow: visible;
      }
    }

    .bottom-half {
      margin-top: 20px;
    }
  }

  h2 {
    margin: 20px 0;
    height: 16px;

    &.less-margin {
      margin-top: 32px;
      margin-bottom: 10px;
    }
  }

  hr {
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  .campaign-save-button {
    margin-left: 30px;
    display: inline-block;
    background-color: $turquoise;
    border-radius: 2px;
    color: $white;
    text-align: center;
    letter-spacing: 1.8px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;

    @include transition-sm-med-ease;

    &:hover {
      background-color: $half-baked;
    }

    img {
      margin-right: 15px;
      vertical-align: middle;
    }
  }

  .campaign-delete-button {
    vertical-align: middle;
    display: inline-block;
    width: 23px;
    height: 27px;
    background-image: url('~img/delete.svg');
    background-repeat: no-repeat;

    &:hover {
      background-image: url('~img/delete-active.svg');
    }
  }

  .scroll-nav-container {
    .scroll-left-container {
      width: 50%;
      display: inline-block;

      .scroll-to-top {
        font-size: 14px;
        font-weight: bold;
        color: #4a90e2;

        &:hover {
          color: #3E79BE;
          text-decoration: underline;
        }
      }
    }
    .scroll-right-container {
      width: 50%;
      text-align: right;
      display: inline-block;
    }
  }

</style>
