<template>
  <div class="main-container">

    <div class="filter-button-container">
      <CustomSelect
        :items="bulkActionItems"
        :onChange="bulkActionChange"
        :selected="selectedBulkAction"
        :customStyles="filterDropdownStyles"
        :menuMaxHeight="350"
      />
      <CustomCheckbox id="select-all-candidates" v-model="checkedBox" :onChange=" (e) => {selectAllCheckboxChanged(e)}" label="Select all candidates" />
      <template v-if="!accountStore.account.is_sourced_req_admin">
        <FlatButton v-if="!accountStore.account.is_transactional" :click="addNewClick" :customStyles="lastFlatButtonStyles" color="green">
          <img v-svg-src="circlePlusWhiteImg" alt="add new candidate"></img>
          ADD NEW
        </FlatButton>
        <FlatButton v-if="!accountStore.account.current_organization.is_transactional" :click="importClick" :customStyles="flatButtonStyles">
          <img v-svg-src="cloudWhiteImg" alt="import candidates"></img>
          IMPORT
        </FlatButton>
      </template>
      <!-- Manage statuses button hidden until custom statuses put in
        <FlatButton :click="manageStatusesClick" :customStyles="flatButtonStyles" color="purple">
          <img v-svg-src="pulseImg" alt="add new candidate"></img>
          MANAGE STATUSES
        </FlatButton>
      -->
      <CustomInput
        v-if="accountStore.account.is_transactional"
        v-model="candidatesStore.filters.search"
        :icon="searchImg"
        placeholder="Search..."
        :containerStyles="{ float: 'right' }"
        :onEnter="searchHandler"
      />
    </div>
    <div class="panel options-panel">
      <Filters
        :searchHandler="searchHandler"
        :clearFilters="clearFilters"
        :filter="visibleFilters"
      />
    </div>

    <div v-if="!accountStore.account.is_transactional" class="filter-button-container search-container">

      <!-- Hidden until custom statuses put in

        <img
          v-svg-src="addColumnImg"
          role="button"
          @click="addColumn"
          @mouseover="addColumnEnter"
          @mouseleave="addColumnLeave">
        </img>

        <span
          class="add-column-label"
          role="button"
          @click="addColumn"
          @mouseover="addColumnEnter"
          @mouseleave="addColumnLeave">
          Add a Column
        </span>
      -->

      <div class="half-width text-right">

        <div v-if="accountStore.account.current_organization.is_transactional && (accountStore.account.is_sourcer || accountStore.account.is_manager)" class="tab-container">
          <button role="tab" class="filter-tab left" :class="{'active': sourcerTab === 'transactional'}" @click="sourcerTabClick('transactional')">TRANSACTIONAL</button>
          <button role="tab" class="filter-tab" :class="{'active': sourcerTab === 'platform'}" @click="sourcerTabClick('platform')">PLATFORM</button>
        </div>

        <div v-else class="tab-container">
          <button role="tab" class="filter-tab left" :class="{'active': activeTab === 'attract'}" @click="filterTabClick('attract')">ATTRACT</button>
          <button role="tab" class="filter-tab" :class="{'active': activeTab === 'full'}" @click="filterTabClick('full')">FULL CYCLE</button>
          <button role="tab" class="filter-tab right" :class="{'active': activeTab === 'engage'}" @click="filterTabClick('engage')">ENGAGE</button>
        </div>

      </div>

      <div class="half-width text-right">

        <CustomInput
          v-model="candidatesStore.filters.search"
          :icon="searchImg"
          placeholder="Search..."
          :containerStyles="searchContainerStyles"
          :onEnter="searchHandler"
        />

        <span
          class="edit-columns-btn"
          @click="editColumns"
          @mouseover="() => {editImg = editWhite}"
          @mouseleave="() => {editImg = editGreen}"
          role="button"
        >
          <img v-svg-src="editImg">
          EDIT COLUMNS
        </span>

      </div>

    </div>

    <div class="panel settings-panel">

      <div class="kanban-column-container">
        <div>
          <span
            class="header-count"
            v-for="(state, index) in stateLists"
            v-show="(stateNames[index].category === activeTab
              || activeTab === 'full')
              && !hiddenColumns.includes(stateNames[index].value)"
          >
            {{stateLists[index].length}} candidates
          </span>
        </div>
        <div>
          <div class="state-header-container"
            v-for="(state, index) in stateLists"
            v-show="(stateNames[index].category === activeTab
              || stateNames[index].category === 'all'
              || activeTab === 'full')
              && !hiddenColumns.includes(stateNames[index].value)"
            :style="{'background-color': stateNames[index].color}"
          >
            <CustomCheckbox
              :customStyles="checkboxStyles"
              :checked="stateNames[index].isChecked"
              :onChange="(e) => {headerCheckboxChanged(index, e)}"
            />
            <img v-svg-src="pulseImg" alt="add new candidate"></img>
            <h2 class="state-header">{{stateNames[index].label}}</h2>
            <img v-svg-src="lockImg" alt="locked"></img>
            <Tooltip
              :content="stateNames[index].tooltip"
              :white="true"
              :customStyles="tooltipStyles"
            />
          </div>
        </div>

        <div class="kanban-column-aligner">
          <div class="kanban-column"
            v-for="(list, listIndex) in stateLists"
            v-show="(stateNames[listIndex].category === activeTab
              || stateNames[listIndex].category === 'all'
              || activeTab === 'full')
              && !hiddenColumns.includes(stateNames[listIndex].value)"
            @dragover.prevent
            @drop="onDrop"
            :data-index="listIndex"
            @scroll="(e) => {scrollHandler(e, listIndex)}"
          >
            <div
              draggable="true"
              @dragstart="dragStart"
              class="candidate-tile"
              role="button"
              v-for="(candidate, candidateIndex) in stateLists[listIndex]"
              :key="candidate.name + candidateIndex"
              :data-candidate-id="candidate.id"
              v-if="candidateIndex < stateNames[listIndex].renderAmount + renderLimit"
            >
              <img
                class="candidate-delete-button"
                v-svg-src="xOutRedImg"
                alt="delete candidate"
                role="button"
                @click="archiveCandidate(candidate)"
              />
              <img
                v-if="accountStore.account.is_sourcer"
                class="candidate-passed-button"
                v-svg-src="passedImg"
                alt="candidate passed"
                role="button"
                @click="candidatePassed(candidate)"
              />

              <!-- Can't use custom checkbox component because it borks drag-drop display -->
              <input type="checkbox" class="candidate-checkbox" v-model="candidate.isChecked"></input>
              <span class="profile-container">
                <span :style="candidate.profileStyle" class="candidate-profile" @click="openCandidateModal(candidate)"></span>
                <img v-svg-src="candidate.has_linkedin ? linkedInImg : linkedInDisabledImg" alt="linked-in-link" @click="linkedinClick(candidate)" style="margin: 3px 2px 3px 0"/>
                <img v-svg-src="candidate.resume_uploaded ? resumeImg : resumeDisabledImg" alt="resume" @click="downloadResume(candidate)" />
                <img v-svg-src="candidate.has_facebook ? facebookImg : facebookDisabledImg" alt="facebook-in-link" @click="facebookClick(candidate)" style="margin: 3px 0"/>
              </span>
              <span class="candidate-name-container">
                <div>
                  <span class="candidate-name" role="button" @click="openCandidateModal(candidate)">{{candidate.first_name}} {{candidate.last_name}}</span>
                </div>
                <div>
                  <span :class="{'candidate-title': true, 'none': !candidate.title}">{{candidate.title || 'no title'}}</span>
                </div>
                <div>
                  <span :class="{'candidate-company': true, 'none': !candidate.company_name}">{{candidate.company_name || 'no company'}}</span>
                </div>

              </span>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>


<script>

import draggable from 'vuedraggable'
import AttentionButton from 'components/FormElements/AttentionButton'

import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import CustomInput from 'components/FormElements/CustomInput'
import CustomSelect from 'components/FormElements/CustomSelect'
import FlatButton from 'components/FormElements/FlatButton'
import DateRangePicker from 'components/Tools/DateRangePicker'
import Filters from 'components/Tools/Filters'
import Tooltip from 'components/Tools/Tooltip'

import circlePlusWhiteImg from 'img/circle-plus-white.svg'
import cloudWhiteImg from 'img/cloud-white.svg'
import pulseImg from 'img/pulse-white.svg'
import lockImg from 'img/lock.svg'
import jobImg from 'img/briefcase.svg'
import sourceImg from 'img/settings/atom.svg'
import targetGreen from 'img/target-green.svg'
import targetGreenActive from 'img/target-green-active.svg'
import searchImg from 'img/search.svg'
import xOutRedImg from 'img/x-out-red.svg'
import linkedInImg from 'img/candidates/linked-in.svg'
import linkedInDisabledImg from 'img/candidates/linked-in-disabled.svg'
import facebookImg from 'img/candidates/facebook.svg'
import facebookDisabledImg from 'img/candidates/facebook-disabled.svg'
import resumeImg from 'img/candidates/resume.svg'
import resumeDisabledImg from 'img/candidates/resume-disabled.svg'
import passedImg from 'img/thumb-down.svg'
import editGreen from 'img/green-edit.svg'
import editWhite from 'img/white-edit.svg'

import { jobsStore, adminStore, pusherStore, soundsStore, candidatesStore, accountStore, userPreferencesStore } from 'stores'
import { profileImageStyle, modals, alerts, candidateActions, candidateHelper, addProtocol } from 'helpers'

import api from 'api'

export default {
  components: {
    draggable,
    Filters,
    AttentionButton,
    CustomInput,
    CustomCheckbox,
    CustomSelect,
    FlatButton,
    DateRangePicker,
    Tooltip
  },
  data () {
    return {
      circlePlusWhiteImg,
      cloudWhiteImg,
      pulseImg,
      lockImg,
      jobImg,
      sourceImg,
      targetGreen,
      targetGreenActive,
      searchImg,
      xOutRedImg,
      addColumnImg: targetGreen,
      facebookImg,
      facebookDisabledImg,
      linkedInImg,
      linkedInDisabledImg,
      resumeImg,
      resumeDisabledImg,
      passedImg,
      editImg: editGreen,
      editGreen,
      editWhite,
      filterDropdownStyles: {
        display: 'inline-block',
        width: '24%',
        'margin-right': '1%',
        'margin-bottom': '20px',
        'vertical-align': 'top',
        'max-width': '225px'
      },
      filterInputStyles: {
        width: '100%',
        'max-width': '100%'
      },
      checkboxStyles: {
        display: 'inline-block',
        'vertical-align': 'middle'
      },
      dropdownStyles: {
        margin: '12px 12px 200px 12px'
      },
      flatButtonStyles: {
        float: 'right',
        'margin-right': '20px'
      },
      lastFlatButtonStyles: {
        float: 'right'
      },
      searchContainerStyles: {
        display: 'inline-block'
      },
      tooltipStyles: {
        float: 'right',
        'margin-top': '20px'
      },
      jobsStore: jobsStore.get(),
      adminStore: adminStore.get(),
      pusherStore: pusherStore.get(),
      soundsStore: soundsStore.get(),
      candidatesStore: candidatesStore.get(),
      accountStore: accountStore.get(),
      userPreferencesStore: userPreferencesStore.get(),
      stateLists: [],
      scrollPadding: 100,
      renderLimit: 25,
      reloadRequired: false,
      selectedBulkAction: { value: 'default' },
      selectedState: 'select',
      selectedJobFilter: 'select',
      selectedSourceFilter: 'select',
      dateCreatedStart: null,
      dateCreatedEnd: null,
      activeTab: 'full',
      sourcerTab: 'transactional',
      checkedBox: false,
      searchFilters: {
        job: true,
        source: true,
        date: true
      }
    }
  },
  created () {
    // Check if they are a sourced req admin
    if (this.accountStore.account.is_sourced_req_admin) this.$router.push('/outreach/candidate-review')
    // Check if we have a query string to apply
    candidatesStore.applyQueryFilters(this.$route.query)
  },
  mounted () {
    this.getCandidates()

    this.pusherStore.channels.user.promise.done(() => {
      // Always unbind first to make sure we're not binding multiple times
      this.pusherStore.channels.user.channel.unbind('candidate_changed')
      this.pusherStore.channels.user.channel.bind('candidate_changed', (data) => {
        console.log('pusher event: candidate_changed ', data)
        soundsStore.playSound('pop')
        $.each(this.candidates, (index, candidate) => {
          if (candidate.id == data.candidate.id) {
            $.each(data.candidate, (key, value) => {
              this.candidates[index][key] = value
            })
          }
        })
      })
    })
  },
  computed: {
    hiddenColumns () {
      return this.userPreferencesStore.hiddenManagerColumns || []
    },
    stateNames () {
      let names = [
        { label: 'Pending', value: 'pending', color: '#ffcf7e', checked: false, category: 'attract', renderAmount: 0, tooltip: 'Candidates in the <i>Pending</i> column have expressed interest in learning more about or have applied to one or more of your jobs. If you think a <i>Pending</i> candidate is a good match for your job, move the candidate to the <i>Interested</i> column. If the candidate isn’t a good fit, just click the red ‘X’ to <i>Filter</i> the candidate. Also, Happie may move candidates into the <i>Filtered</i> column if we don’t think they’re a good fit. All of these candidates are ready to talk, so feel free to reach out! If you do, be sure to move candidates into the <i>Screening</i> column to track where they are in your process!' },
        { label: 'New', value: 'new', color: '#54f2cf', checked: false, category: 'attract', renderAmount: 0, tooltip: "Candidates in the <i>New</i> column have never yet been entered into a Sequence. Think of <i>new</i> candidates as your freshest list of candidates to engage. What're you waiting for? Go for it!" },
        { label: 'In Outreach', value: 'outreach', color: '#50e3c2', checked: false, category: 'attract', renderAmount: 0, tooltip: "Candidates in the <i>In Outreach</i> column are queued to be sent a message in at least one of your sequence steps. If a candidate doesn't move into another status before all steps in the sequence are sent — either automatically or manually — she will automatically move into the <i>Inactive</i> status." },
        { label: 'Interested', value: 'interested', color: '#4ad3b4', checked: false, category: 'engage', renderAmount: 0, tooltip: "You can use the <i>interested</i> column to keep track of candidates whom you're <i>interested</i> in. Simply drag and drop a candidate's tile into the <i>Interested</i> column to keep track! Be sure to reach out to schedule a screening call as soon as possible. These candidates are ready to talk, and you don't want to miss out on a great hire!" },
        { label: 'Applied', value: 'applied', color: '#4ad3b4', checked: false, category: 'engage', renderAmount: 0, tooltip: "Candidates who appear in the <i>Applied</i> column actively discovered and applied to your job on Happie. Job boards and search engines may pick up your open job(s) as a result of search engine optimization. Unlike <i>Interested</i> candidates, candidates who <i>Applied</i> aren't matched and sourced for your open job(s). These candidates applied to your job(s), so if they look like a good fit, reach out as soon as possible!" },
        { label: 'Screening', value: 'screening', color: '#42bfa3', checked: false, category: 'engage', renderAmount: 0, tooltip: "You can use the <i>Screening</i> column to keep track of candidates whom you are screening before you interview them. Simply drag and drop a candidate's tile into the <i>Screening</i> column to keep track!" },
        { label: 'Interviewing', value: 'interviewing', color: '#3dae95', checked: false, category: 'engage', renderAmount: 0, tooltip: "You can use the <i>Interviewing</i> column to keep track of candidates whom you are <i>interviewing</i>. Simply drag and drop a candidate's tile into the <i>Interviewing</i> column to keep track!" },
        { label: 'Hired', value: 'hired', color: '#297f6c', checked: false, category: 'engage', renderAmount: 0, tooltip: "You can use the <i>Hired</i> column to keep track of candidates whom you hire. Simply drag and drop a candidate's tile into the <i>Hired</i> column to keep track!" },
        { label: 'Keep In Touch', value: 'keep_in_touch', color: '#fbc02d', checked: false, category: 'all', renderAmount: 0, tooltip: "Candidates in the <i>Keep In Touch</i> column aren't necessarily ready to make a move for a specific role today, but are interested in keeping in touch. Upgrade to Happie's CRM product to engage these candidates over time with automated, personalized nurture sequences." },
        { label: 'Inactive', value: 'inactive', color: '#dce3eb', checked: false, category: 'attract', renderAmount: 0, tooltip: "<i>Inactive</i> candidates have completely gone through a sequence without responding to any of its messages. That means they haven't applied for a job, signed up for updates, or been manually tracked in Candidate Manager or their profiles. Be sure to track your candidates and their responses to make certain they aren't accidentally marked as <i>inactive</i> after going through a sequence." },
        { label: 'Passed', value: 'passed', color: '#c4cbd4', checked: false, category: 'engage', renderAmount: 0, tooltip: "You can use the <i>Passed</i> column to keep track of candidates who aren't interested in either learning more about one of your open jobs or keeping in touch. They don't know what they're missing, but we wish them well!" },
        { label: 'Filtered', value: 'filtered', color: '#b2b9c1', checked: false, category: 'transactional', renderAmount: 0, tooltip: "Candidates in the <i>Filtered</i> column expressed interest in learning more about one of your open jobs, but Happie didn't think they're a good match. Feel free to reach out, because these candidates were ready to talk! If you do, be sure to move candidates into the Screening column to track where they are in your process." },
        { label: 'Archived', value: 'archived', color: '#9da4ad', checked: false, category: 'all', renderAmount: 0, tooltip: "You can <i>archive</i> a candidate if you decide that you don't want to consider the candidate for your open roles anymore. Candidates appear in the <i>Archived</i> column whenever you click the red 'X' on their profile tiles or drag and drop them into the <i>Archived</i> column. If you change your mind about a candidate, don't worry — you can always drag and drop the candidate into a different column." }
      ]

      if (this.accountStore.account.is_transactional || (this.sourcerTab == 'transactional' && this.accountStore.account.current_organization.is_transactional)) {
        names = [
          { label: 'Interested', value: 'interested', color: '#50e3c2', checked: false, category: 'transactional', renderAmount: 0, tooltip: "You can use the <i>interested</i> column to keep track of candidates whom you're <i>interested</i> in. Simply drag and drop a candidate's tile into the <i>Interested</i> column to keep track! Be sure to reach out to schedule a screening call as soon as possible. These candidates are ready to talk, and you don't want to miss out on a great hire!" },
          // { label: 'Applied', value: 'applied', color: '#50e3c2', checked: false, category: 'transactional', renderAmount: 0, tooltip: "Candidates who appear in the <i>Applied</i> column actively discovered and applied to your job on Happie. Job boards and search engines may pick up your open job(s) as a result of search engine optimization. Unlike <i>Interested</i> candidates, candidates who <i>Applied</i> aren't matched and sourced for your open job(s). These candidates applied to your job(s), so if they look like a good fit, reach out as soon as possible!" },
          { label: 'Screening', value: 'screening', color: '#4ad3b4', checked: false, category: 'transactional', renderAmount: 0, tooltip: "You can use the <i>Screening</i> column to keep track of candidates whom you are screening before you interview them. Simply drag and drop a candidate's tile into the <i>Screening</i> column to keep track!" },
          { label: 'Interviewing', value: 'interviewing', color: '#42bfa3', checked: false, category: 'transactional', renderAmount: 0, tooltip: "You can use the <i>Interviewing</i> column to keep track of candidates whom you are interviewing. Simply drag and drop a candidate's tile into the <i>Interviewing</i> column to keep track!" },
          { label: 'Hired', value: 'hired', color: '#3dae95', checked: false, category: 'transactional', renderAmount: 0, tooltip: "You can use the <i>Hired</i> column to keep track of candidates whom you hire. Simply drag and drop a candidate's tile into the <i>Hired</i> column to keep track!" },
          { label: 'Keep In Touch', value: 'keep_in_touch', color: '#fbc02d', checked: false, category: 'transactional', renderAmount: 0, tooltip: "Candidates in the <i>Keep In Touch</i> column aren't necessarily ready to make a move for a specific role today, but are interested in keeping in touch. Upgrade to Happie's CRM product to engage these candidates over time with automated, personalized nurture sequences." },
          { label: 'Archived', value: 'archived', color: '#c4cbd4', checked: false, category: 'transactional', renderAmount: 0, tooltip: "You can <i>archive</i> a candidate if you decide that you don't want to consider the candidate for your open roles anymore. Candidates appear in the <i>Archived</i> column whenever you click the red 'X' on their profile tiles or drag and drop them into the <i>Archived</i> column. If you change your mind about a candidate, don't worry — you can always drag and drop the candidate into a different column." }
        ]
      }

      return names
    },
    visibleFilters () {
      let filters = {
        job: true,
        status: true,
        date: true,
        list: true,
        creator: true,
        source: true,
        city: true,
        state: true
      }
      if (this.accountStore.account.is_transactional) {
        filters.status = false
      }
      return filters
    },
    checkedCandidates () {
      let checked = []
      $.each(this.candidatesStore.candidates, (k, v) => {
        if (v.isChecked) {
          checked.push(v.id)
        }
      })
      return checked
    },
    searchParams () {
      // TODO: this will eventually need to change to allow multiple selections of each filter
      // we will need to pass comma separated strings
      let searchParams = $.extend(true, {}, this.candidatesStore.filters)
      delete searchParams.offset
      searchParams.super_minimal = 1
      return searchParams
    },
    bulkActionItems () {
      let actions = [
        { value: 'default', label: `Bulk Actions (${this.checkedCandidates.length} candidates)` },
        { value: 'message', label: 'Send Message Now' },
        { value: 'add-to-list', label: 'Add to List' },
        { value: 'add-to-sequence', label: 'Add to Sequence' },
        { value: 'change-status', label: 'Change Status' },
        { value: 'pause-messages', label: 'Pause Messages' },
        { value: 'resume-messages', label: 'Resume Messages' },
        { value: 'clear-messages', label: 'Clear Messages' },
        { value: 'export', label: 'CSV Export' },
        { value: 'do-not-sms', label: 'Do Not SMS' },
        { value: 'do-not-email', label: 'Do Not Email' },
        { value: 'do-not-contact', label: 'Do Not Contact' },
        { value: 'delete-candidates', label: 'Delete Candidates' }
      ]
      if (this.adminStore.is_system_admin) {
        actions.push({ value: 'find', label: 'Find Personal Info' })
      }
      if (this.accountStore.account.is_transactional) {
        actions = [
          { value: 'default', label: `Bulk Actions (${this.checkedCandidates.length} candidates)` },
          // { value: 'message', label: 'Send Message Now' }, Turning off because we want them to use the mailto link
          { value: 'change-status', label: 'Change Status' },
          { value: 'export', label: 'CSV Export' },
          { value: 'delete-candidates', label: 'Delete Candidates' }
        ]
      }
      return actions
    }
  },
  watch: {
    'accountStore.account.is_sourced_req_admin': {
      handler (val) {
        if (val) this.$router.push('/outreach/candidate-review')
      }
    }
  },
  methods: {
    editColumns () {
      const options = [].concat(this.stateNames)
      options.forEach((option) => {
        option.show = !this.userPreferencesStore.hiddenManagerColumns.includes(option.value)
      })
      modals.show({
        component: 'CheckboxModal',
        props: {
          containerStyles: {
            width: '380px'
          },
          options,
          onSave: (saveData) => {
            const hiddenArray = []
            saveData.forEach((option) => {
              if (!option.show) hiddenArray.push(option.value)
            })
            userPreferencesStore.set('hiddenManagerColumns', hiddenArray)
          }
        }
      })
    },
    facebookClick (candidate) {
      if (candidate.has_facebook) {
        let newTab = window.open('', '_blank')
        api.ajax(`candidates/${candidate.id}`)
        .done((response) => {
          newTab.location = addProtocol(response.candidate.facebook_url)
        })
      }
    },
    linkedinClick (candidate) {
      if (candidate.has_linkedin) {
        let newTab = window.open('', '_blank')
        api.ajax(`candidates/${candidate.id}`)
        .done((response) => {
          newTab.location = addProtocol(response.candidate.linkedin_url)
        })
      }
    },
    downloadResume (candidate) {
      if (candidate.resume_uploaded) {
        candidateHelper.downloadResume(candidate)
      }
    },
    scrollHandler (e, index) {
      let scroll = $(e.target).scrollTop()
      let totalHeight = e.target.scrollHeight - $(e.target).height() - this.scrollPadding
      if (scroll >= totalHeight && this.stateNames[index].renderAmount < this.stateLists[index].length) {
        this.stateNames[index].renderAmount += this.renderLimit
        this.$forceUpdate()
      }
    },
    getCandidates () {
      // Set the query string in the url based on the filters
      const newQuery = $.extend(true, {}, this.searchParams)
      delete newQuery.super_minimal
      // Remove empty filters from the query string
      for (let key in newQuery) {
        if (!newQuery[key]) delete newQuery[key]
      }
      this.$router.replace({ query: newQuery })
      api.ajax('candidates', {
        data: this.searchParams,
        type: 'GET'
      })
      .done((response) => {
        this.candidatesStore.candidates = candidateHelper.minimalMap(response)
        this.sortCandidates()
      })
      .fail(() => {
        console.log('Failed to get candidates')
      })
    },
    sortCandidates () {
      // Take the array of state names and turn it into a map, so we can map candidate states to an
      // array index. Then sort all the candidates into arrays index by this status name index.
      this.stateLists = []
      let stateNameMap = {}
      $.each(this.stateNames, (i, v) => {
        stateNameMap[v.value] = i
        this.stateLists.push([])
      })

      // Count which candidates match
      let count = 0
      $.each(this.candidatesStore.candidates, (i, v) => {
        // Not part of the sorting, but throw in the candidate style here. Previously was in method
        // that would be called every time the candidate object changed.
        v.profileStyle = profileImageStyle(v.profile_photo_url)

        let index = stateNameMap[v.status]
        if (!this.stateLists[index]) {
          index = stateNameMap[v.status]
        }

        // If a candidate doesn't have a status, or a status not in our list, it'll be excluded
        if (this.stateLists[index]) {
          this.stateLists[index].push(this.candidatesStore.candidates[i])
          count++
        }
      })

      candidatesStore.set('totalCount', count)
    },
    onDrop (e) {
      let data = parseInt(e.dataTransfer.getData('text/plain'))

      let target = $(e.target)

      // If we drag onto a tile, we need to change the target to be the column so we can get the index
      if (!$(e.target).attr('data-index')) {
        target = $(e.target).parents('.kanban-column')
      }
      let newStatusIndex = $(target).attr('data-index')

      let newCol = this.stateNames[newStatusIndex].value.split(':')

      let statusToSet = newCol[0]
      let statusLabel = this.stateNames[newStatusIndex].label

      let isDraggedChecked = false

      // Internally set our checked candidates and the dragged candidate's status.
      // If it's both dragged and checked, mark it.
      $.each(this.candidatesStore.candidates, (k, v) => {
        if (v.id === data || v.isChecked) {
          v.status = statusToSet

          if (v.id === data && v.isChecked) {
            isDraggedChecked = true
          }
        }
      })

      // Send over our checked candidates, and add the tile we dragged if it's not already included in checked list
      let candidatesToSend = this.checkedCandidates.slice()

      if (!isDraggedChecked) {
        candidatesToSend.push(data)
      }

      // If we have checked candidates, show confirmation message before moving, otherwise, just move our
      // one candidate.
      let requestData = {
        ids: candidatesToSend,
        status: statusToSet
      }

      if (this.checkedCandidates.length > 1) {
        modals.show({
          component: 'Confirm',
          props: {
            message: `Are you sure you want to move ${this.checkedCandidates.length} candidates to ${statusLabel}?`,
            confirm: () => {
              this.saveStatus(requestData, false)
            },
            cancel: () => {
              // This will move candidates back to where they should be without actually saving status
              this.getCandidates()
              $.each(this.stateNames, (k, v) => {
                v.isChecked = false
              })
              this.checkedBox = false
              this.$forceUpdate()
            },
            confirmText: 'Yes, move them!',
            cancelText: 'Cancel'
          }
        })
      } else {
        this.saveStatus(requestData)
      }
      // Re-sort the column arrays from the overall candidate list
      this.sortCandidates()
    },
    saveStatus (requestData, disableOverlay = true) {
      // Make API call in the background to actually set the new user's status
      return api.ajax(`candidates/bulk/status`, {
        type: 'POST',
        data: requestData,
        disableOverlay: disableOverlay
      })
      .done(() => {
        console.log('Succesfully updated candidate status')
        // Uncheck candidates after moving
        $.each(this.candidatesStore.candidates, (k, v) => {
          v.isChecked = false
        })

        $.each(this.stateNames, (k, v) => {
          v.isChecked = false
        })

        this.checkedBox = false
      })
      .fail((e) => {
        console.error('Error updating candidate status', e)
        // If error occurs, redo get candidates so they go back to correct columns
        this.getCandidates()
        if (e.status) { // When Mozilla pulls its head out of its ass give me a call.
          alerts.show({
            status: 'error',
            message: 'Uh-oh, there was an error moving your candidate. Please refresh your browser and try again.'
          })
        }
      })
    },
    dragStart (e) {
      let id = $(e.target).attr('data-candidate-id')
      e.dataTransfer.setData('text/plain', id)
    },
    addColumn () {
      this.stateLists.push([])
      this.stateNames.push({ label: 'Custom State', value: 'custom', color: '#4ad3b4', checked: false })
    },
    headerCheckboxChanged (index, e) {
      let stateName = this.stateNames[index]
      let isChecked = e.target.checked
      stateName.isChecked = isChecked

      if (isChecked) {
        $.each(this.stateLists[index], (k, v) => {
          v.isChecked = true
        })
      } else {
        $.each(this.stateLists[index], (k, v) => {
          v.isChecked = false
        })
      }
    },
    selectAllCheckboxChanged (e) {
      let isChecked = e.target.checked
      $.each(this.stateNames, (i, v) => {
        v.isChecked = isChecked
        this.stateLists[i].forEach(candidate => {
          candidate.isChecked = isChecked
        })
      })
      this.$forceUpdate()
    },
    candidatePassed (candidate) {
      api.ajax(`candidates/bulk/status`, {
        type: 'POST',
        data: {
          ids: [candidate.id],
          status: 'passed'
        }
      })
      .done(() => {
        console.log('Succesfully updated candidate status')
        alerts.show({
          message: `You successfully changed the status of ${candidate.first_name} to Passed!`,
          status: 'success'
        })
        this.getCandidates()
      })
      .fail(() => {
        console.error('Error updating candidate status')
      })
    },
    archiveCandidate (candidate) {
      let action = 'archive'
      let status = 'archived'
      if (this.accountStore.account.is_sourcer) {
        action = 'filter'
        status = 'filtered'
      }
      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to ${action} ${candidate.first_name} ${candidate.last_name}?`,
          confirm: () => {
            api.ajax(`candidates/bulk/status`, {
              type: 'POST',
              data: {
                ids: [candidate.id],
                status: status
              }
            })
            .done(() => {
              console.log('Succesfully updated candidate status')
              alerts.show({
                message: `${candidate.first_name} ${candidate.last_name} has been ${status}.`,
                status: 'success'
              })
              this.getCandidates()
            })
            .fail(() => {
              console.error('Error updating candidate status')
            })
          },
          confirmText: `Yes, ${action} them!`,
          cancelText: 'Cancel'
        }
      })
    },
    addColumnEnter () {
      this.addColumnImg = targetGreenActive
    },
    addColumnLeave () {
      this.addColumnImg = targetGreen
    },
    manageStatusesClick () {

    },
    addNewClick () {
      candidateHelper.openCandidateModal.apply(this, ['new', this.getCandidates])
    },
    openCandidateModal (candidate) {
      candidateHelper.openCandidateModal.apply(this, [candidate.id, this.getCandidates])
    },
    // Bulk actions shared in candidateActions.js. Use .apply to use 'this' context
    bulkActionChange (e) {
      // TODO: Get promises from each request, refresh candidates after making changes

      let action = e.value
      switch (action) {
        case 'message':
          candidateActions.sendMessage.apply(this)
          break
        case 'change-status':
          candidateActions.bulkStatusChange((status) => {
            this.saveStatus({
              ids: this.checkedCandidates,
              status: status
            })
            .done((response) => {
              this.getCandidates()
            })
          })
          break
        case 'pause-messages':
          candidateActions.bulkPauseMessages.apply(this)
          break
        case 'resume-messages':
          candidateActions.bulkResumeMessages.apply(this)
          break
        case 'clear-messages':
          candidateActions.bulkClearMessages.apply(this)
          break
        case 'export':
          candidateActions.export.apply(this)
          break
        case 'do-not-sms':
          candidateActions.bulkOptOut.apply(this, ['sms'])
          break
        case 'do-not-email':
          candidateActions.bulkOptOut.apply(this, ['email'])
          break
        case 'do-not-contact':
          candidateActions.bulkOptOut.apply(this, ['all'])
          break
        case 'add-to-list':
          candidateActions.bulkAddToList.apply(this)
          break
        case 'add-to-sequence':
          candidateActions.bulkAddToSequence.apply(this)
          break
        case 'delete-candidates':
          candidateActions.deleteCandidates.apply(this)
          .done(() => {
            this.getCandidates()
          })
          break
        case 'find':
          candidateActions.findPersonalInfo.apply(this)
          break
        default:
          break
      }

      // Reset dropdown after selecting
      this.selectedBulkAction = { value: 'default' }
    },
    importClick () {
      modals.show({
        component: 'FileImport',
        props: {
          callback: this.getCandidates,
          containerStyles: { width: '700px' }
        }
      })
    },
    searchHandler () {
      this.resetRenderAmounts()
      this.getCandidates()
    },
    filterChange (type, item) {
      this.resetRenderAmounts()
      this.getCandidates()
    },
    filterTabClick (tab) {
      this.activeTab = tab
    },
    sourcerTabClick (tab) {
      this.sourcerTab = tab
      this.sortCandidates()
    },
    resetRenderAmounts () {
      $('.kanban-column').scrollTop(0)
      $.each(this.stateNames, (k, v) => {
        v.renderAmount = 0
      })
    },
    clearFilters () {
      candidatesStore.clearFilters()
      this.getCandidates()
    }
  },
  beforeDestroy () {
    // Remove the filters query from the url
    this.$router.replace({ query: {} })
    // Clear the filters in the store
    candidatesStore.clearFilters()
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";


  .panel {
    overflow-x: auto;
    background-color: inherit;
    box-shadow: none;
    width: calc(100% + 20px);
    height: 100%;
    position: relative;
  }
  .options-panel {
    background-color: $white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    height: auto;
    margin-top: 1.7rem;
    overflow: visible;
    padding-bottom: 15px;
    width: 100%;

    .options-controls {
      overflow: visible;
    }
  }

  .filter-button-container {
    height: 46px;
    width: 100%;

    margin-bottom: 20px;

    &.search-container {
      line-height: 46px;
      vertical-align: middle;

      img {
        display: inline-block;
        vertical-align: middle;
      }

      .add-column-label {
        display: inline-block;
        vertical-align: middle;
        font-weight: 800;
        margin-left: 10px;
        color: $shamrock;
      }
    }
  }

  .tab-container {
    display: inline-block;
    vertical-align: middle;

    // margin: 6px 0 0 150px; // Put this back when we put back 'add column' button
    margin: 0 0 0 0%;
  }


  .filter-tab {
    min-width: 120px;
    height: 40px;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid $turquoise;
    color: $turquoise;
    background-color: $white;
    border-radius: 0;
    padding: 0px 5px;

    &.left {
      border-radius: 2px 0px 0px 2px;
      border-right: 0;
    }

    &.right {
      border-radius: 0px 2px 2px 0px;
      border-left: 0;
    }

    &.active {
      background-color: $turquoise;
      color: $white;
    }
  }

  .edit-columns-btn {
    border-radius: 2px;
    background-color: $white;
    border: solid 1px $shamrock;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
    color: $shamrock;
    padding: 9px;
    margin-left: 15px;

    @include transition-sm-med-ease;

    img {
      vertical-align: middle;
      margin-right: 11px;
    }

    &:hover {
      color: $white;
      background-color: $shamrock;
    }
  }

  $kanban-column-width: 260px;

  .kanban-column-container {
    height: 100%;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .kanban-column-aligner {
    height: calc(100% - 90px);
  }

  .state-header-container {
    display: inline-block;
    width: $kanban-column-width;
    height: 60px;
    line-height: 60px;

    padding: 0 12px;
    margin: 0 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
    }
  }

  .header-count {
    display: inline-block;
    width: $kanban-column-width;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.3px;

    text-transform: uppercase;
    color: $fiord;

    padding: 0 12px;
    margin: 7px 4px;
    text-align: center;
  }

  .state-header {
    display: inline-block;
    vertical-align: middle;

    margin-right: 10px;

    color: $white;

    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }

  .kanban-column {
    width: $kanban-column-width;
    height: 100%;
    overflow-y: auto;

    padding: 14px 8px;
    background-color: $gallery;

    display: inline-block;
    vertical-align: top;
    margin: 0 4px;
    position: relative;
  }

  .candidate-tile {
    cursor: move;
    position: relative;
    height: 75px;
    // TODO: Figure out why 75px line height isn't vertically centering
    line-height: 50px;

    background-color: $white;
    padding: 12px;
    margin-bottom: 12px;
    white-space: normal;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  }

  .candidate-checkbox {
    vertical-align: top;
    min-height: auto;
  }

  .candidate-delete-button, .candidate-passed-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .candidate-passed-button {
    top: 38px;
  }

  .profile-container {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 12px;
    line-height: 20px;

    .candidate-profile {
      @include circle-img;
      display: block;

      width: 40px;
      height: 40px;

      border-style: solid;
      border-width: 1px;
      border-color: $border-gray;
    }

    img {
      display: inline-block;
      vertical-align: top;
      margin: 3px 3px;
      width: 10px;
      height: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .candidate-name-container {
    display: inline-block;
    vertical-align: middle;

    line-height: 1;

    margin-left: 10px;
    overflow: hidden;

    cursor: pointer;

    div {
      width: 120px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 5px;
    }
  }

  .candidate-name {
    color: $havelock;
    font-weight: 700;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }

  .candidate-title {
    color: $tundora;
    font-weight: 600;

    &.none {
      color: $none-gray;
      font-style: italic;
    }
  }

  .candidate-company {
    letter-spacing: 0.5px;

    &.none {
      color: $none-gray;
      font-style: italic;
    }
  }

  .half-width  {
    display: inline-block;
    width: 50%;
  }

  #select-all-candidates{
    vertical-align: middle;
    line-height: 3.3;
    margin-left: 25px;
    font-weight: bold;

  }
  .text-right {
    text-align: right;
  }

</style>
