<template>
  <div class="main-container">
    <div class="panel settings-panel" :style="{'min-height': '500px'}">
      <h1>Debug Panel</h1>
      <CustomSelect :items="dropdownItems" selected="true" :onChange="()=>{}" />

      <div>
        <AttentionButton text="Attention Button" />
      </div>
      <div>
        <Datepicker
          placeholder="Choose a date..."
          :date="date"
          :onChange="dateChanged"
        >
        </Datepicker>
      </div>
    </div>
  </div>
</template>


<script>
import CustomSelect from 'components/FormElements/CustomSelect'
import AttentionButton from 'components/FormElements/AttentionButton'
import Datepicker from 'components/Tools/DatePicker'

export default {
  components: {
    CustomSelect,
    AttentionButton,
    Datepicker
  },
  data () {
    return {
      dropdownItems: [
        { value: 'select', label: 'Select Action' },
        { value: 'duplicate', label: 'Duplicate', callback () { console.log('selected label') } },
        { value: 'edit', label: 'Edit' },
        { value: 'pause', label: 'Pause all' },
        { value: 'resume', label: 'Resume all' },
        { value: 'stop', label: 'Stop all' },
        { value: 'delete', label: 'Delete' }
      ],
      date: '2017-02-20T17:53:11.553378Z'
    }
  },
  computed: {
  },
  methods: {
    dateChanged (val) {
      this.date = val
    }
  },
  watch: {
    date: {
      handler (val) {
        console.log('date changed ', val)
      }
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  h1 {
    margin-bottom: 12px;
  }

  .settings-panel {
    padding: 12px;

    div {
      margin-bottom: 16px;
    }
  }

  .attention-button {
    // Animation
    @include grow-hover();
    &:hover {
      transform: scale(1.1);
    }
  }
</style>
