<template>
  <div class="main-container">
    <span role="button" class="add-block" @click="showListUpsellModal" v-if="listsLoaded"></span>
      <div class="sk-folding-cube" v-if="!listsLoaded">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
    <p class="no-lists-container" v-if="lists.length < 1 && listsLoaded">
      You haven't created a list yet. Get Started by clicking the plus sign <span>[+]</span> above. Let's make magic happen!
      <img v-svg-src="MakeMagic">
    </p>
    <div v-if="lists.length >= 1 && listsLoaded" class="list-header">
      <div class="col-1">NAME</div>
      <div class="col-2">CANDIDATES</div>
      <div class="col-3">CREATED BY</div>
      <div class="col-4">DATE ADDED</div>
      <div class="col-5">ACTIONS</div>
    </div>
    <div v-if="lists.length >= 1 && listsLoaded" class="panel">
      <div v-for="list in lists" class="list-row">
        <div class="col-1">
          <span role="button" @click="(e) => {showListCandidatesModal(list)}">{{list.name}}</span>
        </div>
        <div class="col-2">{{list.member_count}}</div>
        <div class="col-3">
          {{createdBy(list)}}
        </div>
        <div class="col-4">{{getModifiedDate(list)}}</div>
        <div class="col-5 select-column">
          <CustomSelect
            :items="listActions"
            :selected="selectedAction"
            :onChange="(item) => {actionChange(item, list)}"
          />
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import api from 'api'
import moment from 'moment'
import { modals, alerts } from 'helpers'
import MakeMagic from 'img/make-magic.svg'

import CustomSelect from 'components/FormElements/CustomSelect'
import { listsStore, usersStore } from 'stores'

export default {
  components: {
    CustomSelect
  },
  mounted () {
    this.init()
  },
  data () {
    return {
      listsLoaded: false,
      store: listsStore.get(),
      MakeMagic: MakeMagic,
      usersStore: usersStore.get(),
      selectedAction: { value: -1 },
      listActions: [
        {
          value: -1,
          label: 'Select Action'
        },
        {
          value: 'list-settings',
          label: 'Manage Settings'
        },
        {
          value: 'add-to-list-blue',
          label: 'Add Candidates'
        },
        {
          value: 'list-delete',
          label: 'Delete'
        }
      ]
    }
  },
  computed: {
    lists () {
      return this.store.lists
    }
  },
  methods: {
    init () {
      let debugOptions = {
        debugData: [
          {
            name: 'Sales Candidates',
            member_count: 138,
            source: 'Imported from a file',
            modified_date: '2/26/17'
          },
          {
            name: 'Another list',
            member_count: 0,
            source: 'Imported from a file',
            modified_date: '2/22/17'
          }
        ],
        debugTimeout: 20
      }

      let ajaxOptions = {
        disableOverlay: true
      }

      api.ajax('candidate-lists', ajaxOptions, debugOptions)
      .done((response) => {
        console.log('response from lists ', response)
        this.listsLoaded = true

        listsStore.init(response)
      })
      .fail((e) => {
        console.error('Error getting lists ', e)
      })

      if (this.$route.path.indexOf('new') !== -1) {
        this.showCreateNewListPopup()
        this.$router.replace({ path: '/outreach/lists' })
      }
    },
    createdBy (list) {
      let createdBy = ''

      $.each(usersStore.store.users, (key, value) => {
        if (value.id === list.user_id) {
          createdBy = value.first_name + ' ' + value.last_name
        }
      })

      return createdBy
    },
    actionChange (action, list) {
      // TODO: Implement actions
      switch (action.value) {
        case 'list-settings':
          this.showCreateNewListPopup(action, list)
          break
        case 'list-delete':
          this.deleteList(list)
          break
        case 'add-to-list-blue':
          this.showAddToListPopup(list)
          break
        default:
          break
      }

      this.selectedAction = {
        value: -1
      }
    },
    deleteList (list) {
    // TODO: Delete list, update text here
      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to delete your list ”${list.name}”? Once deleted, you will no longer be able to target this list with sequences, and all remaining scheduled messages in sequences that use this list will be canceled.`,
          confirm: () => {
            api.ajax(`candidate-lists/${list.id}`, {
              type: 'DELETE'
            })
            .done(() => {
              alerts.show({
                message: `Your list “${list.name}” was successfully deleted. You will no longer be able to target this list with sequences.`,
                status: 'success'
              })

              // Refresh list of lists
              this.init()
            })
            .fail((e) => {
              console.error('Error deleting list ', e)
              if (e.responseJSON && e.responseJSON.detail) {
                alerts.show({
                  message: e.responseJSON.detail,
                  status: 'error'
                })
              }
            })
          },
          confirmText: 'Yes, delete it!',
          cancelText: 'Cancel'
        }
      })
    },
    getModifiedDate (list) {
      let momentTime = moment(list.last_updated)
      return `${momentTime.format('M/D/YY')}`
    },
    showCreateNewListPopup (e, list) {
      modals.show({
        component: 'CreateNewModal',
        props: {
          list: list,
          modalType: 'list',
          customCallback: (list) => {
            alerts.show({
              message: `You successfully changed list settings for your list “${list.name}”!`,
              status: 'success'
            })
            // Reload lists when we add a new one
            this.init()
          }
        }
      })
    },
    showEditListPopup (list) {
      modals.show({
        component: 'CreateNewModal',
        props: {
          list: list,
          modalType: 'list',
          customCallback: (e) => {
            // Reload lists when we add a new one
            this.init()
          }
        }
      })
    },
    showListUpsellModal (list) {
      modals.show({
        component: 'ListUpsellModal',
        props: {
          list: list,
          containerStyles: {
            width: '725px'
          },
          customCallback: (e) => {
            this.init()
          },
          createListCallback: this.showCreateNewListPopup
        }
      })
    },
    showAddToListPopup (list) {
      let listPanelComponent = this
      modals.show({
        component: 'FileImport',
        props: {
          containerStyles: { width: '700px' },
          enableListSelect: false,
          addToList: list.id,
          callback () {
            listPanelComponent.init()
          }
        }
      })
    },
    showListCandidatesModal (list) {
      let listPanelComponent = this
      modals.show({
        component: 'ListCandidatesModal',
        props: {
          list: list,
          customCallback () {
            listPanelComponent.init()
          }
        }
      })
    }
  },
  props: {
    isModal: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  // Let panel grow so we only have scrolling on whole main-container
  .panel {
    max-height: inherit;
  }

  .sk-folding-cube {
    margin-top: 60px;
  }

  .sk-folding-cube .sk-cube:before {
    background-color: $dove-gray;
  }

  .add-block {
    background-image: url('~img/add-block.svg');
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 61px;
    height: 61px;

    &:hover {
      background-image: url('~img/add-block-active.svg');
    }
  }

  .no-lists-container {
    display: block;
    margin: auto;
    margin-top: 32px;
    width: 643px;
    font-size: 24px;
    text-align: center;
    color: $dove-gray;

    span {
      font-weight: 800;
    }

    img {
      margin-top: 35px;
    }
  }

  .list-header {
    color: $tundora;
    letter-spacing: .15rem;
    font-weight: 800;
    text-transform: uppercase;

    margin: 30px 0 10px 0;
  }

  .panel {
    padding-bottom: 145px;
  }

  .list-row {

    height: 92px;
    line-height: 92px;
    border-bottom: 1px solid $mystic;
  }

  .list-row, .list-header {

    a {
      color: $shamrock;
      font-weight: 700;
    }

    [class^='col'] {
      @include i-b;
      @include text-ellipsis;
      text-align: center;
    }

    .col-1 {
      width: 20%;
      padding: 0 2.5%;
      text-align: left;

      @include green-link;
    }
    .col-2 {
      width: 15%;
      padding: 0 2.5%;
    }
    .col-3 {
      width: 20%;
      padding: 0 2.5%;
    }
    .col-4 {
      width: 20%;
      padding: 0 2.5%;
    }
    .col-5 {
      width: 25%;
      padding: 0 2.5%;
    }
    .select-column {
      // TODO: Figure out why normal line-height method doesn't work for select box
      line-height: 0;
      margin-top: 24px;
      overflow: visible;
    }
  }

  .list-header {
    .col-1 {
      color: $tundora;

      &:hover {
        color: $tundora;
        text-decoration: none;
      }
    }
  }
</style>
