<template>
  <div style="section-table-container" :style="tableStyles.containerStyles">
    <div class="column-header-container" :style="tableStyles.headContainerStyle">
      <span class="col-0" :style="tableStyles.headStyles0" v-if="!userIsTransactional">{{table.head[0]}}</span>
      <span class="col-1" :style="tableStyles.headStyles1">{{table.head[1]}}</span>
      <span class="col-2" :style="tableStyles.headStyles2">{{table.head[2]}}</span>
      <span class="col-3" :style="tableStyles.headStyles3">{{table.head[3]}}</span>
      <span class="col-4" :style="tableStyles.headStyles4">{{table.head[4]}}</span>
    </div>
    <div class="panel">
      <ul>
        <li v-for="(row, index) in table.rows" :data-disabled="!row.cols[0]">
          <span class="col-0 column-block" :style="tableStyles.colStyles0" v-if="!userIsTransactional">
            <CustomToggle :playPause="true" v-model="row.cols[0]" :toggleEnabled="(value) => {toggleEnabled(value,row.id)}" />
          </span>
          <span class="col-1 column-block" role="button" @click="nameClick(row.id)" :style="tableStyles.colStyles1">{{row.cols[1]}}</span>
          <span class="col-2 column-block" :style="tableStyles.colStyles2"><b>{{row.cols[2]}}</b></span>
          <span class="col-3 column-block" :style="tableStyles.colStyles3" v-if="!Array.isArray(row.cols[3])">
            {{row.cols[3]}}
          </span>
          <span class="col-3 column-block" :style="tableStyles.colStyles3" v-if="Array.isArray(row.cols[3])">
            <!-- TODO: Uncomment when API exists -->
            <!-- <template v-if="userIsTransactional">
              <div class="col-3-square wide blue">
                <span class="v-align i-b">
                  {{row.cols[3][3].value}}
                  <div>{{row.cols[3][3].name}}</div>
                </span>
              </div>
              <div class="col-3-square wide purple">
                <span class="v-align i-b">
                  {{row.cols[3][4].value}}
                  <div>{{row.cols[3][4].name}}</div>
                </span>
              </div>
            </template>
            <template v-else> -->
            <template>
              <div class="col-3-square blue">
                <span class="v-align i-b">
                  {{row.cols[3][0].value}}
                  <div>{{row.cols[3][0].name}}</div>
                </span>
              </div>
              <div class="col-3-square purple">
                <span class="v-align i-b">
                  {{row.cols[3][1].value}}
                  <div>{{row.cols[3][1].name}}</div>
                </span>
              </div>
              <div class="col-3-square teal">
                <span class="v-align i-b">
                  {{row.cols[3][2].value}}
                  <div>{{row.cols[3][2].name}}</div>
                </span>
              </div>
          </template>
          </span>
          <!-- Dropdowns will overlap unless we explicty set z-indexes here -->
          <span class="col-4 column-block" :style="tableStyles.colStyles4" v-bind:style="{'z-index': table.rows.length - index}">
            <CustomSelect
              :items="table.dropdownItems"
              :onChange="(item) => {actionChange(item, row.id)}"
              :selected="table.selectedItem"
              :menuMaxHeight="300"
            />
          </span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import CustomToggle from 'components/FormElements/CustomToggle'
import CustomSelect from 'components/FormElements/CustomSelect'

import { accountStore } from 'stores'

export default {
  components: {
    CustomToggle,
    CustomSelect
  },
  mounted () {
  },
  data () {
    return {
      accountStore: accountStore.get()
    }
  },
  computed: {
    userIsTransactional () {
      return this.accountStore.account.is_transactional
    }
  },
  methods: {
  },
  props: {
    table: { required: true },
    actionChange: { required: true },
    toggleEnabled: { required: true },
    tableStyles: { required: false, type: Object, default () { return {} } },
    nameClick: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    height: 9.0rem;
    padding: 2.0rem 0;
    border-bottom: 1px solid $mystic;
  }

  .column-block {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }

  // Need extra padding for dropdowns, and height to accomodate top labels
  .panel {
    padding: 0 2.0rem 26rem 2.0rem;
    max-height: none;
    overflow: visible;
  }

  .column-header-container {
    height: 3.4rem;
    padding: 0 2.0rem;

    span {
      color: $tundora;
      text-align: center;
      letter-spacing: .15rem;
      font-weight: 800;
      text-transform: uppercase;
      @include i-b();
    }

    .col-1:hover {
      text-decoration: none;
      color: $tundora;
    }

  }

  // Widths for 5 elements should equal 100%
  .col-0 {
    @include text-ellipsis;
    width: 7.5%;
    margin: 0 2.5%;
    text-align: left;
    overflow: visible;
  }
  .col-1 {
    @include text-ellipsis;
    width: 22.5%;

    @include green-link;
  }
  .col-2 {
    @include text-ellipsis;
    width: 5%;
    margin: 0 2.5%;
  }
  .col-3 {
    width: 25%;
  }
  .col-3-square {
    width: 6.0rem;
    height: 4.8rem;
    @include i-b;

    border-radius: 2px;
    color: $white;

    margin-right: 0.6rem;

    &.wide {
      width: 9rem
    }

    &:last-child {
      margin-right: 0;
    }

    &.blue {
      background-image: linear-gradient(to right, #4a90e2, #88c1f0);
    }
    &.purple {
      background-image: linear-gradient(to right, #8578ff, #c86dd7);
    }
    &.teal {
      background-image: linear-gradient(to right, #80c7c8, rgba(128, 199, 200, 0.8));
    }
    &.green {
      background-image: linear-gradient(to right, rgba(54, 214, 122, 0.98), rgba(79, 227, 194, 0.8));
    }

    div {
      margin-top: .6rem;
      font-size: .8rem;
      text-transform: uppercase;
    }
  }

  // Override colors on prospects squares if the row is disabled
  [data-disabled="true"] {
    .blue, .purple, .teal, .green {
      background: $alto;
    }
  }


  .col-4 {
    text-align: center;
    width: 20%;
    margin: 0 2.5%;
  }
</style>
