<template>
  <div class="main-container" @scroll="handleScroll" ref="mainContainer">
    <ScrollNav :showNav="showNav">
      <span class="scroll-left-container">
        <span class="scroll-to-top" role="button" @click="scrollToTop">Sequence Settings</span>
      </span>
      <span class="scroll-right-container">
        <CustomToggle
          :playPause="true"
          v-if="sequence"
          v-model="sequence.enabled"
          :toggleEnabled="toggleSequence"
          :customStyles="enableStyles"
        />
        <span role="button" class="sequence-save-button" @click="saveSequence">
          <img v-svg-src="saveImg">
          SAVE
        </span>
      </span>
    </ScrollNav>

    <div class="padding-container">
      <ContentNavHeader label="Back to All Sequences" backPath="/outreach/sequences" />
        <div class="panel options-panel">
          <div class="options-header">
            <span class="options-header-block">
              <h1 class="i-b">Sequence Settings</h1>
              <img v-bind:class="{'i-b collapse-arrow': true, 'options-open': !settingsCollapsed}" v-svg-src="upArrowImg" @click="collapseSettings" role="button" />
            </span>
            <span class="options-header-block right">
              <CustomToggle
                :playPause="true"
                v-if="sequence"
                customId="test-activate-sequence-button"
                v-model="sequence.enabled"
                :toggleEnabled="toggleSequence"
                :customStyles="enableStyles"
              />
              <span role="button" class="sequence-save-button" @click="saveSequence">
                <img v-svg-src="saveImg">
                SAVE
              </span>
            </span>
          </div>

          <div v-show="!settingsCollapsed" class="options-controls">
            <hr />

            <div class="i-b width-half">
              <h2>Sequence Name</h2>
              <CustomInput
                :icon="bolt"
                placeholder="Enter a name for your sequence..."
                :containerStyles="nameContainerStyles"
                :customStyles="nameCustomStyles"
                v-if="sequence"
                v-model="sequence.name"
              />
            </div>
            <div class="i-b width-half">
              <h2>
                Stop Sending When Candidates
                <Tooltip content="You can <i>automatically stop sending messages in your sequences</i> to individual candidates when they reply to or click links in your messages. You can use this setting to make the flow of your correspondence with candidates seem more natural. By default, Happie automatically clears all scheduled messages to candidates whose email addresses bounce, to protect  you and other email senders on Happie." :customStyles="tooltipStyles" />
              </h2>
              <!-- <CustomCheckbox :onChange="stopOnReplyChange" label="Reply" :checked="sequenceLoaded ? sequence.stop_sending_on_reply : false" /> -->
              <CustomCheckbox :onChange="stopOnClickChange" label="Click a link" customId="test-sequence-link-click" :checked="sequenceLoaded ? sequence.stop_sending_on_click : false" />
              <CustomCheckbox label="Bounce" :disabled="true" :checked="true" />
            </div>

            <div>
              <h2>
                Send On
                <Tooltip content="You can select <i>days of the week to specify when steps in sequences are sent</i>. You can use this setting to help you optimize when Happie delivers your messages to candidates. For example, you may find that some candidates are more responsive on Mondays through Friday, but are less responsive on Saturdays and Sundays. In this case, you may want to select Monday through Friday, while leaving Saturday and Sunday unselected. Doing this would only allow messages in your sequence to be sent between Monday and Friday. Please note: if a scheduled step coincides with an unselected day of the week, the message will be delivered on the next selected day. So if a step is scheduled to go out on a Saturday but Saturday and Sunday aren’t selected, the message would be delivered on the following Monday." :customStyles="tooltipStyles" />
              </h2>
              <div class="date-checkbox-container">
                <CustomCheckbox :onChange="(e) => {sendOnDaysChange(e,'mo');}" label="Monday" :checked="sequenceLoaded ? sequence.send_on_days.indexOf('mo')>=0 : false" />
                <CustomCheckbox :onChange="(e) => {sendOnDaysChange(e,'tu');}" label="Tuesday" :checked="sequenceLoaded ? sequence.send_on_days.indexOf('tu')>=0 : false" />
                <CustomCheckbox :onChange="(e) => {sendOnDaysChange(e,'we');}" label="Wednesday" :checked="sequenceLoaded ? sequence.send_on_days.indexOf('we')>=0 : false" />
                <CustomCheckbox :onChange="(e) => {sendOnDaysChange(e,'th');}" label="Thursday" :checked="sequenceLoaded ? sequence.send_on_days.indexOf('th')>=0 : false" />
                <CustomCheckbox :onChange="(e) => {sendOnDaysChange(e,'fr');}" label="Friday" :checked="sequenceLoaded ? sequence.send_on_days.indexOf('fr')>=0 : false" />
                <CustomCheckbox  :onChange="(e) => {sendOnDaysChange(e,'sa');}"label="Saturday" :checked="sequenceLoaded ? sequence.send_on_days.indexOf('sa')>=0 : false" />
                <CustomCheckbox :onChange="(e) => {sendOnDaysChange(e,'su');}" label="Sunday" :checked="sequenceLoaded ? sequence.send_on_days.indexOf('su')>=0 : false" />
              </div>
            </div>

            <div class="options-container">

              <div class="half-float">
                <h2>
                  Select Sequence Owner
                  <Tooltip :content="sequenceOwnerTooltip" :customStyles="tooltipStyles" />
                </h2>
                <CustomSelect
                  v-if="sequenceLoaded"
                  :items="userItems"
                  :selected="selectedSequenceOwner"
                  customId="test-sequence-owner-dropdown"
                  :onChange="sequenceOwnerChange"
                  :customStyles="fullSelectStyles"
                  selectIcon="profile">
                </CustomSelect>
              </div>

              <div class="half-float">
                <h2>Select Timezone</h2>
                <CustomSelect
                  v-if="sequenceLoaded"
                  :items="timezones"
                  :selected="sequenceTimezone"
                  :onChange="timezoneChange"
                  :customStyles="fullSelectStyles"
                  customId="test-time-zone-dropdown"
                  selectIcon="clock">
                </CustomSelect>
              </div>

              <div class="half-float">
                <h2>Default Reply To Name</h2>
                <CustomInput
                  v-if="sequenceLoaded"
                  placeholder="Enter the name of the person candidates reply to..."
                  :containerStyles="fullSelectStyles"
                  :customStyles="sendToCustomStyles"
                  v-model="sequence.default_reply_to_name"
                />
              </div>

              <div class="half-float">
                <h2>Default Reply To Email</h2>
                <CustomInput
                  v-if="sequenceLoaded"
                  placeholder="Enter the email of the person candidates reply to..."
                  :containerStyles="fullSelectStyles"
                  :customStyles="sendToCustomStyles"
                  v-model="sequence.default_reply_to"
                />
              </div>

              <div v-if="organizationStore.organization.sms_enabled" class="half-float">
                <h2>Select Default SMS From</h2>
                <CustomSelect
                  v-if="sequenceLoaded"
                  :items="phoneNumberItems"
                  :selected="selectedDefaultPhone"
                  :onChange="defaultPhoneChange"
                  :customStyles="fullSelectStyles"
                  customId="test-sms-from-dropdown"
                  selectIcon="phone-book">
                </CustomSelect>
              </div>

            </div>

            <div>
              <h2 class="less-margin">
                Send To
                <Tooltip content="You can <i>send your sequences to groups</i> of candidates by selecting a list that you or teammates created. Removing a list of candidates from a sequence is as simple as clicking the 'x' next to its name. To remove individual candidates from a sequence, click the 'Manage Candidates' button and click the 'x' by names of candidates whom you want to remove. Clicking the 'Clear Candidates' button removes all candidates from scheduled steps in your sequence." :customStyles="tooltipStyles" />
              </h2>
              <div>
                <CustomMultiSelect
                  v-if="sequenceLoaded && listsLoaded && sequence.enabled"
                  :icon="clipboard"
                  :items="lists"
                  customId="test-sequences-lists"
                  :selected="sequence.list_ids"
                  :onChange="listsChange"
                  placeholder="Select one or more lists..."
                  :customStyles="sendToCustomStyles"
                />
                <CustomMultiSelect
                  v-if="sequenceLoaded && listsLoaded && !sequence.enabled"
                  :icon="clipboard"
                  :items="lists"
                  :selected="sequence.list_ids"
                  :onChange="listsChange"
                  customId="test-sequences-lists"
                  placeholder="Select one or more lists..."
                  :customStyles="sendToCustomStyles"
                  disabled="disabled"
                  ref="addListInput"
                  :title="listTooltip"
                />
              </div>
            </div>

            <div class="large-buttons-container">

              <span
                v-show="sequence && sequence.enabled"
                class="large-buttons manage-candidates"
                role="button"
                @click="manageCandidates"
                >
                <img v-svg-src="profile">MANAGE CANDIDATES
              </span>

              <span
                v-show="sequence && !sequence.enabled"
                class="large-buttons manage-candidates disabled"
                role="button"
                ref="manageCandidatesButton"
                title="You can only manage candidates when a sequence is enabled. To manage your candidates, toggle your sequence on!"
                >
                <img v-svg-src="profile">MANAGE CANDIDATES
              </span>

              <span class="large-buttons clear-candidates" role="button" @click="clearCandidates"><img v-svg-src="brush">CLEAR CANDIDATES</span>
            </div>

            <div>
              <h2 class="less-margin">
                Promote Page(s)
                <Tooltip content="You can select <i>one or more pages in Happie that you want to promote in your sequence</i>. Selecting a promoted page allows you to insert a trackable link to the page in your sequence for accurate reporting on the candidate <i>awareness</i>, engagement and activity that your sequence is driving on the page." :customStyles="tooltipStyles" />
              </h2>
              <div>
                <CustomMultiSelect
                  v-if="sequenceLoaded && pagesLoaded"
                  :icon="page"
                  :items="pages"
                  customId="test-sequences-pages"
                  :selected="sequence.landing_page_ids"
                  :onChange="pagesChange"
                  placeholder="Select one or more pages..."
                  :customStyles="promoteCustomStyles"
                />
              </div>
            </div>

            <div>
              <h2 class="less-margin">
                Target Job(s)
                <Tooltip content="You can select one or more <i>targeted jobs in Happie that you want to</i> promote in your sequence. Selecting a targeted job allows you to insert a trackable link to the job in your sequence for accurate reporting on the candidate awareness, engagement and activity that your sequence is driving toward the job." :customStyles="tooltipStyles" />
              </h2>
              <div>
                <CustomMultiSelect
                  v-if="sequenceLoaded && jobsLoaded"
                  :icon="target"
                  :items="jobs"
                  :selected="sequence.req_ids"
                  :onChange="jobsChange"
                  customId="test-sequences-jobs"
                  placeholder="Select one or more jobs..."
                  :customStyles="promoteCustomStyles"
                />
              </div>
            </div>

            <div v-if="sequenceLoaded && sequence.sequence_variables">
              <h2 class="less-margin">
                Custom Merge Tags
                <Tooltip content="You can create <i>custom merge tags</i> for the messages in your sequence steps. Simply write the copy (that means “words” in recruitment marketing-speak) for your custom merge tag. In the sequence below, you can insert these merge tags — &#123;&#123;custom1&#125;&#125;, &#123;&#123;custom2&#125;&#125;, etc. — to make your messages more interesting to candidates. Be sure to keep them short and sweet! Few people read until the end. Case in point, if you’re reading this tooltip, you’re probably one of very few people who have!" :customStyles="tooltipStyles" />
              </h2>
              <div v-for="content, mergeTag in sequence.sequence_variables">
                <h3>{{ stringifyMergeTag(mergeTag) }} <span class="remove-merge-tag" @click="removeSequenceVariable(mergeTag)"></span></h3>
                <CustomTextArea
                  :customStyles="mergeTagStyles"
                  placeholder="Write 1-2 lines of custom copy that you think would be compelling to candidates..."
                  customId="test-custom-merge-tag-1"
                  v-model="sequence.sequence_variables[mergeTag]" />
              </div>
            </div>
            <span class="add-merge-tag" @click="addSequenceVariable" role="button">
              <img v-svg-src="addImg">
              Merge Tag
            </span>

          </div>

        </div>

        <div class="panel-bottom" v-if="sequenceLoaded && pagesLoaded && jobsLoaded">
          <div class="left-pane">
            <draggable :list="sequence.steps" @sort="draggableSort">
              <transition-group name="step-list" tag="div">
                <div
                  role="button"
                  :class="{'select-sequence-button': true, 'active': index === sequence.steps.indexOf(activeStep)}"
                  @click="stepClick(index)"
                  :key="index"
                  v-for="(step, index) in sequence.steps"
                >
                  <img v-if="step.step_action == 'email'" v-svg-src="emailImg" class="i-b" />
                  <img v-else-if="step.step_action == 'sms'" v-svg-src="smsImg" class="i-b" />
                  <div class="text-container">
                    <span v-if="step.step_action == 'email'" class="i-b preview">{{step.email_subject || "Enter a subject..."}}</span>
                    <span v-else-if="step.step_action == 'sms'" class="i-b preview">{{step.sms_text || "Enter a text..."}}</span>
                    <span v-if="!sequence.send_immediately || index" class="delay">{{parseInt(step.delay_before/86400)}} {{index ? 'days after previous touch' : 'days after starting sequence'}}</span>
                  </div>
                  <img v-svg-src="upDownArrow" class="i-b up-down-arrow" />
                </div>
              </transition-group>
            </draggable>
            <div class="add-step-container">
              <button @click="addStepClick"></button>
            </div>
          </div>

          <div class="right-pane" v-if="sequence.steps.length">
            <Tablist
              :tabs="composeTabs"
              :selectedTab="activeComposeTab"
              :customStyles="tablistStyles"
              @change="tabChange"
            />
            <span class="delete-step" @click="deleteStep(activeStepIndex)" role="button"></span>

            <!-- Three different containers for different tabs -->
            <div class="compose-container">
              <div class="schedule-send-container">
                <div class="send-immediately-container" v-show="!activeStepIndex">
                  <CustomToggle
                    v-model="sequence.send_immediately"
                    :customStyles="toggleStyles"
                    :toggleEnabled="toggleImmediately"
                  />
                  <span>Send immediately</span>
                  <Tooltip content="You can <i>send messages in the first step in a sequence immediately</i>, by toggling this setting 'on'. After enabling the sequence, any candidate whom you add to the sequence — via a list or individually — will be sent the message in the first step of your sequence immediately. By toggling this setting 'off', you can select a precise sending time and number of days to wait (or no days at all!) before kicking off the first step of your sequence." :customStyles="tooltipStyles" />
                </div>
                <div class="send-at-time-container" v-show="activeStepIndex || !sequence.send_immediately">
                  <select @change="dayOptionChange">
                    <option v-for="dayOption in dayOptions"
                    :value="dayOption.value"
                    :selected="sequenceLoaded ? activeStep.delay_before === dayOption.value : 0">{{dayOption.title}}</option>
                  </select>
                  <span>{{activeStepIndex ? 'days after previous touch at' : 'days after starting sequence at'}}</span>
                  <select @change="hourOptionChange">
                    <option v-for="hourOption in hourOptions" :value="hourOption.value" :selected="sequenceLoaded ? stepTime.hour === hourOption.value : '1'">{{hourOption.title}}</option>
                  </select>
                  :
                  <select @change="minuteOptionChange">
                    <option v-for="minuteOption in minuteOptions" :value="minuteOption.value" :selected="sequenceLoaded ? stepTime.minute === minuteOption.value : '00'">{{minuteOption.title}}</option>
                  </select>
                  <select class="am-pm" @change="ampmOptionChange">
                    <option v-for="ampmOption in ampmOptions" :value="ampmOption.value" :selected="sequenceLoaded ? stepTime.ampm === ampmOption.value : 'AM'">{{ampmOption.title}}</option>
                  </select>
                  <span>{{stepTimezone}}</span>
                </div>
              </div>

              <!-- Email Container -->
              <div role="tabpanel" class="compose-container" v-show="activeComposeTab === 0">
                <h1>
                  Reply To
                  <Tooltip content="Setting a <i>Reply To</i> name and email for a step in a sequence allows candidates to respond directly to members of your team, other than you or whoever created the sequence. Leaving these fields blank will, by default, result in candidates replying to the creator of the sequence." :customStyles="tooltipStyles" />
                </h1>
                <CustomInput
                  placeholder="Enter the name of the person candidates reply to..."
                  :containerStyles="replyToNameContainerStyles"
                  :customStyles="sendToCustomStyles"
                  v-model="activeStep.reply_to_name"
                  customId="test-candidate-reply1"
                />
                <CustomInput
                  placeholder="Enter the email of the person candidates reply to..."
                  :containerStyles="replyToContainerStyles"
                  :customStyles="sendToCustomStyles"
                  v-model="activeStep.reply_to"
                  customId="test-candidate-reply2"
                />
                <h1>Subject</h1>
                <CustomInput
                  placeholder="Enter a subject line..."
                  :containerStyles="sendToContainerStyles"
                  :customStyles="sendToCustomStyles"
                  v-model="activeStep.email_subject"
                  customId="test-subject"

                />
                <div>
                  <h1 class="content-header">
                    Content
                    <Tooltip :content="contentTooltip" :customStyles="tooltipStyles" />
                  </h1>
                  <CustomSelect
                    :items="templateItems"
                    :onChange="templateChange"
                    :selected="selectedTemplate"
                    :customStyles="selectStyles"
                    :icon="templateImg"
                    :forceRenderAbove="true"
                    customId="test-email-template-dropdown"
                  />
                </div>
                <RichTextEditor
                  :content="activeStep.email_html"
                  :onChange="emailChanged"
                  :height="250"
                  :linkList="linkList"
                />
                <SignaturesDropdown
                  :isDropdown="true"
                  :signatureChange="signatureChange"
                  :selectedSignature="activeStep.signature_id"
                />
                <Tooltip content="You can use email signatures to automatically personalize emails that you and your team members send through Happie. To help you stay on the right side of spam laws, we always require that you use one with your business address and an unsubscribe link. If you don’t select an email signature that you or your team created, we’ll use the Default Signature. Don’t worry — Happie’s got your back!" :customStyles="tooltipBottomStyles" />
                <span class="test-button" @click="testStepEmail" role="button">
                  <img v-svg-src="sendEmail">
                  TEST
                </span>
                <span :class="{'preview-button': true, 'disabled': !activeStep.email_html || !activeStep.email_subject}" role="button" @click="previewClick('email')">
                  <img v-svg-src="previewButton">
                  PREVIEW
                </span>
              </div>

              <!-- SMS Container -->
              <div role="tabpanel" class="compose-container" v-show="activeComposeTab === 1">
                <h1>From</h1>
                <div>
                  <CustomSelect
                    :items="phoneNumberItems"
                    :selected="selectedPhone"
                    :onChange="phoneChange"
                    :customStyles="phoneNumberStyles"
                    selectIcon="phone-book"
                  />
                </div>
                <div>
                  <h1 class="content-header">
                    Content
                    <Tooltip :content="contentTooltip" :customStyles="tooltipStyles" />
                  </h1>
                  <CustomSelect
                    :items="templateItems"
                    :onChange="templateChange"
                    :selected="selectedTemplate"
                    :customStyles="selectStyles"
                    :icon="templateImg"
                    :forceRenderAbove="true"
                    customId="test-sms-template-dropdown"
                  />
                </div>
                <RichTextEditor
                  :content="activeStep.sms_text"
                  :onChange="smsChanged"
                  :plainText="true"
                  :height="90"
                  :linkList="linkList"
                />
                <div class="characters-used">
                  <span :class="{'amount': true, 'warning': smsLength>105, 'danger': smsLength>120}">{{120 - smsLength}}</span>
                </div>
                <span class="test-button" @click="testStepText" role="button">
                  <img v-svg-src="sendEmail">
                  TEST
                </span>

                <span :class="{'preview-button': true, 'disabled': !activeStep.sms_text}" role="button" @click="previewClick('sms')">
                  <img v-svg-src="previewButton">
                  PREVIEW
                </span>
              </div>

              <!-- Notification Container -->
              <!-- <div role="tabpanel" class="compose-container" v-show="activeComposeTab === 2">
                <h1>Notifications</h1>
              </div> -->

            </div>

          </div>
      </div>
    </div>

  </div>
</template>

<script>
import CustomToggle from 'components/FormElements/CustomToggle'
import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import Tablist from 'components/Tools/Tablist'
import RichTextEditor from 'components/Tools/RichTextEditor'
import CustomInput from 'components/FormElements/CustomInput'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import Tooltip from 'components/Tools/Tooltip'
import ScrollNav from 'components/Tools/ScrollNav'
import CustomSelect from 'components/FormElements/CustomSelect'
import CustomMultiSelect from 'components/FormElements/CustomMultiSelect'
import SignaturesDropdown from 'components/Sections/Settings/SettingsSignaturesPanel'
import ContentNavHeader from 'components/Tools/ContentNavHeader'

import deepEqual from 'deep-equal'
import draggable from 'vuedraggable'
import api from 'api'
import { alerts, modals, appInitializer, tooltipHelper, mergeTagsParser } from 'helpers'
import * as stores from 'stores'
import moment from 'moment'
import momentTimezone from 'moment-timezone'

import saveImg from 'img/save-white.svg'
import emailImg from 'img/email.svg'
import smsImg from 'img/sms.svg'
// import clockImg from 'img/clock.svg'
import emailActiveImg from 'img/email-active.svg'
import smsActiveImg from 'img/sms-active.svg'
// import clockActiveImg from 'img/clock-active.svg'
import bolt from 'img/bolt.svg'
import profile from 'img/large-profile.svg'
import brush from 'img/brush.svg'
import page from 'img/page.svg'
import target from 'img/target.svg'
import clipboard from 'img/dropdowns/clipboard.svg'
import upArrowImg from 'img/up-arrow.svg'
import upDownArrow from 'img/up-down-arrow.svg'
import sendEmail from 'img/send-email.svg'
import templateImg from 'img/template.svg'
import previewButton from 'img/job-modal-preview.svg'
import addImg from 'img/add-block-white.svg'
import removeImg from 'img/minus-sign-red.svg'

export default {
  components: {
    CustomToggle,
    CustomCheckbox,
    CustomInput,
    CustomTextArea,
    CustomSelect,
    CustomMultiSelect,
    Tooltip,
    Tablist,
    draggable,
    RichTextEditor,
    SignaturesDropdown,
    ContentNavHeader,
    ScrollNav
  },
  computed: {
    templateItems () {
      let items = [{ value: 'select', label: 'Templates' }, { value: 'use-template', label: 'Use a template' }]
      if (this.activeStep.email_html || this.activeStep.sms_text) {
        items.splice(1, 0, { value: 'create', label: 'Save new template' })
      }
      return items
    },
    selectedSequenceOwner () {
      if (this.sequence.sequence_owner) {
        return { value: this.sequence.sequence_owner }
      }
      return { value: null }
    },
    userItems () {
      let items = []
      $.each(this.usersStore.users, (index, user) => {
        items.push({
          value: user.id,
          label: !user.first_name && !user.last_name ? user.email : `${user.first_name} ${user.last_name} (${user.email})`
        })
      })
      items.unshift({ value: null, label: 'Select Sequence Owner' })
      return items
    },
    selectedDefaultPhone () {
      if (this.sequence.default_sms_from) {
        return { value: this.sequence.default_sms_from }
      }
      return { value: null }
    },
    selectedPhone () {
      if (this.activeStep.sms_from) {
        return { value: this.activeStep.sms_from }
      }
      return { value: null }
    },
    phoneNumberItems () {
      let items = [{ label: 'Phone Number', value: null }, { label: 'Add a New Phone Number', value: 'create' }]
      $.each(this.phoneNumbersStore.phones, (index, value) => {
        items.push({
          label: `${value.name} ${value.number}`,
          value: value.number
        })
      })
      return items
    },
    smsLength () {
      return this.activeStep.sms_text ? this.activeStep.sms_text.length : 0
    },
    activeComposeTab () {
      switch (this.activeStep.step_action) {
        case 'email':
          return 0
        case 'sms':
          return 1
      }
    },
    dayOptions () {
      let dayOptions = []
      // Create the day options and put the value in seconds
      for (var i = 0; i < 366; i++) {
        dayOptions.push({
          title: i,
          value: i * 86400
        })
      }
      return dayOptions
    },
    hourOptions () {
      let hourOptions = []
      // Create the hour options
      for (var i = 1; i < 13; i++) {
        hourOptions.push({
          title: `${i}`,
          value: `${i}`
        })
      }
      return hourOptions
    },
    minuteOptions () {
      let minuteOptions = []
      // Create the minute options
      for (var i = 0; i < 60; i++) {
        minuteOptions.push({
          title: i < 10 ? `0${i}` : `${i}`,
          value: i < 10 ? `0${i}` : `${i}`
        })
      }
      return minuteOptions
    },
    composeTabs () {
      let composeTabs = [
        { title: 'Email', image: emailImg, activeImage: emailActiveImg }
        // {title: "Notification", image: clockImg, activeImage: clockActiveImg}
      ]
      if (this.organizationStore.organization.sms_enabled) {
        composeTabs.push({ title: 'SMS Text', image: smsImg, activeImage: smsActiveImg })
      }
      return composeTabs
    },
    activeStep () {
      return this.sequence.steps[this.activeStepIndex]
    },
    stepTime () {
      let sendAtTime = moment(this.activeStep.send_at_time, 'HH:mm:ss')
      return {
        hour: sendAtTime.format('h'),
        minute: sendAtTime.format('mm'),
        ampm: sendAtTime.format('A')
      }
    },
    listTooltip () {
      let content = "You can only add a list of candidates to whom steps in a sequence will send when the sequence is enabled. To add candidate lists to the sequence, toggle on the sequence, and select the list that you'd like to send to from this field!"
      if (this.sequenceLoaded && this.listsLoaded) {
        if (this.sequence.list_ids) {
          if (this.sequence.list_ids.length) {
            content = "You can only add or remove lists of candidates to whom steps in a sequence will send when the sequence is enabled. To add candidate lists to the sequence, toggle on the sequence, and select the list that you'd like to <i>send to</i> from this field! To remove lists from the sequence, toggle on the sequence, and remove ('x') them from this field! Or, you can remove all candidates from the sequence, even when it's disabled, by clicking the 'Clear Candidates' button."
          }
        }
      }
      if (this.$refs.addListInput) {
        tooltipHelper.init(this.$refs.addListInput.$el)
        tooltipHelper.setContent(this.$refs.addListInput.$el, content)
        return null
      }
      return content
    },
    contentTooltip () {
      return 'You can use the <i>content</i> of steps in your sequences to craft and personalize your emails to candidates.<br><br>You can use merge tags in Happie to customize your sequences with dynamic content, like a candidate’s name. Merge tags may look scary at first, but they’re the secret to personalizing your messages to candidates. Drop one into your message by selecting the merge tag button — <b>{{ }}</b> — in the formatting bar or simply typing two brackets (“{{“) to view and choose from a full list of available merge tags. We’ll take care of the rest!<br><br>You can insert a trackable link to your promoted page or pages by selecting the text in your message that you would like to link and clicking the link button in the formatting bar (it looks like a chain!). Then simply choose the promoted page from the drop-down list of available link options.'
    },
    sequenceOwnerTooltip () {
      return "You can set the <i>Sequence Owner</i> to assign and change the user who is the designated sender of a sequence, regardless of who initially created the sequence. All of the {{user...}} merge tags will insert content from the <i>Sequence Owner</i>'s profile. Also, although the sender of a sequence will default to the <i>Sequence Owner</i>, you can still override the Reply To name and address in each step of a sequence."
    },
    stepTimezone () {
      return moment.tz(this.sequence.timezone).format('z[ (GMT ]Z[)]')
    },
    sequenceTimezone () {
      let tz = this.sequence.timezone || this.accountStore.account.timezone || 'UTC'
      this.sequence.timezone = tz
      return { value: tz, label: tz }
    },
    timezones () {
      return this.timezonesStore.formattedTimezones
    },
    signatures () {
      return this.signaturesStore.signatures
    }
  },
  created () {
    // Load sequence
    this.getSequence()

    // Load lists
    if (this.listsStore.lists.length) {
      this.loadLists(this.listsStore.lists)
    } else {
      api.ajax('candidate-lists')
      .done((response) => {
        console.log('response from lists ', response)
        stores.listsStore.init(response)
        this.loadLists(response)
      })
      .fail((e) => {
        console.error('Error getting lists ', e)
      })
    }

    // Load pages
    if (this.pagesStore.pages.length) {
      this.loadPages(this.pagesStore.pages)
    } else {
      api.ajax('page')
      .done((response) => {
        console.log('response from page ', response)
        stores.pagesStore.init(response)
        this.loadPages(response)
      })
      .fail((e) => {
        console.error('Error getting pages ', e)
      })
    }

    // Load jobs
    if (this.jobsStore.jobs.length) {
      this.loadJobs(this.jobsStore.jobs)
    } else {
      api.ajax('reqs')
      .done((response) => {
        console.log('response from jobs ', response)
        stores.jobsStore.init(response)
        this.loadJobs(response)
      })
      .fail((e) => {
        console.error('Error getting jobs ', e)
      })
    }
  },
  mounted () {
    tooltipHelper.init(this.$refs.manageCandidatesButton)
    // Really gross way to make sure the tooltip element inits on page load
    let firstInit = setInterval(() => {
      if (this.$refs.addListInput) {
        clearInterval(firstInit)
        tooltipHelper.init(this.$refs.addListInput.$el)
      }
    }, 500)
  },
  data () {
    return {
      usersStore: stores.usersStore.get(),
      signaturesStore: stores.signaturesStore.get(),
      timezonesStore: stores.timezonesStore.get(),
      accountStore: stores.accountStore.get(),
      adminStore: stores.adminStore.get(),
      organizationStore: stores.organizationStore.get(),
      listsStore: stores.listsStore.get(),
      pagesStore: stores.pagesStore.get(),
      jobsStore: stores.jobsStore.get(),
      phoneNumbersStore: stores.phoneNumbersStore.get(),
      mergeTagsStore: stores.mergeTagsStore.get(),
      showNav: false,
      scrollShowHeight: 62,
      pagesLoaded: false,
      jobsLoaded: false,
      listsLoaded: false,
      sequenceLoaded: false,
      sequence: {},
      originalSequence: null,
      lists: [],
      pages: [],
      jobs: [],
      linkList: [],
      selectedTemplate: { value: 'select' },
      saveImg,
      brush,
      profile,
      bolt,
      page,
      clipboard,
      target,
      upDownArrow,
      emailImg,
      smsImg,
      sendEmail,
      upArrowImg,
      templateImg,
      previewButton,
      addImg,
      removeImg,
      enableStyles: {
        'vertical-align': 'middle'
      },
      toggleStyles: {
        'vertical-align': 'middle',
        'margin-right': '10px'
      },
      timezoneCustomStyles: {
        'max-width': '300px',
        width: '300px'
      },
      fullSelectStyles: {
        'max-width': '100%',
        width: '100%'
      },
      phoneNumberStyles: {
        'max-width': '300px',
        width: '300px'
      },
      tablistStyles: {
        width: '90%',
        display: 'inline-block'
      },
      nameContainerStyles: {
        display: 'inline-block',
        float: 'left'
      },
      nameCustomStyles: {
        width: '300px'
      },
      replyToNameContainerStyles: {
        display: 'inline-block',
        width: '48%',
        float: 'left'
      },
      replyToContainerStyles: {
        display: 'inline-block',
        float: 'right',
        width: '48%'
      },
      sendToContainerStyles: {
        display: 'inline-block',
        width: '100%'
      },
      sendToCustomStyles: {
        width: '100%'
      },
      promoteContainerStyles: {
        display: 'inline-block',
        'margin-bottom': '30px',
        width: '100%'
      },
      promoteCustomStyles: {
        width: '100%',
        'margin-bottom': '25px'
      },
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle',
        'margin-left': '18px'
      },
      tooltipBottomStyles: {
        display: 'inline-block',
        'vertical-align': 'top',
        'margin-left': '18px',
        'margin-top': '10px'
      },
      defaultSignature: { value: 'default' },
      signatureStyles: {
        'margin-bottom': '30px',
        width: '275px',
        'max-width': 'none',
        display: 'inline-block'
      },
      selectStyles: {
        display: 'inline-block',
        float: 'right',
        width: '180px',
        margin: '15px 0px'
      },
      mergeTagStyles: {
        'margin-bottom': '15px',
        width: '100%'
      },
      settingsCollapsed: false,
      activeStepIndex: 0,
      ampmOptions: [{ title: 'AM', value: 'AM' }, { title: 'PM', value: 'PM' }]
    }
  },
  methods: {
    removeSequenceVariable (sequenceVariable) {
      if (Object.keys(this.sequence.sequence_variables).length > 1) this.$delete(this.sequence.sequence_variables, sequenceVariable)
      else this.sequence.sequence_variables = null
    },
    addSequenceVariable () {
      // Cut the mustard
      if (this.sequence.sequence_variables === null) {
        this.$set(this.sequence, 'sequence_variables', { custom1: '' })
        return false
      }

      let mergeTags = []
      let missingInt

      // Get the integer ID of each custom merge tag
      for (let mergeTag in this.sequence.sequence_variables) {
        mergeTags.push(parseInt(mergeTag.slice(-1)))
      }

      // Find the lowest missing number in the integer sequence
      mergeTags.forEach((number, index) => {
        if (number !== index + 1) {
          missingInt = index + 1
          return false
        }
      })

      if (missingInt) {
        // There's an empty slot so we need to insert a merge tag, but we can't sort objects. So we sort objects.
        this.sequence.sequence_variables[`custom${missingInt}`] = ''
        this.$set(this.sequence, 'sequence_variables', Object.keys(this.sequence.sequence_variables).sort().reduce((value, key) => { value[key] = this.sequence.sequence_variables[key]; return value }, {}))
      } else {
        // There's no empty slot, stick the new merge tag on the end.
        this.$set(this.sequence.sequence_variables, `custom${Object.keys(this.sequence.sequence_variables).length + 1}`, '')
      }
    },
    previewClick (type) {
      if (!this.activeStep.email_html && !this.activeStep.email_subject) return
      this.saveSequence()
      .done(() => {
        const requestObject = {
          type: 'POST',
          data: {
            candidate: this.mergeTagsStore.previewCandidate
          }
        }
        switch (type) {
          case 'email':
            requestObject.data.step_id = this.activeStep.id
            break
          case 'sms':
            requestObject.data.text = this.activeStep.sms_text
            break
          default:
            break
        }
        api.ajax('templates/preview', requestObject)
        .done(response => {
          response.timezone = this.sequence.timezone
          modals.show({
            component: 'PreviewModal',
            props: {
              hideXout: true,
              preview: response,
              type,
              containerStyles: {
                width: '576px'
              }
            }
          })
        })
        .fail(e => {
          console.error('preview error ', e)
        })
      })
    },
    templateChange (item) {
      switch (item.value) {
        case 'create':
          modals.show({
            component: 'CreateNewModal',
            props: {
              template: {
                name: '',
                description: '',
                subject: this.activeStep.email_subject,
                html: this.activeStep.email_html,
                text: this.activeStep.sms_text,
                template_type: this.activeStep.step_action
              },
              modalType: 'template',
              customCallback: (template) => {
                stores.templatesStore.addTemplates([template])
                alerts.show({
                  message: `You successfully created the template “${template.name}”!`,
                  status: 'success'
                })
              }
            }
          })
          break
        case 'use-template':
          this.openTemplateModal(this.activeStep.step_action)
          break
      }
      this.selectedTemplate = { value: 'select' }
    },
    scrollToTop () {
      $(this.$refs.mainContainer).animate({
        scrollTop: 0
      }, 250)
    },
    handleScroll (e) {
      let scroll = $(e.target).scrollTop()
      if (scroll >= this.scrollShowHeight) {
        this.showNav = true
      } else {
        this.showNav = false
      }
    },
    getRandomTime () {
      // between 9-12 pm
      let hour = Math.floor(Math.random() * (11 - 9 + 1)) + 9
      let minute = Math.floor(Math.random() * 59)
      return moment(`${hour}:${minute}`, 'H:m').format('HH:mm:ss')
    },
    timezoneChange (item) {
      this.sequence.timezone = item.value
    },
    sequenceOwnerChange (item) {
      this.sequence.sequence_owner = item.value
    },
    defaultPhoneChange (item) {
      this.sequence.default_sms_from = item.value
      if (item.value === 'create') {
        this.sequence.default_sms_from = null
        modals.show({
          component: 'PhoneNumbersModal',
          props: {
            addedNewPhone: (id) => {
              this.defaultPhoneChange({ value: id })
            }
          }
        })
      }
    },
    phoneChange (item) {
      this.activeStep.sms_from = item.value
      if (item.value === 'create') {
        this.activeStep.sms_from = null
        modals.show({
          component: 'PhoneNumbersModal',
          props: {
            addedNewPhone: (id) => {
              this.phoneChange({ value: id })
            }
          }
        })
      }
    },
    getSequence () {
      let sequenceId = this.$route.params.sequence_id
      let promise = $.Deferred()

      if (sequenceId === 'new') {
        this.sequence = {
          id: 'new',
          enabled: false,
          name: '',
          send_on_days: 'mo,tu,we,th,fr',
          stop_sending_on_reply: true,
          sequence_variables: {
            custom1: '',
            custom2: '',
            custom3: '',
            custom4: ''
          },
          list_ids: [],
          req_ids: [],
          landing_page_ids: [],
          default_sms_from: null,
          default_reply_to: '',
          default_reply_to_name: '',
          steps: [
            {
              reply_to: '',
              reply_to_name: '',
              email_subject: '',
              email_html: '',
              email_text: '',
              send_at_time: this.getRandomTime(),
              delay_before: 0,
              step_action: 'email',
              sms_from: null
            }
          ]
        }

        this.sequenceLoaded = true

        stores.metadataStore.setHasUnsavedChanges(false)

        promise.resolve()
      } else {
        api.ajax(`sequences/${this.$route.params.sequence_id}`)
        .done((response) => {
          console.log(response)

          // Since we pulled from the api, update the sequences store in case there is new data
          stores.sequencesStore.updateSequences([response])

          // set the original to compare to any changes
          this.originalSequence = response

          // Remove reference
          let sequence = $.extend(true, {}, response)
          this.sequence = sequence

          this.sequenceLoaded = true

          stores.metadataStore.setHasUnsavedChanges(false)

          promise.resolve()
        })
        .fail((e) => {
          console.error('error loading sequence ', e)
        })
      }

      return promise
    },
    loadLists (lists) {
      $.each(lists, (key, value) => {
        this.lists.push({
          value: value.id,
          label: value.name || 'Untitled'
        })
      })
      this.listsLoaded = true
    },
    loadPages (pages) {
      $.each(pages, (key, value) => {
        // Check if the page is connected to a different sequence
        if (value.sequence_id == null || value.sequence_id == this.$route.params.sequence_id) {
          this.pages.push({
            value: value.id,
            label: value.title || 'Untitled'
          })

          // Only push published pages into the linkList
          if (value.page_route != null) {
            this.linkList.push({
              text: `Page - ${value.title || 'Untitled'}`,
              href: `{{pages['${value.page_route}'].url}}`,
              target: '_blank'
            })
          }
        }
      })
      this.pagesLoaded = true
    },
    loadJobs (jobs) {
      $.each(jobs, (key, value) => {
        this.jobs.push({
          value: value.id,
          label: value.title || 'Untitled'
        })

        // Only push live jobs into the linkList
        if (value.active) {
          this.linkList.push({
            text: `Job - ${value.title || 'Untitled'}`,
            href: `{{open_jobs.${value.id}.published_url}}`,
            target: '_blank'
          })
        }
      })
      this.jobsLoaded = true
    },
    openTemplateModal (type) {
      let insertTemplate
      switch (type) {
        case 'email':
          insertTemplate = (template) => {
            this.activeStep.email_html = template.html
            this.activeStep.email_subject = template.subject
          }
          break
        case 'sms':
          insertTemplate = (template) => {
            this.activeStep.sms_text = template.text
          }
          break
      }
      modals.show({
        component: 'TemplatesModal',
        props: {
          insertTemplate: insertTemplate,
          type: type
        }
      })
    },
    getSignature (step) {
      let signature
      if (step.signature_id) {
        $.each(this.signatures, (key, value) => {
          if (step.signature_id == value.id) {
            signature = value
            return false
          }
        })
      } else {
        // Get ID of signature that has default name
        $.each(this.signatures, (key, value) => {
          if (value.name === 'Default Signature') {
            signature = value
            return false
          }
        })
      }
      // If there is still no signature, use the first in the array
      if (!signature) {
        signature = this.signatures.length ? this.signatures[0] : {}
      }
      return signature
    },
    testStepEmail () {
      this.saveSequence()
      .done(() => {
        modals.show({
          component: 'PreviewStepModal',
          props: {
            email: {
              subject: this.activeStep.email_subject,
              html: this.activeStep.email_html,
              signatureId: this.activeStep.signature_id
            }
          }
        })
      })
      .fail(e => {
        console.error('test error', e)
      })
    },
    testStepText () {
      this.saveSequence()
      .done(() => {
        modals.show({
          component: 'PreviewStepModal',
          props: {
            sms: {
              text: this.activeStep.sms_text,
              from_number: this.activeStep.sms_from || this.sequence.default_sms_from
            }
          }
        })
      })
      .fail(e => {
        console.error('test error', e)
      })
    },
    emailChanged (e) {
      this.activeStep.email_html = e
    },
    smsChanged (e) {
      this.activeStep.sms_text = e
    },
    collapseSettings () {
      this.settingsCollapsed = !this.settingsCollapsed
    },
    draggableSort (e) {
      this.activeStepIndex = e.newIndex
    },
    dayOptionChange (e) {
      this.activeStep.delay_before = parseInt(e.target.value)
    },
    hourOptionChange (e) {
      let newTime = moment(`${e.target.value}:${this.stepTime.minute} ${this.stepTime.ampm}`, 'h:mm A')
      this.activeStep.send_at_time = newTime.format('HH:mm:ss')
    },
    minuteOptionChange (e) {
      let newTime = moment(`${this.stepTime.hour}:${e.target.value} ${this.stepTime.ampm}`, 'h:mm A')
      this.activeStep.send_at_time = newTime.format('HH:mm:ss')
    },
    ampmOptionChange (e) {
      let newTime = moment(`${this.stepTime.hour}:${this.stepTime.minute} ${e.target.value}`, 'h:mm A')
      this.activeStep.send_at_time = newTime.format('HH:mm:ss')
    },
    stepClick (index) {
      this.activeStepIndex = index
    },
    tabChange (index) {
      switch (index) {
        case 0:
          this.activeStep.step_action = 'email'
          break
        case 1:
          this.activeStep.step_action = 'sms'
          break
      }
    },
    addStepClick () {
      this.sequence.steps.push({
        'reply_to': this.activeStep.reply_to, // Push the current step's reply_to data into the new step
        'reply_to_name': this.activeStep.reply_to_name,
        'email_subject': '',
        'email_html': '',
        'email_text': '',
        'sms_from': this.activeStep.sms_from,
        'sms_text': '',
        'send_at_time': this.getRandomTime(),
        'delay_before': 0,
        'step_action': this.activeStep.step_action
      })
      this.activeStepIndex = this.sequence.steps.length - 1
    },
    listsChange (e) {
      const tempListIds = this.sequence.list_ids
      this.sequence.list_ids = e
      if (this.sequence.list_ids.length > tempListIds.length) {
        modals.show({
          component: 'Confirm',
          props: {
            message: 'Are you sure that you want to add a list to this sequence? Every candidate on the list will be scheduled to receive steps in the sequence.',
            confirmText: 'Yes, add the list!',
            cancelText: 'Cancel',
            confirm: () => {
              return false
            },
            cancel: () => {
              this.sequence.list_ids = tempListIds
            }
          }
        })
      }
    },
    pagesChange (e) {
      this.sequence.landing_page_ids = e
    },
    jobsChange (e) {
      this.sequence.req_ids = e
    },
    toggleImmediately () {
      // Don't need to do anything because the v-model takes care of it
    },
    toggleSequence () {
      let message = `Deactivating your sequence pauses all scheduled delivery of steps to candidates. Activating your sequence after disabling it will continue delivery of scheduled steps.  Do you want to proceed?`
      let confirmText = 'Yes, deactivate it!'
      if (this.sequence.enabled) {
        message = `Activating your sequence sets it into action, and starts the delivery of its scheduled steps to candidates. All unsaved changes will also be saved. Do you want to proceed?`
        confirmText = 'Yes, activate it!'
      }
      modals.show({
        component: 'Confirm',
        props: {
          message: message,
          confirmText: confirmText,
          cancelText: 'Cancel',
          confirm: () => {
            this.saveSequence()
          },
          cancel: () => {
            this.sequence.enabled = !this.sequence.enabled
          }
        }
      })
    },
    saveSequence (options) {
      // Change the id arrays to int arrays instead of strings
      this.sequence.landing_page_ids = this.sequence.landing_page_ids.map(x => parseInt(x))
      this.sequence.list_ids = this.sequence.list_ids.map(x => parseInt(x))
      this.sequence.req_ids = this.sequence.req_ids.map(x => parseInt(x))

      // Any step that doesn't have a signature_id, set it to the default signature
      // Parse out invalid characters, hidden spans and bad href attributes in anchor tags
      let defaultId = this.getSignature({}).id
      this.sequence.steps.forEach((value) => {
        if (!value.signature_id) value.signature_id = defaultId
        value.email_html = mergeTagsParser.parseHTML(value.email_html)
      })

      let url
      let requestType
      let promise = $.Deferred()

      if (this.sequence.id === 'new') {
        url = `sequences`
        requestType = 'POST'
      } else {
        url = `sequences/${this.sequence.id}`
        requestType = 'PUT'
      }

      api.ajax(url, {
        type: requestType,
        data: this.sequence
      })
      .done((response) => {
        // Update the sequence in our store (if it's in the store)
        // If we were on 'new', add our sequence, otherwise update it
        if (this.sequence.id === 'new') {
          stores.sequencesStore.addSequences([response])
        } else {
          stores.sequencesStore.updateSequences([response])
        }

        // Remove reference
        let savedSequence = $.extend(true, {}, response)
        this.sequence = savedSequence

        // Reset our starting sequence to compare changes to
        this.originalSequence = response
        stores.metadataStore.setHasUnsavedChanges(false)

        // A page can only be attached to one sequence so clear the pages store to update all the pages
        appInitializer.clearStores(['pagesStore'])

        alerts.show({
          message: `Great — you successfully saved your changes to your sequence “${this.sequence.name}”!`,
          status: 'success'
        })

        // If we're on the "new" route, update our URL and re-fetch our newly created sequence
        if (this.$route.params.sequence_id === 'new' && (!options || !options.ignoreRedirect)) {
          this.$router.replace({
            params: {
              'sequence_id': response.id
            }
          })

          setTimeout(() => {
            this.getSequence()
            .done(() => {
              promise.resolve()
            })
          })
        } else {
          promise.resolve()
        }
      })
      .fail((e) => {
        console.error('error creating sequence ', e)

        alerts.show({
          message: `Uh oh! There was an error saving changes to your sequence. Please try again, and sorry for the inconvenience!`,
          status: 'error'
        })
      })

      return promise
    },
    deleteStep (index) {
      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to delete this step in your sequence? This removes the step from your sequence and prevents candidates in your sequence from receiving it.`,
          confirmText: 'Yes, delete it!',
          cancelText: 'Cancel',
          confirm: () => {
            if (index > 0) {
              this.activeStepIndex = index - 1
            }
            this.sequence.steps.splice(index, 1)

            alerts.show({
              message: `You successfully deleted a step in your sequence. Y’know — sometimes, less is more!`,
              status: 'success'
            })
          }
        }
      })
    },
    sendOnDaysChange (e, day) {
      let days = this.sequence.send_on_days.split(',')
      if (e.target.checked && this.sequence.send_on_days.indexOf(day) === -1) {
        days.push(day)
        this.sequence.send_on_days = days.join(',')
      } else {
        let index = days.indexOf(day)
        if (index >= 0) {
          days.splice(index, 1)
          this.sequence.send_on_days = days.join(',')
        }
      }
    },
    stopOnReplyChange (e) {
      this.sequence.stop_sending_on_reply = e.target.checked
    },
    stopOnClickChange (e) {
      this.sequence.stop_sending_on_click = e.target.checked
    },
    manageCandidates () {
      modals.show({
        component: 'ManageCandidatesModal',
        props: {
          sequence: this.sequence
        }
      })
    },
    clearCandidates () {
      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to clear candidates from this sequence? This will remove all candidates from the sequence. If you reactivate your sequence after clearing candidates, all associated canididates will start at the first step of the sequence. `,
          confirmText: 'Clear candidates!',
          cancelText: 'Cancel',
          confirm: () => {
            api.ajax(`sequences/${this.sequence.id}/clear/`)
            .done(() => {
              // Clear lists
              this.sequence.list_ids = []

              alerts.show({
                message: 'You successfully cleared candidates from this sequence! All scheduled messages to candidates in this sequence are now canceled.',
                status: 'success'
              })
            })
            .fail(() => {
              alerts.show({
                message: 'Whoopsie! There was an error clearing candidates from your sequence. Please try again, and accept our apology for the inconvenience!',
                status: 'error'
              })
            })
          }
        }
      })
    },
    signatureChange (id) {
      this.activeStep.signature_id = id
    },
    stringifyMergeTag (mergeTag) {
      return `{{${mergeTag}}}`
    }
  },
  watch: {
    sequence: {
      handler (newValue) {
        if (!deepEqual(newValue, this.originalSequence)) {
          stores.metadataStore.setHasUnsavedChanges(true, this.saveSequence)
        }
      },
      deep: true
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .main-container{
    padding: 0px;
    padding-bottom: 158px;

    .padding-container {
      padding: 0px 20px;
    }
  }

  .options-panel {
    .options-header {
      padding: 0px;
    }
  }

  .panel {
    padding: 1.0rem 2.0rem 40px;
    margin-bottom: 2.6rem;
    max-height: none;

    .options-controls {
      overflow: visible;
      max-height: none;
    }
  }

  .custom-checkbox-container {
    margin-right: 1.8rem;
  }

  .date-checkbox-container {
    .custom-checkbox-container {
      margin-right: calc(14% - 78px);
    }
  }

  .options-container {
    .half-float {
      display: inline-block;
      width: 48%;

      &:nth-child(odd) {
        margin-right: 4%;
      }
    }
  }

  .large-buttons {
    margin: 20px 0px;
    border-radius: 2px;
    padding: 12px 40px;
    font-size: 16px;
    letter-spacing: 1.8px;
    text-align: center;
    color: $white;
    width: 48%;
    display: inline-block;

    @include transition-sm-med-ease;

    img {
      vertical-align: middle;
      margin-right: 16px;
    }

    &.manage-candidates {
      background-color: $shamrock;
      float: left;
      margin-right: 4%;

      &.disabled {
        background-color: $mystic;
        cursor: not-allowed;
      }

      &:hover {
        background: $shamrock-hover;
        &.disabled {
          background-color: $mystic;
        }
      }
    }

    &.clear-candidates {
      background-color: $dusty-gray;
      float: left;
    }

    &.clear-candidates:hover {
      background: #787778;
    }
  }

  .add-to-list-container {
    margin: 2.2rem 0;

    img {
      width: 20px;
      height: 20px;
    }
    label {
      color: $shamrock;
      @include i-b;
      margin-top: 2px;
      margin-left: 1.0rem;

      font-size: 1.4rem;
      letter-spacing: 0.2px;
      font-weight: 700;
    }
  }

  h2 {
    margin: 20px 0;

    &.less-margin {
      margin-bottom: 10px;
    }
  }

  hr {
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  .panel-bottom {
    position: relative;
    padding: 0;
    box-shadow: none;
    background-color: $alabaster;

    $left-pane-width: 232px;
    .left-pane {
      position: absolute;
      top: 0;
      @include sequence-details-left-index;
      width: $left-pane-width;

      border-top: 1px solid $alto;
      width: 23.2rem;
      background-color: $alabaster;
    }
    .right-pane {
      @include i-b;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
      padding: 0 2.6rem;

      border-top: 1px solid $alto;
      width: calc(100% - 23.2rem);
      margin-left: $left-pane-width;

      background-color: $white;

      .delete-step {
        width: 23px;
        height: 23px;
        display: inline-block;
        float: right;
        margin-top: 25px;
        background-image: url('~img/delete.svg');

        &:hover {
          background-image: url('~img/delete-active.svg');
        }
      }
    }

    h1 {
      margin: 2.2rem 0;
    }

    input {
      width: 100%;
    }
  }

  .select-sequence-button {
    height: 5.6rem;

    padding: 0 0 0 1.5rem;

    border-bottom: 1px solid $alto;
    border-right: 1px solid $alto;
    border-left: 1px solid $alto;

    &.active {
      border-right: none;
      background-color: $white;

      .preview {
        font-weight: 700;
      }
    }

    img {
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin: 16px 0px;
    }

    .up-down-arrow {
      width: 16px;
      height: 16px;
    }

    .text-container {
      width: 15rem;
      margin: 0 1rem;
      vertical-align: middle;
      display: inline-block;

      .preview {
        color: $shamrock;
        width: 100%;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
      }

      .delay {
        color: $dusty-gray;
        width: 100%;
        display: inline-block;
        font-size: 10px;
      }
    }

  }

  // Draggable animation
  .step-list-move {
    transition: transform .3s;
  }

  .add-step-container {
    width: 100%;
    height: 4.2rem;

    padding: 2.1rem 0;
    border-right: 1px solid $mystic;

    text-align: center;

    button {
      width: 42px;
      height: 42px;
      background: url("~img/add-block.svg");
      background-size: cover;
      &:hover {
        background: url("~img/add-block-active.svg");
        background-size: cover;
      }
    }

  }

  .compose-container {
    padding-bottom: 20px;

    h1 {
      @include i-b();
      width: calc(100% - 10.0rem);

      &.content-header {
        width: auto;
        margin: 25px 0px;
      }
    }
  }

  .schedule-send-container {
    span {
      @include i-b();
      vertical-align: middle;
      margin: 0 0.7rem;
    }
  }

  .sequence-save-button {
    margin-left: 30px;
    display: inline-block;
    background-color: $turquoise;
    border-radius: 2px;
    color: $white;
    text-align: center;
    letter-spacing: 1.8px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;

    @include transition-sm-med-ease;

    &:hover {
      background-color: $half-baked;
    }

    img {
      margin-right: 15px;
      vertical-align: middle;
    }
  }

  .send-immediately-container {
    margin-top: 20px;
  }

  .send-at-time-container {
    margin-top: 20px;

    select.am-pm {
      margin-left: 10px;
    }
  }

  .test-button, .preview-button, .add-merge-tag {
    margin-left: 30px;
    display: inline-block;
    float: right;
    border-radius: 2px;
    color: $white;
    text-align: center;
    letter-spacing: 1.8px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;

    @include transition-sm-med-ease;

    &:hover {
      background-color: $warning-hover;
    }

    img {
      margin-right: 15px;
      vertical-align: middle;
    }
  }

  .test-button {
    background-color: $warning;
  }

  .add-merge-tag {
    background-color: $shamrock;
    float: left;
    margin-left: 0;

    &:hover {
      background-color: $shamrock-hover;
    }
  }

  .remove-merge-tag {
    background-image: url('~img/delete.svg');
    float: right;
    height: 23px;
    width: 23px;

    &:hover {
      background-image: url('~img/delete-active.svg');
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .preview-button {
    background-color: $barney;
    padding: 9px 20px;

    img {
      width: 19px;
      height: 19px;
    }

    &:hover {
      background-color: $barney-hover;
    }

    &.disabled {
      background-color: $alto;

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  .scroll-nav-container {
    .scroll-left-container {
      width: 50%;
      display: inline-block;

      .scroll-to-top {
        font-size: 14px;
        font-weight: bold;
        color: #4a90e2;

        &:hover {
          color: #3E79BE;
          text-decoration: underline;
        }
      }
    }
    .scroll-right-container {
      width: 50%;
      text-align: right;
      display: inline-block;
    }
  }

  .characters-used {
    display: inline-block;
    letter-spacing: 0.2px;
    color: $tundora;

    .amount {
      font-weight: bold;
      margin-left: 4px;
      border-radius: 2px;
      padding: 1px 8px;
      color: #ffffff;
      background-color: $alto;

      &.warning {
        background-color: $warning;
      }

      &.danger {
        background-color: $danger;
      }
    }
  }

  .warning {
    color: $buttercup;
    font-size: 14px;
    font-weight: bold;
  }

</style>
