<template>
  <div class="main-container">
    <span role="button" class="add-block" @click="createNewSequence"></span>
      <div class="sk-folding-cube" v-if="!sequencesLoaded">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
    <p v-if="!table.rows.length && sequencesLoaded" class="no-sequences">You haven't created a sequence yet. Get Started by clicking the plus sign <span>[+]</span> above. Let's make magic happen!<br><img v-svg-src="MakeMagic"></p>
    <SectionTable
      v-if="table.rows.length"
      :table="table"
      :actionChange="actionChange"
      :toggleEnabled="toggleEnabled"
      :tableStyles="tableStyles"
      :nameClick="openSequenceDetails"
    />
  </div>
</template>

<script>

import SectionTable from 'components/Sections/SectionTable'

import api from 'api'
import { alerts, modals, appInitializer } from 'helpers'
import { sequencesStore, accountStore } from 'stores'

import MakeMagic from 'img/make-magic.svg'

export default {
  components: {
    SectionTable,
    MakeMagic
  },
  computed: {
    dropdownItems () {
      let items = [
        { value: 'select', label: 'Select Action' },
        { value: 'report', label: 'View Report' },
        { value: 'duplicate', label: 'Duplicate' },
        { value: 'edit', label: 'Edit' },
        { value: 'pause', label: 'Deactivate / Pause' },
        { value: 'resume', label: 'Activate / Resume' },
        { value: 'clear', label: 'Clear Candidates' },
        { value: 'delete', label: 'Delete' }
      ]
      if (this.accountStore.account.is_sourced_req_admin) {
        items.push({ value: 'copy-to-account', label: 'Copy to Account' })
      }
      return items
    }
  },
  mounted () {
    let debugOptions = {
      debugData: [],
      debugTimeout: 100
    }

    // Check if we have jobs from the store, if not, call the api
    this.sequences = sequencesStore.get().sequences
    if (this.sequences.length < 1) {
      api.ajax('sequences/', null, debugOptions)
      .done((response) => {
        console.log('response ', response)
        sequencesStore.init(response)
        this.sequences = sequencesStore.get().sequences
        this.sequencesLoaded = true
      })
    } else {
      this.sequencesLoaded = true
    }
  },
  data () {
    return {
      table: {
        head: [
          '',
          'name',
          'steps',
          'assets',
          'actions'
        ],
        rows: [],
        dropdownItems: [],
        selectedItem: { value: 'select' }
      },
      tableStyles: {
        containerStyles: { 'margin-top': '29px' },
        headStyles1: { 'text-align': 'left' },
        colStyles1: { 'text-align': 'left' },
        headStyles2: { 'text-align': 'center', width: '10%' },
        colStyles2: { 'text-align': 'center', width: '10%' }
      },
      sequencesLoaded: false,
      MakeMagic: MakeMagic,
      sequences: [],
      accountStore: accountStore.get()
    }
  },
  watch: {
    sequences: {
      handler (val, oldVal) {
        this.makeTable()
      },
      deep: true
    }
  },
  methods: {
    makeTable () {
      let rows = []
      $(this.sequences).map(function (key, value) {
        let row = {
          'cols': [
            false,
            '',
            '',
            [
              {
                'name': 'jobs',
                'value': 0
              },
              {
                'name': 'pages',
                'value': 0
              },
              {
                'name': 'lists',
                'value': 0
              }
            ]
          ]
        }
        $(value).map(function (k, v) {
          if (v.id) {
            row.id = v.id
          }
          if (v.enabled) {
            row.cols[0] = v.enabled
          }

          row.cols[1] = v.name ? v.name : 'Untitled'

          if (v.steps) {
            row.cols[2] = v.steps.length
          }
          if (v.req_ids) {
            row.cols[3][0].value = v.req_ids.length
          }
          if (v.landing_page_ids) {
            row.cols[3][1].value = v.landing_page_ids.length
          }
          if (v.list_ids) {
            row.cols[3][2].value = v.list_ids.length
          }
        })
        rows.push(row)
      })
      this.table.rows = rows
      this.table.dropdownItems = this.dropdownItems
    },
    openSequenceDetails (id) {
      this.$router.push({ path: `/outreach/sequences/${id}` })
    },
    actionChange (item, id) {
      let value = item.value.toLowerCase()

      this.table.selectedItem = { value: 'select' }

      if (value === 'edit') {
        this.openSequenceDetails(id)
      }
      if (value === 'delete') {
        this.deleteSequence(id)
      }
      if (value === 'duplicate') {
        this.duplicateSequence(id)
      }
      if (value === 'clear') {
        this.clearCandidates(id)
      }
      if (value === 'report') {
        this.$router.push({ path: `/reports/sequences/${id}` })
      }
      if (value === 'pause') {
        this.confirmToggle(false, id)
      }
      if (value === 'resume') {
        this.confirmToggle(true, id)
      }
      if (value === 'copy-to-account') {
        this.copyToAccount(id)
      }
    },
    copyToAccount (id) {
      modals.show({
        component: 'copyToAccountModal',
        props: {
          sequence_ids: [id]
        }
      })
    },
    enableSequence (id) {
      api.ajax(`sequences/${id}/unpause`)
      .done(() => {
        let newSequence = sequencesStore.getSequence(id)
        newSequence.enabled = true
        sequencesStore.updateSequences([newSequence])
        this.sequences = sequencesStore.get().sequences
        this.makeTable()

        alerts.show({
          message: "You're off to the races  — you successfully activated your sequence. Steps in your sequence will start or continue to send!",
          status: 'success'
        })
      })
      .fail(() => {
        this.makeTable()

        alerts.show({
          message: 'Uh oh — there was an error activating your sequence. Please refresh the page, and try again. Sorry for the inconvenience!',
          status: 'error'
        })
      })
    },
    disableSequence (id) {
      api.ajax(`sequences/${id}/pause`)
      .done(() => {
        let newSequence = sequencesStore.getSequence(id)
        newSequence.enabled = false
        sequencesStore.updateSequences([newSequence])
        this.sequences = sequencesStore.get().sequences
        this.makeTable()

        alerts.show({
          message: 'You successfully paused all candidates in your sequence. Steps in your sequence will remain deactivated until you resume your sequence.',
          status: 'success'
        })
      })
      .fail(() => {
        this.makeTable()

        alerts.show({
          message: 'Whoopsie — there was an error deactivating your sequence. Please refresh the page, and try again. Sorry for the inconvenience!',
          status: 'error'
        })
      })
    },
    toggleEnabled (value, id) {
      this.confirmToggle(value, id)
      // this.$store.dispatch("toggleCampaignEnabled" , {id: id})
    },
    confirmToggle (enabled, id) {
      let message = `Deactivating your sequence pauses all scheduled delivery of steps to candidates. Activating your sequence after disabling it will continue delivery of scheduled steps.  Do you want to proceed?`
      let confirmText = 'Yes, deactivate it!'
      let confirmFunc = this.disableSequence
      if (enabled) {
        message = `Activating your sequence sets it into action, and starts the delivery of its scheduled steps to candidates. All unsaved changes will also be saved. Do you want to proceed?`
        confirmText = 'Yes, activate it!'
        confirmFunc = this.enableSequence
      }
      modals.show({
        component: 'Confirm',
        props: {
          message: message,
          confirmText: confirmText,
          cancelText: 'Cancel',
          confirm: () => {
            confirmFunc(id)
          },
          cancel: () => {
            this.makeTable()
          }
        }
      })
    },
    createNewSequence (e) {
      this.$router.push({ path: `/outreach/sequences/new` })
    },
    deleteSequence (id) {
      // TODO: probably need a way to delete multiple sequences when there is a bulk actions dropdown

      // Get sequence for the name
      let sequence = sequencesStore.getSequence(id)

      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to delete your sequence ”${sequence.name}” from Happie? Once deleted, it will stop sending to all the candidates in this sequence.`,
          confirmText: 'Yes, delete it!',
          cancelText: 'Cancel',
          confirm: () => {
            api.ajax(`sequences/${id}`, {
              type: 'DELETE'
            })
            .done(() => {
              // Remove sequence from our local data
              sequencesStore.deleteSequences([id])
              this.sequences = sequencesStore.get().sequences

              // Any pages that were attached to the deleted sequence need to be updated so they can be attached to other sequences now, so clear the store
              appInitializer.clearStores(['pagesStore'])

              alerts.show({
                message: 'Okie dokie — you successfully deleted your sequence. It won’t be sending to candidates anymore. We hope you found the right candidate!',
                status: 'success'
              })
            })
            .fail(() => {
              alerts.show({
                message: 'Whoopsie! For some reason, there was an error deleting your sequence. Please refresh the window, and try again. Sorry for the inconvenience!',
                status: 'error'
              })
            })
          }
        }
      })
    },
    duplicateSequence (id) {
      let sequence = $.extend(true, {}, sequencesStore.getSequence(id))

      // Clear attached page ids because pages can only be attached to one sequence
      sequence.landing_page_ids = []

      // Add copy
      sequence.name += ' - copy'

      // Delete the id
      delete sequence.id

      // Delete all the step ids
      $.each(sequence.steps, (index, step) => {
        delete sequence.steps[index].id
      })

      // Turn off the sequence
      sequence.enabled = false

      // Delete the lists
      sequence.list_ids = []

      api.ajax('sequences/', {
        type: 'POST',
        data: sequence
      })
      .done((response) => {
        console.log(response)

        // Add the new sequence to our sequences store in the background and refresh the table
        // Remove reference from response so we can store it without it updating in the panel
        let newSequence = $.extend(true, {}, response)
        sequencesStore.addSequences([newSequence])
        this.sequences = sequencesStore.get().sequences

        this.openSequenceDetails(response.id)
      })
      .fail((e) => {
        console.error('error duplicating sequence ', e)
      })
    },
    clearCandidates (id) {
      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to clear candidates from this sequence? This will remove all candidates from the sequence. If you reactivate your sequence after clearing candidates, all associated canididates will start at the first step of the sequence.`,
          confirmText: 'Clear candidates!',
          cancelText: 'Cancel',
          confirm: () => {
            api.ajax(`sequences/${id}/clear/`)
            .done(() => {
              alerts.show({
                message: 'You successfully cleared candidates from this sequence! All scheduled messages to candidates in this sequence are now canceled.',
                status: 'success'
              })
            })
            .fail(() => {
              alerts.show({
                message: 'Whoopsie! There was an error clearing candidates from your sequence. Please try again, and accept our apology for the inconvenience!',
                status: 'error'
              })
            })
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .sk-folding-cube {
    margin-top: 60px;
  }

  .sk-folding-cube .sk-cube:before {
    background-color: $dove-gray;
  }

  .add-block {
    background-image: url('~img/add-block.svg');
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 61px;
    height: 61px;

    &:hover {
      background-image: url('~img/add-block-active.svg');
    }
  }

  .no-sequences {
    display: block;
    margin: auto;
    margin-top: 32px;
    width: 643px;
    font-size: 24px;
    text-align: center;
    color: $dove-gray;

    span {
      font-weight: 800;
    }

    img {
      margin-top: 35px;
    }
  }

</style>
