<template>
  <div class="main-container">
    <span role="button" class="add-block" @click="createNewTemplate"></span>
      <div class="sk-folding-cube" v-if="!dataLoaded">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
    <p class="no-templates-container" v-if="!table.rows.length && dataLoaded">
      You haven't created a template yet. Get Started by clicking the plus sign <span>[+]</span> above. Let's make magic happen!
      <img v-svg-src="MakeMagic">
    </p>
    <SectionTable
      v-if="table.rows.length"
      :table="table"
      :actionChange="actionChange"
      :toggleEnabled="toggleEnabled"
      :tableStyles="tableStyles"
      :nameClick="openTemplateDetails"
    />
  </div>
</template>


<script>
import SectionTable from 'components/Sections/SectionTable'

import api from 'api'
import { alerts, modals } from 'helpers'
import { templatesStore } from 'stores'

import MakeMagic from 'img/make-magic.svg'

export default {
  components: {
    SectionTable
  },
  mounted () {
    let debugOptions = {
      debugData: [],
      debugTimeout: 100
    }

  // Check if we have templates from the store, if not, call the api
    this.templates = templatesStore.get().templates
    if (this.templates.length < 1) {
      api.ajax('templates/all', null, debugOptions)
    .done((response) => {
      console.log('response from templates ', response)

      let editableTemplates = $.grep(response, (template) => {
        return template.template_source != 'sendwithus'
      })

      templatesStore.init(editableTemplates)

      this.templates = templatesStore.get().templates
      this.dataLoaded = true
    })
    .fail((e) => {
      console.error('Error getting templates ', e)
    })
    } else {
      this.dataLoaded = true
    }
  },
  data () {
    return {
      table: {
        head: [
          '',
          'name',
          'description',
          'type',
          'actions'
        ],
        rows: [],
        dropdownItems: [
          { value: 'select', label: 'Select Action' },
          { value: 'edit', label: 'Edit' },
          { value: 'duplicate', label: 'Duplicate' },
          { value: 'delete', label: 'Delete' }
        ],
        selectedItem: { value: 'select' }
      },
      tableStyles: {
        containerStyles: { 'margin-top': '29px' },
        headStyles0: {
          display: 'none'
        },
        colStyles0: {
          display: 'none'
        },
        headStyles1: {
          'text-align': 'left',
          width: '30%'
        },
        colStyles1: {
          'text-align': 'left',
          width: '30%'
        },
        headStyles2: {
          'text-align': 'center',
          width: '30%'
        },
        colStyles2: {
          'text-align': 'left',
          width: '30%'
        },
        headStyles3: {
          width: '10%'
        },
        colStyles3: {
          width: '10%'
        },
        headStyles4: {
          width: '20%'
        },
        colStyles4: {
          width: '20%'
        }
      },
      dataLoaded: false,
      templates: [],
      MakeMagic
    }
  },
  computed: {
  },
  watch: {
    templates: {
      handler (val, oldVal) {
        this.makeTable()
      },
      deep: true
    }
  },
  methods: {
    makeTable () {
      let rows = []
      $(this.templates).map(function (key, value) {
        let row = {
          'cols': [
            true,
            '',
            '',
            ''
          ]
        }
        $(value).map(function (k, v) {
          if (v.id) {
            row.id = v.id
          }
          row.cols[1] = v.name || 'Untitled'
          row.cols[2] = v.description || ''
          row.cols[3] = v.template_type.toUpperCase() || ''
        })
        rows.push(row)
      })
      this.table.rows = rows
    },
    openTemplateDetails (id) {
      this.$router.push({ path: `templates/${id}` })
    },
    actionChange (item, id) {
      let value = item.value.toLowerCase()

      this.table.selectedItem = { value: 'select' }

      if (value === 'edit') {
        this.openTemplateDetails(id)
      }
      if (value === 'delete') {
        this.deleteTemplate(id)
      }
      if (value === 'duplicate') {
        this.duplicateTemplate(id)
      }
    },
    duplicateTemplate (id) {
      // Grab the template to duplicate and remove reference
      let template = $.extend(true, {}, templatesStore.getTemplate(id))

    // Change name to a copy
      template.name += ' - copy'

    // Delete the id
      delete template.id

    // Post the duplicated template
      api.ajax(`templates/${template.template_type}`, {
        type: 'POST',
        data: template
      })
      .done((response) => {
        console.log(response)

      // Push the duplicated template into the store
        templatesStore.addTemplates([response])

        this.openTemplateDetails(response.id)
      })
      .fail((e) => {
        console.error('error duplicating template ', e)
      })
    },
    deleteTemplate (id) {
      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to delete your template? Doing this will make it unavailable to you and your teammates, and you’ll no longer be able to use it in your sequences.`,
          confirmText: 'Yes, delete it!',
          cancelText: 'Cancel',
          confirm: () => {
            api.ajax(`templates/${id}`, {
              type: 'DELETE'
            })
            .done(() => {
              // Remove template from store
              templatesStore.deleteTemplates([id])

            // Update the list view
              this.templates = templatesStore.get().templates

              alerts.show({
                message: `You successfully deleted your template! You and your teammate will no longer be able to use this template in your sequences.`,
                status: 'success'
              })
            })
            .fail(() => {
              alerts.show({
                message: `Whoops! There was an error deleting your template. Please refresh your page, and try again. Sorry for the inconvenience!`,
                status: 'error'
              })
            })
          }
        }
      })
    },
    createNewTemplate () {
      this.$router.push({ path: `templates/new` })
    },
    toggleEnabled () {
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  // Let panel grow so we only have scrolling on whole main-container
  .panel {
    max-height: inherit;
  }

  .sk-folding-cube {
    margin-top: 60px;
  }

  .sk-folding-cube .sk-cube:before {
    background-color: $dove-gray;
  }

  .add-block {
    background-image: url('~img/add-block.svg');
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 61px;
    height: 61px;

    &:hover {
      background-image: url('~img/add-block-active.svg');
    }
  }

  .no-templates-container {
    display: block;
    margin: auto;
    margin-top: 32px;
    width: 643px;
    font-size: 24px;
    text-align: center;
    color: $dove-gray;

    span {
      font-weight: 800;
    }

    img {
      margin-top: 35px;
    }
  }
</style>
