<template>
  <div class="main-container" @scroll="handleScroll" ref="mainContainer">
    <ScrollNav :showNav="showNav">
      <span class="scroll-left-container">
        <span class="scroll-to-top" role="button" @click="scrollToTop">Template Settings</span>
      </span>
      <span class="scroll-right-container">
        <span role="button" class="template-delete-button" @click="deleteTemplate"></span>
        <span role="button" class="template-save-button" @click="saveTemplate">
          <img v-svg-src="saveImg">
          SAVE
        </span>
      </span>
    </ScrollNav>

    <div class="padding-container">
      <ContentNavHeader label="Back to All Templates" backPath="/outreach/templates" />
      <div class="panel options-panel">
        <div class="options-header">
          <span class="options-header-block">
            <h1 class="i-b">Template Settings</h1>
            <img v-bind:class="{'i-b collapse-arrow': true, 'options-open': !settingsCollapsed}" v-svg-src="upArrowImg" @click="collapseSettings" role="button"></img>
          </span>
          <span class="options-header-block right">
            <span role="button" class="template-delete-button" @click="deleteTemplate"></span>
            <span role="button" class="template-save-button" @click="saveTemplate">
              <img v-svg-src="saveImg">
              SAVE
            </span>
          </span>
        </div>

        <div v-show="!settingsCollapsed" class="options-controls">
          <hr />

          <div class="i-b width-half">
            <h2>
              Template Name
              <Tooltip content="You can use <i>templates</i> to save messages and insert them as editable steps in your sequences. Templates help you and your teammates easily reuse boilerplate copy (that means “words” in recruitment marketing-speak), so you don’t have to reinvent the wheel every time you create a new sequence. Use merge tags in your templates to ensure that your messages are personalized." :customStyles="tooltipStyles" />
            </h2>
            <CustomInput
              :icon="templateIcon"
              placeholder="Enter a name for your template..."
              :containerStyles="nameContainerStyles"
              :customStyles="nameCustomStyles"
              v-if="template"
              v-model="template.name"
              customId="test-templates-input"
            />
          </div>
          <div class="i-b width-half">
            <h2>Description</h2>
            <CustomTextArea
              placeholder="Enter a description for your template..."
              :containerStyles="descriptionContainerStyles"
              :customStyles="descriptionCustomStyles"
              v-if="template"
              v-model="template.description"
              customId="test-templates-text-area"
            />
          </div>

        </div>

      </div>

      <div class="panel panel-bottom" v-if="templateLoaded">
        <Tablist
          :tabs="composeTabs"
          :selectedTab="activeComposeTab"
          :customStyles="tablistStyles"
          @change="tabChange"
        />

        <!-- Three different containers for different tabs -->
        <!-- Email Container -->
        <div role="tabpanel" class="compose-container" v-show="activeComposeTab === 0">
          <h1>Subject</h1>
          <CustomInput
            placeholder="Enter a subject line..."
            :containerStyles="sendToContainerStyles"
            :customStyles="sendToCustomStyles"
            v-model="template.subject"
            customId="test-templates-input-subject"
          />
          <h1>
            Content
            <Tooltip :content="contentTooltip" :customStyles="tooltipStyles" />
          </h1>
          <RichTextEditor
            :content="template.html"
            :onChange="htmlChanged"
            :height="185"
          />
          <span class="test-button" @click="testTemplateEmail" role="button">
            <img v-svg-src="sendEmail">
            TEST
          </span>
          <span :class="{'preview-button': true, 'disabled': !template.html || !template.subject}" role="button" @click="previewClick">
            <img v-svg-src="previewButton">
            PREVIEW
          </span>
        </div>

        <!-- SMS Container -->
        <div role="tabpanel" class="compose-container" v-show="activeComposeTab === 1">
          <h1>Content</h1>
          <RichTextEditor
            :content="template.text"
            :onChange="textChanged"
            :plainText="true"
            :height="90"
          />
          <div class="characters-used">
            <span :class="{'amount': true, 'warning': template.text.length>105, 'danger': template.text.length>120}">{{120 - template.text.length}}</span>
          </div>
          <span class="test-button" @click="testTemplateText" role="button">
            <img v-svg-src="sendEmail">
            TEST
          </span>
        </div>

        <!-- Notification Container -->
        <!-- <div role="tabpanel" class="compose-container" v-show="activeComposeTab === 2">
          <h1>Notifications</h1>
        </div> -->

      </div>
    </div>

  </div>
</template>

<script>
import CustomInput from 'components/FormElements/CustomInput'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import Tablist from 'components/Tools/Tablist'
import RichTextEditor from 'components/Tools/RichTextEditor'
import Tooltip from 'components/Tools/Tooltip'
import ContentNavHeader from 'components/Tools/ContentNavHeader'
import ScrollNav from 'components/Tools/ScrollNav'

import deepEqual from 'deep-equal'
import api from 'api'
import { alerts, modals, mergeTagsParser } from 'helpers'
import { templatesStore, metadataStore, organizationStore, mergeTagsStore, accountStore } from 'stores'

import saveImg from 'img/save-white.svg'
import templateIcon from 'img/template.svg'
import emailImg from 'img/email.svg'
import smsImg from 'img/sms.svg'
// import clockImg from 'img/clock.svg'
import emailActiveImg from 'img/email-active.svg'
import smsActiveImg from 'img/sms-active.svg'
// import clockActiveImg from 'img/clock-active.svg'
import sendEmail from 'img/send-email.svg'
import upArrowImg from 'img/up-arrow.svg'
import previewButton from 'img/job-modal-preview.svg'

export default {
  components: {
    CustomInput,
    CustomTextArea,
    RichTextEditor,
    Tablist,
    Tooltip,
    ContentNavHeader,
    ScrollNav
  },
  computed: {
    userIsTransactional () {
      return this.accountStore.account.is_transactional
    },
    contentTooltip () {
      return 'You can use the <i>content</i> of steps in your templates to craft and personalize your emails to candidates.<br><br>You can use merge tags in Happie to customize your templates with dynamic content, like a candidate’s name. Merge tags may look scary at first, but they’re the secret to personalizing your messages to candidates. Drop one into your message by selecting the merge tag button — <b>{{ }}</b> — in the formatting bar or simply typing two brackets (“{{“) to view and choose from a full list of available merge tags. We’ll take care of the rest!'
    },
    composeTabs () {
      let composeTabs = [
        { title: 'Email', image: emailImg, activeImage: emailActiveImg }
        // {title: "Notification", image: clockImg, activeImage: clockActiveImg}
      ]
      if (this.organizationStore.organization.sms_enabled && !this.userIsTransactional) {
        composeTabs.push({ title: 'SMS Text', image: smsImg, activeImage: smsActiveImg })
      }
      return composeTabs
    },
    activeComposeTab () {
      switch (this.template.template_type) {
        case 'email':
          return 0
        case 'sms':
          return 1
      }
    }
  },
  data () {
    return {
      organizationStore: organizationStore.get(),
      mergeTagsStore: mergeTagsStore.get(),
      accountStore: accountStore.get(),
      showNav: false,
      scrollShowHeight: 62,
      jobsLoaded: false,
      sequencesLoaded: false,
      pagesLoaded: false,
      listsLoaded: false,
      templateLoaded: false,
      template: null,
      originalTemplate: null,
      lists: [],
      pages: [],
      jobs: [],
      sequences: [],
      templateIcon,
      emailImg,
      sendEmail,
      upArrowImg,
      saveImg,
      previewButton,
      tablistStyles: {
        width: '90%',
        display: 'inline-block',
        'margin-top': '10px'
      },
      backContainerStyles: {
        display: 'inline-block',
        'margin-top': '35px'
      },
      nameContainerStyles: {
        display: 'inline-block',
        float: 'left'
      },
      nameCustomStyles: {
        width: '300px'
      },
      descriptionContainerStyles: {
        display: 'inline-block',
        float: 'left',
        'margin-bottom': '35px'
      },
      descriptionCustomStyles: {
        width: '300px'
      },
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle',
        'margin-left': '18px'
      },
      sendToContainerStyles: {
        display: 'inline-block',
        width: '100%'
      },
      sendToCustomStyles: {
        width: '100%'
      },
      defaultSignature: { value: 'default' },
      signatureStyles: {
        'margin-bottom': '30px',
        width: '275px',
        'max-width': 'none',
        display: 'inline-block'
      },
      testButtonStyles: {
        width: '113px',
        'min-width': '113px',
        float: 'right',
        'font-size': '16px'
      },
      settingsCollapsed: false
    }
  },
  created () {
    // Check if we are creating a new template
    if (this.$route.path.indexOf('new') !== -1) {
      // set the original to compare to any changes
      this.originalTemplate = {
        id: 'new',
        name: '',
        description: '',
        subject: '',
        html: '',
        text: '',
        template_type: 'email'
      }
      // Remove reference
      let template = $.extend(true, {}, this.originalTemplate)
      this.template = template

      this.templateLoaded = true
    } else {
      // Load the template
      api.ajax(`templates/${this.$route.params.template_id}`)
      .done((response) => {
        console.log(response)

        // Since we pulled from the api, update the templates store in case there is new data
        templatesStore.updateTemplates([response])

        // set the original to compare to any changes
        this.originalTemplate = response

        // Remove reference
        let template = $.extend(true, {}, response)
        this.template = template

        this.templateLoaded = true
      })
      .fail((e) => {
        console.error('error loading template ', e)
      })
    }
  },
  mounted () {
  },
  methods: {
    previewClick () {
      const requestObject = {}
      switch (this.activeComposeTab) {
        case 0:
          if (!this.template.html && !this.template.subject) return
          requestObject.html = mergeTagsParser.parseHTML(this.template.html)
          requestObject.subject = this.template.subject
          requestObject.candidate = this.mergeTagsStore.previewCandidate
          break
        case 1:
          requestObject.text = this.template.text
          requestObject.candidate = this.mergeTagsStore.previewCandidate
          break
      }
      api.ajax('templates/preview', {
        type: 'POST',
        data: requestObject
      })
      .done(response => {
        modals.show({
          component: 'PreviewModal',
          props: {
            hideXout: true,
            preview: response,
            type: 'email',
            containerStyles: {
              width: '576px'
            }
          }
        })
      })
      .fail(e => {
        console.error('preview error ', e)
      })
    },
    scrollToTop () {
      $(this.$refs.mainContainer).animate({
        scrollTop: 0
      }, 250)
    },
    handleScroll (e) {
      let scroll = $(e.target).scrollTop()
      if (scroll >= this.scrollShowHeight) {
        this.showNav = true
      } else {
        this.showNav = false
      }
    },
    deleteTemplate () {
      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to delete your template? Doing this will make it unavailable to you and your teammates, and you’ll no longer be able to use it in your sequences.`,
          confirmText: 'Yes, delete it!',
          cancelText: 'Cancel',
          confirm: () => {
            if (this.template.id === 'new') {
              // Nothing to delete if it's never been saved.
              this.$router.push({ path: `/outreach/templates` })
            } else {
              api.ajax(`templates/${this.template.id}`, {
                type: 'DELETE'
              })
              .done(() => {
                templatesStore.deleteTemplates([this.template.id])

                // Send them back to the list view
                this.$router.push({ path: `/outreach/templates` })

                alerts.show({
                  message: `You successfully deleted your template! You and your teammate will no longer be able to use this template in your sequences.`,
                  status: 'success'
                })
              })
              .fail(() => {
                alerts.show({
                  message: `Whoops! There was an error deleting your template. Please refresh your page, and try again. Sorry for the inconvenience!`,
                  status: 'error'
                })
              })
            }
          }
        }
      })
    },
    collapseSettings () {
      if (this.settingsCollapsed) {
        this.settingsCollapsed = false
      } else {
        this.settingsCollapsed = true
      }
    },
    saveTemplate (options) {
      let isNew = false
      let url = `templates/${this.template.id}`
      let type = 'PUT'

      // Check if we are creating a new template
      if (this.template.id == 'new') {
        isNew = true
        url = `templates/${this.template.template_type}`
        type = 'POST'
      }

      // Parse out unwanted spans
      this.template.html = mergeTagsParser.parseHTML(this.template.html)

      api.ajax(url, {
        type: type,
        data: this.template
      })
      .done((response) => {
        console.log(response)

        // Delete the 'new' id if the POST was successful
        if (isNew) {
          delete this.template.id
        }

        // If it is a new template, push it into the store or update it if it's not new
        if (isNew) {
          templatesStore.addTemplates([response])
        } else {
          templatesStore.updateTemplates([response])
        }

        // Remove reference
        let savedTemplate = $.extend(true, {}, response)
        this.template = savedTemplate

        // Reset our starting template to compare changes to
        this.originalTemplate = response
        metadataStore.setHasUnsavedChanges(false)

        // Change the url to the id of the saved template incase they've created a new one without pushing a new state
        if (!options || !options.ignoreRedirect) {
          this.$router.replace({ path: `/outreach/templates/${this.template.id}` })
        }

        alerts.show({
          message: `You successfully saved your template “${this.template.name}”! You can now insert this template into your sequences.`,
          status: 'success'
        })
      })
      .fail((e) => {
        console.error('error creating template ', e)
        let message = ''
        switch (e.responseText) {
          case '{"name":["This field may not be blank."]}':
            message = 'Uh oh! looks like you forgot to name your template. Please give it a name and try again.'
            break
          case '{"non_field_errors":["The fields name, user must make a unique set."]}':
            message = 'Uh oh! There\'s  already a template with that name. Pick a different one!'
            break
          default:
            message = 'Uh oh! There was an error saving your template. Please try again.'
            break
        }

        alerts.show({
          message: message,
          status: 'error'
        })
      })
    },
    tabChange (index) {
      switch (index) {
        case 0:
          this.template.template_type = 'email'
          break
        case 1:
          this.template.template_type = 'sms'
          break
      }
    },
    htmlChanged (e) {
      this.template.html = e
    },
    textChanged (e) {
      this.template.text = e
    },
    testTemplateEmail () {
      modals.show({
        component: 'PreviewStepModal',
        props: {
          email: {
            subject: this.template.subject,
            html: this.template.html
          },
          canPickSignature: true
        }
      })
    },
    testTemplateText () {
      modals.show({
        component: 'PreviewStepModal',
        props: {
          sms: {
            text: this.template.text
          },
          canPickFromPhone: true
        }
      })
    }
  },
  watch: {
    template: {
      handler (newValue) {
        if (!deepEqual(newValue, this.originalTemplate)) {
          metadataStore.setHasUnsavedChanges(true, this.saveTemplate)
        }
      },
      deep: true
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .main-container{
    padding: 0px;
    padding-bottom: 158px;

    .padding-container {
      padding: 0px 20px;
    }
  }

  .options-panel {
    .options-header {
      padding: 0px;
    }
  }

  .panel {
    padding: 1.0rem 2.0rem;
    margin-bottom: 2.6rem;
    max-height: none;
    overflow: visible;

    &.panel-bottom {
      padding-bottom: 55px;

      h1 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 600;
      }
    }

    &.options-panel {
      .options-controls {
        overflow: visible;
      }
    }

    .bottom-half {
      margin-top: 20px;
    }
  }

  h2 {
    margin: 20px 0;
    height: 16px;

    &.less-margin {
      margin-top: 32px;
      margin-bottom: 10px;
    }
  }

  hr {
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  .template-save-button {
    margin-left: 30px;
    display: inline-block;
    background-color: $turquoise;
    border-radius: 2px;
    color: $white;
    text-align: center;
    letter-spacing: 1.8px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;

    @include transition-sm-med-ease;

    &:hover {
      background-color: $half-baked;
    }

    img {
      margin-right: 15px;
      vertical-align: middle;
    }
  }

  .template-delete-button {
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 27px;
    background-image: url('~img/delete.svg');
    background-repeat: no-repeat;

    &:hover {
      background-image: url('~img/delete-active.svg');
    }
  }

  .create-new {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: $shamrock;

    &::before {
      content: ' ';
      height: 20px;
      width: 20px;
      margin-right: 15px;
      display: inline-block;
      background-image: url('~img/target-green.svg');
      vertical-align: middle;
    }

    &:hover {
      color: $shamrock-hover;
      text-decoration: underline;

      &::before {
        background-image: url('~img/target-green-active.svg');
      }
    }
  }

  .scroll-nav-container {
    .scroll-left-container {
      width: 50%;
      display: inline-block;

      .scroll-to-top {
        font-size: 14px;
        font-weight: bold;
        color: #4a90e2;

        &:hover {
          color: #3E79BE;
          text-decoration: underline;
        }
      }
    }
    .scroll-right-container {
      width: 50%;
      text-align: right;
      display: inline-block;
    }
  }

  .characters-used {
    display: inline-block;
    letter-spacing: 0.2px;
    color: $tundora;

    .amount {
      font-weight: bold;
      margin-left: 4px;
      border-radius: 2px;
      padding: 1px 8px;
      color: #ffffff;
      background-color: $alto;

      &.warning {
        background-color: $warning;
      }

      &.danger {
        background-color: $danger;
      }
    }
  }

  .test-button, .preview-button {
    margin-left: 30px;
    display: inline-block;
    float: right;
    border-radius: 2px;
    color: $white;
    text-align: center;
    letter-spacing: 1.8px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;

    @include transition-sm-med-ease;

    &:hover {
      background-color: $warning-hover;
    }

    img {
      margin-right: 15px;
      vertical-align: middle;
    }
  }

  .test-button {
    background-color: $warning;
  }

  .preview-button {
    background-color: $barney;
    padding: 9px 20px;

    img {
      width: 19px;
      height: 19px;
    }

    &:hover {
      background-color: $barney-hover;
    }

    &.disabled {
      background-color: $alto;

      &:hover {
        cursor: not-allowed;
      }
    }
  }

</style>
