.labeled-form {
  text-align: right;

  label {
    color: $dove-gray;
    font-size: 1.4rem;
    font-weight: 600;
  }

  input, textarea {
    width: 275px;
    margin-left: 29px;
  }

  .form-row {
    margin-bottom: 20px;
  }

  .form-tooltip-container {
    position: relative;
    display: inline;
  }

}
