
button {
  cursor: pointer;
	border: none;
  font-family: 'Open Sans', sans-serif;

	// Remove "normal" button attributes like borders and focus, although we should add some sort of focus back in for accessibility
	border: 0;
  margin: 0;
  padding: 0;
  &:focus {
    outline: 0;
  }
}

[role="button"], [role="tab"], .clickable {
	cursor: pointer;
}

// Form elements
input, textarea, [contenteditable="true"] {
	font-family: 'Open Sans', sans-serif;
	color: $tundora;
  background: $white;

	min-height: 4.0rem;
	border-radius: 4px;
	border: 1px solid $gallery;
	padding: 0.4rem 1.8rem;
	font-size: 1.2rem;
	line-height: 1.2rem;

  @include transition-sm-ease;

	&:focus {
		@include input-focus();
	}
  &:disabled {
    background-color: $gallery;
  }
}

textarea {
  min-height: 90px;
  resize: none;

  line-height: 2.0rem;
  padding: 1rem 1.8rem;

  vertical-align: top;
}


select {
	position: relative;

	font-family: 'Open Sans', sans-serif;
	color: $tundora;
	background: url("~img/select-arrows.svg");
	background-repeat: no-repeat;
	background-position: right 6px center;

	// TODO: Verify appearance on IE
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

	padding: 1.2rem 3.1rem 1.2rem 1.1rem;

	border-radius: 4px;
	border: 1px solid $gallery;
	font-size: 1.2rem;
	line-height: 1.2rem;

	&:focus {
		@include input-focus();
	}

}

// Custom list button that can be optionally deleted
.list-button {
	color: $white;
	background-color: $half-baked;

	font-weight: 200;
	border-radius: 4px;
	padding: 6px 24px;

	@include i-b();

	button {
		@include i-b();
		margin-right: 12px;
		margin-top: 2px;

		width: 10px;
		height: 10px;

		background: url("~img/x-out-white.svg");
		background-position: center center;
		background-size: cover;
	}
}

// Google maps location dropdown
.pac-container.pac-logo {
	width: 225px !important;
}
