// Content panels
.main-container {
  padding: 2.0rem;
	position: relative;

	overflow: auto;

	background-color: $alabaster;

  float: right;
  width: calc(100% - #{$side-nav-width});
  height: calc(100% - #{$total-header-height});

}

.panel {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;

	min-height: 5.5rem;
	background-color: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

// Sub-panel for options
.options-panel {
  padding: 1.0rem 2.0rem;
  margin-bottom: 2.6rem;

  .options-header-icon {
    margin-right: 15px;
  }

  .options-header {
    padding: 0.6rem 0;

    .options-header-block {
      width: 50%;
      @include i-b();
      vertical-align: middle;

      // TODO:
      &.right {
        text-align: right;
      }
    }

    .collapse-arrow {
      padding: 5px;
      transform: rotate(0deg);
      @include transition-sm-ease;
      &.options-open {
        transform: rotate(180deg);
      }
    }

    h1 {
      margin-right: 2.5rem;
    }
    .save-button {
      margin: 0 2.0rem;
    }
    .toggle-aligner {
      margin-top: 0.5rem;
    }

  }

  // For animations
  .options-controls {
    overflow: hidden;
    height: 100%;
    max-height: 600px;
    transition: all 1s;
  }
  // Animations
  .options-enter {
    max-height: 0px !important;
    opacity: 0 !important;
  }
  .options-enter-active {
    max-height: 999px;
    opacity: 1;
    transition: all 1s;
  }
  .options-leave {
    max-height: 600px;
    opacity: 1;
  }
  .options-leave-active {
    max-height: 0;
    opacity: 0;
  }


  input[type='text'] {
    width: 25.7rem;
  }
}
