// App structure styles
html {
	font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;

	background: $alabaster;

  // Use border-box throughout;
  * {
    box-sizing: border-box;
  }

	overflow-x: hidden;
}

body {
  font-weight: 400;
  font-size: 1.2rem;
  color: $dove-gray;
}

.app-container {
  height: 100%;
  width: 100%;
}

// Make app size of screen
html, body, #app {
  height: 100%;
  width: 100%;
}

h1 {
	font-size: 1.4rem;
	font-weight: 600;
	margin: 0;
}

h2 {
	font-size: 1.4rem;
	font-weight: 400;
	margin: 0;
}

hr {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid $mystic;
}

a {
  @include green-link;
  color: $havelock;

  &:hover {
    color: $denim;
  }
}
