// Color names via http://chir.ag/projects/name-that-color

// Grays
$alabaster: #f9f9f9;
$mystic: #dce3eb;
$alto: #d8d8d8;
$gallery: #eeeeee;
$tundora: #4a4a4a;
$dove-gray: #666666;
$dusty-gray: #9b9b9b;
$gray: #8c8c8c;
$border-gray: #e0e7ee;
$none-gray: #ccd1d6;

// Reds
$red: #ff0000;
$bittersweet: #ff686c;

// Greens
$cool-green: #3acc4f;
$shamrock: #37d67a;
$shamrock-hover: #2eb869;
$turquoise: #50e3c2;
$turquoise-hover: #80c7c8;

// Blues
$fiord: #445870;
$malibu: #88bfff;
$havelock: #4990e2;
$denim: #1e69bf;
$polar: #f2f7fc;

// Yellows
$buttercup: #f5a623;

// Teals
$half-baked: #80c7c8;

// Purples
$violet: #bd0fe1;
$barney: #9012fe;
$barney-hover: #7B10D8;

// Orange
$warning: #ffcf7e;
$warning-hover: #e1b66d;

// Red
$danger: #ff686c;
$danger-hover: #d0011b;

// Whites
$catskill: #eef2f6;
$catskill-nav: #e7edf3;

// Base colors
$white: #ffffff;
$black: #000000;
