$header-height: 45px;
$banner-height: 76px;
$total-header-height: $header-height + $banner-height;

$side-nav-width: 245px;
$sub-side-nav-width: 210px;

$find-candidates-filters-width: 250px;
$candidate-buttons-height: 76px;
$candidate-modal-width: 471px;

$conversations-width: 250px;

$inbox-buttons-height: 50px;
