@mixin blank-button {
  border: 0;
  margin: 0;
  padding: 0;
  &:focus {
    outline: 0;
  }
}

@mixin v-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin i-b() {
  display: inline-block;
  vertical-align: top;
}

@mixin circle-img() {
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

@mixin input-focus($color: $turquoise) {
	outline: none;
	box-shadow: 0px 0px 8px 0px $color;
}

@mixin grow-hover {
  transition: all .1s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin green-link {
  color: $shamrock;
  text-decoration: none;
  font-weight: 700;

  @include transition-sm-med-ease;

  &:hover {
    text-decoration: underline;
    color: $shamrock-hover;
    cursor: pointer;
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

// Timing functions
// DEBUG
@mixin transition-test {
  transition: all 60s ease-in-out, visibility 0s;
}
@mixin transition-sm-ease {
  transition: all .1s ease-in-out, visibility 0s;
}
@mixin transition-sm-med-ease {
  transition: all .25s ease-in-out, visibility 0s;
}
@mixin transition-med-ease {
  transition: all .5s ease-in-out, visibility 0s;
}
@mixin transition-quad {
  transition: all 1s cubic-bezier(0.550, 0.055, 0.675, 0.190), visibility 0s;
  transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}
