@import "~styles/variables";

// Include library styles
@import "~lib/styles/normalize";
@import "~lib/froala/froala.scss";
@import "~lib/styles/notify.scss";
@import "~lib/styles/select2.scss";
@import "~lib/styles/selectric.scss";

@import "~styles/base";
@import "~styles/components/inputs";
@import "~styles/components/panels";
@import "~styles/components/forms";
@import "~styles/components/links";
@import "~styles/components/tooltips";


// Reusable classes
// TODO: Break into separate file?
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.text-left {
  text-align: left;
}
.text-centered {
  text-align: center;
}
.text-bold {
  font-weight: bold;
}
.i-b {
	display: inline-block;
	vertical-align: top;
}
.width-half {
	width: 50%;
}
// TODO: Kind of gross using this, might want to rethink panel layout
.relative-positioner {
	position: relative
}
.v-align {
  @include v-align();
}
.clickable {
	cursor: pointer;
}

.create-new {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: $shamrock;

  @include transition-sm-med-ease;

  &::before {
    content: ' ';
    height: 20px;
    width: 20px;
    margin-right: 15px;
    display: inline-block;
    background-image: url('~img/target-green.svg');
    vertical-align: middle;
  }

  &:hover {
    color: $shamrock-hover;
    text-decoration: underline;

    &::before {
      background-image: url('~img/target-green-active.svg');
    }
  }
}

.filter-collapse {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: $dove-gray;
  border-bottom: 1px solid $border-gray;
  padding: 0px 18px 7px 18px;

  img {
    @include transition-sm-ease;
    margin-top: 5px;
    margin-left: 10px;
    transform: rotate(0deg);

    &.options-open {
      transform: rotate(180deg);
    }
  }
}

.targeted-jobs, .lists {
  margin-top: 15px;

  .job, .list {
    padding: 4px 12px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: $white;
    background-color: $half-baked;
    border-radius: 2px;
    margin-right: 10px;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.preferred-contact {
  background-color: $shamrock;
  border: solid 1px $alabaster;
	color: $white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  margin: 0 13px 11px;
  padding: 6px 8px;
}

.preferred-contact-badge {
	color: $white !important;
	background-color: $shamrock;
	border-radius: 2px;
	padding: 2px 6px;

  + span .additional-info {
    // background-color: $shamrock;
    margin-top: -4px;
  }

  &.phone-link + span .additional-info {
    margin-top: -2px;
  }

}

.do-not-contact {
  color: $white;
  background-color: $danger;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  border-radius: 2px;
  margin-right: 10px;
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
	text-transform: uppercase;
  margin-top: 20px;
}

.none {
  color: $none-gray;
  font-style: italic;
  font-weight: normal;
}

.top-image {
  border: solid 1px;
  border-color: $mystic;
}

.preview-container {
  .profile-image {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 125px;
    height: 125px;
    border: solid 1px $border-gray;
    @include circle-img();
  }

  .linkedin {
    width: 16.1px;
    height: 16.3px;
    margin-right: 14px;
  }

	.facebook {
		width: 10px;
		height: 16.3px;
	}

  .resume {
    width: 12.8px;
    height: 16.3px;
    margin-right: 14px;
  }

  .additional-info {
    color: $white;
    border-radius: 50%;
    background-color: $turquoise;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    position: absolute;
    margin-left: 5px;
    margin-top: -2px;
  }

  .emails {
    text-align: left;
    margin-top: 10px;
    width: 90%;

    @include green-link;

    img {
      width: 15.9px;
      height: 10px;
      margin-right: 10px;
    }
  }

  .phones {
    text-align: left;
    margin-top: 10px;

    .other-phones {
      color: $white;
      border-radius: 50%;
      background-color: $turquoise;
      width: 20px;
      height: 20px;
      display: inline-block;
      text-align: center;
      line-height: 20px;
      font-size: 11px;
      position: absolute;
			margin-left: 5px;
      margin-top: -5px;
    }

    img {
      margin-right: 5px;
    }

    .mobile {
      vertical-align: middle;
      display: inline-block;
      width: 47.5%;
      margin-right: 5%;
      text-overflow: none;
      white-space: nowrap;

      a {
        @include green-link;
      }
    }

    .phone {
      vertical-align: middle;
      display: inline-block;
      width: 47.5%;
      text-overflow: none;
      white-space: nowrap;

      a {
        @include green-link;
      }
    }
  }
}

// Shared settings panel styles
.app-settings-container {
  background-color: $catskill;

  // TODO: Figure out why this is needed to fix bug on notifications panel
  overflow-y: hidden;

  h2 {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 2.0rem;
  }

  .settings-panel {
    margin-left: $sub-side-nav-width;
    width: calc(100% - #{$sub-side-nav-width});

    // Hack to get padding to work on ff
    // src: http://stackoverflow.com/questions/10722367/bottom-padding-not-working-on-overflow-element-in-non-chrome-browsers
    padding: 3.0rem 3.0rem 0 3.0rem;
    &> *:last-child {
      margin-bottom: 3.0rem;
    }

    &.extra-padding {
      padding: 5.5rem 19.7rem 0 19.7rem;
      &> *:last-child {
        margin-bottom: 5.5rem;
      }
    }

  }

  .settings-panel-aligner {
    width: 665px;
    margin-left: auto;
    margin-right: auto;
  }


  .top-image {
    width: 141px;
    height: 141px;
    margin: 0 auto;

    // Fixes bug on chrome
    z-index: 1;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    border-radius: 50%;
    position: relative;
    overflow: hidden;

    .change-overlay {
      position: absolute;
      top: 141px;
      padding-top: 6px;
      font-weight: 300;

      background-color: $havelock;
      color: white;

      height: 141px;
      width: 100%;

      @include transition-sm-ease;
    }

    &:hover {
      .change-overlay {
        top: 105px;
      }
    }
  }

  .hidden-image-upload {
    visibility: hidden;
  }

  .inputs-container {
    margin: 2.9rem auto 0 auto;
    max-width: 300px;
    text-align: left;
  }

  .add-field-container {
    margin-bottom: 20px;
    text-align: center;

    img {
      width: 41px;
      height: 41px;
      @include transition-sm-med-ease;

      &:hover, &:focus {
        @include input-focus;
      }
    }
  }

}

// Overrides if we're in modal mode
.app-settings-container {
  &.is-modal {
    background-color: $white;
    width: 100%;

    .settings-panel {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .panel {
      box-shadow: none;

      // TODO: Make sure this padding is okay, right now just needed so box-shadows don't get cut off
      padding: 8px;
    }
  }
}

// styles for emails and phones in text messages
.message {
  .text {
    a {
      color: $white;
      font-weight: normal;
      text-decoration: underline;

      @include transition-sm-med-ease;

      &::after {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        background-image: url('~img/add-button.svg');
        margin-left: 3px;
      }

      &:hover {
        cursor: pointer;
        text-decoration: none;

        &::after {
          background-image: url('~img/add-button-hover.svg');
        }
      }
    }
  }
}

.add-to-candidate-container {
  position: absolute;
  z-index: 100;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  background-color: $white;

  span {
    padding: 9px 5px;
    color: $turquoise;
    display: block;
    letter-spacing: 0.2px;
    font-weight: 600;

    @include transition-sm-med-ease;

    &:first-child {
      border-bottom: solid 0.5px $turquoise;
    }

    &:hover {
      background-color: $turquoise;
      color: $white;
      cursor: pointer;
    }
  }
}

