// Central location to easily keep track of z-index values

@mixin loader-index() {
  z-index: 9999;
}

@mixin modal-body-index() {
  z-index: 100;
}

@mixin modal-button-container-index() {
  z-index: 99;
}

@mixin modal-overlay() {
  z-index: 1000
}

@mixin modal-close() {
  z-index: 1001
}

@mixin multi-select-icon-index() {
  z-index: 900;
}

@mixin campaign-details-left-index() {
  z-index: 1
}

@mixin sequence-details-left-index() {
  z-index: 1
}

@mixin header-menus-index() {
  z-index: 1001
}
