<template>
  <div class="main-container app-settings-container" :class="{'is-modal': isModal}">
    <SubSideNav v-if="!isModal" />
    <div class="panel settings-panel extra-padding text-centered">
      <div class="relative-positioner">
        <Tooltip content="Think of yourself as an ambassador for your employer brand. Your profile information helps personalize your sequences, share basic information about yourself with candidates who view your open roles, and make certain you receive notifications about candidates you don’t want to miss. Humanize your employer brand, never miss a beat, and make certain to update your profile!" :customStyles="topTooltipStyle"/>
      </div>
      <div class="top-image" role="button" @click="profileImageClick" :style="topImage">
        <div class="change-overlay">Change</div>
        <input
          class="hidden-image-upload"
          type="file"
          ref="uploadInput"
          @change="imageUploadChange"></input>
      </div>
      <div class="inputs-container">
        <form @submit="onSubmit">
          <h2>Basic Info</h2>
          <CustomInput
            v-model="tempAccount.first_name"
            :custom-styles="inputStyle"
            :icon="personName"
            placeholder="First Name">
          </CustomInput>
          <CustomInput
            v-model="tempAccount.last_name"
            :custom-styles="inputStyle"
            :icon="personName"
            placeholder="Last Name">
          </CustomInput>
          <CustomInput
            v-model="tempAccount.title"
            :custom-styles="inputStyle"
            :icon="title"
            placeholder="Title">
          </CustomInput>
          <CustomInput
            v-model="tempAccount.linkedin_url"
            :custom-styles="inputStyle"
            :icon="linkedIn"
            placeholder="LinkedIn URL">
          </CustomInput>
          <CustomInput
            v-model="userAddress.street_address_1"
            :custom-styles="inputStyle"
            :icon="location"
            placeholder="Street Address 1">
          </CustomInput>
          <CustomInput
            v-model="userAddress.street_address_2"
            :custom-styles="inputStyle"
            :icon="location"
            placeholder="Street Address 2">
          </CustomInput>
          <CustomInput
            v-model="userAddress.city"
            :custom-styles="inputStyle"
            :icon="location"
            placeholder="City">
          </CustomInput>
          <CustomInput
            v-model="userAddress.state"
            :custom-styles="inputStyle"
            :icon="location"
            placeholder="State">
          </CustomInput>
          <CustomInput
            v-model="userAddress.postal_code"
            :custom-styles="inputStyle"
            :icon="location"
            placeholder="Postal Code">
          </CustomInput>
          <CustomSelect
            :items="timezones"
            :selected="tempAccount.timezone"
            :onChange="(item) => {timezoneChange(item)}"
            :customStyles="inputStyle"
            selectIcon="clock">
          </CustomSelect>
          <h2>Contact Info</h2>
          <CustomInput
            v-model="tempAccount.email"
            :custom-styles="inputStyle"
            :icon="email"
            :disabled="true"
            placeholder="Email">
          </CustomInput>
          <div class="input-with-tooltip">
            <CustomInput
              v-model="tempAccount.send_to_email"
              :custom-styles="inputStyle"
              :icon="email"
              placeholder="Preferred Email">
            </CustomInput>
            <Tooltip content="You can set your <i>Preferred Email Address</i> to change where Happie sends email notifications. It's also the address that Happie will use, by default, when you create a sequence. If you don't sign into Happie using your work email address, you'll likely want to set it!" :customStyles="inlineTooltipStyles" />
          </div>
          <CustomInput
            v-model="tempAccount.reply_to_email"
            :custom-styles="inputStyle"
            :icon="email"
            placeholder="Default Reply-To Email">
          </CustomInput>
          <CustomInput
            v-model="tempAccount.phones[0].number"
            custom-class="phone-number-input"
            :custom-styles="inputStyle"
            :icon="mobile"
            placeholder="Phone Number">
          </CustomInput>
          <CustomInput
            v-if="this.adminStore.is_system_admin"
            :custom-styles="inputStyle"
            :icon="passwordIcon"
            type="password"
            v-model="passwordField"
            placeholder="Password">
          </CustomInput>
          <CustomInput
            v-if="this.adminStore.is_system_admin"
            :custom-styles="inputStyle"
            :icon="passwordIcon"
            type="password"
            :invalid="!passwordMatch"
            v-model="confirmPasswordField"
            placeholder="Reset Password">
          </CustomInput>
          <p class="password-match" v-show="passwordField && passwordMatch">Passwords Match!</p>
          <p class="password-do-not-match" v-show="passwordField && !passwordMatch">Passwords do not match!</p>


          <!-- Custom Fields on hold for now

            <div class="add-field-container">
              <img role="button" v-svg-src="addBlockImg" alt="add field" tabindex="0"></img>
            </div>

          -->
          <AttentionButton text="SAVE" :custom-styles="{'width': '100%'}" type="submit" />
        </form>
      </div>
    </div>
  </div>
</template>


<script>
import SubSideNav from 'components/SubSideNav'
import CustomInput from 'components/FormElements/CustomInput'
import CustomSelect from 'components/FormElements/CustomSelect'
import AttentionButton from 'components/FormElements/AttentionButton'
import Tooltip from 'components/Tools/Tooltip'

import api from 'api'

import accountPlaceholder from 'img/account-placeholder.svg'
import personName from 'img/settings/person-name.svg'
import title from 'img/settings/title.svg'
import linkedIn from 'img/settings/linkedin.svg'
import email from 'img/settings/email.svg'
import mobile from 'img/settings/mobile.svg'
import addBlockImg from 'img/add-block.svg'
import location from 'img/settings/location.svg'
import passwordIcon from 'img/settings/password.svg'

import { accountStore, metadataStore, usersStore, timezonesStore, adminStore } from 'stores'

import { alerts, copyObj, modals, profileImageStyle, addProtocol } from 'helpers'

export default {
  components: {
    SubSideNav,
    CustomInput,
    CustomSelect,
    AttentionButton,
    Tooltip
  },
  created () {
    this.tempAccount = copyObj(this.accountStore.account)
    // Need to add this in to phones doesn't mess up if we don't have phone numbers
    if (!this.tempAccount.phones ||
    (this.tempAccount.phones && this.tempAccount.phones.length < 1)) {
      this.tempAccount.phones = [{ type: '', number: '' }]
    }
    // TODO: maybe use moment to guess the timezone of the browser if they don't have on set?
    if (!this.tempAccount.timezone) {
      this.tempAccount.timezone = 'UTC'
    }
  },
  mounted () {
    // If we're in a modal, we might define a selector to highlight
    if (this.focusSelector) {
      modals.focusSelector(this.focusSelector)
    }

    // Handlers will fire when data is updated, so on initial mount reset unsaved changes
    setTimeout(() => {
      metadataStore.setHasUnsavedChanges(false)
    })
  },
  data () {
    return {
      inputStyle: {
        width: '100%',
        'margin-bottom': '20px',
        'max-width': '100%'
      },
      passwordField: '',
      confirmPasswordField: '',
      location,
      addBlockImg,
      personName,
      title,
      linkedIn,
      email,
      mobile,
      passwordIcon,
      fileReader: new FileReader(),
      accountStore: accountStore.get(),
      adminStore: adminStore.get(),
      timezonesStore: timezonesStore.get(),
      tempAccount: {},
      dataFields: {
        first_name: true,
        last_name: true,
        emails: true,
        send_to_email: true,
        reply_to_email: true,
        title: true,
        linkedin_url: true,
        phones: true,
        profile_photo_url: true,
        timezone: true,
        addresses: true
      },
      topTooltipStyle: {
        position: 'absolute',
        top: '-32px',
        left: '-173px'
      },
      inlineTooltipStyles: {
        position: 'absolute',
        right: '-40px',
        top: '8px'
      }
    }
  },
  computed: {
    passwordMatch () {
      return this.passwordField === this.confirmPasswordField
    },
    topImage () {
      return profileImageStyle(this.tempAccount.profile_photo_url, accountPlaceholder)
    },
    userAddress () {
      if (this.tempAccount.addresses.length) {
        return this.tempAccount.addresses[0]
      } else {
        this.tempAccount.addresses = [{
          street_address_1: '',
          street_address_2: '',
          city: '',
          state: '',
          postal_code: ''
        }]
        return this.tempAccount.addresses[0]
      }
    },
    timezones () {
      return this.timezonesStore.formattedTimezones
    }
  },
  watch: {
    accountStore: {
      handler (value) {
        this.tempAccount = copyObj(value.account)
        // Need to add this in to phones doesn't mess up if we don't have phone numbers
        if (this.tempAccount.phones && this.tempAccount.phones.length < 1) {
          this.tempAccount.phones = [{ type: '', number: '' }]
        }
      },
      deep: true
    },
    tempAccount: {
      handler (value) {
        metadataStore.setHasUnsavedChanges(true, this.onSubmit)
      },
      deep: true
    }
  },
  methods: {
    timezoneChange (item) {
      this.tempAccount.timezone = item.value
    },
    onSubmit (e) {
      e.preventDefault()
      let url = `users/${this.tempAccount.id}`
      let data = copyObj(this.tempAccount)

      // Adding 'https://' protocol to Linkedin url
      data.linkedin_url = addProtocol(data.linkedin_url)

      // Loop over data and delete anything not in our `dataFields` map
      $.each(data, (key, value) => {
        if (!this.dataFields[key]) {
          delete data[key]
        }
      })
      if (this.passwordField && this.passwordMatch) {
        data.password = this.passwordField
      } else if (this.passwordField && !this.passwordMatch) {
        alerts.show({
          message: 'Could not save password. Please make sure your passwords match in both the password fields.',
          status: 'error'
        })
        return
      }

      api.ajax(url, {
        data: data,
        type: 'PATCH'
      })
      .done((response) => {
        console.log('response from save user')
        metadataStore.setHasUnsavedChanges(false)
        accountStore.init({ user: this.tempAccount })

        alerts.show({
          message: 'Great! You successfully updated your profile.',
          status: 'success'
        })

        // After saving, refresh user list (don't show loader) to make sure our updated account user is reflected in
        // full users list
        api.ajax('users', {
          disableOverlay: true
        })
        .done((response) => {
          usersStore.init(response)

          setTimeout(() => {
            metadataStore.setHasUnsavedChanges(false)
          })
        })
        .fail(() => {
          console.error('Failed to get users after updating account info')
        })
      })
      .fail((error) => {
        console.error('Error saving user ', error)
        alerts.show({
          message: 'Uh-oh, there was an error saving your profile. Please try again.',
          status: 'error'
        })
      })
    },
    profileImageClick () {
      this.$refs.uploadInput.click()
    },
    imageUploadChange (e) {
      if (e.target.files[0]) {
        this.fileReader.onload = () => {
          let files = e.target.files
          var data = new FormData()

        // Note that we should never actually have multiple files,
        // but keep this just in case we want to support multi file upload in the future
          $.each(files, function (key, value) {
            data.append(key, value)
          })

          let url = 'images'
          api.ajax(url, {
            type: 'POST',
            data: data,
            cache: false,
            processData: false, // Don't process the files
            contentType: false // Set content type to false as jQuery will tell the server its a query string request
          })
          .done((response) => {
            metadataStore.setHasUnsavedChanges(false)
            this.tempAccount.profile_photo_url = response.url
          })
          .fail((error) => {
            console.error('Failed to save photo ', error)
          })
        }

      // TODO: Is there a better way to trigger the fileReader.onload event?
        this.fileReader.readAsDataURL(e.target.files[0])
      }
    },
    inputChange (e) {
    // TODO: Remove if not needed anymore
    }
  },
  props: {
    isModal: { required: false, default: false },
    focusSelector: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .top-image {
    background-image: url("~img/account-placeholder.svg");
  }

  .hidden-image-upload {
    visibility: hidden;
  }

  .input-with-tooltip {
    position: relative;
  }
  .password-match {
    color: #005915;
    margin-bottom: 25px;
  }
  .password-do-not-match {
    color: #A80712;
    margin-bottom: 25px;
  }

</style>
