<template>
  <div class="main-container app-settings-container">
    <SubSideNav />
    <div class="panel settings-panel">
      Settings
    </div>
  </div>
</template>


<script>
import SubSideNav from 'components/SubSideNav'
export default {
  components: {
    SubSideNav
  },
  mounted () {
  },
  data () {
    return {
    }
  },
  computed: {
  },
  methods: {
  }
}
</script>
