<template>
  <div :class="{'is-modal': isModal, 'is-dropdown': isDropdown, 'main-container': !isDropdown, 'app-settings-container': !isDropdown}">

    <CustomSelect
      :items="dropdownSignatures"
      :onChange="actionChange"
      :selected="currentDropdown"
      :customStyles="dropdownOnlyStyles"
      v-if="isDropdown"
      :forceRenderAbove="true"
      customId="test-signatures-dropdown"
    />

    <SubSideNav v-if="!isModal && !isDropdown" />
    <div v-if="!isDropdown" class="panel settings-panel">
      <div class="relative-positioner">
        <Tooltip content="You can use email signatures to automatically personalize emails that you and your team members send through Happie. To help you stay on the right side of spam laws, we always require that you use one with your business address and an unsubscribe link. If you don’t select an email signature that you or your team created, we’ll use the Default Signature. Don’t worry — Happie’s got your back!" :customStyles="topTooltipStyle" />
      </div>

      <div class="settings-panel-aligner">

        <div>
          <h2>Edit Signature</h2>
          <CustomSelect
            :items="dropdownSignatures"
            :onChange="actionChange"
            :selected="currentDropdown"
            :customStyles="dropdownStyles"
          />
          <img
            v-svg-src="trashImg"
            role="button"
            class="trash-button"
            alt="delete"
            @click="deleteSignatureClick"
            v-if="currentSignature.name !== 'Default Signature'"
          />
        </div>

        <RichTextEditor :content="currentSignature.html" :onChange="textChanged" :height="200" />

        <p><b>IMPORTANT:</b> Email signatures must always contain <em>your address</em> and <em>an unsubscribe link</em> to comply with the <a target="_blank"  href="https://www.ftc.gov/system/files/documents/plain-language/bus61-can-spam-act-compliance-guide-business.pdf">CAN-SPAM Act</a> enforced by the FTC. Take a look at the Default signature for an example of how to do this.</p>

        <div class="text-centered">
          <PromptButton text="SAVE CHANGES" :onClick="saveSignature" :customStyles="promptButtonStyles"></PromptButton>
        </div>

      </div>
    </div>
  </div>
</template>


<script>
import SubSideNav from 'components/SubSideNav'
import RichTextEditor from 'components/Tools/RichTextEditor'
import CustomSelect from 'components/FormElements/CustomSelect'
import PromptButton from 'components/FormElements/PromptButton'

import trashImg from 'img/trash.svg'

import Tooltip from 'components/Tools/Tooltip'

import api from 'api'
import { signaturesStore, metadataStore } from 'stores'
import { modals, alerts, mergeTagsParser } from 'helpers'

export default {
  components: {
    SubSideNav,
    Tooltip,
    RichTextEditor,
    CustomSelect,
    PromptButton
  },
  mounted () {
    if (this.tempSignatures.length < 1) {
      api.ajax('users/email-signatures', {
      })
      .done((response) => {
        // If we don't have any signatures yet, create the default one
        if (response.length < 1) {
          this.createDefaultSignature()
        } else {
          // Otherwise sync with local store
          signaturesStore.init(response)

          // Wait for temp data to sync before setting default index
          setTimeout(() => {
            this.setDefaultIndex()

            metadataStore.setHasUnsavedChanges(false)
          })
        }
      })
      .fail(() => {
        console.error('Failed to get emails signatures')
      })
    } else {
      this.setDefaultIndex()
    }
  },
  data () {
    return {
      trashImg,
      topTooltipStyle: {
        position: 'absolute',
        top: '-57px',
        left: '-6px'
      },
      promptButtonStyles: {
        'min-width': '275px'
      },
      users: [],
      dropdownStyles: {
        width: '225px',
        float: 'right'
      },
      dropdownOnlyStyles: {
        width: '300px'
      },
      signaturesStore: signaturesStore.get(),
      currentSignatureId: -1
    }
  },
  computed: {
    tempSignatures () {
      return this.signaturesStore.signatures
    },
    dropdownSignatures () {
      let dropdownSignatures = this.tempSignatures.map((value, index) => {
        return {
          value: value.id,
          label: value.name
        }
      })

      // Sort them
      this.sortAlphabetic(dropdownSignatures)

      // Add create block
      dropdownSignatures.unshift({ value: 'create', label: 'Create a New Signature' })

      return dropdownSignatures
    },
    currentDropdown () {
      return {
        value: this.currentSignature.id,
        label: this.currentSignature.name
      }
    },
    currentSignature () {
      let currentSignature = {}
      $.each(this.tempSignatures, (key, value) => {
        if (value.id === this.currentSignatureId) {
          currentSignature = value
          return false
        }
      })

      return currentSignature
    }
  },
  watch: {
    selectedSignature: {
      handler (value) {
        if (value) {
          this.currentSignatureId = this.selectedSignature
        } else {
          this.setDefaultIndex()
        }
      }
    },
    currentSignatureId: {
      handler (value) {
        if (this.signatureChange) {
          this.signatureChange(value)
        }
      }
    }
  },
  methods: {
    createDefaultSignature () {
      this.createSignature('Default Signature')
      .done((response) => {
        signaturesStore.init([response])
        this.setDefaultIndex()
      })
    },
    setDefaultIndex () {
      if (this.selectedSignature) {
        this.currentSignatureId = this.selectedSignature
      } else {
        // Get ID of signature that has default name
        $.each(this.tempSignatures, (key, value) => {
          if (value.name === 'Default Signature') {
            this.currentSignatureId = value.id
            return false
          }
        })
      }
    },
    textChanged (val) {
      if (val !== this.currentSignature.html) {
        metadataStore.setHasUnsavedChanges(true, this.saveSignature)
        this.currentSignature.html = val
      }
    },
    actionChange (action) {
      // Save current id before switch
      let oldId = this.currentSignatureId

      if (action.value === 'create') {
        modals.show({
          component: 'SignatureModal',
          props: {
            confirm: (e) => {
              this.createSignature(e)
            }
          }
        })

        // Kind of a hack to get dropdown to observe a change and then restore the old menu index
        this.currentSignatureId = -1
        this.currentSignatureId = oldId
      } else {
        this.currentSignatureId = parseInt(action.value, 10)
      }
    },
    createSignature (e) {
      // If creating default signature, change text and html
      let text = ''
      let html = ''

      if (e === 'Default Signature') {
        html = `<hr></hr>
        <p style="text-align: center">{{user.address.street_address}}⁠</p>
        <p style="text-align: center">{{user.address.city}}⁠, {{user.address.state}}⁠ </p>
        <p style="text-align: center">Don't want to be recruited by {{company.name}}⁠? <a href="{{unsubscribe}}">Unsubscribe here</a></p>
        `
        text = `{{user.address.street_address}}⁠
        {{user.address.city}}⁠, {{user.address.state}}⁠
        Don't want to be recruited by {{company.name}}⁠? Unsubscribe here: {{unsubscribe}}`
      }

      let promise = api.ajax('users/email-signatures', {
        type: 'POST',
        data: {
          name: e,
          text: text,
          html: html
        }
      })
      .done((response) => {
        this.tempSignatures.push(response)
        signaturesStore.init(this.tempSignatures)

        this.currentSignatureId = response.id

        if (this.isDropdown) {
          modals.show({
            component: 'EditSignatureModal',
            props: {
              selectedSignature: response.id,
              isModal: true,
              containerStyles: {
                width: '735px'
              }
            }
          })
        }
      })
      .fail(() => {
        console.error('Failed to create new email signature')
      })

      return promise
    },
    deleteSignatureClick () {
      modals.show({
        component: 'Confirm',
        props: {
          message: 'Are you sure you want to delete this email signature? Once you delete it, it will no longer be available to either you or your teammates. It isn’t possible to undo it — no backsies!',
          confirm: this.deleteSignature,
          confirmText: 'Yes, delete it!',
          cancelText: 'Cancel'
        }
      })
    },
    deleteSignature (e) {
      let promise = api.ajax(`users/email-signatures/${this.currentSignatureId}`, {
        type: 'DELETE'
      })
      .done((response) => {
        // Find the item we deleted and delete from local data
        $.each(this.tempSignatures, (key, value) => {
          if (value.id === this.currentSignatureId) {
            this.tempSignatures.splice(key, 1)
          }
        })

        signaturesStore.init(this.tempSignatures)

        // Set default index
        this.setDefaultIndex()

        alerts.show({
          status: 'success',
          message: 'Signature successfully deleted.'
        })
      })
      .fail(() => {
        console.error('Failed to delete email signature')
        alerts.show({
          status: 'success',
          message: 'Failed to delete email signature.'
        })
      })

      return promise
    },
    sortAlphabetic (array) {
      // Alphabatize
      return array.sort(function (a, b) {
        let nameA = a.label.toUpperCase() // ignore upper and lowercase
        let nameB = b.label.toUpperCase() // ignore upper and lowercase

      // Always put `default` first
        if (nameA === 'DEFAULT SIGNATURE') {
          return -1
        }
        if (nameB === 'DEFAULT SIGNATURE') {
          return 1
        }

        // Always put `create` last
        if (b.value === 'create') {
          return -1
        }
        if (a.value === 'create') {
          return 1
        }

        // Normal alphabatize check
        if (nameA < nameB) {
          return -1
        }
        if (nameA > nameB || a.value === 'create') {
          return 1
        }
        // names must be equal
        return 0
      })
    },
    saveSignature () {
      let htmlToSave = mergeTagsParser.parseHTML(this.currentSignature.html)

      api.ajax(`users/email-signatures/${this.currentSignature.id}`, {
        type: 'PATCH',
        data: {
          name: this.currentSignature.name,
          text: this.currentSignature.text,
          html: htmlToSave
        }
      })
      .done((response) => {
        signaturesStore.init(this.tempSignatures)
        metadataStore.setHasUnsavedChanges(false)

        alerts.show({
          status: 'success',
          message: 'Nice job - you successfully saved your new email signature! You and your teammates can now use it to personalize your sequences.'
        })
      })
      .fail(() => {
        console.error('Failed to create new email signature')
        alerts.show({
          status: 'error',
          message: 'Uh oh! There was an error saving your signature. Please make certain to include all the require info, and try saving your signature again!'
        })
      })
    }
  },
  props: {
    isModal: { required: false, default: false },
    isDropdown: { required: false, default: false },
    signatureChange: { required: false, default: false },
    selectedSignature: { required: false, default: null }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .is-modal {
    padding-top: 50px;
  }

  .is-dropdown {
    padding: 0px;
    float: none;
    width: auto;
    height: auto;
    display: inline-block;
  }

  .settings-panel {
    padding: 8.0rem 3.0rem 0 3.0rem
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    list-style-type: none;
    padding: 2.6rem 6rem 2.6rem 13.1rem;
    border-bottom: 1px solid $gallery;

    .list-image {
      @include circle-img();
      width: 44px;
      height: 44px;

      position: absolute;
      top: 11px;
      left: 20px;
    }

    .row-contents {
      overflow: hidden;
      white-space: nowrap;
      max-width: 250px;
      display: inline-block;
      text-overflow: ellipsis;
    }

    .delete-list-item {
      position: absolute;
      top: 24px;
      right: 20px;
    }
  }

  h2 {
    display: inline-block;
    vertical-align: top;

    margin-top: 12px;
    color: $dove-gray;
    font-weight: 600;
    font-size: 1.4rem;

    text-transform: none;
    letter-spacing: inherit;

    margin-bottom: 26px;
  }

  p {
    line-height: 1.5;
  }

  .profile-list {
    max-width: 450px;
  }

  .labeled-form {
    margin-top: 30px;
  }

  .trash-button {
    float: right;

    width: 23px;
    height: 23px;

    margin-top: 8px;
    margin-right: 14px;

    @include grow-hover;
  }

</style>
