<template>
  <div class="main-container app-settings-container">
    <SubSideNav />
    <div class="panel settings-panel extra-padding text-centered">
      <div class="relative-positioner">
        <Tooltip :content="orgTooltip" :customStyles="topTooltipStyle"/>
      </div>
      <div class="top-image" role="button" @click="profileImageClick" :style="topImage">
        <div class="change-overlay">Change</div>
        <input
          class="hidden-image-upload"
          type="file"
          ref="uploadInput"
          @change="imageUploadChange"></input>
      </div>
      <div class="inputs-container">
        <form @submit="onSubmit">
          <h2>Basic Info</h2>
          <CustomInput
            v-model="organization.name"
            :custom-styles="inputStyle"
            :icon="organizationImg"
            placeholder="Organization's name">
          </CustomInput>
          <CustomInput
            v-model="organizationAddress.street_address_1"
            :custom-styles="inputStyle"
            :icon="location"
            placeholder="Street Address 1">
          </CustomInput>
          <CustomInput
            v-model="organizationAddress.street_address_2"
            :custom-styles="inputStyle"
            :icon="location"
            placeholder="Street Address 2">
          </CustomInput>
          <CustomInput
            v-model="organizationAddress.city"
            :custom-styles="inputStyle"
            :icon="location"
            placeholder="City">
          </CustomInput>
          <CustomInput
            v-model="organizationAddress.state"
            :custom-styles="inputStyle"
            :icon="location"
            placeholder="State">
          </CustomInput>
          <CustomInput
            v-model="organizationAddress.postal_code"
            :custom-styles="inputStyle"
            :icon="location"
            placeholder="Postal Code">
          </CustomInput>
          <CustomSelect
            :items="industries"
            :custom-styles="inputStyle"
            :icon="industry"
            :onChange="industryChange"
            :selected="formattedIndustry"
            placeholder="Organization's industry">
          </CustomSelect>
          <CustomInput
            v-model="organization.website_url"
            :custom-styles="inputStyle"
            :icon="website"
            placeholder="Organization's website">
          </CustomInput>
          <CustomInput
            v-model="organization.linkedin_url"
            :custom-styles="inputStyle"
            :icon="linkedin"
            placeholder="Organization's LinkedIn page URL">
          </CustomInput>
          <h2 class="relative-positioner">
            Primary contact info
            <Tooltip content="The <i>primary contact</i> for your organization is the person most responsible for maintaining your organization’s use of Happie, including billing information. The person you select as the primary contact will be the first person Happie contacts about updates, upgrades, and issues related to your account." :customStyles="contactTooltipStyle" />
          </h2>
          <CustomInput
            v-model="organization.primary_contact_first_name"
            :custom-styles="inputStyle"
            :icon="personName"
            placeholder="Primary Contact first name">
          </CustomInput>
          <CustomInput
            v-model="organization.primary_contact_last_name"
            :custom-styles="inputStyle"
            :icon="personName"
            placeholder="Primary Contact last name">
          </CustomInput>
          <CustomInput
            v-model="organization.primary_contact_phone"
            :custom-styles="inputStyle"
            :icon="phone"
            placeholder="Primary Contact phone number">
          </CustomInput>
          <CustomInput
            v-model="organization.primary_contact_email"
            :custom-styles="inputStyle"
            :icon="email"
            placeholder="Primary Contact email address">
          </CustomInput>
          <CustomInput
            v-model="organization.reply_to_name"
            :custom-styles="inputStyle"
            :icon="personName"
            placeholder="Default Reply-To Name">
          </CustomInput>
          <CustomInput
            v-model="organization.reply_to"
            :custom-styles="inputStyle"
            :icon="email"
            placeholder="Default Reply-To Email">
          </CustomInput>

          <!-- Custom Fields on hold for now

            <div class="add-field-container">
              <img role="button" v-svg-src="addBlockImg"></img>
            </div>

          -->
          <AttentionButton text="SAVE" :custom-styles="{'width': '100%'}" />
        </form>
      </div>
    </div>
  </div>
</template>


<script>
import SubSideNav from 'components/SubSideNav'
import CustomInput from 'components/FormElements/CustomInput'
import CustomSelect from 'components/FormElements/CustomSelect'
import AttentionButton from 'components/FormElements/AttentionButton'
import Tooltip from 'components/Tools/Tooltip'
import organizationPlaceholder from 'img/company-placeholder.svg'

import { organizationStore, metadataStore, industriesStore } from 'stores'
import { copyObj, alerts, profileImageStyle, addProtocol } from 'helpers'

import organizationImg from 'img/settings/company-name.svg'
import location from 'img/settings/location.svg'
import industry from 'img/settings/industry.svg'
import website from 'img/settings/website.svg'
import linkedin from 'img/settings/linkedin.svg'
import personName from 'img/settings/person-name.svg'
import phone from 'img/settings/phone.svg'
import email from 'img/settings/email.svg'
import addBlockImg from 'img/add-block.svg'

import api from 'api'

export default {
  components: {
    SubSideNav,
    CustomInput,
    CustomSelect,
    AttentionButton,
    Tooltip
  },
  mounted () {
    if (this.organization.id) {
      api.ajax(`organizations/${this.organization.id}`)
      .done(response => {
        organizationStore.setCurrentOrganization(response)
        this.$nextTick(() => {
          metadataStore.setHasUnsavedChanges(false)
        })
      })
      .fail(e => {
        console.log('failed to load full organization', e)
        alerts.show({
          status: 'error',
          message: 'Whoops! There was an error loading you settings. Please refresh the page.'
        })
      })
    }
    setTimeout(() => {
      metadataStore.setHasUnsavedChanges(false)
    })
  },
  data () {
    return {
      inputStyle: {
        width: '100%',
        'min-width': '100%',
        'margin-bottom': '20px'
      },
      addBlockImg,
      organizationImg,
      location,
      industry,
      website,
      linkedin,
      personName,
      phone,
      email,
      fileReader: new FileReader(),
      organizationStore: organizationStore.get(),
      industriesStore: industriesStore.get(),
      topTooltipStyle: {
        position: 'absolute',
        top: '-32px',
        left: '-173px'
      },
      contactTooltipStyle: {
        position: 'absolute',
        top: '-5px',
        left: '200px'
      }
    }
  },
  computed: {
    organizationAddress () {
      if (this.organization.address) {
        return this.organization.address
      } else {
        this.organization.address = {
          street_address_1: '',
          street_address_2: '',
          city: '',
          state: '',
          postal_code: ''
        }
        return this.organization.address
      }
    },
    orgTooltip () {
      return "Your <i>organization settings</i> are used throughout Happie. For example, your logo appears on all of your open jobs. You can also use any setting as a merge tag in any sequence or message. For example, the {{organization.city}} merge tag allows you to dynamically insert your organization's city name into any message. Make certain to fill out as much info as you can — you never know when you'll need it!"
    },
    organization () {
      return this.organizationStore.organization
    },
    industries () {
      return this.industriesStore.industries
    },
    topImage () {
      return profileImageStyle(this.organization.logo_url, organizationPlaceholder)
    },
    formattedIndustry () {
      if (this.organization.industry) {
        return {
          label: this.organization.industry.name || this.organization.industry.label,
          value: this.organization.industry.code || this.organization.industry.value
        }
      } else {
        // Return dummy value that should never match an actual industry
        return { label: '', value: -1 }
      }
    }
  },
  watch: {
    organization: {
      handler (value) {
        metadataStore.setHasUnsavedChanges(true, this.onSubmit)
      },
      deep: true
    },
    'organization.id': {
      handler (value) {
        api.ajax(`organizations/${value}`)
        .done(response => {
          organizationStore.setCurrentOrganization(response)
          this.$nextTick(() => {
            metadataStore.setHasUnsavedChanges(false)
          })
        })
        .fail(e => {
          console.log('failed to load full organization', e)
          alerts.show({
            status: 'error',
            message: 'Whoops! There was an error loading you settings. Please refresh the page.'
          })
        })
      }
    }
  },
  methods: {
    onSubmit (e) {
      e.preventDefault()

      let url = `organizations/${this.organization.id}`
      let data = copyObj(this.organization)
      // Adding 'https://' protocol to Website url and Linkedin Url
      data.website_url = addProtocol(data.website_url)
      data.linkedin_url = addProtocol(data.linkedin_url)

      // Format industry object. If we haven't selected on for our organization, default to first one
      // we get back from API

      if (this.organization.industry) {
        data.industry_code = this.organization.industry.value
      } else if (this.industries.length > 0) {
        data.industry_code = this.industries[0].value
      }

      delete data.industry

      api.ajax(url, {
        data: data,
        type: 'PATCH'
      })
      .done((response) => {
        // Ensure parity after PATCH
        organizationStore.setCurrentOrganization(response)
        alerts.show({
          message: `Woohoo! You successfully saved changes to ${this.organization.name}'s profile. Just so you know — these changes affect everyone in your organization.`,
          status: 'success'
        })

        setTimeout(() => {
          metadataStore.setHasUnsavedChanges(false)
        })
      })
      .fail((error) => {
        console.error('Error saving organization ', error)
        alerts.show({
          message: `Whoopsie — your changes to your organization profile failed to save. Please refresh your browser, and try again. Sorry for the inconvenience!`,
          status: 'error'
        })
      })
    },
    profileImageClick () {
      this.$refs.uploadInput.click()
    },
    imageUploadChange (e) {
      if (e.target.files[0]) {
        this.fileReader.onload = () => {
          let files = e.target.files
          var data = new FormData()

        // Note that we should never actually have multiple files,
        // but keep this just in case we want to support multi file upload in the future
          $.each(files, function (key, value) {
            data.append(key, value)
          })

          let url = 'images'
          api.ajax(url, {
            type: 'POST',
            data: data,
            cache: false,
            processData: false, // Don't process the files
            contentType: false // Set content type to false as jQuery will tell the server its a query string request
          })
          .done((response) => {
            metadataStore.setHasUnsavedChanges(true)
            this.organization.logo_url = response.url
          })
          .fail((error) => {
            console.error('Failed to save photo ', error)
          })
        }

      // TODO: Is there a better way to trigger the fileReader.onload event?
        this.fileReader.readAsDataURL(e.target.files[0])
      }
    },
    industryChange (item) {
      item.value = parseInt(item.value, 10)
      this.organization.industry = item
      metadataStore.setHasUnsavedChanges(true)
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .top-image {
    background-image: url("~img/company-placeholder.svg");
  }

</style>
