<template>
  <div class="main-container app-settings-container" :class="{'is-modal': isModal}">
    <SubSideNav v-if="!isModal" />
    <div :class="{'panel':true, 'settings-panel':true, 'modal':isModal}">
      <div class="relative-positioner">
        <Tooltip content="You can use your <i>Approval Timer</i> settings to control whether pending candidates sourced by Happie are automatically approved after the timer duration expires. Approved candidates will automatically enter the outreach sequence targeted at the open job for which the candidates were sourced. If you deactivate the Approval Timer, you must manually approve each and every candidate, which we don't recommend. You can also increase or decrease the duration of the approval timer to suit your preferences." />
      </div>
      <div class="enable-container">
        <CustomToggle v-model="tempOrganization.sweep_enabled" :customStyles="toggleStyles" />
        <b class="header">APPROVAL TIMER: </b>
        <span v-show="tempOrganization.sweep_enabled" class="delay">{{tempOrganization.sweep_delay}} hours</span>
      </div>
      <div class="vue-slider-container" v-if="tempOrganization.sweep_enabled">

        <!-- TODO: make this slider into a wrapped component -->

        <img v-svg-src="minusSign" />
        <img v-svg-src="plusSign" />
        <VueSlider
          v-model="tempOrganization.sweep_delay"
          :min="2"
          :max="96"
          :height="2"
          :dotSize="20"
          :interval="2"
          tooltip="hover"
          :sliderStyle="sliderStyles"
          :tooltipStyle="sliderTooltipStyles"
          :bgStyle="sliderBgStyles"
          :processStyle="sliderProcessStyles"
          :formatter="`${tempOrganization.sweep_delay} hours`"
        />
      </div>
      <div class="save-container">
        <AttentionButton text="SAVE" :click="saveTimer" :customStyles="{'width': '277px'}" />
      </div>
    </div>
  </div>
</template>

<script>

import SubSideNav from 'components/SubSideNav'
import Tooltip from 'components/Tools/Tooltip'
import CustomToggle from 'components/FormElements/CustomToggle'
import AttentionButton from 'components/FormElements/AttentionButton'

import VueSlider from 'vue-slider-component'

import api from 'api'
import { organizationStore, metadataStore } from 'stores'
import { copyObj, alerts } from 'helpers'

import plusSign from 'img/plus-sign.svg'
import minusSign from 'img/minus-sign.svg'

export default {
  components: {
    SubSideNav,
    Tooltip,
    CustomToggle,
    VueSlider,
    AttentionButton
  },
  created () {
    this.tempOrganization = copyObj(this.organization)
  },
  computed: {
    organization () {
      return this.organizationStore.organization
    }
  },
  data () {
    return {
      plusSign,
      minusSign,
      tempOrganization: {},
      organizationStore: organizationStore.get(),
      toggleStyles: {
        'vertical-align': 'middle',
        display: 'inline-block'
      },
      sliderStyles: {
        backgroundColor: '#ecebee',
        border: 'solid 3px #06d685'
      },
      sliderBgStyles: {
        backgroundColor: '#a8a8a8'
      },
      sliderTooltipStyles: {
        backgroundColor: '#ffffff',
        border: 'solid 2px #06d685',
        color: '#445870',
        borderRadius: '0px',
        width: '60px',
        whiteSpace: 'normal'
      },
      sliderProcessStyles: {
        backgroundColor: '#06d685'
      }
    }
  },
  methods: {
    saveTimer () {
      let data = {}
      data.sweep_enabled = this.tempOrganization.sweep_enabled
      data.sweep_delay = this.tempOrganization.sweep_delay

      api.ajax(`organizations/${this.tempOrganization.id}`, {
        data: data,
        type: 'PATCH'
      })
      .done((response) => {
        organizationStore.setCurrentOrganization(this.tempOrganization)
        alerts.show({
          message: `Woohoo! You successfully saved changes to ${this.tempOrganization.name}'s profile. Just so you know — these changes affect everyone in your organization.`,
          status: 'success'
        })

        setTimeout(() => {
          metadataStore.setHasUnsavedChanges(false)
        })
      })
      .fail((error) => {
        console.error('Error saving organization ', error)
        alerts.show({
          message: `Whoopsie — your changes to your organization profile failed to save. Please refresh your browser, and try again. Sorry for the inconvenience!`,
          status: 'error'
        })
      })
    }
  },
  watch: {
    organization: {
      handler (value) {
        this.tempOrganization = copyObj(value)
      },
      deep: true
    },
    tempOrganization: {
      handler (value) {
        metadataStore.setHasUnsavedChanges(true, this.saveTimer)
      },
      deep: true
    }
  },
  props: {
    isModal: { required: false }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .settings-panel {
    padding: 8px 14px;

    .enable-container {
      margin: 40px 0px;
      padding: 0px 40px;

      .header {
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1.5px;
        color: $dove-gray;
        margin-left: 23px;
      }

      .delay {
        color: $dove-gray;
        letter-spacing: 1px;
        font-weight: normal;
      }
    }

    .vue-slider-container {
      position: relative;
      margin: 0px 50px;
      img {
        position: absolute;
        top: 2px;
        background: #ffffff;
        z-index: 2;

        &:nth-child(2) {
          right: 0;
        }
      }
    }

    .save-container {
      margin-top: 70px;
      text-align: center;
    }
  }
</style>
