<template>
  <div class="main-container app-settings-container" :class="{'is-modal': isModal}">
    <SubSideNav v-if="!isModal" />
    <div :class="{'panel':true, 'settings-panel':true, 'modal':isModal}">
      <div class="relative-positioner">
        <Tooltip content="<i>Users</i> are team members in your company who have accounts on Happie. Users can do things like view reports, manage candidates, create sequences and pages, and more. Recruitment marketing is a team sport — get your colleagues involved!" :customStyles="topTooltipStyle" />
      </div>

      <h2 v-if="isModal && headerText">{{headerText}}</h2>

      <div class="settings-panel-aligner">
        <CustomInput
          v-if="!hideList"
          v-model="searchQuery"
          :icon="searchImg"
          :customStyles="searchInputStyle"
          :containerStyles="containerInputStyles"
          placeholder="Search by name or email..."
        />

        <div class="admin-section" v-if="adminStore.is_company_admin || adminStore.is_system_admin">
          <div>
            <Autocomplete
              v-if="adminStore.is_system_admin"
              placeholder="Search by company..."
              :suggestions="adminStore.companies"
              :viewKeys="['name']"
              :searchKeys="['name']"
              :onSelect="companyChange"
              :containerStyles="selectStyle"
              :selected="selectedCompany"
              :icon="companyIcon"
            />
          </div>
          <div>
            <CustomSelect
              v-if="formattedOrganizations.length"
              :items="formattedOrganizations"
              :custom-styles="selectStyle"
              :icon="companyIcon"
              :onChange="organizationChange"
              placeholder="Organizations"
              :selected="selectedOrganizationId">
            </CustomSelect>
          </div>
        </div>

        <Tablist
          :tabs="tabs"
          :selectedTab="selectedTab"
          :customStyles="tablistStyles"
          @change="tabChange"
        />

        <div role="tabpanel" class="profile-list" v-show="selectedTab === 0 && !hideList">
          <ul @scroll="scrollHandler">
            <li v-for="user, index in filteredUsers" @click="clickHandler(user)" v-if="index < renderAmount + renderLimit">
              <span class="list-image" :style="getProfileImage(user.profile_photo_url)"></span>
              <span class="row-contents">{{user.first_name}} {{user.last_name}}{{ account.id === user.id ? " (you)" : "" }}</span>
            </li>
          </ul>
        </div>

        <div role="tabpanel" class="profile-list" v-show="selectedTab === 1 || hideList">
          <form class="labeled-form" @submit="formSubmit">
            <div class="form-row">
              <label>
                Email(s)
                <CustomInput
                  v-model="composeInvite.emails"
                  :containerStyles="containerInputStyles"
                  placeholder="Enter email address(es) of invitee(s)"
                />
              </label>
              <div class="form-tooltip-container">
                <Tooltip content="You can invite multiple people in your company to join your team on Happie at once by entering multiple email addresses at once, separated by a comma (,)." :customStyles="formTooltipStyle" />
              </div>
            </div>
            <div class="form-row">
              <label>
                Subject
                <CustomInput
                  v-model="composeInvite.subject"
                  :containerStyles="containerInputStyles"
                  placeholder="Enter email subject"
                />
              </label>
              <div class="form-tooltip-container">
                <Tooltip :content="emailTag" :customStyles="formTooltipStyle" />
              </div>
            </div>
            <div class="form-row">
              <label>
                Custom Message
                <CustomTextArea
                  v-model="composeInvite.message"
                  :containerStyles="containerInputStyles"
                  placeholder="(Optional) Add a custom message to the standard invitation to join Happie."
                />
              </label>
              <div class="form-tooltip-container">
                <Tooltip content="You can add a custom message to Happie’s standard invitation emails to encourage your teammates to get on board the Happie recruitment marketing train. Keep it short and sweet — no offence to all the business email essayists out there!" :customStyles="textareaTooltipStyle" />
              </div>
            </div>
            <div class="form-row">
              <PromptButton text="INVITE" :customStyles="promptButtonStyles" type="submit" :onClick="()=>{}" />
            </div>
          </form>
        </div>

    </div>
    </div>
  </div>
</template>


<script>
import SubSideNav from 'components/SubSideNav'
import CustomInput from 'components/FormElements/CustomInput'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import PromptButton from 'components/FormElements/PromptButton'
import CustomSelect from 'components/FormElements/CustomSelect'
import Autocomplete from 'components/FormElements/Autocomplete'

import searchImg from 'img/search.svg'
import companyIcon from 'img/settings/company-name.svg'

// TODO: tooltip content will need to change since we don't have merge tags in MVP

import Tooltip from 'components/Tools/Tooltip'
import Tablist from 'components/Tools/Tablist'

import smallProfile from 'img/small-profile.svg'
import smallProfileActive from 'img/small-profile-active.svg'
import profilePlaceholder from 'img/account-placeholder.svg'

import ticket from 'img/ticket.svg'
import ticketActive from 'img/ticket-active.svg'

import testImg from 'img/profiles/luke.jpg'

import api from 'api'
import { usersStore, companyStore, accountStore, metadataStore, adminStore } from 'stores'
import { alerts, profileImageStyle } from 'helpers'

export default {
  components: {
    SubSideNav,
    CustomInput,
    CustomTextArea,
    Tooltip,
    Tablist,
    PromptButton,
    CustomSelect,
    Autocomplete
  },
  data () {
    return {
      searchQuery: '',
      searchImg,
      companyIcon,
      selectStyle: {
        width: '100%',
        'max-width': '100%',
        'margin-top': '0px',
        'vertical-align': 'middle'
      },
      topTooltipStyle: {
        position: 'absolute',
        top: '-57px',
        left: '-6px'
      },
      formTooltipStyle: {
        position: 'absolute',
        top: '-3px',
        left: '15px'
      },
      textareaTooltipStyle: {
        position: 'absolute',
        top: '10px',
        left: '15px'
      },
      searchInputStyle: {
        'width': '100%'
      },
      containerInputStyles: {
        'display': 'inline-block'
      },
      promptButtonStyles: {
        width: '275px'
      },
      tablistStyles: {
        'max-width': '450px'
      },
      composeInvite: {
        emails: '',
        subject: 'Invitation to join ' + companyStore.get().company.name + ' on Happie',
        message: ''
      },
      selectedTab: 0,
      testImg: testImg,
      accountStore: accountStore.get(),
      usersStore: usersStore.get(),
      companyStore: companyStore.get(),
      adminStore: adminStore.get(),
      selectedCompany: null,
      selectedOrganizationId: 0,
      scrollPadding: 200,
      renderAmount: 0,
      renderLimit: 25
    }
  },
  computed: {
    tabs () {
      const tabs = [
        { title: 'All', image: smallProfile, activeImage: smallProfileActive },
        { title: 'Invite', image: ticket, activeImage: ticketActive }
      ]
      if (this.hideList) {
        tabs.splice(0, 1)
      } else if (this.hideInvite) {
        tabs.splice(1, 1)
      }
      return tabs
    },
    account () {
      return this.accountStore.account
    },
    users () {
      return this.allUsers ? this.adminStore.users : this.usersStore.users
    },
    filteredUsers () {
      // Otherwise filter out users by checking of search query exists in their first or last name
      const filteredUsers = $.grep(this.users, (user) => {
        // Check if search query is in first or last name
        let match = `${user.first_name} ${user.last_name} ${user.email}`
        .toLowerCase()
        .indexOf(this.searchQuery.toLowerCase()) > -1

        // Or if search query is empty, set match to true
        if (!this.searchQuery) {
          match = true
        }

        // If it's all users, check if they have filtered by company and org
        if (this.allUsers) {
          if (this.selectedCompany) {
            if (user.company_id != this.selectedCompany.id) match = false
          }
          if (this.selectedOrganizationId) {
            if (user.current_organization_id != this.selectedOrganizationId) match = false
          }
        }

        // Also filter out non provisional
        if (user.is_provisional) {
          match = false
        }

        return match
      })

      this.renderAmount = 0

      return filteredUsers
    },
    formattedOrganizations () {
      // Format for the dropdown menu
      let dropdown = []
      if (this.selectedCompany) {
        $.each(this.adminStore.organizations, (key, value) => {
          if (this.selectedCompany.id == value.company.id) {
            dropdown.push({ value: value.id, label: value.name })
          }
        })
      }
      dropdown.sort((a, b) => {
        if (a.label < b.label) return -1
        if (a.label > b.label) return 1
        return 0
      })
      if (dropdown.length) {
        dropdown.unshift({ value: 0, label: 'Select Organization' })
      }
      return dropdown
    },

    // TODO - we will need to update the copy for this since we're not letting users have merge tags in MVP

    emailTag () {
      return 'You can customize the subject line of the invitation email, or you can leave it as it is. In case you don’t already know, “{{ company-name }}” is a merge tag. Merge tags help you personalize and insert dynamic content into messages sent from Happie. In this case, {{ company-name }} is a merge tag for, you guessed it, your company’s name.'
    }

  },
  watch: {
    companyStore: {
      handler (newValue) {
        this.composeInvite.subject = 'Invitation to join ' + this.companyStore.company.name + ' on Happie'
      },
      deep: true
    }
  },
  methods: {
    scrollHandler (e) {
      let scroll = $(e.target).scrollTop()
      let totalHeight = e.target.scrollHeight - $(e.target).height() - this.scrollPadding
      if (scroll >= totalHeight) {
        this.renderAmount += this.renderLimit
      }
    },
    companyChange (item) {
      this.selectedCompany = item
      if (!this.selectedCompany) this.selectedOrganizationId = 0
    },
    clickHandler (user) {
      if (this.selectFunction) {
        this.selectFunction(user)
      }
    },
    organizationChange (item) {
      this.selectedOrganizationId = item.value
    },
    getProfileImage (url) {
      return profileImageStyle(url, profilePlaceholder)
    },
    tabChange (index) {
      this.selectedTab = index
    },
    formSubmit (e) {
      e.preventDefault()
      this.sendInviteEmail()
    },
    sendEmail (requestObject) {
      // Send the invite email
      api.ajax('emails/send', {
        type: 'POST',
        data: requestObject
      })
      .done((response) => {
        console.log('response to send email', response)

        // If we have a syntax error in the email, we'll still get a 200, so we need to parse response for error message
        let failCount = 0
        $.each(response.recipients, (key, value) => {
          if (value.status.toLowerCase() != 'queued' && value.status.toLowerCase() != 'sent') {
            failCount++
          }
        })

        if (failCount) {
          alerts.show({
            status: 'error',
            message: `Oh no! For some reason, your invitation to ${requestObject.recipients[0]} to join Happie failed to send. Please make certain the email addresses are separated by commas, and try again.`
          })
        } else {
          alerts.show({
            status: 'success',
            message: "You're off to the races! You successfully invited other team members to join Happie. Recruitment marketing is a team sport!"
          })
          if (this.hideModal) {
            this.hideModal()
          }
        }
      })
      .fail((e) => {
        console.error('failed to send email', e)
        alerts.show({
          status: 'error',
          message: `Oh no! For some reason, your invitations to join Happie failed to send. Please make certain the email addresses are separated by commas, and try again.`
        })
      })
    },
    sendInviteEmail () {
      // Split "to" emails into array
      let recipients = this.composeInvite.emails.split(',')

      let data = {
        count: recipients.length
      }

      // If there is an org id, add it to the data
      if (this.selectedOrganizationId) {
        data.organization_id = this.selectedOrganizationId
      }

      api.ajax('users/get-invitation-code', {
        type: 'GET',
        data: data
      })
      .done((response) => {
        console.log('response from get invite codes', response)

      // Loop through each of the invite codes and send out the emails
        $.each(response, (index, code) => {
          let recipient = recipients[index]

        // Set the invitation url
          let signupUrl = metadataStore.get().url_base + 'outreach/#/login/' + code

          this.sendEmail({
            template_name: 'new_user_invitation',
            recipients: [recipient],
            subject: this.composeInvite.subject,
            substitution_variables: {
              'invite': {
                'message': this.composeInvite.message,
                'sign_up_url': signupUrl
              }
            }
          })
        })
      })
      .fail((e) => {
        console.error('failed to get invite codes', e)
        alerts.show({
          status: 'error',
          message: `Oh no! For some reason, your invitations to join Happie failed to send. Please make certain the email addresses are separated by commas, and try again.`
        })
      })
    }
  },
  props: {
    isModal: { required: false, default: false },
    hideList: { required: false },
    hideInvite: { required: false },
    selectFunction: { required: false },
    hideModal: { required: false },
    headerText: { required: false },
    allUsers: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .settings-panel {
    padding: 8.0rem 3.0rem 0 3.0rem;

    &.modal {
      width: 100%;

      .settings-panel-aligner {
        width: 100%;
      }
    }
  }

  h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.13;
    text-transform: none;
    letter-spacing: 0px;
  }

  ul {
    margin: 0;
    padding: 0;
    height: 300px;
    overflow: auto;
  }

  li {
    position: relative;
    list-style-type: none;
    padding: 2.6rem 6rem 2.6rem 13.1rem;
    border-bottom: 1px solid $gallery;

    .list-image {
      @include circle-img();
      width: 44px;
      height: 44px;

      position: absolute;
      top: 11px;
      left: 20px;
    }

    .row-contents {
      overflow: hidden;
      white-space: nowrap;
      max-width: 250px;
      display: inline-block;
      text-overflow: ellipsis;
      line-height: 1.4rem;
    }
  }

  .profile-list {
    max-width: 450px;

    li {
      @include transition-sm-med-ease;

      &:hover {
        cursor: pointer;
        background-color: #f7f8f9;
      }
    }
  }

  .labeled-form {
    margin-top: 30px;
  }

  .admin-section {
    div {
      display: inline-block;
      width: 45%;
      margin-right: 5%;
      margin-top: 20px;
    }
  }

</style>
