<template>
  <div class="main-container app-settings-container">
    <SubSideNav />
    <div class="panel settings-panel">
        <Tooltip content="You can use <i>notifications</i> to help you stay on top of the activities in Happie that you care about most. Get notified by either email or SMS text mesage, as frequently or infrequently as you see fit. SMS notifications are only availalbe for the most frequent (“As It Happens”) notifications. Also, be sure to set your mobile phone number on your profile to make certain you get your SMS notifications. You don’t want to miss out!" />

      <div class="settings-panel-aligner extra-padding">
        <form @submit="submit">
          <div class="header-row">
            <div class="col-1">
              <h2>NOTIFY ME WHEN</h2>
            </div>
            <!-- <div class="col-2">
              <span>Email</span>
            </div>
            <div class="col-3">
              <span>SMS</span>
            </div>
            <div class="col-4">
              <span>Frequency</span>
            </div> -->
          </div>
          <div class="input-row">
            <CustomToggle
              :toggleEnabled="e => {update(e, 'interest')}"
              :value="!this.tempAccount.notification_filters.includes('interest')" />
              <span class="row-description">Candidates express interest in jobs</span>
          </div>
          <div class="input-row">
            <div>
            <!-- <div class="col-1"> -->
              <CustomToggle
                :toggleEnabled="(e) => {update(e, 'apply')}"
                :value="!this.tempAccount.notification_filters.includes('apply')" />
              <span class="row-description">Candidates apply to jobs</span>
            </div>
            <!-- <div class="col-2">
              <CustomCheckbox :checked="true" :disableMargin="true" />
            </div>
            <div class="col-3">
              <CustomCheckbox :checked="false" :disableMargin="true" />
            </div>
            <div class="col-4">
              <CustomSelect :onChange="onChange" :items="digestDropdownItems" :selected="{value: -1}" :customStyles="dropdownStyles" />
            </div> -->
          </div>

          <div class="input-row">
            <div>
            <!-- <div class="col-1"> -->
            <CustomToggle
              :toggleEnabled="(e) => {update(e, 'reply')}"
              :value="!this.tempAccount.notification_filters.includes('reply')" />
              <span class="row-description">Candidates reply to messages</span>
            </div>
            <!-- <div class="col-2">
              <CustomCheckbox :checked="true" :disableMargin="true" />
            </div>
            <div class="col-3">
              <CustomCheckbox :checked="false" :disableMargin="true" />
            </div>
            <div class="col-4">
              <CustomSelect :onChange="onChange" :items="digestDropdownItems" :selected="{value: -1}" :customStyles="dropdownStyles" />
            </div> -->
          </div>

          <div class="input-row">
            <div>
            <!-- <div class="col-1"> -->
              <CustomToggle
                :toggleEnabled="(e) => {update(e, 'sign_up')}"
                :value="!this.tempAccount.notification_filters.includes('candidate_sign_up')" />
              <span class="row-description">Candidates sign up for updates</span>
            </div>
            <!-- <div class="col-2">
              <CustomCheckbox :checked="true" :disableMargin="true" />
            </div>
            <div class="col-3">
              <CustomCheckbox :checked="false" :disableMargin="true" />
            </div>
            <div class="col-4">
              <CustomSelect :onChange="onChange" :items="digestDropdownItems" :selected="{value: -1}" :customStyles="dropdownStyles" />
            </div> -->
          </div>

          <div class="input-row">
            <div>
            <!-- <div class="col-1"> -->
              <CustomToggle
                :toggleEnabled="(e) => {update(e, 'mention')}"
                :value="!this.tempAccount.notification_filters.includes('mention')" />
              <span class="row-description">Teammate @mentions you</span>
            </div>
            <!-- <div class="col-2">
              <CustomCheckbox :checked="true" :disableMargin="true" />
            </div>
            <div class="col-3">
              <CustomCheckbox :checked="false" :disableMargin="true" />
            </div>
            <div class="col-4">
              <CustomSelect :onChange="onChange" :items="digestDropdownItems" :selected="{value: -1}" :customStyles="dropdownStyles" />
            </div> -->
          </div>
          <div class="input-row">
            <CustomToggle
              :toggleEnabled="e => {update(e, 'digest')}"
              :value="!this.tempAccount.notification_filters.includes('digest')" />
              <span class="row-description">Bi-weekly candidate digest</span>
          </div>

          <!-- <div class="action-link-row">
            <span class="link-button" role="button" @click="setMobileNumberClick">Set my mobile phone number</span>
          </div>

          <div class="input-row">
            <h2>Send All Digests At</h2>
            <CustomSelect :onChange="onChange" :items="timeItems" :selected="{value: -1}" :customStyles="dropdownStyles" />
            <span class="time-label">EST (GMT -0500)</span>
          </div>

          <div class="input-row">
            <h2>Send All Weekly Digests On</h2>
            <CustomSelect :onChange="onChange" :items="dayItems" :selected="{value: -1}" :customStyles="dropdownStyles" />
          </div> -->

          <div class="save-row">
            <AttentionButton text="SAVE CHANGES" :custom-styles="saveButtonStyles" type="submit" />
          </div>

        </form>
      </div>
    </div>
  </div>
</template>


<script>
import SubSideNav from 'components/SubSideNav'
import CustomToggle from 'components/FormElements/CustomToggle'
import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import CustomSelect from 'components/FormElements/CustomSelect'
import AttentionButton from 'components/FormElements/AttentionButton'
import Tooltip from 'components/Tools/Tooltip'

import { metadataStore, accountStore, usersStore } from 'stores'
import { alerts, modals, copyObj } from 'helpers'

import api from 'api'

// import moment from 'moment'
// import momentTimezone from 'moment-timezone'

export default {
  components: {
    SubSideNav,
    CustomToggle,
    CustomCheckbox,
    CustomSelect,
    AttentionButton,
    Tooltip
  },
  data () {
    return {
      dropdownStyles: {
        display: 'inline-block',
        width: '150px'
      },
      saveButtonStyles: {
        width: '280px'
      },
      digestDropdownItems: [
        { value: 'daily', label: 'Daily Digest' },
        { value: 'weekly', label: 'Weekly Digest' },
        { value: 'now', label: 'As it Happens' }
      ],
      tempAccount: {},
      metadataStore: metadataStore.get(),
      accountStore: accountStore.get()
    }
  },
  computed: {
    timeItems () {
      return this.metadataStore.timeOptions
    },
    dayItems () {
      return this.metadataStore.dayOptions
    }
  },
  created () {
    this.tempAccount = copyObj(this.accountStore.account)
  },
  mounted () {
  },
  watch: {
    accountStore: {
      handler (value) {
        this.tempAccount = copyObj(value.account)
      },
      deep: true
    },
    tempAccount: {
      handler (value) {
        metadataStore.setHasUnsavedChanges(true, this.submit)
      },
      deep: true
    }
  },
  methods: {
    update (value, key) {
      if (value) {
        // NOTE: I'm sorry
        this.tempAccount.notification_filters = this.tempAccount.notification_filters.filter(filter => filter !== key)
      } else {
        this.tempAccount.notification_filters.push(key)
      }
    },
    submit (e) {
      e.preventDefault()

      const url = `users/${this.accountStore.account.id}`
      api.ajax(url, {
        type: 'PATCH',
        data: {
          notification_filters: this.tempAccount.notification_filters
        }
      })
      .done((response) => {
        console.log('response from save user', response)
        metadataStore.setHasUnsavedChanges(false)
        accountStore.init({ user: this.tempAccount })

        alerts.show({
          status: 'success',
          message: 'Great! You successfully updated your profile.'
        })

        // After saving, refresh user list (don't show loader) to make sure our updated account user is reflected in
        // full users list
        api.ajax('users', {
          disableOverlay: true
        })
        .done((response) => {
          usersStore.init(response)

          setTimeout(() => {
            metadataStore.setHasUnsavedChanges(false)
          })
        })
        .fail(() => {
          console.error('Failed to get users after updating account info')
        })
      })
      .fail((error) => {
        console.error('Error saving user', error)
        alerts.show({
          status: 'error',
          message: 'Uh-oh, there was an error saving your notification settings. Please try again.'
        })
      })
    },
    onChange () {

    },
    setMobileNumberClick () {
      modals.show({
        component: 'SettingsProfilePanel',
        props: {
          focusSelector: '.phone-number-input'
        }
      })
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .settings-panel-aligner {
    margin-top: 8.0rem;
  }

  h2 {

    color: $dove-gray;
    font-weight: 600;
    font-size: 1.4rem;

    text-transform: none;
    letter-spacing: inherit;

  }

  .header-row {
    h2 {
      display: inline-block;
      vertical-align: top;
    }
    span {
      @include i-b;
    }
  }

  .input-row {

    margin-bottom: 22px;

    .custom-checkbox-container {
      @include i-b;
    }

    .col-1 {
      padding-top: 10px;
    }

    .col-2, .col-3 {
      padding-top: 12px;
    }
  }

  .row-description {
    @include i-b;
    margin-left: 8px;
    margin-top: 4px;
  }

  .col-1, .col-2, .col-3, .col-4 {
    @include i-b;
    text-align: center;
  }

  .col-1 {
    text-align: left;
    width: 45%;
  }
  .col-2 {
    width: 7.5%
  }
  .col-3 {
    width: 7.5%
  }
  .col-4 {
    width: 40%
  }

  .action-link-row {
    margin: 24px 0;
    text-align: center;
  }

  .time-label {
    @include i-b;
    margin-top: 15px;
    margin-left: 10px;
  }

  .save-row {
    text-align: center;
    margin: 53px 0 140px 0;
  }

// TODO: Remove this when the rest of the notification stuff gets enabled.
  .extra-padding {
    padding: 0 19rem;
    &> *:last-child {
      margin-bottom: 5.5rem;
    }
  }

</style>
