<template>
<div class="main-container app-settings-container">
  <SubSideNav />
  <div class="panel settings-panel">
    Fields Settings
  </div>
</div>
</template>


<script>
import SubSideNav from 'components/SubSideNav'
export default {
  components: {
    SubSideNav
  },
  data () {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang='scss' scoped>
@import "~styles/variables";
</style>
