<template>
  <div class="comments">
    <span
      role="button"
      @mouseover="() => {commentsImg = commentsHoverIcon}"
      @mouseleave="() => {commentsImg = commentsIcon}"
      @click="commentClickHandler"
    >
      <img v-svg-src="commentsImg" />
      <template v-if="candidate">
      <span v-if="candidate.comment_count" class="comment-count">{{candidate.comment_count}}</span>
    </template>
    <template v-else-if="sourcedReq">
      <span v-if="sourcedReq.comment_count" class="comment-count">{{sourcedReq.comment_count}}</span>
    </template>
    </span>
  </div>
</template>

<script>

import { candidateHelper, sourcedReqHelper } from 'helpers'

import commentsIcon from 'img/comments.svg'
import commentsHoverIcon from 'img/comments-hover.svg'

export default {
  data () {
    return {
      commentsIcon,
      commentsHoverIcon,
      commentsImg: commentsIcon
    }
  },
  methods: {
    commentClickHandler () {
      console.log(this.sourcedReq)
      if (this.candidate) {
        candidateHelper.openCandidateComments.apply(this, [this.candidate])
      } else if (this.sourcedReq) {
        sourcedReqHelper.openComments.apply(this)
      }
    }
  },
  props: {
    candidate: { required: false },
    sourcedReq: { required: false }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .comments {
    .comment-count {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $turquoise;
      color: #ffffff;
      display: inline-block;
      position: absolute;
      text-align: center;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0.2px;
      padding-top: 4px;
      margin-top: -5px;
      margin-left: -5px;
    }
  }
</style>
