<template>
  <div class="content-nav-header" :style="containerStyles">
    <router-link v-if="backPath" :to="{path: backPath, query: $route.query}">
      <img alt="back" v-svg-src="backArrowImg"></img>
      <span>{{label}}</span>
    </router-link>
    <span class="back-link" @click="$router.go(-1)" v-else>
      <img alt="back" v-svg-src="backArrowImg"></img>
      <span>{{label}}</span>
    </span>
  </div>
</template>

<script>

import backArrowImg from 'img/back-arrow.svg'

export default {
  components: {
  },
  data () {
    return {
      backArrowImg
    }
  },
  mounted () {
  },
  methods: {
  },
  props: {
    label: { required: true },
    backPath: { required: false },
    containerStyles: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .content-nav-header {
    img {
      @include i-b;
      margin-right: 12px;
      margin-top: -1px;
    }

    margin: 24px 0;

    .back-link:hover {
      cursor: pointer;
    }
  }

  a {
    @include i-b;
    text-decoration: none;
    color: $dove-gray;
  }

</style>
