<template>
  <div class="date-range-container" :style="containerStyles">
    <ClickOutside :handler="cancelRange">
      <span class="input-range-container" @click="rangeClickHandler">
        <CustomInput
          :icon="calendar"
          :value="readableDateRange"
          :containerStyles="inputContainerStyles"
          :customStyles="inputCustomStyles"
          readonly="readonly"
          customId="test-campaigns-startdate "
        />
      </span>
      <div v-show="rangePickerOpen" class="date-range-picker" ref="rangeContainer" @click="showRangeFill">
        <div class="left-col">
          <div class="row-1">
            <CustomInput
              :icon="calendar"
              :value="readableStartDate"
              :containerStyles="rangeContainerStyles"
              :customStyles="rangeCustomStyles"
              readonly="readonly"
            />
            <CustomInput
              :icon="calendar"
              :value="readableEndDate"
              :containerStyles="rangeContainerStyles"
              :customStyles="rangeCustomStyles"
              readonly="readonly"
            />
          </div>
          <div class="row-2">
            <DatePicker
              :value="formattedStartDate"
              @selected="startDateChanged"
              placeholder="Select start date..."
              :monday-first="true"
              format="M/d/yyyy"
              :inline="true"
            />
            <DatePicker
              :value="formattedEndDate"
              @selected="endDateChanged"
              placeholder="Select end date..."
              :monday-first="true"
              format="M/d/yyyy"
              :inline="true"
            />
          </div>
        </div>
        <div class="right-col">
          <span role="button" v-bind:class="{'range-btn':true, 'active': ranges.yesterday}" @click="dayRangeButtonClick(-1, -1, 'yesterday')">Yesterday</span>
          <span role="button" v-bind:class="{'range-btn':true, 'active': ranges.today}" @click="dayRangeButtonClick(0, 0, 'today')">Today</span>
          <span role="button" v-bind:class="{'range-btn':true, 'active': ranges.last_7}" @click="dayRangeButtonClick(-7, 0, 'last_7')">Last 7 Days</span>
          <span role="button" v-bind:class="{'range-btn':true, 'active': ranges.this_month}" @click="monthRangeButtonClick(0, 0, 'this_month')">This Month</span>
          <span role="button" v-bind:class="{'range-btn':true, 'active': ranges.last_month}" @click="monthRangeButtonClick(-1, -1, 'last_month')">Last Month</span>
          <span role="button" v-bind:class="{'range-btn':true, 'active': ranges.all_time}" @click="allTimeClick">All Time</span>
          <span role="button" v-bind:class="{'range-btn':true, 'active': ranges.custom}" @click="customClick">Custom Range</span>
          <span role="button" class="apply-btn" @click="applyRange">APPLY</span>
          <span role="button" class="cancel-btn" @click="cancelRange">CANCEL</span>
        </div>
      </div>
    </ClickOutside>
  </div>
</template>

<script>
import CustomInput from 'components/FormElements/CustomInput'
import ClickOutside from 'onclick-outside'
import DatePicker from 'vuejs-datepicker'
import Moment from 'moment'
import { extendMoment } from 'moment-range'

const moment = extendMoment(Moment)

import calendar from 'img/calendar.svg'

export default {
  components: {
    DatePicker,
    CustomInput,
    ClickOutside
  },
  data () {
    return {
      calendar,
      rangePickerOpen: false,
      newStartDate: null,
      newEndDate: null,
      rangeContainerStyles: {
        width: '300px',
        'max-width': '300px',
        display: 'inline-block',
        'margin-right': '5px'
      },
      rangeCustomStyles: {
        width: '100%'
      },
      ranges: {
        yesterday: false,
        today: false,
        last_7: false,
        this_month: false,
        last_month: false,
        all_time: true,
        custom: false
      }
    }
  },
  computed: {
    readableDateRange () {
      if (this.readableStartDate || this.readableEndDate) {
        return `${this.readableStartDate} - ${this.readableEndDate}`
      } else {
        return this.placeholder
      }
    },
    start () {
      return this.newStartDate != null ? this.newStartDate : this.startDate
    },
    end () {
      return this.newEndDate != null ? this.newEndDate : this.endDate
    },
    readableStartDate () {
      return this.start != null ? moment(this.start).format('M/D/YYYY') : ''
    },
    readableEndDate () {
      return this.end != null ? moment(this.end).format('M/D/YYYY') : ''
    },
    formattedStartDate () {
      if (this.start != null) {
        return new Date(moment(this.start).format())
      } else {
        return new Date(moment().format())
      }
    },
    formattedEndDate () {
      if (this.end != null) {
        return new Date(moment(this.end).format())
      } else {
        return new Date(moment().format())
      }
    }
  },
  mounted () {
    // Show the range when a user clicks into the datepicker
    $(this.$refs.rangeContainer).find('div.datepicker span').on('click', (e) => {
      this.activeRangeButton('custom')
      this.showRangeFill()
    })
  },
  methods: {
    applyRange () {
      this.onChange({
        start_date: this.start,
        end_date: this.end
      })
      this.newStartDate = null
      this.newEndDate = null
      this.rangePickerOpen = false
    },
    cancelRange () {
      this.newStartDate = null
      this.newEndDate = null
      this.rangePickerOpen = false
    },
    startDateChanged (val) {
      this.newStartDate = moment(val).format()
    },
    endDateChanged (val) {
      this.newEndDate = moment(val).format()
    },
    rangeClickHandler () {
      this.rangePickerOpen = !this.rangePickerOpen
      this.showRangeFill()
    },
    dayRangeButtonClick (start, end, btn) {
      this.newStartDate = moment().add(start, 'days').startOf('day').format()
      this.newEndDate = moment().add(end, 'days').endOf('day').format()
      this.activeRangeButton(btn)
      this.applyRange()
    },
    monthRangeButtonClick (start, end, btn) {
      this.newStartDate = moment().add(start, 'months').startOf('month').startOf('day').format()
      this.newEndDate = end ? moment().add(end, 'months').endOf('month').endOf('day').format() : moment().endOf('day').format()
      this.activeRangeButton(btn)
      this.applyRange()
    },
    allTimeClick () {
      this.newStartDate = null
      this.newEndDate = null
      this.activeRangeButton('all_time')
      this.applyRange()
    },
    customClick () {
      this.newStartDate = null
      this.newEndDate = null
      this.activeRangeButton('custom')
    },
    activeRangeButton (btn) {
      $.each(this.ranges, (key, value) => {
        if (btn == key) {
          this.ranges[key] = true
        } else {
          this.ranges[key] = false
        }
      })
    },
    showRangeFill () {
      // A little hacky, but this will add a class to all of the dates that are in the current date range
      setTimeout(() => {
        let wrappedRef = $(this.$refs.rangeContainer)
        let datePickers = wrappedRef.find('div.datepicker')
        let viewDates = wrappedRef.find('header span.up')

        let range = moment.range(moment(this.start), moment(this.end))

        // Start date
        let startViewDate = $(viewDates[0]).text().split(' ')
        let startMonth = startViewDate[0]
        let startYear = startViewDate[1]
        $(datePickers[0]).find('span[track-by="timestamp"]').each((i, e) => {
          let startDay = parseInt($(e).text())
          // If it's the month calendar exit the loop
          if (isNaN(startDay)) {
            return false
          }
          let dateCheck = moment(`${startMonth} ${startDay} ${startYear}`, 'MMM D YYYY')
          if (range.contains(dateCheck)) {
            $(e).addClass('in-range')
          } else {
            $(e).removeClass('in-range')
          }
        })

        // End date
        let endViewDate = $(viewDates[2]).text().split(' ')
        let endMonth = endViewDate[0]
        let endYear = endViewDate[1]
        $(datePickers[1]).find('span[track-by="timestamp"]').each((i, e) => {
          let endDay = parseInt($(e).text())
          // If it's the month calendar exit the loop
          if (isNaN(endDay)) {
            return false
          }
          let dateCheck = moment(`${endMonth} ${endDay} ${endYear}`, 'MMM D YYYY')
          if (range.contains(dateCheck)) {
            $(e).addClass('in-range')
          } else {
            $(e).removeClass('in-range')
          }
        })
      })
    }
  },
  props: {
    placeholder: { required: false },
    onChange: { required: true },
    startDate: { required: true },
    endDate: { required: true },
    containerStyles: { required: false },
    inputContainerStyles: { required: false },
    inputCustomStyles: { required: false }
  }
}
</script>

<style lang='scss'>
  @import "~styles/variables";

  .date-range-container {
    position: relative;

    .input-range-container {
      &::after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
      }
    }

    .date-range-picker {
      position: absolute;
      z-index: 100;
      right: 0px;
      width: 810px;
      border-radius: 3px;
      background-color: $white;
      border: solid 1px $border-gray;
      padding: 15px;

      .row-1 {
        margin-bottom: 5px;
      }

      .left-col {
        float: left;
      }

      .right-col {
        float: right;

        .range-btn {
          display: block;
          border-radius: 3px;
          background-color: #f0f0f0;
          padding: 10px 35px;
          font-size: 14px;
          color: #4a90e2;
          margin-bottom: 4px;
          border: 1px solid #f0f0f0;
          text-align: center;

          @include transition-sm-med-ease;

          &.active {
            color: $white;
            background-color: $havelock;
          }

          &:hover {
            border: 1px solid $havelock;
          }
        }

        .apply-btn {
          font-size: 14px;
          letter-spacing: 1.8px;
          display: inline-block;
          border-radius: 3px;
          background-color: $turquoise;
          border: solid 1px $turquoise;
          padding: 10px;
          color: $white;
          float: left;

          @include transition-sm-med-ease;

          &:hover {
            border: solid 1px $half-baked;
            background-color: $half-baked;
          }
        }

        .cancel-btn {
          font-size: 14px;
          letter-spacing: 1.8px;
          display: inline-block;
          border-radius: 3px;
          background-color: $white;
          padding: 10px;
          color: $dusty-gray;
          border: solid 1px $dusty-gray;
          float: right;

          @include transition-sm-med-ease;

          &:hover {
            color: $white;
            background-color: $dusty-gray;
          }
        }
      }

      .datepicker {
        vertical-align: top;
        display: inline-block;
        margin-right: 5px;

        input {
          cursor: pointer;

          padding: 0.4rem 1.8rem 0.4rem 3.4rem;

        }

        .prev, .up, .next {
          background-color: $havelock;
          color: $white;

          &:hover {
            background-color: $denim !important;
          }
        }

        .calendar {

          border-radius: 3px;
          text-align: left;

          header {
            .next:after {
              border-left: solid 10px $white;
            }
            .prev:after {
              border-right: solid 10px $white;
            }
          }

          .cell {
            border-radius: 0px;

            &.day-header {
              font-size: 100%;
              font-weight: 600;
            }
          }
        }

        .cell {
          &.in-range {
            background-color: #80c7c8 !important;
            color: $white;
          }

          &.selected {
            background-color: $turquoise !important;
            color: $white;
          }

          &.day {
            &:hover {
              border: 1px solid $turquoise !important;
            }
          }
        }

      }
    }

  }

  .filter-item {
    .date-range-picker {
      right: -100%;
    }
    @for $i from 1 through 18 {
      @if (mod($i, 3) == 1) {
        &:nth-child(#{$i}) {
          .date-range-picker {
            right: -585px;
          }
        }
      }
      @if (mod($i, 3) == 0) {
        &:nth-child(#{$i}) {
          .date-range-picker {
            right: 0;
          }
        }
      }
    }
  }

</style>
