<template>
  <div class="custom-datepicker-container">
    <DatePicker
      :id="customId"
      :value="formattedDate"
      @selected="dateChanged"
      :placeholder="placeholder"
      :monday-first="true"
      :disabled="disabled"
      :class="{tiny: tableCell, full: fullWidth}"
      format="M/d/yyyy"
    >
    </DatePicker>
    <span></span>
  </div>
</template>

<script>
import DatePicker from 'vuejs-datepicker'
import moment from 'moment'

export default {
  components: {
    DatePicker
  },
  mounted () {
  },
  methods: {
    dateChanged (val) {
      // Format date correctly so it can be sent back to server
      // TODO: Ensure this is working correctly
      this.onChange(moment(val).format('YYYY-MM-DD'))
    }
  },
  computed: {
    formattedDate () {
      // Handle formating date from server so it can be used with this library
      // If the date is null return today's date instead

      if (this.date !== null) {
        return new Date(moment(this.date).format())
      } else if (this.autofill) {
        return new Date(moment().format())
      }
    }
  },
  props: {
    placeholder: { required: false },
    autofill: { required: false, default: true },
    onChange: { required: true },
    date: { required: true },
    tableCell: { type: Boolean, required: false, default: false },
    fullWidth: { type: Boolean, required: false, default: false },
    disabled: { type: Object, required: false, default: () => {} },
    customId: { required: false }
  }
}
</script>

<style lang='scss'>
  @import "~styles/variables";

  // Overrides for datepicker
  .datepicker {

    &:before {
      content: '';
      position: absolute;
      height: 14px;
      width: 15px;
      top: 12px;
      left: 10px;

      background: url("~img/calendar.svg")
    }

    input {
      cursor: pointer;

      padding: 0.4rem 1.8rem 0.4rem 3.4rem;

    }

    .prev, .up, .next {
      background-color: $havelock;
      color: $white;

      &:hover {
        background-color: $denim !important;
      }
    }

    .calendar {

      border-radius: 3px;

      header {
        .next:after {
          border-left: solid 10px $white;
        }
        .prev:after {
          border-right: solid 10px $white;
        }
      }

      .cell {
        border-radius: 3px;

        &.day-header {
          font-size: 100%;
          font-weight: 600;
        }
      }
    }

    .cell {
      &.selected {
        background-color: $turquoise !important;
        color: $white;
      }

      &.day {
        &:hover {
          border: 1px solid $turquoise !important;
        }
      }
    }
&.tiny {
  input {
    width: 130px;
  }
}
&.full {
  input {
    width: 100%;
  }
}
  }

</style>
