<template>
  <Popper :trigger="trigger" :options="options">
    <div class="tooltipster-base tooltipster-sidetip tooltipster-noir tooltipster-top">
      <div class="tooltipster-box">
        <div class="tooltipster-content">
          <slot name="content"></slot>
        </div>
        <div class="tooltipster-arrow">
          <div class="tooltipster-arrow-uncropped">
            <div class="tooltipster-arrow-border"></div>
            <div class="tooltipster-arrow-background"></div>
          </div>
        </div>
      </div>
    </div>
    <span slot="reference">
      <slot name="triggerElement"></slot>
    </span>
  </Popper>
</template>

<script>
import Popper from 'vue-popperjs'

export default {
  components: {
    Popper
  },
  data () {
    return {
      options: {
        placement: this.placement
      }
    }
  },
  props: {
    trigger: { type: String, required: false, default: 'hover' },
    placement: { type: String, required: false, default: 'top' }
  }
}
</script>

<style lang="scss" scoped>

.tooltipster-base {
  cursor: auto;
  pointer-events: auto;
  top: -5px !important;
}

.tooltipster-content {
  margin: 18px 25px
}

.tooltipster-arrow {
  left: calc(50% + 12px);
}

</style>
