<template>
  <div>
    <div class="options-header">
      <span class="options-header-block" @click="collapseOptions" role="button">
        <img class="i-b options-header-icon" v-svg-src="filtersImg" alt="filters"></img>
        <h1 class="i-b">Filters</h1>
        <img v-bind:class="{'i-b collapse-arrow': true, 'options-open': !optionsCollapsed}" v-svg-src="upArrowImg" role="button"></img>
      </span>
      <span class="options-header-block right">
        <span class="i-b" v-if="isSourcedReq"> {{ sourcedReqStore.totalCount }} sourced reqs match</span>
        <span class="i-b" v-else>{{candidatesStore.totalCount}} candidates  match</span>

      </span>
    </div>

    <div v-show="!optionsCollapsed" class="options-controls">
      <hr />
      <div v-if="isSourcedReq">
        <div class="filter-item" v-if="filter.sourcer">
          <CustomSelect
            :items="filterSourcers"
            :onChange="(item) => {filterChange('sourcer', item)}"
            :selected="sourcedReqStore.filters.sourcer"
            :customStyles="dropdownStyles"
            :icon="userImg" />
        </div>
        <div class="filter-item" v-if="filter.salesperson">
          <CustomSelect
            :items="filterSalespeople"
            :onChange="(item) => {filterChange('salesperson', item)}"
            :selected="sourcedReqStore.filters.salesperson"
            :customStyles="dropdownStyles"
            :icon="userImg" />
        </div>
        <div class="filter-item" v-if="filter.accountManager">
          <CustomSelect
            :items="filterAccountManagers"
            :onChange="(item) => {filterChange('accountManager', item)}"
            :selected="sourcedReqStore.filters.accountManager"
            :customStyles="dropdownStyles"
            :icon="userImg" />
        </div>
        <div class="filter-item" v-if="filter.accountStatus">
          <CustomSelect
          :items="metadataStore.sourcedReqAccountStatuses"
          :onChange="(item) => {filterChange('accountStatus',item)}"
          :selected="sourcedReqStore.filters.account_statuses"
          :customStyles="dropdownStyles"
          :menuMaxHeight="300"
          :icon="jobImg"
          />
        </div>
        <div class="filter-item" v-if="filter.reqState">
          <CustomSelect
            :items="metadataStore.sourcedReqStates"
            :onChange="(item) => {filterChange('reqState', item)}"
            :selected="reqState"
            :customStyles="dropdownStyles"
            :icon="stateImg" />
        </div>
        <div class="filter-item" v-if="filter.engagementDueDate">
          <DateRangePicker
          :startDate="sourcedReqStore.filters.engagement_date_start"
          :endDate="sourcedReqStore.filters.engagement_date_end"
          :onChange="(item) => {filterChange('engagementRange',item)}"
          :containerStyles="filterContainerStyles"
          :inputContainerStyles="filterContainerStyles"
          :inputCustomStyles="filterInputStyles"
          placeholder="Filter by Engagement Due Date"
          />
        </div>
        <div class="filter-item" v-if="filter.reqStatus">
          <CustomMultiSelect
          :items="metadataStore.sourcedReqStatuses"
          :onChange="(item) => {filterChange('reqStatus', item)}"
          :selected="sourcedReqStore.filters.statuses"
          :customStyles="dropdownStyles"
          :icon="statusImg"
          placeholder="Sourcing Status" />
        </div>
      </div>
      <div v-else>
        <div class="filter-item" v-if="filter.job">
          <CustomSelect
            :items="filterJobs"
            :onChange="(item) => {filterChange('job',item)}"
            :selected="candidatesStore.filters.req_ids"
            :customStyles="dropdownStyles"
            :menuMaxHeight="300"
            :icon="jobImg"
            customId="test-filter-jobs"
          />
        </div>
        <div class="filter-item" v-if="filter.status">
          <CustomSelect
            :items="candidateStatuses"
            :onChange="(item) => {filterChange('status',item)}"
            :selected="candidatesStore.filters.statuses"
            :customStyles="dropdownStyles"
            :menuMaxHeight="300"
            :icon="statusImg"
            customId="test-filter-statuses"
          />
        </div>
        <div class="filter-item" v-if="filter.date">
          <DateRangePicker
            :startDate="candidatesStore.filters.date_created_start"
            :endDate="candidatesStore.filters.date_created_end"
            :onChange="(item) => {filterChange('range',item)}"
            :containerStyles="filterContainerStyles"
            :inputContainerStyles="filterContainerStyles"
            :inputCustomStyles="filterInputStyles"
            placeholder="Filter by Date Added"
          />
        </div>

        <div class="filter-item" v-if="filter.list">
          <CustomSelect
            :items="filterLists"
            :onChange="(item) => {filterChange('list',item)}"
            :selected="candidatesStore.filters.list_ids"
            :customStyles="dropdownStyles"
            :menuMaxHeight="300"
            selectIcon="add-to-list"
            customId="test-filter-lists"
          />
        </div>
        <div class="filter-item" v-if="filter.creator">
          <CustomSelect
            :items="filterCreators"
            :onChange="(item) => {filterChange('creator',item)}"
            :selected="candidatesStore.filters.creator_ids"
            :customStyles="dropdownStyles"
            :menuMaxHeight="300"
            selectIcon="profile"
          />
        </div>

        <div class="filter-item" v-if="filter.source">
          <CustomSelect
            :items="filterSources"
            :onChange="(item) => {filterChange('source',item)}"
            :selected="candidatesStore.filters.sources"
            :customStyles="dropdownStyles"
            :menuMaxHeight="300"
            :icon="sourceImg"
          />
        </div>
        <div class="filter-item" v-if="filter.city">
          <CustomInput
          v-model="candidatesStore.filters.city"
          :icon="locationImg"
          placeholder="Enter City"
          :containerStyles="filterContainerStyles"
          :customStyles="filterInputStyles"
          :onEnter="searchHandler"
                  />
        </div>
        <div class="filter-item" v-if="filter.state">
          <CustomInput
            v-model="candidatesStore.filters.state"
            :icon="locationImg"
            placeholder="Enter State"
            :containerStyles="filterContainerStyles"
            :customStyles="filterInputStyles"
            :onEnter="searchHandler"
          />
        </div>
        <div class="filter-item" v-if="filter.reqStatus">
          <CustomMultiSelect
            :items="metadataStore.sourcedReqStatuses"
            :onChange="(item) => {filterChange('reqStatus', item)}"
            :selected="sourcedReqStore.filters.statuses"
            :customStyles="dropdownStyles"
            :icon="statusImg" />
        </div>
        <div class="filter-item" v-if="filter.company">
          <Autocomplete
            placeholder="Search by company name..."
            :selected="selectedCompany"
            :suggestions="filterCompanies"
            :viewKeys="['label']"
            :searchKeys="['label']"
            :onSelect="(item) => {filterChange('company', item)}"
            :customStyles="filterInputStyles"
            :containerStyles="filterContainerStyles"
            :icon="companyImg"
          />
        </div>
        <div class="filter-item" v-if="filter.organization">
          <CustomSelect
            :icon="organizationImg"
            :items="filterOrganizations"
            :onChange="(item) => {filterChange('organization', item)}"
            :selected="candidatesStore.filters.organization_id"
            :customStyles="dropdownStyles"
            :disabled="filterOrganizations.length === 1" />
        </div>
      </div>

      <hr>

      <div class="filter-btn-container">
        <span role="button" @click="searchHandler" class="filter-btn apply">APPLY FILTERS</span>
        <span role="button" @click="clearFilters" class="filter-btn clear">CLEAR FILTERS</span>
      </div>

    </div>
  </div>
</template>

<script>
import CustomSelect from 'components/FormElements/CustomSelect'
import CustomMultiSelect from 'components/FormElements/CustomMultiSelect'
import CustomInput from 'components/FormElements/CustomInput'
import DateRangePicker from 'components/Tools/DateRangePicker'
import FlatButton from 'components/FormElements/FlatButton'
import Autocomplete from 'components/FormElements/Autocomplete'

import filtersImg from 'img/filters.svg'
import upArrowImg from 'img/up-arrow.svg'

import jobImg from 'img/briefcase.svg'
import statusImg from 'img/pulse.svg'
import sourceImg from 'img/settings/atom.svg'
import locationImg from 'img/settings/location.svg'
import companyImg from 'img/company.svg'
import organizationImg from 'img/organization.svg'

import userImg from 'img/small-profile.svg'
import stateImg from 'img/line-trace.svg'

import { accountStore, candidatesStore, sourcedReqStore, usersStore, jobsStore, listsStore, userPreferencesStore, metadataStore, adminStore } from 'stores'

import api from 'api'

export default {
  components: {
    CustomSelect,
    CustomMultiSelect,
    CustomInput,
    DateRangePicker,
    FlatButton,
    Autocomplete
  },
  data () {
    return {
      companyImg,
      organizationImg,
      filtersImg,
      upArrowImg,
      jobImg,
      statusImg,
      sourceImg,
      locationImg,
      userImg,
      stateImg,
      adminStore: adminStore.get(),
      candidatesStore: candidatesStore.get(),
      sourcedReqStore: sourcedReqStore.get(),
      usersStore: usersStore.get(),
      jobsStore: jobsStore.get(),
      listsStore: listsStore.get(),
      userPreferencesStore: userPreferencesStore.get(),
      accountStore: accountStore.get(),
      metadataStore: metadataStore.get(),
      optionsCollapsed: true,
      dropdownStyles: {
        display: 'inline-block',
        width: '225px'
      },
      filterContainerStyles: {
        display: 'inline-block',
        width: '225px'
      },
      filterInputStyles: {
        width: '100%',
        'max-width': '100%'
      }
    }
  },
  methods: {
    collapseOptions () {
      this.optionsCollapsed = !this.optionsCollapsed
      if (!this.optionsCollapsed) {
          // If some needed stores aren't loaded, load them here.
        if (this.filter.job && !this.jobsStore.jobs.length) {
          api.ajax('reqs')
            .done((response) => {
              console.log('response from initial get reqs ', response)
              jobsStore.init(response)
            })
            .fail((e) => {
              console.error('Error getting reqs ', e)
            })
        }
        if (this.filter.list && !this.listsStore.lists.length) {
          api.ajax('candidate-lists')
            .done((response) => {
              console.log('response from lists ', response)
              listsStore.init(response)
            })
            .fail((e) => {
              console.error('Error getting lists ', e)
            })
        }
      }
    },
    filterChange (type, item) {
      switch (type) {
        case 'sourcer':
          this.sourcedReqStore.filters.sourcer = item.value
          break
        case 'salesperson':
          this.sourcedReqStore.filters.sales_person = item.value
          break
        case 'accountManager':
          this.sourcedReqStore.filters.account_manager = item.value
          break
        case 'reqStatus':
          this.sourcedReqStore.filters.sourcing_statuses = item.join(',')
          break
        case 'submitRange':
          this.sourcedReqStore.filters.submit_due_date_start = item.start_date
          this.sourcedReqStore.filters.submit_due_date_end = item.end_date
          this.searchHandler()
          break
        case 'engagementRange':
          this.sourcedReqStore.filters.engagement_date_start = item.start_date
          this.sourcedReqStore.filters.engagement_date_end = item.end_date
          this.searchHandler()
          break
        case 'accountStatus':
          this.sourcedReqStore.filters.account_statuses = item.value
          break
        case 'reqState':
          this.sourcedReqStore.filters.req_statuses = item.value
          break
        case 'job':
          this.candidatesStore.filters.req_ids = item.value
          break
        case 'status':
          this.candidatesStore.filters.statuses = item.value
          break
        case 'list':
          this.candidatesStore.filters.list_ids = item.value
          break
        case 'creator':
          this.candidatesStore.filters.creators = item.value
          break
        case 'source':
          this.candidatesStore.filters.sources = item.value
          break
        case 'range':
          this.candidatesStore.filters.date_created_start = item.start_date
          this.candidatesStore.filters.date_created_end = item.end_date
          this.searchHandler()
          break
        case 'company':
          this.candidatesStore.filters.company_id = parseInt(item.value)
          break
        case 'organization':
          this.candidatesStore.filters.organization_id = parseInt(item.value)
          break
      }
    }
  },
  computed: {
    userIsSourcer () {
      return this.accountStore.account.is_sourcer
    },
    userIsTransactional () {
      return this.accountStore.account.is_transactional
    },
    filterSourcers () {
      let sourcerIds = []
      if (this.filter.sourcer) {
        $.each(this.usersStore.users, (key, value) => {
          if (~value.groups.indexOf('Sourcers')) {
            sourcerIds.push({ value: value.id + '', label: value.first_name && value.last_name ? `${value.first_name} ${value.last_name}` : value.email })
          }
        })
        sourcerIds.unshift({ value: '', label: 'Filter by Sourcer' })
      }
      return sourcerIds
    },
    candidateStatuses () {
      let statuses = []
      if (this.userIsTransactional) {
        statuses = [].concat(this.metadataStore.transactionalFilterStatuses)
      }
      if (this.userIsSourcer) {
        statuses = [].concat(this.metadataStore.filterStatuses)
      }
      if (!this.userIsSourcer) statuses.pop()
      return statuses
    },
    filterSalespeople () {
      let salespersonIds = []
      if (this.filter.salesperson) {
        $.each(this.usersStore.users, (key, value) => {
          if (~value.groups.indexOf('Sales People')) {
            salespersonIds.push({ value: value.id + '', label: value.first_name && value.last_name ? `${value.first_name} ${value.last_name}` : value.email })
          }
        })
        salespersonIds.unshift({ value: '', label: 'Filter by Salesperson' })
      }
      return salespersonIds
    },
    filterAccountManagers () {
      let accountManagerIds = []
      if (this.filter.accountManager) {
        $.each(this.usersStore.users, (key, value) => {
          if (~value.groups.indexOf('Account Managers')) {
            accountManagerIds.push({ value: value.id + '', label: value.first_name && value.last_name ? `${value.first_name} ${value.last_name}` : value.email })
          }
        })
        accountManagerIds.unshift({ value: '', label: 'Filter by Account Manager' })
      }
      return accountManagerIds
    },
    filterReqStatus () {
      let reqStatus = []
      if (this.filter.reqStatus) {
        $.each(this.metadataStore.sourcedReqStatuses.slice(1), (key, value) => {
          reqStatus.push({ value: value.id, label: value.label })
        })
        reqStatus.unshift({ value: '', label: 'Filter by Req Status' })
      }
      return reqStatus
    },
    reqState () {
      return { value: this.sourcedReqStore.filters.req_status }
    },
    filterJobs () {
      let jobIds = []
      if (this.filter.job) {
        $.each(this.jobsStore.jobs, (key, value) => {
          jobIds.push({ value: value.id + '', label: value.title })
        })
        jobIds.unshift({ value: '', label: 'Filter by Job' })
      }
      return jobIds
    },
    filterLists () {
      let listIds = []
      if (this.filter.list) {
        $.each(this.listsStore.lists, (key, value) => {
          listIds.push({ value: value.id + '', label: value.name })
        })
        listIds.unshift({ value: '', label: 'Filter by List' })
      }
      return listIds
    },
    filterCreators () {
      let creatorIds = []
      if (this.filter.creator) {
        $.each(this.usersStore.users, (key, value) => {
          let name = value.first_name == '' && value.last_name == '' ? value.email : `${value.first_name} ${value.last_name}`
          creatorIds.push({ value: value.id + '', label: name })
        })
        creatorIds.unshift({ value: '', label: 'Filter by Creator' })
      }
      return creatorIds
    },
    filterSources () {
      let sources = [].concat(this.metadataStore.filterSources)
      // Remove linkedin and careerbuilder if user is transactional.
      if (this.userIsTransactional) sources.splice(3, 5)
      return sources
    },
    selectedCompany () {
      const company = this.adminStore.companies.find(c => c.id == this.candidatesStore.filters.company_id)
      if (company) return { value: company.id, label: company.name }
      else return null
    },
    filterCompanies () {
      let items = []
      // Make sure we only put companies in the dropdown that have an org that is_transactional
      let hasOrg = []
      $.each(this.adminStore.organizations, (key, value) => {
        if (value.is_transactional && hasOrg.indexOf(value.company.id) === -1) {
          hasOrg.push(value.company.id)
          items.push({ value: value.company.id, label: value.company.name })
        }
      })
      return items
    },
    filterOrganizations () {
      let items = [{ value: 0, label: 'Filter by Organization' }]
      // Only populate if a company is selected
      if (this.candidatesStore.filters.company_id) {
        $.each(this.adminStore.organizations, (key, value) => {
          if (value.company.id == this.candidatesStore.filters.company_id && value.is_transactional) {
            items.push({ value: value.id, label: value.name })
          }
        })
      }
      return items
    }
  },
  props: {
    filter: {
      type: Object,
      required: false,
      default () {
        return {
          job: true,
          status: true,
          date: true,
          list: true,
          creator: true,
          source: true,
          city: true,
          state: true
        }
      }
    },
    searchHandler: { type: Function, required: true },
    clearFilters: { type: Function, required: true },
    isSourcedReq: { type: Boolean, required: false, default: false }
  }
}
</script>

<style lang="scss" scoped>
@import '~styles/variables';

.options-controls {
  overflow: visible;
  text-align: center;
}

.filter-item {
  display: inline-block;
  margin-bottom: 23px;
  text-align: center;
  width: 33%;
  vertical-align: top;

  @for $i from 1 through 18 {
    @if (mod($i, 3) == 1) {
      &:nth-child(#{$i}) {
        text-align: left;
        &+:last-child {
          margin-right: 33%;
          width: 33%;
        }
       &:last-child {
         margin-right: 66%;
       }
      }
    }
    @if (mod($i, 3) == 0) {
      &:nth-child(#{$i}) {
        text-align: right;
      }
    }
  }
}

  hr {
    margin-bottom: 17px;
  }

  .filter-btn-container {

    &::after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
    }

    .filter-btn {
      padding: 10px 15px;
      border-radius: 2px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1.8px;
      float: right;

      @include transition-sm-med-ease;

      &.clear {
        border: solid 1px $dusty-gray;
        color: $dusty-gray;
        margin-right: 17px;

        &:hover {
          color: $white;
          background-color: $dusty-gray;
        }
      }

      &.apply {
        background-color: $turquoise;
        border: solid 1px $turquoise;
        color: $white;

        &:hover {
          background-color: $half-baked;
          border: solid 1px $half-baked;
        }
      }
    }
  }
</style>
