<template>
  <div ref="editor"></div>
</template>

<script>

export default {
  components: {
  },
  mounted () {
    // License Key for froala
    let activationKey = 'lJCJWECHICc2JOZWJ=='

    // Wrap element in jQuery
    this.wrappedElement = $(this.$refs.editor)

    // Define custom variables (merge tags) button
    // $.FroalaEditor.DefineIcon('mergeTag', {NAME: '{{ }}', template: 'text'});
    // $.FroalaEditor.RegisterCommand('mergeTag', {
    //   title: 'Insert Merge Tag',
    //   focus: true,
    //   undo: true,
    //   refreshAfterCallback: true,
    //   callback() {
    //     this.html.insert('My Merge Tag');
    //   }
    // });

    // Create the header 2 button
    let _this2 = this
    $.FroalaEditor.DefineIcon('h2', { NAME: 'header' })
    $.FroalaEditor.RegisterCommand('h2', {
      title: 'Header 2',
      icon: 'h2',
      undo: true,
      focus: true,
      showOnMobile: true,
      refreshAfterCallback: true,
      callback () {
        // Check what the selection is and then either call the header command or the paragraph command
        if ($(this.selection.element()).is('h2') || $(this.selection.element()).parent().is('h2') || $(this.selection.element()).parent().parent().is('h2') || $(this.selection.element()).parent().parent().parent().is('h2')) {
          _this2.wrappedElement.froalaEditor('paragraphFormat.apply', 'P')
        } else {
          _this2.wrappedElement.froalaEditor('paragraphFormat.apply', 'H2')
        }
      },
      refresh ($btn) {
        // Check what the selection is to show the header button selected or not
        if (($(this.selection.element()).is('h2') || $(this.selection.element()).parent().is('h2') || $(this.selection.element()).parent().parent().is('h2') || $(this.selection.element()).parent().parent().parent().is('h2')) && !$('button.fr-command[data-cmd="h2"]').hasClass('fr-active')) {
          $('button.fr-command[data-cmd="h2"]').addClass('fr-active')
        } else {
          $('button.fr-command[data-cmd="h2"]').removeClass('fr-active')
        }
      }
    })

    // Create toolbar and initalize the toolbar
    this.wrappedElement.html(this.content)

    let toolbarButtons = ['bold', 'italic', 'underline', 'h2', 'insertLink', 'formatUL', 'formatOL', 'undo', 'redo']
    this.wrappedElement.froalaEditor({
      key: activationKey,
      toolbarButtons: toolbarButtons,
      toolbarButtonsMD: toolbarButtons,
      toolbarButtonsSM: toolbarButtons,
      toolbarButtonsXS: toolbarButtons,
      toolbarInline: true,
      linkList: [],
      toolbarVisibleWithoutSelection: true,
      height: this.height
    })

    this.wrappedElement.on('froalaEditor.contentChanged', (e, editor) => {
      this.onChange(this.wrappedElement.froalaEditor('html.get', true))
    })
  },
  beforeDestroy () {
    // Might not be necessary, but clean up editor on destroy just in case
    this.wrappedElement = $(this.$refs.editor)
    this.wrappedElement.off('froalaEditor.contentChanged')
    this.wrappedElement.froalaEditor('destroy')
  },
  props: {
    content: { required: true, default: '' },
    onChange: { required: false },
    height: { required: false, default: 100 },
    previewMode: { required: false, default: false }
  },
  watch: {
    content: {
      handler (val) {
        // This will trigger after we call our onChange event, but if it's different that means it
        // got updated somewhere else (like switching signatures), so clear html and replace it

        let currentText = this.wrappedElement.froalaEditor('html.get')
        if (currentText !== val) {
          this.wrappedElement.froalaEditor('html.set', val)
        }
      }
    },
    previewMode: {
      handler (val) {
        if (val) {
          this.wrappedElement.froalaEditor('edit.off')
        } else {
          this.wrappedElement.froalaEditor('edit.on')
        }
      }
    }
  },
  data () {
    return {
      wrappedElement: {}
    }
  }
}
</script>

<style lang='scss'>
  @import "~styles/variables";

  .fr-popup.fr-inline {
    z-index: 1000 !important;
  }

  // Doesn't work if scoped because the inline editor is actually appended to the bottom of the html body,
  // but it shouldn't affect other froala editors since the .fr-inline class is the only thing I'm editing.

  .fr-box {
    &.fr-inline {
      margin-bottom: 0px;

      .fr-wrapper {
        color: $tundora;
        opacity: 0.5;
        line-height: 1.3;
        padding: 3px 3px;

        .fr-element.fr-view[contenteditable="true"] {
          padding: 0px;
          border: 0px none;
          line-height: 1.3;
        }

        .fr-element.fr-view[contenteditable="false"] {
          background-color: $white;
        }

        p {
          font-size: 14px;
          line-height: 22px;
        }

        h2 {
          font-size: 20px;
          font-weight: 800;
          letter-spacing: 2px;
        }

        ul, ol {
          font-size: 14px;
          padding-left: 25px;
        }

        ul li, ol li {
          padding-left: 10px;
          line-height: 1.5;
        }
      }
    }
  }

  .fr-toolbar {
    &.fr-inline {
      z-index: 1000;
      color: white;
      background: white;
      padding: 0px 0px;

      .fr-arrow {
          width: 0;
          height: 0;
          border-left: 9px solid transparent;
          border-right: 9px solid transparent;
          border-bottom: 9px solid $turquoise;
          position: absolute;
          top: -9px;
          left: 50%;
          margin-left: -9px !important;
          display: inline-block;
      }

      .fr-command.fr-btn.fr-active, .fr-command.fr-btn.fr-disabled {
        color: $white;
        background: #3aa990;
      }

      .fr-command.fr-btn {
        background: $turquoise;
        color: $white;
        margin: 0px 0px;
      }
    }
  }

</style>
