<template>
  <div class="page-selection">
    <button class="first" @click="gotoPage(1)">First</button>
    <button class="back" @click="gotoPage(backPage)"><img v-svg-src="backIcon"></button>
    <div class="pages-container">
      <button v-for="page in pages" :class="{'page':true,'current':page == candidatesStore.page}" @click="gotoPage(page)">{{page}}</button>
    </div>
    <button class="forward" @click="gotoPage(forwardPage)"><img v-svg-src="forwardIcon"></button>
    <button class="last" @click="gotoPage(totalPages)">Last</button>
    <span>show</span>
    <select v-model="perPage" @change="perPageChange">
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
    <span>candidates</span>
  </div>
</template>

<script>

import { userPreferencesStore, candidatesStore } from 'stores'

import backIcon from 'img/pagination-left.svg'
import forwardIcon from 'img/pagination-right.svg'

export default {
  components: {
  },
  data () {
    return {
      backIcon,
      forwardIcon,
      userPreferencesStore: userPreferencesStore.get(),
      candidatesStore: candidatesStore.get(),
      perPage: 25,
      range: 5,
      totalPages: 0
    }
  },
  computed: {
    backPage () {
      return this.candidatesStore.page - 1 > 0 ? this.candidatesStore.page - 1 : this.candidatesStore.page
    },
    forwardPage () {
      return this.candidatesStore.page + 1 <= this.totalPages ? this.candidatesStore.page + 1 : this.candidatesStore.page
    },
    pages () {
      this.totalPages = Math.ceil(this.totalCount / this.perPage)
      let pageArray = Array(this.totalPages)
      let x = 0
      let returnArray = []
      for (var i = this.candidatesStore.page - 2; i <= pageArray.length && x < this.range; i++) {
        if (i > 0) {
          returnArray.push(i)
          x++
        }
      }
      return returnArray
    }
  },
  mounted () {
    this.perPage = this.userPreferencesStore.candidatesPerPage || 25
  },
  methods: {
    gotoPage (page) {
      if (this.candidatesStore.page != page) {
        candidatesStore.set('page', page)
        this.pageChange()
      }
    },
    perPageChange () {
      userPreferencesStore.set('candidatesPerPage', this.perPage)
      if (this.candidatesStore.page != 1) {
        this.gotoPage(1)
      } else {
        this.pageChange()
      }
    }
  },
  props: {
    totalCount: { required: true },
    pageChange: { required: true }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .page-selection {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;

    span {
      margin-left: 12px;
      font-size: 14px;
      color: $tundora;
    }

    select {
      margin-left: 12px;
      border: solid 1px $dusty-gray;
      font-size: 14px;
      padding: 14px 20px 14px 14px;
    }

    button {
      font-size: 14px;
      padding: 12px 14px;
      color: $havelock;
      background-color: $alabaster;
      border: solid 1px $dusty-gray;
      border-radius: 4px;

      &.first {
        margin-right: 5px;
      }

      &.last {
        margin-left: 5px;
      }

      &.back {
        border-radius: 4px 0px 0px 4px;
      }

      &.forward {
        border-radius: 0px 4px 4px 0px;
      }
    }

    .pages-container {
      display: inline-block;

      .page {
        border-radius: 0px;
        border-left: 0px none;

        &:last-child {
          border-right: 0px none;
        }

        &.current {
          background-color: #efefef;
          border: solid 1px #bbbbbb;
          color: $dusty-gray;
          font-weight: bold;
        }
      }
    }
  }

</style>
