<template>
  <div ref="editor"></div>
</template>

<script>
import tooltipster from 'tooltipster'

import { usersStore, mergeTagsStore, authStore } from 'stores'
import { getPlainText } from 'helpers'

export default {
  components: {
  },
  computed: {
    toolbarButtons () {
      let buttons = ['mergeTag', '|', 'bold', 'italic', 'underline', '|', 'insertImage', 'insertLink', '|', 'align', 'formatOL', 'formatUL', 'indent', 'quote', '|', 'clearFormatting', '|', 'undo', 'redo']
      if (this.plainText) {
        buttons = ['mergeTag', '|', 'insertLink', '|', 'undo', 'redo']
      }
      return buttons
    },
    linkEditButtons () {
      let buttons = ['linkEdit', 'linkStyle', 'linkRemove']
      if (this.plainText) {
        buttons = ['linkEdit']
      }
      return buttons
    }
  },
  mounted () {
    // Wrap element in jQuery
    this.wrappedElement = $(this.$refs.editor)
    // Alias to local variable so we can reference within callbacks
    let wrappedElement = this.wrappedElement

    // Define custom variables (merge tags) button
    // TODO: Only need to do this once globally
    $.FroalaEditor.DefineIcon('mergeTag', { NAME: '{{ }}', template: 'text' })
    $.FroalaEditor.RegisterCommand('mergeTag', {
      title: 'Insert Merge Tag',
      focus: true,
      undo: true,
      refreshAfterCallback: true,
      callback () {
        this.html.insert('{{')
      }
    })

    // NOTE: commenting out the @ button for now incase we ever need it in the richtexteditor
    // $.FroalaEditor.DefineIcon('atPerson', {NAME: '@', template: 'text'});
    // $.FroalaEditor.RegisterCommand('atPerson', {
    //   title: '@ Mention',
    //   focus: true,
    //   undo: true,
    //   refreshAfterCallback: true,
    //   callback() {
    //     this.html.insert('@');
    //     wrappedElement.data('froala.editor').$el.click();
    //   }
    // });

    // Set up auto complete
    let config = this.getAutocompleteConfig()

    this.wrappedElement
    .on('froalaEditor.initialized', (e, editor) => {
      // NOTE: Here is where the @ button inits in the editor
      // editor.$el.atwho(config.atConfig);
      editor.$el.atwho(config.mergeTagConfig)

      // When a menu is closed, the "cur" class still remains.
      // Problem is, we need to distinguish if we want to select the "@" or the "{{}}" menu
      // So, when a menu is closed, make sure the "cur" class is removed on ALL menus
      editor.$el.on('hidden.atwho', () => {
        setTimeout(() => {
          $.each($('.atwho-view-ul').find('li'), (key, value) => {
            $(value).removeClass('cur')
          })
        })
      })

      // Replace atWho syntax with just base brackets in text
      editor.$el.on('inserted.atwho', (e, item, browserEvent) => {
        // For each hidden wrapper, remove hidden elements, get basic text value, and replace span with text
        let atWhoWrappers = wrappedElement.find('.atwho-inserted')
        $.each(atWhoWrappers, (key, value) => {
          $(value).find('.hidden').remove()
          let text = $(value).text()
          $(value).replaceWith(text)
        })

        // Trigger the onchange event
        let newContent = this.wrappedElement.froalaEditor('html.get', true)
        this.onChange(this.plainText ? getPlainText(newContent) : newContent)
      })

      // Prevent hitting "enter" when autocomplete form is open
      editor.events.on('keydown', (e) => {
        if (e.which === $.FroalaEditor.KEYCODE.ENTER && editor.$el.atwho('isSelecting')) {
          e.preventDefault()
          e.stopImmediatePropagation()

          // Pretty hacky way to force autocomplete to actually pick the option when you hit enter
          $('.atwho-container').find('.cur').click()

          return false
        } else if (this.plainText && e.which === $.FroalaEditor.KEYCODE.ENTER) {
          // Don't allow line breaks if it's plain text
          e.preventDefault()
          e.stopImmediatePropagation()

          // If there is an onEnter prop, call it
          if (this.onEnter) {
            this.onChange(getPlainText(this.wrappedElement.froalaEditor('html.get', true)))
            this.onEnter()
            this.wrappedElement.froalaEditor('html.set', '')
          }
          return false
        }
      }, true)
    })

    // Set the html before initializing the editor because it autofocuses to the editor otherwise
    this.wrappedElement.html(this.content)

    // Create toolbar
    this.wrappedElement.froalaEditor({
      key: this.activationKey,
      toolbarButtons: this.toolbarButtons,
      toolbarButtonsMD: this.toolbarButtons,
      toolbarButtonsSM: this.toolbarButtons,
      toolbarButtonsXS: this.toolbarButtons,
      pastePlain: this.plainText,
      height: this.height,
      heightMin: this.heightMin,
      heightMax: this.heightMax,
      toolbarSticky: false,
      linkList: this.linkList,
      linkText: false,
      linkEditButtons: this.linkEditButtons,
      imageUploadURL: '/api/v1/images/',
      imageUploadParams: {
        token: authStore.getToken()
      }
    })

    if (this.disabled) this.wrappedElement.froalaEditor('edit.off')

    this.wrappedElement.on('froalaEditor.contentChanged', (e, editor) => {
      let newContent = this.wrappedElement.froalaEditor('html.get', true)
      this.onChange(this.plainText ? getPlainText(newContent) : newContent)
    })
  },
  beforeDestroy () {
    // Clean up editor when unmounting
    this.wrappedElement = $(this.$refs.editor)

    let editor = this.wrappedElement.data('froala.editor')
    editor.$el.atwho('destroy')

    this.wrappedElement.off('froalaEditor.contentChanged')
    this.wrappedElement.froalaEditor('destroy')
  },
  methods: {
    getAutocompleteConfig () {
      // Define data source for At.JS.
      let datasource = this.usersStore.users

      // Build data to be used in At.JS config.
      let names = $.map(datasource, (value, i) => {
        return {
          'id': value.id,
          'first_name': `${value.first_name}`,
          'last_name': `${value.last_name}`,
          'email': value.email,
          'search': `${value.first_name} ${value.last_name} ${value.email}`
        }
      })

      // Define config for At.JS.
      let atConfig = {
        at: '@',
        data: names,
        /* eslint-disable no-template-curly-in-string */
        displayTpl: '<li>${first_name} ${last_name} <small>${email}</small></li>',
        insertTpl: '${atwho-at}${first_name}${last_name}<span class="hidden user-id">${id}</span>',
        /* eslint-enable */
        searchKey: 'search',
        limit: 200
      }

      let mergeTagsSource = this.mergeTagsStore.mergeTags

      // Build data to be used in At.JS config.
      let mergeTags = $.map(mergeTagsSource, (value, i) => {
        return {
          'id': value.id,
          'name': value.name,
          'value': value.value,
          'search': `${value.name} ${value.value}`
        }
      })

      let mergeTagConfig = {
        at: '{{',
        /* eslint-disable no-template-curly-in-string */
        displayTpl: '<li>${name} <small>${value}</small></li>',
        insertTpl: '${atwho-at}${value}}}',
        /* eslint-enable */
        searchKey: 'search',
        data: mergeTags,
        limit: 200
      }

      return {
        'atConfig': atConfig,
        'mergeTagConfig': mergeTagConfig
      }
    }
  },
  props: {
    content: { required: true, default: '' },
    onChange: { required: false },
    height: { required: false, default: null },
    heightMin: { required: false, default: null },
    heightMax: { required: false, default: null },
    plainText: { required: false, default: false },
    /*

      Example linkList prop to pass

      linkList: [
        {
          text: 'Google',
          href: 'https://google.com',
          target: '_blank'
        },
        {...}
      ]

    */
    linkList: { required: false, type: Array, default () { return [] } },
    onEnter: { required: false },
    disabled: { required: false }
  },
  watch: {
    content: {
      handler (val) {
        // This will trigger after we call our onChange event, but if it's different that means it
        // got updated somewhere else (like switching signatures), so clear html and replace it

        let currentText = this.wrappedElement.froalaEditor('html.get')
        currentText = this.plainText ? getPlainText(currentText) : currentText
        if (currentText !== val) {
          this.wrappedElement.froalaEditor('html.set', val)
        }
      }
    },
    usersStore: {
      handler (value) {
        let config = this.getAutocompleteConfig()

        var editor = this.wrappedElement.data('froala.editor')

        // NOTE: another init of the @ button
        // editor.$el.atwho(config.atConfig);
        editor.$el.atwho(config.mergeTagConfig)
      },
      deep: true
    },
    linkList: {
      handler (val) {
        if (this.wrappedElement) {
          this.wrappedElement.data('froala.editor').opts.linkList = val
        }
      },
      deep: true
    },
    disabled: {
      handler (val) {
        this.$nextTick(() => {
          if (this.wrappedElement) this.wrappedElement.froalaEditor(`edit.${val ? 'off' : 'on'}`)
        })
      }
    }
  },
  data () {
    return {
      usersStore: usersStore.get(),
      mergeTagsStore: mergeTagsStore.get(),
      // License Key for froala
      activationKey: 'lJCJWECHICc2JOZWJ=='
    }
  }
}
</script>

<style lang='scss'>
  @import "~styles/variables";

  .fr-box {
    p {
      line-height: 22px;
      margin: 0px;
    }
  }

  .fr-placeholder {
    display: none !important;
  }

  .fr-element[contenteditable="false"] {
    background-color: #e7e6e6;
  }

  .fr-toolbar.fr-top {
    padding: 0px;
    box-shadow: 0px 0px 0px;
  }

  .fr-box.fr-inline .fr-wrapper {
    opacity: 1.0 !important;
  }

  .fr-box.fr-basic.fr-top .fr-wrapper {
    box-shadow: 0px 0px 0px;
  }

  .fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn {
    margin: 0px;
  }

  .fr-desktop .fr-command {

    &:hover {
      background: $turquoise;
      color: $white;
    }
  }

  .fr-popup {
    border-top: 5px solid $turquoise;
  }

  .fr-popup .fr-arrow {
    border-bottom: 5px solid $turquoise;
  }

  .fr-popup .fr-buttons {
    padding: 0px;
    box-shadow: 0px 0px 0px;
  }

  button.fr-command.fr-btn.fr-dropdown[data-cmd="linkList"] {
    width: 180px;

    i::before {
      content: '';
      background-image: url('~img/page.svg');
      width: 15px;
      height: 14px;
      display: inline-block;
      background-repeat: no-repeat;
    }

    i::after {
      content: 'Select a page or job';
      margin-left: 10px;
      font-family: 'Open Sans', sans-serif;
    }
  }

  .fr-link-insert-layer.fr-layer.fr-active {
    @include transition-sm-med-ease;

    font-size: 12px;

    padding: 0px 20px;

    .fr-input-line {
      padding: 4px 0px;

      input {
        padding: 0px 5px;
        border-bottom: solid 1px #979797;
        height: 20px;

        &:focus {
          border-bottom: solid 1px #979797;
        }
      }
    }

    .fr-checkbox-line {
      text-align: center;
    }

    .fr-action-buttons {
      text-align: center;
      margin-top: 16px;

      .fr-command.fr-submit {
        padding: 6px 55px;
        text-transform: uppercase;
        color: white;
        background: $dusty-gray;
        border-radius: 2px;
        letter-spacing: 1.8px;

        &:hover {
          background: #787778;
        }
      }
    }
  }

  .fr-element {
  	user-select: auto !important;
  }

</style>
