<template>
  <div class="scroll-nav-container" v-show="showNav">
    <slot></slot>
  </div>
</template>

<script>
export default {
  mounted () {
  },
  computed: {
  },
  methods: {
  },
  components: {
  },
  props: {
    showNav: { required: true }
  }
}
</script>
<style lang='scss' scoped>
@import "~styles/variables";

.scroll-nav-container {
  padding: 15px 40px;
  background: $white;
  position: fixed;
  width: inherit;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  z-index: 1000;
}

</style>
