<template>
  <div role="tablist" class="compose-tab-container" :style="customStyles">
    <div v-for="(tab, index) in tabs"
      role="tab"
      :aria-selected="index === selectedTab"
      :class="{'active': index === selectedTab}"
      @click="tabClick(index)">
      <template v-if="tab.activeImage && tab.image">
        <img v-svg-src="tab.activeImage" v-if="index === selectedTab"></img>
        <img v-svg-src="tab.image" v-else></img>
      </template>
      <span>{{tab.title}}</span>
    </div>
  </div>
</template>

<script>

export default {
  components: {
  },
  mounted () {

  },
  methods: {
    tabClick (index) {
      this.$emit('change', index)
    }
  },
  props: {
    tabs: { required: true },
    selectedTab: { required: false },
    customStyles: { required: false }
  }
}
</script>

<style lang='scss'>
  @import "~styles/variables";

  $tab-height: 3.4rem;
  [role="tablist"] {
    width: 100%;
    position: relative;

    height: $tab-height;
    margin-top: 2.4rem;

    border-bottom: 1px solid $mystic;

    img {
      margin-right: 2.5rem;
      width: 1.6rem;
    }

    div {
      @include i-b();
      text-align: center;

      height: $tab-height;
      width: 25%;
      margin: 0 4%;
      padding: 0.4rem 0;
      font-size: 1.4rem;

      color: $dusty-gray;

      &.active {
        color: $dove-gray;
        border-bottom: 3px solid $havelock;
      }

    }

    span {
      @include i-b();
    }
  }

</style>
