<template>
  <img :src="imgSrc" class="tooltip-button" :title="content" ref="tooltip" v-bind:style="customStyles" />
</template>

<script>
import tooltipster from 'tooltipster'
import icon from 'img/tooltip.png'
import whiteIcon from 'img/tooltip-white.png'

export default {
  components: {
  },
  data () {
    return {
      icon,
      whiteIcon
    }
  },
  computed: {
    imgSrc () {
      return this.white ? this.whiteIcon : this.icon
    }
  },
  mounted () {
    $(this.$refs.tooltip).tooltipster({
      theme: 'tooltipster-noir',
      maxWidth: this.maxWidth || 300,
      contentAsHTML: true,
      interactive: true,
      trigger: 'custom',
      triggerOpen: {
        mouseenter: true,
        touchstart: true
      },
      triggerClose: {
        scroll: true,
        mouseleave: true,
        tap: true
      }
    })
  },
  props: {
    content: { required: true },
    maxWidth: { required: false },
    customStyles: { required: false },
    white: { required: false }
  }
}
</script>
