<template>
  <div class="candidate-comment">
    <span class="commenter-image" :style="commenterImage"></span>
    <h3>@{{commenter.first_name}}{{commenter.last_name}}</h3>
    <p v-if="!editing" class="comment" v-html="formattedComment"></p>
    <click-outside v-else :handler="handleClickOutside">
      <CustomTextArea
        :customStyles="commentBoxStyles"
        :containerStyles="commentBoxContainerStyles"
        placeholder="Enter a comment..."
        :onEnter="commentEntered"
        :userAutoCompleteEnabled="true"
        :autoFocus="true"
        :value="formattedComment"
      />
    </click-outside>
    <p class="timestamp">
      {{createdDate}}
    </p>
    <p v-if="isUser" class="comment-options">
      <span role="button" @click="editComment">EDIT</span>
      &bull;
      <span role="button" @click="deleteComment">DELETE</span>
    </p>
  </div>
</template>

<script>

import CustomTextArea from 'components/FormElements/CustomTextArea'
import ClickOutside from 'onclick-outside'

import api from 'api'
import { usersStore, accountStore, candidatesStore, sourcedReqStore } from 'stores'
import { mergeTagsParser, modals, alerts } from 'helpers'
import moment from 'moment'

import xss from 'xss'

import accountPlaceholder from 'img/account-placeholder.svg'

export default {
  components: {
    CustomTextArea,
    ClickOutside
  },
  mounted () {

  },
  data () {
    return {
      isUser: false,
      editing: false,
      usersStore: usersStore.get(),
      accountStore: accountStore.get(),
      candidatesStore: candidatesStore.get(),
      sourcedReqStore: sourcedReqStore.get(),
      commentBoxContainerStyles: {
        'height': 'auto',
        'min-height': '45px',
        'display': 'block'
      },
      commentBoxStyles: {
        'height': 'auto',
        'min-height': '45px',
        display: 'block',
        padding: '0.5rem',
        'line-height': '1.4'
      }
    }
  },
  computed: {
    commenterImage () {
      return { 'background-image': `url('${this.commenter.profile_photo_url || accountPlaceholder}')` }
    },
    commenter () {
      let commenter = {}

      $.each(this.usersStore.users, (key, value) => {
        if (value.id === this.comment.user_id) {
          commenter = value
          if (commenter.id == this.accountStore.account.id) {
            this.isUser = true
          }
          return false
        }
      })

      return commenter
    },
    createdDate () {
      let momentTime = moment(this.comment.date_created)
      return `${momentTime.format('M/D/YY')} at ${momentTime.format('h')}:${momentTime.format('mmA')} EST`
    },
    formattedComment () {
      let text = mergeTagsParser.fromTags(this.comment.comment)

      // Make sure nobody's trying to sneak by some malicious XSS stuff
      return xss(text, {
        whiteList: {
          a: ['href', 'target'],
          span: ['class']
        }
      })
    }
  },
  methods: {
    handleClickOutside () {
      this.editing = false
    },
    editComment () {
      this.editing = !this.editing
    },
    commentEntered (text) {
      this.editing = false

      // Wrap all text in a span so HTML parser works when converting tags
      let textElement = `<span>${text}</span>`

      let textToSend = mergeTagsParser.toTags(textElement)

      api.ajax(`comments/${this.comment.id}`, {
        type: 'PUT',
        data: {
          comment: textToSend
        },
        disableOverlay: true
      })
      .done((response) => {
        // Edit comment on candidate object
        if (this.candidate) {
          candidatesStore.editCommentOnCandidate(response, this.candidate)
        } else if (this.sourcedReq) {
          sourcedReqStore.editComment(response, this.sourcedReq)
        }
      })
      .fail((e) => {
        console.error('error adding comment ', e)
      })
    },
    deleteComment () {
      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to delete this comment?`,
          confirmText: 'Yes, delete it!',
          cancelText: 'Cancel',
          confirm: () => {
            api.ajax(`comments/${this.comment.id}`, {
              type: 'DELETE'
            })
            .done(() => {
              if (this.candidate) {
                candidatesStore.removeCommentFromCandidate(this.comment, this.candidate)
              } else if (this.sourcedReq) {
                sourcedReqStore.removeComment(this.comment, this.sourcedReq)
              }
            })
            .fail(() => {
              alerts.show({
                message: 'Oh no! There was an error deleting this comment. Please try again. Sorry for the inconvenience!',
                status: 'error'
              })
            })
          }
        }
      })
    }
  },
  props: {
    comment: { required: true },
    candidate: { required: false },
    sourcedReq: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .candidate-comment {
    position: relative;

    padding: 8px 8px 8px 46px;
    margin: 0 0 15px 0;

    border-left: 3px solid $half-baked;
  }

  .commenter-image {
    width: 30px;
    height: 30px;

    @include circle-img;
    position: absolute;
    left: 8px;
    top: 8px;
  }

  h3 {
    font-size: 1.2rem;
    letter-spacing: 1.3px;
    color: $tundora;
    text-transform: uppercase;

    margin: 0;

    @include text-ellipsis;
  }

  p {
    font-size: 1.2rem;
    margin: 4px auto;
    line-height: 1.4;

    &.comment {
      word-wrap: break-word;
    }
  }

  .timestamp {
    color: $alto;
    font-size: 10px;
  }

  .comment-options {
    color: $alto;
    font-size: 10px;

    span {
      @include green-link;
      color: $alto;

      &:hover {
        color: $denim;
      }
    }
  }

</style>
