<template>
  <div class="candidate-activity">
    <span class="activity-line"></span>
    <img v-if="activityImage" class="activity-image" v-svg-src="activityImage">
    <h3>{{activity.event_name}}</h3>
    <p>{{activity.summary}}</p>
    <p class="timestamp">{{activityDate}}</p>
    <span class="activity-action" role="button" v-if="!(activity.action === 'ADD TO LIST' && userIsTransactional)" @click="actionClick">{{activity.action}}</span>
  </div>
</template>

<script>

import { accountStore, usersStore } from 'stores'
import moment from 'moment'
import { modals, alerts } from 'helpers'
import api from 'api'

import added from 'img/activity/added.svg'
import click from 'img/activity/click.svg'
import emailBounce from 'img/activity/email-bounce.svg'
import email from 'img/activity/email.svg'
import keepInTouchCommunity from 'img/activity/keep-in-touch-community.svg'
import messages from 'img/activity/messages.svg'
import no from 'img/activity/no.svg'
import open from 'img/activity/open.svg'
import page from 'img/activity/page.svg'
import smsSent from 'img/activity/sms-sent.svg'
import smsStopSending from 'img/activity/sms-stop-sending.svg'
import emailStopSending from 'img/activity/email-stop-sending.svg'
import spam from 'img/activity/spam.svg'
import unsubscribe from 'img/activity/unsubscribe.svg'
import yesApply from 'img/activity/yes-apply.svg'
import invalid from 'img/activity/invalid-email.svg'

export default {
  components: {
  },
  data () {
    return {
      accountStore: accountStore.get(),
      usersStore: usersStore.get()
    }
  },
  created () {
    this.init()
  },
  computed: {
    activityImage () {
      return this.activity.image
    },
    activityDate () {
      let momentTime = moment(this.activity.timestamp)
      return `${momentTime.format('M/D/YY')} at ${momentTime.format('h')}:${momentTime.format('mmA')} EST`
    },
    userIsTransactional () {
      return this.accountStore.account.is_transactional
    },
    doNotContact () {
      return this.candidate.do_not_email && this.candidate.do_not_sms
    }
  },
  methods: {
    init () {
      // Using variables to easily change text of actions or modals for multiple activities
      // We'll use commented out ones later. "later."

      // NOTE: turning off send message action for now
      // let sendMessage = 'SEND MESSAGE'
      let sendMessage = ''
      let sendMessageModal = 'SendMessageModal'

      let viewMessage = 'VIEW MESSAGE'
      // let viewMessageModal = 'ViewMessageModal'

      let viewSequence = 'VIEW SEQUENCE'
      // let viewSequenceModal = 'ViewSequenceModal'

      let addToList = 'ADD TO LIST'
      let addToModal = 'AddToModal'

      // let findPersonalInfo = 'FIND PERSONAL INFO'
      // let findPersonalInfoModal = 'FindPersonalInfoModal'

      if (this.activity.user_name === '') {
        $.each(this.usersStore.users, (key, value) => {
          if (value.id === this.activity.user_id) {
            this.activity.user_name = value.email
            return false
          }
        })
      }

      // Human-readable activity types come back in API response as `activity.event_name`
      switch (this.activity.event_type) {
        case 'ER': // Replied To Email
          this.activity.image = messages
          this.activity.action = viewMessage
          this.activity.summary = `“${this.activity.text}”`
          break
        case 'EO': // Opened Email
          if (this.activity.reopen) this.activity.event_name = 'Reopened Email'
          this.activity.image = open
          this.activity.action = !this.userIsTransactional && !this.doNotContact ? addToList : ''
          this.activity.summary = `${this.candidate.first_name} has ${this.activity.reopen ? 'reopened' : 'opened'} your email “${this.activity.subject}”.`
          this.activity.modal = addToModal
          break
        case 'EB': // Email Bounced
          this.activity.image = emailBounce
          // TODO: will be findPersonalInfo action eventually
          this.activity.action = ''
          this.activity.summary = `Your email “${this.activity.subject}” to ${this.candidate.first_name} bounced.`
          break
        case 'ED': // Erectile Dysfunction
          this.activity.image = email
          this.activity.action = !this.userIsTransactional ? viewSequence : ''
          this.activity.summary = `${this.candidate.first_name} was delivered your email “${this.activity.subject}”.`
          break
        case 'ES': // Email Marked As Spam
          this.activity.image = spam
          this.activity.action = ''
          this.activity.summary = `${this.candidate.first_name} marked your email “${this.activity.subject}” as spam.`
          break
        case 'EU': // Email Unsubscribed
          this.activity.image = unsubscribe
          this.activity.action = ''
          this.activity.summary = `${this.candidate.first_name} unsubscribed from emails and will no longer receive emails about your jobs.`
          break
        case 'EC': // Email Link Clicked
          this.activity.image = click
          this.activity.action = ''
          this.activity.summary = `${this.candidate.first_name} clicked a link in your email "${this.activity.subject}".`
          break
        case 'SR': // SMS Replied
          this.activity.image = messages
          this.activity.summary = `“${this.activity.text}”`
          break
        case 'ST': // SMS Opt Out
          this.activity.image = smsStopSending
          this.activity.action = ''
          // TODO: need sequence name later
          this.activity.summary = `${this.candidate.first_name} said 'STOP' to an SMS.`
          break
        case 'EN': // Email Opt Out
          this.activity.image = emailStopSending
          this.activity.action = ''
          // TODO: need sequence name later
          this.activity.summary = `${this.candidate.first_name} unsubscribed from a sequence.`
          break
        case 'GU': // Joined Community
          this.activity.image = keepInTouchCommunity
          this.activity.action = !this.userIsTransactional && !this.doNotContact ? addToList : ''
          this.activity.summary = `${this.candidate.first_name} signed up for updates on your “${this.activity.page_title}” page.`
          this.activity.modal = addToModal
          break
        case 'NN': // Email Clicked 'Keep In Touch'
          this.activity.image = keepInTouchCommunity
          this.activity.action = !this.userIsTransactional && !this.doNotContact ? addToList : ''
          this.activity.summary = `${this.candidate.first_name} clicked the “Keep In Touch” link in your email “${this.activity.subject}”.`
          this.activity.modal = addToModal
          break
        case 'OC': // Job Page Link Clicked
          this.activity.image = click
          this.activity.action = !this.userIsTransactional && !this.doNotContact ? addToList : ''
          this.activity.summary = `${this.candidate.first_name} clicked on the link “${this.activity.url}” on your page “${this.activity.page_title}”.`
          this.activity.modal = addToModal
          break
        case 'PV': // Job Page Visited
          this.activity.image = page
          this.activity.action = !this.userIsTransactional && !this.doNotContact ? addToList : ''
          if (this.activity.page_title) {
            this.activity.summary = `${this.candidate.first_name} visited your “${this.activity.page_title}” page for ${moment.unix(this.activity.seconds_on_page).format('m')} minutes and ${moment.unix(this.activity.seconds_on_page).format('s')} seconds.`
          } else {
            this.activity.summary = `${this.candidate.first_name} visited a job page that has since been removed.`
          }
          this.activity.modal = addToModal
          break
        case 'AP': // Applied For Role
          this.activity.image = yesApply
          this.activity.action = this.doNotContact ? '' : sendMessage
          this.activity.summary = `${this.candidate.first_name} applied for your “${this.activity.req_title}” role.`
          this.activity.modal = sendMessageModal
          this.activity.modalStyles = { width: '700px' }
          break
        case 'YC': // Interested In Role
          this.activity.image = yesApply
          this.activity.action = this.doNotContact ? '' : sendMessage
          this.activity.summary = `${this.candidate.first_name} clicked the “Yes” link in your email “${this.activity.subject}”.`
          this.activity.modal = sendMessageModal
          this.activity.modalStyles = { width: '700px' }
          break
        case 'NC': // Passed On Role
          this.activity.image = no
          this.activity.action = !this.userIsTransactional && !this.doNotContact ? addToList : ''
          this.activity.summary = `${this.candidate.first_name} clicked the “No” link in your email “${this.activity.subject}”.`
          this.activity.modal = addToModal
          break
        case 'ME': // Engaged With Role
          this.activity.image = yesApply
          this.activity.action = this.doNotContact ? '' : sendMessage
          this.activity.summary = `${this.activity.user_name} changed ${this.candidate.first_name}’s response type to “Yes” and status to “Engaged”.`
          this.activity.modal = sendMessageModal
          this.activity.modalStyles = { width: '700px' }
          break
        case 'MK': // Wants To Keep In Touch
          this.activity.image = keepInTouchCommunity
          this.activity.action = ''
          this.activity.summary = `${this.activity.user_name} changed ${this.candidate.first_name}’s response type to “Keep In Touch” and status to “Engaged”.`
          break
        case 'MP': // Passed On Opportunity
          this.activity.image = no
          this.activity.action = this.doNotContact ? '' : sendMessage
          this.activity.summary = `${this.activity.user_name} changed ${this.candidate.first_name}’s response type to “No” and status to “Passed”.`
          this.activity.modal = sendMessageModal
          this.activity.modalStyles = { width: '700px' }
          break
        case 'AD': // Added To Happie
          this.activity.image = added
          this.activity.action = !this.userIsTransactional && !this.doNotContact ? addToList : ''
          this.activity.summary = `${this.candidate.first_name} was added to Happie.`
          this.activity.modal = addToModal
          break
        case 'PC': // Clicked On Page
          this.activity.image = click
          this.activity.action = !this.userIsTransactional && !this.doNotContact ? addToList : ''
          // TODO: need url here for later
          this.activity.summary = `${this.candidate.first_name} clicked on the link “${this.activity.url}” on your page “${this.activity.page_title}”.`
          this.activity.modal = addToModal
          break
        case 'SS': // Sent SMS
          this.activity.image = smsSent
          // TODO: this needs to be for sequences and for viewing messages in inbox
          this.activity.summary = `${this.candidate.first_name} was sent an SMS text message.`
          break
        case 'EF': // Find Personal Info
          this.activity.image = invalid
          // TODO: will be findPersonalInfo action eventually
          this.activity.action = ''
          // TODO: need sequence name for later
          // TODO: this may need to be updated later
          this.activity.summary = `${this.candidate.first_name}’s email address in Happie isn’t valid. Please enter a valid email address so that ${this.candidate.first_name} can receive your emails!`
          break
        default:
          console.error('Activity type not recognized')
          break
      }
    },
    actionClick () {
      switch (this.activity.action) {
        case 'ADD TO LIST':
          let styles = this.activity.modalStyles || {}
          modals.show({
            component: this.activity.modal,
            props: {
              containerStyles: styles,
              candidate: this.candidate,
              candidates: [this.candidate.id],
              apiUrl: 'candidate-lists',
              customCallback: (list) => {
                // Add candidates to this list
                api.ajax(`candidate-lists/${list.id}/members`, {
                  type: 'POST',
                  data: [this.candidate.id]
                })
                .done((response) => {
                  alerts.show({
                    status: 'success',
                    message: `Awesome — you successfully added ${this.candidate.first_name} to ${list.name}! They’ll automatically receive messages in sequences to which your list is added.`
                  })
                })
                .fail(() => {
                  alerts.show({
                    status: 'error',
                    message: 'Uh oh! For some reason, there was an error adding to your list. Please try again, and sorry for the inconvenience!'
                  })
                })
              }
            }
          })
          break
        case 'VIEW MESSAGE':
          const emailID = this.activity.value_1
          const type = this.activity.event_type === 'ER' ? 'email' : 'sms'
          api.ajax(`${type}/${emailID}`)
          .done(response => {
            // response.timezone = this.sequence.timezone
            modals.show({
              component: 'PreviewModal',
              props: {
                hideXout: true,
                preview: response,
                type,
                containerStyles: {
                  width: '576px'
                }
              }
            })
          })
          .fail(e => {
            console.error('preview error', e)
          })
          break
        case 'VIEW SEQUENCE':
          this.$router.push({ path: `/outreach/sequences/${this.activity.sequence_id}` })
          break
        default:
          break
      }
    }
  },
  mounted () {
    console.log('actiivty', this.activity)
  },
  watch: {
    candidate: {
      handler (val) {
        // If candidate object objects, need to re-init to get things like activity images
        this.init()
      },
      deep: true
    }
  },
  props: {
    activity: { required: true },
    candidate: { required: true }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  // TODO: A lot of these styles have overlap with CandidateComment.vue, would be nice
  // to consolidate them into shared classes

  .candidate-activity {
    background: $white;
    position: relative;

    padding: 0px 8px 8px 57px;

    &:last-child .activity-line {
      display: none;
    }

  }

  .activity-line {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 34px;
    background: #979797;
  }

  .activity-image {
    width: 33px;
    height: 33px;
    position: absolute;
    left: 18px;
    background: $white;
  }

  h3 {
    font-size: 1.2rem;
    letter-spacing: 1.3px;
    color: $tundora;
    text-transform: uppercase;

    margin: 0;

    @include text-ellipsis;
  }

  p {
    font-size: 1.2rem;
    margin: 4px 0px;
    width: 175px;
  }

  .timestamp {
    color: $alto;
    font-size: 10px;

    @include text-ellipsis;
  }

  .activity-action {
    letter-spacing: 0.9px;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 18px;

    @include green-link;
    color: $havelock;

    &:hover {
      color: $denim;
    }
  }


</style>
