<template>
  <transition name="row-animation">
    <tr class="candidate-row">
      <td class="name-cell">
        {{previewCandidate.first_name}}
      </td>
      <td class="name-cell">
        {{previewCandidate.last_name}}
      </td>
      <td>{{previewCandidate.title}}</td>
      <td>{{previewCandidate.company_name}}</td>
      <td>{{addressCityState}}</td>
      <td><a v-if="previewCandidate.linkedin_url" target="_blank" :href="previewCandidate.linkedin_url">View Profile</a></td>
      <td><a v-if="previewCandidate.facebook_url" target="_blank" :href="previewCandidate.facebook_url">View Profile</a></td>
      <td>{{email}}</td>
      <td><a v-if="previewCandidate.resume_uploaded">Download</a></td>
    </tr>
  </transition>
</template>

<script>

import { candidateHelper } from 'helpers'

export default {
  components: {
  },
  mounted () {

  },
  data () {
    return {
    }
  },
  computed: {
    addressCityState () {
      return candidateHelper.getCityState(this.previewCandidate)
    },
    email () {
      if (!this.previewCandidate.emails || !this.previewCandidate.emails[0]) {
        return ''
      } else {
        return this.previewCandidate.emails[0].address
      }
    },
    phone () {
      if (!this.previewCandidate.phones || !this.previewCandidate.phones[0]) {
        return ''
      } else {
        return this.previewCandidate.phones[0].number
      }
    }
  },
  methods: {
  },
  props: {
    previewCandidate: { required: true }
  }
}
</script>
