<template>
  <div :class="{'experiences-container': true,'is-modal': isModal}" :style="customStyles">
    <h1 v-if="isModal">PROFESSIONAL<br>EXPERIENCE</h1>
    <div class="experiences">
      <div class="exp-container" v-for="exp, index in experiences" v-if="allExp || index < 2">
        <div class="col-1">
          <span class="line" v-if="index > 0"></span>
          <img v-svg-src="jobIcon" />
        </div>
        <div class="col-2">
          <div class="years">{{expRange(exp)}}</div>
          <div class="title">{{exp.title}}</div>
          <div class="company">{{exp.company}}</div>
        </div>
      </div>
      <div class="extra-exp" v-if="!allExp">
        <span class="line"></span>
        <img
          v-svg-src="ellipseImg"
          role="button"
          @mouseover="() => {ellipseImg = ellipseHoverIcon}"
          @mouseleave="() => {ellipseImg = ellipseIcon}"
          @click="openExperienceModal"
        />
      </div>
    </div>
  </div>
</template>

<script>

import jobIcon from 'img/find-candidates/work-history-briefcase.svg'
import ellipseIcon from 'img/more-ellipse.svg'
import ellipseHoverIcon from 'img/more-ellipse-hover.svg'

import moment from 'moment'

export default {

  data () {
    return {
      jobIcon,
      ellipseImg: ellipseIcon,
      ellipseIcon,
      ellipseHoverIcon
    }
  },
  methods: {
    expRange (exp) {
      let end = exp.end ? moment(exp.end).format('YYYY') : 'Current'
      if (end === 'Invalid date') end = 'Current'
      return `${moment(exp.start).format('YYYY')} - ${end}`
    },
    openExperienceModal () {
      if (this.showMoreClick) {
        this.showMoreClick()
      }

      // very experience
      // much inception
      // wow

      //          ▄              ▄
      //         ▌▒█           ▄▀▒▌
      //         ▌▒▒█        ▄▀▒▒▒▐
      //        ▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐
      //      ▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐
      //    ▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌
      //   ▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒▌
      //   ▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐
      //  ▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄▌
      //  ▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▌
      // ▌▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒▒▐
      // ▐▒▒▐▀▐▀▒░▄▄▒▄▒▒▒▒▒▒░▒░▒░▒▒▒▒▌
      // ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒▒▒░▒░▒░▒▒▐
      //  ▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒░▒░▒░▒░▒▒▒▌
      //  ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▄▒▒▐
      //   ▀▄▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▄▒▒▒▒▌
      //     ▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀
      //       ▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀
      //          ▒▒▒▒▒▒▒▒▒▒▀▀
    }
  },
  props: {
    experiences: { required: true },
    allExp: { required: true },
    isModal: { required: false, default: false },
    customStyles: { required: false },
    showMoreClick: { required: false }
  }
}
</script>

<style lang="scss" scoped>
@import "~styles/variables";

.experiences-container {

  &.is-modal {
    .experiences {
      border-left: 3px solid $half-baked;
      padding-left: 25px;
    }
  }

  h1 {
    padding: 15px 27px;
    font-size: 14px;
    letter-spacing: 1.8px;
    color: #666666;
    font-weight: 400;
  }

  .exp-container {
    text-align: left;
    margin-bottom: 10px;
    position: relative;

    .col-1 {
      position: relative;

      img {
        position: absolute;
      }

      .line {
        width: 1px;
        background-color: #979797;
        position: absolute;
        height: 40px;
        top: -40px;
        left: 7px;
      }
    }

    .col-2 {
      display: inline-block;
      padding-left: 22px;
      width: 100%;

      div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        display: inline-block;
      }

      .years {
        font-size: 12px;
        font-weight: bold;
        color: #9b9b9b;
      }
      .title {
        font-size: 12px;
        font-weight: 600;
        color: #535353;
      }
      .company {
        font-size: 12px;
        color: #535353;
      }
    }
  }

  .extra-exp {
    text-align: left;
    position: relative;

    .line {
      width: 1px;
      background-color: #979797;
      position: absolute;
      height: 40px;
      top: -40px;
      left: 7px;
    }
  }
}

</style>
