<template>
  <table class="candidates-table">
    <thead>
      <tr>
        <th v-for="column in columns" @click="() => {headerClick(column.value)}" role="button">
          <img v-svg-src="filterUpImg" alt="filter-by-column" v-if="column.value === searchParams.sort_key"></img>
          <img v-svg-src="filterDownImg" alt="filter-ascending" v-if="'-' + column.value === searchParams.sort_key"></img>
          <img v-svg-src="filterToggleImg" alt="filter-descending" v-if="column.value !== searchParams.sort_key && '-' + column.value !== searchParams.sort_key"></img>
          {{column.label}}
        </th>
      </tr>
    </thead>
    <tbody>
      <CandidateRow v-for="candidate in candidates" :candidate="candidate" />
    </tbody>
  </table>
</template>

<script>

import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import CandidateRow from './CandidateRow'

import filterUpImg from 'img/candidates/filter-up.svg'
import filterDownImg from 'img/candidates/filter-down.svg'
import filterToggleImg from 'img/candidates/filter-toggle.svg'

export default {
  components: {
    CustomCheckbox,
    CandidateRow
  },
  mounted () {

  },
  data () {
    return {
      filterUpImg,
      filterDownImg,
      filterToggleImg,
      columns: [
        { value: 'first_name', label: 'First Name' },
        { value: 'last_name', label: 'Last Name' },
        { value: 'emails_json', label: 'Email' },
        { value: 'phones_json', label: 'Phone' },
        { value: 'title', label: 'Title' },
        { value: 'company_name', label: 'Company' },
        { value: 'addresses_json', label: 'Location' },
        { value: 'resume_uploaded', label: 'Resume' },
        { value: 'linkedin_url', label: 'LinkedIn' },
        { value: 'facebook_url', label: 'Facebook' }
      ]
    }
  },
  computed: {
  },
  methods: {
    checkboxChange (e, candidate) {
      candidate.isChecked = e.target.checked
    },
    headerClick (field) {
      this.sortHandler(field)
    }
  },
  props: {
    candidates: { required: true },
    searchParams: { required: false },
    sortHandler: { required: false }
  }
}
</script>

<style lang='scss'>
  @import "~styles/variables";

  // Scoped to class instead of using Vue scoping so CandidateRow picks up styles
  .candidates-table {

    text-align: left;
    border-collapse: collapse;

    thead {
      background-color: $alto;
      text-transform: uppercase;
      letter-spacing: 1.5px;

      th {
        height: 55px;
        border-right: 2px solid $white;
        &:last-child {
          border-right: 0;
        }

        img {
          display: inline-block;
          height: 10px;
          width: 10px;
        }
      }
    }

    td, th {
      max-width: 250px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      padding: 12px;
      position: relative;
    }

    tbody {
      background-color: $white;
      tr {
        height: 75px;
        border-bottom: 1px solid $mystic;
        &:last-child {
          border-bottom: 1px solid transparent;
        }
      }
    }

    a {
      @include green-link;
    }

    .name-cell {
      font-weight: 700;
    }

  }


</style>
