<template>
  <transition name="card-animation">
    <div class="candidate-card">
      <div class="top-section">

        <CustomCheckbox :customStyles="checkboxStyles" :checked="candidate.isChecked" :onChange="checkboxHandler" />
        <img :class="{'dropdown-button':true, 'active':dropdownOpen}" role="button" @click="toggleDropdown" v-svg-src="optionsImg"></img>
        <CustomSelect
          :customStyles="dropdownStyles"
          :items="dropdownItems"
          :selected="selectedAction"
          :onChange="candidateActionChange"
          :button-hidden="true"
          :fixed-width-med="true"
          :menuMaxHeight="350"
          ref="customSelect"
          :onToggle="onToggle"
        />

        <span @click="openCandidateModal" role="button" class="profile-image" :style="profileImageStyle"></span>

        <div class="linked-in-row">

          <img v-if="!candidate.facebook_url" height="12px" width="12px" v-svg-src="facebookDisabledImg" alt="linked-in-link" />
          <a v-else :href="facebookUrl" target="_blank">
            <img v-svg-src="facebookImg"  height="12px" width="12px" role="button" alt="facebook-in-link" />
          </a>

          <img v-if="!candidate.linkedin_url" v-svg-src="linkedInDisabledImg" alt="linked-in-link" />
          <a v-else :href="linkedinUrl" target="_blank">
            <img v-svg-src="linkedInImg" role="button" alt="linked-in-link" />
          </a>

          <img v-if="!candidate.resume_uploaded" v-svg-src="resumeDisabledImg" alt="resume" />
          <img v-else v-svg-src="resumeImg" role="button" alt="resume" @click="downloadResume" />
        </div>

        <span @click="openCandidateModal" role="button" class="candidate-name">{{candidate.first_name}} {{candidate.last_name}}</span>

        <span class="candidate-info">
          <img v-svg-src="candidateTitleImg" alt="title"></img>
          <span>{{candidate.title}}</span>
        </span>
        <span class="candidate-info">
          <img v-svg-src="candidateCompanyImg" alt="company"></img>
          <span>{{candidate.company_name}}</span>
        </span>
        <span class="candidate-info">
          <img v-svg-src="candidateLocationImg" alt="location"></img>
          <span>{{addressCityState}}</span>
        </span>

      </div>
      <div class="bottom-section">
        <span
          v-if="candidate.comment_count > 0"
          class="comments-count" role="button"
          @click="commentClickHandler">
            {{candidate.comment_count || 0}} previous comment{{candidate.comment_count > 1 ? "s": ""}}
        </span>
        <span v-else class="comments-count empty">0 previous comments</span>

        <div class="comment-container">
          <span class="comment-profile" :style="commentProfileStyle"></span>
          <CustomTextArea
            :customStyles="commentBoxStyles"
            :containerStyles="commentBoxContainerStyles"
            placeholder="Enter a comment..."
            :onEnter="commentEntered"
            :userAutoCompleteEnabled="true"
          />
        </div>
      </div>
    </div>
  </transition>
</template>

<script>

import linkedInImg from 'img/candidates/linked-in.svg'
import linkedInDisabledImg from 'img/candidates/linked-in-disabled.svg'
import facebookImg from 'img/candidates/facebook.svg'
import facebookDisabledImg from 'img/candidates/facebook-disabled.svg'
import resumeImg from 'img/candidates/resume.svg'
import resumeDisabledImg from 'img/candidates/resume-disabled.svg'

import CustomTextArea from 'components/FormElements/CustomTextArea'
import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import CustomSelect from 'components/FormElements/CustomSelect'
import accountPlaceholder from 'img/account-placeholder.svg'
import optionsImg from 'img/candidates/options.svg'
import candidateTitleImg from 'img/candidates/title.svg'
import candidateCompanyImg from 'img/candidates/company.svg'
import candidateLocationImg from 'img/candidates/location.svg'

import api from 'api'
import { accountStore, candidatesStore, adminStore } from 'stores'
import { candidateHelper, addProtocol, profileImageStyle, candidateActions, mergeTagsParser } from 'helpers'

export default {
  components: {
    CustomTextArea,
    CustomCheckbox,
    CustomSelect
  },
  mounted () {

  },
  data () {
    return {
      optionsImg,
      facebookDisabledImg,
      facebookImg,
      linkedInDisabledImg,
      linkedInImg,
      resumeImg,
      resumeDisabledImg,
      candidateTitleImg,
      candidateCompanyImg,
      candidateLocationImg,
      commentBoxContainerStyles: {
        width: '152px',
        'min-height': '32px',
        'height': '32px',
        'display': 'inline-block',
        'margin-left': '10px'
      },
      commentBoxStyles: {
        width: '152px',
        'min-height': '32px',
        'height': '32px',
        display: 'inline-block',
        padding: '0.5rem'
      },
      checkboxStyles: {
        position: 'absolute',
        top: '8px',
        left: '8px'
      },
      dropdownStyles: {
        position: 'absolute',
        top: '40px',
        left: '12px',
        width: '0',
        height: '20px'
      },
      selectedAction: { value: 'select' },
      accountStore: accountStore.get(),
      candidatesStore: candidatesStore.get(),
      adminStore: adminStore.get(),
      dropdownOpen: false
    }
  },
  computed: {
    dropdownItems () {
      let actions = [
        { value: 'select', label: 'Select Action' },
        { value: 'profile', label: 'View / Edit Profile' },
        { value: 'message', label: 'Send Message Now' },
        { value: 'add-to-list', label: 'Add to List' },
        { value: 'add-to-sequence', label: 'Add to Sequence' },
        { value: 'pause-messages', label: 'Pause Messages' },
        { value: 'resume-messages', label: 'Resume Messages' },
        { value: 'clear-messages', label: 'Clear Messages' },
        // TODO:
        // {value: "merge", label: "Merge Candidate"},
        { value: 'delete-candidates', label: 'Delete Candidate' }
      ]
      if (this.adminStore.is_system_admin) {
        actions.push({ value: 'find', label: 'Find Personal Info' })
      }
      return actions
    },
    checkedCandidates () {
      // Just a way to keep API calls consistent with bulk actions
      return [this.candidate.id]
    },
    profileImageStyle () {
      return profileImageStyle(this.candidate.profile_photo_url, accountPlaceholder)
    },
    commentProfileStyle () {
      return profileImageStyle(this.accountStore.account.profile_photo_url, accountPlaceholder)
    },
    addressStreet () {
      if (!this.candidate.addresses || !this.candidate.addresses[0]) {
        return ''
      } else {
        let address = this.candidate.addresses[0]
        return `${address.street_address_1}`
      }
    },
    addressCityState () {
      return candidateHelper.getCityState(this.candidate)
    },
    linkedinUrl () {
      return addProtocol(this.candidate.linkedin_url)
    },
    facebookUrl () {
      return addProtocol(this.candidate.facebook_url)
    }
  },
  methods: {
    openCandidateModal () {
      candidateHelper.openCandidateModal.apply(this, [this.candidate.id, this.reloadCandidates])
    },
    toggleDropdown () {
      this.$refs.customSelect.toggle()
    },
    onToggle (state) {
      this.dropdownOpen = state
    },
    checkboxHandler (e) {
      this.checkboxChange(e, this.candidate)
    },
    commentClickHandler () {
      candidateHelper.openCandidateComments.apply(this, [this.candidate])
    },
    commentEntered (text) {
      // Wrap all text in a span so HTML parser works when converting tags
      let textElement = `<span>${text}</span>`

      let textToSend = mergeTagsParser.toTags(textElement)

      api.ajax(`candidates/${this.candidate.id}/comments`, {
        type: 'POST',
        data: {
          comment: textToSend
        },
        disableOverlay: true
      })
      .done((response) => {
        // Add comment to candidate object
        candidatesStore.addCommentToCandidate(response, this.candidate)
      })
      .fail((e) => {
        console.error('error adding comment ', e)
      })
    },

    /* Bulk Candidate Actions */
    candidateActionChange (e) {
      let action = e.value
      switch (action) {
        case 'profile':
          this.openCandidateModal()
          break
        case 'message':
          candidateActions.sendMessage.apply(this, [[], true])
          break
        case 'pause-messages':
          candidateActions.pauseMessages.apply(this)
          break
        case 'resume-messages':
          candidateActions.resumeMessages.apply(this)
          break
        case 'clear-messages':
          candidateActions.clearMessages.apply(this)
          break
        case 'export':
          candidateActions.export.apply(this)
          break
        case 'add-to-list':
          candidateActions.addToList.apply(this)
          break
        case 'add-to-sequence':
          candidateActions.addToSequence.apply(this)
          break
        case 'delete-candidates':
          candidateActions.deleteCandidate.apply(this)
          break
        case 'find':
          candidateActions.findPersonalInfo.apply(this)
          break
        default:
          break
      }

      // Reset dropdown after selecting
      this.selectedAction = { value: 'select' }
    },
    downloadResume () {
      candidateHelper.downloadResume(this.candidate)
    }
  },
  props: {
    candidate: { required: true },
    checkboxChange: { required: true },
    reloadCandidates: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  $card-height: 354px;
  .candidate-card {
    width: 218px;
    height: $card-height;

    @include i-b;

    margin-right: 12.5px;
    margin-left: 12.5px;
    margin-bottom: 25px;

    box-shadow: 0 1px 2px 0 $alto;
  }

  $top-section-height: 284px;
  .top-section {
    position: relative;
    height: $top-section-height;
    background-color: $white;

    padding: 30px 0px;
    text-align: center;

    a {
      text-decoration: none;
    }
  }

  .dropdown-button {
    width: 31px;
    height: 20px;
    border-radius: 2px;
    background-color: $white;

    position: absolute;
    top: 8px;
    right: 8px;

    padding: 6px;

    &:hover, &:focus, &.active {
      background-color: $alto;
    }
  }

  .bottom-section {
    position: relative;
    overflow: hidden;

    height: $card-height - $top-section-height;
    background-color: $alabaster;
  }

  .profile-image {
    @include circle-img;
    display: block;

    margin: 0 auto;

    width: 87px;
    height: 87px;

    border-style: solid;
    border-width: 1px;
    border-color: $border-gray;
  }

  .linked-in-row {
    margin: 7px 0;
    img, a {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .candidate-name {
    display: block;
    font-size: 2.0rem;
    color: $dove-gray;

    @include text-ellipsis;

    margin: 9px auto 15px auto;
    padding: 0 12px;
  }

  .candidate-info {
    display: block;
    width: 80%;
    font-size: 1.2rem;
    color: $dusty-gray;
    margin: 5px auto;
    text-align: left;

    height: 20px;
    line-height: 20px;

    &.address-city-info {
      margin: 0 auto;
      padding-left: 25px;
    }

    img, span {
      @include i-b;
    }

    span {
      margin-left: 8px;
      max-width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .comments-count {
    position: absolute;
    top: 8px;
    left: 8px;

    @include green-link;

    &.empty {
      color: $dusty-gray;
      text-decoration: none;
      font-weight: 400;
    }
  }

  .comment-container {
    margin: 26px 9px 0 9px;
  }
  .comment-profile {
    @include circle-img;
    @include i-b;

    width: 31px;
    height: 31px;

    margin-right: 6px;
  }

// Animations for cards
.card-animation-enter {
  opacity: 0 !important;
}
.card-animation-enter-active {
  opacity: 1;
}
.card-animation-leave {
  opacity: 1;
}
.card-animation-leave-active {
  opacity: 0;
}

</style>
