<template>
<div :class="{'candidate-comment-container': true, 'collapsible': collapsible}" :is-modal="isModal">

  <!-- Same tooltip on card vs. in candidate profile, but header positioning is different -->
  <div class="candidate-comment-header" v-if="!isModal">
    <h2 v-if="!collapsible">
      <Tooltip
      content="You can <em>comment</em> on a candidate's profile to track and share your thoughts about the candidate with your team. Start a discussion and directly notify teammates of comments by @mentioning them (type <b>'@'</b> and select users from the list). Record notes before you forget, collaborate and coordinate with your team, and make certain everyone stays in the loop and up to date."
      :customStyles="tooltipStyles" />
      COMMENTS
    </h2>
    <div v-else class="filter-collapse" role="button" @click="(e) => {commentsCollapsed = !commentsCollapsed}">
      <Tooltip
      content="You can <em>comment</em> on a candidate's profile to track and share your thoughts about the candidate with your team. Start a discussion and directly notify teammates of comments by @mentioning them (type <b>'@'</b> and select users from the list). Record notes before you forget, collaborate and coordinate with your team, and make certain everyone stays in the loop and up to date."
      :customStyles="tooltipStyles" />
      COMMENTS
      <img :class="{'i-b collapse-arrow': true, 'options-open': !commentsCollapsed}" v-svg-src="upArrowImg" role="button"/>
    </div>
  </div>

  <Tooltip
    v-if="isModal && candidate"
    content="You can <em>comment</em> on a candidate's profile to track and share your thoughts about the candidate with your team. Start a discussion and directly notify teammates of comments by @mentioning them (type <b>'@'</b> and select users from the list). Record notes before you forget, collaborate and coordinate with your team, and make certain everyone stays in the loop and up to date."
    :customStyles="modalTooltipStyles" />

  <div class="sk-folding-cube" v-if="!commentsLoaded">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
  <!--
    NOTE: Check to make sure the userstore is loaded because the comments will fail to render otherwise
    If the userStore.users has length, then the users have loaded
  -->
  <h3 class="no-comments-header" v-if="isModal && comments.length < 1">Start the conversation!</h3>
  <div class="candidate-comment-list" ref="commentList" v-if="commentsLoaded && usersStore.users.length" v-show="!commentsCollapsed">
    <CandidateComment
      v-if="sourcedReq"
      v-for="comment in comments"
      :comment="comment"
      :sourcedReq="sourcedReq"
    />
    <CandidateComment
      v-if="candidate"
      v-for="comment in comments"
      :comment="comment"
      :candidate="candidate"
    />
  </div>
  <div class="candidate-comment-box" v-if="commentsLoaded" v-show="!commentsCollapsed">
    <span class="comment-profile" :style="commentProfileStyle"></span>
    <CustomTextArea
      :customStyles="commentBoxStyles"
      :containerStyles="commentBoxContainerStyles"
      placeholder="Enter a comment..."
      :onEnter="commentEntered"
      :userAutoCompleteEnabled="true"
      :autoFocus="isModal"
      :plainTextOnly="true"
    />
  </div>
</div>
</template>

<script>

import CandidateComment from './CandidateComment'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import Tooltip from 'components/Tools/Tooltip'

import accountPlaceholder from 'img/account-placeholder.svg'

import { candidatesStore, accountStore, usersStore, sourcedReqStore } from 'stores'
import { alerts, mergeTagsParser } from 'helpers'

import api from 'api'

import upArrowImg from 'img/up-arrow.svg'

export default {
  components: {
    CandidateComment,
    CustomTextArea,
    Tooltip
  },
  mounted () {
    this.scrollToBottom()
    if (this.candidate) {
      if (this.candidate.comments) {
        this.comments = [].concat(this.candidate.comments)
      }
    } else if (this.sourcedReq) {
      if (this.sourcedReq.comments) {
        this.comments = [].concat(this.sourcedReq.comments)
      }
    }
  },
  data () {
    return {
      upArrowImg,
      commentBoxContainerStyles: {
        'height': '45px',
        'min-height': '45px',
        'display': 'inline-block'
      },
      commentBoxStyles: {
        'height': '45px',
        'min-height': '45px',
        display: 'inline-block',
        width: '100%',
        padding: '0.5rem',
        'overflow-y': 'auto',
        'line-height': '1.4'
      },
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle',
        margin: '0px 14px 0px 0px'
      },
      modalTooltipStyles: {
        position: 'absolute',
        top: '19px',
        left: '19px'
      },
      accountStore: accountStore.get(),
      candidatesStore: candidatesStore.get(),
      usersStore: usersStore.get(),
      sourcedReqStore: sourcedReqStore.get(),
      commentsCollapsed: false,
      comments: []
    }
  },
  computed: {
    commentProfileStyle () {
      return { 'background-image': `url(${this.accountStore.account.profile_photo_url || accountPlaceholder})` }
    }
  },
  watch: {
    candidate: {
      handler (val) {
        if (val.comments) {
          this.comments = [].concat(val.comments)
        } else {
          this.comments = []
        }
        this.scrollToBottom()
      },
      deep: true
    },
    sourcedReq: {
      handler (val) {
        if (val.comments) {
          this.comments = [].concat(val.comments)
        } else {
          this.comments = []
        }

        this.scrollToBottom()
      },
      deep: true
    }
  },
  methods: {
    commentEntered (text) {
      // Wrap all text in a span so HTML parser works when converting tags
      let textElement = `<span>${text}</span>`

      let textToSend = mergeTagsParser.toTags(textElement)
      let endpoint = this.candidate
        ? `candidates/${this.candidate.id}`
        : `sourced-reqs/${this.sourcedReq.id}`

      api.ajax(`${endpoint}/comments`, {
        type: 'POST',
        data: {
          comment: textToSend
        },
        disableOverlay: true
      })
      .done((response) => {
        // Add comment to candidate object
        if (this.candidate) {
          this.comments.push(response)
          candidatesStore.addCommentToCandidate(response, this.candidate)
        } else if (this.sourcedReq) {
          this.comments.push(response)
          sourcedReqStore.addComment(response, this.sourcedReq)
        }
      })
      .fail((e) => {
        console.error('error adding comment ', e)
        alerts.show({
          status: 'error',
          message: 'Uh-oh, there was an error adding this comment. Please refresh your browser and try again.'
        })
      })
    },
    scrollToBottom () {
      // TODO: Make sure this works in candidate profile
      // Wrap in timeout to give time for view render
      setTimeout(() => {
        let list = $(this.$refs.commentList)
        list.scrollTop(list.prop('scrollHeight'))
      })
    }
  },
  props: {
    isModal: { required: false, default: false },
    commentsLoaded: { required: true },
    candidate: { required: false },
    sourcedReq: { required: false },
    autoFocus: { required: false },
    collapsible: { required: false, default: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .sk-folding-cube {
    height: 20px;
    width: 20px;
  }

  .candidate-comment-container {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    margin-top: $candidate-buttons-height;

    &.collapsible {
      box-shadow: none;
    }
  }

  .candidate-comment-header {
    padding: 15px;
    background-color: $white;

    h2 {
      font-size: 1.4rem;
      @include i-b;
      margin-bottom: 0px;
    }
  }

  .candidate-comment-list {
    width: 250px;
    max-height: 340px;
    overflow-y: auto;

    margin: 0 auto;

    background: $white;
  }

  .candidate-comment-box {
    position: relative;
    width: 250px;
    margin: 0 auto;
    padding: 14px 0 14px 46px;

    background-color: $alabaster;
    border-top: 1px solid $gallery;

    .custom-input-container {
      width: 100%;
    }
  }

  .comment-profile {
    @include circle-img;
    @include i-b;

    width: 31px;
    height: 31px;

    position: absolute;
    top: 20px;
    left: 8px;
  }

  // Override style object to use pseudo-selector
  .candidate-comment {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  // Modal styles
  .candidate-comment-container {
    &[is-modal="true"] {
      padding: 50px 0 0 0;
      margin: 0;

      .candidate-comment-list {
        padding: 0px 48px;
        width: 100%;
      }

      .candidate-comment-box {
        width: 100%;
        padding: 14px 48px 14px 94px;

        .comment-profile {
          left: 56px;
        }
      }
    }
  }

  .no-comments-header {
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-top: -25px;
    text-transform: uppercase;
  }

</style>
