<template>
  <div class="main-container app-settings-container" :style="containerStyles" :class="{'is-modal': isModal}">
    <!-- Back nav -->
    <ContentNavHeader label="Back to All Candidates" v-if="!isModal" />

    <!-- Top Button Row -->
    <div class="top-button-container">
      <FlatButton :click="onSubmit" v-if="!viewMode">
        <img v-svg-src="saveWhiteImg" alt="save"></img>
        SAVE
      </FlatButton>

      <FlatButton :click="sendMessage" v-if="canSendMessage">
        <img v-if="!userIsTransactional" v-svg-src="mailWhiteImg" alt="send message"></img>
        {{userIsTransactional ? 'CONTACT' : 'SEND MESSAGE'}}
      </FlatButton>

      <template v-if="!userIsTransactional">
        <template v-if="!doNotContact">
          <FlatButton :click="addToList" v-if="viewMode">
            <img v-svg-src="clipboardWhiteImg" alt="add to list"></img>
            ADD TO LIST
          </FlatButton>

          <FlatButton :click="addToSequence" v-if="viewMode">
            <img v-svg-src="boltWhiteImg" alt="add to sequence"></img>
            ADD TO SEQUENCE
          </FlatButton>
        </template>

        <img v-if="candidateId != 'new'" :class="{'dropdown-button':true, 'active':dropdownOpen}" role="button" @click="toggleDropdown" v-svg-src="optionsWhiteImg"></img>
        <CustomSelect
          :customStyles="dropdownStyles"
          :items="dropdownItems"
          :selected="selectedAction"
          :onChange="candidateActionChange"
          :button-hidden="true"
          :fixed-width-med="true"
          :menuMaxHeight="350"
          ref="customSelect"
          :onToggle="onToggle"
        />
      </template>
      <img class="x-out-button" v-svg-src="xOutImgWhite" role="button" @click="hideModal" alt="close">
    </div>

    <CandidatesProfilePreview
      v-if="viewMode"
      :candidate="candidate"
      :toggleMode="toggleMode"
      :statuses="statuses"
    />

    <!-- Candidate Info -->
    <div v-show="!viewMode" class="panel settings-panel text-centered">

      <div v-show="candidateId != 'new'" class="toggle-profile-container">
        <span @click="toggleMode" class="toggle-profile-view">
          <img v-svg-src="viewIcon">
          <b>View Profile</b>
        </span>
      </div>

      <div class="relative-positioner">
        <Tooltip content="You can use a candidate's profile to track and manage your relationship with the candidate in one place. Record info and collaborate over a candidate with your team with comments. Get a birdseye view into your relationship with candidates and the effect of your recruitment marketing efforts (sequences, pages, and jobs) with the activity feed. Take immediate steps by directly messaging a candidate, adding her to a list or sequence, or pausing and resuming scheduled messages." :customStyles="topTooltipStyle"/>
      </div>

      <!-- Tabs hidden for now -->
      <Tablist
        v-if="false"
        :tabs="tabs"
        :selectedTab="activeTab"
        :customStyles="tablistStyles"
        @change="tabChange"
      />

      <div class="top-image" role="button" @click="profileImageClick" :style="topImage">
        <div class="change-overlay">Change</div>
        <input
          class="hidden-image-upload"
          type="file"
          ref="uploadInput"
          @change="imageUploadChange"></input>
      </div>
      <div class="inputs-container">
        <form @submit="onSubmit">
          <h2>TARGETED JOB(S)</h2>
          <CustomMultiSelect
            v-if="jobItems.length || jobsLoaded"
            :icon="inputImages.multiSelectIcon"
            :items="jobItems"
            :selected="candidate.req_ids"
            :onChange="jobsChange"
            customId="test-candidate-manager-jobs-input"
            placeholder="Select one or more jobs"
            :style="targetJobsStyle"
          />
          <h2>LIST(S)</h2>
          <CustomMultiSelect
            v-if="listItems.length || listsLoaded"
            :icon="inputImages.listsIcon"
            :items="listItems"
            customId="test-candidate-manager-lists-input"
            :selected="candidate.list_ids"
            :onChange="listsChange"
            placeholder="Select one or more lists"
            :style="targetJobsStyle"
          />
          <h2>Basic Info</h2>
          <CustomInput
            v-model="candidate.first_name"
            :custom-styles="inputStyle"
            customId="test-candidate-manager-fname-input"
            :icon="inputImages.personName"

            placeholder="First Name">
          </CustomInput>
          <CustomInput
            v-model="candidate.last_name"
            :custom-styles="inputStyle"
            :icon="inputImages.personName"
            customId="test-candidate-manager-lname-input"
            placeholder="Last Name">
          </CustomInput>
          <CustomInput
            v-model="candidate.linkedin_url"
            :custom-styles="inputStyle"
            :icon="inputImages.linkedIn"
            customId="test-candidate-manager-linkedin-input"
            placeholder="LinkedIn URL">
          </CustomInput>
          <CustomInput
            v-model="candidate.facebook_url"
            :custom-styles="inputStyle"
            :icon="inputImages.facebook"
            customId="test-candidate-manager-fb-input"
            placeholder="Facebook URL">
          </CustomInput>


          <label class="resume-label" for="resume-upload">
            <img class="resume-icon" alt="resume" v-svg-src="resumeImg"></img>
            Upload Resume
          </label>

          <Dropzone
            ref="dropzone"
            id="resume-upload"
            :url="resumeUrl"
            @vdropzone-success="uploadSuccess"
            @vdropzone-error="uploadFailure"
            @vdropzone-sending="sendingFile"
            :useFontAwesome="true"
            acceptedFileTypes=".doc, .docx, .pdf"
            :maxNumberOfFiles="1"
            >
          </Dropzone>

          <span v-if="candidate.resume_uploaded" class="span-link resume-download-delete-button" role="button" @click="downloadResume">
            <img class="resume-save-icon" alt="resume-save" v-svg-src="blueDownloadImg">
            </img>
            Download
          </span>
          <span v-if="candidate.resume_uploaded" class="span-link resume-download-delete-button" role="button" @click="deleteResume">
            <img class="resume-delete-icon" alt="resume-delete" v-svg-src="deleteBlueImg">
            </img>
            Delete
          </span>

          <CustomInput
            v-model="candidate.title"
            :custom-styles="inputStyle"
            :icon="inputImages.title"
            customId="test-candidate-manager-title-input"
            placeholder="Title">
          </CustomInput>
          <div class="related-fields">
            <img v-svg-src="inputImages.relatedField"></img>
            <CustomInput
              v-model="candidate.short_title"
              :custom-styles="relatedInputStyle"
              customId="test-candidate-manager-title-alias-input"
              :icon="inputImages.title"
              placeholder="Title Alias">
            </CustomInput>
            <Tooltip content="You can use a candidate’s <i>title alias</i> to make her title sound more natural when you insert it as a merge tag in personalized sequences. Although longer titles may have valuable information about candidates that you want to store, using them to personalize messages to candidates may sound strange! When you insert a merge tag for a candidate’s title, Happie will automatically check whether s/he has a title alias. If a candidate has a title alias on her profile, we’ll insert the title alias instead of her title. If s/he doesn’t, we’ll just insert the title. It’s that easy!" :customStyles="editorTooltipStyle"/>
        </div>
          <CustomInput
            v-model="candidate.company_name"
            :custom-styles="inputStyle"
            :icon="inputImages.employer"
            customId="test-candidate-manager-company-name-input"
            placeholder="Company Name">
          </CustomInput>
          <div class="related-fields">
            <img v-svg-src="inputImages.relatedField"></img>
            <CustomInput
              v-model="candidate.short_company_name"
              :custom-styles="relatedInputStyle"
              :icon="inputImages.employer"
              customId="test-candidate-manager-company-alias-input"
              placeholder="Company Alias">
            </CustomInput>
            <Tooltip content="You can use a candidate’s <i>company alias</i> to make her company name sound more natural when you insert it as a merge tag in personalized sequences. Although longer company names may have valuable information about candidates that you want to store, using them to personalize messages to candidates may sound strange! When you insert a merge tag for a candidate’s company, Happie will automatically check whether s/he has a company alias. If a candidate has a company alias on her profile, we’ll insert the company alias instead of her company. If s/he doesn’t, we’ll just insert her company. It’s that easy!" :customStyles="editorTooltipStyle"/>
        </div>
          <CustomSelect
            :items="industries"
            :custom-styles="inputStyle"
            :icon="inputImages.industry"
            :onChange="industryChange"
            :selected="formattedIndustry"
            customId="test-candidate-manager-industry-input"
            placeholder="Company's industry">

          </CustomSelect>

          <h2>Contact Info</h2>
          <Tooltip content="You can store up to three <i>email addresses</i> for a candidate. By default, all email addresses on a candidate’s profile will be emailed with individual emails when the candidate is entered into an activated sequence. The first email address is the candidate’s primary email address. If you’d prefer to only send emails to the primary email addresses of candidates on a given sequence, simply change the settings the sequence. " :customStyles="editorTooltipStyle"/>
          <div>
            <CustomCheckbox
              v-show="hasEmail"
              :checked="candidate.preferred_contact_method === 1"
              :onChange="e => {changePreferredContactMethod('email', e)}"
              :customContainerStyles="verifiedCheckboxStyles" />
            <CustomInput
              v-model="candidateEmails[0].address"
              :custom-styles="inputStyle"
              :icon="inputImages.email"
              customId="test-candidate-manager-email-input"
              placeholder="Email">
            </CustomInput>
          </div>
          <div class="related-fields">
            <span class="swap-button" @click="swapPrimary('email', 1)"></span>
              <CustomInput
                v-model="candidateEmails[1].address"
                :custom-styles="relatedInputStyle"
                :icon="inputImages.email"
                customId="test-candidate-manager-alternate-email-input"
                placeholder="Alternate Email">
              </CustomInput>
              <span class="swap-button" @click="swapPrimary('email', 2)"></span>
              <CustomInput
                v-model="candidateEmails[2].address"
                :custom-styles="relatedInputStyle"
                :icon="inputImages.email"
                customId="test-candidate-manager-alternate-email-1-input"
                placeholder="Alternate Email">
              </CustomInput>
          </div>
          <span class="add-button" @click="addPhone('home')"></span>
          <div>
            <CustomCheckbox
              v-show="!!homePhones[0].number"
              :checked="candidate.preferred_contact_method === 3"
              :onChange="e => {changePreferredContactMethod('phone', e)}"
              :customContainerStyles="verifiedCheckboxStyles" />
            <CustomInput
              v-model="homePhones[0].number"
              custom-class="phone-number-input"
              :custom-styles="inputStyle"
              customId="test-candidate-manager-phone-number-input"
              :icon="inputImages.phone"
              placeholder="Phone Number">
            </CustomInput>
          </div>
          <div class="related-fields">
            <template v-for="value, index in homePhones.slice(1)">
              <span class="swap-button" @click="swapPrimary('homePhone', index + 1)"></span>
              <CustomInput
                v-model="homePhones[index+1].number"
                custom-class="phone-number-input"
                :custom-styles="inputStyle"
                customId="test-candidate-manager-alternate-phone-number-input"
                :icon="inputImages.phone"
                placeholder="Alternate Phone Number" />
            </template>
          </div>
          <span class="add-button" @click="addPhone('mobile')"></span>
          <div>
            <CustomCheckbox
              v-show="!!mobilePhones[0].number"
              :checked="candidate.preferred_contact_method === 2"
              :onChange="e => {changePreferredContactMethod('mobile', e)}"
              :customContainerStyles="verifiedCheckboxStyles" />
            <CustomInput
              v-model="mobilePhones[0].number"
              custom-class="phone-number-input"
              :custom-styles="inputStyle"
              :icon="inputImages.mobile"
              customId="test-candidate-manager-cell-phone-number-input"
              placeholder="Cell Phone Number">
            </CustomInput>
          </div>
          <div class="related-fields">
            <template v-for="value, index in mobilePhones.slice(1)">
              <span class="swap-button" @click="swapPrimary('mobilePhone', index + 1)"></span>
              <CustomInput
                v-model="mobilePhones[index+1].number"
                custom-class="phone-number-input"
                :custom-styles="inputStyle"
                :icon="inputImages.mobile"
                customId="test-candidate-manager-alternate-cell-phone-number-input"
                placeholder="Alternate Cell Phone Number" />
            </template>
          </div>
          <CustomInput
            v-model="candidateAddress.street_address_1"
            :custom-styles="inputStyle"
            :icon="inputImages.location"
            customId="test-candidate-manager-street-address-input"
            placeholder="Street Address 1">
          </CustomInput>
          <CustomInput
            v-model="candidateAddress.street_address_2"
            :custom-styles="inputStyle"
            :icon="inputImages.location"
            customId="test-candidate-manager-street-address-2-input"
            placeholder="Street Address 2">
          </CustomInput>
          <CustomInput
            v-model="candidateAddress.city"
            :custom-styles="inputStyle"
            :icon="inputImages.location"
            customId="test-candidate-manager-city-input"
            placeholder="City">
          </CustomInput>
          <CustomInput
            v-model="candidateAddress.state"
            :custom-styles="inputStyle"
            :icon="inputImages.location"
            customId="test-candidate-manager-state-input"
            placeholder="State">
          </CustomInput>
          <CustomInput
            v-model="candidateAddress.postal_code"
            :custom-styles="inputStyle"
            :icon="inputImages.location"
            customId="test-candidate-manager-zip-code-input"
            placeholder="Postal Code">
          </CustomInput>

          <h2>Tracking Info</h2>

          <CustomSelect
            v-if="!userIsTransactional"
            :items="sources"
            :custom-styles="inputStyle"
            :icon="inputImages.atom"
            :onChange="sourceChange"
            :selected="candidate.lead_source"
            placeholder="Candidate's Source">
          </CustomSelect>

          <CustomSelect
            :items="statuses"
            :custom-styles="inputStyle"
            :icon="inputImages.pulse"
            :onChange="statusChange"
            :selected="candidate.status"
            placeholder="Candidate's Status"
            :menuMaxHeight="300"
          />

          <!-- Custom Fields on hold for now

          <div class="add-field-container">
            <img role="button" v-svg-src="addBlockImg" alt="add field" tabindex="0"></img>
          </div>

          -->
          <AttentionButton text="SAVE" :custom-styles="{'width': '100%'}" type="submit" />
        </form>
      </div>
    </div>

    <!-- Comments Panel -->
    <div class="comments-panel-aligner" v-show="candidateId != 'new'">
      <CandidateComments :candidate="candidate" :commentsLoaded="commentsLoaded" />
      <CandidateActivities :candidate="candidate" :activitiesLoaded="activitiesLoaded" />
    </div>

  </div>
</template>


<script>
import CustomInput from 'components/FormElements/CustomInput'
import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import CustomSelect from 'components/FormElements/CustomSelect'
import FlatButton from 'components/FormElements/FlatButton'
import CustomMultiSelect from 'components/FormElements/CustomMultiSelect'
import AttentionButton from 'components/FormElements/AttentionButton'
import Tooltip from 'components/Tools/Tooltip'
import ContentNavHeader from 'components/Tools/ContentNavHeader'
import Tablist from 'components/Tools/Tablist'
import Dropzone from 'vue2-dropzone'
import deepEqual from 'deep-equal'

import CandidatesProfilePreview from 'components/Sections/Candidates/CandidatesProfilePreview'
import CandidateComments from 'components/Sections/Candidates/CandidateComments'
import CandidateActivities from 'components/Sections/Candidates/CandidateActivities'

import accountPlaceholder from 'img/account-placeholder.svg'
import personName from 'img/settings/person-name.svg'
import title from 'img/settings/title.svg'
import linkedIn from 'img/settings/linkedin.svg'
import facebook from 'img/settings/facebook.svg'
import email from 'img/settings/email.svg'
import mobile from 'img/settings/mobile.svg'
import phone from 'img/settings/phone.svg'
import industry from 'img/settings/industry.svg'
import speechBubble from 'img/settings/reaction.svg'
import atom from 'img/settings/atom.svg'
import employer from 'img/settings/employer.svg'
import pulse from 'img/settings/pulse.svg'
import location from 'img/settings/location.svg'

import multiSelectIcon from 'img/target.svg'
import listsIcon from 'img/dropdowns/clipboard.svg'

import viewImg from 'img/view.svg'
import viewActiveImg from 'img/view-active.svg'
import editImg from 'img/edit.svg'
import editActiveImg from 'img/edit-active.svg'
import optionsWhiteImg from 'img/candidates/options-white.svg'
import resumeImg from 'img/resume.svg'
import addBlockImg from 'img/add-block.svg'
import mailWhiteImg from 'img/mail-white.svg'
import boltWhiteImg from 'img/bolt-white.svg'
import clipboardWhiteImg from 'img/clipboard-white.svg'
import xOutImgWhite from 'img/x-out-white.svg'
import viewIcon from 'img/view-profile.svg'
import saveWhiteImg from 'img/save-white.svg'
import deleteBlueImg from 'img/delete-blue.svg'
import blueDownloadImg from 'img/download-blue.svg'
import relatedField from 'img/related-field.svg'

import { alerts, modals, copyObj, candidateHelper, profileImageStyle, candidateActions, addProtocol } from 'helpers'
import api from 'api'
import { accountStore, candidatesStore, usersStore, metadataStore, companyStore, authStore, jobsStore, industriesStore, adminStore, listsStore } from 'stores'

export default {
  components: {
    CandidatesProfilePreview,
    CustomInput,
    CustomCheckbox,
    AttentionButton,
    Tooltip,
    CandidateComments,
    CandidateActivities,
    CustomSelect,
    CustomMultiSelect,
    ContentNavHeader,
    Tablist,
    Dropzone,
    FlatButton
  },
  mounted () {
    /* This allows us to re-use candidate info if we got it from previous GET all call,
    problem is, we don't get req_ids from that list, so we need to retrieve that every time
    we hit this page
    TODO: Could maybe save to candidate store with a flag saying whether or not we've done a 'full'
    load, but for now let's just always call getCandidate

    let candidate = this.getCandidateFromStore();

    if (!candidate) {
      this.getCandidate()
    } else if (!candidate.comments || candidate.comments.length < 1) {
      // If we have a candidate but no comments, load them
      this.getCandidateComments();
      this.getCandidateActivities();
    } else {

      // Already have comments and candidate
      this.commentsLoaded = true;
      this.getCandidateActivities();
    } */

    this.getCandidate()
    if (this.jobsStore.jobs.length < 1) {
      api.ajax('reqs', { disableOverlay: true })
      .done((response) => {
        jobsStore.init(response)
        this.jobsLoaded = true
      })
    }
    if (this.listsStore.lists.length < 1) {
      api.ajax('candidate-lists', { disableOverlay: true })
      .done((response) => {
        listsStore.init(response)
        this.listsLoaded = true
      })
    }
  },
  data () {
    return {
      optionsWhiteImg,
      resumeImg,
      addBlockImg,
      mailWhiteImg,
      boltWhiteImg,
      clipboardWhiteImg,
      xOutImgWhite,
      viewIcon,
      saveWhiteImg,
      deleteBlueImg,
      blueDownloadImg,
      accountImageBuffer: accountPlaceholder,
      viewMode: true,
      jobsLoaded: false,
      listsLoaded: false,
      targetJobsStyle: {
        'margin-bottom': '20px'
      },
      topTooltipStyle: {
        position: 'absolute',
        top: '-82px',
        left: '-173px'
      },
      editorTooltipStyle: {
        position: 'absolute',
        left: '85%'
      },
      inputStyle: {
        width: '100%',
        'max-width': '100%',
        'margin-bottom': '20px'
      },
      relatedInputStyle: {
        'margin-bottom': '15px',
        width: '100%'
      },
      tablistStyles: {
        position: 'absolute',
        left: '0',
        top: '32px'
      },
      verifiedCheckboxStyles: {
        left: '12%',
        position: 'absolute',
        'margin-top': '10px'
      },
      activeTab: 1,
      tabs: [
        { title: 'View', image: viewImg, activeImage: viewActiveImg },
        { title: 'Edit', image: editImg, activeImage: editActiveImg }
      ],
      selectedAction: { value: 'select' },
      inputImages: {
        personName,
        title,
        linkedIn,
        facebook,
        email,
        mobile,
        industry,
        atom,
        speechBubble,
        employer,
        pulse,
        phone,
        location,
        multiSelectIcon,
        listsIcon,
        relatedField
      },
      fileReader: new FileReader(),
      accountStore: accountStore.get(),
      candidatesStore: candidatesStore.get(),
      usersStore: usersStore.get(),
      jobsStore: jobsStore.get(),
      listsStore: listsStore.get(),
      companyStore: companyStore.get(),
      industriesStore: industriesStore.get(),
      adminStore: adminStore.get(),
      metadataStore: metadataStore.get(),
      candidate: {},
      originalCandidate: null,
      candidateId: this.candidateIdProp || parseInt(this.$route.params.candidate_id, 10),
      commentsLoaded: false,
      activitiesLoaded: false,
      dropdownOpen: false,
      dataFields: {
        first_name: true,
        last_name: true,
        emails: true,
        title: true,
        short_title: true,
        linkedin_url: true,
        facebook_url: true,
        preferred_contact_method: true,
        phones: true,
        profile_photo_url: true,
        industry_code: true,
        lead_source: true,
        status: true,
        company_name: true,
        short_company_name: true,
        req_ids: true,
        list_ids: true,
        addresses: true
      }
    }
  },
  computed: {
    sources () {
      let sources = [].concat(this.metadataStore.filterSources)
      sources[0].value = -1
      sources[0].label = "Candidate's Source"
      // Remove linkedin and careerbuilder if user is transactional.
      if (this.userIsTransactional) sources.splice(3, 5)
      return sources
    },
    statuses () {
      let statuses
      if (this.userIsTransactional) {
        statuses = [].concat(this.metadataStore.transactionalFilterStatuses)
      } else {
        statuses = [].concat(this.metadataStore.filterStatuses)
      }
      statuses[0].value = -1
      statuses[0].label = "Candidate's Status"
      if (!this.userIsSourcer) statuses.pop()
      return statuses
    },
    doNotContact () {
      return this.candidate.do_not_email && this.candidate.do_not_sms
    },
    hasEmail () {
      return !!this.candidateEmails.find((email) => {
        return email.address != ''
      })
    },
    hasPhone () {
      return !!this.phoneNumbers.find((number) => {
        return number.number != ''
      })
    },
    canSendMessage () {
      if (!this.viewMode) return false
      if (this.doNotContact) return false
      if (!this.hasEmail && !this.hasPhone) return false
      if (!this.hasEmail && this.userIsTransactional) return false
      return true
    },
    containerStyles () {
      let styles = {}
      styles.width = this.candidateId == 'new' ? '471px' : '735px'
      return styles
    },
    resumeUrl () {
      return `/api/v1/candidates/${this.candidateId}/resume/`
    },
    dropdownStyles () {
      let styles = {
        position: 'absolute',
        left: '490px',
        width: '0',
        height: '20px'
      }
      styles.left = !this.viewMode ? '140px'
        : this.doNotContact && this.viewMode ? 0
        : '490px'
      return styles
    },
    dropdownItems () {
      let actions = [
        { value: 'pause-messages', label: 'Pause Messages' },
        { value: 'resume-messages', label: 'Resume Messages' },
        { value: 'clear-messages', label: 'Clear Messages' },
        // TODO:
        // {value: "merge", label: "Merge Candidate"},
        { value: 'delete-candidates', label: 'Delete Candidate' }
      ]
      if (!this.candidate.do_not_sms) {
        actions.splice(3, 0, { value: 'do-not-sms', label: 'Do Not SMS' })
      }
      if (!this.candidate.do_not_email) {
        actions.splice(4, 0, { value: 'do-not-email', label: 'Do Not Email' })
      }
      if (!this.doNotContact) {
        actions.splice(5, 0, { value: 'do-not-contact', label: 'Do Not Contact' })
      }
      if (this.doNotContact) {
        actions.splice(0, 3)
      }
      if (!this.viewMode && !this.doNotContact && !this.userIsTransactional) {
        actions = [
          { value: 'message', label: 'Send Message Now' },
          { value: 'add-to-list', label: 'Add to List' },
          { value: 'add-to-sequence', label: 'Add to Sequence' }
        ].concat(actions)
      }
      if (this.adminStore.is_system_admin) {
        actions.push({ value: 'find', label: 'Find Personal Info' })
      }
      actions.unshift({ value: 'select', label: 'Select Action' })
      return actions
    },
    checkedCandidates () {
      // Just a way to keep API calls consistent with bulk actions
      return [this.candidate.id]
    },
    topImage () {
      return profileImageStyle(this.candidate.profile_photo_url, this.accountImageBuffer)
    },
    phoneNumbers () {
      // Make sure the candidate has a phone number array
      if (!this.candidate.phones) this.candidate.phones = []

      // Default any null type phone number to mobile
      this.candidate.phones.forEach((value) => {
        if (!value.type) value.type = 'mobile'
      })

      // Make sure the candidate has at least one mobile and one home number
      let hasMobile = this.candidate.phones.find(value => value.type == 'mobile')
      let hasHome = this.candidate.phones.find(value => value.type == 'home')
      if (!hasMobile) this.candidate.phones.push({ type: 'mobile', number: '' })
      if (!hasHome) this.candidate.phones.push({ type: 'home', number: '' })
      return this.candidate.phones
    },
    homePhones () {
      let homePhones = []
      $.each(this.phoneNumbers, (index, value) => {
        if (value.type == 'home') {
          homePhones.push(value)
        }
      })
      return homePhones
    },
    mobilePhones () {
      let mobilePhones = []
      $.each(this.phoneNumbers, (index, value) => {
        if (value.type == 'mobile') {
          mobilePhones.push(value)
        }
      })
      return mobilePhones
    },
    candidateEmails () {
      if (this.candidate.emails && this.candidate.emails.length > 0) {
        while (this.candidate.emails.length < 3) {
          this.candidate.emails.push({ address: '' })
        }
        return this.candidate.emails
      } else {
        this.candidate.emails =
        [
          { address: '' },
          { address: '' },
          { address: '' }
        ]
        return this.candidate.emails
      }
    },
    candidateAddress () {
      if (this.candidate.addresses && this.candidate.addresses.length > 0) {
        return this.candidate.addresses[0]
      } else {
        this.candidate.addresses = [{
          street_address_1: '',
          street_address_2: '',
          city: '',
          state: '',
          postal_code: ''
        }]
        return this.candidate.addresses[0]
      }
    },
    formattedIndustry () {
      // TODO: Get API to return an industry strut instead of ID to be consistent with company settings
      if (this.candidate.industry_code) {
        let industry = {}
        $.each(this.industries, (key, value) => {
          if (value.code === this.candidate.industry_code) {
            industry = value
            return false
          }
        })

        return {
          label: industry.name || industry.label,
          value: industry.code || industry.value
        }
      } else {
        // Return dummy value that should never match an actual industry
        return { label: '', value: 0 }
      }
    },
    industries () {
      return this.industriesStore.industries
    },
    jobItems () {
      let items = []

    // Loop over all of candidates reqs, then map them to our saved jobs so we can get the title

      $.each(this.jobsStore.jobs, (key, value) => {
        items.push({
          'value': value.id,
          'label': value.title ? value.title : 'Untitled'
        })
      })

      return items
    },
    listItems () {
      let items = []

    // Loop over all of candidates lists, then map them to our saved jobs so we can get the name

      $.each(this.listsStore.lists, (key, value) => {
        items.push({
          'value': value.id,
          'label': value.name ? value.name : 'Untitled'
        })
      })

      return items
    },
    userIsSourcer () {
      return this.accountStore.account.is_sourcer
    },
    userIsTransactional () {
      return this.accountStore.account.is_transactional
    }
  },
  methods: {
    toggleMode () {
      this.viewMode = !this.viewMode
    },
    // TODO: These candidate functions should probably be moved to usersStore
    getCandidateFromStore () {
      let candidateFromStore

      $.each(this.candidatesStore.candidates, (key, value) => {
        if (value.id === this.candidateId) {
          candidateFromStore = value
          return false
        }
      })

      // Set local candidate data
      if (candidateFromStore) {
        // Need to use copyObj or comments won't pick up changes correctly (TODO: figure out why)
        this.candidate = copyObj(candidateFromStore)
      } else {
        this.candidate = {}
      }

      setTimeout(() => {
        metadataStore.setHasUnsavedChanges(false)
      })

      return candidateFromStore
    },
    getCandidate () {
      // Check if we are creating a new candidate
      if (this.candidateId === 'new' || this.$route.params.candidate_id === 'new') {
        // Make new
        let newCandidate = {
          first_name: '',
          last_name: '',
          company_name: '',
          short_company_name: '',
          linkedin_url: '',
          facebook_url: '',
          title: '',
          short_title: '',
          industry: 0,
          addresses: [],
          emails: [],
          phones: [
            { type: 'home', number: '' },
            { type: 'mobile', number: '' }
          ],
          comment_count: 0,
          comments: [],
          profile_photo_url: '',
          resume_uploaded: false,
          req_ids: [],
          lead_source: 'user_added',
          status: 'new',
          id: 'new'
        }

        this.candidate = newCandidate
        this.viewMode = false

        setTimeout(() => {
          this.originalCandidate = $.extend(true, {}, this.candidate)
          metadataStore.setHasUnsavedChanges(false)
        })
      } else {
        // Hide overlay in modal mode to improve modal transition animation performance
        let options = {}
        if (this.isModal) {
          options.disableOverlay = true
        }

        api.ajax(`candidates/${this.candidateId}`, options)
        .done((response) => {
          // Map our candidate object
          let theCandidate = response.candidate
          theCandidate.comments = response.comments
          theCandidate.activities = response.activities
          theCandidate.candidate_profile = response.candidate_profile

          let inStore = false
          $.each(this.candidatesStore.candidates, (index, candidate) => {
            if (candidate.id == theCandidate.id) {
              inStore = true
              $.each(theCandidate, (key, value) => {
                this.candidatesStore.candidates[index][key] = value
              })
            }
          })
          if (!inStore) {
            candidatesStore.addCandidates([theCandidate])
          }
          this.candidate = theCandidate
          this.commentsLoaded = true
          this.activitiesLoaded = true

          setTimeout(() => {
            this.originalCandidate = $.extend(true, {}, this.candidate)
            metadataStore.setHasUnsavedChanges(false)
          })
        })
        .fail((e) => {
          console.error('Failed to get candidate ', e)
          if (e.status == 403) {
            alerts.show({
              message: `Uh oh — it doesn't look like you have access to this candidate. Make sure you are logged in to the correct account.`,
              status: 'error'
            })
          }
        })
      }
    },
    getCandidateComments () {
      let debugOptions = {
        debugData: [{ comment: 'Test comment' }],
        debugTimeout: 2000
      }
      api.ajax(`candidates/${this.candidateId}/comments`, { disableOverlay: true }, debugOptions)
      .done((response) => {
        $.each(this.candidatesStore.candidates, (key, value) => {
          if (value.id === this.candidateId) {
            value.comments = response
            return false
          }
        })

        this.getCandidateFromStore()
      })
      .fail((e) => {
        console.error('Failed to get candidate comments ', e)
      })
      .always(() => {
        this.commentsLoaded = true
      })
    },
    tabChange (index) {
      this.activeTab = index
    },
    getCandidateActivities () {
      api.ajax(`candidates/${this.candidateId}/activities`, { disableOverlay: true })
      .done((response) => {
        $.each(this.candidatesStore.candidates, (key, value) => {
          if (value.id === this.candidateId) {
            value.activities = response
            return false
          }
        })

        this.getCandidateFromStore()
      })
      .fail((e) => {
        console.error('Failed to get candidate activities ', e)
      })
      .always(() => {
        this.activitiesLoaded = true
      })
    },
    toggleDropdown () {
      this.$refs.customSelect.toggle()
    },
    onToggle (state) {
      this.dropdownOpen = state
    },
    candidateActionChange (e) {
      let action = e.value

      switch (action) {
        case 'message':
          candidateActions.sendMessage.apply(this, [[], true])
          break
        case 'add-to-list':
          candidateActions.addToList.apply(this, [this.getCandidate])
          break
        case 'add-to-sequence':
          candidateActions.addToSequence.apply(this)
          break
        case 'pause-messages':
          candidateActions.pauseMessages.apply(this)
          break
        case 'resume-messages':
          candidateActions.resumeMessages.apply(this)
          break
        case 'clear-messages':
          candidateActions.clearMessages.apply(this)
          break
        case 'delete-candidates':
          candidateActions.deleteCandidate.apply(this)
          break
        case 'find':
          candidateActions.findPersonalInfo.apply(this)
          break
        case 'do-not-sms':
          candidateActions.optOut.apply(this, ['sms'])
          break
        case 'do-not-email':
          candidateActions.optOut.apply(this, ['email'])
          break
        case 'do-not-contact':
          candidateActions.optOut.apply(this, ['all'])
          break
        default:
          break
      }

      // Reset dropdown after selecting
      this.selectedAction = { value: 'select' }
    },
    sendMessage () {
      // If they are a transactional user, change the send message button to open mailto and tel links
      let method
      let address
      let number
      if (this.userIsTransactional) {
        switch (this.candidate.preferred_contact_method) {
          case 1:
            method = 'mailto'
            address = this.candidateEmails[0].address
            break
          case 2:
            method = 'tel'
            number = this.phoneNumbers.find(n => n.preferred && n.type == 'mobile')
            address = number ? number.number : ''
            break
          case 3:
            method = 'tel'
            number = this.phoneNumbers.find(n => n.preferred && n.type == 'home')
            address = number ? number.number : ''
            break
          default:
            method = 'mailto'
            address = this.candidateEmails[0].address
            break
        }
        let hiddenLink = $(`<a href="${method}:${address}"></a>`)

        hiddenLink.hide()
        .appendTo('body')[0]
        .click()

        hiddenLink.remove()
      } else {
        candidateActions.sendMessage.apply(this, [[], true])
      }
    },
    addToList () {
      candidateActions.addToList.apply(this, [this.getCandidate])
    },
    addToSequence () {
      candidateActions.addToSequence.apply(this)
    },
    onSubmit (e) {
      if (e) e.preventDefault()

    // If we are in a modal and there is an onSave function
      if (this.onSave) {
        this.onSave()
      }

      let data = copyObj(this.candidate)

      // Adding https:// protocol to Linkedin and Facebook URL on Submit
      data.linkedin_url = addProtocol(data.linkedin_url)
      data.facebook_url = addProtocol(data.facebook_url)

      // Loop over data and delete anything not in our `dataFields` map
      $.each(data, (key, value) => {
        if (!this.dataFields[key]) {
          delete data[key]
        }
      })

      // Format industry object
      // TODO: Remove this if we don't need it if we stick with just using industry_code instead of struct
      if (this.candidate.industry) {
        data.industry_code = this.candidate.industry.value
        delete data.industry
      }

      // Format dropdown values
      if (data.lead_source == -1) {
        delete data.lead_source
      }

      if (data.status == -1) {
        delete data.status
      }

      if (data.response_type == -1) {
        delete data.response_type
      }

      let requestType
      let url
      if (this.candidateId === 'new' || this.$route.params.candidate_id === 'new') {
        requestType = 'POST'
        url = `candidates`
        if (!data.status) {
          data.status = 'new'
        }
      } else {
        requestType = 'PUT'
        url = `candidates/${this.candidateId}`
      }

      api.ajax(url, {
        data: data,
        type: requestType
      })
      .done((response) => {
        alerts.show({
          message: `Great — you successfully saved changes to ${this.candidate.first_name} ${this.candidate.last_name}'s profile!`,
          status: 'success'
        })

        // If we POSTed, we made a new candidate, so now update URL to that candidate,
        // as long as we haven't passed in an option (in this case, overriding normal onSubmit event)

        if (requestType === 'POST') {
          // Kind of redundant API call since POST returns the user, but helps us update our internal data
          setTimeout(() => {
            this.candidateId = response.id
            this.getCandidate()
          })

          // If we are on the static page and not the modal
          if (this.$route.params.candidate_id) {
            this.$router.replace({
              params: {
                'candidate_id': response.id
              }
            })
          }
        } else {
          this.candidate = {}
          this.candidate = response.candidate
          this.candidate.comments = response.comments
          this.candidate.activities = response.activities
          this.candidate.candidate_profile = response.candidate_profile
        }

        setTimeout(() => {
          this.originalCandidate = $.extend(true, {}, this.candidate)
          metadataStore.setHasUnsavedChanges(false)
        })
      })
      .fail((error) => {
        console.error('Error saving user ', error)
        alerts.show({
          message: `Uh oh — there was a problem saving your changes to ${this.candidate.first_name} ${this.candidate.last_name}'s profile! Please refresh your browser, and try again. Sorry for the inconvenience!`,
          status: 'error'
        })
      })
    },
    sourceChange (val) {
      this.candidate.lead_source = val.value
    },
    statusChange (val) {
      this.candidate.status = val.value
    },
    profileImageClick () {
      this.$refs.uploadInput.click()
    },
    imageUploadChange (e) {
      if (e.target.files[0]) {
        this.fileReader.onload = () => {
          let files = e.target.files
          var data = new FormData()

        // Note that we should never actually have multiple files,
        // but keep this just in case we want to support multi file upload in the future
          $.each(files, function (key, value) {
            data.append(key, value)
          })

          let url = 'images'
          api.ajax(url, {
            type: 'POST',
            data: data,
            cache: false,
            processData: false, // Don't process the files
            contentType: false // Set content type to false as jQuery will tell the server its a query string request
          })
          .done((response) => {
            metadataStore.setHasUnsavedChanges(false)
            this.candidate.profile_photo_url = response.url
            this.accountImageBuffer = response.url
          })
          .fail((error) => {
            console.error('Failed to save photo ', error)
          })
        }

      // TODO: Is there a better way to trigger the fileReader.onload event?
        this.fileReader.readAsDataURL(e.target.files[0])
      }
    },
    industryChange (item) {
      item.value = parseInt(item.value, 10)
      this.candidate.industry = item
    },
    jobsChange (val) {
      this.candidate.req_ids = val
    },
    listsChange (val) {
      this.candidate.list_ids = val
    },
    swapPrimary (type, alternateIndex) {
      let primaryRegister
      switch (type) {
        case 'email':
          primaryRegister = this.candidateEmails[0].address
          this.candidateEmails[0].address = this.candidateEmails[alternateIndex].address
          this.candidateEmails[alternateIndex].address = primaryRegister
          break
        case 'homePhone':
          primaryRegister = this.homePhones[0].number
          this.homePhones[0].number = this.homePhones[alternateIndex].number
          this.homePhones[alternateIndex].number = primaryRegister
          break
        case 'mobilePhone':
          primaryRegister = this.mobilePhones[0].number
          this.mobilePhones[0].number = this.mobilePhones[alternateIndex].number
          this.mobilePhones[alternateIndex].number = primaryRegister
          break
        default:
          break
      }
    },
    addPhone (type) {
      this.candidate.phones.push({ type: type, number: '' })
    },
    /* Dropzone Functions */
    sendingFile (file, xhr, formData) {
      if (this.candidateId == 'new') {
        alerts.show({
          status: 'error',
          message: 'You must save your candidate first before uploading a resume!'
        })
        return false
      }
      let token = authStore.getToken()
      xhr.setRequestHeader('Authorization', `Token ${token}`)
    },
    uploadSuccess (file, response) {
      console.log('response from resume import', response)
      this.candidate.resume_uploaded = true
    },
    uploadFailure (file) {
      console.error('Error uploading file')
      if (this.candidateId == 'new') {
        alerts.show({
          status: 'error',
          message: 'You must save your candidate first before uploading a resume!'
        })
      } else {
        alerts.show({
          status: 'error',
          message: 'Uh-oh, something went wrong when trying to upload the resume. Please refresh your browser and try again.'
        })
      }
    },
    deleteResume () {
      candidateHelper.deleteResume.apply(this, [this.candidate])
    },
    downloadResume () {
      candidateHelper.downloadResume(this.candidate)
    },
    changePreferredContactMethod (type, e) {
      const originalMethod = this.candidate.preferred_contact_method
      switch (type) {
        case 'email':
          this.candidate.preferred_contact_method = 1
          this.candidate.emails[0].preferred = true
          break
        case 'mobile':
          this.candidate.preferred_contact_method = 2
          this.candidate.phones.find(number => number.type === 'mobile').preferred = true
          break
        case 'phone':
          this.candidate.preferred_contact_method = 3
          this.candidate.phones.find(number => number.type === 'home').preferred = true
          break
        default:
          break
      }
      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to change ${this.candidate.first_name}'s preferred contact method to ${type}?'`,
          cancel: () => {
            switch (originalMethod) {
              case 1:
                this.candidate.preferred_contact_method = 1
                this.candidate.emails[0].preferred = true
                break
              case 2:
                this.candidate.preferred_contact_method = 2
                this.candidate.phones.find(number => number.type === 'mobile').preferred = true
                break
              case 3:
                this.candidate.preferred_contact_method = 3
                this.candidate.phones.find(number => number.type === 'home').preferred = true
                break
              default:
                break
            }
          },
          confirm: this.onSubmit
        }
      })
    }
  },
  watch: {
    candidate: {
      handler (newVal) {
        // Remove references
        newVal = $.extend(true, {}, newVal)
        let oldVal = $.extend(true, {}, this.originalCandidate)
      // Don't check if the comments or activity feed change
        delete newVal.comments
        delete oldVal.comments
        delete newVal.comment_count
        delete oldVal.comment_count
        delete newVal.activities
        delete oldVal.activities
        if (!deepEqual(newVal, oldVal)) {
          metadataStore.setHasUnsavedChanges(true, this.onSubmit)
        }
      },
      deep: true
    }
  },
  props: {
    // Candidate ID passed in as prop in modal mode
    candidateIdProp: { required: false },
    isModal: { required: false },
    hideModal: { required: false },
    onSave: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  // Most styles inherited from SettingsPanel.vue
  // TODO: Settings panel styles should probably be broken into a shared scss file

  $comment-panel-width: 250px;
  $total-comment-panel-width: $comment-panel-width + 12px + 12px;

  // SettingsPanel overrides
  .app-settings-container {

    overflow-y: auto;

    .settings-panel {
      @include i-b;
      margin-left: 0;
      width: calc(100% - #{$total-comment-panel-width});
      max-height: none;

      position: relative;
    }

    // Overrides if we're in modal mode
    &.is-modal {
      width: 735px;
      padding: 0;
      background: rgba(0,0,0,0);

      .settings-panel {
        margin: 0;
        padding: 0;
        width: $candidate-modal-width;

        display: inline-block;
        vertical-align: top;
      }

      .panel {
        box-shadow: none;

        // TODO: Make sure this padding is okay, right now just needed so box-shadows don't get cut off
        padding: 8px;
        padding-top: 13px;
        margin-top: $candidate-buttons-height;
      }
    }
  }

  .top-button-container {
    height: $candidate-buttons-height;
    line-height: $candidate-buttons-height;
    padding-left: 18px;
    background-color: $barney;
    position: fixed;
    width: inherit;
    z-index: 2;

    // Defined here instead of customStyles: so we can have hover style
    button {
      margin-right: 15px;
      height: 46px;
      line-height: 46px;
      background: $barney;
      border: 1px solid $white;
      display: inline-block;
      vertical-align: middle;

      &:hover {
        background: $barney-hover;
      }
    }

    .x-out-button {
      padding: 6px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  .dropdown-button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    border-radius: 2px;

    &:hover, &:focus, &.active {
      background-color: $barney-hover;
    }
  }

  .comments-panel-aligner {
    vertical-align: top;
    display: inline-block;
    margin-left: 14px;

    .candidate-comment-container {
      margin-bottom: 14px;
    }
  }

  .dropzone {
    min-height: 90px;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;

    border-radius: 2px;
    border: 1px solid $gallery;

    // Don't allow cancel (for now)
    .dz-remove {
      display: none;
    }
  }

  .resume-label {
    color: $tundora;
    display: block;
    margin-bottom: 12px;

    img {
      @include i-b;
      width: 14px;
      height: 14px;
      margin: 0 18px 0 13px;
    }
  }

  .add-button {
    background-image: url('~img/add-block-inactive-small.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    left: 85%;
    height: 18px;
    position: absolute;
    transform: translateY(10px);
    width: 18px;

    &:hover {
      background-image: url('~img/add-block-active-small.svg');
    }
  }

  .swap-button {
    background-image: url('~img/related-field.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    transform: translateY(5px);
    width: 20px;

    &:hover {
      background-image: url('~img/related-field-active.svg')
    }
  }

  .toggle-profile-container {
    text-align: right;
    padding-right: 13px;

    .toggle-profile-view {
      @include green-link;

      color: $havelock;
      font-size: 12px;
      font-weight: normal;

      &:hover {
        color: $denim;
      }

      img {
        vertical-align: middle;
        margin-right: 15px;
      }
    }
  }

  .related-fields {
    margin-top: -5px;
    margin-bottom: 5px;

    > img {
      margin-right: 10px;
      transform: translateY(5px);
    }

    .custom-input-container {
      display: inline-block;
      width: 270px;
    }
  }

  .resume-download-delete-button{
    @include i-b;
    margin-bottom: 20px;
    margin-right: 28px;
    min-width: 100px;
    height: 30px;
    line-height: 12px;
    padding: 2px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    color: #4990e2;
    background-color: #ffffff;
    &:hover {
      background-color: #ffffff;
      color: $denim;
    }

    img{
      margin-right: 12px;
      vertical-align: middle;
    }
  }


</style>
