<template>
  <transition name="row-animation">
    <tr class="candidate-row">
      <td class="name-cell">
        <CustomCheckbox
          :checked="candidate.isChecked"
          :onChange="(e) => {checkboxChange(e, candidate)}"
        />
        <span role="button" class="name-link" @click="openCandidateModal">
          {{candidate.first_name}}
        </span>
      </td>
      <td class="name-cell">
        <span role="button" class="name-link" @click="openCandidateModal">
          {{candidate.last_name}}
        </span>
      </td>
      <td><a v-if="email" @click="sendMessage">{{email}}</a></td>
      <td><a v-if="phone" :href="`tel:${phone}`">{{ phoneNumber.makeReadable(phone) }}</a></td>
      <td>{{candidate.title}}</td>
      <td>{{candidate.company_name}}</td>
      <td>{{addressCityState}}</td>
      <td><a v-if="candidate.resume_uploaded" @click="downloadResume">Download</a></td>
      <td><a v-if="candidate.linkedin_url" target="_blank" :href="linkedinUrl">View Profile</a></td>
      <td><a v-if="candidate.facebook_url" target="_blank" :href="facebookUrl">View Profile</a></td>
    </tr>
  </transition>
</template>

<script>

import CustomCheckbox from 'components/FormElements/CustomCheckbox'

import { candidateHelper, addProtocol, modals, phoneNumber } from 'helpers'

export default {
  components: {
    CustomCheckbox
  },
  mounted () {

  },
  data () {
    return {
      phoneNumber: phoneNumber
    }
  },
  computed: {
    addressCityState () {
      return candidateHelper.getCityState(this.candidate)
    },
    email () {
      if (!this.candidate.emails || !this.candidate.emails[0]) {
        return ''
      } else {
        return this.candidate.emails[0].address
      }
    },
    phone () {
      if (!this.candidate.phones || !this.candidate.phones[0]) {
        return ''
      } else {
        return this.candidate.phones[0].number
      }
    },
    facebookUrl () {
      return addProtocol(this.candidate.facebook_url)
    },
    linkedinUrl () {
      return addProtocol(this.candidate.linkedin_url)
    }
  },
  methods: {
    openCandidateModal () {
      candidateHelper.openCandidateModal.apply(this, [this.candidate.id, this.reloadCandidates])
    },
    sendMessage (e) {
      e.preventDefault()
      modals.show({
        component: 'SendMessageModal',
        props: {
          candidates: [this.candidate.id],
          containerStyles: {
            width: '700px'
          }
        }
      })
    },
    checkboxChange (e, candidate) {
      candidate.isChecked = e.target.checked
    },
    downloadResume () {
      candidateHelper.downloadResume(this.candidate)
    }
  },
  props: {
    candidate: { required: true }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  // Most styles included in CandidateTable

  .candidate-row {
    @include transition-sm-med-ease;
  }

  .name-link {
    @include green-link;
  }

  // Animations for cards
  .row-animation-enter {
    opacity: 0 !important;
  }
  .row-animation-enter-active {
    opacity: 1;
  }
  .row-animation-leave {
    opacity: 1;
  }
  .row-animation-leave-active {
    opacity: 0;
  }

</style>
