<template>
  <div class="preview-container">
    <table class="candidates-table">
      <thead>
        <tr>
          <th v-for="column in columns">
            {{column.label}}
          </th>
        </tr>
      </thead>
      <tbody>
        <CandidateRowPreview v-for="previewCandidate in previewCandidates" :previewCandidate="previewCandidate" />
      </tbody>
    </table>
  </div>
</template>

<script>

import CandidateRowPreview from './CandidateRowPreview'

export default {
  components: {
    CandidateRowPreview
  },
  mounted () {

  },
  data () {
    return {
      columns: [
        { value: 'first_name', label: 'First Name' },
        { value: 'last_name', label: 'Last Name' },
        { value: 'title', label: 'Title' },
        { value: 'company_name', label: 'Company' },
        { value: 'addresses_json', label: 'Location' },
        { value: 'linkedin_url', label: 'LinkedIn' },
        { value: 'facebook_url', label: 'Facebook' },
        { value: 'emails_json', label: 'Email' },
        { value: 'resume_uploaded', label: 'Resume' }
      ]
    }
  },
  computed: {
  },
  methods: {
  },
  props: {
    previewCandidates: { required: true }
  }
}
</script>

<style lang='scss' scoped>

  .preview-container {
    margin-bottom: 7rem;
    max-height: 400px;
    width: 100%;
    overflow-x: auto;
  }

  .candidates-table {
    min-width: 100%;
  }

</style>
