<template>
  <div class="main-container" ref="container">
    <div class="bulk-container">
      <CustomSelect
        :items="bulkActionItems"
        :onChange="bulkActionChange"
        :selected="selectedBulkAction"
        :customStyles="dropdownStyles"
        :menuMaxHeight="'auto'"
      />
    </div>

    <div class="panel options-panel">
      <Filters
        :searchHandler="searchHandler"
        :clearFilters="clearFilters"
        :filter="availableFilters"
      />
    </div>

    <div class="panel-controls-row">
      <div class="col">
        <CustomCheckbox label="Select all" :customStyles="controlCheckboxStyle" :onChange="selectAllClick" />
      </div>
      <div class="col">
        <button role="tab" class="filter-tab" :class="{'active': activeTab === 'pending'}" @click="() => {activeTab = 'pending'}">PENDING</button>
        <button role="tab" class="filter-tab" :class="{'active': activeTab === 'all'}" @click="() => {activeTab = 'all'}">ALL</button>
      </div>
      <div class="col">
        <CustomInput
          v-model="candidatesStore.filters.search"
          :icon="searchImg"
          placeholder="Search..."
          :containerStyles="searchContainerStyles"
          :onEnter="searchHandler"
        />
      </div>
    </div>

    <div v-if="loadingStatus !== 'loading'" class="cards-container">
      <ReviewCandidateCard
        v-for="candidate in candidates"
        :candidate="candidate"
        :checkboxChange="candidateCheckboxChange"
        :reloadCandidates="reloadCandidates"
        :activeTab="activeTab"
      />
    </div>

    <div class="sk-folding-cube" v-if="loadingStatus === 'loading'">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>

    <PageSelection :totalCount="candidatesStore.totalCount" :pageChange="pageChange" />

  </div>
</template>

<script>
import ReviewCandidateCard from './ReviewCandidateCard'
import Filters from 'components/Tools/Filters'
import CustomSelect from 'components/FormElements/CustomSelect'
import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import CustomInput from 'components/FormElements/CustomInput'
import FlatButton from 'components/FormElements/FlatButton'
import PageSelection from 'components/Tools/PageSelection'

import api from 'api'
import { accountStore, candidatesStore, usersStore, jobsStore, listsStore, userPreferencesStore, adminStore } from 'stores'
import { candidateActions } from 'helpers'

import circlePlusWhiteImg from 'img/circle-plus-white.svg'
import cloudWhiteImg from 'img/cloud-white.svg'
import backArrow from 'img/back-arrow.svg'
import searchImg from 'img/search.svg'

export default {
  name: 'CandidatesReview',
  components: {
    CustomSelect,
    CustomCheckbox,
    CustomInput,
    Filters,
    FlatButton,
    ReviewCandidateCard,
    PageSelection
  },
  data () {
    return {
      circlePlusWhiteImg,
      cloudWhiteImg,
      backArrow,
      searchImg,
      dropdownStyles: {
        display: 'inline-block',
        width: '225px'
      },
      dropdownRightStyles: {
        display: 'inline-block',
        width: '225px',
        float: 'right'
      },
      importButtonStyles: {
        float: 'right',
        'margin-right': '20px'
      },
      addNewButtonStyles: {
        float: 'right'
      },
      searchContainerStyles: {
        display: 'inline-block'
      },
      controlCheckboxStyle: {
        'margin-top': '-2px'
      },
      selectedBulkAction: { value: 'default' },
      candidatesStore: candidatesStore.get(),
      usersStore: usersStore.get(),
      jobsStore: jobsStore.get(),
      listsStore: listsStore.get(),
      userPreferencesStore: userPreferencesStore.get(),
      accountStore: accountStore.get(),
      adminStore: adminStore.get(),
      loadingPromise: null,
      loadingStatus: 'done', // `done`, `loading`, or `end`,
      activeTab: 'pending', // `pending` or `all`
      getCount: true
    }
  },
  mounted () {
    // Clear the store
    this.candidatesStore.candidates = []

    // Init the jobsStore
    api.ajax('reqs', {
      data: {
        sourced_reqs: 1
      },
      type: 'GET'
    })
    .done((response) => {
      console.log('response from initial get reqs ', response)
      jobsStore.init(response)
    })
    .fail((e) => {
      console.error('Error getting reqs ', e)
    })

    this.init()
  },
  computed: {
    availableFilters () {
      const filters = {
        job: true,
        status: true,
        date: true,
        source: true,
        city: true,
        state: true,
        company: true,
        organization: true
      }
      if (this.activeTab === 'pending') filters.status = false
      return filters
    },
    candidates () {
      return this.candidatesStore.candidates
    },
    bulkActionItems () {
      const actions = [
        { value: 'message', label: 'Send Message Now' },
        { value: 'add-to-list', label: 'Add to List' },
        { value: 'add-to-sequence', label: 'Add to Sequence' },
        { value: 'pause-messages', label: 'Pause Messages' },
        { value: 'resume-messages', label: 'Resume Messages' },
        { value: 'clear-messages', label: 'Clear Messages' },
        { value: 'export', label: 'CSV Export' },
        { value: 'do-not-sms', label: 'Do Not SMS' },
        { value: 'do-not-email', label: 'Do Not Email' },
        { value: 'do-not-contact', label: 'Do Not Contact' },
        { value: 'delete-candidates', label: 'Delete Candidates' }
      ]
      if (this.activeTab === 'pending') {
        actions.unshift({ value: 'filter', label: 'Filter' })
        actions.unshift({ value: 'approve', label: 'Approve' })
      }
      if (this.adminStore.is_system_admin) actions.push({ value: 'find', label: 'Find Personal Info' })
      actions.unshift({ value: 'default', label: `Bulk Actions (${this.checkedCandidates.length} candidates)` })
      return actions
    },
    checkedCandidates () {
      let checked = []
      $.each(this.candidates, (key, value) => {
        if (value.isChecked) {
          checked.push(value.id)
        }
      })

      return checked
    },
    searchParams () {
      // TODO: this will eventually need to change to allow multiple selections of each filter
      // we will need to pass comma separated strings
      this.candidatesStore.filters.limit = this.userPreferencesStore.candidatesPerPage
      return this.candidatesStore.filters
    }
  },
  methods: {
    init () {
      // Add offset
      this.searchParams.offset = (this.candidatesStore.page - 1) * this.searchParams.limit

      const requestObject = {
        data: Object.assign({}, this.searchParams),
        type: 'GET'
      }

      // Check if we are in the pending tab
      if (this.activeTab === 'pending') {
        requestObject.data.statuses = 'pending'
      }

      // If we are applying filters or clearing them we need to get a new count
      if (this.getCount) {
        requestObject.data.count = 1
        this.getCount = false
      } else {
        requestObject.data.count = 0
      }

      // Add necessary params
      requestObject.data.user_email = this.accountStore.account.is_sourced_req_admin
        ? `${this.accountStore.account.email.split('@')[0].toLowerCase()}+`
        : ''

      // Call API to get candidates
      api.ajax('candidates', requestObject)
      .done((response) => {
        console.log('response from get candidates', response)

        let candidates
        if (response.candidates) {
          candidates = response.candidates
          candidatesStore.set('totalCount', response.count)
        } else {
          candidates = response
        }

        $.each(candidates, (key, value) => {
          value.isChecked = false
        })

        candidatesStore.init(candidates)
      })
    },
    pageChange () {
      this.loadingStatus = 'done'
      this.init()
    },
    // Bulk actions shared in candidateActions.js. Use .apply to use 'this' context
    bulkActionChange (e) {
      let action = e.value
      switch (action) {
        case 'approve':
          let approvedCandidates = this.checkedCandidates
          candidateActions.bulkApprove.apply(this)
          .done(() => {
            candidatesStore.deleteCandidates(approvedCandidates)
          })
          break
        case 'filter':
          let filteredCandidates = this.checkedCandidates
          candidateActions.bulkFilter.apply(this)
          .done(() => {
            candidatesStore.deleteCandidates(filteredCandidates)
          })
          break
        case 'message':
          candidateActions.sendMessage.apply(this)
          break
        case 'pause-messages':
          candidateActions.bulkPauseMessages.apply(this)
          break
        case 'resume-messages':
          candidateActions.bulkResumeMessages.apply(this)
          break
        case 'clear-messages':
          candidateActions.bulkClearMessages.apply(this)
          break
        case 'export':
          candidateActions.export.apply(this)
          break
        case 'add-to-list':
          candidateActions.bulkAddToList.apply(this)
          break
        case 'add-to-sequence':
          candidateActions.bulkAddToSequence.apply(this)
          break
        case 'do-not-sms':
          candidateActions.bulkOptOut.apply(this, ['sms'])
          break
        case 'do-not-email':
          candidateActions.bulkOptOut.apply(this, ['email'])
          break
        case 'do-not-contact':
          candidateActions.bulkOptOut.apply(this, ['all'])
          break
        case 'delete-candidates':
          candidateActions.deleteCandidates.apply(this)
          break
        case 'find':
          candidateActions.findPersonalInfo.apply(this)
          break
        default:
          break
      }

      // Reset dropdown after selecting
      this.selectedBulkAction = { value: 'default' }
    },
    clearFilters () {
      candidatesStore.clearFilters()
      this.getCount = true
      this.loadingStatus = 'done'
      this.init()
    },
    candidateCheckboxChange (e, candidate) {
      candidate.isChecked = e.target.checked
    },
    searchHandler () {
      // Re-init our data when sorting changes
      this.candidatesStore.page = 1
      this.getCount = true
      this.loadingStatus = 'done'
      this.init()
    },
    selectAllClick (e) {
      $.each(this.candidates, (key, value) => {
        value.isChecked = e.target.checked
      })

      // TODO: turning off the modal for now

      // if (e.target.checked) {
      //   modals.show({
      //     component: "Confirm",
      //     props: {
      //       message: `All ${this.checkedCandidates.length} contacts on this page are selected. Do you want to select all ${this.candidatesStore.totalCount} candidates who match the current set of filters?`,
      //       confirmText: "Yes, select all!",
      //       confirm() {
      //         // TODO:
      //       },
      //       cancelText: "No, just this page",
      //       cancel() {
      //         // TODO:
      //       }
      //     }
      //   })
      // }
    },
    reloadCandidates () {
      this.candidatesStore.page = 1
      this.getCount = true
      this.loadingStatus = 'done'
      this.init()
    }
  },
  watch: {
    activeTab: {
      handler (val, old) {
        if (val !== old) {
          this.searchHandler()
        }
      }
    },
    'accountStore.account.is_sourced_req_admin': {
      handler (val, old) {
        if (val != old) {
          this.searchHandler()
        }
      }
    }
  },
  beforeDestroy () {
    // Clear the filters in the store
    candidatesStore.clearFilters()
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .main-container {
    .bulk-container {
      margin-bottom: 15px;
    }

    .panel-controls-row {
      .col {
        text-align: center;
        display: inline-block;
        width: 33.3333333333333%;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    .filter-tab {
      min-width: 120px;
      height: 40px;
      letter-spacing: 1.5px;
      font-weight: 600;
      font-size: 16px;
      border: 1px solid $turquoise;
      color: $turquoise;
      background-color: $white;
      border-radius: 0;
      padding: 0px 5px;

      &:first-child {
        border-radius: 2px 0px 0px 2px;
        border-right: 0;
      }

      &:last-child {
        border-radius: 0px 2px 2px 0px;
        border-left: 0;
      }

      &.active {
        background-color: $turquoise;
        color: $white;
      }
    }

    .cards-container {
      margin: 25px 0px;
    }
  }
</style>
