<template>
	<div class="preview-container">
    <div v-if="!!preferredContact" class="preferred-contact">
      <span>{{ candidate.first_name }} {{ candidate.last_name }} was contacted via
        <template v-if="preferredContact.type === 'email'">
          <b>Email</b>. <span class="link" @click="preferredContact.method">Click here</span> to send an email to {{ candidate.first_name }}.
        </template>
				<template v-else-if="preferredContact.type === 'sms'">
					<b>Text Message</b>. Please contact {{ candidate.first_name }} at <b class="link" @click="smsClick(preferredContact.method)">{{ phoneNumber.makeReadable(preferredContact.method, 'US') }}</b>.
				</template>
				<template v-else-if="preferredContact.type === 'home'">
					a <b>Phone Call</b>. Please contact {{ candidate.first_name }} at <b>{{ phoneNumber.makeReadable(preferredContact.method, 'US') }}</b>.
				</template>
      </span>
    </div>

		<div class="edit-container">
			<span @click="toggleMode" class="edit-profile">
				<img v-svg-src="editIcon">
				<b>Edit Profile</b>
			</span>
		</div>

		<div class="section-1">
			<div class="col-1">
				<span class="profile-image" :style="profileImage"></span>
        <a v-if="candidate.linkedin_url" :href="candidate.linkedin_url" target="_blank">
          <img class="linkedin" v-svg-src="linkedinIcon">
        </a>
        <img v-else class="linkedin" v-svg-src="linkedinDisabledIcon">
        <img v-if="candidate.resume_uploaded" @click="downloadResume" role="button" class="resume" v-svg-src="resumeIcon">
				<img v-else class="resume" v-svg-src="resumeDisabledIcon">
        <a v-if="candidate.facebook_url" :href="candidate.facebook_url" target="_blank">
          <img class="facebook" v-svg-src="facebookIcon">
        </a>
        <img v-else class="facebook" v-svg-src="facebookDisabledIcon">
				<div class="emails">
					<img v-svg-src="emailIcon">
					<span v-if="!emailAddresses.length" class="none">Emails</span>
					<span v-else :class="{'preferred-contact-badge': emailAddresses[0].preferred && preferredContact.type === 'email'}" @click="emailClick(emailAddresses[0].address)">{{emailAddresses[0].address}}</span>
          <template v-if="emailAddresses.length > 1">
            <DynamicTooltip>
              <template slot="content">
                <span class="email" :class="{'preferred-contact-badge': email.preferred && preferredContact.type === 'email'}" v-for="email in emailAddresses.slice(1)" @click="emailClick(email.address)">{{ email.address }}</span>
              </template>
              <span class="additional-info" slot="triggerElement">+{{ emailAddresses.length - 1 }}</span>
            </DynamicTooltip>
          </template>
				</div>

				<div class="phones">
					<div class="mobile">
						<img v-svg-src="mobileIcon">
						<a v-if="mobilePhones[0].number != ''" class="phone-link" :class="{'preferred-contact-badge': mobilePhones[0].preferred && preferredContact.type === 'sms'}"  :href="`tel:${mobilePhones[0].number}`"><span>{{ phoneNumber.makeReadable(mobilePhones[0].number, 'US') }}</span></a>
            <span v-else class="none">Mobile</span>
						<template v-if="mobilePhones.length > 1">
	            <DynamicTooltip>
	              <template slot="content">
	                <span class="email" v-for="phone in mobilePhones.slice(1)" :class="{'preferred-contact-badge': phone.preferred && preferredContact.type === 'sms'}">{{ phoneNumber.makeReadable(phone.number, 'US') }}</span>
	              </template>
	              <span class="additional-info" slot="triggerElement">+{{ mobilePhones.length - 1 }}</span>
	            </DynamicTooltip>
	          </template>
					</div>
					<div class="phone">
						<img v-svg-src="phoneIcon">
						<a v-if="homePhones[0].number != ''" class="phone-link" :class="{'preferred-contact-badge': homePhones[0].preferred && preferredContact.type === 'home'}" :href="`tel:${homePhones[0].number}`"><span>{{ phoneNumber.makeReadable(homePhones[0].number, 'US') }}</span></a>
            <span v-else class="none">Home</span>
            <template v-if="homePhones.length > 1">
	            <DynamicTooltip>
	              <template slot="content">
	                <span class="email" :class="{'preferred-contact-badge': phone.preferred && preferredContact.type === 'home'}" v-for="phone in homePhones.slice(1)">{{ phoneNumber.makeReadable(phone.number, 'US') }}</span>
	              </template>
	              <span class="additional-info" slot="triggerElement">+{{ homePhones.length - 1 }}</span>
	            </DynamicTooltip>
	          </template>
					</div>
				</div>
			</div>

			<div class="col-2">
				<div class="name">
          <span v-if="candidate.first_name || candidate.last_name">{{candidate.first_name}} {{candidate.last_name}}</span>
          <span v-else class="none">Name</span>
        </div>
				<div class="title">
					<img v-svg-src="titleIcon">
					<span v-if="candidate.title">{{candidate.title}}</span>
          <span v-else class="none">Title</span>
				</div>
				<div class="company">
					<img v-svg-src="companyIcon">
					<span v-if="candidate.company_name">{{candidate.company_name}}</span>
          <span v-else class="none">Company</span>
				</div>
				<div class="location">
					<img v-svg-src="locationIcon">
					<span v-if="candidateLocation">{{candidateLocation}}</span>
          <span v-else class="none">Location</span>
				</div>
				<div class="industry">
					<img v-svg-src="industryIcon">
					<span v-if="candidate.industry_code">{{selectedIndustry}}</span>
          <span v-else class="none">Industry</span>
				</div>
			</div>

      <div>
        <span v-if="candidate.do_not_sms && candidate.do_not_email" class="do-not-contact">DO NOT CONTACT</span>
        <span v-else-if="candidate.do_not_sms" class="do-not-contact">DO NOT SMS</span>
        <span v-else-if="candidate.do_not_email" class="do-not-contact">DO NOT EMAIL</span>
      </div>

      <hr v-show="!candidate.candidate_profile">

		</div>

    <div v-if="candidate.candidate_profile" class="section-3">
      <h1>
        <Tooltip content="<i>Other Info</i> includes pieces of information about candidates, drawn from various third party data sources. It only appears for candidates whose info you purchased from Happie using the <i>Find Candidates</i> section of the app. These pieces of information about a candidate cannot be edited." :customStyles="tooltipStyles" />
        OTHER INFO
      </h1>
      <div class="info-section">
        <h2>ONLINE<br>PROFILES</h2>
        <span class="divider-line"></span>
        <div class="profiles">
          <a
            :href="link.url"
            target="_blank"
            v-for="link in candidateLinks"
          >
            <img v-svg-src="link.icon" />
          </a>
        </div>
      </div>
      <div class="info-section">
        <h2>PROFESSIONAL<br>EXPERIENCE</h2>
        <span class="divider-line"></span>
        <CandidateExperience :experiences="candidate.candidate_profile.experience" :allExp="true" :customStyles="experienceStyles" />
      </div>
    </div>

		<div class="section-2">
			<img class="header-icon" v-svg-src="targetIcon">
			<h1>TARGETED JOB(S)</h1>
			<div class="targeted-jobs">
        <span v-for="job in targetedJobs" class="job">{{job.title}}</span>
        <span v-if="!targetedJobs.length" class="none">Targeted jobs</span>
      </div>
      <div class="info-container">
        <div class="status">
          <img v-svg-src="statusIcon">
          <b>STATUS: </b>
          <span v-if="candidateStatus">{{candidateStatus}}</span>
          <span v-else class="none">Status</span>
        </div>
        <div class="source" v-if="!userIsTransactional">
          <img v-svg-src="sourceIcon">
          <b>SOURCE: </b>
          <span v-if="candidateSource">{{candidateSource}}</span>
          <span v-else class="none">Source</span>
        </div>
      </div>
      <hr>
      <img class="header-icon" v-svg-src="listIcon">
      <h1 class="target-text">LIST(S)</h1>
      <div class="lists">
        <span v-for="list in candidateLists" class="list">{{list.name}}</span>
        <span v-if="!candidateLists.length" class="none">Lists</span>
      </div>
		</div>

	</div>
</template>

<script>

import Tooltip from 'components/Tools/Tooltip'
import DynamicTooltip from 'components/Tools/DynamicTooltip'
import CandidateExperience from 'components/Sections/Candidates/CandidateExperience'

import { profileImageStyle, candidateHelper, candidateActions, phoneNumber } from 'helpers'
import { accountStore, industriesStore, jobsStore, listsStore, metadataStore } from 'stores'

import moment from 'moment'

import editIcon from 'img/edit-blue.svg'
import accountPlaceholder from 'img/account-placeholder.svg'
import linkedinIcon from 'img/candidates/linked-in.svg'
import linkedinDisabledIcon from 'img/candidates/linked-in-disabled.svg'
import facebookIcon from 'img/candidates/facebook.svg'
import facebookDisabledIcon from 'img/candidates/facebook-disabled.svg'
import resumeIcon from 'img/candidates/resume.svg'
import resumeDisabledIcon from 'img/candidates/resume-disabled.svg'
import emailIcon from 'img/settings/email.svg'
import mobileIcon from 'img/settings/mobile.svg'
import phoneIcon from 'img/settings/phone.svg'
import titleIcon from 'img/candidates/title.svg'
import companyIcon from 'img/candidates/company.svg'
import locationIcon from 'img/settings/location.svg'
import industryIcon from 'img/settings/industry.svg'
import targetIcon from 'img/jobs-circle.svg'
import statusIcon from 'img/status-circle.svg'
import sourceIcon from 'img/source-circle.svg'
import listIcon from 'img/list-circle.svg'

import socialIcon from 'img/find-candidates/candidate-card-social-icon-other-website.svg'
import linkedinIconCircle from 'img/find-candidates/candidate-card-social-icon-linkedin.svg'
import facebookIconCircle from 'img/find-candidates/candidate-card-social-icon-facebook.svg'
import githubIcon from 'img/find-candidates/candidate-card-social-icon-github.svg'
import behanceIcon from 'img/find-candidates/candidate-card-social-icon-behance.svg'
import twitterIcon from 'img/find-candidates/candidate-card-social-icon-twitter.svg'

export default {

  components: {
    Tooltip,
    DynamicTooltip,
    CandidateExperience
  },

  data () {
    return {
      editIcon,
      linkedinIcon,
      linkedinDisabledIcon,
      facebookIcon,
      facebookDisabledIcon,
      resumeIcon,
      resumeDisabledIcon,
      emailIcon,
      mobileIcon,
      phoneIcon,
      titleIcon,
      companyIcon,
      locationIcon,
      industryIcon,
      targetIcon,
      statusIcon,
      sourceIcon,
      listIcon,
      socialIcon,
      linkedinIconCircle,
      facebookIconCircle,
      githubIcon,
      behanceIcon,
      twitterIcon,
      tooltipStyles: {
        'vertical-align': 'middle',
        'margin-right': '10px'
      },
      experienceStyles: {
        display: 'inline-block',
        'margin-left': '25px',
        width: '180px'
      },
      accountStore: accountStore.get(),
      industriesStore: industriesStore.get(),
      jobsStore: jobsStore.get(),
      listsStore: listsStore.get(),
      metadataStore: metadataStore.get(),
      phoneNumber: phoneNumber
    }
  },

  computed: {
    sources () {
      return [].concat(this.metadataStore.filterSources)
    },
    profileImage () {
      return profileImageStyle(this.candidate.profile_photo_url, accountPlaceholder)
    },
    preferredContact () {
      // Cut the mustard
      if (!this.candidate.preferred_contact_method) return false

      let type
      let method

      switch (this.candidate.preferred_contact_method) {
        case 0:
          break
        case 1:
          if (!this.emailAddresses.length) {
            this.candidate.preferred_contact_method = 0
            break
          }
          type = 'email'
          method = this.emailAddresses.find(email => email.preferred)
          if (method) return { type, method: method.address }
          else break
        case 2:
          if (!this.mobilePhones[0].number) {
            this.candidate.preferred_contact_method = 0
            break
          }
          type = 'sms'
          method = this.mobilePhones.find(phone => phone.preferred)
          if (method) return { type, method: method.number }
          else break
        case 3:
          if (!this.homePhones[0].number) {
            this.candidate.preferred_contact_method = 0
            break
          }
          type = 'home'
          method = this.homePhones.find(phone => phone.preferred)
          if (method) return { type, method: method.number }
          else break
        default:
          break
      }
      return false
    },
    emailAddresses () {
      let emailAddresses = []
      for (var i = 0; i < this.candidate.emails.length; i++) {
        if (this.candidate.emails[i].address) {
          emailAddresses.push({ address: this.candidate.emails[i].address, preferred: this.candidate.emails[i].preferred })
        }
      }
      return emailAddresses
    },
    mobilePhones () {
      let mobile = []
      if (this.candidate.phones) {
        $.each(this.candidate.phones, (key, value) => {
          if (value.type == 'mobile') {
            mobile.push({ number: value.number, preferred: value.preferred })
          }
        })
      }
      return mobile
    },
    homePhones () {
      let home = []
      if (this.candidate.phones) {
        $.each(this.candidate.phones, (key, value) => {
          if (value.type == 'home') {
            home.push({ number: value.number, preferred: value.preferred })
          }
        })
      }
      return home
    },
    candidateLocation () {
      return candidateHelper.getCityState(this.candidate)
    },
    selectedIndustry () {
      let industry = ''
      $.each(this.industriesStore.industries, (key, value) => {
        if (value.code === this.candidate.industry_code) {
          industry = value.name || value.label
          return false
        }
      })
      return industry
    },
    targetedJobs () {
      let jobs = []
      if (this.candidate.req_ids) {
        $.each(this.candidate.req_ids, (key, value) => {
          $.each(this.jobsStore.jobs, (k, v) => {
            if (v.id == value) {
              jobs.push(v)
              return false
            }
          })
        })
      }
      return jobs
    },
    candidateStatus () {
      let status = ''
      if (this.candidate.status) {
        $.each(this.statuses, (key, value) => {
          if (value.value == this.candidate.status) {
            status = value.label
            return false
          }
        })
      }
      return status
    },
    candidateSource () {
      let source = ''
      if (this.candidate.lead_source) {
        $.each(this.sources, (key, value) => {
          if (value.value == this.candidate.lead_source) {
            source = value.label
            return false
          }
        })
      }
      return source
    },
    candidateLists () {
      let lists = []
      if (this.candidate.list_ids) {
        $.each(this.candidate.list_ids, (key, value) => {
          $.each(this.listsStore.lists, (k, v) => {
            if (v.id == value) {
              lists.push(v)
              return false
            }
          })
        })
      }
      return lists
    },
    candidateLinks () {
      // Here we order the array of links
      let links = this.candidate.candidate_profile.websites || []
      links = [].concat(links)

      // Map the links
      $.each(links, (index, link) => {
        let type = link.type || ''
        switch (type.split('_')[0]) {
          case 'li':
            links[index].order = 3
            links[index].icon = linkedinIconCircle
            break
          case 'gh':
            links[index].order = 4
            links[index].icon = githubIcon
            break
          case 'be':
            links[index].order = 5
            links[index].icon = behanceIcon
            break
          case 'fb':
            links[index].order = 6
            links[index].icon = facebookIconCircle
            break
          case 'tw':
            links[index].order = 7
            links[index].icon = twitterIcon
            break
          default:
            links[index].order = 8
            links[index].icon = socialIcon
            break
        }
      })

      // Reorder links
      links.sort((a, b) => {
        return a.order - b.order
      })

      return links
    },
    checkedCandidates () {
      return [this.candidate.id]
    },
    userIsTransactional () {
      return this.accountStore.account.is_transactional
    }
  },
  methods: {
    downloadResume () {
      candidateHelper.downloadResume(this.candidate)
    },
    expRange (exp) {
      let end = exp.end ? moment(exp.end).format('YYYY') : 'Current'
      return `${moment(exp.start).format('YYYY')} - ${end}`
    },
    emailClick (email) {
      if (this.candidate.do_not_email) return false
      // If they are a transactional user open a mailto link
      if (this.userIsTransactional) {
        let hiddenLink = $(`<a href="mailto:${email}"></a>`)

        hiddenLink.hide()
        .appendTo('body')[0]
        .click()

        hiddenLink.remove()
      } else {
        candidateActions.sendMessage.apply(this, [[email], true, 'email'])
      }
    },
    smsClick (number) {
      if (this.candidate.do_not_sms || this.userIsTransactional) return false
      // Incase we ever need to allow transactional users to click phone numbers
      if (this.userIsTransactional) {
        let hiddenLink = $(`<a href="tel:${number}"></a>`)

        hiddenLink.hide()
        .appendTo('body')[0]
        .click()

        hiddenLink.remove()
      } else {
        candidateActions.sendMessage.apply(this, [[number], true, 'sms'])
      }
    }
  },

  props: {
    candidate: { required: true },
    toggleMode: { required: true },
    statuses: { required: true }
  }
}
</script>

<style lang="scss" scoped>
	@import "~styles/variables";

	.preview-container {
		width: $candidate-modal-width;
		background-color: $white;
		display: inline-block;
		margin-top: $candidate-buttons-height;
    padding-top: 13px;

		.edit-container {
			text-align: right;
			padding-right: 13px;

			.edit-profile {
        @include green-link;

				color: $havelock;
				font-size: 12px;
        font-weight: normal;

        &:hover {
          color: $denim;
        }

        img {
          vertical-align: middle;
          margin-right: 15px;
        }
			}
		}

		.section-1 {
			padding: 7px 13px;

			img {
				vertical-align: middle;
			}

			.col-1 {
				vertical-align: top;
				display: inline-block;
				width: 58%;
				text-align: center;
        position: relative;
			}

			.col-2 {
				vertical-align: top;
				display: inline-block;
				width: 42%;
				font-size: 14px;
        padding-left: 12.5px;

				.name {
					margin-top: 15px;
					font-size: 22px;
					color: #393939;
          @include text-ellipsis;
				}

				img {
					width: 15px;
					margin-right: 8px;
				}

        $row-spacing: 23px;

				.title {
					margin-top: $row-spacing;
          @include text-ellipsis;
				}

				.company {
					margin-top: $row-spacing;
          @include text-ellipsis;
				}

				.location {
					margin-top: $row-spacing;
          @include text-ellipsis;
				}

				.industry {
					margin-top: $row-spacing;
          @include text-ellipsis;
				}
			}

			hr {
				margin-top: 25px;
        margin-bottom: 0px;
			}
		}

    .section-2 {
      text-align: center;
      padding: 0px 13px;
      margin-bottom: 30px;

      .header-icon {
        margin-top: 20px;
        width: 40px;
        height: 40px;
      }

      h1 {
        margin-top: 12px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2px;
        color: $dove-gray;
      }

      .info-container {
        display: inline-block;
        text-align: left;
      }

      .status, .source {
        margin-top: 15px;
        font-size: 12px;
        letter-spacing: 1.8px;
        color: $dove-gray;
        text-transform: uppercase;

        img {
          width: 35px;
          height: 35px;
          vertical-align: middle;
          margin-right: 15px;
        }

        .none {
          text-transform: none;
        }
      }

      hr {
        margin-top: 23px;
      }

    }

    .section-3 {
      background-color: $alabaster;
      text-align: center;
      border-top: 1px solid $mystic;
      border-bottom: 1px solid $mystic;
      padding-bottom: 25px;
      margin-top: 20px;

      h1 {
        margin-top: 25px;
        letter-spacing: 1.8px;
        color: $dove-gray;
      }

      .info-section {
        text-align: left;
        margin: 30px 40px 0px 40px;
        position: relative;

        h2 {
          display: inline-block;
          width: 152px;
          font-size: 14px;
          letter-spacing: 1.8px;
          color: $dove-gray;
          font-weight: 400;
          vertical-align: top;
          margin-bottom: 0px;
        }

        .divider-line {
          display: inline-block;
          width: 3.4px;
          height: 100%;
          position: absolute;
          background-color: $half-baked;
        }

        .profiles {
          display: inline-block;
          margin-left: 25px;
          width: 180px;

          a {
            display: inline-block;
            margin-bottom: 10px;
            margin-right: 15px;
          }
        }

        // All experience styles are in the component now

      }
    }

	}

  .email {
    color: $shamrock;
    cursor: pointer;
    display: block;

    &:hover {
      color: $shamrock-hover;
      text-decoration: underline;
    }

    &:not(:last-child)::after {
      color: $black;
      content: ',';
      font-weight: 400;
    }
  }

  .link {
    cursor: pointer;
		font-weight: bold;
    text-decoration: underline;
  }
</style>
