<template>
  <div class="candidate-loader-container" ref="container">
    <div class="sk-folding-cube" v-if="loadingStatus === 'loading'">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
    <span class="candidate-loader-label" v-if="loadingStatus === 'loading'">Loading...</span>

    <span class="candidate-loader-label" v-if="loadingStatus === 'done'" role="button" @click="loadHandler">Load more</span>

    <span class="candidate-loader-label" v-if="loadingStatus === 'end'">All results shown</span>
  </div>
</template>

<script>

export default {
  components: {
  },
  mounted () {
  },
  data () {
    return {
    }
  },
  computed: {
  },
  methods: {
  },
  props: {
    loadingStatus: { required: false },
    loadHandler: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .candidate-loader-container {
    height: 8.0rem;
    text-align: center;
  }

  .sk-folding-cube {
    @include i-b;
  }

  .sk-folding-cube .sk-cube:before {
    background-color: $dove-gray;
  }

  .candidate-loader-label {
    @include i-b;
    margin-top: 32px;
    margin-left: 22px;

    font-size: 1.6rem;
    color: $dusty-gray;
  }

</style>
