<template>
  <div class="main-container" @scroll="containerScroll" ref="container">
    <div>
      <CustomSelect
        :items="bulkActionItems"
        :onChange="bulkActionChange"
        :selected="selectedBulkAction"
        :customStyles="dropdownStyles"
        :menuMaxHeight="'auto'"
      />
      <template v-if="!sourcedReq && !reportsPanel && !accountStore.account.is_sourced_req_admin">
        <FlatButton :click="addNewClick" :customStyles="addNewButtonStyles" color="green">
          <img v-svg-src="circlePlusWhiteImg" alt="add new candidate"></img>
          ADD NEW
        </FlatButton>
        <FlatButton v-if="!accountStore.account.current_organization.is_transactional" :click="importClick" :customStyles="importButtonStyles">
          <img v-svg-src="cloudWhiteImg" alt="import candidates"></img>
          IMPORT
        </FlatButton>
      </template>
    </div>

    <div v-if="reportsPanel || sourcedReq" class="reports-content-container">
      <div v-if="reportsPanel" class="reports-top-nav">
        <router-link
          :to="reportsData.backPath">
            <img v-svg-src="backArrow"></img>
            <span>{{reportsData.backText}}</span>
        </router-link>
      </div>

      <div v-if="sourcedReq" class="reports-top-nav">
        <router-link to="/outreach/sourced-reqs">
          <img v-svg-src="backArrow"></img>
          <span>Back to Sourced Reqs</span>
        </router-link>
      </div>
    </div>

    <div v-if="!reportsPanel" class="panel options-panel">
      <Filters
        :searchHandler="searchHandler"
        :clearFilters="clearFilters"
        :filter="availableFilters"
      />
    </div>

    <div class="panel-controls-row">
      <CustomCheckbox label="Select all" :customStyles="controlCheckboxStyle" :onChange="selectAllClick" />

      <div class="float-right">
        <CustomInput
          v-if="!reportsPanel"
          v-model="candidatesStore.filters.search"
          :icon="searchImg"
          placeholder="Search..."
          :containerStyles="searchContainerStyles"
          :onEnter="searchHandler"
        />

        <span role="button" class="tile-type-toggle tile-toggle" :class="{'active': gridType === 'cards'}" @click="()=>{toggleGridType('cards')}"></span>
        <span role="button" class="tile-type-toggle list-toggle" :class="{'active': gridType === 'table'}" @click="()=>{toggleGridType('table')}"></span>
      </div>
    </div>

    <div v-if="gridType === 'review' && loadingStatus !== 'loading'">
      <ReviewCandidateCard
        v-for="candidate in candidates"
        :candidate="candidate"
        :checkboxChange="candidateCheckboxChange"
        :reloadCandidates="reloadCandidates"
      />
    </div>

    <div v-if="gridType === 'cards' && loadingStatus !== 'loading'">
      <CandidateCard
        v-for="candidate in candidates"
        :candidate="candidate"
        :checkboxChange="candidateCheckboxChange"
        :reloadCandidates="reloadCandidates"
      />
    </div>

    <div v-if="gridType === 'table' && loadingStatus !== 'loading'" class="candidate-table-container">
      <CandidateTable
        :candidates="candidates"
        :searchParams="searchParams"
        :sortHandler="sortHandler"
      />
    </div>

    <div class="sk-folding-cube" v-if="loadingStatus === 'loading'">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>

    <PageSelection :totalCount="candidatesStore.totalCount" :pageChange="pageChange" />

  </div>
</template>


<script>
import ReviewCandidateCard from './ReviewCandidateCard'
import Filters from 'components/Tools/Filters'
import CustomSelect from 'components/FormElements/CustomSelect'
import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import CustomInput from 'components/FormElements/CustomInput'
import FlatButton from 'components/FormElements/FlatButton'
import CandidateCard from './CandidateCard'
import CandidateTable from './CandidateTable'
import CandidateLoader from './CandidateLoader'
import PageSelection from 'components/Tools/PageSelection'

import circlePlusWhiteImg from 'img/circle-plus-white.svg'
import cloudWhiteImg from 'img/cloud-white.svg'
import backArrow from 'img/back-arrow.svg'

import searchImg from 'img/search.svg'

import moment from 'moment'

import api from 'api'

import { accountStore, candidatesStore, usersStore, jobsStore, listsStore, userPreferencesStore, pusherStore, soundsStore, adminStore } from 'stores'
import { modals, candidateActions, candidateHelper } from 'helpers'

export default {
  components: {
    CustomSelect,
    CustomCheckbox,
    CustomInput,
    Filters,
    FlatButton,
    CandidateCard,
    CandidateLoader,
    CandidateTable,
    ReviewCandidateCard,
    PageSelection
  },
  created () {
    // Clear our store before anything else
    this.candidatesStore.candidates = []
    // Check if this in the reports panel
    if (this.$route.path.indexOf('reports') !== -1) {
      this.reportsPanel = true
    }
    // Are we in sourced reqs?
    if (this.$route.name === 'sourced_candidates') {
      this.sourcedReq = true
    }
    // Check if we have a query string to apply
    candidatesStore.applyQueryFilters(this.$route.query)
  },
  mounted () {
    // Set grid type based on preference
    this.gridType = this.userPreferencesStore.candidateGridType

    this.pusherStore.channels.user.promise.done(() => {
      // Always unbind first to make sure we're not binding multiple times
      this.pusherStore.channels.user.channel.unbind('candidate_changed')
      this.pusherStore.channels.user.channel.bind('candidate_changed', (data) => {
        console.log('pusher event: candidate_changed ', data)
        soundsStore.playSound('pop')
        $.each(this.candidates, (index, candidate) => {
          if (candidate.id == data.candidate.id) {
            $.each(data.candidate, (key, value) => {
              this.candidates[index][key] = value
            })
          }
        })
      })
    })

  // If we're in sourced reqs, default to the current week, but only once.
    if (this.sourcedReq) {
      this.searchParams.date_created_start = moment().startOf('isoweek').format()
    }

    // Init will load candidate information on first visit, but is also used to
    // update that information when we apply filters
    this.init()
  },
  data () {
    return {
      circlePlusWhiteImg,
      cloudWhiteImg,
      backArrow,
      dropdownStyles: {
        display: 'inline-block',
        width: '225px'
      },
      dropdownRightStyles: {
        display: 'inline-block',
        width: '225px',
        float: 'right'
      },
      importButtonStyles: {
        float: 'right',
        'margin-right': '20px'
      },
      addNewButtonStyles: {
        float: 'right'
      },
      searchContainerStyles: {
        display: 'inline-block'
      },
      controlCheckboxStyle: {
        'margin-top': '-2px'
      },
      reportsPanel: false,
      sourcedReq: false,
      selectedBulkAction: { value: 'default' },
      pusherStore: pusherStore.get(),
      candidatesStore: candidatesStore.get(),
      usersStore: usersStore.get(),
      jobsStore: jobsStore.get(),
      listsStore: listsStore.get(),
      userPreferencesStore: userPreferencesStore.get(),
      accountStore: accountStore.get(),
      adminStore: adminStore.get(),
      searchImg: searchImg,
      gridType: '',
      loadingPromise: null,
      loadingStatus: 'done', // `done`, `loading`, or `end`,
      getCount: true
    }
  },
  watch: {
    '$route.name': {
      handler (newVal, oldVal) {
        if (newVal != oldVal) {
          if (newVal == 'sourced_candidates') {
            this.sourcedReq = true
            this.gridType = this.userPreferencesStore.candidateGridType
          } else {
            this.sourcedReq = false
            this.gridType = this.userPreferencesStore.candidateGridType
          }
          this.clearFilters()
          this.reloadCandidates()
        }
      },
      deep: true
    }
  },
  computed: {
    availableFilters () {
      let filters = {
        job: true,
        status: true,
        date: true,
        list: true,
        creator: true,
        source: true,
        city: true,
        state: true
      }
      return filters
    },
    candidates () {
      return this.candidatesStore.candidates
    },
    bulkActionItems () {
      let actions = [
        { value: 'default', label: `Bulk Actions (${this.checkedCandidates.length} candidates)` },
        { value: 'message', label: 'Send Message Now' },
        { value: 'add-to-list', label: 'Add to List' },
        { value: 'add-to-sequence', label: 'Add to Sequence' },
        { value: 'pause-messages', label: 'Pause Messages' },
        { value: 'resume-messages', label: 'Resume Messages' },
        { value: 'clear-messages', label: 'Clear Messages' },
        { value: 'export', label: 'CSV Export' },
        { value: 'do-not-sms', label: 'Do Not SMS' },
        { value: 'do-not-email', label: 'Do Not Email' },
        { value: 'do-not-contact', label: 'Do Not Contact' }
      ]

      // TRANSACTIONAL CANDIDATES GET OUT REEEEEEEEE
      if (!this.userIsTransactional) actions.push({ value: 'delete-candidates', label: 'Delete Candidates' })

      if (this.candidatesReview) {
        // Remove options
        actions = $.grep(actions, (action) => {
          if (action.value == 'pause-messages' ||
            action.value == 'resume-messages' ||
            action.value == 'clear-messages' ||
            action.value == 'default') {
            return false
          }
          return true
        })

      // Add submit or approve and archive
        actions.unshift({ value: 'archive', label: 'Archive' })
        this.accountStore.account.is_sourcer ? actions.unshift({ value: 'submit', label: 'Submit to Customer' }) : actions.unshift({ value: 'approve', label: 'Approve' })
        actions.unshift({ value: 'default', label: `Bulk Actions (${this.checkedCandidates.length} candidates)` })
      }

      if (this.adminStore.is_system_admin) {
        actions.push({ value: 'find', label: 'Find Personal Info' })
      }
      return actions
    },
    checkedCandidates () {
      let checked = []
      $.each(this.candidates, (key, value) => {
        if (value.isChecked) {
          // TODO: Modify if we ever need something more than the id here
          checked.push(value.id)
        }
      })

      return checked
    },
    searchParams () {
      // TODO: this will eventually need to change to allow multiple selections of each filter
      // we will need to pass comma separated strings
      this.candidatesStore.filters.limit = this.userPreferencesStore.candidatesPerPage
      return this.candidatesStore.filters
    },
    reportsData () {
      let dataObject
      switch (this.$route.name) {
        case 'reports_sequence_candidates':
          dataObject = {
            path: `reports/sequences/${this.$route.params.sequence_id}/candidates`,
            type: 'GET',
            data: {
              step_id: this.$route.params.step_id,
              status: this.$route.params.status,
              offset: this.searchParams.offset,
              limit: this.searchParams.limit
            },
            backPath: { path: `/reports/sequences/${this.$route.params.sequence_id}`, query: this.$route.query },
            backText: 'Back to Sequence Report',
            countType: this.$route.params.status.replace(/_/g, ' ')
          }
          break
        case 'reports_job_applicants':
          let params = this.searchParams
          params.req_applications = this.$route.params.job_id
          dataObject = {
            path: `candidates`,
            type: 'GET',
            data: params,
            backPath: { path: `/reports/jobs`, query: this.$route.query },
            backText: 'Back to Jobs Report',
            countType: 'applicants'
          }
          break
        case 'reports_candidates_snapshot':
          dataObject = {
            path: `reports/snapshot/candidates/`,
            type: 'GET',
            data: {
              status: this.$route.params.status,
              offset: this.searchParams.offset,
              limit: this.searchParams.limit
            },
            backPath: { path: `/reports/candidates/snapshot`, query: this.$route.query },
            backText: 'Back to Snapshot Report',
            countType: this.$route.params.status.replace(/_/g, ' ')
          }
          break
        case 'reports_candidates_funnel':
          dataObject = {
            path: `reports/funnel/candidates/`,
            type: 'GET',
            data: {
              status: this.$route.params.status,
              offset: this.searchParams.offset,
              limit: this.searchParams.limit
            },
            backPath: { path: `/reports/candidates/funnel`, query: this.$route.query },
            backText: 'Back to Funnel Report',
            countType: this.$route.params.status.replace(/_/g, ' ')
          }
          break
        case 'reports_pages_candidates':
          dataObject = {
            path: `reports/pages/${this.$route.params.page_id}/candidates`,
            type: 'GET',
            data: {
              status: this.$route.params.status,
              offset: this.searchParams.offset,
              limit: this.searchParams.limit
            },
            backPath: { path: `/reports/pages`, query: this.$route.query },
            backText: 'Back to Page Reports',
            countType: this.$route.params.status.replace(/_/g, ' ')
          }
          break
      }
      return dataObject
    }
  },
  methods: {
    init () {
      // Add offset
      this.searchParams.offset = (this.candidatesStore.page - 1) * this.searchParams.limit

      let url = 'candidates'
      let requestObject = {
        data: this.searchParams,
        type: 'GET'
      }

      // Check if we are in the reports panel
      if (this.reportsPanel) {
        url = this.reportsData.path
        requestObject = {
          type: this.reportsData.type,
          data: this.reportsData.data
        }
      }

      if (this.sourcedReq) {
        let params = $.extend(true, {}, this.searchParams)
        params.sourced_req_ids = this.$route.params.req_id
        requestObject = {
          data: params,
          type: 'GET'
        }
        this.getCount = true
      }

      // Check for candidate review
      if (this.candidatesReview) {
        requestObject.data.include_profiles = 1
      }

      // If we are applying filters or clearing them we need to get a new count
      if (this.getCount) {
        requestObject.data.count = 1
        this.getCount = false
      } else {
        requestObject.data.count = 0
      }

      // Set the query string in the url based on the filters if we're in the candidates section
      if (this.$route.name == 'candidates_panel') {
        const newQuery = $.extend(true, {}, this.searchParams)
        delete newQuery.offset
        delete newQuery.limit
        delete newQuery.count
        // Remove empty filters from the query string
        for (let key in newQuery) {
          if (!newQuery[key]) delete newQuery[key]
        }
        this.$router.replace({ query: newQuery })
      }

      // Call API to get candidates
      api.ajax(url, requestObject)
      .done((response) => {
        console.log('response from get candidates', response)

        let candidates
        if (response.candidates) {
          candidates = response.candidates
          candidatesStore.set('totalCount', response.count)
        } else {
          candidates = response
        }

        $.each(candidates, (key, value) => {
          value.isChecked = false
        })

        candidatesStore.init(candidates)

        // Call the same function as our scroll in case our lazy loader container is already in the viewport (after a render)
        setTimeout(() => {
          this.containerScroll()
        })
      })
    },
    pageChange () {
      this.loadingStatus = 'done'
      this.init()
    },
    // Bulk actions shared in candidateActions.js. Use .apply to use 'this' context
    bulkActionChange (e) {
      let action = e.value
      switch (action) {
        case 'submit':
          // Just remove the candidate(s) from the candidate store if they submit, approve or archive
          let submittedCandidates = this.checkedCandidates
          candidateActions.bulkSubmit.apply(this)
          .done(() => {
            candidatesStore.deleteCandidates(submittedCandidates)
          })
          break
        case 'approve':
          let approvedCandidates = this.checkedCandidates
          candidateActions.bulkApprove.apply(this)
          .done(() => {
            candidatesStore.deleteCandidates(approvedCandidates)
          })
          break
        case 'archive':
          let archivedCandidates = this.checkedCandidates
          candidateActions.bulkArchive.apply(this)
          .done(() => {
            candidatesStore.deleteCandidates(archivedCandidates)
          })
          break
        case 'message':
          candidateActions.sendMessage.apply(this)
          break
        case 'pause-messages':
          candidateActions.bulkPauseMessages.apply(this)
          break
        case 'resume-messages':
          candidateActions.bulkResumeMessages.apply(this)
          break
        case 'clear-messages':
          candidateActions.bulkClearMessages.apply(this)
          break
        case 'export':
          candidateActions.export.apply(this)
          break
        case 'add-to-list':
          candidateActions.bulkAddToList.apply(this)
          break
        case 'add-to-sequence':
          candidateActions.bulkAddToSequence.apply(this)
          break
        case 'do-not-sms':
          candidateActions.bulkOptOut.apply(this, ['sms'])
          break
        case 'do-not-email':
          candidateActions.bulkOptOut.apply(this, ['email'])
          break
        case 'do-not-contact':
          candidateActions.bulkOptOut.apply(this, ['all'])
          break
        case 'delete-candidates':
          candidateActions.deleteCandidates.apply(this)
          break
        case 'find':
          candidateActions.findPersonalInfo.apply(this)
          break
        default:
          break
      }

      // Reset dropdown after selecting
      this.selectedBulkAction = { value: 'default' }
    },
    clearFilters () {
      candidatesStore.clearFilters()
      if (this.candidatesReview) {
        this.candidatesStore.filters.statuses = 'pending'
      }
      this.getCount = true
      this.loadingStatus = 'done'
      this.init()
    },
    toggleGridType (type) {
      // Save in our store so it's remembered when we come back
      userPreferencesStore.set('candidateGridType', type)
      this.gridType = type
    },
    candidateCheckboxChange (e, candidate) {
      candidate.isChecked = e.target.checked
    },
    searchHandler () {
      // Re-init our data when sorting changes
      this.candidatesStore.page = 1
      this.getCount = true
      this.loadingStatus = 'done'
      this.init()
    },
    selectAllClick (e) {
      $.each(this.candidates, (key, value) => {
        value.isChecked = e.target.checked
      })

      // TODO: turning off the modal for now

      // if (e.target.checked) {
      //   modals.show({
      //     component: "Confirm",
      //     props: {
      //       message: `All ${this.checkedCandidates.length} contacts on this page are selected. Do you want to select all ${this.candidatesStore.totalCount} candidates who match the current set of filters?`,
      //       confirmText: "Yes, select all!",
      //       confirm() {
      //         // TODO:
      //       },
      //       cancelText: "No, just this page",
      //       cancel() {
      //         // TODO:
      //       }
      //     }
      //   })
      // }
    },
    containerScroll () {
      // NOTE: turning this off now that we have pagination, but leaving the functionality incase we ever need it again
      return

    // TODO: Make sure this doesn't cause performance problems, might want to debounce
    // let loaderVisible = inViewport(this.$refs.container, 0)
    //
    // if (loaderVisible && (this.loadingStatus === 'done')) {
    //   this.loadMore()
    //   this.loadingStatus = 'loading'
    // }
    },
    loadMore () {
      this.candidatesStore.page++
      this.searchParams.offset = (this.candidatesStore.page - 1) * this.searchParams.limit

      let url = 'candidates'
      let requestObject = {
        data: this.searchParams,
        type: 'GET',
        disableOverlay: true
      }

    // Check if we are in the reports panel
      if (this.reportsPanel) {
        url = this.reportsData.path
        let requestData = this.reportsData.data
        requestData.offset = this.searchParams.offset
        requestObject = {
          type: this.reportsData.type,
          data: requestData,
          disableOverlay: true
        }
      }

      this.loadingPromise = api.ajax(url, requestObject)
      .done((response) => {
        console.log('response from get candidates', response)

        if (response.length < 1) {
          this.loadingStatus = 'end'
        } else {
          // Set default checked value
          $.each(response, (key, value) => {
            value.isChecked = false
          })

          // Add to our array
          candidatesStore.addCandidates(response)

          this.loadingStatus = 'done'
        }
      })
      .fail((e) => {
        console.error('failed to get candidates ', e)
        this.loadingStatus = 'end'
      })
    },
    sortHandler (sortCategory) {
      if (this.searchParams.sort_key === sortCategory) {
        this.searchParams.sort_key = '-' + sortCategory
      } else {
        this.searchParams.sort_key = sortCategory
      }

      // Re-init our data when sorting changes
      this.candidatesStore.page = 1
      this.getCount = true
      this.loadingStatus = 'done'
      this.init()
    },
    reloadCandidates () {
      this.candidatesStore.page = 1
      this.getCount = true
      this.loadingStatus = 'done'
      this.init()
    },
    importClick () {
      modals.show({
        component: 'FileImport',
        props: {
          callback: this.reloadCandidates,
          containerStyles: { width: '700px' }
        }
      })
    },
    addNewClick () {
      candidateHelper.openCandidateModal.apply(this, ['new', this.reloadCandidates])
    }
  },
  beforeDestroy () {
    // Remove the filters query from the url
    this.$router.replace({ query: {} })
    // Clear the filters in the store
    candidatesStore.clearFilters()
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .options-panel {
    margin-top: 1.7rem;
    overflow: visible;
    padding-bottom: 15px;
    max-height: none;

    .options-controls {
      overflow: visible;
    }
  }

  .reports-top-nav {
    margin-top: 18px;
  }

  .panel-controls-row {
    height: 40px;
    margin-bottom: 2.6rem;

    .custom-checkbox-container {
      @include i-b;
      margin-top: 14px;
    }
  }

  .tile-type-toggle {
    width: 45px;
    height: 40px;

    @include i-b;
    @include transition-sm-med-ease;

    border-radius: 2px 0 0 2px;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: center center;

    border: 1px solid $alto;

    &.active {
      background-color: $alto;
    }

    &:hover, &:focus {
      background-color: $alto;
    }

    &.tile-toggle {
      background-image: url("~img/tiles.svg");
      margin-left: 25px;
    }

    &.list-toggle {
      background-image: url("~img/list.svg");
      border-radius: 0 2px 2px 0;

      border-left: 0;
    }
  }

  .candidate-table-container {
    overflow-x: auto;
  }

  .reports-top-nav {
    height: 43px;
    line-height: 43px;

    padding: 0 27px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    background-color: $white;
    margin-bottom: 24px;

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
    }

    a {
      text-decoration: none;
      color: $dove-gray;
    }
  }

  .reports-content-container {
    .count-container {
      font-size: 14px;
      letter-spacing: 1.8px;
      color: $fiord;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
</style>
