<template>
<div :class="{'candidate-activity-container': true, 'collapsible': collapsible}" :is-modal="isModal">
  <div class="candidate-activity-header" v-if="!isModal">
    <h2 v-if="!collapsible">
      <Tooltip content="You can use a candidate's <em>activity feed</em> to keep track of how you're marketing to the candidate out of Happie and how she responds over time. Keep tabs on how your relationship evolves with an individual candidate — and whether a candidate engages with your sequences, pages, and jobs." :customStyles="tooltipStyles" />
      ACTIVITY FEED
    </h2>
    <div v-else class="filter-collapse" role="button" @click="(e) => {activitiesCollapsed = !activitiesCollapsed}">
      <Tooltip content="You can use a candidate's <em>activity feed</em> to keep track of how you're marketing to the candidate out of Happie and how she responds over time. Keep tabs on how your relationship evolves with an individual candidate — and whether a candidate engages with your sequences, pages, and jobs." :customStyles="tooltipStyles" />
      ACTIVITY FEED
      <img :class="{'i-b collapse-arrow': true, 'options-open': !activitiesCollapsed}" v-svg-src="upArrowImg" role="button"/>
    </div>
  </div>
  <div class="sk-folding-cube" v-if="!activitiesLoaded">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
  <div class="candidate-activity-list" ref="activityList" v-show="!activitiesCollapsed">
    <CandidateActivity
      v-for="activity in activities"
      :activity="activity"
      :candidate="candidate"
    />
  </div>
</div>
</template>

<script>

import CandidateActivity from './CandidateActivity'
import Tooltip from 'components/Tools/Tooltip'

import upArrowImg from 'img/up-arrow.svg'

export default {
  components: {
    CandidateActivity,
    Tooltip
  },
  mounted () {
  },
  data () {
    return {
      upArrowImg,
      commentBoxContainerStyles: {
        'height': '45px',
        'min-height': '45px',
        'width': '195px',
        'display': 'inline-block'
      },
      commentBoxStyles: {
        'height': '45px',
        'min-height': '45px',
        'width': '195px',
        display: 'inline-block',
        padding: '0.5rem'
      },
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle',
        margin: '0px 14px 0px 0px'
      },
      activitiesCollapsed: false
    }
  },
  computed: {
    activities () {
      let a = []
      if (this.candidate.activities) {
        a = a.concat(this.candidate.activities)

        // Find re-opened emails and change the event_name
        let emailUID = []
        a.forEach((activity) => {
          if (emailUID.indexOf(activity.value_1) !== -1 && activity.event_type === 'EO') {
            activity.reopen = 1
          } else if (activity.event_type === 'EO') {
            emailUID.push(activity.value_1)
          }
        })
        a.reverse()
      }
      return a
    }
  },
  methods: {
    scrollToTop () {
      // TODO: Make sure this works in candidate profile
      // Wrap in timeout to give time for view render
      setTimeout(() => {
        let list = $(this.$refs.activityList)
        list.scrollTop(0)
      })
    }
  },
  props: {
    isModal: { required: false, default: false },
    candidate: { required: true },
    activitiesLoaded: { required: false, default: true },
    collapsible: { required: false, default: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .sk-folding-cube {
    height: 20px;
    width: 20px;
  }

  .candidate-activity-container {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);

    &.collapsible {
      box-shadow: none;
    }
  }

  .candidate-activity-header {
    padding: 15px;
    background-color: $white;

    h2 {
      font-size: 1.4rem !important;
      @include i-b;
      margin-bottom: 0px !important;
    }
  }

  .candidate-activity-list {
    width: 250px;
    max-height: 419px;
    overflow-y: auto;

    margin: 0 auto;

    background: $white;
  }

  // Modal styles
  .candidate-activity-container {
    &[is-modal="true"] {
      padding: 35px 0 10px 0;
      margin: 0;
    }
  }

</style>
