<template>
  <div class="card-container">
    <CustomCheckbox v-if="candidate.id" :customContainerStyles="checkboxStyles" v-model="candidate.isChecked" />
    <div class="col one">
      <div class="content-container">
        <span class="profile" :style="profileImageStyle" role="button" @click="nameClickHandler"></span>
        <div class="icons-container">
          <a v-if="candidate.linkedin_url" :href="candidate.linkedin_url" target="_blank">
            <img class="linkedin" v-svg-src="linkedinIcon">
          </a>
          <img v-else class="linkedin" v-svg-src="linkedinDisabledIcon">
          <img v-if="candidate.resume_uploaded" @click="downloadResume" role="button" class="resume" v-svg-src="resumeIcon">
          <img v-else class="resume" v-svg-src="resumeDisabledIcon">
        </div>
      </div>
    </div>
    <div class="col two">
      <div class="content-container preview-container">
        <div class="name clickable" @click="nameClickHandler">
          {{candidateName}}
        </div>

        <div class="emails">
          <img v-svg-src="emailIcon">
          <span v-if="!emailAddresses.length" class="none">Emails</span>
          <span v-else :class="{'preferred-contact-badge': emailAddresses[0].preferred && preferredContact.type === 'email'}" @click="emailClick(emailAddresses[0].address)">{{emailAddresses[0].address}}</span>
          <template v-if="emailAddresses.length > 1">
            <DynamicTooltip>
              <template slot="content">
                <span class="email" :class="{'preferred-contact-badge': email.preferred && preferredContact.type === 'email'}" v-for="email in emailAddresses.slice(1)" @click="emailClick(email.address)">{{ email.address }}</span>
              </template>
              <span class="additional-info" slot="triggerElement">+{{ emailAddresses.length - 1 }}</span>
            </DynamicTooltip>
          </template>
        </div>

        <div class="phones">
          <div class="mobile">
            <img v-svg-src="mobileIcon">
            <a v-if="mobilePhones[0].number != ''" class="phone-link" :class="{'preferred-contact-badge': mobilePhones[0].preferred && preferredContact.type === 'sms'}"  :href="`tel:${mobilePhones[0].number}`"><span>{{ phoneNumber.makeReadable(mobilePhones[0].number, 'US') }}</span></a>
            <span v-else class="none">Mobile</span>
            <template v-if="mobilePhones.length > 1">
              <DynamicTooltip>
                <template slot="content">
                  <span class="email" v-for="phone in mobilePhones.slice(1)" :class="{'preferred-contact-badge': phone.preferred && preferredContact.type === 'sms'}">{{ phoneNumber.makeReadable(phone.number, 'US') }}</span>
                </template>
                <span class="additional-info" slot="triggerElement">+{{ mobilePhones.length - 1 }}</span>
              </DynamicTooltip>
            </template>
          </div>
          <div class="phone">
            <img v-svg-src="phoneIcon">
            <a v-if="homePhones[0].number != ''" class="phone-link" :class="{'preferred-contact-badge': homePhones[0].preferred && preferredContact.type === 'home'}" :href="`tel:${homePhones[0].number}`"><span>{{ phoneNumber.makeReadable(homePhones[0].number, 'US') }}</span></a>
            <span v-else class="none">Home</span>
            <template v-if="homePhones.length > 1">
              <DynamicTooltip>
                <template slot="content">
                  <span class="email" :class="{'preferred-contact-badge': phone.preferred && preferredContact.type === 'home'}" v-for="phone in homePhones.slice(1)">{{ phoneNumber.makeReadable(phone.number, 'US') }}</span>
                </template>
                <span class="additional-info" slot="triggerElement">+{{ homePhones.length - 1 }}</span>
              </DynamicTooltip>
            </template>
          </div>
        </div>

        <div class="title">
           <img v-svg-src="titleImg" />
          {{candidate.title}}
        </div>
        <div class="company">
           <img v-svg-src="orgImg" />
          {{candidate.company_name}}
        </div>
        <div class="location">
          <img v-svg-src="locationImg" />
          {{addressCityState}}
        </div>
      </div>
    </div>
    <div class="col three">
      <div class="content-container">
        <div class="target-job">
          <img class="header-icon" v-svg-src="targetIcon">
          <div class="targeted-jobs">
            <span v-if="targetedJob" class="job">{{targetedJob.title}}</span>
            <span v-else class="none">Targeted job</span>
          </div>
        </div>
        <div class="company">
           <img v-svg-src="companyImg" />
          {{organizationStore.organization.company.name}}
        </div>
        <div class="org">
           <img v-svg-src="orgImg" />
          {{organizationStore.organization.name}}
        </div>
      </div>
    </div>
    <div class="col four">
      <div class="content-container">
        <!-- <div v-if="accountStore.account.is_sourcer" class="submit">
          <img v-svg-src="submitImg" role="button" @click="submitCandidate">
        </div> -->
        <div v-if="activeTab === 'pending'">
          <div class="approve">
            <img v-svg-src="approveImg" role="button" @click="approveCandidate">
          </div>
          <div class="deny">
            <img v-svg-src="denyImg" role="button" @click="filterCandidate">
          </div>
        </div>
        <div v-else class="actions-container">
          <img :class="{'dropdown-button':true, 'active':dropdownOpen}" role="button" @click="toggleDropdown" v-svg-src="optionsImg"></img>
          <CustomSelect
            :customStyles="dropdownStyles"
            :items="dropdownItems"
            :selected="selectedAction"
            :onChange="candidateActionChange"
            :button-hidden="true"
            :fixed-width-med="true"
            :menuMaxHeight="350"
            ref="customSelect"
            :onToggle="onToggle"
          />
        </div>
        <CommentsButton :candidate="candidate" />
      </div>
    </div>
  </div>
</template>

<script>

import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import CommentsButton from 'components/Tools/CommentsButton'
import DynamicTooltip from 'components/Tools/DynamicTooltip'
import CustomSelect from 'components/FormElements/CustomSelect'

import accountPlaceholder from 'img/account-placeholder.svg'
import locationImg from 'img/candidates/location.svg'
import titleImg from 'img/candidates/title.svg'
import companyImg from 'img/settings/company-name.svg'
import orgImg from 'img/candidates/company.svg'
import emailIcon from 'img/settings/email.svg'
import mobileIcon from 'img/settings/mobile.svg'
import phoneIcon from 'img/settings/phone.svg'
import linkedinIcon from 'img/candidates/linked-in.svg'
import linkedinDisabledIcon from 'img/candidates/linked-in-disabled.svg'
import resumeIcon from 'img/candidates/resume.svg'
import resumeDisabledIcon from 'img/candidates/resume-disabled.svg'
import submitImg from 'img/submit.svg'
import approveImg from 'img/approve.svg'
import denyImg from 'img/deny.svg'
import targetIcon from 'img/jobs-circle.svg'
import optionsImg from 'img/candidates/options.svg'

import { accountStore, candidatesStore, jobsStore, organizationStore, adminStore } from 'stores'
import { candidateHelper, profileImageStyle, candidateActions, phoneNumber } from 'helpers'

export default {
  components: {
    CustomCheckbox,
    CommentsButton,
    DynamicTooltip,
    CustomSelect
  },
  mounted () {
  },
  data () {
    return {
      emailIcon,
      phoneIcon,
      mobileIcon,
      linkedinIcon,
      linkedinDisabledIcon,
      resumeIcon,
      resumeDisabledIcon,
      locationImg,
      titleImg,
      companyImg,
      orgImg,
      optionsImg,
      approveImg,
      submitImg,
      denyImg,
      targetIcon,
      phoneNumber,
      accountStore: accountStore.get(),
      jobsStore: jobsStore.get(),
      organizationStore: organizationStore.get(),
      adminStore: adminStore.get(),
      dropdownOpen: false,
      checkboxStyles: {
        position: 'absolute'
      },
      dropdownStyles: {
        position: 'absolute',
        top: '45px',
        right: '210px',
        width: '0px',
        height: '20px'
      },
      selectedAction: { value: 'select' }
    }
  },
  computed: {
    dropdownItems () {
      let actions = [
        { value: 'select', label: 'Select Action' },
        { value: 'profile', label: 'View / Edit Profile' },
        { value: 'message', label: 'Send Message Now' },
        { value: 'add-to-sequence', label: 'Add to Sequence' },
        { value: 'pause-messages', label: 'Pause Messages' },
        { value: 'resume-messages', label: 'Resume Messages' },
        { value: 'clear-messages', label: 'Clear Messages' },
        // TODO:
        // {value: "merge", label: "Merge Candidate"},
        { value: 'delete-candidates', label: 'Delete Candidate' }
      ]
      if (this.adminStore.is_system_admin) {
        actions.push({ value: 'find', label: 'Find Personal Info' })
      }
      return actions
    },
    candidateName () {
      return `${this.candidate.first_name} ${this.candidate.last_name}`
    },
    emailAddresses () {
      let emailAddresses = []
      if (this.candidate.emails) {
        for (var i = 0; i < this.candidate.emails.length; i++) {
          if (this.candidate.emails[i].address) {
            emailAddresses.push({ address: this.candidate.emails[i].address, preferred: this.candidate.emails[i].preferred })
          }
        }
      }
      return emailAddresses
    },
    phoneNumbers () {
      // Make sure the candidate has a phone number array
      if (!this.candidate.phones) this.candidate.phones = []

      // Default any null type phone number to mobile
      this.candidate.phones.forEach((value) => {
        if (!value.type) value.type = 'mobile'
      })

      // Make sure the candidate has at least one mobile and one home number
      let hasMobile = this.candidate.phones.find(value => value.type == 'mobile')
      let hasHome = this.candidate.phones.find(value => value.type == 'home')
      if (!hasMobile) this.candidate.phones.push({ type: 'mobile', number: '' })
      if (!hasHome) this.candidate.phones.push({ type: 'home', number: '' })
      return this.candidate.phones
    },
    mobilePhones () {
      let mobile = []
      $.each(this.phoneNumbers, (key, value) => {
        if (value.type == 'mobile') {
          mobile.push({ number: value.number, preferred: value.preferred })
        }
      })
      return mobile
    },
    homePhones () {
      let home = []
      $.each(this.phoneNumbers, (key, value) => {
        if (value.type == 'home') {
          home.push({ number: value.number, preferred: value.preferred })
        }
      })
      return home
    },
    checkedCandidates () {
      // Just a way to keep API calls consistent with bulk actions
      return [this.candidate.id]
    },
    profileImageStyle () {
      return profileImageStyle(this.candidate.profile_photo_url, accountPlaceholder)
    },
    addressCityState () {
      return candidateHelper.getCityState(this.candidate)
    },
    targetedJob () {
      const targets = this.candidate.req_ids || []
      if (targets.length) return this.jobsStore.jobs.find(j => j.id == targets[0])
      else return null
    }
  },
  methods: {
    emailClick (email) {
      if (this.candidate.do_not_email) return false
      candidateActions.sendMessage.apply(this, [[email], true, 'email'])
    },
    openExperienceModal () {
      candidateHelper.openExperienceModal.apply(this)
    },
    // Just remove the candidate from the local store on submit, approve and archive
    submitCandidate () {
      candidateActions.submitCandidate.apply(this)
      .done(() => {
        candidatesStore.deleteCandidates(this.checkedCandidates)
      })
    },
    approveCandidate () {
      candidateActions.approveCandidate.apply(this)
      .done(() => {
        candidatesStore.deleteCandidates(this.checkedCandidates)
      })
    },
    filterCandidate () {
      candidateActions.filterCandidate.apply(this)
      .done(() => {
        candidatesStore.deleteCandidates(this.checkedCandidates)
      })
    },
    archiveCandidate () {
      candidateActions.archiveCandidate.apply(this)
      .done(() => {
        candidatesStore.deleteCandidates(this.checkedCandidates)
      })
    },
    nameClickHandler () {
      if (this.candidate.id) {
        candidateHelper.openCandidateModal.apply(this, [this.candidate.id])
      }
    },
    toggleDropdown () {
      this.$refs.customSelect.toggle()
    },
    onToggle (state) {
      this.dropdownOpen = state
    },
    candidateActionChange (e) {
      let action = e.value
      switch (action) {
        case 'profile':
          this.openCandidateModal()
          break
        case 'message':
          candidateActions.sendMessage.apply(this, [[], true])
          break
        case 'pause-messages':
          candidateActions.pauseMessages.apply(this)
          break
        case 'resume-messages':
          candidateActions.resumeMessages.apply(this)
          break
        case 'clear-messages':
          candidateActions.clearMessages.apply(this)
          break
        case 'export':
          candidateActions.export.apply(this)
          break
        case 'add-to-list':
          candidateActions.addToList.apply(this)
          break
        case 'add-to-sequence':
          candidateActions.addToSequence.apply(this)
          break
        case 'delete-candidates':
          candidateActions.deleteCandidate.apply(this)
          break
        case 'find':
          candidateActions.findPersonalInfo.apply(this)
          break
        default:
          break
      }

      // Reset dropdown after selecting
      this.selectedAction = { value: 'select' }
    }
  },
  props: {
    candidate: { required: true },
    activeTab: { required: true }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .card-container {
    height: 160px;
    position: relative;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    padding: 10px 15px 10px 10px;
    margin-bottom: 15px;

    .added {
      position: absolute;
      right: 10px;
      color: #33d167;

      img {
        margin-left: 9px;
        vertical-align: middle;
      }
    }

    .col {
      text-align: center;
      display: inline-block;
      vertical-align: middle;

      &.one {
        width: 15%;
        padding: 5px 0px;

        .content-container{
          display: inline-block;
          width: 100px;
        }

        .profile {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 100%;
          border: solid 1px #dce3eb;
          display: inline-block;
          border-radius: 50%;
          width: 95px;
          height: 95px;
        }

        .icons-container {
          margin-top: 13px;

          img {
            width: 17px;
            margin: 0px 8px;
          }

          a {
            margin-right: 15px;

            &:last-child {
              margin-right: 0px;
            }
          }

        }
      }

      &.two {
        width: 35%;
        border-right: 1px solid #979797;

        .content-container{
          display: inline-block;
          width: 230px;
        }

        .name {
          font-size: 16px;
          font-weight: bold;
          color: #4a90e2;
          text-align: left;

          &.clickable {

            @include transition-sm-med-ease;

            &:hover {
              color: #3e79be;
              text-decoration: underline;
            }
          }
        }
        .emails, .phones, .title, .company, .location {
          margin-top: 3px;
          text-align: left;
          font-size: 14px;
          color: #666666;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
          display: inline-block;
          font-weight: 600;

          img {
            vertical-align: middle;
            margin-right: 12px;
          }
        }
        .emails, .phones {
          font-size: 12px;

          @include green-link;
        }
        .phones {
          .mobile, .phone {
            display: inline-block;

            @include green-link;

            &:first-child {
              margin-right: 10px;
            }
          }
        }
        .timer-container {
          margin-top: 3px;
          text-align: left;

          .progress-bar {
            display: inline-block;
            width: 160px;
            height: 12px;
            background-color: #ececec;
            border-radius: 2px;
            text-align: left;

            .progress {
              background-color: $turquoise;
              display: inline-block;
              height: 100%;
              width: 50%;
              border-radius: 2px;
            }
          }
        }
      }

      &.three {
        width: 40%;
        height: 130px;

        .content-container{
          display: inline-block;
          width: 300px;
          text-align: left;
          font-size: 14px;
          font-weight: 600;
        }

        img {
          margin: 0px 12px 0px 5px;
          vertical-align: middle;
        }

        .target-job {
          margin-bottom: 10px;

          .targeted-jobs {
            display: inline-block;
            vertical-align: middle;
            margin-top: 0px;
          }

          img {
            margin: 0px 10px 0px 0px;
            width: 30px;
          }
        }

        .company {
          margin-bottom: 5px;
        }
      }

      &.four {
        width: 10%;

        .content-container{
          display: inline-block;
          width: 100%;
        }

        .submit, .approve, .deny {
          margin-bottom: 20px;
          text-align: right;
        }

        .actions-container {
          text-align: right;
          height: 80px;

          .dropdown-button {
            width: 31px;
            height: 20px;
            border-radius: 2px;
            background-color: $white;

            position: absolute;
            top: 15px;
            right: 15px;

            padding: 6px;

            &:hover, &:focus, &.active {
              background-color: $alto;
            }
          }
        }

        .comments {
          text-align: right;
        }
      }
    }
  }

</style>
