<template>
  <button class="attention-button" @click="clickFunction" v-bind:style="customStyles" :type="type">{{text}}</button>
</template>

<script>
export default {
  mounted () {
  },
  computed: {
  },
  methods: {
    clickFunction () {
      if (this.click) {
        this.click()
      }
    }
  },
  components: {
  },
  props: {
    text: {
      type: String,
      required: true
    },
    click: { required: false },
    customStyles: { required: false },
    type: { required: false }
  }
}
</script>
<style lang='scss' scoped>
@import "~styles/variables";

.attention-button {
  height: 4.1rem;
  border-radius: 2px;
  background-color: $turquoise;
  color: $white;

  text-transform: uppercase;

  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: .16rem;
  text-align: center;

  padding: 0 3.0rem;

  @include transition-sm-med-ease;

  &:hover {
    background-color: $half-baked;
  }

  &:focus {
    @include input-focus($havelock);
  }
}
</style>
