<template>
  <div class="autocomplete-container" :style="containerStyles">
    <img v-if="icon" v-svg-src="icon">
    <input type="text"
      v-model="selection"
      @keydown.enter="enter"
      @keydown.down="down"
      @keydown.up="up"
      @input="change"
      :placeholder="placeholder"
      :style="customStyles"
      autocomplete="nope"
      :class="{'has-icon': icon}"
    />
    <ul v-show="openSuggestion">
      <li
        v-for="(suggestion, index) in matches"
        v-bind:class="{'active': isActive(index)}"
        @click="suggestionClick(index)"
      >
        {{formatSuggestion(suggestion)}}
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  data () {
    return {
      open: false,
      current: -1,
      selection: this.selected || ''
    }
  },
  props: {
    suggestions: {
      type: Array,
      required: true
    },
    onSelect: {
      required: true,
      type: Function
    },
    selected: {
      required: false
    },
    viewKeys: {
      required: false,
      type: Array
    },
    searchKeys: {
      required: false,
      type: Array
    },
    placeholder: {
      required: false,
      type: String,
      default: ''
    },
    customStyles: {
      required: false
    },
    containerStyles: {
      required: false
    },
    icon: {
      required: false
    },
    liveUpdate: {
      required: false
    }
  },
  computed: {
    matches () {
      let filteredSuggestions = $.grep(this.suggestions, (item) => {
        let match = false

        if (!this.selection) return match

        // If they only have spaces in the string, don't show them anything
        if (this.selection.replace(/ /g, '') === '') return match

        // If search keys are set, use those, otherwise assume it's an array of strings
        if (this.searchKeys) {
          let searchVals = []
          $.each(this.searchKeys, (index, key) => {
            searchVals.push(item[key])
          })
          let searchStr = searchVals.join(' ').toLowerCase()
          if (searchStr.indexOf(this.selection.toLowerCase()) !== -1) {
            match = true
          }
        } else {
          if (item.toLowerCase().indexOf(this.selection.toLowerCase()) !== -1) {
            match = true
          }
        }

        return match
      })

      return filteredSuggestions
    },
    openSuggestion () {
      return this.selection !== '' &&
        this.matches.length != 0 &&
        this.open === true
    }
  },
  methods: {
    enter (e) {
      // If there is no selection, return the string in the input
      if (this.current < 0 || !this.matches.length) {
        this.onSelect(this.selection)
      } else {
        this.onSelect(this.matches[this.current])
        this.selection = this.formatSelection(this.matches[this.current])
      }

      // Close the suggestion box and blur
      setTimeout(() => {
        this.open = false
        e.target.blur()
      })
    },
    up () {
      if (this.current > -1) { this.current-- }
    },
    down () {
      if (this.current < this.matches.length - 1) { this.current++ }
    },
    isActive (index) {
      return index === this.current
    },
    change () {
      if (this.open == false) {
        this.open = true
        this.current = 0
      }
      if (this.liveUpdate) this.onSelect(this.selection)
    },
    suggestionClick (index) {
      this.onSelect(this.matches[index])
      this.selection = this.formatSelection(this.matches[index])
      this.open = false
    },
    formatSuggestion (suggestion) {
      // Only format the suggestion if there are search keys
      if (this.viewKeys) {
        let formatted = suggestion[this.viewKeys[0]]
        $.each(this.viewKeys, (index, key) => {
          if (index > 0) {
            formatted += ` ${suggestion[key]}`
          }
        })
        return formatted
      } else {
        return suggestion
      }
    },
    formatSelection (s) {
      if (this.viewKeys && s) {
        let formatted = s[this.viewKeys[0]]
        $.each(this.viewKeys, (index, key) => {
          if (index > 0) {
            formatted += ` ${s[key]}`
          }
        })
        return formatted
      } else {
        return s
      }
    }
  },
  watch: {
    selected: {
      handler (val) {
        if (val) {
          this.selection = this.formatSelection(val) || val
        } else {
          this.selection = ''
        }
      }
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .autocomplete-container {
    position: relative;

    img {
      position: absolute;
      top: 13px;
      left: 13px;

      width: 15px;
      height: 15px;
    }

    input.has-icon {
      padding-left: 45px;
    }

    ul {
      max-height: 300px;
      overflow: auto;
      border: 1px solid $alto;
      position: absolute;
      z-index: 1000;
      background: $white;
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: left;

      li {
        list-style: none;
        padding: 6px;
        @include text-ellipsis;

        &.active {
          background: $alto;
          color: $white;
        }
      }
    }

  }

</style>
