<template>
  <div ref="customMultiSelectContainer" :id="customId" class="custom-multi-select-container" v-bind:style="customStyles" :class="{'disabled':disabled}">
    <img v-if="icon" role="presentation" alt="targeted-jobs" class="custom-multi-select-icon" v-svg-src="icon"></img>
    <select ref="customMultiSelect" multiple="true" class="custom-multi-select" :disabled="disabled">
      <option
        v-for="(item, index) in items"
        :value="item.value">
          {{item.label}}
      </option>
    </select>
  </div>
</template>

<script>

import select2 from 'select2'

// TODO: Consolidate this and our existing custom select box for consistency

export default {
  components: {
  },
  mounted () {
    $(this.$refs.customMultiSelect).select2({
      placeholder: this.placeholder
    })
    .on('change', () => {
      if (this.onChange) {
        this.onChange($(this.$refs.customMultiSelect).val())
      }
    })
    // This is to stop the placeholder from getting cut off
    // It sets the value attr so the css selector can add styles
    if (!this.selected || this.selected.length < 1) {
      setTimeout(() => {
        $(this.$refs.customMultiSelect).parent().find('input').attr({ value: '' })
      })
    }

    $(this.$refs.customMultiSelect).val(this.selected).trigger('change.select2')
  },
  data () {
    return {
    }
  },
  computed: {
  },
  methods: {
  },
  props: {
    items: { required: true },
    onChange: { required: false },
    selected: { required: false },
    placeholder: { required: false },
    customStyles: { required: false },
    icon: { required: false },
    // for test
    customId: { required: false },
    disabled: { required: false }
  },
  watch: {
    // Item list appears to be watched correctly by library, so don't need custom watcher for that
    selected: {
      handler (val) {
        // This updates select box but doesn't actually trigger change event (which would send us into a loop)
        $(this.$refs.customMultiSelect).val(val).trigger('change.select2')
      }
    }
  }
}
</script>

<style lang='scss'>
@import "~styles/variables";

.custom-multi-select-container {
  position: relative;

  &.disabled {
    cursor: not-allowed;
  }
}

.custom-multi-select-icon {
  position: absolute;
  top: 21px;
  left: 14px;
  height: 14px;
  width: 14px;

  @include multi-select-icon-index;
}

.select2-container {
  width: 100% !important;

  &.select2-container--disabled {
    cursor: not-allowed;

    * {
      cursor: not-allowed;
    }

    .select2-selection--multiple .select2-selection__choice {
      background-color: #b7dadb;
      cursor: not-allowed;
    }
  }
}

// Overriding styles in lib/styles/select2

// Container
.select2-container--default .select2-selection--multiple {
  border: 1px solid $gallery;
  @include transition-sm-ease;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid $gallery;
  @include input-focus;
}

// Dropdown
.select2-dropdown {
  border: 1px solid $gallery;
}

// Inside container
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 10px 5px 0 38px;

  max-height: 120px;
  overflow-y: auto;
}

// List item buttons
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  height: 25px;
  max-width: 100%;
  padding: 6px 10px;

  overflow: hidden;
  text-overflow: ellipsis;

  background-color: $half-baked;
  color: $white;

  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border: none;
}

// Hover over items
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $gallery;
  color: $dove-gray;
}

// remove button
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: $white;
  text-transform: uppercase;
  margin-right: 8px;

  @include transition-sm-ease;
  transform: scale(1);

  &:hover, &:active {
    transform: scale(2);
    color: $white;
  }
}

// Text input
.select2-container--default .select2-search--inline .select2-search__field {
  height: 2.5rem;
  min-height: 2.5rem;
  margin-bottom: 12px;

  &[value=""] {
    width: 100% !important;
  }
}


</style>
