<template>
  <div
    :id="customId"
    class="custom-select-container"
    :class="{'button-hidden': buttonHidden === true, 'fixed-width-med': fixedWidthMed === true}"
    :style="customStyles"
    data-item
  >
    <div v-if="selectedIndex && removeSelected" class="remove-selected">
      <img v-svg-src="images['x-out']" role="button" @click="removeSelectedClick">
    </div>
    <select ref="customSelect" :disabled="disabled" :class="{dark: nightMode}">
      <option
        v-for="(item, index) in items"
        :value="item.value"
        :selected="typeof selected === 'object' && selected != null ? selected.value === item.value : selected === item.value"
        :data-icon="item.value">
          {{item.label}}
      </option>
    </select>
  </div>
</template>

<script>

import 'lib/jquery.selectric.js'

// TODO: Better for components to pass in their own components, or keep them all grouped like this?
import submitImg from 'img/bulk-submit.svg'
import approveImg from 'img/bulk-actions-approve.svg'
import archiveImg from 'img/bulk-actions-archive.svg'
import deleteImg from 'img/dropdowns/delete.svg'
import duplicateImg from 'img/dropdowns/duplicate.svg'
import editImg from 'img/dropdowns/edit.svg'
import pauseImg from 'img/dropdowns/pause.svg'
import playImg from 'img/dropdowns/play.svg'
import stopImg from 'img/dropdowns/stop.svg'
import createImg from 'img/add-block.svg'
import thunderImg from 'img/dropdowns/thunder.svg'
import clipboardImg from 'img/dropdowns/clipboard.svg'
import cloudImg from 'img/dropdowns/cloud.svg'
import magnifyingGlassImg from 'img/dropdowns/magnifying-glass.svg'
import mergeImg from 'img/dropdowns/merge-gray.svg'
import userImg from 'img/dropdowns/user-gray.svg'
import mailImg from 'img/dropdowns/mail-gray.svg'
import reportImg from 'img/dropdowns/report.svg'
import clearImg from 'img/dropdowns/clear.svg'
import clockImg from 'img/clock.svg'
import phoneBookImg from 'img/phonebook.svg'
import xOut from 'img/blue-x.svg'
import bolt from 'img/bolt.svg'
import pulse from 'img/settings/pulse.svg'
import doNotSMS from 'img/do-not-sms.svg'
import doNotEmail from 'img/do-not-email.svg'
import doNotContact from 'img/do-not-contact.svg'
import copyToAccount from 'img/copy-to-account.svg'
import templateImg from 'img/template.svg'
import wrongNumberImg from 'img/wrong-number.svg'

import clearGrayImg from 'img/dropdowns/clear-gray.svg'
import pauseGrayImg from 'img/dropdowns/pause-gray.svg'
import resumeGrayImg from 'img/dropdowns/resume-gray.svg'
import deleteGrayImg from 'img/dropdowns/delete-gray.svg'
import plusSmall from 'img/dropdowns/plus-small.svg'
import selectCategory from 'img/dropdowns/select-category.svg'
import selectFunction from 'img/dropdowns/job-function.svg'

import deleteBlueImg from 'img/dropdowns/delete-blue.svg'
import cloudBlueImg from 'img/dropdowns/cloud-blue.svg'
import gearBlueImg from 'img/dropdowns/gear-blue.svg'

export default {
  components: {
  },
  mounted () {
    let select = this.$refs.customSelect

    $(select).selectric({
      maxHeight: this.menuMaxHeight || 200,
      forceRenderAbove: this.forceRenderAbove,
      optionsItemBuilder: (itemData, element, index) => {
        let content
        let icon = $(itemData.element).attr('data-icon')

        if (icon && this.images[icon]) {
          let iconToUse = this.images[icon]
          content = `<img src=${iconToUse}></img><span>${itemData.text}</span>`
        } else {
          content = itemData.text
        }

        return content
      },
      labelBuilder: (itemData) => {
        let content

        if (this.icon) {
          content = `<img class='default-image' src=${this.icon}></img><span>${itemData.text}</span>`
        } else if (this.selectIcon) {
          content = `<img class='default-image' src=${this.images[this.selectIcon]}></img><span>${itemData.text}</span>`
        } else {
          content = itemData.text
        }

        return content
      },
      onChange: (e) => {
        // Return objects in {value: "myvalue", label: "mylabel"} format
        this.onChange({
          value: e.options[e.selectedIndex].value,
          label: e.options[e.selectedIndex].text
        })

        this.selectedIndex = e.selectedIndex
      },
      onOpen: (e) => {
        this.isOpen = true
        if (this.onToggle) {
          this.onToggle(this.isOpen)
        }
      },
      onClose: (e) => {
        this.isOpen = false
        if (this.onToggle) {
          this.onToggle(this.isOpen)
        }
      }
    })
  },
  data () {
    return {
      images: {
        'submit': submitImg,
        'approve': approveImg,
        'archive': archiveImg,
        'filter': archiveImg,
        'delete': deleteImg,
        'duplicate': duplicateImg,
        'edit': editImg,
        'pause': pauseImg,
        'resume': playImg,
        'stop': stopImg,
        'create': createImg,
        'add-to-list': clipboardImg,
        'export': cloudImg,
        'add-to-sequence': thunderImg,
        'find': magnifyingGlassImg,
        'pause-messages': pauseGrayImg, // Gray variants of imgs declared above -___-
        'resume-messages': resumeGrayImg,
        'delete-candidates': deleteGrayImg,
        'profile': userImg,
        'merge': mergeImg,
        'message': mailImg,
        'add-new': plusSmall,
        'select-category': selectCategory,
        'select-function': selectFunction,
        'add-to-list-blue': cloudBlueImg,
        'list-delete': deleteBlueImg,
        'list-settings': gearBlueImg,
        'report': reportImg,
        'clear': clearImg,
        'clear-messages': clearGrayImg,
        'clock': clockImg,
        'phone-book': phoneBookImg,
        'x-out': xOut,
        'select-sequence': bolt,
        'change-status': pulse,
        'do-not-sms': doNotSMS,
        'do-not-email': doNotEmail,
        'do-not-contact': doNotContact,
        'copy-to-account': copyToAccount,
        'use-template': templateImg,
        'wrong-number': wrongNumberImg
      },
      selectedIndex: 0,
      isOpen: false
    }
  },
  computed: {
  },
  methods: {
    open () {
      let select = this.$refs.customSelect
      $(select).selectric('open')
    },
    toggle () {
      let select = this.$refs.customSelect
      this.isOpen ? $(select).selectric('close') : $(select).selectric('open')
    },
    removeSelectedClick (e) {
      this.onChange(this.items[0])
    }
  },
  props: {
    items: { required: true },
    selected: { required: true },
    icon: { required: false },
    customStyles: { required: false },
    nightMode: { required: false },
    onChange: { required: true },
    buttonHidden: { required: false },
    fixedWidthMed: { required: false },
    selectIcon: { required: false, default: false },
    menuMaxHeight: { required: false },
    removeSelected: { required: false },
    onToggle: { required: false },
    disabled: { required: false, default: null },
    forceRenderAbove: { required: false, default: false },
    customId: { required: false }
  },
  watch: {
    disabled: {
      handler (val) {
        this.$nextTick(() => {
          $(this.$refs.customSelect).selectric('refresh')
        })
      }
    },
    items: {
      handler (val) {
        // Wrap in set timeout to allow DOM to update with new selects
        this.$nextTick(() => {
          $(this.$refs.customSelect).selectric('refresh')
        })
      }
    },
    selected: {
      handler (val) {
        // Get selected index
        // TODO: Ensure this doesn't slow things down if we have a bunch of dropdowns
        let selectedIndex = -1

        // Selected could be object or a string
        // TODO: Thoroughly test this, kind of wonky going back and forth between strings and objects
        let selectedValue
        if (typeof val === 'object' && val != null) {
          selectedValue = val.value
        } else {
          selectedValue = val
        }

        // Loop through items and get array index of selected one
        $.each(this.items, (key, value) => {
          if (selectedValue == value.value) {
            selectedIndex = key
            return false
          }
        })

        // Set selected index
        if (selectedIndex > -1) {
          $(this.$refs.customSelect).prop('selectedIndex', selectedIndex).selectric('refresh')
          this.selectedIndex = selectedIndex
        }
      }
    }
  }
}
</script>

<style lang='scss'>
@import "~styles/variables";

/*======================================
  Selectric
======================================*/
.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border: 1px solid $havelock;
  background: $white;
  position: relative;
  border-radius: 2px;
}

.selectric-dark .selectric {
  background-color: lighten($catskill, 4%);
  border-color: $white;
}

tr:hover .selectric-dark .selectric {
  background: $white;
  border-color: $gallery;
}

.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 38px 0 12px;
  font-size: 12px;
  line-height: 38px;
  color: $fiord;
  height: 38px;
}

.selectric .button {
  border-radius: 0px;
  display: block;
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 36px;
  height: 36px;
  color: #444444;
  text-align: center;
  font: 0/0 a;
  *font: 36px/36px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #444444;
  border-bottom: none;
}

.selectric-focus .selectric {
  border-color: #AAA;
}

.selectric-hover .selectric {
  border-color: #3077c9;
}

.selectric-hover .selectric .button {
  color: #3077c9;
}

.selectric-hover .selectric .button:after {
  border-top-color: #3077c9;
}

.selectric-open {
  z-index: 98;
}

.selectric-open .selectric {
  border-color: #3077c9;
  background: #e6e6e6;
}

.selectric-open .selectric-items {
  display: block;
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectric-hide-select select {
  position: absolute;
  left: -100%;
}

.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #F8F8F8;
  border: 1px solid #C4C4C4;
  z-index: -1;
  box-shadow: 0 0 10px -6px;
}

.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}

.selectric-above .selectric-items {
  /* Custom edit
  top: auto;
  bottom: 100%;
  */
}

.selectric-items ul, .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}

.selectric-items li {
  display: block;
  padding: 8px;
  border-top: 1px solid $white;
  border-bottom: 1px solid $gallery;
  color: $dove-gray;
  cursor: pointer;
}

.selectric-items li.selected {
  background: #EFEFEF;
  color: #444;
}

.selectric-items li.highlighted {
  background: #D0D0D0;
  color: #444;
}

.selectric-items li:hover {
  background: #F0F0F0;
  color: #444;
}

.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  color: #444;
}

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.selectric-items .selectric-group li {
  padding-left: 25px;
}

// Custom
.custom-select-container {
  max-width: 225px;
  text-align: left;

  .remove-selected {
    position: relative;

    img {
      position: absolute;
      z-index: 1;
      right: 20px;
      top: 14px;
      width: 12px;
      height: 12px;
      transform: scale(1);

      @include transition-sm-med-ease;

      &:hover {
        transform: scale(1.5);
      }
    }
  }

  span, img {
    display: inline-block;
    vertical-align: middle;
  }
  img {
    margin-left: 16px;
    margin-right: 16px;

    width: 16px;
    height: 16px;

    &.default-image {
      margin-left: 0;
    }
  }

  &.button-hidden {
    .selectric {
      display: none;
    }
  }

  &.fixed-width-med {
    .selectric-items {
      width: 200px !important;
    }
  }
}

.selectric {
  border: 1px solid $gallery;
  @include transition-sm-ease;
}

.selectric-focus .selectric {
  border-color: $gallery;
}

.selectric-hover .selectric {
  border-color: $gallery;
  @include input-focus;
}

.selectric-open .selectric {
  border: 1px solid $gallery;
  @include input-focus;
}

.selectric .button {
  font-size: 0;
  background: url("~img/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;

    &:after {
      border: 0
    }
  }

  .selectric-items {
    border-radius: 0 0 2px 2px;
    background: $white;
  }

  .selectric-items li, .selectric-items li.selected {
    color: $fiord;
    border: 0;
  }

  .selectric-open .selectric {
    background: $white;
  }

  // Arrow animation
  .selectric {
    .button {
      @include transition-sm-ease;
      transform: rotate(0deg);
    }
  }

  .selectric-open {
    .selectric {
      .button {
        transform: rotate(-180deg);
      }
    }
  }

</style>
