<template>
  <label class="custom-checkbox-container" :style="customContainerStyles">
    <input type='checkbox' :disabled="disabled" :checked="whichChecked" @change="changeHandler">
    <span :style="spanStyle" :id="customId"></span>
    <img v-if="icon" v-svg-src="icon">
    {{label}}
  </label>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
      internalChecked: this.value
    }
  },
  computed: {
    spanStyle () {
      let style = this.customStyles || {}
      if (this.disableMargin) {
        style.margin = '0'
      }
      return style
    },
    whichChecked () {
      return this.checked !== null ? this.checked : this.internalChecked
    }
  },
  methods: {
    changeHandler (e) {
      if (this.onChange) {
        this.onChange(e)
      }
      this.$emit('input', e.target.checked)
    }
  },
  watch: {
    value: {
      handler (val) {
        this.internalChecked = val
      }
    }
  },
  props: {
    value: { required: false },
    customId: { required: false },
    label: {
      required: false
    },
    disabled: {
      type: Boolean,
      required: false
    },
    checked: {
      required: false,
      default: null
    },
    onChange: { required: false },
    disableMargin: { required: false },
    customStyles: { required: false },
    customContainerStyles: { required: false },
    icon: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";
  // src: http://stackoverflow.com/questions/4148499/how-to-style-checkbox-using-css

  label input {
    // Hide off screen
    position: absolute;
    left: -99999px;
  }
  label span {/* <-- style the artificial checkbox */
    height: 18px;
    width: 18px;
    border: 1px solid $alto;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;

    @include transition-sm-ease;
  }

  label img {
    vertical-align: middle;
    margin: 0px 5px;
  }

  [type=checkbox] + span {
      background-color: $alabaster;
  }

  [type=checkbox]:checked + span {
    background-color: $shamrock;
    cursor: pointer;
  }
  [type=checkbox]:focus + span {
    @include input-focus();
  }
  [type=checkbox]:hover + span {
    @include input-focus();
  }
  [type=checkbox]:disabled + span {
    background-color: $alto;
    cursor: default;
  }
  [type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;

    width: 14px;
    height: 14px;
    background: url("~img/checkmark-white.svg");
    background-size: cover;
    background-position: center center;
    cursor: pointer;
  }

  .custom-checkbox-container {
    cursor: pointer;
  }
</style>
