<template>
  <div class="custom-input-container" v-bind:style="containerStyles">
    <img v-if="icon" v-svg-src="icon"></img>
    <textarea
      ref="customInput"
      v-if="!userAutoCompleteEnabled && !autoResize"
      v-bind:style="inputStyle"
      :placeholder="placeholder"
      :value="value"
      :disabled="disabled"
      @input="inputChange"
      @keydown="keyDown"
      @click="onClick"
      :id="customId">
    </textarea>

    <div
      :style="inputStyle"
      ref="CustomInput"
      v-if="!userAutoCompleteEnabled && autoResize"
      :contenteditable="contentEditable"
      :data-text="placeholder"
      v-html="value"
      :disabled="disabled"
      @input="inputChange"
      @keydown="keyDown"
      @keydown.enter.prevent
      :id="customId">
    </div>

    <div
      class="auto-complete-div"
      ref="customInput"
      v-if="userAutoCompleteEnabled && !autoResize"
      :contenteditable="contentEditable"
      v-bind:style="inputStyle"
      :data-text="placeholder"
      v-html="value"
      :disabled="disabled"
      @input="inputChange"
      @keydown="keyDown"
      :id="customId">
    </div>
  </div>
</template>

<script>

import { usersStore } from 'stores'
import { addProtocol } from 'helpers'

export default {
  components: {
  },
  data () {
    return {
      usersStore: usersStore.get()
    }
  },
  mounted () {
    this.init()

    if (this.autoFocus) {
      $(this.$refs.customInput).focus()
    }
    if (this.plainTextOnly) {
      $(this.$refs.customInput).on('paste', (e) => {
        e.preventDefault()
        const text = e.originalEvent.clipboardData.getData('text/plain')
        const selection = window.getSelection()
        const range = selection.getRangeAt(0)
        // Make sure the cursor doesn't reset to the beginning of the div after pasting because contenteditable has only been around since 2010 and it doesn't have full support yet. For future reference, this comment was written in 2017.

        // If we're highlighting something this makes sure we paste over it.
        range.deleteContents()
        range.insertNode(document.createTextNode(text))
        selection.collapseToEnd()
      })
    }
  },
  computed: {
    inputStyle () {
      let inputStyle = $.extend({}, this.customStyles)

      if (this.icon) {
        inputStyle.padding = '0.4rem 1.8rem 0.4rem 4.5rem'
      }
      return inputStyle
    }
  },
  methods: {
    init () {
      if (this.userAutoCompleteEnabled) {
        let config = this.getAutocompleteConfig().atConfig
        // TODO: Figure out bug with losing focus
        $(this.$refs.customInput).atwho(config)

        // When a menu is closed, the "cur" class still remains.
        // Problem is, we need to distinguish if we want to select the "@" or the "{{}}" menu
        // So, when a menu is closed, make sure the "cur" class is removed on ALL menus
        $(this.$refs.customInput).on('hidden.atwho', () => {
          setTimeout(() => {
            $.each($('.atwho-view-ul').find('li'), (key, value) => {
              $(value).removeClass('cur')
            })
          })
        })
      }
    },
    inputChange (e) {
      // We need a contenteditable div for autocomplete to work, so get value based on type of input we have
      let value = this.userAutoCompleteEnabled ? $(e.target).html() : e.target.value

      // If we're a URL type, add protocol to URLs
      if (this.type === 'url') {
        value = addProtocol(value)
      }

      // Required for data binding to work
      this.$emit('input', value)

      // Optional prop to call extra callback
      if (this.onChange) {
        this.onChange(e)
      }
    },
    keyDown (e) {
      // Detect enters (for submitting comments). Prevents normal onChange handlers
      if (this.onEnter && e.keyCode === 13) {
        let value = this.userAutoCompleteEnabled ? $(this.$refs.customInput).html() : this.$refs.customInput.value

        if (this.editableTable) {
          e.target.blur()
          e.preventDefault()
        }

        // TODO: Don't submit unless auto complete is closed
        if ($(this.$refs.customInput).atwho('isSelecting')) {
          e.preventDefault()
          e.stopImmediatePropagation()

          // Pretty hacky way to force autocomplete to actually pick the option when you hit enter
          $('.atwho-container').find('.cur').click()

          return false
        } else {
          this.onEnter(value)

          // Clear text field on submission (after enter event actually goes through)
          if (!this.editableTable) {
            setTimeout(() => {
              if (this.userAutoCompleteEnabled) {
                $(this.$refs.customInput).html('')
              } else {
                this.$refs.customInput.value = ''
              }
            })
          }

          return false
        }
      }
    },
    onClick (e) {
      if (this.click) {
        this.click(e)
      }
    },
    getAutocompleteConfig () {
      // TODO: Refactor this into shared autocomplete component
      // Define data source for At.JS.
      let datasource = this.usersStore.users

      // Build data to be used in At.JS config.
      let names = $.map(datasource, function (value, i) {
        return {
          'id': value.id,
          'first_name': `${value.first_name}`,
          'last_name': `${value.last_name}`,
          'email': value.email,
          'search': `${value.first_name} ${value.last_name} ${value.email}`,
          'display': `${!value.first_name && !value.last_name ? value.email : value.first_name + value.last_name}`
        }
      })

      // Define config for At.JS.
      let atConfig = {
        at: '@',
        data: names,
        /* eslint-disable no-template-curly-in-string */
        displayTpl: '<li>${first_name} ${last_name} <small>${email}</small></li>',
        insertTpl: '${atwho-at}${display}<span class="hidden user-id">${id}</span>',
        /* eslint-enable */
        searchKey: 'search',
        limit: 200
      }

      return {
        'atConfig': atConfig
      }
    }
  },
  watch: {
    'usersStore.users': {
      handler (val) {
        if (this.userAutoCompleteEnabled) {
          $(this.$refs.customInput).atwho('destroy')
          this.init()
        }
      }
    }
  },
  props: {
    placeholder: { required: false },
    value: { required: false },
    icon: { required: false },
    customStyles: { required: false },
    containerStyles: { required: false },
    disabled: { required: false },
    onChange: { required: false },
    type: { required: false },
    onEnter: { required: false },
    editableTable: { required: false },
    customId: { required: false },
    userAutoCompleteEnabled: { required: false },
    autoFocus: { required: false },
    autoResize: { required: false },
    click: { required: false },
    plainTextOnly: { required: false },
    contentEditable: { required: false, default: true }
  },
  beforeDestroy () {
    $(this.$refs.customInput).atwho('destroy')
  }
}
</script>

<style lang='scss'>
  @import "~styles/variables";

  // Most styles in styles/components/inputs.scss
  // Also inherits from CustomInput

  [contentEditable=true]:empty:not(:focus):before {
    content:attr(data-text);
    color: $dusty-gray;
  }

  .auto-complete-div {
    overflow: auto;
  }

</style>
