<template>
  <div class="custom-input-container" v-bind:style="containerStyles">
    <img v-if="icon" v-svg-src="icon"></img>
    <input ref="customInput"
      v-bind:style="inputStyle"
      :placeholder="placeholder"
      :value="value"
      :disabled="disabled"
      @input="inputChange"
      @keydown="keyDown"
      @click="clicked"
      :class="customClass"
      :id="customId"
      :readonly="readonly"
      :maxlength="maxlength"
      :type="inputType"
    />
  </div>
</template>

<script>
import { addProtocol } from 'helpers'

export default {
  components: {
  },
  data () {
    return {
      debounceTimeout: {},
      debounceTime: 250
    }
  },
  computed: {
    inputStyle () {
      let inputStyle = $.extend({}, this.customStyles)

      if (this.icon) {
        inputStyle.padding = '0.4rem 1.8rem 0.4rem 4.5rem'
      }
      if (this.invalid) {
        inputStyle.borderColor = '#A80712'
      }
      return inputStyle
    },
    inputType () {
      switch (this.type) {
        case 'password':
          return 'password'
        default:
          return 'text'
      }
    }
  },
  methods: {
    clicked (e) {
      if (this.onClick) {
        this.onClick(e)
      }
    },
    inputChange (e) {
      // Required for data binding to work. Debounce to reduce lag when typing
      clearTimeout(this.debounceTimeout)

      // If we're a URL type, add protocol to URLs
      let value = e.target.value
      if (this.type === 'url') {
        value = addProtocol(value)
      }

      this.debounceTimeout = setTimeout(() => {
        this.$emit('input', value)
      }, this.debounceTime)

      // Optional prop to call extra callback
      if (this.onChange) {
        this.onChange(e)
      }
    },
    keyDown (e) {
      // Need separate function to detect `enter` key since it doesn't get triggered by input
      // Detect enters (for submitting). Prevents normal onChange handlers
      if (this.onEnter && e.keyCode === 13) {
        // Bypass the debounce on enter
        this.$emit('input', this.$refs.customInput.value)
        setTimeout(() => {
          this.onEnter(this.$refs.customInput.value)

          // Clear text field on submission (after enter event actually goes through)
          // TODO: Figure out a better way to do this
          if (this.clearOnEnter) {
            setTimeout(() => {
              this.$refs.customInput.value = ''
            })
          }

          return false
        }, this.debounceTime + 1)
      }
    }
  },
  props: {
    placeholder: { required: false },
    value: { required: false },
    icon: { required: false },
    customStyles: { required: false },
    containerStyles: { required: false },
    disabled: { required: false },
    onChange: { required: false },
    type: { required: false },
    customClass: { required: false },
    onEnter: { required: false },
    onClick: { required: false },
    clearOnEnter: { required: false, default: false },
    customId: { required: false },
    readonly: { required: false, default: false },
    maxlength: { required: false },
    invalid: { required: false }
  }
}
</script>

<style lang='scss'>
  @import "~styles/variables";

  // Most styles in styles/components/inputs.scss
  .custom-input-container {
    position: relative;

    img {
      position: absolute;
      top: 13px;
      left: 13px;

      width: 14px;
      height: 14px;
    }
  }

</style>
