<!-- src: http://include.aorcsik.com/2014/12/05/ios-8-switch-checkbox-with-css/ -->

<template>
  <label class="slider-container" :style="customStyles">
    <input
      type="checkbox"
      v-bind:class="inputClasses"
      :checked="internalChecked"
      @change="inputChange"
    />
    <div class="slider">
      <div class="slider-button" :id="customId"></div>
      <span v-bind:class="labelClasses"></span>
    </div>
  </label>
</template>

<script>
export default {
  components: {
  },
  computed: {
    in () {

    },
    inputClasses () {
      return { 'slider-input': !this.playPause, 'slider-input-play': this.playPause, 'table': this.inTable }
    },
    labelClasses () {
      return { 'slider-label': !this.playPause, 'slider-label-pause': this.playPause }
    }
  },
  methods: {
    inputChange (e) {
      this.$emit('input', e.target.checked)
      if (this.toggleEnabled) {
        this.toggleEnabled(e.target.checked)
      }
      if (this.onChange) {
        this.onChange()
      }
    }
  },
  props: {
    value: { required: true },
    toggleEnabled: { required: false },
    playPause: { required: false, default: false },
    inTable: { required: false, default: false },
    customStyles: { required: false },
    onChange: { required: false },
    customId: { required: false }
  },
  data () {
    return {
      internalChecked: this.value
    }
  },
  watch: {
    value: {
      handler (val) {
        this.internalChecked = val
      }
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .slider-container {
    display: inline-block;
  }

  .slider-input {
    opacity: 0;
    position: absolute;
  }

  .slider {
    width: 42px;
    height: 21px;
    border-radius: 10px;
    background-color: $dusty-gray;

    position: relative;
    cursor: pointer;

    @include transition-sm-med-ease;
  }

  .slider-button {
    width: 15px;
    height: 15px;
    position: absolute;

    top: 3px;
    left: 3px;

    background: $white;
    border-radius: 50%;

    @include transition-sm-ease;
  }

  .slider-label {
    position: absolute;

    top: 5px;
    left: 19px;

    color: $white;

    font-size: 10px;

    &:after {
      content: "OFF"
    }

  }

  .slider-input {
    &:checked {
      + div {
        background: $shamrock;

        .slider-button {
          left: 23px;
        }
        .slider-label {
          left: 4px;
          &:after {
            content: "ON"
          }
        }
      }
    }
    &.table {
      min-height: 0;
      position: relative;

      + .slider {
        transform: translateY(-7px);
      }
    }
  }

  .slider-label-pause {
    position: absolute;

    top: 5px;
    left: 19px;

    color: $white;

    font-size: 10px;

    &:after {
      content: ' ';
      background-image: url('~img/pause.svg');
      height: 10px;
      width: 10px;
      display: block;
      background-repeat: no-repeat;
      left: 5px;
      position: absolute;
    }

  }

  .slider-input-play {
    opacity: 0;
    position: absolute;

    &:focus, &:hover {
      + div {
        @include input-focus($fiord);
      }
    }

    &:checked {
      + div {
        background: $shamrock;

        .slider-button {
          left: 23px;
        }
        .slider-label-pause {
          left: 4px;
          &:after {
            content: " ";
            background-image: url('~img/play.svg');
          }
        }
      }
    }
  }

  .slider-input {
    &:focus, &:hover {
      + div {
        @include input-focus($fiord);
      }
    }
  }

</style>
