<template>
  <button class="flat-button" :class="color" @click="clickFunction" :style="customStyles">
    <slot></slot>
  </button>
</template>

<script>
export default {
  mounted () {
  },
  computed: {
  },
  methods: {
    clickFunction (e) {
      if (this.click) {
        this.click(e)
      }
    }
  },
  components: {
  },
  props: {
    click: { required: false },
    customStyles: { required: false },
    color: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  button {
    min-width: 138px;
    height: 46px;
    line-height: 46px;
    padding: 0 10px;

    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1.8px;

    color: $white;
    background-color: $havelock;

    @include transition-sm-med-ease;

    &:hover, &:focus {
    	background-color: #3E79BE;
    }

    // Separate colors from default blue
    &.green {
      background-color: $shamrock;

      &:hover {
        background-color: $shamrock-hover;
      }
    }

    &.turquoise {
      background-color: $turquoise;

      &:hover {
        background-color: $turquoise-hover;
      }
    }

    &.purple {
      background-color: $violet;

      &:hover {
        background-color: #A415C1;
      }
    }

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
</style>
