<template>
  <div class="header-select-container">
    <!-- Organization Dropdown -->
    <click-outside :handler="handleClickOutside" v-if="type !== 'account'" class="organization-dropdown">
      <button @click="buttonClick" :class="{active: open}">
        <span class="dropdown-account-image" :style="organizationLogo"></span>
        <img class="down-arrow" v-svg-src="downArrowImg"></img>
      </button>
      <div v-if="open" class="dropdown-menu" @click="hideMenu">
        <ul>
          <router-link :to="{path: `/outreach/settings/organization`, query: $route.query}">
            <li class="current-option">
              <span class="account-image" :style="organizationLogo"></span>
              <div><b>{{activeOrganization.name}}</b></div>
              <div class="settings">
                <img v-svg-src="gearImg"></img>
                <span>Settings</span>
              </div>
            </li>
          </router-link>
          <li v-for="organization in organizations" v-if="organization.id != activeOrganization.id" class="other-option" role="button" @click="switchOrganization(organization)">
            <div>
              <span class="organization-image" :style="getOrganizationLogo(organization.logo_url)"></span>
              <span>{{organization.name}}</span>
            </div>
          </li>
        </ul>
      </div>
    </click-outside>
    <!-- Account dropdown-->
    <click-outside :handler="handleClickOutside" v-if="type === 'account'" :class="{'account-container': true, 'impersonating': admin.is_impersonating}">
      <button @click="buttonClick" :class="{active: open}" class="dropdown-button">
        <span class="dropdown-account-image" :style="accountImage"></span>
        <span class="account-name">{{account.first_name}} {{account.last_name}}</span>
        <img class="down-arrow" v-svg-src="downArrowImg"></img>
      </button>
      <div v-if="open" class="dropdown-menu" @click="hideMenu">
        <ul>
          <router-link :to="{path: `/outreach/settings/profile`, query: $route.query}">
            <li class="current-option">
              <span class="account-image" :style="accountImage"></span>
              <div><b>{{account.first_name}} {{account.last_name}}</b></div>
              <div class="settings">
                <img v-svg-src="gearImg"></img>
                <span>Settings</span>
              </div>
            </li>
          </router-link>
          <div class="admin-section" @click="stopProp">
            <div v-if="(admin.is_system_admin || admin.is_company_admin || admin.is_sourcer_admin) && !admin.is_impersonating" class="impersonate">
              <div><b>Impersonate</b></div>
              <Autocomplete
                placeholder="Search by name or email..."
                :suggestions="admin.users"
                :viewKeys="['email']"
                :searchKeys="['first_name','last_name','email']"
                :onSelect="impersonate"
                :customStyles="impersonateStyles"
                :containerStyles="impersonateContainerStyles"
              />
            </div>
            <div v-if="admin.is_impersonating" class="impersonate">
              <button @click="stopImpersonating">Stop Impersonating</button>
            </div>
          </div>
          <router-link :to="{path: `/login/logout`, query: {debug: $route.query.debug}}">
            <li class="other-option" role="button">
              <div>
                <img class="door-image" v-svg-src="signoutImg"></img>
                <span>Sign out</span>
              </div>
            </li>
          </router-link>
        </ul>
      </div>
    </click-outside>
  </div>
</template>

<script>

import ClickOutside from 'onclick-outside'
import { accountStore, organizationStore, authStore, metadataStore, adminStore } from 'stores'
import { profileImageStyle, alerts, appInitializer } from 'helpers'
import Autocomplete from './Autocomplete'

import api from 'api'

import organizationNavImg from 'img/dropdowns/company-nav.svg'
import accountNavImg from 'img/dropdowns/account-nav.svg'
import downArrowImg from 'img/down-arrow.svg'
import organizationPlaceholderImg from 'img/company-placeholder.svg'
import gearImg from 'img/dropdowns/gear.svg'
import signoutImg from 'img/dropdowns/signout.svg'
import accountPlaceholderImg from 'img/account-placeholder.svg'

export default {
  components: {
    ClickOutside,
    Autocomplete
  },
  data () {
    return {
      open: false,
      accountStore: accountStore.get(),
      organizationStore: organizationStore.get(),
      adminStore: adminStore.get(),
      organizationNavImg,
      accountNavImg,
      downArrowImg,
      organizationPlaceholderImg,
      signoutImg,
      accountPlaceholderImg,
      gearImg,
      impersonateContainerStyles: {
        'margin-top': '10px'
      },
      impersonateStyles: {
        width: '100%'
      }
    }
  },
  computed: {
    admin () {
      return this.adminStore
    },
    accountImage () {
      return profileImageStyle(this.account.profile_photo_url, accountPlaceholderImg)
    },
    companyLogo () {
      return profileImageStyle(this.activeCompany.logo_url, organizationPlaceholderImg)
    },
    organizationLogo () {
      return profileImageStyle(this.activeOrganization.logo_url, organizationPlaceholderImg)
    },
    account () {
      return this.accountStore.account
    },
    organization () {
      return this.organizationStore.organization
    },
    organizations () {
      return this.organizationStore.organizations
    },
    activeOrganization () {
      if (this.organization) {
        return this.organization
      } else {
        return { logo_url: '' }
      }
    }
  },
  methods: {
    stopProp (e) {
      e.stopPropagation()
    },
    impersonate (selection) {
      if (!selection) return
      let adminToken = JSON.stringify({
        isSystemAdmin: this.admin.is_system_admin,
        isCompanyAdmin: this.admin.is_company_admin,
        isSourcerAdmin: this.admin.is_sourcer_admin,
        token: authStore.getToken()
      })
      authStore.setAdminToken(adminToken)
      api.ajax('users/impersonate', {
        type: 'POST',
        data: {
          email: selection.email
        }
      })
      .done((response) => {
        console.log('impersonate response', response)
        adminStore.set('is_impersonating', true)
        appInitializer.clearAllStores()
        authStore.setToken(response.token)
        appInitializer.init(response)
        metadataStore.setHasUnsavedChanges(false)
        this.$route.path.indexOf('candidate') === -1 ? this.$router.push({ path: `/outreach/candidate-manager` }) : this.$router.push({ path: `/outreach/jobs` })
      })
      .fail((e) => {
        console.error('user not found for impersonate', e)
      })
    },
    stopImpersonating () {
      authStore.setToken(this.admin.admin_token)
      let adminToken = JSON.parse(authStore.getAdminToken())
      authStore.setToken(adminToken.token)
      authStore.removeAdminToken()
      api.ajax('users/verify-login')
      .done((response) => {
        console.log('stop impersonating response', response)
        adminStore.set('is_impersonating', false)
        appInitializer.clearAllStores()
        appInitializer.init(response)
        metadataStore.setHasUnsavedChanges(false)
        this.$route.path.indexOf('candidate') === -1 ? this.$router.push({ path: `/outreach/candidate-manager` }) : this.$router.push({ path: `/outreach/jobs` })
      })
      .fail((e) => {
        console.error('failed to stop impersonating', e)
      })
    },
    getCompanyLogo (logoURL) {
      return profileImageStyle(logoURL, organizationPlaceholderImg)
    },
    getOrganizationLogo (logoURL) {
      return profileImageStyle(logoURL, organizationPlaceholderImg)
    },
    buttonClick () {
      this.open = !this.open
    },
    hideMenu () {
      this.open = false
    },
    handleClickOutside (e) {
      this.open = false
    },
    switchOrganization (org) {
      api.ajax(`users/${this.account.id}`, {
        type: 'PATCH',
        data: {
          current_organization_id: org.id
        }
      })
      .done((response) => {
        console.log('response from changing org', response)
        api.ajax('users/verify-login')
        .done((response) => {
          console.log('re-login response', response)
          appInitializer.clearAllStores()
          appInitializer.init(response)
          metadataStore.setHasUnsavedChanges(false)
          this.$route.path.indexOf('candidate') === -1 ? this.$router.push({ path: `/outreach/candidate-manager` }) : this.$router.push({ path: `/outreach/jobs` })
        })
        .fail((e) => {
          console.error('failed to re-login', e)
        })
      })
      .fail((e) => {
        console.error('error changing org', e)
        alerts.show({
          message: 'Sorry, there was an error switching your organization! Please refresh the page and try again.',
          status: 'error'
        })
      })
    }
  },
  props: {
    type: { required: false }
  }
}
</script>

<style lang='scss' scoped>
@import "~styles/variables";
.header-select-container {
  min-width: 70px;
  height: 45px;
  position: relative;
  top: -0.8rem;

  display: inline-block;
  vertical-align: top;
}

// Button to reveal dropdown
button {
  height: 45px;
  min-width: 70px;
  top: 0;
  background: $white;

  padding: 0 10px;

  @include transition-sm-ease;

  &.active, &:hover, &:focus {
    background: $alabaster;
  }

  // Animation for down arrow
  .down-arrow {
    transform: rotate(0deg);
    @include transition-sm-ease;
  }
  &.active {
    .down-arrow {
      transform: rotate(-180deg);
    }
  }

  img {
    display: inline-block;
    vertical-align: middle;
    &:last-child {
      margin-left: 4px;
    }
  }
}


.account-name {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;

  color: $dove-gray;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  margin: 0 0.8rem;
}

// Actual dropdown menu
.dropdown-menu {
  position: absolute;
  max-height: 400px;
  top: 4.5rem;
  right: 0;
  background: $alabaster;

  @include header-menus-index;
  @include transition-med-ease;

  font-size: 1.2rem;
  width: 33.0rem;

  border: 1px solid $alto;
  border-radius: 2px;
}

.dropdown-placeholder-image {
  width: 30px;
  height: 30px;
}

.dropdown-account-image {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;

  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  border: solid 0.5px;
  border-color: $mystic;
}

// Animations for dropdown
.dropdown-animation-enter {
  max-height: 1px !important;
  opacity: 0 !important;
}
.dropdown-animation-enter-active {
  max-height: 400px;
  opacity: 1;
}
.dropdown-animation-leave {
  max-height: 400px;
  opacity: 1;
  overflow: hidden;
}
.dropdown-animation-leave-active {
  max-height: 1px;
  opacity: 0;
  overflow: hidden;
}

// Items in dropdown menu
ul {
  padding: 0;
  margin: 0;

  a {
    color: $dove-gray;
    text-decoration: none;
  }
}

li {
  list-style-type: none;
  height: 4.0rem;
  position: relative;
  background: $alabaster;
  padding: 1.0rem 1.8rem 1.2rem 6.0rem;

  border-top: 1px solid $alto;
  @include transition-sm-ease;

  &:hover {
    background: $white;
  }

  // The first item, which is the active organization or user
  &.current-option {
    height: 7.5rem;
    background: $white;
    padding: 2.0rem 1.8rem 2.0rem 7.0rem;
    border: 0;
    &:hover {
      background: #f6f6f6;
    }
  }

  &.other-option {
    background: #f8fafc;
    &:hover {
      background: #f6f6f6;
    }
  }

  .default-organization-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.4rem;

    width: 40px;
    height: 40px;
  }

  .organization-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.2rem;

    width: 24px;
    height: 24px;

    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    border: solid 0.5px;
    border-color: $mystic;
  }

  .account-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.4rem;

    width: 40px;
    height: 40px;

    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    border: solid 0.5px;
    border-color: $mystic;
  }

  .door-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.2rem;

    width: 24px;
    height: 24px;
  }

  div {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    line-height: 1.7;
    white-space: nowrap;
  }

  .settings {
    color: $havelock;
    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
    }
    span {
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.impersonate {
  padding: 10px;
  text-align: center;

  div {
    text-align: left;
  }

  button {
    text-transform: uppercase;
    color: $white;
    border-radius: 2px;
    font-weight: 600;
    background-color: $danger;
    font-size: 16px;

    @include transition-sm-med-ease;

    &:hover {
      background-color: $danger-hover;
    }
  }
}

.account-container {
  &.impersonating {
    background-color: $danger;

    .dropdown-button {
      background-color: rgba(0,0,0,0);

      .account-name {
        color: $white;
        font-weight: 600;
      }
    }
  }
}

</style>
