<template>
  <button
    ref="button"
    class="prompt-button"
    :disabled="disabled"
    :style="customStyles"
    :data-type="type"
    :type="buttonType"
    :id="customId"
    @click="clickFunction"><img v-if="icon" v-svg-src="icon">{{text}}</button>
</template>

<script>
export default {
  mounted () {
    if (this.onLoad) {
      this.onLoad(this.$refs.button)
    }
  },
  computed: {
    buttonType () {
      // Only return attribute type if it's in a fixed list of types
      if (this.type === 'submit') {
        return 'submit'
      } else if (this.type === 'hollow') {
        return 'button'
      } else {
        return null
      }
    }
  },
  methods: {
    clickFunction () {
      if (this.onClick) {
        this.onClick()
      }
    }
  },
  components: {
  },
  props: {
    text: {
      type: String,
      required: true
    },
    customStyles: { required: false },
    type: { required: false },
    onClick: { required: false },
    onLoad: { required: false },
    customId: { required: false },
    icon: { required: false, default: false },
    disabled: { required: false }
  }
}
</script>
<style lang='scss' scoped>
@import "~styles/variables";

.prompt-button {
  height: 4.5rem;
  min-width: 17.6rem;

  border-radius: 2px;
  background-color: $turquoise;
  color: $white;

  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-align: center;

  padding: 1.0rem 1.2rem;

  @include transition-sm-med-ease;

  &:hover {
    background-color: $half-baked;
  }
  &:focus {
    @include input-focus($fiord);
  }

  &[data-type="hollow"] {
    border: 1px solid $turquoise;
    color: $turquoise;
    background-color: $white;

    &:hover {
      background-color: $half-baked;
      border: 1px solid $half-baked;
      color: $white;
    }

  }

  &[disabled="disabled"] {
    background-color: $none-gray;

    &:hover {
      cursor: not-allowed;
    }
  }

  img {
    margin-right: 13px;
    vertical-align: middle;
  }
}
</style>
