<template>
  <div class="left-container">
    <div class="find-candidates-filters-container">
      <h1>ADVANCED SEARCH</h1>

      <div class="filter-section">
        <div class="filter-collapse" role="button" @click="(e) => {locationCollapsed = !locationCollapsed}">
          LOCATION
          <img :class="{'i-b collapse-arrow': true, 'options-open': !locationCollapsed}" v-svg-src="upArrowImg" role="button"/>
        </div>
        <div class="filter-container location" v-show="!locationCollapsed">
          <div class="section">
            <input
              placeholder="Enter one or more locations..."
              class="location-input"
              v-model="vm.searchPlace"
              v-gmaps-searchbox="vm"
            />
            <div class="selected-items">
              <div v-for="item, index in filters.locations">
                <span class="item">
                  <span class="remove-item" role="button" @click="removeItem('locations', index)">×</span>
                  {{item}}
                </span>
              </div>
            </div>
            <div class="radius-text"><span class="bold">Search within:</span> {{filters.location_radius}} <span class="semi-bold">miles</span></div>
            <div class="slider-container">
              <img v-svg-src="minusSign">
              <img v-svg-src="plusSign">
              <VueSlider
                v-model="filters.location_radius"
                :min="5"
                :max="500"
                :height="2"
                :dotSize="20"
                :interval="5"
                tooltip="hover"
                :sliderStyle="sliderStyles"
                :tooltipStyle="sliderTooltipStyles"
                :bgStyle="sliderBgStyles"
                :processStyle="sliderProcessStyles"
                :formatter="`${filters.location_radius} miles`"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="filter-section">
        <div class="filter-collapse" role="button" @click="(e) => {experienceCollapsed = !experienceCollapsed}">
          EXPERIENCE
          <img :class="{'i-b collapse-arrow': true, 'options-open': !experienceCollapsed}" v-svg-src="upArrowImg" role="button"/>
        </div>
        <div class="filter-container experience" v-show="!experienceCollapsed">

          <div class="section">
            <h2>Professional Title</h2>
            <input
              placeholder="Enter one or more titles..."
              class="title-input"
              v-model="models.title"
              @keydown.enter.prevent="addItem('title', 'titles')"
              @keydown.188.prevent="addItem('title', 'titles')"
              @keydown.9.prevent="addItem('title', 'titles')"
            />
            <CustomCheckbox label="Current role only" :customContainerStyles="checkboxContainerStyles" v-model="filters.current_title" />
            <div class="selected-items">
              <div v-for="item, index in filters.titles">
                <span class="item">
                  <span class="remove-item" role="button" @click="removeItem('titles', index)">×</span>
                  {{item}}
                </span>
              </div>
            </div>
          </div>

          <div class="section">
            <h2>Company</h2>
            <input
              placeholder="Enter one or more companies..."
              class="company-input"
              v-model="models.company"
              @keydown.enter.prevent="addItem('company', 'companies')"
              @keydown.188.prevent="addItem('company', 'companies')"
              @keydown.9.prevent="addItem('company', 'companies')"
            />
            <CustomCheckbox label="Current company only" :customContainerStyles="checkboxContainerStyles" v-model="filters.current_company" />
            <div class="selected-items">
              <div v-for="item, index in filters.companies">
                <span class="item">
                  <span class="remove-item" role="button" @click="removeItem('companies', index)">×</span>
                  {{item}}
                </span>
              </div>
            </div>
          </div>

          <div class="section">
            <h2>Time in Current Role</h2>
            <CustomSelect
              :items="durationItems"
              :onChange="durationChange"
              :selected="filters.role_duration.join(',')"
              :customStyles="selectStyles"
              :removeSelected="true"
            />
          </div>

          <div class="section">
            <h2>Years of Experience</h2>
            <CustomSelect
              :items="experienceItems"
              :onChange="experienceChange"
              :selected="filters.experience_duration.join(',')"
              :customStyles="selectStyles"
              :removeSelected="true"
            />
          </div>

        </div>
      </div>

      <div class="filter-section">
        <div class="filter-collapse" role="button" @click="(e) => {educationCollapsed = !educationCollapsed}">
          EDUCATION
          <img :class="{'i-b collapse-arrow': true, 'options-open': !educationCollapsed}" v-svg-src="upArrowImg" role="button"/>
        </div>
        <div class="filter-container education" v-show="!educationCollapsed">

          <div class="section">
            <h2>Minimum Education Level</h2>
            <CustomSelect
              :items="educationItems"
              :onChange="educationChange"
              :selected="filters.minimum_degree"
              :customStyles="selectStyles"
              :removeSelected="true"
            />
          </div>

          <div class="section">
            <h2>Field of study</h2>
            <input
              placeholder="Enter one or more fields..."
              class="study-input"
              v-model="models.study"
              @keydown.enter.prevent="addItem('study', 'fields_of_study')"
              @keydown.188.prevent="addItem('study', 'fields_of_study')"
              @keydown.9.prevent="addItem('study', 'fields_of_study')"
            />
            <div class="selected-items">
              <div v-for="item, index in filters.fields_of_study">
                <span class="item">
                  <span class="remove-item" role="button" @click="removeItem('fields_of_study', index)">×</span>
                  {{item}}
                </span>
              </div>
            </div>
          </div>

          <div class="section">
            <h2>School Name</h2>
            <input
              placeholder="Enter one or more schools..."
              class="school-input"
              v-model="models.school"
              @keydown.enter.prevent="addItem('school', 'institutions')"
              @keydown.188.prevent="addItem('school', 'institutions')"
              @keydown.9.prevent="addItem('school', 'institutions')"
            />
            <div class="selected-items">
              <div v-for="item, index in filters.institutions">
                <span class="item">
                  <span class="remove-item" role="button" @click="removeItem('institutions', index)">×</span>
                  {{item}}
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- not rendering social filters for now -->

      <div v-if="false" class="filter-section">
        <div class="filter-collapse" role="button" @click="(e) => {socialCollapsed = !socialCollapsed}">
          SOCIAL PROFILES
          <img :class="{'i-b collapse-arrow': true, 'options-open': !socialCollapsed}" v-svg-src="upArrowImg" role="button"/>
        </div>
        <div class="filter-container social" v-show="!socialCollapsed">
          <div class="section">
            <h2>Show Candidates With</h2>
            <CustomCheckbox :icon="phoneIcon" label="Phone Number" :customContainerStyles="checkboxContainerStyles" v-model="socialPhone" />
            <CustomCheckbox :icon="linkedinIcon" label="LinkedIn" :customContainerStyles="checkboxContainerStyles" v-model="socialLinkedIn" />
            <CustomCheckbox :icon="githubIcon" label="GitHub" :customContainerStyles="checkboxContainerStyles" v-model="socialGitHub" />
            <CustomCheckbox :icon="behanceIcon" label="Behance" :customContainerStyles="checkboxContainerStyles" v-model="socialBehance" />
            <CustomCheckbox :icon="facebookIcon" label="Facebook" :customContainerStyles="checkboxContainerStyles" v-model="socialFacebook" />
            <CustomCheckbox :icon="twitterIcon" label="Twitter" :customContainerStyles="checkboxContainerStyles" v-model="socialTwitter" />
            <CustomCheckbox :icon="socialIcon" label="Other Profiles" :customContainerStyles="checkboxContainerStyles" v-model="socialOther" />
          </div>
        </div>
      </div>

    </div>

    <span class="find-candidates" role="button" @click="findCandidatesHandler">
      <img v-svg-src="searchGlass">
      FIND CANDIDATES
    </span>

  </div>
</template>

<script>

import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import CustomSelect from 'components/FormElements/CustomSelect'

import { findCandidatesStore } from 'stores'
import VueSlider from 'vue-slider-component'

import upArrowImg from 'img/up-arrow.svg'
import searchGlass from 'img/find-candidates-search-glass.svg'
import plusSign from 'img/plus-sign.svg'
import minusSign from 'img/minus-sign.svg'
import phoneIcon from 'img/social/phone.svg'
import linkedinIcon from 'img/social/linkedin.svg'
import githubIcon from 'img/social/github.svg'
import behanceIcon from 'img/social/behance.svg'
import facebookIcon from 'img/social/facebook.svg'
import twitterIcon from 'img/social/twitter.svg'
import socialIcon from 'img/social/social.svg'

export default {
  components: {
    CustomCheckbox,
    CustomSelect,
    VueSlider
  },
  data () {
    return {
      upArrowImg,
      searchGlass,
      plusSign,
      minusSign,
      phoneIcon,
      linkedinIcon,
      githubIcon,
      behanceIcon,
      facebookIcon,
      twitterIcon,
      socialIcon,
      locationCollapsed: false,
      experienceCollapsed: true,
      educationCollapsed: true,
      socialCollapsed: true,
      findCandidatesStore: findCandidatesStore.get(),
      models: {
        title: '',
        company: '',
        study: '',
        school: ''
      },
      vm: {
        searchPlace: '',
        location: {},
        place: { id: null }
      },
      socialPhone: false,
      socialLinkedIn: false,
      socialGitHub: false,
      socialBehance: false,
      socialFacebook: false,
      socialTwitter: false,
      socialOther: false,
      durationItems: [
        { value: '', label: 'Any duration' },
        { value: '0,1', label: 'Less than a year' },
        { value: '1,2', label: '1 to 2 years' },
        { value: '3,5', label: '3 to 5 years' },
        { value: '6,10', label: '6 to 10 years' },
        { value: '10,0', label: 'More than 10 years' }
      ],
      experienceItems: [
        { value: '', label: 'Any duration' },
        { value: '0,1', label: 'Less than a year' },
        { value: '1,2', label: '1 to 2 years' },
        { value: '3,5', label: '3 to 5 years' },
        { value: '6,10', label: '6 to 10 years' },
        { value: '10,0', label: 'More than 10 years' }
      ],
      educationItems: [
        { value: false, label: 'Any education level' },
        { value: 'high_school', label: 'High school degree' },
        { value: 'associate', label: 'Associate’s degree' },
        { value: 'bachelor', label: 'Bachelor’s degree' },
        { value: 'master', label: 'Master’s degree' },
        { value: 'doctorate', label: 'Doctorate' }
      ],
      sliderStyles: {
        backgroundColor: '#ecebee',
        border: 'solid 3px #06d685'
      },
      sliderBgStyles: {
        backgroundColor: '#a8a8a8'
      },
      sliderTooltipStyles: {
        backgroundColor: '#ffffff',
        border: 'solid 2px #06d685',
        color: '#445870',
        borderRadius: '0px',
        width: '60px',
        whiteSpace: 'normal'
      },
      sliderProcessStyles: {
        backgroundColor: '#06d685'
      },
      checkboxContainerStyles: {
        display: 'block',
        'margin-top': '15px'
      },
      selectStyles: {
        'margin-top': '15px'
      }
    }
  },
  computed: {
    filters () {
      return this.findCandidatesStore.filters
    }
  },
  created () {

  },
  mounted () {
    // Remove any extra google maps location dropdown containers so they don't keep appending to the body
    $('.pac-container.pac-logo:not(:last)').remove()
  },
  watch: {
    'vm.place.id': {
      handler (newVal, oldVal) {
        this.getLocationName()
      },
      deep: true
    }
  },
  methods: {
    findCandidatesHandler () {
      // Add anything in the input fields to the filters
      $.each(this.models, (key, value) => {
        if (value != '') {
          switch (key) {
            case 'title':
              this.addItem('title', 'titles')
              break
            case 'company':
              this.addItem('company', 'companies')
              break
            case 'study':
              this.addItem('study', 'fields_of_study')
              break
            case 'school':
              this.addItem('school', 'institutions')
              break
          }
        }
      })
      if (this.vm.searchPlace != '') {
        this.addLocation()
      }
      this.findCandidates()
    },
    addItem (modelType, itemType) {
      this.models[modelType] = this.models[modelType].replace(/,/g, '')
      this.filters[itemType].push(this.models[modelType])
      this.models[modelType] = ''
    },
    removeItem (itemType, index) {
      this.filters[itemType].splice(index, 1)
    },
    addLocation () {
      this.filters.locations.push(this.vm.searchPlace)
      this.vm.searchPlace = ''
      this.vm.place.place_id = ''
    },
    getLocationName () {
      if (this.vm.place.place_id) {
        let city = ''
        let state = ''

        // Address components that come back aren't the same for every address, so need to loop
        // through them to find the data types we're looking for
        $(this.vm.place.address_components).each((index, value) => {
          if (value.types[0] === 'locality') {
            city = value.long_name
          } else if (value.types[0] === 'administrative_area_level_1') {
            state = value.short_name
          }
        })

        if (city || state) {
          this.vm.searchPlace = `${city}, ${state}`
        }

        this.addLocation()
      } else {
        this.addLocation()
      }
    },
    durationChange (item) {
      this.filters.role_duration = item.value.split(',')
    },
    experienceChange (item) {
      this.filters.experience_duration = item.value.split(',')
    },
    educationChange (item) {
      this.filters.minimum_degree = item.value
    }
  },
  props: {
    findCandidates: { required: true }
  }
}
</script>

<style lang="scss" scoped>
@import "~styles/variables";

.left-container {
  display: inline-block;
  width: $find-candidates-filters-width;
  height: 100%;

  .find-candidates-filters-container {
    vertical-align: top;
    display: inline-block;
    background-color: $white;
    box-shadow: 0 1px 2px 0 $dusty-gray;
    height: calc(100% - 69px);
    width: 100%;
    overflow-y: auto;

    h1 {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 2.2px;
      color: $dove-gray;
      margin: 25px 0px 15px 0px;
    }

    .filter-section {
      padding: 15px 0px;

      .filter-container {
        padding: 0px 18px;

        &.location {
          .section {
            margin-top: 0px;

            .slider-container {
              position: relative;
              img {
                position: absolute;
                top: 2px;
                background: $white;
                z-index: 2;

                &:nth-child(2) {
                  right: 0;
                }
              }
            }
          }
          .radius-text {
            margin: 20px 0px;
          }

        }

        .section {
          margin-top: 25px;

          h2 {
            margin-top: 15px;
            color: #535353;
            font-weight: 600;
          }

          span {
            &.bold {
              font-weight: 700;
            }
            &.semi-bold {
              font-weight: 600;
            }
          }

          input {
            width: 100%;
            margin-top: 15px;
          }

          .selected-items {
            margin-top: 20px;

            div {
              margin-bottom: 5px;

              &:last-child {
                margin-bottom: 0px;
              }

              .item {
                display: inline-block;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                border-radius: 2px;
                background-color: $half-baked;
                padding: 5px 10px;
                color: $white;
                font-size: 12px;
                letter-spacing: 1.2px;
                font-weight: 600;

                .remove-item {
                  display: inline-block;
                  transform: scale(1);
                  margin-right: 5px;

                  @include transition-sm-med-ease;

                  &:hover {
                    transform: scale(2);
                  }
                }
              }
            }

          }
        }

      }

    }

  }

  .find-candidates {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.8px;
    color: $white;
    padding: 24px 0px;
    width: calc(100% + 1px);
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    background-color: $turquoise;

    @include transition-sm-med-ease;

    &:hover {
      background-color: $half-baked;
    }

    img {
      vertical-align: middle;
      margin-right: 10px;
    }
  }

}

</style>
