<template>
  <div class="card-container">
    <CustomCheckbox v-if="candidate.id" :customContainerStyles="checkboxStyles" v-model="candidate.isChecked" />
    <span v-if="candidate.id" class="added">
      Added
      <img v-svg-src="greenCheckmark">
    </span>
    <div class="col one">
      <div class="content-container">
         <span class="profile" :style="profileImageStyle"></span>
      </div>
    </div>
    <div class="col two">
      <div class="content-container">
        <div :class="{'name': true, 'clickable': candidate.id ? true : false}" @click="nameClickHandler">
          {{candidateName}}
        </div>
        <div class="location">
          <img v-svg-src="locationImg" />
          {{candidate.candidate_profile.location}}
        </div>
        <div class="links-container">
          <a
            :href="!candidate.id && link.purchased_required ? 'javascript: void(0);' : link.url"
            :class="{'blurred':!candidate.id && link.purchased_required ? true : false}"
            target="_blank"
            :ref="!candidate.id && link.purchased_required ? `tooltip_${candidate.uuid}_${index}_link` : `${candidate.uuid}_${index}_link`"
            v-for="link, index in candidateLinks"
            v-if="index < 9"
            @click="clickHandler(link)"
          >
            <img v-svg-src="link.icon" />
          </a>
          <img v-if="candidateLinks.length > 9" v-svg-src="ellipseIcon">
        </div>
      </div>
    </div>
    <div class="col three">
      <div class="content-container">
        <CandidateExperience :experiences="candidate.candidate_profile.experience" :allExp="false" :showMoreClick="openExperienceModal" />
      </div>
    </div>
    <div class="col four">
      <div class="content-container">
        <span v-if="!candidate.id" class="add-now" role="button" @click="addCandidate">
          <img v-svg-src="addImg" />
          ADD NOW
        </span>
        <CustomSelect
          v-if="candidate.id"
          :items="dropdownItems"
          :onChange="candidateActionChange"
          :selected="selectedAction"
          :customStyles="dropdownStyles"
        />
      </div>
    </div>
  </div>
</template>

<script>

import CustomTextArea from 'components/FormElements/CustomTextArea'
import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import CustomSelect from 'components/FormElements/CustomSelect'

import accountPlaceholder from 'img/account-placeholder.svg'
import locationImg from 'img/candidates/location.svg'
import addImg from 'img/find-candidates/add-now-circle-plus.svg'
import jobIcon from 'img/find-candidates/work-history-briefcase.svg'
import expEllipse from 'img/find-candidates/work-history-more-ellipse.svg'
import emailIcon from 'img/find-candidates/candidate-card-social-icon-email.svg'
import socialIcon from 'img/find-candidates/candidate-card-social-icon-other-website.svg'
import phoneIcon from 'img/find-candidates/candidate-card-social-icon-phone.svg'
import linkedinIcon from 'img/find-candidates/candidate-card-social-icon-linkedin.svg'
import facebookIcon from 'img/find-candidates/candidate-card-social-icon-facebook.svg'
import githubIcon from 'img/find-candidates/candidate-card-social-icon-github.svg'
import behanceIcon from 'img/find-candidates/candidate-card-social-icon-behance.svg'
import twitterIcon from 'img/find-candidates/candidate-card-social-icon-twitter.svg'
import ellipseIcon from 'img/find-candidates/candidate-card-social-icon-more-ellipse.svg'
import greenCheckmark from 'img/find-candidates/added-smaller-check.svg'

import api from 'api'
import { accountStore, adminStore } from 'stores'
import { candidateHelper, addProtocol, profileImageStyle, tooltipHelper, candidateActions } from 'helpers'

import moment from 'moment'

export default {
  components: {
    CustomTextArea,
    CustomCheckbox,
    CustomSelect
  },
  mounted () {
    // Init all the tooltip elements
    $.each(this.$refs, (key, value) => {
      let check = key.split('_')[0]
      tooltipHelper.init(value)
      if (check == 'tooltip') {
        tooltipHelper.setContent(value, `Direct contact information for ${this.candidate.first_name} ${this.candidate.last_name} is revealed after you add them!`)
      } else {
        tooltipHelper.disable(value)
      }
    })
  },
  data () {
    return {
      greenCheckmark,
      ellipseIcon,
      locationImg,
      addImg,
      jobIcon,
      expEllipse,
      selectedAction: { value: 'select' },
      accountStore: accountStore.get(),
      adminStore: adminStore.get(),
      checkboxStyles: {
        position: 'absolute'
      },
      dropdownStyles: {
        margin: 'auto',
        width: '100%'
      }
    }
  },
  computed: {
    candidateName () {
      // TODO - blurr out the last name
      return `${this.candidate.first_name} ${this.candidate.last_name}`
    },
    candidateLinks () {
      // Here we order the array of links
      let links = []
      if (this.candidate.emails) {
        links.push({
          type: 'email',
          value: this.candidate.emails[0].address,
          url: `javascript: void(0);`,
          clickFunction: candidateActions.sendMessage.bind(this)
        })
      }
      if (this.candidate.phones) {
        links.push({
          type: 'phone',
          value: this.candidate.phones[0].number,
          url: `tel:${this.candidate.phones[0].number}`
        })
      }
      links = links.concat(this.candidate.candidate_profile.websites)

      // Map the links
      $.each(links, (index, link) => {
        switch (link.type.split('_')[0]) {
          case 'email':
            links[index].order = 1
            links[index].icon = emailIcon
            links[index].purchased_required = true
            break
          case 'phone':
            links[index].order = 2
            links[index].icon = phoneIcon
            links[index].purchased_required = true
            break
          case 'li':
            links[index].order = 3
            links[index].icon = linkedinIcon
            break
          case 'gh':
            links[index].order = 4
            links[index].icon = githubIcon
            break
          case 'be':
            links[index].order = 5
            links[index].icon = behanceIcon
            break
          case 'fb':
            links[index].order = 6
            links[index].icon = facebookIcon
            break
          case 'tw':
            links[index].order = 7
            links[index].icon = twitterIcon
            break
          default:
            links[index].order = 8
            links[index].icon = socialIcon
            break
        }
      })

      // Reorder links
      links.sort((a, b) => {
        return a.order - b.order
      })

      return links
    },
    experiences () {
      return this.candidate.candidate_profile.experience.slice(0, 2)
    },
    dropdownItems () {
      let actions = [
        { value: 'select', label: 'Select Action' },
        { value: 'profile', label: 'View / Edit Profile' },
        { value: 'message', label: 'Send Message Now' },
        { value: 'add-to-list', label: 'Add to List' },
        { value: 'add-to-sequence', label: 'Add to Sequence' },
        { value: 'pause-messages', label: 'Pause Messages' },
        { value: 'resume-messages', label: 'Resume Messages' },
        { value: 'clear-messages', label: 'Clear Messages' },
        // TODO:
        // {value: "merge", label: "Merge Candidate"},
        { value: 'delete-candidates', label: 'Delete Candidate' }
      ]
      if (this.adminStore.is_system_admin) {
        actions.push({ value: 'find', label: 'Find Personal Info' })
      }
      return actions
    },
    checkedCandidates () {
      // Just a way to keep API calls consistent with bulk actions
      return [this.candidate.id]
    },
    profileImageStyle () {
      return profileImageStyle(this.candidate.profile_photo_url, accountPlaceholder)
    },
    addressCityState () {
      return candidateHelper.getCityState(this.candidate)
    },
    linkedinUrl () {
      return addProtocol(this.candidate.linkedin_url)
    }
  },
  watch: {
    'candidate.id': {
      handler (newVal, oldVal) {
        if (newVal) {
          $.each(this.$refs, (key, value) => {
            tooltipHelper.disable(value)
          })
        }
      }
    }
  },
  methods: {
    openExperienceModal () {
      candidateHelper.openExperienceModal.apply(this)
    },
    addCandidate () {
      let request = $.extend(true, {}, this.candidate)
      delete request.candidate_profile
      request.status = 'pending'
      request.lead_source = 'purchased_happie'
      api.ajax('candidates', {
        type: 'POST',
        data: request
      })
      .done((response) => {
        console.log('response adding candidate ', response)
        this.candidate.id = response.id
      })
      .fail((e) => {
        console.error('failed adding candidate ', e)
      })
    },
    clickHandler (link) {
      if (link.clickFunction && this.candidate.id) {
        link.clickFunction()
      }
    },
    nameClickHandler () {
      if (this.candidate.id) {
        candidateHelper.openCandidateModal.apply(this, [this.candidate.id])
      }
    },
    expRange (exp) {
      let end = exp.end ? moment(exp.end).format('YYYY') : 'Current'
      return `${moment(exp.start).format('YYYY')} - ${end}`
    },
    openDropdown () {
      this.$refs.customSelect.open()
    },

    /* Bulk Candidate Actions */
    candidateActionChange (e) {
      let action = e.value
      switch (action) {
        case 'profile':
          candidateHelper.openCandidateModal.apply(this, [this.candidate.id])
          break
        case 'message':
          candidateActions.sendMessage.apply(this)
          break
        case 'pause-messages':
          candidateActions.pauseMessages.apply(this)
          break
        case 'resume-messages':
          candidateActions.resumeMessages.apply(this)
          break
        case 'clear-messages':
          candidateActions.clearMessages.apply(this)
          break
        case 'export':
          candidateActions.export.apply(this)
          break
        case 'add-to-list':
          candidateActions.addToList.apply(this)
          break
        case 'add-to-sequence':
          candidateActions.addToSequence.apply(this)
          break
        case 'delete-candidates':
          candidateActions.deleteCandidate.apply(this)
          break
        case 'find':
          candidateActions.findPersonalInfo.apply(this)
          break
        default:
          break
      }

      // Reset dropdown after selecting
      this.selectedAction = { value: 'select' }
    }
  },
  props: {
    candidate: { required: true }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .card-container {
    height: 160px;
    position: relative;
    width: 100%;
    background: $white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    padding: 10px;

    .added {
      position: absolute;
      right: 10px;
      color: #33d167;

      img {
        margin-left: 9px;
        vertical-align: middle;
      }
    }

    .col {
      text-align: center;
      display: inline-block;
      vertical-align: middle;

      &.one {
        width: 15%;
        padding: 25px 0px;

        .content-container{
          display: inline-block;
          width: 100px;
        }

        .profile {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 100%;
          border: solid 1px $mystic;
          display: inline-block;
          border-radius: 50%;
          width: 95px;
          height: 95px;
        }
      }

      &.two {
        width: 25%;

        .content-container{
          display: inline-block;
          width: 175px;
        }

        .name {
          font-size: 16px;
          font-weight: bold;
          color: #4a90e2;
          text-align: left;

          &.clickable {

            @include transition-sm-med-ease;

            &:hover {
              color: #3e79be;
              text-decoration: underline;
            }
          }
        }
        .location {
          margin-top: 7px;
          text-align: left;
          font-size: 14px;
          font-weight: 300;
          color: #535353;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
          display: inline-block;

          img {
            vertical-align: middle;
          }
        }
        .links-container {
          margin-top: 7px;
          text-align: left;

          a {
            display: inline-block;
            margin-bottom: 10px;
            margin-right: 15px;

            &.blurred {
              opacity: 0.3;
            }
          }
        }
      }

      &.three {
        width: 35%;

        .content-container{
          display: inline-block;
          width: 200px;
        }

        // All experience styles are in the component
      }

      &.four {
        width: 25%;

        .content-container{
          display: inline-block;
          width: 100%;
        }

        .add-now {
          border-radius: 2px;
          background-color: $shamrock;
          padding: 13px 18px;
          color: $white;
          font-size: 14px;
          letter-spacing: 1.8px;

          @include transition-sm-med-ease;

          img {
            vertical-align: middle;
            margin-right: 15px;
          }

          &:hover {
            background-color: $shamrock-hover;
          }
        }
      }
    }
  }

</style>
