<template>
  <div class="app-container">
    <Loader :loader-visible="loaderVisible" />
    <CustomHeader />
    <Banner />
    <router-view></router-view>
  </div>
</template>

<script>
import Banner from 'components/Banner'
import Loader from 'components/Loader'
import CustomHeader from 'components/Header'

export default {
  components: {
    Banner,
    Loader,
    CustomHeader
  },
  created () {

  },
  computed: {
  },
  methods: {
  },
  props: ['loaderVisible', 'debugMode']
}
</script>

<style lang="sass">
  @import "~styles/variables";


</style>
