<template>
  <div class="find-candidates-container">

    <FindCandidatesFilters :findCandidates="findCandidates" />

    <div class="panel-container" ref="container" @scroll="containerScroll">

      <!-- NOTE: hiding the search bar for now -->

      <div v-if="false" class="search-bar-container">
        <div class="input-container">
          <input v-model="findCandidatesStore.query.q" type="text" class="search-input" placeholder="Search for candidates using their names, titles, companies, schools, and more..." @keyup.enter="querySearch">
          <span class="search-btn" role="button" @click="querySearch"></span>
        </div>
        <div class="search-text">Find candidates like a sourcing ninja — <a href="#" target="_blank">Learn More</a></div>
      </div>
      <div class="start-search" v-if="firstSearch && !candidates.length">
        <h1>Start your search &amp; find the right candidates, like magic!</h1>
        <img v-svg-src="makeMagic">
      </div>
      <div v-if="candidates.length || !firstSearch" class="search-container">
        <div class="top-section">
          <div class="col-1">
            <CustomSelect
              :items="bulkActionItems"
              :onChange="bulkActionChange"
              :selected="selectedBulkAction"
              :customStyles="dropdownStyles"
            />
          </div>
          <div class="col-2">
            <span class="view-added" role="button" @click="viewAdded">
              <img v-svg-src="whiteCheckMark">
              VIEW ADDED
            </span>
          </div>
          <div class="select-all-container">
            <div class="total-container"><b>TOTAL:</b> {{findCandidatesStore.query.total_count}} CANDIDATES</div>
            <CustomCheckbox label="Select all" :onChange="selectAllClick" />
          </div>
        </div>

        <div class="candidates-container">
          <FindCandidatesCard v-for="candidate, index in candidates" :candidate="candidate" />
        </div>

        <CandidateLoader ref="loader" :loadingStatus="loadingStatus" :loadHandler="loadMore" />

      </div>
    </div>

  </div>
</template>

<script>

import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import CustomSelect from 'components/FormElements/CustomSelect'
import FindCandidatesFilters from './FindCandidatesFilters'
import FindCandidatesCard from './FindCandidatesCard'
import CandidateLoader from 'components/Sections/Candidates/CandidateLoader'

import { inViewport, alerts, candidateActions } from 'helpers'
import { adminStore, findCandidatesStore, candidatesStore } from 'stores'
import api from 'api'

import makeMagic from 'img/make-magic.svg'
import whiteCheckMark from 'img/find-candidates/view-added-check.svg'

export default {
  components: {
    FindCandidatesFilters,
    CustomSelect,
    CustomCheckbox,
    FindCandidatesCard,
    CandidateLoader
  },
  data () {
    return {
      makeMagic,
      whiteCheckMark,
      firstSearch: true,
      loadingStatus: 'done', // `done`, `loading`, or `end`,
      adminStore: adminStore.get(),
      findCandidatesStore: findCandidatesStore.get(),
      selectedBulkAction: { value: 'default' },
      dropdownStyles: {
        display: 'inline-block',
        width: '225px'
      }
    }
  },
  computed: {
    candidates () {
      return this.findCandidatesStore.candidates
    },
    checkedCandidates () {
      let checked = []
      $.each(this.candidates, (key, value) => {
        // Make sure the candidate has been purchased, it will have an id
        // TODO: we will need to explain this to the user in some way
        if (value.isChecked && value.id) {
          // TODO: Modify if we ever need something more than the id here
          checked.push(value.id)
        }
      })

      return checked
    },
    bulkActionItems () {
      let actions = [
        { value: 'default', label: `Bulk Actions (${this.checkedCandidates.length} candidates)` },
        { value: 'message', label: 'Send Message Now' },
        { value: 'add-to-list', label: 'Add to List' },
        { value: 'add-to-sequence', label: 'Add to Sequence' },
        { value: 'pause-messages', label: 'Pause Messages' },
        { value: 'resume-messages', label: 'Resume Messages' },
        { value: 'clear-messages', label: 'Clear Messages' },
        { value: 'export', label: 'CSV Export' },
        { value: 'delete-candidates', label: 'Delete Candidates' }
      ]
      if (this.adminStore.is_system_admin) {
        actions.push({ value: 'find', label: 'Find Personal Info' })
      }
      return actions
    },
    filters () {
      // Map all the filters so they are ready to POST to the api
      let filters = $.extend(true, {}, this.findCandidatesStore.filters)
      $.each(filters, (key, value) => {
        if (Array.isArray(value)) {
          if (!value.length) {
            delete filters[key]
          } else if (key == 'role_duration' || key == 'experience_duration') {
            value[0] == '' ? delete filters[key] : filters[key] = value.map((x) => { return parseInt(x) })
          }
        }
        if (value === false) {
          delete filters[key]
        }
      })
      return filters
    }
  },
  created () {

  },
  mounted () {
    // Remove any extra google maps location dropdown containers so they don't keep appending to the body
    $('.pac-container.pac-logo:not(:last)').remove()
  },
  watch: {

  },
  methods: {
    viewAdded () {
      candidatesStore.clearFilters()
      candidatesStore.get().filters.sources = 'purchased_happie'
      this.$router.push({ path: '/outreach/candidates' })
    },
    querySearch () {
      // NOTE: when we turn back on the search bar, this will need to be refactored

      let newFilters = {
        free_form: this.findCandidatesStore.query.q
      }

      // TODO: need filters to v-model the store so I can grab location

      findCandidatesStore.set('filters', newFilters)
      this.loadingStatus = 'loading'
      this.firstSearch = false

      api.ajax('candidates/search', {
        type: 'POST',
        data: this.filters
      })
      .done((response) => {
        console.log('response finding candidates ', response)

        if (!response.candidates) {
          response.candidates = []
        }

        $.each(response.candidates, (index, value) => {
          value.id = 0
          value.isChecked = false
        })

        findCandidatesStore.set('candidates', response.candidates)
        findCandidatesStore.set('query', response.query)

        if (this.candidates.length == response.query.total_count) {
          this.loadingStatus = 'end'
        } else {
          this.loadingStatus = 'done'
        }

        // Call the same function as our scroll in case our lazy loader container is already in the viewport (after a render)
        setTimeout(() => {
          this.containerScroll()
        })
      })
      .fail((e) => {
        console.error('failed finding candidates ', e)
      })
    },
    findCandidates () {
      this.filters.offset = 0
      console.log(this.filters)

      this.loadingStatus = 'loading'
      this.firstSearch = false

      api.ajax('candidates/search', {
        type: 'POST',
        data: this.filters
      })
      .done((response) => {
        console.log('response finding candidates ', response)

        if (!response.candidates) {
          response.candidates = []
        }

        $.each(response.candidates, (index, value) => {
          if (!value.id) {
            value.id = 0
          }
          value.isChecked = false
        })

        findCandidatesStore.set('candidates', response.candidates)
        findCandidatesStore.set('query', response.query)

        if (this.candidates.length == response.query.total_count) {
          this.loadingStatus = 'end'
        } else {
          this.loadingStatus = 'done'
        }

        // Call the same function as our scroll in case our lazy loader container is already in the viewport (after a render)
        setTimeout(() => {
          this.containerScroll()
        })
      })
      .fail((e) => {
        console.error('failed finding candidates ', e)
        this.loadingStatus = 'end'
        alerts.show({
          message: 'Oops! There was an error searching, sorry for the inconvenience. Please refresh the page and try again!',
          status: 'error'
        })
      })
    },
    containerScroll () {
      // TODO: Make sure this doesn't cause performance problems, might want to debounce
      let loaderVisible = inViewport(this.$refs.container, 0)

      if (loaderVisible && (this.loadingStatus === 'done')) {
        this.loadMore()
        this.loadingStatus = 'loading'
      }
    },
    loadMore () {
      this.filters.offset = this.candidates.length
      this.loadingStatus = 'loading'

      api.ajax('candidates/search', {
        type: 'POST',
        data: this.filters
      })
      .done((response) => {
        console.log('response finding candidates ', response)

        if (!response.candidates) {
          response.candidates = []
        }

        $.each(response.candidates, (index, value) => {
          value.id = 0
          value.isChecked = false
        })

        findCandidatesStore.set('candidates', this.candidates.concat(response.candidates))
        findCandidatesStore.set('query', response.query)

        if (this.candidates.length == response.query.total_count) {
          this.loadingStatus = 'end'
        } else {
          this.loadingStatus = 'done'
        }
      })
      .fail((e) => {
        console.error('failed finding candidates ', e)
        this.loadingStatus = 'end'
        alerts.show({
          message: 'Oops! There was an error searching, sorry for the inconvenience. Please refresh the page and try again!',
          status: 'error'
        })
      })
    },
    selectAllClick (e) {
      $.each(this.candidates, (key, value) => {
        value.isChecked = e.target.checked
      })
    },
    bulkActionChange (e) {
      let action = e.value
      switch (action) {
        case 'message':
          candidateActions.sendMessage.apply(this)
          break
        case 'pause-messages':
          candidateActions.bulkPauseMessages.apply(this)
          break
        case 'resume-messages':
          candidateActions.bulkResumeMessages.apply(this)
          break
        case 'clear-messages':
          candidateActions.bulkClearMessages.apply(this)
          break
        case 'export':
          candidateActions.export.apply(this)
          break
        case 'add-to-list':
          candidateActions.bulkAddToList.apply(this)
          break
        case 'add-to-sequence':
          candidateActions.bulkAddToSequence.apply(this)
          break
        case 'delete-candidates':
          candidateActions.deleteCandidates.apply(this)
          break
        case 'find':
          candidateActions.findPersonalInfo.apply(this)
          break
        default:
          break
      }

      // Reset dropdown after selecting
      this.selectedBulkAction = { value: 'default' }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~styles/variables";

.find-candidates-container {
  width: 100%;
  height: calc(100% - #{$total-header-height});

  .panel-container {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - #{$find-candidates-filters-width});
    height: 100%;
    overflow-y: auto;

    .search-bar-container {
      padding: 15px 20px;
      background-color: $violet;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);

      .input-container {
        position: relative;
        input {
          width: 100%;
          font-size: 16px;
        }
        .search-btn {
          display: inline-block;
          position: absolute;
          right: 0;
          width: 40px;
          height: 40px;
          border-radius: 0px 4px 4px 0px;
          background-color: $border-gray;
          background-image: url('~img/find-candidates-search-glass.svg');
          background-repeat: no-repeat;
          background-position: center center;

          @include transition-sm-med-ease;

          &:hover {
            background-color: #c6ced5;
          }
        }
      }

      .search-text {
        margin-top: 15px;
        color: $white;
        text-align: center;
        font-size: 14px;

        a {
          color: $white;
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }

    .start-search {
      margin-top: 35px;
      text-align: center;

      h1 {
        font-size: 24px;
        color: $dove-gray;
        font-weight: 400;
      }

      img {
        margin-top: 50px;
      }
    }

    .search-container {
      padding: 20px;

      .col-1 {
        vertical-align: middle;
        display: inline-block;
        text-align: left;
        width: 50%;
      }
      .col-2 {
        vertical-align: middle;
        display: inline-block;
        text-align: right;
        width: 50%;
      }

      .select-all-container {
        margin-top: 20px;

        .total-container {
          display: inline-block;
          float: right;
          font-size: 14px;
          letter-spacing: 1.8px;
          color: $fiord;
        }
      }

      .view-added {
        padding: 13px 18px;
        border-radius: 2px;
        background-color: $havelock;
        color: $white;
        font-size: 14px;
        letter-spacing: 1.8px;
        text-align: left;
        color: $white;

        @include transition-sm-med-ease;

        img {
          vertical-align: middle;
          margin-right: 15px;
        }

        &:hover {
          background-color: #3e79be;
        }
      }

      .candidates-container {
        margin-top: 20px;

        .card-container {
          margin-bottom: 15px;
        }
      }
    }
  }
}

</style>
