<template>
  <div id="app">
    <!-- Base.vue -->
    <router-view
      :loader-visible="loaderVisible"
      :debug-mode="debugMode">
    </router-view>
    <ModalContainer />
    <div v-if="metadataStore.buildMismatch" class="build-alert">
      Updates have been made to the site! Please save any changes and then <span role="button" @click="pageReload">refresh</span> the page.
    </div>
  </div>
</template>

<script>
import api from 'api'
import * as stores from 'stores'
import { appInitializer, candidateHelper, modals } from 'helpers'
import ModalContainer from 'components/Modals/ModalContainer'

// To include favicon in bundle
import 'img/favicon.ico'

export default {
  components: {
    ModalContainer
  },
  created () {
    // Check if we are in e2e testing mode, if we are, wait for the token to be set
    if (this.$route.query.e2e_testing_mode) {
      this.$router.replace({ query: {} })
      window.e2e_testing_mode = true
      let e2eInterval = setInterval(() => {
        if (stores.authStore.getToken()) {
          clearInterval(e2eInterval)
          this.checkLoggedIn()
        }
      }, 100)
    } else {
      // On app load, see if we are logged in, and if not redirect to login screen and set redirect link
      this.checkLoggedIn()
      api.registerShowLoaderCallback((visible) => {
        this.loaderVisible = visible
      })
    }

    // Init stores
    stores.userPreferencesStore.init()

    // Check param to set debug mode
    // TODO: Consolidate with "environment metadata"
    if (this.$route.query.debug) {
      this.debugMode = true
      stores.metadataStore.setDebugMode(true)
      api.setDebug(true)

      // Expose stores to global context
      window.stores = stores
    }

    // Check if we need to open a candidate modal
    if (this.$route.query.candidate) {
      const id = this.$route.query.candidate
      this.$nextTick(() => {
        candidateHelper.openCandidateModal.apply(this, [id])
      })
    }

    // Check the build sha every 10 minutes
    setInterval(this.checkBuildSha, 600000)
  },
  mounted () {
    // On app mount, load intercom
    window.Intercom('boot', {
      app_id: 'uxfd017v'
    })

    // Pretty hacky way to ensure the localStorage is correct when admins are impersonating in multiple tabs
    $(window).focus((e) => {
      if (this.accountStore.account.token) stores.authStore.setToken(this.accountStore.account.token)
    })
  },
  data () {
    return {
      loaderVisible: false,
      debugMode: false,
      accountStore: stores.accountStore.get(),
      metadataStore: stores.metadataStore.get()
    }
  },
  computed: {
  },
  watch: {
    'metadataStore.buildMismatch': {
      handler (val) {
        if (this.metadataStore.buildMismatch && !this.metadataStore.hasUnsavedChanges) {
          modals.show({
            component: 'Confirm',
            props: {
              message: 'Updates have been made to the site! Would you like refresh the page now?',
              confirm: this.pageReload
            }
          })
        }
      }
    }
  },
  methods: {
    pageReload () {
      window.location.reload()
    },
    checkLoggedIn () {
      if (stores.authStore.getToken()) {
        // Router will automatically redirect to login if this returns 401
        api.ajax('users/verify-login')
        .done((response) => {
          appInitializer.init(response)
        })
      } else {
        // Redirect to login if we're not already at login or authenticating or on unsubscribe page
        if (this.$route.path.indexOf('login') === -1 &&
        this.$route.path.indexOf('access_token=') === -1 &&
        this.$route.path.indexOf('unsubscribe') === -1) {
          this.$router.replace({ path: '/login' })
        }
      }
    },
    checkBuildSha () {
      api.ajax('build/get-sha')
      .done((response) => {
        if (response !== this.metadataStore.build_sha) {
          stores.metadataStore.set('buildMismatch', true)
        }
      })
    }
  }
}
</script>

<style src='../styles/shared.scss' lang='scss'></style>
<style lang="scss" scoped>
  @import "~styles/variables";

  .build-alert {
    position: fixed;
    text-align: center;
    background-color: $danger-hover;
    color: $white;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;

    span {
      text-decoration: underline;
    }
  }
</style>
