<template>
  <div class="top-banner">
    <span class="i-b"><b>invite</b></span>
    <img class="i-b add-button" v-svg-src="circlePlusImg" alt="add" role="button" @click="addClick"></img>
    <router-link :to="{path: `/outreach/settings/users`, query: $route.query}" v-for="user in limitedUsers">
      <span class="i-b profile" :style="getProfilePhotoStyle(user.profile_photo_url)" alt="profile" role="button"></span>
    </router-link>
    <span class="i-b profile-count" v-if="users.length > 3">+{{users.length - 3}}</span>
    <!-- Hide Button until we have freemium options -->
    <AttentionButton class="float-right" text="Get 2 Months for Free" v-if="false"></AttentionButton>
    <span v-if="adminStore.is_impersonating" class="impersonating-container float-right">
      <span class="info">Impersonating:</span>
      <span class="company">
        <img v-svg-src="companyImg">
        <span class="name">{{accountStore.account.company.name}}</span>
      </span>
      <span class="org">
        <img v-svg-src="organizationImg">
        <span class="name">{{accountStore.account.current_organization.name}}</span>
      </span>
    </span>
  </div>
</template>

<script>
import AttentionButton from 'components/FormElements/AttentionButton'

import { usersStore, adminStore, accountStore } from 'stores'
import { modals, profileImageStyle } from 'helpers'

import circlePlusImg from 'img/circle-plus.svg'
import companyImg from 'img/company-circle.svg'
import organizationImg from 'img/organization-circle.svg'

export default {
  components: {
    AttentionButton
  },
  computed: {
    users () {
      return this.usersStore.users
    },
    limitedUsers () {
      // Copy so we don't modify store object
      let users = this.users.slice()
      if (users.length > 3) {
        users.length = 3
      }

      return users
    }
  },
  data () {
    return {
      usersStore: usersStore.get(),
      accountStore: accountStore.get(),
      adminStore: adminStore.get(),
      circlePlusImg,
      companyImg,
      organizationImg
    }
  },
  methods: {
    addClick () {
      modals.show({
        component: 'SettingsUsersPanel',
        props: {
          containerStyles: { width: '535px' },
          hideList: true
        }
      })
    },
    getProfilePhotoStyle (url) {
      return profileImageStyle(url)
    }
  }
}
</script>

<style lang='scss' scoped>
@import "~styles/variables";

.top-banner {
  height: $banner-height;
  letter-spacing: .23rem;

  font-size: 1.8rem;

  padding: 0 4rem;

  background-color: $tundora;
  color: $white;

  clear: both;
}

span {
  font-weight: 900;
  text-transform: uppercase;
}

.add-button {
  margin: 0 0.5em 0 2.0em;
}

.profile {
  height: 42px;
  width: 42px;

  border-radius: 50%;
  border: 1px solid $white;

  background-size: cover;
  background-position: center center;

  margin: 0 0.5em;
  @include v-align();

}

.profile-count {
  border: 1px solid $turquoise;
  color: $turquoise;
  padding: 1.0rem;
  border-radius: 50%;
  font-weight: 300;
  margin: 0 0.5em
}

img, button, span {
  @include v-align();
}

[role="button"], button {
  @include grow-hover();
  &:hover {
    transform: translateY(-50%) scale(1.1);
  }
}

.impersonating-container {
  font-size: 14px;
  .info {
    text-transform: none;
    margin-right: 20px;
  }
  .company {
    margin-right: 20px;
  }
  img {
    vertical-align: middle;
    margin-top: 20px;
    margin-right: 10px;
  }
  .name {
    display: inline-block;
    max-width: 200px;
    top: 8px;
    @include text-ellipsis
  }
}
</style>
