<template>
  <header>
    <nav>
      <img v-svg-src="happieLogo" role="button"></img>
      <router-link v-for="route in routes" :to="route.to">{{route.label}}</router-link>
      <div class="header-select-aligner company-select">
        <HeaderSelect type="company" />
        <HeaderSelect type="account" />
      </div>
    </nav>
  </header>
</template>

<script>
import AttentionButton from 'components/FormElements/AttentionButton'
import HeaderSelect from 'components/FormElements/HeaderSelect'

import { organizationStore, accountStore, adminStore } from 'stores'

import happieLogo from 'img/happie-logo.svg'

export default {
  components: {
    AttentionButton,
    HeaderSelect
  },
  computed: {
    routes () {
      let routes = [
        // NOTE: hiding link for now until we re-visit it
        // {label: "Find Candidates", to: {path: `/find-candidates`, query: this.$route.query}},
        { label: 'Reports', to: { path: `/reports`, query: this.$route.query } },
        { label: 'Outreach', to: { path: `/outreach`, query: this.$route.query } },
        { label: 'Pages', to: { path: `/pagebuilder`, query: this.$route.query } }
      ]
      if (this.organizationStore.organization.sms_enabled) {
        routes.push({ label: 'Messaging', to: { path: `/inbox`, query: this.$route.query } })
      }
      if (this.accountStore.account.is_sourced_req_admin) {
        routes = [
          { label: 'Home', to: { path: `/outreach`, query: this.$route.query } },
          { label: 'Messaging', to: { path: `/inbox`, query: this.$route.query } }
        ]
      }
      if (this.accountStore.account.is_transactional) {
        routes = [
          { label: 'Home', to: { path: `/outreach`, query: this.$route.query } },
          { label: 'Pages', to: { path: `/pagebuilder`, query: this.$route.query } },
          { label: 'Reports', to: { path: `/reports`, query: this.$route.query } }
        ]
      }
      return routes
    }
  },
  data () {
    return {
      happieLogo,
      organizationStore: organizationStore.get(),
      accountStore: accountStore.get(),
      adminStore: adminStore.get()
    }
  },
  methods: {
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  header {
    height: $header-height;
    letter-spacing: .23rem;

    font-size: 1.8rem;

    padding: 0.8rem 4rem;

    background-color: $white;
    clear: both;
  }

  nav {
    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 4.3rem;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      margin-right: 3%;

      padding: 8px 10px;

      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 800;
      letter-spacing: 2.3px;

      // To keep consistent spacing, add white underline
      border-bottom: 3px solid $white;

      color: $dove-gray;

      @include transition-sm-ease();

      &.router-link-active, &:hover, &:focus {
        color: $turquoise;
        border-bottom: 3px solid $half-baked;
      }
    }
  }

  .header-select-aligner {
    float: right;
    width: auto;
    height: 1px;
    position: relative;
  }


</style>
