<template>
  <div class="login-container">
    <Loader :loader-visible="loaderVisible" />
  </div>
</template>

<script>
import Loader from 'components/Loader'
import Auth0Lock from 'auth0-lock'
import { authStore, adminStore } from 'stores'
import api from 'api'

import logo from 'img/happie-login.png'
import { alerts, appInitializer } from 'helpers'

export default {
  components: {
    Loader
  },
  computed: {
  },
  data () {
    return {
      loaderVisible: false,
      lock: {},
      clientId: '7VjjgoETZpxO6RHJbDXFFPnCqPlZjGxb',
      domain: 'happie.auth0.com'
    }
  },
  mounted () {
    let options = {
      auth: {
        responseType: 'token'
      },
      closable: false,
      languageDictionary: {
        title: 'Welcome'
      },
      theme: {
        logo: logo,
        primaryColor: '#50e3c2'
      },
      allowLogin: true,
      allowSignUp: false
    }

    // If "action" param sent in to route, handle appropriately
    if (this.$route.params) {
      if (this.$route.params.action && this.$route.params.action === 'logout') {
        this._logout()
      } else if (this.$route.params.action) {
        // Assume it is an invite code
        authStore.setInviteToken(this.$route.params.action)
        console.log(this.$route.params.action)
        this.$router.replace({ path: '/login' })
        options.allowLogin = false
        options.allowSignUp = true
      }
    }

    this.lock = new Auth0Lock(this.clientId, this.domain, options)
    this.lock.on('authenticated', this._doAuthentication.bind(this))
    this.lock.show()
  },
  beforeDestroy () {
    this.lock.hide()
  },
  methods: {
    _doAuthentication (authResult) {
      // Authenticate with Happie servers with idToken, then redirect
      this.loaderVisible = true
      this.lock.hide()

      this.lock.getUserInfo(authResult.accessToken, (error, profile) => {
        if (error) {
          console.error('error getting profile ', error)
        } else {
          if (!profile.email_verified) {
            authStore.setAuth0Token(profile.user_id)
            this.$router.push({ path: '/not-verified' })
          } else {
            let url = 'users/login'
            let data = {
              auth0_id: profile.user_id
            }

            // Check if there's an invite code
            let code = authStore.getInviteToken()
            if (code) {
              data.invitation_code = code

              // TODO: maybe put the token reset after they successfully login?
              authStore.setInviteToken('')
            }

            api.ajax(url, {
              type: 'POST',
              data: data
            })
            .done((response) => {
              authStore.setToken(response.token)

              // Grab the account variables
              api.ajax('users/verify-login')
              .done((response) => {
                appInitializer.init(response)
                adminStore.set('is_impersonating', false)
                // Redirect if we have a saved path to redirect to, and make sure it's not going back to login
                let redirectPath = authStore.getRedirectPath()

                if (redirectPath && redirectPath.indexOf('login') === -1) {
                  authStore.resetRedirectPath()
                  this.$router.replace({ path: redirectPath })
                } else {
                  this.$router.replace({ path: 'outreach' })
                }
              })
            })
            .fail((error) => {
              console.log('error logging into happie: ', error)
              this.lock.show()
              alerts.show({
                status: 'error',
                message: "Uh oh! It looks like you tried to log in with info that we don't recognize. Please check your welcome email to make certain that you log in the same way that you joined."
              })
              // Clear localStorage (which includes auth0 token) on a failed login so user can try again with a different google/linkedIn account
              localStorage.clear()
            })
            .always(() => {
              this.loaderVisible = false
            })
          }
        }
      })
    },
    _logout () {
      authStore.logout()
      this.$router.replace({ path: '/login' })
    }
  }
}
</script>

<style lang="scss">
  @import "~styles/variables";

  // Custom style overrides
  .auth0-lock-container {

    // TODO: Not sure why they have double class identifiers, ensure these styles properly override
    .auth0-lock.auth0-lock {
      font-family: 'Open Sans', sans-serif;
      z-index: 10399;

      .auth0-lock-form .auth0-lock-alternative .auth0-lock-alternative-link {
        color: $shamrock;
        font-weight: 600;
      }

      .auth0-lock-tabs li.auth0-lock-tabs-current {
        box-shadow: 0 3px 0 0 $havelock;
      }

      .auth0-lock-submit .auth0-label-submit {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.8px;
      }

      .auth0-lock-submit {
        svg {
          display: none;
        }
      }

      .auth0-lock-widget {
        box-shadow: 0 0 6px 0 $dove-gray !important;
      }

      .auth0-lock-overlay {
        background: $alto;
      }

      .auth0-lock-name {
        color: $dove-gray;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
      }

    }

  }

</style>
