<template>
	<div class="content-container">
    <img class="happie-logo" v-svg-src="logoImg" alt="Happie Logo" />
    <img v-svg-src="formFactorImg" alt="Desktop and Laptop" />
    <div class="error-message">
      <h1>Please log in using your computer.</h1>
      <h2>Happie is best experienced on your laptop or desktop browser.</h2>
    </div>
	</div>
</template>

<script>
import logoImg from 'img/happie-logo.svg'
import formFactorImg from 'img/desktop-laptop.svg'

export default {
  data () {
    return {
      logoImg,
      formFactorImg
    }
  }
}
</script>

<style lang="scss" scoped>
  .content-container {
    padding: 24px;
    text-align: center;

    img {
      display: block;
      margin: 0 auto 33px;
    }
  }

  .happie-logo {
    width: 100px;
  }

.error-message {

  h1 {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2.3px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.2px;
  }
}
</style>
