<template>
	<div class="content-container">
    <img class="logo" v-svg-src="happieLogo" />
		<h1>Please check your email inbox for your verification email<br>and click the link inside to verify and log in to your account.</h1>
    <img v-svg-src="lockImg">
    <br>
    <span :class="{'send-verify': true, 'disabled': disabledButton}" role="button" @click="sendVerificationEmail">Resend Verification Email</span>
	</div>
</template>

<script>

import happieLogo from 'img/happie-logo.svg'
import lockImg from 'img/verify-lock.svg'
import { authStore } from 'stores'
import api from 'api'

export default {
  components: {
  },
  computed: {
  },
  data () {
    return {
      happieLogo,
      lockImg,
      disabledButton: false
    }
  },
  methods: {
    sendVerificationEmail () {
      if (!this.disabledButton) {
        this.disabledButton = true
        api.ajax('users/resend-invitation', {
          type: 'GET',
          data: {
            user_id: authStore.getAuth0Token()
          }
        })
        .done((response) => {
          console.log(response)
        })
        .fail((e) => {
          console.error(e)
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

	.content-container {
    padding: 24px;
    background: $alabaster;
    text-align: center;
  }

  img.logo {
    width: 238px;
  }

  h1 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    color: $dove-gray;
    margin: 22px 0px;
  }

  .send-verify {
    margin-top: 22px;
    text-transform: uppercase;
    padding: 11px 17px;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1.8px;
    display: inline-block;
    border-radius: 2px;
    background-color: $turquoise;
    color: $white;

    @include transition-sm-med-ease;

    &:hover {
      background-color: $half-baked;
    }

    &.disabled {
      background-color: $alto;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
</style>
