<template>
  <div class="app-container">
    <CustomHeader />
    <iframe :src="getSrc"></iframe>
  </div>
</template>

<script>
import CustomHeader from 'components/Header'

import { appInitializer } from 'helpers'

export default {
  components: {
    CustomHeader
  },
  mounted () {
    // Clear some stores so that they are re-loaded in case we make changes in page builder
    appInitializer.clearStores(['jobsStore', 'pagesStore'])
  },
  computed: {
    getSrc () {
      if (this.$route.params.page_id) {
        return `./pagebuilder_static/index.html#/builder/${this.$route.params.page_id}`
      } else {
        return './pagebuilder_static/index.html'
      }
    }
  },
  props: ['loaderVisible', 'debugMode']
}
</script>

<style lang="sass" scoped>
@import "~styles/variables";
.app-container {
  height: 100%;
  width: 100%;
}
iframe {
  width: 100%;
  height: calc(100% - #{$header-height});
  border: 0;
}
</style>
