<template>
	<div class="content-container">
    <router-link :to="{path: `/outreach`}">
      <img class="happie-logo" v-svg-src="logoImg" alt="Happie Logo" />
    </router-link>
    <div class="error-message">
      <h1>The page you're looking for doesn't exist.
        <router-link :to="{path: `/outreach`}">Get back on track!</router-link></h1>
    </div>
    <img class="error-image" v-svg-src="errorImg" alt="404 Error" />
	</div>
</template>

<script>
import logoImg from 'img/happie-logo.svg'
import errorImg from 'img/404.svg'

export default {
  components: {
  },
  computed: {
  },
  data () {
    return {
      logoImg,
      errorImg
    }
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
@import '~styles/variables';

  .content-container {
    padding: 24px;
    background: $alabaster;
    text-align: center;
  }

  .happie-logo {
    width: 238px;
    margin-bottom: 10px;
  }

.error-message {
  width: 600px;
  margin: 0 auto;

    h1 {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 22px;
    text-align: center;
    color: $dove-gray;

    a {
      font-weight: inherit;
    }
  }
}

.error-image {
  width: 535px;
}
</style>
