<template>
  <div class="panel">Cool panel</div>
</template>

<script>
export default {
  components: {

  },
  computed: {
  },
  methods: {
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";
</style>
