<template>
  <nav :class="{'reports-nav': type === 'reports' }">

    <!-- Default Nav -->
    <ul v-if="type != 'reports'" class="reports-nav">
      <li v-for="(button, index) in buttons"
      @mouseover="() => {navMouseOver(button)}"
      @mouseleave="() => {navMouseLeave(button)}"
      >
        <router-link
          :to="{path: `/${button.path}`, query: $route.query}"
          :class="{'sub-nav': button.type === 'sub-nav', 'visible': button.isVisible}">
          {{button.title}}
        </router-link>
      </li>
      <li class="settings-nav">
        <router-link :to="{path: `/outreach/settings`, query: $route.query}">
          <img v-svg-src="gearImg"></img>
          <span>Settings</span>
        </router-link>
      </li>
      <li class="settings-nav">
        <a href="https://intercom.help/happie-talent/" target="_blank">
          <span>
            <img v-svg-src="questionMark">
            </img>
            FAQ
          </span>
        </a>
      </li>
    </ul>

    <!-- Reports Nav -->
    <ul v-if="type === 'reports'">
      <li v-for="(button, index) in reportsButtons"
      @mouseover="() => {navMouseOver(button)}"
      @mouseleave="() => {navMouseLeave(button)}"
      >
        <router-link
          :to="{path: `/${button.path}`, query: $route.query}"
          :class="{
            'sub-nav': button.type === 'sub-nav',
            'visible': button.isVisible,
            'report-link': true
          }">
          {{button.title}}
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
import router from '../router/router'
import gearImg from 'img/dropdowns/gear.svg'
import questionMark from 'img/question-mark.svg'

import { accountStore, adminStore } from 'stores'

export default {
  components: {
  },
  data () {
    return {
      accountStore: accountStore.get(),
      adminStore: adminStore.get(),
      jobsHovered: false,
      campaignsHovered: false,
      candidatesHovered: false,
      hoveredNav: null,
      questionMark,
      gearImg
    }
  },
  computed: {
    buttons () {
      let buttons = [
        { path: 'outreach/jobs', title: 'jobs' },
        { path: 'outreach/candidates', title: 'candidates' },
        { path: 'outreach/candidate-manager', title: 'manager', type: 'sub-nav', isVisible: this.candidatesHovered },
        { path: 'outreach/lists', title: 'lists', type: 'sub-nav', isVisible: this.candidatesHovered },
        { path: 'outreach/campaigns', title: 'campaigns' },
        { path: 'outreach/sequences', title: 'sequences', type: 'sub-nav', isVisible: this.campaignsHovered },
        { path: 'outreach/templates', title: 'templates', type: 'sub-nav', isVisible: (this.campaignsHovered && !this.userIsTransactional) }
      ]

      if (this.debugMode) {
        buttons.push({ path: 'outreach/debug', title: 'debug' })
      }

      // NOTE: commenting out for now, but we will need this
      // if (this.accountStore.account.is_transactional || this.accountStore.account.is_sourcer) {
      //   buttons.splice(2, 0, {path: "outreach/candidate-review", title: "review", type: "sub-nav", isVisible: this.candidatesHovered})
      // }

      if (this.accountStore.account.is_sourced_req_admin) {
        buttons = [
          { path: 'outreach/sourced-reqs', title: 'sourced reqs' },
          { path: 'outreach/account-setup', title: 'pending setups' },
          { path: 'outreach/candidate-review', title: 'review' },
          { path: 'outreach/sequences', title: 'sequences' }
        ]
      }

      if (this.userIsTransactional) {
        buttons = [
          { path: 'outreach/jobs', title: 'jobs' },
          { path: 'outreach/candidate-manager', title: 'candidates' },
          { path: 'outreach/templates', title: 'templates' }
        ]
      }

      return buttons
    },
    reportsButtons () {
      let buttons = [
        { path: 'reports/jobs', title: 'jobs' },
        { path: 'reports/candidates', title: 'candidates' },
        { path: 'reports/campaigns', title: 'campaigns' },
        { path: 'reports/sequences', title: 'sequences', type: 'sub-nav', isVisible: this.campaignsHovered },
        { path: 'reports/pages', title: 'pages' }
      ]

      if (this.accountStore.account.is_transactional) {
        buttons = [
          { path: 'reports/jobs', title: 'jobs' },
          { path: 'reports/pages', title: 'pages' }
        ]
      }

      return buttons
    },
    userIsTransactional () {
      return this.accountStore.account.is_transactional
    }
  },
  created () {
  },
  mounted () {
    // TODO: Probably a smarter way to do this with built-in router system, but I couldn't figure it out
    // ¯\_(ツ)_/¯
    this.checkSubNavState()
  },
  props: {
    debugMode: { required: false },
    type: { required: false }
  },
  watch: {
    $route: {
      handler () {
        this.checkSubNavState()
      }
    }
  },
  methods: {
    navMouseOver (navButton) {
      this.hoveredNav = navButton.path
      this.checkSubNavState()
    },
    navMouseLeave () {
      this.hoveredNav = null
      this.checkSubNavState()
    },
    navClick (button) {
      router.push({ path: `/${button}` })
    },
    checkSubNavState () {
      // Combine route and hovered nav, visibility of animated sub navs should be controlled by either one
      let searchQuery = `${this.$route.path}${this.hoveredNav}`

      if (searchQuery.indexOf('jobs') > -1 ||
      searchQuery.indexOf('sourced-reqs') > -1) {
        this.jobsHovered = true
      } else {
        this.jobsHovered = false
      }

      if (searchQuery.indexOf('outreach/candidates') > -1 ||
      searchQuery.indexOf('lists') > -1 ||
      searchQuery.indexOf('candidate-manager') > -1 ||
      searchQuery.indexOf('candidate-review') > -1) {
        this.candidatesHovered = true
      } else {
        this.candidatesHovered = false
      }

      if (searchQuery.indexOf('campaigns') > -1 ||
      searchQuery.indexOf('templates') > -1 ||
      searchQuery.indexOf('sequences') > -1) {
        this.campaignsHovered = true
      } else {
        this.campaignsHovered = false
      }
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  nav {
    float: left;
    overflow-y: auto;
    width: $side-nav-width;
    height: calc(100% - #{$total-header-height});
    background-color: $gallery;

    &.reports-nav {
      background-color: $catskill-nav;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    height: 100%;
    border-right: 1px solid $alto;

  }

  a {
    margin: 0;
    padding: 0;

    display: block;
    width: 100%;
    height: 100%;

    text-align: left;
    padding-left: 45px;

    width: 100%;
    max-height: 60px;
    line-height: 60px;

    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .2rem;

    text-transform: uppercase;

    color: $dove-gray;
    background-color: $gallery;

    &.report-link {
      color: $fiord;
      background-color: $catskill-nav;
    }

    &.router-link-active, &:hover, &:focus {
      background-color: $alabaster;

      &.report-link {
        background-color: $polar;
      }
    }

    &.router-link-active {
      // Increase size to overlap right border
      // TODO: Ensure works as expected cross-browser
      width: calc(100% + 1px);
    }

    // Different style for sub-nav items
    &.sub-nav {
      overflow: hidden;
      padding-left: 75px;
      max-height: 0px;
      line-height: 50px;
      font-size: 1.4rem;

      @include transition-sm-med-ease;

      &.visible {
        max-height: 50px;
      }
    }

  }

  // Different styles for settings nav
  .settings-nav {
    img, span {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      margin-right: 1.6rem;
    }
    a {
      text-transform: none;
      font-size: 1.4rem;
      letter-spacing: 1px;
      color: $havelock;
    }
  }
</style>
