<template>
  <div>
    <div class="col">
      <h1>IMPORT</h1>
      <dropzone
        id="fileImport"
        url="/api/v1/stirista/import/"
        @vdropzone-success-multiple="uploadedFiles"
        @vdropzone-error="uploadFailed"
        @vdropzone-sending-multiple="sendingFile"
        :dropzoneOptions="{uploadMultiple: true, duplicateCheck: true, autoProcessQueue: true, parallelUploads: 1000}"
        :useCustomDropzoneOptions="true"
        :autoQueue="true"
        :useFontAwesome="true"
        acceptedFileTypes=".csv"
        :maxNumberOfFiles="1000"
      />
    </div>
    <div class="col">
      <button @click="exportClick">
        <img v-svg-src="exportImg">
        EXPORT
      </button>
    </div>
  </div>
</template>

<script>
import Dropzone from 'vue2-dropzone'

import api from 'api'
import { alerts } from 'helpers'
import { authStore } from 'stores'

import exportImg from 'img/download-white.svg'

export default {
  components: {
    Dropzone
  },
  data () {
    return {
      exportImg
    }
  },
  methods: {
    uploadedFiles (files, response) {
      alerts.show({
        message: `Upload has completed! ${response}`,
        status: 'success'
      })
    },
    uploadFailed () {
      alerts.show({
        message: 'Upload has failed!',
        status: 'error'
      })
    },
    sendingFile (file, xhr, formData) {
      const token = authStore.getToken()
      xhr.setRequestHeader('Authorization', `Token ${token}`)
    },
    exportClick () {
      api.ajax(`stirista/export`)
      .done((response) => {
        let blob = new Blob(['\ufeff', response])
        let url = URL.createObjectURL(blob)
        let hiddenLink = $(`<a href='${url}' download='stirista.csv'></a>`)
        hiddenLink.hide()
        .appendTo('body')[0]
        .click()
        hiddenLink.remove()
      })
      .fail((e) => {
        console.error('Failed to get stirista ', e)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .col {
    display: inline-block;
    width: 50%;
    padding: 10px;
    text-align: center;

    h1 {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      margin: 10px 0px;
    }

    button {
      background-color: $turquoise;
      color: $white;
      padding: 10px;
      border-radius: 2px;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.2rem;

      img {
        vertical-align: middle;
        margin-right: 5px;
      }

      @include transition-sm-med-ease;

      &:hover {
        background-color: $turquoise-hover;
      }
    }
  }

</style>
