<template>
  <nav>
    <ul>
      <li v-for="(button, index) in buttons">
        <router-link :to="{path: `/${button.path}`, query: $route.query}">{{button.title}}</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
import router from '../router/router'
import { accountStore } from 'stores'
export default {
  components: {
  },
  data () {
    return {
      accountStore: accountStore.get()
    }
  },
  computed: {
    buttons () {
      let buttons = [
        { path: 'outreach/settings/profile', title: 'profile' },
        { path: 'outreach/settings/company', title: 'company' },
        { path: 'outreach/settings/organization', title: 'organization' },
        { path: 'outreach/settings/users', title: 'users' },
        { path: 'outreach/settings/notifications', title: 'notifications' },
        { path: 'outreach/settings/signatures', title: 'email signatures' }
      ]

      // TODO: Add in these sections when they're ready
      /*
      {path: "outreach/settings/notifications", title: "notifications"},
      {path: "outreach/settings/fields", title: "fields"}
      */

      // NOTE: don't show the approval timer for now
      // if (this.accountStore.account.is_transactional) {
      //   buttons.push({path: "outreach/settings/approval-timer", title: "approval timer"});
      // }

      if (this.debugMode) {
        buttons.push('outreach/debug')
      }

      return buttons
    }
  },
  created () {
  },
  mounted () {
  },
  props: ['debugMode'],
  methods: {
    navClick (button) {
      router.push({ path: `/${button}` })
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  nav {
    position: absolute;
    left: 0;
    top: 0;

    overflow-y: auto;
    width: $sub-side-nav-width;
    height: 100%;
    background-color: $alabaster;

  }

  ul {
    margin: 0;
    padding: 0;

    height: 100%;
    border-right: 1px solid $alto;
  }

  a {
    margin: 0;
    padding: 0;

    display: block;
    width: 100%;
    height: 100%;

    text-align: left;
    padding-left: 26px;

    width: 100%;
    height: 60px;
    line-height: 60px;

    &.router-link-active, &:hover, &:focus {
      background-color: $catskill;
    }

    // Increase size to overlap right border
    // TODO: Ensure works as expected cross-browser
    &.router-link-active {
      width: calc(100% + 1px);
    }

    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: .18rem;

    text-transform: uppercase;

    color: $dove-gray;
    background-color: $alabaster;


  }
</style>
