<template>
  <div>
    <div class="static-banner">
      <img v-svg-src="happieLogo"></img>
    </div>

    <div class="content-container" v-if="!page">
      <h1>YOU'LL MISS OUT ON SOME AMAZING OPPORTUNITIES</h1>
      <p>We’re sad to see you go, but we’ll honor your desire not to receive any more recruitment emails from this company. Before you go, we hope you’ll reconsider — why <i>permanently</i> cut yourself off from learning about new opportunities from this company? Best of luck, regardless!
      </p>
      <AttentionButton
        :click="unsubscribeClick"
        text="UNSUBSCRIBE ME">
      </AttentionButton>
      <div class="link-container">
        <router-link
          :to="{path: `/unsubscribe/dont`, query: $route.query}">
          I changed my mind — don't unsubscribe me
        </router-link>
      </div>
    </div>

    <div class="content-container" v-if="page === 'dont'">
      <h1>Good choice — we’re glad you decided to stay in touch!</h1>
      <p>You’ll continue to receive recruitment emails from this company. If the opportunities aren’t the right fit, feel free to ignore them. Here’s to thriving in work and life!
      </p>
    </div>

    <div class="content-container" v-if="page === 'unsubscribed'">
      <h1>You are now unsubscribed.</h1>
      <p>You will no longer receive recruitment emails from this company.
      </p>
    </div>

  </div>
</template>

<script>

import AttentionButton from 'components/FormElements/AttentionButton'
import happieLogo from 'img/happie-logo.svg'
import api from 'api'
import { alerts } from 'helpers'

export default {
  components: {
    AttentionButton
  },
  mounted () {
    console.log('ay ', this.$route.params.page)
  },
  computed: {
  },
  data () {
    return {
      happieLogo,
      page: this.$route.params.page,
      candidate_id: this.$route.query.c,
      sequence_id: this.$route.query.s
    }
  },
  methods: {
    unsubscribeClick () {
      api.ajax(`emails/unsubscribe/${this.candidate_id}`)
      .done(() => {
        this.$router.replace('unsubscribe/unsubscribed')
      })
      .fail(() => {
        alerts.show({
          status: 'error',
          message: "There was an error processing your unsubscribe request. Please visit <a href='http://gethappie.me'>http://gethappie.me</a> for support."
        })
      })
    }
  },
  watch: {
    $route: {
      handler () {
        this.page = this.$route.params.page
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .content-container {
    padding: 24px;
    background: $alabaster;
    text-align: center;
  }

  .static-banner {
    height: 45px;
    line-height: 45px;

    border-bottom: 2px solid $alto;
    text-align: center;
    background-color: $white;

    img {
      display: inline-block;
      vertical-align: middle;
      height: 31px;
    }
  }

  h1 {
    margin: 85px auto 20px auto;

    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 3.8px;
    width: 50%;

    text-transform: uppercase;
  }

  p {
    margin: 0 auto 20px auto;
    line-height: 1.5;
    width: 50%;
    color: $dove-gray;
    font-size: 12px;
  }

  .link-container {
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    color: $havelock;

    &:hover {
      text-decoration: underline;
    }
  }
</style>
