<template>
  <div class="main-container">
    <span role="button" class="add-block" @click="createNewJob"></span>
      <div class="sk-folding-cube" v-if="!jobsLoaded">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
    <p v-if="!table.rows.length && jobsLoaded" class="no-jobs">You haven't created a job yet. Get Started by clicking the plus sign <span>[+]</span> above. Let's make magic happen!<br><img v-svg-src="MakeMagic"></p>
    <SectionTable
      v-if="table.rows.length && jobsLoaded"
      :table="table"
      :actionChange="actionChange"
      :toggleEnabled="toggleEnabled"
      :tableStyles="tableStyles"
      :nameClick="editJob"
    />
  </div>
</template>


<script>
import SectionTable from 'components/Sections/SectionTable'

import api from 'api'
import { alerts, modals, jobHelper } from 'helpers'
import { accountStore, jobsStore, sourcedReqStore } from 'stores'

import MakeMagic from 'img/make-magic.svg'

export default {
  components: {
    SectionTable,
    MakeMagic
  },
  mounted () {
    if (!this.userIsTransactional) {
      this.table.dropdownItems.push({ value: 'duplicate', label: 'Duplicate' })
      this.table.dropdownItems.push({ value: 'delete', label: 'Delete' })
    }

    let debugOptions = {
      debugData: [],
      debugTimeout: 100
    }

    // TODO: needed for jobs:

    // Campaigns associated with the job

    // Check if we have jobs from the store, if not, call the api
    this.jobs = jobsStore.get().jobs
    if (this.jobs.length < 1) {
      api.ajax('reqs/', null, debugOptions)
      .done((response) => {
        console.log('response from initial get reqs ', response)
        jobsStore.init(response)
        this.jobs = jobsStore.get().jobs
        this.jobsLoaded = true
      })
    } else {
      this.jobsLoaded = true
    }

    if (this.$route.params.job_id && this.$route.params.job_id === 'new') {
      this.createNewJob()
    } else if (this.$route.params.job_id) {
      this.editJob(this.$route.params.job_id)
    }
  },
  data () {
    return {
      table: {
        head: [
          '',
          'name',
          'category',
          'candidates',
          'actions'
        ],
        rows: [],
        dropdownItems: [
          { value: 'select', label: 'Select Action' },
          { value: 'edit', label: 'Edit' }
        ],
        selectedItem: { value: 'select' }
      },
      MakeMagic: MakeMagic,
      jobsLoaded: false,
      jobs: [],
      accountStore: accountStore.get()
    }
  },
  computed: {
    userIsTransactional () {
      return this.accountStore.account.is_transactional
    },
    tableStyles () {
      return {
        containerStyles: { 'margin-top': '29px' },
        headStyles1: { 'text-align': 'left' },
        colStyles1: { 'text-align': 'left' },
        headStyles2: { 'text-align': 'left', width: this.userIsTransactional ? '20%' : '10%' },
        colStyles2: { 'text-align': 'left', width: this.userIsTransactional ? '20%' : '10%' }
      }
    }
  },
  methods: {
    makeTable () {
      let rows = []
      $(this.jobs).map(function (key, value) {
        let row = {
          'cols': [
            false,
            '',
            '',
            [
              {
                'name': 'campaigns',
                'value': 0
              },
              {
                'name': 'sequences',
                'value': 0
              },
              {
                'name': 'candidates',
                'value': 0
              },
              {
                'name': 'interested',
                'value': 0
              },
              {
                'name': 'keep in touch',
                'value': 0
              }
            ]
          ]
        }
        $(value).map(function (k, v) {
          if (v.id) {
            row.id = v.id
          }
          if (v.active) {
            row.cols[0] = v.active
          }

          row.cols[1] = v.title ? v.title : 'Untitled'

          if (v.category) {
            row.cols[2] = v.category
          }
          if (v.campaign_count) {
            row.cols[3][0].value = v.campaign_count
          }
          if (v.sequence_count) {
            row.cols[3][1].value = v.sequence_count
          }
          if (v.candidate_count) {
            row.cols[3][2].value = v.candidate_count
          }
          if (v.interested_count) {
            row.cols[3][3].value = v.interested_count
          }
          if (v.keep_in_touch_count) {
            row.cols[3][4].value = v.keep_in_touch_count
          }
        })
        rows.push(row)
      })
      this.table.rows = rows
    },
    openJobModal (job) {
      jobHelper.openJobModal.apply(this, [job])
    },
    shareJob (job) {
      jobHelper.shareJob.apply(this, [job])
    },
    beforeModalClose (index) {
      jobHelper.beforeModalClose.apply(this, [index])
    },
    actionChange (item, id) {
      let value = item.value.toLowerCase()

      this.table.selectedItem = { value: 'select' }

      if (value === 'edit') {
        // TODO: we will eventually need a link here so that we can share the job with other users
        // this.$router.push({ path: `reqs/${id}`})

        this.editJob(id)
      }

      if (value === 'delete') {
        this.deleteJob(id)
      }

      if (value === 'duplicate') {
        this.duplicateJob(id)
      }
    },
    toggleEnabled (value, id) {
      // get the job data
      let job = jobsStore.getJob(id)

    // Change the active to the value
      job.active = value

    // Update it
      api.ajax(`reqs/${id}`, {
        type: 'PUT',
        data: job,
        disableOverlay: true
      })
      .done((response) => {
        console.log(response)

      // Update the job in our jobs store
        jobsStore.updateJobs([response])
        this.jobs = jobsStore.get().jobs

        alerts.show({
          message: 'You successfully updated your job!',
          status: 'success'
        })
      })
      .fail((e) => {
        console.error('error updating job ', e)

        alerts.show({
          message: 'Oh no! There was an error updating your job. Please try again. Sorry for the inconvenience!',
          status: 'error'
        })

      // If there is an error, remake the table so the toggle doesn't change
        this.jobs = jobsStore.get().jobs
        this.makeTable()
      })
    },
    createNewJob (e) {
      if (this.userIsTransactional) {
        modals.show({
          component: 'Confirm',
          props: {
            confirmText: 'Yes, add it!',
            message: 'Would you like to add a new Job?',
            confirm: () => {
              api.ajax('emails/send', {
                type: 'POST',
                data: {
                  subject: 'Request to add a new job',
                  html: `<b>User name:</b> ${this.accountStore.account.first_name} ${this.accountStore.account.last_name}<br>
<b>Job Title:</b> ${this.accountStore.account.title}<br>
<b>Company:</b> ${this.accountStore.account.company.name}<br>
<b>Organization:</b> ${this.accountStore.account.current_organization.name}<br>`,
                  recipients: ['support@gethappie.me']
                }
              })
              .done((response) => {
                modals.show({
                  component: 'Confirm',
                  props: {
                    message: "You're off to the races! A member of the Happie team will be in touch with you shortly to set up your new job.",
                    confirmText: 'Ok!',
                    hasCancelButton: false
                  }
                })
              })
              .fail((e) => {
                console.error('failed to send email', e)
                alerts.show({
                  status: 'error',
                  message: `Uh-oh, there was an error sending your email. Please try again.`
                })
              })
            }
          }
        })
        return
      }

      let newJob = jobsStore.formatJobs([Object.assign({}, jobsStore.store.newJobTemplate)])[0]

      this.openJobModal(newJob)
    },
    editJob (id) {
      // Wait for the job to finish being stored before redrawing the table.
      jobHelper.editJob.apply(this, [id])
        .done(() => {
          // Discard the unsaved job, if it exists.
          this.jobs = jobsStore.get().jobs
          this.makeTable()
        })
    },
    deleteJob (id, index = null) {
      // TODO: probably need a way to delete multiple jobs when there is a bulk actions dropdown

      // Get job for the title
      let job = jobsStore.getJob(id)

      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to delete your job ”${job.title}” from Happie? Once deleted, it won’t be available to any of your pages.`,
          confirmText: 'Yes, delete it!',
          cancelText: 'Cancel',
          confirm: () => {
            api.ajax(`reqs/${id}`, {
              type: 'DELETE'
            })
            .done(() => {
              // Remove job from our local data
              jobsStore.deleteJobs([id])
              sourcedReqStore.deleteJob(id)
              this.jobs = jobsStore.get().jobs

            // If the index is set, then this is coming from a modal, so close it
              if (index !== null) {
                modals.hide({
                  index: index
                })
              }

              alerts.show({
                message: 'Okie dokie — you successfully deleted your job. It won’t be available on any of your pages anymore. We hope you found the right candidate!',
                status: 'success'
              })
            })
            .fail(() => {
              alerts.show({
                message: 'Whoopsie! For some reason, there was an error deleting your job. Please refresh the window, and try again. Sorry for the inconvenience!',
                status: 'error'
              })
            })
          }
        }
      })
    },
    duplicateJob (id) {
      let job = $.extend(true, {}, jobsStore.getJob(id))

    // Add copy to title
      job.title += ' - copy'

    // Delete the id
      delete job.id

      api.ajax('reqs', {
        type: 'POST',
        data: job
      })
      .done((response) => {
        console.log(response)
        this.openJobModal(response)

      // Add the new job to our jobs store in the background and refresh the table
      // Remove reference from response so we can store it without it updating from the modal
        let newJob = $.extend(true, {}, response)
        jobsStore.addJobs([newJob])
        this.jobs = jobsStore.get().jobs
      })
      .fail((e) => {
        console.error('error duplicating job ', e)
      })
    },
    saveJob (id, updateJobCallback) {
      jobHelper.saveJob.apply(this, [id, updateJobCallback])
      .done(() => {
        this.jobs = jobsStore.get().jobs
        this.makeTable()
      })
    }
  },
  watch: {
    jobs: {
      handler (val, oldVal) {
        this.makeTable()
      },
      deep: true
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .sk-folding-cube {
    margin-top: 60px;
  }

  .sk-folding-cube .sk-cube:before {
    background-color: $dove-gray;
  }

  .add-block {
    background-image: url('~img/add-block.svg');
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 61px;
    height: 61px;

    &:hover {
      background-image: url('~img/add-block-active.svg');
    }
  }

  .no-jobs {
    display: block;
    margin: auto;
    margin-top: 32px;
    width: 643px;
    font-size: 24px;
    text-align: center;
    color: $dove-gray;

    span {
      font-weight: 800;
    }

    img {
      margin-top: 35px;
    }
  }

</style>
