<template>
  <div class="main-container">
    <p v-if="!setups.length" class="no-setup">
      <img v-svg-src="logo"><br>Hmm, looks like there aren't any accounts pending setup at the moment.</p>
    <div class="setups-container">
      <SetupBlock v-for="setup in setups" :setupId="setup.id" />
    </div>
  </div>
</template>

<script>
import CustomInput from 'components/FormElements/CustomInput'
import FlatButton from 'components/FormElements/FlatButton'
import SetupBlock from 'components/Sections/Sourcing/SetupBlock'

import { setupHelper } from 'helpers'
import { setupsStore } from 'stores'

import logo from 'img/happie-logo.svg'

export default {
  components: {
    CustomInput,
    FlatButton,
    SetupBlock
  },
  data () {
    return {
      setupsStore: setupsStore.get(),
      search: '',
      searchStyles: {
        float: 'right',
        'margin-bottom': '20px',
        'margin-top': '7px'
      },
      logo
    }
  },
  created () {
    if (!this.setups.length) setupHelper.getSetups()
  },
  computed: {
    setups () {
      return this.setupsStore.setups
    }
  },
  methods: {
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .setups-container {
    margin-top: 27px;
  }

  .no-setup {
    display: block;
    margin: auto;
    margin-top: 32px;
    width: 643px;
    font-size: 24px;
    text-align: center;
    color: $dove-gray;

    span {
      font-weight: 800;
    }

    img {
      margin-top: 35px;
      width: 500px;
    }
  }
</style>
