<template>
  <div class="setup-block-container">
    <div class="cell">
      <div class="company">{{ setup.company_name }}</div>
      <div class="logo-image" role="button" @click="companyImageClick" :style="logoStyle">
        <div class="change-overlay">Change</div>
      </div>
      <div class="submitted">Submitted:</div>
      <span class="date">{{ submitted }}</span>
    </div>
    <div class="cell">
      <div class="steps-container">
        <div v-for="step, index in steps" class="step">
          <span class="number" role="button" :class="{ done: step.done }" @click="markStep(index + 1, step.label)">{{ index + 1 }}</span>
          <span class="link" @click="stepClick(step.label)">{{ step.label }}</span>
        </div>
      </div>
    </div>
    <div class="cell">
      <FlatButton :click="activateSetup" color="turquoise">ACTIVATE</FlatButton>
      <span class="delete-setup" role="button" @click="deleteSetup"></span>
    </div>
  </div>
</template>

<script>
import FlatButton from 'components/FormElements/FlatButton'

import { accountStore, setupsStore } from 'stores'
import { modals, profileImageStyle, setupHelper } from 'helpers'

import moment from 'moment'
import 'moment-timezone'

import companyPlaceholder from 'img/company-placeholder.svg'

export default {
  components: {
    FlatButton
  },
  data () {
    return {
      accountStore: accountStore.get(),
      setupsStore: setupsStore.get()
    }
  },
  computed: {
    setup () {
      return this.setupsStore.setups.find(setup => setup.id == this.setupId)
    },
    steps () {
      return [
        { label: 'Company & Organization', done: this.setup.step_1_done },
        { label: 'Job Description', done: this.setup.step_2_done },
        { label: 'Customer Users', done: this.setup.step_3_done },
        { label: 'Assigned Team Member', done: this.setup.step_4_done },
        { label: 'Sequence Customization', done: this.setup.step_5_done },
        { label: 'Job Board Syndication', done: this.setup.step_6_done },
        { label: 'End Of Engagement', done: this.setup.step_7_done }
      ]
    },
    logoStyle () {
      return profileImageStyle(this.setup.logo_url, companyPlaceholder)
    },
    timezone () {
      return this.accountStore.account.timezone || 'ETC'
    },
    submitted () {
      return moment(this.setup.date_created).tz(this.timezone).format('M/D/YY')
    }
  },
  methods: {
    companyImageClick () {
      const id = this.setup.id
      modals.show({
        component: 'CompanyLogoModal',
        props: {
          company: this.setup,
          onSave (url) {
            setupHelper.patch(id, { logo_url: url })
          }
        }
      })
    },
    activateSetup () {
      setupHelper.activateSetup.call(this)
    },
    deleteSetup () {
      setupHelper.deleteSetup.call(this)
    },
    markStep (step, label) {
      setupHelper.markStep.call(this, ...arguments)
    },
    stepClick (label) {
      const scrollTo = '#' + label.replace(/([^a-z0-9]|\s)/gi, '').toLowerCase() // Turn the label into something we can use as an HTML ID
      modals.show({
        component: 'transactionalSetupModal',
        props: {
          scrollTo,
          setupId: this.setupId,
          containerStyles: { height: '100%', width: '700px' }
        }
      })
    }
  },
  props: {
    setupId: { required: true }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .setup-block-container {
    position: relative;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .cell {
      flex: 1 1 auto;
      text-align: center;
      border-left: 1px solid $mystic;
      border-right: 1px solid $mystic;
      margin: 0px 25px;

      &:first-child, &:last-child {
        flex: 0 0 auto;
        width: 160px;
        border: 0px none;
        padding: 0px;
      }
    }

    .company {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1.5px;
    }

    .logo-image {
      width: 141px;
      height: 141px;
      margin: 15px auto;

      // Fixes bug on chrome
      z-index: 1;

      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      border-radius: 50%;
      position: relative;
      overflow: hidden;
      border: solid 1px #979797;

      .change-overlay {
        text-align: center;
        position: absolute;
        top: 141px;
        padding-top: 6px;
        font-weight: 300;

        background-color: $havelock;
        color: white;
        font-weight: 600;

        height: 141px;
        width: 100%;

        @include transition-sm-ease;
      }

      &:hover {
        .change-overlay {
          top: 105px;
        }
      }
    }

    .submitted {
      font-size: 14px;
    }

    .date {
      font-size: 18px;
      font-weight: 800;
      letter-spacing: 2px;
    }

    .steps-container {
      display: inline-block;
      text-align: left;

      .step {
        margin-bottom: 10px;

        &:last-child {
          margin: 0px;
        }

        .number {
          display: inline-block;
          width: 30px;
          height: 30px;
          background-color: $dusty-gray;
          text-align: center;
          line-height: 30px;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 1px;
          text-align: center;
          color: $white;
          border-radius: 50%;
          margin-right: 22px;

          &.done {
            background-color: $turquoise;
          }
        }

        .link {
          @include green-link;
          color: $havelock;
          font-size: 14px;

          &:hover {
            color: $denim;
          }
        }
      }
    }

    .delete-setup {
      width: 23px;
      height: 23px;
      display: inline-block;
      position: absolute;
      top: 25px;
      right: 25px;
      background-image: url('~img/delete.svg');

      &:hover {
        background-image: url('~img/delete-active.svg');
      }
    }

  }
</style>
