<template>
<div>
  <div class="table-static-wrap">
    <table class="table-static">
      <thead>
        <tr class="super-header">
          <th colspan="3">&nbsp;</th>
        </tr>
        <tr class="sub-header">
          <th colspan="2"></th>
          <th><span>req</span></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row, index in sourcedReqs" style="min-height: 150px; height: 150px">
          <td><CustomCheckbox :checked="row.isChecked" :onChange="(e) => {checkboxHandler(e, row)}"/></td>
          <td class="comment-cell">
            <CommentsButton :sourcedReq="row" />
            <img v-if="row.req" class="upload-circle" v-svg-src="row.hovered ? hoverUploadIcon : uploadIcon" role="button"
              @click="importClick(row)"
              @mouseover="() => {row.hovered=true}"
              @mouseleave="() => {row.hovered=false}">
            <img v-else class="upload-circle" v-svg-src="disabledUploadIcon">
          </td>
          <td class="title-cell"><span role="button" @click="editClick(row)">{{ row.name || 'Untitled' }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <table class="table-scrollable">
    <thead>
      <tr class="super-header">
        <th v-for="header in categories" v-show="header.visible" :colspan="header.colspan">{{ header.name }}</th>
      </tr>
      <tr class="sub-header">
        <th v-for="column in columns" v-show="column.visible ":class="calcHeaderClasses(column)">
          <span>{{ column.name }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <SourcedReqsTableRow
        v-for="row, index in sourcedReqs"
        :row="row"
        :columns="columns"
        :categories="categories" />
    </tbody>
  </table>
</div>
</template>

<script>
import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import CommentsButton from 'components/Tools/CommentsButton'
import SourcedReqsTableRow from 'components/Sections/Sourcing/SourcedReqsTableRow'

import uploadIcon from 'img/upload-circle.svg'
import disabledUploadIcon from 'img/upload-circle-disabled.svg'
import hoverUploadIcon from 'img/upload-circle-hover.svg'

import { organizationStore, jobsStore, usersStore, sourcedReqStore } from 'stores'

import { modals } from 'helpers'

export default {
  components: {
    CustomCheckbox,
    CommentsButton,
    SourcedReqsTableRow
  },
  computed: {
    sourcedReqs () {
      return this.sourcedReqStore.sourcedReqs
    },
    categories () {
      return [
        { name: 'Overview', colspan: this.columns.filter(column => column.visible && column.parent === 'Overview').length, visible: !!this.columns.find(column => column.visible && column.parent === 'Overview') },
        { name: 'Engagement Activity', colspan: this.columns.filter(column => column.visible && column.parent === 'Engagement Activity').length, visible: !!this.columns.find(column => column.visible && column.parent === 'Engagement Activity') },
        { name: 'Conversion Details', colspan: this.columns.filter(column => column.visible && column.parent === 'Conversion Details').length, visible: !!this.columns.find(column => column.visible && column.parent === 'Conversion Details') },
        { name: 'Sourcing Activity', colspan: this.columns.filter(column => column.visible && column.parent === 'Sourcing Activity').length, visible: !!this.columns.find(column => column.visible && column.parent === 'Sourcing Activity') },
        { name: 'Account Team', colspan: this.columns.filter(column => column.visible && column.parent === 'Account Team').length, visible: !!this.columns.find(column => column.visible && column.parent === 'Account Team') },
        { name: 'Account Details', colspan: this.columns.filter(column => column.visible && column.parent === 'Account Details').length, visible: !!this.columns.find(column => column.visible && column.parent === 'Account Details') },
        { name: 'Job Boards', colspan: this.columns.filter(column => column.visible && column.parent === 'Job Boards').length, visible: !!this.columns.find(column => column.visible && column.parent === 'Job Boards') },
        { name: 'Craigslist', colspan: this.columns.filter(column => column.visible && column.parent === 'Craigslist').length, visible: !!this.columns.find(column => column.visible && column.parent === 'Craigslist') }
      ]
    }
  },
  props: {
    columns: { required: true }
  },
  data () {
    return {
      disabledUploadIcon,
      hoverUploadIcon,
      uploadIcon,
      organizationStore: organizationStore.get(),
      jobsStore: jobsStore.get(),
      usersStore: usersStore.get(),
      sourcedReqStore: sourcedReqStore.get()
    }
  },
  methods: {
    importClick (sourcedReq) {
      modals.show({
        component: 'FileImport',
        props: {
          enableListSelect: false,
          enableJobSelect: false,
          sourcedReq: sourcedReq,
          containerStyles: { width: '700px' }
        }
      })
    },
    editClick (row) {
      modals.show({
        component: 'SourcedReqModal',
        props: {
          sourcedReq: row,
          containerStyles: {
            width: '700px'
          }
        }
      })
    },
    checkboxHandler (e, row) {
      row.isChecked = !row.isChecked
    },
    calcHeaderClasses (column) {
      const classes = {}

      // Capture default classes.
      column.classes.forEach(defaultClass => { classes[defaultClass] = true })

      // Shade every other category, by visible categories.
      // const categoriesToShade = this.categories.filter((category, index) => category.visible).filter((category, index) => index % 2)
      // console.log(categoriesToShade)
      // classes.shaded = !!categoriesToShade.find(category => category.name === column.parent)

      // The true condition of the ternary determines if the column in question is the first visible column under its parent.
      // The ternary is necesarry because we need to make sure at least one column (easy enough to check against the column in question) in the category is visible,
      // otherwise we'll get an undefined on the name comparison. Whether or not the find() result is true or false, we can use that value to determine if
      // the section-edge classe is needed. Otherwise it'll always be false.
      classes['section-edge'] = column.visible ? this.columns.find(_ => _.visible && _.parent === column.parent).name === column.name : false

      return classes
    }
  }
}
</script>

<style lang='scss' scoped>
@import "~styles/variables";

table {
  border-collapse: collapse;
}

.shaded {
  background: linear-gradient(to bottom, rgba(247,249,251,.5) 0% ,rgba($catskill, 1) 100%); ;
}

thead {
  color: $fiord;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  .super-header {
    font-size: 14px;
    outline: 16px;
    height: 34px;

    // Shade superheaders
    // > th:nth-child(even) {
    //   background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(247,249,251,.5) 100%); ;
    // }
  }

  .sub-header {
    height: 50px;

    th {
      + th {
        min-width: 150px;

        span {
          border-left: solid 2px $gray;
        }
      }

      &.number-column {
        min-width: 70px;
      }

      span {
        align-items: center;
        display: inline-flex;
        height: 2em;
        justify-content: center;
        min-width: 100%;
        padding-left: 4px;
      }

      &.section-edge span {
        height: 4em;
      }
    }
  }
}

.table-scrollable {
  margin-left: 330px;
  padding-right: 30px;
}

.table-static-wrap {
  background-color: $white;
  position: absolute;
  width: 300px;
  z-index: 99;
}

.modal-open {
  .table-static-wrap {
    z-index: 1;
  }
}

.table-static {
  background-color: $white;
  border-right: solid 1.5px $alto;
  box-shadow: 1px 0 0 0 rgba($alto, 0.5);
  margin-left: 30px;
  position: relative;
  width: 300px;

tbody tr {
  border-top: 1px solid $mystic;
  height: 75px;
}

  td {
    padding: 0;

    + td {
      padding: 0 24px;
    }
  }

  .comments {
    display: inline-block;
  }

  .upload-circle {
    float: right;
    margin-left: 25px;
    margin-right: -15px;
  }

  .title-cell {
    @include green-link;
    max-width: 125px;
    padding: 12px;
  }
}
</style>
