<template>
  <tr style="min-height: 150px; height: 150px">
    <!-- Overview -->
    <td v-show="columnIsVisible('Req #')" class="text-centered">{{ row.id }}</td>
    <td v-show="columnIsVisible('Company')" class="text-centered">{{ companyName }}</td>
    <td v-show="columnIsVisible('Account Status')">
      <CustomSelect
      :items="metadataStore.sourcedReqAccountStatuses"
      :onChange="(item)=>{changeValue('accountStatus', item)}"
      :selected="row.account_status"/>
    </td>
    <td v-show="columnIsVisible('Sourcing Status')">
      <CustomMultiSelect
      :icon="statusImg"
        :items="metadataStore.sourcedReqStatuses"
        :selected="row.sourcing_status"
        :onChange="(value) => { changeValue('sourcingStatus', value) }" />
    </td>
    <td v-show="columnIsVisible('Days Live')" class="text-centered">{{ moment().diff(row.date_created, 'days') }}</td>
    <!-- <td class="text-centered">Needs Calculation</td> -->

    <!-- Engagement Activity -->
    <td v-show="columnIsVisible('# Emails Sent')" class="text-centered">{{ row.emails_sent }}</td>
    <td v-show="columnIsVisible('# Texts Sent')" class="text-centered">{{ row.smses_sent }}</td>
    <td v-show="columnIsVisible('Enhancements')" class="text-centered">{{ row.enhancements }}</td>

    <!-- Conversion Details -->
    <td v-show="columnIsVisible('Total Candidates')" class="text-centered">{{ totalSubmissions }}</td>
    <td v-show="columnIsVisible(`Total 'Yes' Candidates`)" class="text-centered">{{ row.yes_count }}</td>
    <td v-show="columnIsVisible('Conversion Rate')" class="text-centered">{{ getPercent(row.interested_candidate_count, totalSubmissions )}}</td>
    <td v-show="columnIsVisible('Net Interested Candidates')" class="text-centered">{{ row.yes_count - row.archived_count }}</td>

    <!-- Sourcing Activity -->
    <template v-if="row.submissions.length">
      <td v-show="columnIsVisible('# Candidates (Last Upload)')" class="text-centered">
        {{ this.row.submissions[0].candidates_submitted }}
      </td>
      <td v-show="columnIsVisible('# Days Since Last Upload')" class="text-centered">
        {{ moment().diff(moment(this.row.submissions[0].last_updated), 'days') }}
      </td>
    </template>
    <td v-show="categories.find(category => category.name === 'Sourcing Activity').visible" v-else :colspan="categories.find(category => category.name === 'Sourcing Activity').colspan" class="text-centered">
      <span class="no-submissions">No Activity Yet!</span>
    </td>

    <!-- Candidate Activity -->
    <!-- <td class="text-centered">Needs Endpoint</td>
    <td class="text-centered">Needs Endpoint</td>
    <td class="text-centered">Needs Endpoint</td>
    <td class="text-centered">Needs Endpoint</td>
    <td class="text-centered">Needs Endpoint</td>
    <td class="text-centered">Needs Calculation</td>
    <td class="text-centered">Needs Endpoint</td>
    <td class="text-centered">Needs Endpoint</td> -->

    <!-- Account Team -->
    <td v-show="columnIsVisible('Account Manager')">
      <CustomSelect
      :items="availableManagers"
      :onChange="(item)=>{changeValue('accountManager', item)}"
      :selected="row.account_manager"/>
    </td>
    <td v-show="columnIsVisible('Sourcer')">
      <CustomSelect
        :items="availableSourcers"
        :onChange="(item)=>{changeValue('sourcer', item)}"
        :selected="row.sourcer"/>
    </td>
    <td v-show="columnIsVisible('Salesperson')">
      <CustomSelect
        :items="availableSalespeople"
        :onChange="(item)=>{changeValue('salesperson', item)}"
        :selected="row.sales_person"/>
    </td>

    <!-- Account Details -->
    <td v-show="columnIsVisible('Req Status')" class="text-centered">
      <CustomSelect
        :nightMode="true"
        :items="metadataStore.sourcedReqStates"
        :onChange="(e) => {changeValue('state', e)}"
        :selected="row.req_status" />
      </td>
    <td v-show="columnIsVisible('Req Creation Date')" class="text-centered">{{moment(row.date_created).format('MM/DD/YYYY')}}</td>
    <td v-show="columnIsVisible('End Of Engagement')">
      <DatePicker
      :onChange="(item=>{changeValue('engagementDate',item)})"
      :date="row.engagement_date"
      :tableCell="true"
      :disabled="{to: new Date ()}" />
    </td>
    <td v-show="columnIsVisible('Linked Job')" class="text-centered">
      <span class="link" @click="viewJob(row.req)"  v-if="row.req"> {{ req.title || 'Untitled' }}</span>
      <span v-else>None</span>
    </td>
    <td v-show="columnIsVisible('Organization')" class="text-centered">{{ organizationName }}</td>
    <td v-show="columnIsVisible('Job Type')" class="text-centered">
      <span v-if="req.category">{{ req.category }}</span>
      <span v-else>None</span>
    </td>

    <!-- Job Boards -->
    <td v-show="columnIsVisible('Syndication')" class="text-centered">
      <CustomToggle v-model="row.syndicated" :inTable="true" :onChange="this.save"/>
    </td>
    <td v-show="columnIsVisible('Priority Level')">
      <CustomSelect
        :items="metadataStore.syndicationPriorityLevels.slice(1)"
        :onChange="(item)=>{changeValue('priorityLevel', item)}"
        :selected="row.priority_level"/>
    </td>
    <!-- Craigslist -->
    <td v-show="columnIsVisible('Posting')" class="text-centered"><span class="switch" :class="{on: row.craigslist_status}">{{ row.craigslist_status ? 'on' : 'off' }}</span></td>
    <td v-show="columnIsVisible('Configuration')" class="text-centered">
      <span class="link" @click="craigslistConfig">Manage</span>
    </td>
  </tr>
</template>

<script>
import CustomSelect from 'components/FormElements/CustomSelect'
import CustomMultiSelect from 'components/FormElements/CustomMultiSelect'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import DatePicker from 'components/Tools/DatePicker'
import CustomToggle from 'components/FormElements/CustomToggle'

import statusImg from 'img/pulse.svg'

import { jobHelper, alerts, sourcedReqHelper, modals } from 'helpers'

import { sourcedReqStore, metadataStore, jobsStore, usersStore, adminStore } from 'stores'

import moment from 'moment'

import api from 'api'

export default {
  components: {
    CustomSelect,
    CustomMultiSelect,
    CustomTextArea,
    DatePicker,
    CustomToggle
  },
  data () {
    return {
      moment,
      statusImg,
      contentEditableContentStyles: {
        width: '100%',
        'min-height': '33px',
        'font-size': '13px',
        padding: '15px 5px 0',
        'text-align': 'center',
        border: '0px none',
        'line-height': '1em'
      },
      refreshAll: false,
      adminStore: adminStore.get(),
      metadataStore: metadataStore.get(),
      jobsStore: jobsStore.get(),
      usersStore: usersStore.get()
    }
  },

  props: {
    row: { required: true },
    columns: { required: true },
    categories: { required: true }
  },
  computed: {
    req () {
      let req = {}
      $.each(this.jobsStore.jobs, (key, value) => {
        if (value.id == this.row.req) {
          req = value
          return false
        }
      })
      return req
    },
    companyName () {
      let companyName = false
      $.each(this.adminStore.organizations, (key, value) => {
        if (value.id == this.req.organization) {
          companyName = value.company.name
          return false
        }
      })
      return companyName || 'Untitled'
    },
    organizationName () {
      let organizationName = false
      $.each(this.adminStore.organizations, (key, value) => {
        if (value.id == this.req.organization) {
          organizationName = value.name
          return false
        }
      })
      return organizationName || 'Untitled'
    },
    availableSourcers () {
      let availableSourcers = []
      $.each(this.usersStore.users, (key, value) => {
        if (value.groups.indexOf('Sourcers') > -1) {
          availableSourcers.push({
            value: value.id,
            label: `${value.first_name} ${value.last_name}`
          })
        }
      })
      availableSourcers.unshift({ value: null, label: 'Sourcers' })
      return availableSourcers
    },
    availableSalespeople () {
      let availableSalespeople = []
      $.each(this.usersStore.users, (key, value) => {
        if (value.groups.indexOf('Sales People') > -1) {
          availableSalespeople.push({
            value: value.id,
            label: `${value.first_name} ${value.last_name}`
          })
        }
      })
      availableSalespeople.unshift({ value: null, label: 'Sales People' })
      return availableSalespeople
    },
    availableManagers () {
      let availableManagers = []
      $.each(this.usersStore.users, (key, value) => {
        if (value.groups.indexOf('Account Managers') > -1) {
          availableManagers.push({
            value: value.id,
            label: `${value.first_name} ${value.last_name}`
          })
        }
      })
      availableManagers.unshift({ value: null, label: 'Account Managers' })
      return availableManagers
    },
    availableSubmitters () {
      let availableSubmitters = []
      $.each(this.usersStore.users, (key, value) => {
        if ((value.groups.indexOf('Sourcers') > -1)) {
          availableSubmitters.push({
            value: value.id,
            label: `${value.first_name} ${value.last_name}`
          })
        }
      })
      availableSubmitters.unshift({ value: null, label: 'Submitter' })
      return availableSubmitters
    },
    totalSubmissions () {
      // If we don't have any submissions yet.
      if (!this.row.submissions.length) {
        return 0
      }
      let total = 0
      $.each(this.row.submissions, (key, value) => {
        total += value.candidates_submitted
      })
      return total
    }
  },
  methods: {
    columnIsVisible (name) {
      return !!this.columns.find(column => column.visible && column.name === name)
    },
    viewJob (id) {
      jobHelper.editJob.apply(this, [id])
    },
    openJobModal (job) {
      jobHelper.openJobModal.apply(this, [job])
    },
    shareJob (job) {
      jobHelper.shareJob.apply(this, [job])
    },
    saveJob (id, updateJobCallback) {
      jobHelper.saveJob.apply(this, [id, updateJobCallback])
    },
    beforeModalClose (index) {
      jobHelper.beforeModalClose.apply(this, [index])
    },
    getPercent (value, total) {
      let percent = (value / total * 100).toFixed(1)
      return !isNaN(percent) ? `${percent}%` : `0%`
    },
    craigslistConfig () {
      modals.show({
        component: 'craigslistSettings',
        props: {
          sourcedReq: this.row,
          save: this.save
        }
      })
    },
    changeValue (target, item) {
      switch (target) {
        case 'accountStatus':
          this.row.account_status = item.value
          this.refreshAll = true
          break
        case 'sourcer':
          this.row.sourcer = item.value
          break
        case 'salesperson':
          this.row.sales_person = item.value
          break
        case 'accountManager':
          this.row.account_manager = item.value
          break
        case 'submitter':
          this.row.submissions[0].user = item.value
          break
        case 'sourcingStatus':
          this.row.sourcing_status = item
          break
        case 'state':
          this.row.req_status = item.value
          if (item.value === 'Paused' || item.value === 'Closed') this.row.syndicated = false
          break
        case 'engagementDate':
          this.row.engagement_date = moment(item).format()
          break
        case 'priorityLevel':
          this.row.priority_level = item.value
          break
        default:
          break
      }
      this.save()
    },
    save () {
      let data = sourcedReqHelper.requiredCheck($.extend(true, {}, this.row))
      api.ajax(`sourced-reqs/${this.row.id}`, {
        type: 'PUT',
        data: data
      })
      .done((response) => {
        sourcedReqStore.update(response)
        console.log('Succesfully updated sourced req')

        // If we change account status, refresh all sourced Reqs in the store because we don't know which ones need an update.
        if (this.refreshAll) {
          sourcedReqHelper.refreshAll()
          this.refreshAll = false
        }
        alerts.show({
          status: 'success',
          message: `Good stuff — you successfully updated ${this.row.name}.`
        })
      })
      .fail(() => {
        console.log('Error updating sourced req')
        alerts.show({
          status: 'error',
          message: 'Uh-oh, there was an error updating this sourced req. Please refresh your browser and try again.'
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~styles/variables";

tbody tr {
  border-top: 1px solid $mystic;
  height: 75px;
  transition: box-shadow .2s cubic-bezier(0.550, 0.055, 0.675, 0.190);

  &:hover {
    box-shadow: inset 0 0 20px 0 $turquoise;

    td.shaded {
      background-color: transparent;
    }

    .custom-datepicker-container {
      color: black;
    }
  }
}

td {
  font-size: 13px;
  padding: 12px;
  transition: all.2s cubic-bezier(0.550, 0.055, 0.675, 0.190);

  &.shaded {
    background-color: $catskill;
  }
}

a,
.link {
  color: $gray;
  cursor: pointer;
  font-weight: normal;
  text-decoration: underline;
  transition: color .2s cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

.positive,
.negative {
  font-weight: bold;
}

.positive {
  color: $gray;

  &::before {
    content: '+';
  }
}

.negative {
  color: $red;
}

.no-submissions {
  padding: 4px 12px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: $white;
  background-color: $fiord;
  border-radius: 2px;
  width: 80%;
  display: inline-block;
}

.switch {
  color: $tundora;
  text-transform: uppercase;

  &.on {
    color: $cool-green;
    font-weight: 800;
  }
}

</style>
