<template>
  <div class="main-container" @scroll="scrollHandler" ref="mainContainer">
    <div class="sk-folding-cube" v-if="!sourcedReqsLoaded">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
    <div v-if="(sourcedReqs.length || hasFiltered) && sourcedReqsLoaded">
      <div>
        <CustomSelect
          :items="bulkActionItems"
          :onChange="bulkActionChange"
          :selected="selectedBulkAction"
          :customStyles="dropdownStyles"
          :menuMaxHeight="'auto'"
        />
        <FlatButton :click="exportClick" :customStyles="exportButtonStyles" color="turquoise">
          <img v-svg-src="downloadImg" alt="export candidates"></img>
          EXPORT
        </FlatButton>
        <FlatButton :click="addNewClick" :customStyles="addNewButtonStyles" color="green">
          <img v-svg-src="circlePlusWhiteImg" alt="add new sourced req"></img>
          ADD NEW
        </FlatButton>
        <FlatButton :click="importClick" :customStyles="importButtonStyles">
          <img v-svg-src="cloudWhiteImg" alt="import candidates"></img>
          IMPORT
        </FlatButton>
      </div>

      <div class="panel options-panel">
        <Filters
          :searchHandler="searchHandler"
          :clearFilters="clearFilters"
          :isSourcedReq="true"
          :filter="filter"
        />
      </div>

      <div class="panel-controls-row">
        <CustomCheckbox label="Select all" :customStyles="controlCheckboxStyle" :onChange="selectAllClick" />

        <div class="float-right">
          <CustomInput
            v-model="searchParams.search"
            :icon="searchImg"
            placeholder="Search..."
            :containerStyles="searchContainerStyles"
            :onEnter="searchHandler"
          />
          <span
            class="edit-columns-btn"
            @click="editColumns"
            @mouseover="() => {editImg = editWhite}"
            @mouseleave="() => {editImg = editGreen}"
            role="button"
          >
            <img v-svg-src="editImg">
            EDIT COLUMNS
          </span>
        </div>
      </div>

      <div class="panel content-panel" ref="tableContainer">
        <SourcedReqsTable :columns="columns" />
      </div>
    </div>
    <div v-else-if="!sourcedReqs.length && sourcedReqsLoaded">
      <span role="button" class="add-block" @click="addNewClick"></span>
      <p class="no-sourced-reqs">You haven't created any sourced reqs yet. Get started by clicking the plus sign <span>[+]</span> above. Let's make magic happen!<br><img v-svg-src="MakeMagic"></p>
    </div>
  </div>
</template>

<script>

import 'lib/jquery.doubleScroll.js'

import CustomSelect from 'components/FormElements/CustomSelect'
import FlatButton from 'components/FormElements/FlatButton'
import Filters from 'components/Tools/Filters'
import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import CustomInput from 'components/FormElements/CustomInput'
import SourcedReqsTable from 'components/Sections/Sourcing/SourcedReqsTable'

import circlePlusWhiteImg from 'img/circle-plus-white.svg'
import cloudWhiteImg from 'img/cloud-white.svg'
import searchImg from 'img/search.svg'
import MakeMagic from 'img/make-magic.svg'
import downloadImg from 'img/export.svg'
import editGreen from 'img/green-edit.svg'
import editWhite from 'img/white-edit.svg'

import { sourcedReqStore, jobsStore, organizationStore, usersStore, userPreferencesStore } from 'stores'

import { jobHelper, modals, alerts, sourcedReqHelper } from 'helpers'

import moment from 'moment'

import api from 'api'

export default {
  components: {
    CustomSelect,
    FlatButton,
    Filters,
    CustomCheckbox,
    CustomInput,
    SourcedReqsTable
  },
  data () {
    return {
      circlePlusWhiteImg,
      cloudWhiteImg,
      searchImg,
      MakeMagic,
      downloadImg,
      editImg: editGreen,
      editGreen,
      editWhite,
      dropdownStyles: {
        display: 'inline-block',
        width: '225px'
      },
      exportButtonStyles: {
        float: 'right'
      },
      importButtonStyles: {
        float: 'right',
        'margin-right': '20px'
      },
      addNewButtonStyles: {
        float: 'right',
        'margin-right': '20px'
      },
      controlCheckboxStyle: {
        'margin-top': '-2px'
      },
      searchContainerStyles: {
        display: 'inline-block'
      },
      filter: {
        sourcer: true,
        salesperson: true,
        accountManager: true,
        reqStatus: true,
        reqState: true,
        accountStatus: true,
        submitDueDate: true,
        engagementDueDate: true
      },
      selectedBulkAction: { value: 'default' },
      sourcedReqStore: sourcedReqStore.get(),
      jobsStore: jobsStore.get(),
      organizationStore: organizationStore.get(),
      usersStore: usersStore.get(),
      userPreferencesStore: userPreferencesStore.get(),
      sourcedReqsLoaded: false,
      hasFiltered: false,
      scrollPadding: 200,
      loadingStatus: 'done' // done, loading, end
    }
  },
  watch: {
    'sourcedReqStore.sourcedReqs': {
      handler (val) {
        if (val.length) {
          this.$nextTick(() => {
            if (this.$refs.tableContainer) {
              $(this.$refs.tableContainer).doubleScroll({
                contentElement: $(this.$refs.tableContainer).find('.table-scrollable')[0],
                resetOnWindowResize: true
              })
            }
          })
        }
      },
      deep: true
    },
    columns: {
      handler (value) {
        console.log('columns change')
      },
      deep: true
    }
  },
  computed: {
    sourcedReqs () {
      return this.sourcedReqStore.sourcedReqs
    },
    bulkActionItems () {
      let actions = [
        { value: 'default', label: `Bulk Actions (${this.checkedReqs.length} sourced reqs)` },
        { value: 'change-status', label: `Change Sourcing Status` }
      ]
      return actions
    },
    checkedReqs () {
      let checked = []
      $.each(this.sourcedReqs, (key, value) => {
        if (value.isChecked) {
          // TODO: Modify if we ever need something more than the id here
          checked.push(value.id)
        }
      })

      return checked
    },
    searchParams () {
      return this.sourcedReqStore.filters
    },
    columns () {
      const columns = [
        { name: 'Req #', parent: 'Overview', classes: ['number-column'], visible: true },
        { name: 'Company', parent: 'Overview', classes: [], visible: true },
        { name: 'Account Status', parent: 'Overview', classes: [], visible: true },
        { name: 'Sourcing Status', parent: 'Overview', classes: [], visible: true },
        { name: 'Days Live', parent: 'Overview', classes: [], visible: true },
        { name: '# Emails Sent', parent: 'Engagement Activity', classes: [], visible: true },
        { name: '# Texts Sent', parent: 'Engagement Activity', classes: [], visible: true },
        { name: 'Enhancements', parent: 'Engagement Activity', classes: [], visible: true },
        { name: 'Total Candidates', parent: 'Conversion Details', classes: [], visible: true },
        { name: "Total 'Yes' Candidates", parent: 'Conversion Details', classes: [], visible: true },
        { name: 'Conversion Rate', parent: 'Conversion Details', classes: [], visible: true },
        { name: 'Net Interested Candidates', parent: 'Conversion Details', classes: [], visible: true },
        { name: '# Candidates (Last Upload)', parent: 'Sourcing Activity', classes: [], visible: true },
        { name: '# Days Since Last Upload', parent: 'Sourcing Activity', classes: [], visible: true },
        { name: 'Account Manager', parent: 'Account Team', classes: [], visible: true },
        { name: 'Sourcer', parent: 'Account Team', classes: [], visible: true },
        { name: 'Salesperson', parent: 'Account Team', classes: [], visible: true },
        { name: 'Req Status', parent: 'Account Details', classes: [], visible: true },
        { name: 'Req Creation Date', parent: 'Account Details', classes: [], visible: true },
        { name: 'End Of Engagement', parent: 'Account Details', classes: [], visible: true },
        { name: 'Linked Job', parent: 'Account Details', classes: [], visible: true },
        { name: 'Organization', parent: 'Account Details', classes: [], visible: true },
        { name: 'Job Type', parent: 'Account Details', classes: [], visible: true },
        { name: 'Syndication', parent: 'Job Boards', classes: [], visible: true },
        { name: 'Priority Level', parent: 'Job Boards', classes: [], visible: true },
        { name: 'Posting', parent: 'Craigslist', classes: [], visible: true },
        { name: 'Configuration', parent: 'Craigslist', classes: [], visible: true }
      ]
      columns.forEach(column => { column.visible = !this.userPreferencesStore.hiddenSourcedReqColumns.includes(column.name) })
      return columns
    }
  },
  mounted () {
    // Make sure all needed stores are initialized. Do reqs no matter what because we might have bad data from impersonating or something.
    const requestObject = {
      data: {
        sourced_reqs: 1
      },
      type: 'GET'
    }
    api.ajax('reqs', requestObject)
    .done((response) => {
      console.log('response from initial get reqs ', response)
      jobsStore.init(response)
    })
    .fail((e) => {
      console.error('Error getting reqs ', e)
    })
    if (this.organizationStore.organizations.length < 1) {
      api.ajax('organizations')
      .done((response) => {
        console.log('response from initial get organizations ', response)
        organizationStore.init(response)
      })
      .fail((e) => {
        console.error('Error getting organizations ', e)
      })
    }

    // Always init even if we have already loaded the store
    sourcedReqStore.clearFilters()
    this.init()

    // Is the user entering this page with a modal open?
    if (this.$route.params.job_id) {
      this.viewJob(this.$route.params.job_id)
    }

    if (this.$refs.tableContainer) {
      $(this.$refs.tableContainer).doubleScroll()
    }
  },
  beforeDestroy () {
    jobsStore.clear()
  },
  methods: {
    init (loadMore = false) {
      const requestObject = {
        data: this.searchParams,
        type: 'GET'
      }
      if (!requestObject.data.offset) {
        requestObject.data.count = 1
      } else {
        delete requestObject.data.count
      }
      api.ajax('sourced-reqs/', requestObject)
      .done((response) => {
        if (!Array.isArray(response)) {
          this.sourcedReqStore.totalCount = response.count
          response = response.sourced_reqs
        }
        if (this.searchParams.showUnmetOnly) {
          response = $.grep(response, (key, value) => {
            return key.weekly_goal - this.queuedThisWeek(key) > 0
          })
        }
        $.each(response, (key, value) => {
          value.isChecked = false
          value.hovered = false
        })
        console.log('response from initial get sourced reqs ', response)
        if (loadMore) {
          sourcedReqStore.add(response)
        } else {
          sourcedReqStore.init(response)
        }
        if (response.length < this.sourcedReqStore.filters.limit) {
          this.loadingStatus = 'end'
        } else {
          this.loadingStatus = 'done'
        }
        this.sourcedReqsLoaded = true
      })
      .fail((e) => {
        console.error('Error getting sourced reqs ', e)
      })
    },
    scrollHandler (e) {
      let scroll = $(e.target).scrollTop()
      let totalHeight = e.target.scrollHeight - $(e.target).height() - this.scrollPadding
      if (scroll >= totalHeight && this.loadingStatus == 'done') {
        this.loadingStatus = 'loading'
        this.sourcedReqStore.filters.offset += this.sourcedReqStore.filters.limit
        this.init(true)
      }
    },
    queuedThisWeek (sourcedReq) {
      if (!sourcedReq.submissions.length) {
        return 0
      }
      const lastMonday = moment().startOf('isoweek').unix()
      let queuedThisWeek = 0
      $.each(sourcedReq.submissions, (key, value) => {
        const unixTimestamp = moment(value.date_created).unix()
        if (unixTimestamp > lastMonday) {
          queuedThisWeek += value.candidates_submitted
        }
      })
      return queuedThisWeek
    },
    importClick () {
      modals.show({
        component: 'FileImport',
        props: {
          enableResumeUpload: false,
          enableListSelect: false,
          enableJobSelect: false,
          callback: this.init,
          containerStyles: { width: '700px' }
        }
      })
    },
    exportClick () {
      sourcedReqHelper.exportSourcedReqs.apply(this)
    },
    bulkActionChange (e) {
      let action = e.value
      switch (action) {
        case 'change-status':
          if (this.checkedReqs.length) {
            sourcedReqHelper.bulkStatusChange()
          } else {
            alerts.show({
              status: 'warning',
              message: 'Whoops! Looks like you forgot to select any sourced reqs! Let\'s try that again...'
            })
          }
          break
        default:
          break
      }
      // Reset dropdown after selecting
      this.selectedBulkAction = { value: 'default' }
    },
    addNewClick () {
      modals.show({
        component: 'SourcedReqModal',
        props: {
          containerStyles: {
            width: '700px'
          }
        }
      })
    },
    clearFilters () {
      sourcedReqStore.clearFilters()
      this.init()
    },
    selectAllClick (e) {
      $.each(this.sourcedReqs, (key, value) => {
        value.isChecked = e.target.checked
      })
    },
    searchHandler () {
      this.hasFiltered = true
      this.sourcedReqStore.filters.offset = 0
      this.init()
    },
    viewJob (id) {
      jobHelper.editJob.apply(this, [id])
    },
    openJobModal (job) {
      jobHelper.openJobModal.apply(this, [job])
    },
    shareJob (job) {
      jobHelper.shareJob.apply(this, [job])
    },
    saveJob (id, updateJobCallback) {
      jobHelper.saveJob.apply(this, [id, updateJobCallback])
    },
    beforeModalClose (index) {
      jobHelper.beforeModalClose.apply(this, [index])
    },
    editColumns () {
      const options = [].concat(this.columns)
      options.forEach(option => {
        option.visible = !this.userPreferencesStore.hiddenSourcedReqColumns.includes(option.name)
      })
      modals.show({
        component: 'CheckboxModal',
        props: {
          containerStyles: {
            width: '500px'
          },
          options,
          onSave: (saveData) => {
            const hiddenArray = []
            saveData.forEach(option => {
              if (!option.show) hiddenArray.push(option.label)
            })
            // Trick doublescroll into updating.
            window.dispatchEvent(new Event('resize'))
            userPreferencesStore.set('hiddenSourcedReqColumns', hiddenArray)
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~styles/variables";

.panel-controls-row {
  height: 40px;
  margin-bottom: 2.6em;
}

.custom-checkbox-container {
  display: inline-block;
  vertical-align: top;
  margin-top: 14px;
}

.panel {

  &.content-panel {
    padding: 15px 0px 300px 0;
    max-height: none;
    min-height: 550px;
  }

  &.options-panel {
    margin-top: 1.7rem;
    overflow: visible;
    padding-bottom: 15px;
    max-height: none;

    .options-controls {
      overflow: visible;
    }
  }
}

.sk-folding-cube {
  margin-top: 60px;
}

.sk-folding-cube .sk-cube:before {
  background-color: $dove-gray;
}

.add-block {
  background-image: url('~img/add-block.svg');
  background-repeat: no-repeat;
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 61px;
  height: 61px;

  &:hover {
    background-image: url('~img/add-block-active.svg');
  }
}
.no-sourced-reqs {
  display: block;
  margin: auto;
  margin-top: 32px;
  width: 643px;
  font-size: 24px;
  text-align: center;
  color: $dove-gray;

  span {
    font-weight: 800;
  }

  img {
    margin-top: 35px;
  }
}

.edit-columns-btn {
  border-radius: 2px;
  background-color: $white;
  border: solid 1px $shamrock;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: left;
  color: $shamrock;
  padding: 9px;
  margin-left: 15px;

  @include transition-sm-med-ease;

  img {
    vertical-align: middle;
    margin-right: 11px;
  }

  &:hover {
    color: $white;
    background-color: $shamrock;
  }
}

</style>

<style type="scss">
.doubleScroll-scroll {
  margin-left: 330px;
}
</style>
