<template>
  <div class="hp-confirm-prompt" ref="container">
    <form @submit="onSubmit">
      <p>{{message}}</p>
      <PromptButton :text="confirmText" type="submit"></PromptButton>
    </form>
  </div>
</template>


<script>
import PromptButton from 'components/FormElements/PromptButton'

export default {
  components: {
    PromptButton
  },
  mounted () {
    $(this.$refs.container).find('button').first().focus()
  },
  data () {
    return {

    }
  },
  methods: {
    onSubmit (e) {
      e.preventDefault()

      if (this.confirm) {
        this.confirm()
      }
    }
  },
  props: {
    confirmText: {
      required: false,
      default: 'Yes'
    },
    message: { required: true },
    confirm: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  p {
    color: $tundora;
    margin-bottom: 2.9rem;
    font-size: 14px;
    line-height: normal;
  }

  button {
    margin-right: 1.8rem;
    &:last-child {
      margin-right: 0;
    }
  }

</style>
