<template>
  <div class="modal-content-container">
    <h1>EDIT COLUMNS</h1><br/>
    <CustomCheckbox id="select-all" label="Select all" :onChange="selectAllClick" /><br/>

    <div v-for="option, index in localOptions" class="toggle-container">
      <CustomCheckbox
        v-model="localOptions[index].show"
        :label="option.label"
      />
    </div>
    <PromptButton text="SAVE" type="submit" :onClick="saveClick" :customStyles="buttonStyles" />
  </div>
</template>

<script>
import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import PromptButton from 'components/FormElements/PromptButton'

export default {
  components: {
    CustomCheckbox,
    PromptButton
  },
  props: {
    options: { required: true },
    onSave: { required: true },
    hideModal: { required: true }
  },
  data () {
    return {
      buttonStyles: {
        display: 'block',
        margin: '40px auto 0px auto'
      }
    }
  },
  computed: {
    localOptions () {
      return this.options.map(option => {
        if ('visible' in option) {
          option.show = option.visible
          option.label = option.name
        }
        return option
      })
    }
  },
  methods: {
    saveClick () {
      this.onSave(this.localOptions)
      this.hideModal()
    },
    selectAllClick (e) {
      let isChecked = e.target.checked
      $.each(this.localOptions, (i, v) => {
        v.show = isChecked
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~styles/variables';

  .modal-content-container {
    padding: 25px;

    h1 {
      font-size: 12px;
      font-weight: 800;
      letter-spacing: 1.5px;
      text-align: left;
      color: $dove-gray;
      margin-bottom: 6px;
    }

    .toggle-container {
      display: inline-block;
      width: 50%;
      margin-top: 20px;
    }

    #select-all{
      font-weight: bold;
    }

  }
</style>
