<template>
  <div class="modal-tray" @click="hideModal">
      <component v-for="component in subComponents"
        :is="modalList[component.component]"
        v-bind="component.props || {}"
        :hideModal="hideModal"
        :modalStyles="component.modalStyles"
        @click.native="stopPropagation" />
  </div>
</template>

<script>
// Components to be included in modals
import * as modalList from './modalList'

export default {
  props: {
    subComponents: { required: true }, // [{ component, modalStyles, props }]
    hideModal: { required: true }
  },
  data () {
    return {
      modalList
    }
  },
  computed: {
  },
  methods: {
    stopPropagation (e) {
      e.stopPropagation()
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .modal-tray {
    display: flex;
    padding: 24px;
    position: absolute;
    height: 100%;
    width: 100%;

    > div {
      display: flex;
      flex-direction: column;
    }
  }
</style>
