<template>
  <div class="modal-content-container" ref="container">
    <h3>SEARCH FOR YOU LOGO</h3>
    <CustomInput
      v-model="address"
      :onEnter="submit"
      :icon="searchIcon"
      :containerStyles="searchContainerStyle"
      :customStyles="searchStyle"
      placeholder="Enter your website address..." />
    <PromptButton text="Search" type="submit" :onClick="submit" :customStyles="searchButtonStyles"></PromptButton>
    <div class="infix">OR</div>
    <h3 class="upload-title">UPLOAD A LOGO</h3>
    <dropzone ref="dropzone" id="dropzone" class="dropzone"
      url="/api/v1/images/"
      placeholder="Drop image here to upload"
      @vdropzone-success="uploadSuccess"
      @vdropzone-sending="sendingFile"
      :useFontAwesome="true"
      :dropzoneOptions="{ autoProcessQueue: false }"
      :useCustomDropzoneOptions="true"
      :autoQueue="true"
      acceptedFileTypes=".png, .jpg"
      :maxNumberOfFiles="1" />
    <div class="remove-wrapper" v-if="company.logo_url">
      <div class="remove" @click="removeLogo">
        <img v-svg-src="trashIcon"></img>
        <span>Remove</span>
      </div>
    </div>
    <div class="text-centered">
      <PromptButton text="DONE" type="submit" :onClick="submit"></PromptButton>
      <PromptButton text="CANCEL" type="hollow" :onClick="hideModal"></PromptButton>
    </div>
  </div>
</template>

<script>
import CustomInput from 'components/FormElements/CustomInput'
import Dropzone from 'vue2-dropzone'
import PromptButton from 'components/FormElements/PromptButton'

import searchIcon from 'img/search.svg'
import trashIcon from 'img/trash-link.svg'

import { authStore, metadataStore } from 'stores'
import { modals, alerts } from 'helpers'

export default {
  components: {
    CustomInput,
    Dropzone,
    PromptButton
  },
  data () {
    return {
      searchIcon,
      trashIcon,
      searchContainerStyle: {
        display: 'inline-block',
        'min-width': '70%'
      },
      searchStyle: {
        'min-width': '100%'
      },
      searchButtonStyles: {
        height: '40px',
        'margin-left': '10px',
        'min-width': '25%'
      },
      address: null,
      clearbitURL: null
    }
  },
  props: {
    company: { required: true },
    onSave: { required: false },
    hideModal: { required: true }
  },
  methods: {
    submit () {
      console.log('clicked submit')
      if (this.$refs.dropzone.getQueuedFiles().length) {
        this.$refs.dropzone.processQueue()
        return false
      }
      if (this.address) {
        // Remove everything but subdomains (except www), domain, and tld
        // https://gist.github.com/Nfinished/21619511154ada50dee7afdbcf7bf45b
        const pattern = /^(?:https*:\/\/)?(?:www\.)?([\w\d\.]*\..+)(?:\/)?(?:\/*.*)$/i // eslint-disable-line no-useless-escape
        let match = pattern.exec(this.address)
        if (match === null) {
          alerts.show({
            status: 'error',
            message: 'Whoops! You entered an invalid website address. Please try again.'
          })
        } else {
          console.log(`Submitted URL resolved to '${match[1]}'`)
          this.clearbitURL = `https://logo.clearbit.com/${match[1]}?s=150`
          this.previewLogo()
        }
      }
    },
    previewLogo () {
      // This ajax call is a preflight to make sure the requested logo actually exists before trying to display it.
      $.ajax({
        url: this.clearbitURL,
        type: 'GET'
      })
        .done(() => {
          modals.show({
            component: 'Confirm',
            props: {
              confirm: this.save,
              cancel: () => {
                this.address = this.clearbitURL = null
              },
              message: 'Is this logo correct? If not, try uploading your own.',
              image: this.clearbitURL
            }
          })
        })
        .fail(() => {
          modals.show({
            component: 'Confirm',
            props: {
              confirm: () => {
                this.address = this.clearbitURL = null
              },
              message: "We couldn't find your logo, please upload one instead.",
              confirmText: 'OK',
              hasCancelButton: false
            }
          })
        })
    },
    save () {
      metadataStore.setHasUnsavedChanges(true)
      this.company.logo_url = this.clearbitURL
      if (this.onSave) this.onSave(this.clearbitURL)
      modals.hide()
    },
    uploadSuccess (file, response) {
      metadataStore.setHasUnsavedChanges(true)
      this.company.logo_url = response.url
      if (this.onSave) this.onSave(response.url)
      this.hideModal()
    },
    sendingFile (file, xhr, formData) {
      const token = authStore.getToken()
      xhr.setRequestHeader('Authorization', `Token ${token}`)
    },
    removeLogo () {
      modals.show({
        component: 'Confirm',
        props: {
          confirm: () => {
            metadataStore.setHasUnsavedChanges(true)
            this.company.logo_url = null
            modals.hide()
          },
          message: 'Are you sure you want to remove your logo?',
          cancelText: 'Cancel'
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~styles/variables";
.modal-content-container {
  padding: 37px 48px 48px;
  overflow-x: hidden;
}

.infix {
  color: $dove-gray;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  margin: 30px 0;
}

.upload-title {
  margin-top: 10px;
}

.dropzone {
  margin-bottom: 15px;
}

.remove-wrapper {
  display: inline-block;
}

.remove {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 28px;

  &:hover {
    span {
      text-decoration: underline;
    }
  }

  span {
    color: $havelock;
    font-weight: bold;
    margin-left: 5px;
  }
}

button + button {
  margin-left: 18px;
}
</style>
