<template>
  <div class="hp-confirm-prompt" ref="container">
    <form @submit="onSubmit">
      <img v-if="image" :src="image" width="150" height="150"/>
      <p>{{message}}</p>
      <PromptButton :text="confirmText" type="submit"></PromptButton>
      <PromptButton v-if="hasCancelButton" type="hollow" :text="cancelText" :onClick="cancelCallback"></PromptButton>
    </form>
  </div>
</template>


<script>
import PromptButton from 'components/FormElements/PromptButton'

export default {
  components: {
    PromptButton
  },
  mounted () {
    // $(this.$refs.container).find("button").first().focus()

  },
  data () {
    return {

    }
  },
  computed: {
  },
  methods: {
    onSubmit (e) {
      e.preventDefault()

      if (this.confirmCallback) {
        this.confirmCallback()
        console.log('clicked confirm')
      }
    }
  },
  props: {
    confirmText: {
      required: false,
      default: 'Yes'
    },
    cancelText: {
      required: false,
      default: 'No'
    },
    hasCancelButton: { required: false, default: true },
    message: { required: true },
    image: { required: false, default: false },
    cancelCallback: { required: false },
    confirmCallback: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  p {
    color: $tundora;
    margin-bottom: 2.9rem;
    font-size: 14px;
    line-height: normal;
  }

  button {
    margin-right: 1.8rem;
    &:last-child {
      margin-right: 0;
    }
  }

</style>
