<template>
  <div class="modal-content-container">
    <p class="heading">
      Copy Sequence
      <Tooltip content="As a Happie admin, not only are you awesome, but you can also <i>copy a sequence</i> from any organization in Happie to any other organization in Happie. Just select the company, organization, and user who you want to be the owner of the copied sequence. It's that easy!" :customStyles="tooltipStyles" />
    </p>
    <div class="form-container">
      <label>Company</label>
      <Autocomplete
        placeholder="Search by company name"
        :suggestions="companyItems"
        :viewKeys="['name']"
        :searchKeys="['name']"
        :onSelect="changeCompany"
        :customStyles="inputStyles"
        :containerStyles="inputContainerStyles"
        :selected="selectedCompany"
        :icon="companyIcon"
      />
      <label>Organization</label>
      <CustomSelect
        :icon="organizationIcon"
        :items="organizationItems"
        :onChange="changeOrganization"
        :selected="selectedOrganizationId"
        :customStyles="inputContainerStyles"
        :disabled="!selectedCompany"
      />
      <label>Sequence Owner</label>
      <Autocomplete
        placeholder="Search by name or email..."
        :suggestions="userItems"
        :viewKeys="['email']"
        :searchKeys="['first_name','last_name','email']"
        :onSelect="changeUser"
        :customStyles="inputStyles"
        :containerStyles="inputContainerStyles"
        :selected="selectedUser"
      />
      <PromptButton text="COPY" type="submit" :onClick="copySequence" :customStyles="promptStyles"></PromptButton>
    </div>
  </div>
</template>

<script>

import Tooltip from 'components/Tools/Tooltip'
import PromptButton from 'components/FormElements/PromptButton'
import Autocomplete from 'components/FormElements/Autocomplete'
import CustomSelect from 'components/FormElements/CustomSelect'

import { adminStore } from 'stores'
import { alerts } from 'helpers'

import api from 'api'

import companyIcon from 'img/company.svg'
import organizationIcon from 'img/organization.svg'

export default {
  components: {
    Autocomplete,
    PromptButton,
    Tooltip,
    CustomSelect
  },
  computed: {
    companyItems () {
      return this.adminStore.companies
    },
    organizationItems () {
      let items = [{ value: null, label: 'Select Organization' }]
      if (this.selectedCompany) {
        for (let org of this.adminStore.organizations) {
          if (this.selectedCompany.id == org.company.id) {
            items.push({ value: org.id, label: org.name })
          }
        }
      }
      return items
    },
    userItems () {
      if (this.selectedOrganizationId) {
        return this.adminStore.users.filter((value) => {
          return value.current_organization_id == this.selectedOrganizationId
        })
      } else if (this.selectedCompany) {
        return this.adminStore.users.filter((value) => {
          return value.company_id == this.selectedCompany.id
        })
      } else {
        return this.adminStore.users
      }
    }
  },
  data () {
    return {
      adminStore: adminStore.get(),
      selectedCompany: null,
      selectedOrganizationId: null,
      selectedUser: null,
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle',
        'margin-left': '18px'
      },
      inputStyles: {
        'max-width': '100%',
        width: '100%'
      },
      inputContainerStyles: {
        display: 'inline-block',
        width: '60%',
        'margin-bottom': '15px',
        'max-width': '60%',
        'vertical-align': 'middle'
      },
      promptStyles: {
        'margin-top': '50px'
      },
      organizationIcon,
      companyIcon
    }
  },
  methods: {
    copySequence () {
      if (this.selectedUser) {
        api.ajax('sequences/install', {
          type: 'POST',
          data: {
            target_user: this.selectedUser.id,
            sequences: this.sequence_ids
          }
        })
        .done((response) => {
          alerts.show({
            message: `Successfully copied sequence to ${this.selectedUser.first_name || this.selectedUser.email}'s account!`,
            status: 'success'
          })
        })
        .fail((e) => {
          console.error('Error installing sequence ', e)
          alerts.show({
            message: 'Failed to copy sequence!',
            status: 'error'
          })
        })
      } else {
        alerts.show({
          message: 'Please select a sequence owner!',
          status: 'error'
        })
      }
    },
    changeCompany (item) {
      this.selectedCompany = item
      this.selectedOrganizationId = null
      this.selectedUser = null
    },
    changeOrganization (item) {
      this.selectedOrganizationId = parseInt(item.value)
      this.selectedUser = null
    },
    changeUser (item) {
      if (item) {
        this.selectedUser = item
        this.selectedCompany = this.adminStore.companies.find((value) => {
          return value.id == item.company_id
        })
        this.selectedOrganizationId = parseInt(item.current_organization_id)
      } else {
        this.selectedUser = null
      }
    }
  },
  props: {
    sequence_ids: { required: true }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .modal-content-container {
    padding: 0px 35px 35px 35px;
    margin-top: 25px;
  }

  p {
    &.heading {
      font-size: 1.6rem;
      margin-top: 25px;
      margin-bottom: 50px;
    }
  }

  .form-container {
    text-align: center;

    label {
      display: inline-block;
      width: 35%;
      text-align: right;
      font-size: 1.4rem;
      font-weight: 600;
      margin-right: 5%;
    }
  }
</style>
