<template>
<div class="modal-content-container">
  <div class="modal-body">
    <p class="heading">Craigslist Configuration Settings</p>
    <div class="column" style="margin-right: 4%">
      <CustomSelect
        :icon="powerIcon"
        :items="syndicationItems"
        :onChange="(e) => {changeInput('craigslistSyndicated', e)}"
        :selected="tempReq.craigslist_status"
        :customStyles="fieldStyles" />
      <CustomSelect
        :icon="jobIcon"
        :items="employmentTypeItems"
        :onChange="(e) => {changeInput('craigslistEmploymentType', e)}"
        :selected="tempReq.craigslist_employment_type"
        :customStyles="fieldStyles" />
    </div>
    <div class="column">
      <DatePicker
        :date="tempReq.craigslist_date"
        :autofill="false"
        :fullWidth="true"
        :onChange="(e) => {changeInput('craigslistDate', e)}"
        placeholder="Posting Date" />
      <CustomSelect
        :icon="jobIcon"
        :items="categoryItems"
        :onChange="(e) => {changeInput('craigslistCategory', e)}"
        :selected="tempReq.craigslist_category_id"
        :customStyles="fieldStyles" />
    </div>
    <CustomMultiSelect
      :icon="locationIcon"
      :items="locationItems"
      placeholder="Craigslist Location"
      :selected="tempReq.craigslist_locations"
      :onChange="(e) => { changeInput('craigslistLocation', e) }"
      :customStyles="multiselectFieldStyles" />
  </div>
  <div class="text-centered">
    <FlatButton :click="submit" color="green">UPDATE</FlatButton>
  </div>
</div>
</template>

<script>
import CustomSelect from 'components/FormElements/CustomSelect'
import DatePicker from 'components/Tools/DatePicker'
import CustomMultiSelect from 'components/FormElements/CustomMultiSelect'
import FlatButton from 'components/FormElements/FlatButton'

import powerIcon from 'img/power.svg'
import jobIcon from 'img/briefcase.svg'
import locationIcon from 'img/location-pin.svg'

import { craigslistStore } from 'stores'
import { alerts, modals } from 'helpers'

import moment from 'moment'

export default {
  components: {
    CustomSelect,
    DatePicker,
    CustomMultiSelect,
    FlatButton
  },
  data () {
    return {
      powerIcon,
      jobIcon,
      locationIcon,
      fieldStyles: {
        display: 'inline-block',
        width: '100%',
        'max-width': '100%'
      },
      multiselectFieldStyles: {
        'margin-bottom': '50px'
      },
      syndicationItems: [
        { value: null, label: 'Craigslist Syndication' },
        { value: true, label: 'On' },
        { value: false, label: 'Off' }
      ],
      employmentTypeItems: [
        { value: null, label: 'Craigslist Employment Type' },
        { value: 'full_time', label: 'Full Time' },
        { value: 'part_time', label: 'Part Time' },
        { value: 'employee_choice', label: "Employee's Choice" }
      ],
      tempReq: {
        craigslist_status: null,
        craigslist_employment_type: null,
        craigslist_date: null,
        craigslist_category_id: null,
        craigslist_locations: []
      },
      craigslistStore: craigslistStore.get()
    }
  },
  props: {
    sourcedReq: { required: true },
    save: { required: true },
    hideModal: { required: true }
  },
  computed: {
    categoryItems () {
      let categories = this.craigslistStore.categories
      categories.unshift({ value: null, label: 'Craigslist Category' })
      return categories
    },
    locationItems () {
      let locations = this.craigslistStore.locations
      locations.forEach(_ => {
        let subMarket = ' '
        if (_.subMarket) subMarket = ` (${_.subMarket})`
        _.label = `${_.city}, ${_.state}${subMarket} - ${_.craigslistMediaFee}`
      })
      return locations
    }
  },
  mounted () {
    for (const key in this.tempReq) {
      this.tempReq[key] = this.sourcedReq[key]
    }
  },
  methods: {
    changeInput (field, e) {
      switch (field) {
        case 'craigslistSyndicated':
          this.tempReq.craigslist_status = e.value
          break
        case 'craigslistEmploymentType':
          this.tempReq.craigslist_employment_type = e.value
          break
        case 'craigslistDate':
          verifyDateChange.apply(this)
          break
        case 'craigslistCategory':
          this.tempReq.craigslist_category_id = e.value
          break
        case 'craigslistLocation':
          this.tempReq.craigslist_locations = e
          break
        default:
          break
      }
      function verifyDateChange () {
        modals.show({
          component: 'Confirm',
          props: {
            message: 'Changing the date of this Craigslist post will result in a new Craisglist posting and additional costs. Do you want to proceed?',
            confirmText: 'Yes, please!',
            confirm: () => {
              this.tempReq.craigslist_date = moment(e).format()
            },
            cancel: () => {
              this.tempReq.craigslist_date = this.sourcedReq.craigslist_date
            }
          }
        })
      }
    },
    submit () {
      // Make sure all fields are filled out.
      let error = false
      for (const key in this.tempReq) {
        if (this.tempReq[key] === null) error = true
      }
      if (error && this.tempReq.craigslist_status) {
        alerts.show({
          status: 'error',
          message: 'Whoops! Fields cannot be blank. Please correct any errors before saving.'
        })
        return false
      }
      // Save and submit
      for (const key in this.tempReq) {
        this.sourcedReq[key] = this.tempReq[key]
      }
      this.save()
      this.hideModal()
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-content-container {
  padding: 0 15px 35px;
  margin-top: 15px;
}

.modal-body {
  padding: 0 20px;
}

.heading {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin: 25px 0 18px;
  text-transform: uppercase;
}

.column {
  display: inline-block;
  width: 48%;
}

.custom-select-container,
.custom-input-container,
.custom-datepicker-container {
  margin-bottom: 27px;
}
</style>
