<template>
  <div class="modal-content-container">
    <p class="heading">
      {{title}}
      <Tooltip :content="tooltipContent" :customStyles="tooltipStyles" />
    </p>
    <form @submit="createHandler">
      <label for="name">Name</label>
      <CustomInput
        customId="name"
        v-model="name"
        :placeholder="`Enter a name for your new ${modalType}`"
        :containerStyles="nameBoxContainerStyles"
        :customStyles="nameBoxStyles"
      />
      <label for="description">Description</label>
      <CustomTextArea
        customId="description"
        v-model="description"
        :customStyles="descriptionBoxStyles"
        :containerStyles="descriptionBoxContainerStyles"
        :placeholder="`Enter a description for your new ${modalType}. Only you and other users who have access to this ${modalType} will see it.`"
      />
      <PromptButton text="SAVE" type="submit" :customStyles="saveButtonStyles"></PromptButton>
    </form>
  </div>
</template>


<script>
import PromptButton from 'components/FormElements/PromptButton'
import CustomInput from 'components/FormElements/CustomInput'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import Tooltip from 'components/Tools/Tooltip'

import api from 'api'
import { alerts, modals } from 'helpers'

export default {
  components: {
    PromptButton,
    CustomInput,
    CustomTextArea,
    Tooltip
  },
  created () {
    if (this.list) {
      this.name = this.list.name
      this.description = this.list.description
    } else if (this.template) {
      this.name = this.template.name
      this.description = this.template.description
    }
  },
  data () {
    return {
      nameBoxContainerStyles: {
        display: 'inline-block'
      },
      nameBoxStyles: {
        width: '277px',
        'margin-bottom': '20px'
      },
      descriptionBoxContainerStyles: {
        display: 'inline-block'
      },
      descriptionBoxStyles: {
        width: '277px',
        'margin-bottom': '20px'
      },
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle',
        'margin-left': '18px'
      },
      saveButtonStyles: {
        display: 'block',
        width: '277px',
        'margin-left': '143px'
      },
      name: '',
      description: ''
    }
  },
  computed: {
    title () {
      switch (this.modalType) {
        case 'list':
          return this.list ? 'Edit List Settings' : 'Create a New List'
        case 'template':
          return this.template.id ? 'Edit Template Settings' : 'Create a New Template'
      }
    },
    tooltipContent () {
      let content
      switch (this.modalType) {
        case 'list':
          content = 'You use <i>lists</i> to target specific segments or groups of candidates with your sequences. You add candidates to <i>lists</i> based on whatever criteria you think are relevant. For example, you may want to create a <i>list</i> based on the current titles of candidates — or their locations. It’s entirely up to you!'
          break
        case 'template':
          content = 'You can use <i>templates</i> to save messages and insert them as editable steps in your sequences. Templates help you and your teammates easily reuse boilerplate copy (that means “words” in recruitment marketing-speak), so you don’t have to reinvent the wheel every time you create a new sequence. Use merge tags in your templates to ensure that your messages are personalized.'
          break
      }
      return content
    }
  },
  methods: {
    createHandler (e) {
      // Prevent default submit
      e.preventDefault()

      switch (this.modalType) {
        case 'list':
          this.createList()
          break
        case 'template':
          this.createTemplate()
          break
      }
    },
    createList () {
      // This modal controls both creating new lists, and modifying existing ones.
      // If we have a list prop, update that one, otherwise make new one

      let type = this.list ? 'PATCH' : 'POST'
      let url = this.list ? `candidate-lists/${this.list.id}` : `candidate-lists`

      api.ajax(url, {
        type: type,
        data: {
          name: this.name,
          description: this.description
        }
      })
      .done((response) => {
        console.log('created (or updated) list ', response)
        this.customCallback(response)

        // Close all modals, including upsell if it's open
        modals.hide()
      })
      .fail((e) => {
        console.error('Failed to create or update list ', e)
        if (e.status == 409) {
          alerts.show({
            message: `Uh oh — it looks like you already have a list with that name. Please provide a different name!`,
            status: 'error'
          })
        } else if (e.responseJSON && e.responseJSON.detail) {
          alerts.show({
            message: e.responseJSON.detail,
            status: 'error'
          })
        }
      })
    },
    createTemplate () {
      // This modal controls both creating new templates, and modifying existing ones.
      // If we have a template prop, update that one, otherwise make new one

      let type = this.template.id ? 'PUT' : 'POST'
      let url = this.template.id ? `templates/${this.template.template_type}/${this.template.id}` : `templates/${this.template.template_type}`
      this.template.name = this.name
      this.template.description = this.description

      api.ajax(url, {
        type: type,
        data: this.template
      })
      .done((response) => {
        console.log('created (or updated) template ', response)
        this.customCallback(response)

        // Close only this modal
        this.hideModal()
      })
      .fail((e) => {
        console.error('Failed to create or update template ', e)
        if (e.status == 409) {
          alerts.show({
            message: `Uh oh — it looks like you already have a template with that name. Please provide a different name!`,
            status: 'error'
          })
        } else if (e.responseJSON && e.responseJSON.detail) {
          alerts.show({
            message: e.responseJSON.detail,
            status: 'error'
          })
        }
      })
    }
  },
  props: {
    customCallback: { required: true },
    list: { required: false },
    hideModal: { required: false },
    modalType: { required: true },
    template: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .modal-content-container {
    padding: 0px 35px 35px 35px;
    margin-top: 25px;
  }

  p {
    &.heading {
      font-size: 1.6rem;
      margin-top: 25px;
      margin-bottom: 50px;
    }
  }

  label {
    display: inline-block;
    width: 113px;
    text-align: right;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 30px;
  }

</style>
