<template>
  <div class="modal-content-container">
    <p class="heading">
      Create a new job category
      <Tooltip content="Creating a job category is as simple as giving it a name and choosing its type. After you save it, it will appear as an option for organizing and displaying your fields as Happie." :customStyles="tooltipStyles" />
    </p>
    <label for="name">Name</label>
    <CustomInput
      customId="name"
      placeholder="Enter a name for your new list"
      :containerStyles="nameBoxContainerStyles"
      :customStyles="nameBoxStyles"
    />
    <label for="category_type">Category type</label>
    <CustomSelect
      :items="jobCategoryTypes"
      :selected="selectedCategoryType"
      :onChange="(item) => {categoryChange(item)}"
      :customStyles="jobCategoryTypeCustomStyles"
      selectIcon="select-category"
    />
    <Tooltip content="You can use the job category type to map jobs in your category to the right sections on job boards to which Happie may syndicate your jobs. This will help get your jobs found by the right candidates on job boards!" :customStyles="tooltip2Styles" />
    <PromptButton text="SAVE" :onClick="createJobCategory" :customStyles="saveButtonStyles"></PromptButton>
  </div>
</template>


<script>
/* eslint-disable */
  // Not being used currently

  import PromptButton from 'components/FormElements/PromptButton'
  import CustomInput from 'components/FormElements/CustomInput'
  import CustomSelect from 'components/FormElements/CustomSelect'
  import Tooltip from 'components/Tools/Tooltip'

  import api from 'api'

  export default {
  components: {
    PromptButton,
    CustomInput,
    CustomSelect,
    Tooltip
  },
  mounted () {
  },
  data () {
    return {
      activeComposeTab: 0,
      nameBoxContainerStyles: {
        display: 'inline-block'
      },
      nameBoxStyles: {
        width: '277px',
        'margin-bottom': '20px'
      },
      jobCategoryTypeCustomStyles: {
        display: 'inline-block',
        'max-width': '277px',
        width: '277px',
        'vertical-align': 'middle'
      },
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle',
        'margin-left': '18px'
      },
      tooltip2Styles: {
        display: 'inline-block',
        'vertical-align': 'middle',
        'margin-left': '18px'
      },
      saveButtonStyles: {
        display: 'block',
        width: '277px',
        'margin-left': '143px',
        'margin-top': '20px'
      },
      jobCategoryTypes: [{'value': 'select', 'label': 'Select a Job Category type'}, {'value': 'Accounting/Finance', 'label': 'Accounting/Finance'}, {'value': 'Admin/Secretarial', 'label': 'Admin/Secretarial'}, {'value': 'Advertising', 'label': 'Advertising'}, {'value': 'Architect/Design', 'label': 'Architect/Design'}, {'value': 'Art/Media/Writers', 'label': 'Art/Media/Writers'}, {'value': 'Automotive', 'label': 'Automotive'}, {'value': 'Banking', 'label': 'Banking'}, {'value': 'Biotech/Pharmaceutical', 'label': 'Biotech/Pharmaceutical'}, {'value': 'Computer/Software', 'label': 'Computer/Software'}, {'value': 'Construction/Skilled', 'label': 'Construction/Skilled'}, {'value': 'Trade', 'label': 'Trade'}, {'value': 'Customer', 'label': 'Customer'}, {'value': 'Service', 'label': 'Service'}, {'value': 'Domestic', 'label': 'Domestic'}, {'value': 'Help/Care', 'label': 'Help/Care'}, {'value': 'Education', 'label': 'Education'}, {'value': 'Engineering', 'label': 'Engineering'}, {'value': 'Environmental', 'label': 'Environmental'}, {'value': 'Science', 'label': 'Science'}, {'value': 'Events', 'label': 'Events'}, {'value': 'Everything', 'label': 'Everything'}, {'value': 'Else', 'label': 'Else'}, {'value': 'Facilities/Maintenance', 'label': 'Facilities/Maintenance'}, {'value': 'General', 'label': 'General'}, {'value': 'Labor/Warehouse', 'label': 'Labor/Warehouse'}, {'value': 'Gov/Military', 'label': 'Gov/Military'}, {'value': 'HR', 'label': 'HR'}, {'value': '&', 'label': '&'}, {'value': 'Recruiting', 'label': 'Recruiting'}, {'value': 'Healthcare', 'label': 'Healthcare'}, {'value': 'Hospitality/Restaurant', 'label': 'Hospitality/Restaurant'}, {'value': 'Information', 'label': 'Information'}, {'value': 'Technology', 'label': 'Technology'}, {'value': 'Insurance', 'label': 'Insurance'}, {'value': 'Internet', 'label': 'Internet'}, {'value': 'Law', 'label': 'Law'}, {'value': 'Enforcement/Security', 'label': 'Enforcement/Security'}, {'value': 'Legal', 'label': 'Legal'}, {'value': 'Management', 'label': 'Management'}, {'value': '&', 'label': '&'}, {'value': 'Exec', 'label': 'Exec'}, {'value': 'Manufacturing/Operations', 'label': 'Manufacturing/Operations'}, {'value': 'Marketing/PR', 'label': 'Marketing/PR'}, {'value': 'Nonprofit', 'label': 'Nonprofit'}, {'value': '&', 'label': '&'}, {'value': 'Fund', 'label': 'Fund'}, {'value': 'Oil/Energy/Power', 'label': 'Oil/Energy/Power'}, {'value': 'Quality', 'label': 'Quality'}, {'value': 'Assurance', 'label': 'Assurance'}, {'value': 'Real', 'label': 'Real'}, {'value': 'Estate', 'label': 'Estate'}, {'value': 'Research', 'label': 'Research'}, {'value': '&', 'label': '&'}, {'value': 'Dev', 'label': 'Dev'}, {'value': 'Retail', 'label': 'Retail'}, {'value': 'Sales', 'label': 'Sales'}, {'value': '&', 'label': '&'}, {'value': 'Biz', 'label': 'Biz'}, {'value': 'Dev', 'label': 'Dev'}, {'value': 'Salon/Beauty/Fitness', 'label': 'Salon/Beauty/Fitness'}, {'value': 'Social', 'label': 'Social'}, {'value': 'Services', 'label': 'Services'}, {'value': 'Supply', 'label': 'Supply'}, {'value': 'Chain/Logistics', 'label': 'Chain/Logistics'}, {'value': 'Telecommunications', 'label': 'Telecommunications'}, {'value': 'Travel', 'label': 'Travel'}, {'value': 'Trucking/Transport', 'label': 'Trucking/Transport'}, {'value': 'TV/Film/Musicians', 'label': 'TV/Film/Musicians'}, {'value': 'Vet', 'label': 'Vet'}, {'value': '&', 'label': '&'}, {'value': 'Animal', 'label': 'Animal'}, {'value': 'Care', 'label': 'Care'}, {'value': 'Work', 'label': 'Work'}, {'value': 'from', 'label': 'from'}, {'value': 'Home', 'label': 'Home'}, {'value': 'greenpioneer', 'label': 'greenpioneer'}],
      selectedCategoryType: {value: 'select'}
    }
  },
  computed: {
  },
  methods: {
    createJobCategory () {
      // TODO
    },
    categoryChange (item) {

    }
  },
  props: {
  }
}
/* eslint-enable */
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .modal-content-container {
    padding: 0px 35px 35px 35px;
    margin-top: 25px;
  }

  p {
    &.heading {
      font-size: 1.6rem;
      margin-top: 25px;
      margin-bottom: 50px;
    }
  }

  label {
    display: inline-block;
    width: 113px;
    text-align: right;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 30px;
  }

</style>
