<template>
<div class="hp-confirm-prompt import-modal">
  <div class="job-container-wrapper text-left" v-show="!showPreview">
    <Tooltip content="You can <i>import a list</i> of your own candidates to nurture them with sequences in Happie, expose them to your employer brand, and build relationships with them over time until they become candidates. Be sure to upload your list in the same format as the required import template." :customStyles="topTooltipStyle" />
      <div class="req-info" v-if="sourcedReq">
        <p><b>Company Name:</b> {{ companyName }}</p>
        <p><b>Job Title:</b> {{ jobName }}</p>
        <p><b>Sourced Req:</b> {{ sourcedReq.name }}</p>
      </div>

      <template v-if="enableResumeUpload">
        <Tablist
          :tabs="uploadTabs"
          :selectedTab="activeUploadTab"
          @change="tabChange" />
        <div role="tabpanel" v-show="activeUploadTab === 1">
          <p class="upload-info"><b>IMPORTANT:</b> Import up to {{ maxConcurrentUploads }} resumes at once by dragging and dropping files into the drop zone below.</p>
          <p class="upload-label">Upload Resumes</p>
          <dropzone ref="resumeUpload" id="resumeUpload"
            url="/api/v1/candidates/import/"
            @vdropzone-success-multiple="uploadedResumes"
            @vdropzone-queue-complete="uploadResumesDone"
            @vdropzone-error="uploadedResumesFailed"
            @vdropzone-files-added="(files) => { addedResumes += files.length }"
            @vdropzone-removed-file="addedResumes--"
            @vdropzone-sending-multiple="sendingFile"
            :dropzoneOptions="{uploadMultiple: true, duplicateCheck: true, autoProcessQueue: false, parallelUploads: maxConcurrentUploads}"
            :useCustomDropzoneOptions="true"
            :autoQueue="true"
            :useFontAwesome="true"
            :maxNumberOfFiles="maxConcurrentUploads"></dropzone>
            <template v-if="!sourcedReq">
              <div class="add-to-list-container" v-if="enableListSelect">
                <span class="add-to-list-label">List(s)</span>
                <CustomMultiSelect
                  :icon="targetImg"
                  :items="listItems"
                  :selected="selectedLists"
                  :onChange="(value) => { changeValue('lists', value) }"
                  placeholder="Select one or more lists..."
                  :customStyles="multiSelectCustomStyles" />
              </div>
              <div class="add-to-list-container" v-if="enableJobSelect">
                <span class="add-to-list-label">Targeted Job(s)</span>
                <CustomMultiSelect
                  :icon="targetImg"
                  :items="jobItems"
                  :selected="selectedJobs"
                  :onChange="(item) => { changeValue('jobs', item ) }"
                  placeholder="Select one or more jobs..."
                  :customStyles="multiSelectCustomStyles"
                />
              </div>
            </template>
            <div class="add-to-list-container" v-if="enableSourceSelect">
              <span class="add-source-label">Source</span>
              <CustomSelect
                :items="sources"
                :onChange="(item) => {changeValue('source',item)}"
                :selected="selectedSource"
                :customStyles="selectCustomStyles"
                :menuMaxHeight="300"
                :icon="sourceImg"
              />
            </div>
          </div>
      </template>

      <div role="tabpanel" v-show="activeUploadTab === 0">
        <p class="upload-info"><b>IMPORTANT:</b> Imports must be CSV files that use the same format as the required template. <a :href="csvTemplate.getHref()" download="Happie-CSV-Template.csv">Download the template now</a>.</p>
        <p class="upload-label">Upload Candidates</p>
        <dropzone ref="csvUpload" id="csvUpload"
          :url="uploadUrl"
          @vdropzone-success="showSuccess"
          @vdropzone-error="showError"
          @vdropzone-sending="sendingFile"
          :useFontAwesome="true"
          acceptedFileTypes=".csv"
          :maxNumberOfFiles="1"></dropzone>
      </div>
      <div class="enhance-container" v-if="accountStore.account.is_sourcer" :style="this.activeUploadTab ? { 'margin-left': '155px' } : ''">
        <span class="label">Enhance</span>
        <CustomCheckbox v-model="enhance"/>
      </div>
      <div class="text-centered" v-show="activeUploadTab && addedResumes > 0" v-if="enableResumeUpload">
        <PromptButton class="next-button" text="UPLOAD" :onClick="importResumes" />
      </div>

  </div>
  <FileImportPreview
    v-if="showPreview"
    :metadata="uploadMetadata"
    :jobItems="jobItems"
    :listItems="listItems"
    :candidates="previewCandidates"
    :previewCount="previewCount"
    :duplicateCandidates="duplicateCandidates"
    :duplicateCount="duplicateCount"
    :cancelImport="cancelImport"
    :addToList="addToList"
    :sourcedReq="sourcedReq"
    :enableJobSelect="enableJobSelect"
    :enableListSelect="enableListSelect"
    :enableSourceSelect="enableSourceSelect"
    :enhance="enhance"
    :callback="callback"
    :hideWhenDone="hideWhenDone" />
</div>
</template>

<script>
import Tooltip from 'components/Tools/Tooltip'
import Tablist from 'components/Tools/Tablist'
import Dropzone from 'vue2-dropzone'
import CustomCheckbox from 'components/FormElements/CustomCheckbox'
import FileImportPreview from 'components/Modals/FileImportPreview'
import CustomMultiSelect from 'components/FormElements/CustomMultiSelect'
import CustomSelect from 'components/FormElements/CustomSelect'
import PromptButton from 'components/FormElements/PromptButton'

import targetImg from 'img/target.svg'
import sourceImg from 'img/settings/atom.svg'

import { authStore, jobsStore, organizationStore, listsStore, accountStore, metadataStore } from 'stores'

import { csvTemplate, alerts, modals, sourcedReqHelper } from 'helpers'

import api from 'api'

export default{
  components: {
    Tooltip,
    Tablist,
    Dropzone,
    CustomCheckbox,
    FileImportPreview,
    CustomMultiSelect,
    CustomSelect,
    PromptButton
  },
  data () {
    return {
      targetImg,
      sourceImg,
      topTooltipStyle: {
        position: 'absolute',
        top: '19px',
        left: '19px'
      },
      multiSelectCustomStyles: {
        width: '60%',
        display: 'inline-block'
      },
      selectCustomStyles: {
        'max-width': '366px',
        width: '366px',
        display: 'inline-block'
      },
      activeUploadTab: 0,
      addedResumes: 0,
      uploadMetadata: {},
      selectedLists: [],
      selectedJobs: [],
      selectedSource: '',
      previewCandidates: [],
      previewCount: 0,
      duplicateCandidates: [],
      duplicateCount: 0,
      showPreview: false,
      enhance: false,
      jobsStore: jobsStore.get(),
      listsStore: listsStore.get(),
      organizationStore: organizationStore.get(),
      accountStore: accountStore.get(),
      metadataStore: metadataStore.get(),
      csvTemplate: csvTemplate,
      maxConcurrentUploads: 250
    }
  },
  props: {
    enableResumeUpload: { type: Boolean, required: false, default: true },
    enableJobSelect: { type: Boolean, required: false, default: true },
    enableListSelect: { type: Boolean, required: false, default: true },
    enableSourceSelect: { type: Boolean, required: false, default: true },
    hideWhenDone: { type: Boolean, required: false, default: true },
    addToList: { required: false, default: false },
    sourcedReq: { required: false, default: false },
    callback: { required: false, default: false },
    hideModal: { required: true }
  },
  computed: {
    jobName () {
      let jobName = 'Untitled'
      if (this.sourcedReq) {
        $.each(this.jobsStore.jobs, (key, value) => {
          if (value.id == this.sourcedReq.req) {
            jobName = value.title
            return
          }
        })
        return jobName
      }
    },
    companyName () {
      let companyName = 'Untitled'
      if (this.sourcedReq) {
        $.each(this.organizationStore.organizations, (key, value) => {
          if (value.id == this.sourcedReq.organization) {
            companyName = value.company.name
            return
          }
        })
        return companyName
      }
    },
    uploadTabs () {
      let tabs = [{ title: 'Upload CSV' }]
      if (this.enableResumeUpload) {
        tabs.push({ title: 'Upload Resumes' })
      }
      return tabs
    },
    uploadUrl () {
      let url = '/api/v1/candidates/import/?preview=1'
      if (this.sourcedReq) url = url.concat(`&sourced_req_id=${this.sourcedReq.id}`)
      return url
    },
    dropzoneRef () {
      return this.activeUploadTab === 0
        ? this.$refs.csvUpload
        : this.$refs.resumeUpload
    },
    jobItems () {
      let items = []
      $.each(this.jobsStore.jobs, (key, value) => {
        items.push({
          'value': value.id,
          'label': value.title
        })
      })
      return items
    },
    listItems () {
      let items = []
      $.each(this.listsStore.lists, (key, value) => {
        items.push({
          'value': value.id,
          'label': value.name
        })
      })
      return items
    },
    sources () {
      let sources = [].concat(this.metadataStore.importSources)
      return sources
    }
  },
  mounted () {
    if (this.jobsStore.jobs.length < 1) {
      api.ajax('reqs/')
      .done((response) => {
        console.log('response from initial get reqs ', response)
        jobsStore.init(response)
      })
    }
    if (this.listsStore.lists.length < 1) {
      api.ajax('candidate-lists/')
      .done((response) => {
        console.log('response from lists ', response)
        listsStore.init(response)
      })
    }
  },
  methods: {
    tabChange (index) {
      this.activeUploadTab = index
    },
    showSuccess (file, response) {
      response = JSON.parse(response)
      console.log('File response from preview import:', file)
      console.log('Response from preview import', response)
      this.uploadMetadata = {
        id: response.upload_id,
        file: file
      }
      this.previewCandidates = response.preview
      this.previewCount = response.count
      this.duplicateCandidates = response.duplicate_candidates
      this.duplicateCount = response.duplicate_count
      if (!this.previewCount && this.duplicateCount) {
        modals.show({
          component: 'Confirm',
          props: {
            confirm: () => {
              if (this.callback) {
                this.callback()
              }
              this.dropzoneRef.removeAllFiles()
            },
            message: `Uh oh! It looks like all the candidates in this file have been uploaded before.`,
            confirmText: 'WHOOPS!',
            hasCancelButton: false
          }
        })
      } else {
        this.showPreview = true
      }
    },
    showError (file) {
      console.log(file)
      let response = file.xhr.responseText
      response = response.split(',')
      switch (response[0]) {
        case 'Some candidates have sourced reqs and some do not':
          modals.show({
            component: 'Confirm',
            props: {
              confirm: () => {
                if (this.callback) {
                  this.callback()
                }
                this.dropzoneRef.removeAllFiles()
              },
              message: `Uh oh! It looks like some, but not all, candidates in this file have sourced req IDs. Please ensure they all have an ID, or delete the whole column and try uploading the file again.`,
              confirmText: 'OK',
              hasCancelButton: false
            }
          })
          break
        case 'Unable to locate':
          modals.show({
            component: 'Confirm',
            props: {
              confirm: () => {
                if (this.callback) {
                  this.callback()
                }
                this.dropzoneRef.removeAllFiles()
              },
              message: `Uh oh! It looks like you're trying to ${response.slice(1).length > 1 ? "add some candidates to sourced reqs that don't" : "add a candidate to a sourced req that doesn't"} exist. The sourced req ID${response.slice(1).length > 1 ? 's are' : ' is'}: ${response.slice(1).join(', ')}. Please double check your file and try uploading it again.`,
              confirmText: 'OK',
              hasCancelButton: false
            }
          })
          break
        default:
          break
      }
    },
    sendingFile (file, xhr, formData) {
      const token = authStore.getToken()
      xhr.setRequestHeader('Authorization', `Token ${token}`)
    },
    importResumes () {
      // Prevent import if there's no source
      if (this.selectedSource === '') {
        modals.show({
          component: 'Confirm',
          props: {
            message: 'Uh oh! It looks like you have not chosen a source for the file(s) you are importing. Please choose a source from the drop-down list.',
            confirmText: 'OK',
            hasCancelButton: false
          }
        })
        return false
      }
      this.$refs.resumeUpload.processQueue()
    },
    uploadedResumes (files, response) {
      response = JSON.parse(response)
      let requestObject = {
        type: 'GET',
        data: {
          upload_id: response.upload_id,
          list_ids: this.selectedLists.join(','),
          req_ids: this.selectedJobs.join(','),
          lead_source: this.selectedSource,
          enhance: this.enhance
        }
      }
      if (this.sourcedReq) requestObject.data.sourced_req_id = this.sourcedReq.id
      api.ajax('candidates/import/', requestObject)
        .done((response) => {
          console.log('response from import candidates', response)
          if (this.sourcedReq) {
            sourcedReqHelper.refresh.apply(this)
          }
        })
        .fail((e) => {
          console.error('Error importing candidates: no URL provided')
          alerts.show({
            status: 'error',
            message: `Uh-oh, there was an error importing your candidates. Please refresh your browser and try again.`
          })
        })
    },
    uploadResumesDone () {
      modals.show({
        component: 'Confirm',
        props: {
          confirm: () => {
            alerts.show({
              status: 'warning',
              message: `We'll send you an email notificaiton when the candidate${this.addedResumes > 1 ? "s'" : "'s"} profile${this.addedResumes > 1 ? 's are' : ' is'} ready to go. Thanks for your patience!`
            })
            if (this.callback) {
              this.callback()
            }
            modals.hide()
          },
          message: `Great! You successfully imported ${this.addedResumes} resume${this.addedResumes > 1 ? 's' : ''}! It's going to take a few minutes to turn those resumes into candidates in Happie, so please check back in a few. Thanks for your patience!`,
          confirmText: 'I UNDERSTAND',
          hasCancelButton: false
        }
      })
    },
    uploadedResumesFailed () {
      alerts.show({
        status: 'error',
        message: `Uh oh — ${this.addedResumes} resume${this.addedResumes > 1 ? 's' : ''} couldn’t be uploaded. Please refresh the page and try again!`
      })
    },
    changeValue (key, item) {
      switch (key) {
        case 'jobs':
          this.selectedJobs = item
          break
        case 'lists':
          this.selectedLists = item
          break
        case 'source':
          this.selectedSource = item.value
          break
        default:
          break
      }
    },
    cancelImport () {
      this.dropzoneRef.removeAllFiles()
      this.uploadMetadata = {}
      this.showPreview = false
    }
  }
}
</script>

<style lang='scss' scoped>
.req-info {
  p {
    font-weight: 300;
    margin-bottom: 6px;
    margin-top: 0;
    b {
      font-weight: bold;
    }
  }
}
.upload-label {
  font-weight: 800;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.add-to-list-container {
  margin: 2.9rem 0;
  text-align: right;

  .add-to-list-label,
  .add-source-label {
    display: inline-block;
    margin-right: 30px;

    font-weight: 600;
    font-size: 14px;
  }

  .add-to-list-label {
    width: calc(40% - 30px);
  }

  .add-source-label {
    transform: translateY(-80%);
    width: auto;
  }
}

.enhance-container {
  margin-top: 25px;
  text-align: left;

  .label {
    font-size: 14px;
    font-weight: 600;
    margin-right: 30px;
  }
}

.next-button {
  margin-top: 27px;
  width: 277px;
}
</style>
