<template>
  <div class="job-container-wrapper text-left">
    <Tooltip content="You can <i>import a list</i> of your own candidates to nurture them with sequences in Happie, expose them to your employer brand, and build relationships with them over time until they become candidates. Be sure to upload your list in the same format as the required import template." :customStyles="topTooltipStyle" />
    <div class="add-to-list-container" v-if="enableListSelect">
      <span class="add-to-list-label">List(s)</span>
      <CustomMultiSelect
        :icon="targetImg"
        :items="listItems"
        :selected="selectedLists"
        :onChange="(item) => { changeValue('lists', item) }"
        placeholder="Select one or more lists..."
        :customStyles="multiSelectCustomStyles" />
    </div>
    <div class="add-to-list-container" v-if="enableJobSelect">
      <span class="add-to-list-label">Targeted Job(s)</span>
      <CustomMultiSelect
        :icon="targetImg"
        :items="jobItems"
        :selected="selectedJobs"
        :onChange="(item) => { changeValue('jobs', item ) }"
        placeholder="Select one or more jobs..."
        :customStyles="multiSelectCustomStyles"
      />
    </div>
    <div class="add-to-list-container" v-if="enableSourceSelect">
      <span class="add-source-label">Source</span>
      <CustomSelect
        :items="sources"
        :onChange="(item) => {changeValue('source',item)}"
        :selected="selectedSource"
        :customStyles="selectCustomStyles"
        :menuMaxHeight="300"
        :icon="sourceImg"
      />
    </div>
    <div class="previews">
      <h3 class="text-centered">Review Candidates</h3>
      <p class="text-centered">Does everything look ok? (Only the first {{ candidates.length }} out of {{ previewCount }} results are displayed).</p>
      <CandidateTablePreview :previewCandidates="candidates" />
      <template v-if="duplicateCount">
        <h3 class="text-centered">Not Imported</h3>
        <p class="text-centered">{{ duplicateCount > 1 ? 'These candidates are duplicates,' : 'This candidate is a duplicate' }} and will not be imported.</p>
        <CandidateTablePreview :previewCandidates="duplicateCandidates" />
      </template>
    </div>
    <div class="buttons-container">
      <PromptButton text="YES, FINISH IMPORT" :onClick="confirmImport"></PromptButton>
      <PromptButton type="hollow" text="NO, GO BACK" :onClick="cancelImport"></PromptButton>
    </div>
  </div>
</template>

<script>
import Tooltip from 'components/Tools/Tooltip'
import CustomMultiSelect from 'components/FormElements/CustomMultiSelect'
import CustomSelect from 'components/FormElements/CustomSelect'
import CandidateTablePreview from 'components/Sections/Candidates/CandidateTablePreview'
import PromptButton from 'components/FormElements/PromptButton'

import { modals, sourcedReqHelper, alerts } from 'helpers'

import { jobsStore, listsStore, metadataStore } from 'stores'

import targetImg from 'img/target.svg'
import sourceImg from 'img/settings/atom.svg'

import moment from 'moment'
import api from 'api'

export default {
  components: {
    Tooltip,
    CustomMultiSelect,
    CustomSelect,
    CandidateTablePreview,
    PromptButton
  },
  data () {
    return {
      targetImg,
      sourceImg,
      topTooltipStyle: {
        position: 'absolute',
        top: '19px',
        left: '19px'
      },
      multiSelectCustomStyles: {
        width: '60%',
        display: 'inline-block'
      },
      selectCustomStyles: {
        'max-width': '366px',
        width: '366px',
        display: 'inline-block'
      },
      selectedJobs: [],
      selectedLists: [],
      selectedSource: '',
      jobsStore: jobsStore.get(),
      listsStore: listsStore.get(),
      metadataStore: metadataStore.get()
    }
  },
  props: {
    candidates: { type: Array, required: true },
    previewCount: { type: Number, required: true },
    duplicateCandidates: { type: Array, required: true },
    duplicateCount: { type: Number, required: true },
    metadata: { type: Object, required: true },
    jobItems: { type: Array, required: true },
    listItems: { type: Array, required: true },
    enableJobSelect: { type: Boolean, required: false, default: true },
    enableListSelect: { type: Boolean, required: false, default: true },
    enableSourceSelect: { type: Boolean, required: false, default: false }, // Defaults to false because as of now this field is only available on import from the sourced reqs panel.
    hideWhenDone: { type: Boolean, required: false, default: false },
    cancelImport: { type: Function, required: true },
    addToList: { required: false, default: true },
    enhance: { required: false, default: 0 },
    sourcedReq: { required: false, default: false },
    callback: { required: false, default: false }
  },
  computed: {
    sources () {
      let sources = [].concat(this.metadataStore.importSources)
      return sources
    }
  },
  mounted () {
    if (typeof this.candidates === 'undefined') {
      modals.show({
        component: 'Confirm',
        props: {
          confirm: () => {
            this.cancelImport()
          },
          message: `Uh-oh! It looks like there's something wrong with the file you tried to upload. Please look it over and correct any issues.`,
          confirmText: 'I UNDERSTAND',
          hasCancelButton: false
        }
      })
    }
    if (!this.jobsStore.jobs.length) {
      api.ajax('reqs')
      .done((response) => {
        console.log('response from initial get reqs ', response)
        jobsStore.init(response)
      })
    }
    if (!this.listsStore.lists.length) {
      api.ajax('candidate-lists')
      .done((response) => {
        console.log('response from initial get lists ', response)
        listsStore.init(response)
      })
    }
  },
  methods: {
    changeValue (key, item) {
      switch (key) {
        case 'jobs':
          this.selectedJobs = item
          break
        case 'lists':
          this.selectedLists = item
          break
        case 'source':
          this.selectedSource = item.value
          break
        default:
          break
      }
    },

    confirmImport () {
      // Prevent import if there's no source
      if (this.selectedSource === '') {
        modals.show({
          component: 'Confirm',
          props: {
            message: 'Uh oh! It looks like you have not chosen a source for the file(s) you are importing. Please choose a source from the drop-down list.',
            confirmText: 'OK',
            hasCancelButton: false
          }
        })
        return false
      }

      // Create a list based on name and add it to our candidates
      // If there are duplicates, append a digit to it
      let retryCount = 1
      let retryMax = 9999
      let name = this.metadata.file.name.replace('.csv', '') + ' ' + moment().format('MM-DD-YYYY hh:mm:ss')
      let dedupedName = name

      let hasDuplicateFileName = () => {
        let duplicate = false
        $.each(this.listsStore.lists, (key, value) => {
          if (value.name === dedupedName) {
            duplicate = true
            return false
          }
        })

        return duplicate
      }

      while (hasDuplicateFileName() && retryCount < retryMax) {
        dedupedName = `${name} (${retryCount})`
        retryCount++
      }

      api.ajax('candidate-lists', {
        type: 'POST',
        data: {
          name: dedupedName
        }
      })
      .done((response) => {
        this.selectedLists.push(response.id)
        this.importCandidates()
      })
      .fail((e) => {
        console.error('Error creating list')
        alerts.show({
          status: 'error',
          message: `Uh-oh, there was an error importing your candidates. Please refresh your browser and try again.`
        })
      })
    },
    importCandidates () {
      if (this.metadata.id) {
        let data = {
          upload_id: this.metadata.id,
          enhance: this.enhance
        }

        if (this.enableListSelect) {
          let listString = ''
          $.each(this.selectedLists, (key, value) => {
            listString += value
            if (key != this.selectedLists.length - 1) {
              listString += ','
            }
          })
          data.list_ids = listString
        }

        if (this.enableJobSelect) {
          let reqString = ''
          $.each(this.selectedJobs, (key, value) => {
            reqString += value
            if (key != this.selectedJobs.length - 1) {
              reqString += ','
            }
          })
          data.req_ids = reqString
        }

        if (this.enableSourceSelect) data.lead_source = this.selectedSource

        if (this.sourcedReq) {
          data.sourced_req_id = this.sourcedReq.id
        }

        if (this.addToList) {
          data.list_ids = this.addToList
        }

        api.ajax('candidates/import/', {
          data: data,
          type: 'GET'
        })
        .done((response) => {
          console.log('response from import candidates', response)
          if (this.sourcedReq) {
            sourcedReqHelper.refresh.apply(this)
          }
          if (this.callback) {
            this.callback()
          }
          if (this.hideWhenDone) {
            modals.hide()
          }
        })
        .fail((e) => {
          switch (e.status) {
            case 404:
              modals.show({
                component: 'Confirm',
                props: {
                  message: `Uh-oh, looks like your import contains a sourced req column. Please make sure you're uploading in the right place, or delete the column.`,
                  confirmText: 'OK',
                  hasCancelButton: false
                }
              })
              break
            case 500:
              if (e.responseText.includes('NoSourcingImportAllowed')) {
                modals.show({
                  component: 'Confirm',
                  props: {
                    message: `Uh oh! It looks like your import does not have a sourced req column. Importing directly into the sourcing org is not allowed.`,
                    confirmText: 'OK',
                    hasCancelButton: false
                  }
                })
              }
          }
        })
      } else {
        console.error('Error importing candidates: no URL provided')
        alerts.show({
          status: 'error',
          message: `Uh-oh, there was an error importing your candidates. Please refresh your browser and try again.`
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.add-to-list-container {
  margin: 2.9rem 0;
  text-align: right;

  .add-to-list-label,
  .add-source-label {
    display: inline-block;
    margin-right: 30px;

    font-weight: 600;
    font-size: 14px;
  }

  .add-to-list-label {
    width: calc(40% - 30px);
  }

  .add-source-label {
    transform: translateY(-80%);
    width: auto;
  }
}
.buttons-container {
  margin-top: 25px;
  text-align: center;
  button + button {
    margin-left: 30px
  }
}

.previews {
  margin-top: 7rem;
}
</style>
