<template>
  <div>
    <div v-if="modalStyles" @click="hideModal">
      <span class="toolbar-button close" role="button">
        <img v-svg-src="closeButton">
      </span>
      <span class="toolbar-button" role="button" @click="(e) => {this.saveJob(e)}">
        <img v-svg-src="saveButton">
      </span>
    </div>
    <div class="modal-content-container" :style="modalStyles">
      <div v-bind:class="sectionClass">
        <Tooltip v-if="!previewMode && !userIsTransactional" content="You use jobs in Happie to market opportunities in your company to candidates. Everything in Happie centers on finding, attracting, and engaging the right candidates for your jobs. Give important details, such as the title, location, and compensation for the job. More importantly, explain what it’s like to be part of your team, describe the role as more than responsibilities and requirements (not that those aren’t important!), and breathe life into what the opportunity can mean for the candidate. Click anywhere this form to start editing. We gave you some starter “copy” (words in recruitment marketing-speak) to help you get started. Good luck, and Happie hiring!" :customStyles="jobTooltipStyles" />
        <div class="logo-container">
          <span class="logo" :style="logoStyle"></span>
        </div>
        <div class="right-top">
          <h1>{{organization.name}}</h1>
          <CustomTextArea
            customId="job-title"
            placeholder="Job Title"
            :containerStyles="jobTitleContainerStyles"
            :customStyles="jobTitleCustomStyles"
            :value="job.title"
            :onChange="titleChange"
            :autoResize="true"
            :contentEditable="!userIsTransactional"
            v-once
          />
          <div class="compensation-container">
            <img class="icon" v-svg-src="money">
            <CustomInput
              customId="job-compensation"
              placeholder="$"
              :containerStyles="jobCompensationContainerStyles"
              :customStyles="jobCompensationCustomStyles"
              :value="job.compensation"
              :onChange="compensationChange"
              :disabled="userIsTransactional && !previewMode"
            />
          </div>
          <div v-if="!userIsTransactional" class="location-type-container" v-show="!previewMode">
            <CustomSelect
              :items="locationTypes"
              :selected="selectedLocationType"
              :onChange="locationTypeChange"
              :customStyles="locationTypeStyles"
              :icon="locationTypeImg"
            />
            <Tooltip content="You can set the <i>Location Type</i> of your job to let candidates know how you’re thinking about the location of a role. If your job requires that candidates come into an office, select <i>Set Location(s)</i>. If your job covers an entire region or territory, select <i>Territory / Region</i>. If the role is a work-from-home position — well, you get the picture. For <i>Territory / Region</i> and <i>Work From Home</i> jobs, we still ask that you set at least one location, to help candidates get a sense of where you could be looking for candidates. For all <i>Location Types</i>, you can select up to three locations!" :customStyles="locationTooltipStyles" />
          </div>
          <div class="locations" v-show="(job.locations[0].location != '' && previewMode) || !previewMode">
            <div v-for="location, index in job.locations" v-show="!previewMode || location.location" class="location-container">
              <img class="icon" v-svg-src="locationPin">
              <input
                placeholder="Location"
                class="location"
                v-model="location.location"
                v-gmaps-searchbox="location.vm"
                :disabled="userIsTransactional && !previewMode"
              />
              <span v-if="index == job.locations.length - 1 && index < 2 && !previewMode && !userIsTransactional" class="add-button" @click="addLocation"></span>
            </div>
          </div>
          <i v-if="previewMode && job.location_type == 'region'" class="location-type">This role is a territory or region-focused position.</i>
          <i v-else-if="previewMode && job.location_type == 'home'" class="location-type">This role is a work-from-home position.</i>
          <template v-if="!userIsTransactional">
            <CustomSelect
              v-if="!previewMode && !userIsTransactional"
              selectIcon="select-sequence"
              :items="sequenceItems"
              :selected="selectedSequence"
              :onChange="sequenceChange"
              :customStyles="jobSequenceCustomStyles"
            />
            <Tooltip v-if="!previewMode" content="<i>Connect a sequence to a job</i> to automically send  messages in the sequence to any new candidate who is associated with the job. Please note that the sequence must be activated for its messages to send!" :customStyles="categoryTooltipStyles" />
          </template>
          <CustomSelect
            v-if="!previewMode && !userIsTransactional"
            selectIcon="select-function"
            :items="jobFunctions"
            :selected="selectedFunction"
            :onChange="jobFunctionChange"
            :customStyles="jobFunctionCustomStyles"
          />
          <span v-if="previewMode" class="interested-button" role="button">I'M INTERESTED</span>
          <Tooltip v-if="!previewMode && !userIsTransactional" content="You can use job functions to organize and report on your new job by grouping it with other jobs. Any jobs for which you do not select a function will be placed into the “Uncategorized” function by default." :customStyles="categoryTooltipStyles" />
        </div>
        <div class="hr-container">
          <hr>
        </div>
        <div class="job-description">
          <InlineTextEditor :content="job.description"
            :onChange="descriptionChanged"
            :height="null"
            :inline="true"
            :previewMode="previewMode"
          />
        </div>
        <div class="hr-container">
          <hr>
        </div>
        <div :class="sectionClass" role="button" @click="editRecruiter" v-if="job.hiring_manager || !previewMode">
          <img class="float-right" v-svg-src="trashImg" @click="removeRecruiter" v-show="job.hiring_manager"/>
          <div class="recruiter">
            <div class="manager-pic-container">
              <span class="manager-pic" :style="managerStyle"></span>
            </div>
            <div class="right-bottom">
              <h1>{{job.hiring_manager ? job.hiring_manager.first_name+' '+job.hiring_manager.last_name : 'Featured Team Member'}}</h1>
              <p>{{job.hiring_manager ? job.hiring_manager.title : 'Professional Title'}}</p>
            </div>
          </div>
        </div>
        <div class="map-section" v-show="(vm.searchPlace != '' && previewMode) || !previewMode">
          <div class="gmap" ref="gmap"></div>
          <img class="map-placeholder" v-svg-src="mapPlaceholder">
        </div>
      </div>
    </div>
  </div>
</template>


<script>
/* globals google:true */
import CustomInput from 'components/FormElements/CustomInput'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import CustomSelect from 'components/FormElements/CustomSelect'
import Tooltip from 'components/Tools/Tooltip'
import InlineTextEditor from 'components/Tools/InlineTextEditor'
import saveButton from 'img/save.svg'
import closeButton from 'img/x-out.svg'

import api from 'api'
import { modals, profileImageStyle, setupHelper } from 'helpers'
import { companyStore, organizationStore, jobsStore, sequencesStore, adminStore, metadataStore, accountStore } from 'stores'
import deepEqual from 'deep-equal'

import locationPin from 'img/location-pin.svg'
import money from 'img/money.svg'
import companyPlaceholder from 'img/company-placeholder.svg'
import accountPlaceholder from 'img/account-placeholder.svg'
import trashImg from 'img/trash.svg'
import mapPlaceholder from 'img/map-placeholder.svg'
import locationTypeImg from 'img/location-type.svg'

export default {
  components: {
    CustomInput,
    CustomTextArea,
    CustomSelect,
    Tooltip,
    InlineTextEditor
  },
  created () {
    // Set our job to compare to when a change is made
    this.originalJob = $.extend(true, {}, this.job)
  },
  mounted () {
    // Check if google maps is loaded
    this.loadPromise = $.Deferred()
    .done(() => {
      if (this.job.place_id) this.changeMap({ lat: this.job.latitude, lng: this.job.longitude })
    })

    // Add on to the plugin callback function to reslove our promise when google maps loads
    if (typeof google === 'undefined') {
      window.__googleMapsApiOnLoadCallback = (() => {
        var cachedFunction = window.__googleMapsApiOnLoadCallback

        return () => {
          var result = cachedFunction.apply(this, arguments) // use .apply() to call it

          this.loadPromise.resolve()

          return result
        }
      })()
    } else {
      // if google has already been defined on the page then resolve the promise
      this.loadPromise.resolve()
    }

    // Remove any extra google maps location dropdown containers so they don't keep appending to the body
    $('.pac-container.pac-logo:not(:last)').remove()

    // Load sequences
    if (this.sequencesStore.sequences.length < 1) {
      api.ajax('sequences')
      .done((response) => {
        console.log('response from sequences ', response)
        sequencesStore.init(response)
      })
      .fail((e) => {
        console.error('Error getting sequences ', e)
      })
    }
  },
  data () {
    return {
      loadPromise: null,
      companyStore: companyStore.get(),
      organizationStore: organizationStore.get(),
      sequencesStore: sequencesStore.get(),
      adminStore: adminStore.get(),
      accountStore: accountStore.get(),
      modals,
      saveButton,
      closeButton,
      vm: {
        searchPlace: '',
        location: {},
        place: { id: null }
      },
      mapElement: null,
      jobTitleContainerStyles: {
        display: 'inline-block',
        width: '100%',
        'margin-top': '3px'
      },
      jobTitleCustomStyles: {
        width: '100%',
        'min-height': '33px',
        'font-size': '24px',
        padding: '5px',
        border: '0px none',
        'line-height': '1em'
      },
      jobLocationContainerStyles: {
        display: 'inline-block',
        'margin-top': '16px'
      },
      jobLocationCustomStyles: {
        width: '125px',
        'min-height': '19px',
        'font-size': '14px',
        padding: '5px',
        border: '0px none'
      },
      jobCompensationContainerStyles: {
        display: 'inline-block',
        width: '100%'
      },
      jobCompensationCustomStyles: {
        width: '100%',
        'min-height': '19px',
        'font-size': '14px',
        padding: '5px',
        border: '0px none'
      },
      jobSequenceCustomStyles: {
        'max-width': '80%',
        width: '80%',
        'margin-top': '15px',
        display: 'inline-block'
      },
      jobFunctionCustomStyles: {
        'max-width': '80%',
        width: '80%',
        'margin-top': '15px',
        'margin-bottom': '10px',
        display: 'inline-block'
      },
      jobTooltipStyles: {
        position: 'absolute',
        top: '25px',
        left: '25px'
      },
      categoryTooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'top',
        'margin-left': '15px',
        'margin-top': '26px'
      },
      locationTooltipStyles: {
        'vertical-align': 'middle',
        'margin-left': '15px'
      },
      locationTypeStyles: {
        'vertical-align': 'middle',
        display: 'inline-block',
        'max-width': '80%',
        width: '80%'
      },
      locationTypeImg,
      locationPin,
      money,
      logo: companyPlaceholder,
      manager: accountPlaceholder,
      trashImg,
      mapPlaceholder: mapPlaceholder,
      jobFunctions: metadataStore.store.jobFunctions,
      selectedFunction: { value: this.job.category },
      selectedSequence: { value: this.job.default_sequence_id },
      selectedLocationType: { value: this.job.location_type },
      locationTypes: [
        { label: 'Set Location(s)', value: 'set' },
        { label: 'Territory / Region', value: 'region' },
        { label: 'Work From Home', value: 'home' }
      ]
    }
  },
  computed: {
    userIsTransactional () {
      return this.accountStore.account.is_transactional
    },
    company () {
      return this.companyStore.company
    },
    organization () {
      return this.organizationStore.organization
    },
    sequenceItems () {
      let sequenceItems = []
      $.each(this.sequencesStore.sequences, (key, value) => {
        sequenceItems.push({
          value: value.id,
          label: value.name ? value.name : 'Untitled'
        })
      })
      sequenceItems.unshift({ value: 0, label: 'Connect Sequence' })
      return sequenceItems
    },
    logoStyle () {
      // Use org, or company if org logo is not set.
      return profileImageStyle(this.organization.logo_url || this.company.logo_url, this.logo)
    },
    managerStyle () {
      let url = this.job.hiring_manager ? this.job.hiring_manager.profile_photo_url : ''
      return profileImageStyle(url, this.manager)
    },
    sectionClass () {
      if (this.previewMode) {
        return { 'section-preview': true }
      } else {
        return { 'section': true }
      }
    }
  },
  methods: {
    saveJob (e) {
      e.stopPropagation()
      this.job.locations.forEach((location, index) => {
        // Only save the place_id, lat, lng if it is the first location
        if (!index) {
          this.job.location = location.location
          this.job.place_id = location.place_id
          this.job.latitude = location.latitude
          this.job.longitude = location.longitude
        } else { // Otherwise save the string
          this.job['location_' + (index + 1)] = location.location
        }
      })
      setupHelper.patch(this.setupId, { job_object: { job: this.job } })
    },
    // TODO: probably move the setUnsavedJob to a watcher
    titleChange (newTitle) {
      this.job.title = newTitle.target.innerText
    },
    compensationChange (newComp) {
      this.job.compensation = newComp.target.value
    },
    locationTypeChange (item) {
      this.job.location_type = item.value
    },
    sequenceChange (item) {
      let prevId = this.job.default_sequence_id
      this.job.default_sequence_id = item.value
      this.selectedSequence = { value: this.job.default_sequence_id }
      modals.show({
        component: 'Confirm',
        props: {
          confirm: () => {
            // Uneeded since we have the watcher
          },
          cancel: () => {
            this.job.default_sequence_id = prevId
            this.selectedSequence = { value: this.job.default_sequence_id }
          },
          message: 'Are you sure you want to connect this sequence to your job? If the sequence is activated, every new candidate that you associate with your job will receive the messages in your sequence!',
          confirmText: 'Yes, connect it!',
          cancelText: 'Cancel'
        }
      })
    },
    jobFunctionChange (item) {
      this.job.category = item.value
    },
    descriptionChanged (newDesc) {
      this.job.description = newDesc
    },
    editRecruiter () {
      if (this.userIsTransactional) return false
      modals.show({
        component: 'EditRecruiterModal',
        props: {
          job: this.job,
          updateJob: (hiringManager) => {
            this.job.hiring_manager = hiringManager
          }
        }
      })
    },
    removeRecruiter (e) {
      e.stopPropagation()
      this.job.hiring_manager = null
    },
    changeMap (location = { lat: this.job.latitude, lng: this.job.longitude }) {
      let map = new google.maps.Map(this.$refs.gmap, {
        zoom: 14,
        center: location,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel: false,
        navigationControl: false,
        mapTypeControl: false,
        scaleControl: false,
        draggable: true,
        streetViewControl: false,
        zoomControl: true
      })

      let marker = new google.maps.Marker({
        position: location
      })
      marker.setMap(map)
      // Below is for marker + info window
      // let marker = new google.maps.Marker({
      //   position: location,
      //   map: map
      // })
      // let infowindow = new google.maps.InfoWindow({
      //   content: this.company.name || 'Our Location'
      // })
      // infowindow.open(map, marker)

      // TODO: probably make this a separate function to handle resizing
      google.maps.event.trigger(map, 'resize')
    },
    getLocationName (index) {
      if (this.job.locations[index].place_id) {
        const geocoder = new google.maps.Geocoder()
        geocoder.geocode({
          'placeId': this.job.locations[index].place_id
        }, (results, status) => {
          if (results.length) {
            let location = { gmaps: results[0] }

            let city = ''
            let state = ''

            // Address components that come back aren't the same for every address, so need to loop
            // through them to find the data types we're looking for
            location.gmaps.address_components.forEach(value => {
              if (value.types[0] === 'locality') {
                city = value.long_name
              } else if (value.types[0] === 'administrative_area_level_1') {
                state = value.short_name
              }
            })

            // If there is still no city set, use the sublocality
            if (!city) {
              location.gmaps.address_components.forEach(value => {
                if (value.types.includes('sublocality')) {
                  city = value.long_name
                }
              })
            }

            this.job.locations[index].location = `${city}, ${state}`

            // Change the map if it's the first location
            if (index === 0) this.changeMap({ lat: this.job.locations[index].latitude, lng: this.job.locations[index].longitude })
          }
        })
      }
    },
    getLocationNames () {
      this.job.locations.forEach((location, index) => this.getLocationName(index))
    },
    addLocation () {
      this.job.locations.push({
        location: '',
        place_id: null,
        latitude: 0,
        longitude: 0,
        vm: { place: { place_id: null } }
      })
    }
  },
  watch: {
    job: {
      handler (val) {
        if (!deepEqual(val, this.originalJob)) {
          jobsStore.setUnsavedJob(this.job)
        }
      },
      deep: true
    },
    'job.locations': {
      handler () {
        this.job.locations.forEach((location, index) => {
          if (location.place_id != location.vm.place.place_id && location.vm.place.place_id) {
            location.place_id = location.vm.place.place_id
            location.latitude = location.vm.place.geometry.location.lat()
            location.longitude = location.vm.place.geometry.location.lng()
            this.getLocationName(index)
          } else if (!location.location) {
            location.vm.place.place_id = null
            location.place_id = null
            location.latitude = 0
            location.longitude = 0
            location.location = ''
          }
        })
      },
      deep: true
    },
    previewMode: {
      handler (val, oldVal) {
        if (val != oldVal) {
          // this.getLocationNames()
          this.getLocationName(0)
          this.changeMap()
        }
      }
    },
    previewModeType: {
      handler (val, oldVal) {
        if (val != oldVal) {
          // this.getLocationNames()
          this.getLocationName(0)
          this.changeMap()
        }
      }
    }
  },
  props: {
    job: { required: true },
    setupId: { required: false },
    hideModal: { required: false },
    modalStyles: { required: false },
    previewMode: { required: false, default: false },
    previewModeType: { required: false, default: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .modal-content-container {
    padding: 15px 15px 0px 15px;
    overflow-x: hidden;
  }

  .section {
    border: dotted 0.9px #979797;
    padding: 20px;
  }

  .section-preview {
    padding: 20px;
  }

  .logo-container {
    display: inline-block;
    width: 33%;
    text-align: center;

    .logo {
      width: 125px;
      height: 125px;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid $dusty-gray;

      background-size: cover;
      background-position: center center;
      background-color: $alto;
    }
  }

  .right-top {
    display: inline-block;
    width: 66%;
    vertical-align: top;

    h1 {
      opacity: 0.5;
      font-size: 15px;
      font-weight: 800;
      letter-spacing: 1.5px;
      color: $dusty-gray;
      text-transform: uppercase;
    }

    .icon {
      position: absolute;
      left: 0px;
    }

    .location-type-container {
      position: relative;
      display: inline-block;
      margin-top: 10px;
      width: 100%;
    }

    .locations {
      position: relative;
      padding-left: 25px;
      margin-top: 5px;

      .location-container {
        position: relative;

        .location {
          width: 80%;
          min-height: 19px;
          font-size: 14px;
          padding: 5px;
          border: 0px none;
          margin-top: 5px;
        }

        .icon {
          top: 10px;
          left: -22px;
        }

      }

      .add-button {
        background-image: url('~img/add-block-inactive-small.svg');
        background-repeat: no-repeat;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        margin-left: 11px;
        height: 18px;
        width: 18px;

        &:hover {
          background-image: url('~img/add-block-active-small.svg');
        }
      }
    }

    .location-type {
      display: block;
      margin-top: 10px;
    }

    .compensation-container {
      position: relative;
      display: inline-block;
      margin-top: 16px;
      width: 80%;
      padding-left: 25px;

      .icon {
        top: 8px;
      }
    }

    .interested-button {
      @include transition-sm-med-ease;
      background-color: $turquoise;
      font-size: 15.4px;
      font-weight: 800;
      border-radius: 3.4px;
      letter-spacing: 1.5px;
      text-align: center;
      color: $white;
      display: inline-block;
      padding: 10px;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 10px;

      &:hover {
        background-color: $half-baked;
      }
    }
  }

  .hr-container{
    padding: 5px 20px;
  }

  .recruiter {
    text-align: center;

    .manager-pic-container {
      display: inline-block;
      margin-right: 25px;

      .manager-pic {
        width: 74px;
        height: 74px;
        display: inline-block;
        border-radius: 50%;
        border: 1px dotted $dusty-gray;

        background-size: cover;
        background-position: center center;
        background-color: $alto;
      }
    }

    .right-bottom {
      display: inline-block;
      vertical-align: top;
      text-align: left;

      h1 {
        opacity: 1.0;
        font-size: 18px;
        font-weight: 400;
        color: $tundora;
      }
    }
  }

  .map-section {
    background: #d3d2d3;
    position: relative;
    width: 520px;
    height: 254px;
    left: -15px;
    margin-top: 10px;
    overflow: hidden;

    .gmap {
      position: static !important;
    }

    .map-placeholder {
      display: block;
      margin: auto;
      padding-top: 72px;
    }
  }

  span.toolbar-button {
    display: inline-block;
    height: 40px;
    float: right;
    width: 40px;
    border-radius: 50%;
    background: $turquoise;
    margin-bottom: 13px;

    @include transition-sm-med-ease;

    &.active-button{
      transition: all 0 ease-in-out;
      background: #3aaa90;
      transform: translateZ(0) scale(1);
    }

    &.active-button:active {
      transform: translateZ(0) scale(0.9);
    }

    &.close {
      background-color: $white;
      opacity: 1;

      img {
        padding: 12px;
      }
    }

    + span {
      margin-right: 10px;
    }

    img {
      padding: 7px;
      height: 40px;
      width: 40px;
    }
  }

</style>
