<template>
  <div class="modal-content-container">
    <p class="heading">Manage Candidates in Sequence</p>
    <CustomInput
      :icon="searchImg"
      placeholder="Search by name or email..."
      :containerStyles="searchContainerStyles"
      :customStyles="searchCustomStyles"
      v-model="searchQuery"
    />
    <span class="matches">{{filteredCandidates.length}} match{{filteredCandidates.length != 1 ? 'es' : ''}}</span>
    <Tablist
      :tabs="composeTabs"
      :selectedTab="activeComposeTab"
      @change="tabChange"
    />

    <!-- Candidate Container -->
    <div role="tabpanel" class="candidate-list-container" v-show="activeComposeTab === 0">
      <ul class="candidates" @scroll="scrollHandler">
        <li v-for="(candidate, index) in filteredCandidates" v-if="index < renderAmount + renderLimit">
          <span class="candidate-image" :style="getProfileImage(candidate.profile_photo_url)" @click="candidateClick(candidate)"></span>
          <!-- TODO: needs to be added in other candidate/user listing places (modals) -->
          <span class="candidate-name" @click="candidateClick(candidate)">{{candidate.first_name}} {{candidate.last_name}}</span>
          <img @click="removeCandidate(candidate)" class="delete-list-item" role="button" v-svg-src="xOutImg"></img>
        </li>
      </ul>
    </div>

  </div>
</template>


<script>
import Tablist from 'components/Tools/Tablist'
import PromptButton from 'components/FormElements/PromptButton'
import CustomInput from 'components/FormElements/CustomInput'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import Tooltip from 'components/Tools/Tooltip'

import api from 'api'
import { alerts, profileImageStyle, candidateHelper } from 'helpers'

import profile from 'img/small-profile.svg'
import profileActive from 'img/small-profile-active.svg'
import searchImg from 'img/search.svg'
import accountPlaceholder from 'img/account-placeholder.svg'
import xOutImg from 'img/x-out.svg'

export default {
  components: {
    Tablist,
    CustomInput,
    CustomTextArea,
    Tooltip,
    PromptButton,
    accountPlaceholder
  },
  mounted () {
    this.loadCandidates()
  },
  data () {
    return {
      searchQuery: '',
      accountPlaceholder,
      xOutImg,
      composeTabs: [
        { title: 'All', image: profile, activeImage: profileActive }
      ],
      activeComposeTab: 0,
      searchContainerStyles: {
        display: 'inline-block',
        'margin-right': '25px'
      },
      searchCustomStyles: {
        width: '300px'
      },
      searchImg: searchImg,
      inputContainerStyles: {
        display: 'inline-block'
      },
      inputCustomStyles: {
        width: '277px',
        'margin-bottom': '20px'
      },
      textAreaContainerStyles: {
        display: 'inline-block'
      },
      textAreaCustomStyles: {
        width: '277px',
        'margin-bottom': '20px'
      },
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle',
        'margin-left': '18px'
      },
      inviteButtonStyles: {
        display: 'block',
        width: '277px',
        'margin-left': '150px'
      },
      candidates: [],
      reloadRequired: false,
      renderAmount: 0,
      renderLimit: 25,
      scrollPadding: 100
    }
  },
  computed: {
    filteredCandidates () {
      // Otherwise filter out candidates by checking of search query exists in their first or last name
      let filteredCandidates = $.grep(this.candidates, (candidate, index) => {
        let email = ''
        if (candidate.emails && candidate.emails.length) {
          email = candidate.emails[0].address
        }

        // Check if search query is in first or last name
        let match = `${candidate.first_name} ${candidate.last_name} ${email}`
        .toLowerCase()
        .indexOf(this.searchQuery.toLowerCase()) > -1

      // Or if search query is empty, set match to true
        if (!this.searchQuery) {
          match = true
        }

        candidate.listIndex = index

        return match
      })

      return filteredCandidates
    }
  },
  methods: {
    loadCandidates () {
      api.ajax(`candidates`, {
        type: 'GET',
        data: {
          sequence_ids: this.sequence.id,
          super_minimal: 1
        }
      })
      .done((response) => {
        this.candidates = candidateHelper.minimalMap(response)
      // Reset the renderAmount
        this.renderAmount = 0
      })
      .fail((e) => {
        console.error('error getting candidates ', e)
      })
    },
    scrollHandler (e) {
      let scroll = $(e.target).scrollTop()
      let totalHeight = e.target.scrollHeight - $(e.target).height() - this.scrollPadding
      if (scroll >= totalHeight) {
        this.renderAmount += this.renderLimit
      }
    },
    candidateClick (candidate) {
      candidateHelper.openCandidateModal.apply(this, [candidate.id, this.loadCandidates])
    },
    getProfileImage (url) {
      return profileImageStyle(url, accountPlaceholder)
    },
    tabChange (index) {
      this.activeComposeTab = index
    },
    removeCandidate (candidate) {
      api.ajax(`sequences/${this.sequence.id}/members`, {
        type: 'DELETE',
        data: [candidate.id]
      })
      .done((response) => {
        console.log(response)

      // Remove candidate from the modal
        this.candidates.splice(candidate.listIndex, 1)

        alerts.show({
          message: `You successfully removed ${candidate.first_name} ${candidate.last_name} from your sequence. ${candidate.first_name} won’t receive any more messages in this sequence, unless re-added!`,
          status: 'success'
        })
      })
      .fail((e) => {
        console.error('error removing candidate ', e)

        alerts.show({
          message: `Uh oh! There was an error removing ${candidate.first_name} ${candidate.last_name} from your sequence. Please refresh the page, and try again.`,
          status: 'error'
        })
      })
    }
  },
  props: {
    sequence: { required: true }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  // TODO: Probably can unscope these at some point and combine the styles somewhere

  .modal-content-container {
    padding: 0px 35px;
    height: 500px;
  }

  p {
    &.heading {
      font-size: 1.4rem;
      margin: 52px auto 38px auto;
    }
  }

  .candidates {
    padding: 0px;
    margin-top: 0px;
    height: 300px;
    overflow: auto;

    .candidate-image {
      width: 45px;
      height: 45px;

      @include circle-img;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 45px;
    }

    .candidate-name {
      @include green-link;
    }

    li {
      padding: 12px 10px;
      list-style: none;
      border-bottom: 0.5px solid $border-gray;

      .delete-list-item {
        float: right;
        display: inline-block;
        margin-top: 15px;
      }
    }
    li:hover {
      background-color: #f7f8f9;
    }
  }

  .invite-container {
    padding-top: 30px;
  }

  label {
    display: inline-block;
    width: 120px;
    text-align: right;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 30px;
  }

</style>
