<template>
  <div class="modal-collection-container">
    <transition-group :name="currentTransition">
      <div class="hp-modal-overlay"
        v-for="(activeModal, index) in activeModals"
        @mousedown="(e) => {overlayClick(e, index)}"
        ref="overlays"
        :key="activeModal.type"
      >
        <div v-if="activeModal.type === 'CompoundModal'">
          <component
            v-bind:is="activeModal.component"
            :is-modal="true"
            :modalIndex="index"
            :previewMode="jobModalPreview"
            :previewModeType="jobModalPreviewType"
            :hideModal="(e) => {hide({'index': index})}"
            v-bind="activeModal.props"
            :subComponents="activeModal.subComponents"
            :cancelCallback="(e) => { cancelClick(e, index) }"
            :confirmCallback="(e) => { confirmClick(e, index) }"
          />
        </div>
        <div v-else class="hp-modal-positioner" :style="activeModal.props.positionerStyles">
          <div class="hp-modal-cell">

            <div role="button" @click="(e) => {copyJobLink(e, index)}" v-if="activeModal.props.jobModalTools && !jobModalPreview" class="job-link-container" :style="activeModal.props.containerStyles">
              <h2>JOB LINK</h2>
              <input ref="jobLink" type="text" :value="activeModal.props.job.published_url" readonly="readonly">
              <span>Click to copy</span>
              <Tooltip :white="true" content="Happie automatically generates a <i>job link</i> to a standalone job page every time you create and save a new job. You can use your individual job link as a destination URL for job boards and active candidates, without having to attach a page. Active candidates, in contrast to passive candidates, have already expressed interest in your job, so standalone job pages focus on converting them into applicants and limit their options other than applying. But you can always still use the same job on one of your Happie pages!" :customStyles="tooltipStyles" />
            </div>

            <div v-if="activeModal.type == 'PreviewModal'" class="email-preview-header" :style="activeModal.props.containerStyles">
              <template v-if="activeModal.props.type === 'email'">
                <Tooltip :white="true" content="You can preview your emails to make certain everything looks correct. Even though the candidate data isn’t real (winter is coming!), be sure to check your merge tags, inserted links, and signature! If you’ve changed any reply-to address settings, be sure to check those too. When it comes to sending mass personalized emails, you’re better off better safe than sorry!" :customStyles="leftTooltipStyles" />
                <h2>EMAIL PREVIEW</h2>
              </template>
              <template v-else-if="activeModal.props.type === 'sms'">
                <Tooltip :white="true" content="You can preview your text messages to make certain everything looks correct. Even though the candidate data isn’t real (winter is coming!), be sure to check your merge tags and inserted links! When it comes to sending mass personalized text messages, you’re better off better safe than sorry!" :customStyles="leftTooltipStyles" />
                <h2>TEXT MESSAGE PREVIEW</h2>
              </template>
              <img
                class="hp-modal-close-button"
                role="button"
                alt="close"
                v-svg-src="xOutImgWhite"
                @click="(e) => {hide({'index': index})}"
              />
            </div>

            <div v-if="activeModal.props.jobModalTools && jobModalPreview" class="job-modal-preview-buttons">
              <span role="button" @click="() => {jobModalPreviewType = 'pages'}" :class="{'active': jobModalPreviewType == 'pages'}">Pages</span>
              <span role="button" @click="() => {jobModalPreviewType = 'job_boards'}" :class="{'active': jobModalPreviewType == 'job_boards'}">Job Boards</span>
            </div>

            <div :class="{'hp-modal-container':true, 'job-board': jobModalPreviewType == 'job_boards' && jobModalPreview}" :style="activeModal.props.containerStyles">
              <img
                class="hp-modal-close-button"
                role="button"
                alt="close"
                v-svg-src="xOutImg"
                @click="(e) => {hide({'index': index})}"
                v-if="activeModal.type !== 'Confirm' && !activeModal.props.hideXout"
              />
              <component
                v-bind:is="activeModal.component"
                :is-modal="true"
                :modalIndex="index"
                :previewMode="jobModalPreview"
                :previewModeType="jobModalPreviewType"
                :hideModal="(e) => {hide({'index': index})}"
                v-bind="activeModal.props"
                :subComponents="activeModal.subComponents"
                :cancelCallback="(e) => { cancelClick(e, index) }"
                :confirmCallback="(e) => { confirmClick(e, index) }"
              />
            </div>
            <div v-if="activeModal.props.jobModalTools" class="hp-modal-buttons-container">
              <div class="hp-modal-buttons-aligner">
                <span role="button" @click="buttonClick('save',index)" v-bind:class="{'active-button':buttons.save}"><img v-svg-src="saveButton"></span>
                <span role="button" @click="buttonClick('edit',index)" v-bind:class="{'active-button':buttons.edit}"><img v-svg-src="editButton"></span>
                <span role="button" @click="buttonClick('preview',index)" v-bind:class="{'active-button':buttons.preview}"><img v-svg-src="previewButton"></span>
                <span role="button" @click="buttonClick('send',index)" v-bind:class="{'active-button':buttons.send}"><img v-svg-src="sendButton"></span>
                <span role="button" v-if="activeModals[index].props.deleteJob && !userIsTransactional" @click="buttonClick('delete',index)" v-bind:class="{'active-button':buttons.delete}"><img v-svg-src="deleteButton"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition-group>
  </div>
</template>


<script>
import Tooltip from 'components/Tools/Tooltip'

// Components to be included in modals
import * as modalList from './modalList'

import { accountStore } from 'stores'
import { modals, alerts } from 'helpers'

import editButton from 'img/job-modal-edit.svg'
import saveButton from 'img/save.svg'
import previewButton from 'img/job-modal-preview.svg'
import sendButton from 'img/job-modal-send.svg'
import deleteButton from 'img/job-modal-delete.svg'
import xOutImg from 'img/x-out.svg'
import xOutImgWhite from 'img/x-out-white.svg'

export default {
  components: {
    Tooltip,
    ...modalList
  },
  mounted () {
    let bus = {
      show: this.show,
      hide: this.hide
    }

    modals.registerBus(bus)
  },
  data () {
    return {
      xOutImg,
      xOutImgWhite,
      modalOptions: modalList,
      activeModals: [],
      editButton: editButton,
      saveButton: saveButton,
      previewButton: previewButton,
      sendButton: sendButton,
      deleteButton: deleteButton,
      buttons: {
        edit: true,
        save: false,
        preview: false,
        send: false,
        delete: false
      },
      jobModalPreview: false,
      jobModalPreviewType: 'pages',
      lastTopModal: {},
      currentTransition: 'modal-animation',
      tooltipStyles: {
        float: 'right',
        'margin-top': '9px',
        'margin-right': '15px'
      },
      leftTooltipStyles: {
        'vertical-align': 'middle'
      },
      accountStore: accountStore.get()
    }
  },
  computed: {
    userIsTransactional () {
      return this.accountStore.account.is_transactional
    }
  },
  methods: {
    show (options) {
      // Log error if modal doesn't exist
      if (!this.modalOptions[options.component]) {
        console.error('Modal not registered correctly in ModalContainer: ', options.component)
      }

      this.currentTransition = options.transitionType || 'modal-animation'

      this.activeModals.push({
        transitionType: options.transitionType,
        type: options.component,
        component: this.modalOptions[options.component],
        subComponents: options.subComponents || [],
        props: options.props || {}
      })
    },
    hide (options) {
      let topModal = this.activeModals.length ? this.activeModals[this.activeModals.length - 1] : {}
      this.currentTransition = topModal.transitionType || 'modal-animation'
      if (options && options.index !== undefined) {
        // TODO: Reorganize this so we don't need to have so many checks in if statements

        // Make sure the index is an int
        options.index = parseInt(options.index)

        // Check if there is a before close prop function that will pass back confirmed in the options variable
        if (this.activeModals[options.index] &&
        this.activeModals[options.index].props.beforeClose &&
        !options.confirmed) {
          this.activeModals[options.index].props.beforeClose(options.index)
          return
        }

        // If we're closing a job modal, make sure to toggle the edit button back on, so when they open another modal
        // edit is already selected
        if (this.activeModals[options.index] && this.activeModals[options.index].props.job) {
          this.buttons.preview = false
          this.buttons.edit = true
          this.jobModalPreview = false
        }

        // If it's a candidate modal, remove the query id from the route
        if (this.activeModals[options.index] && this.activeModals[options.index].type == 'CandidatesProfilePanel') {
          let newQuery = $.extend(true, {}, this.$route.query)
          delete newQuery.candidate
          this.$router.replace({ query: newQuery })
        }

        this.activeModals.splice(options.index, 1)
      } else {
        // No options passed in, hide all modals
        this.activeModals.splice(0, this.activeModals.length)
      }
    },
    overlayClick (e, index) {
      // If modal is a confirmation alert or optionall disabled, don't dismiss on overlay click
      if (this.activeModals[index]) {
        if (this.activeModals[index].type === 'Confirm' || this.activeModals[index].props.disableOverlayClick) {
          return
        }
      }

      // Loop over overlay refs, if they match the target, then dismiss
      // TODO: Remove this if all we need is the index
      $.each(this.$refs.overlays, (key, value) => {
        if (value === e.target || ($.contains(value, e.target) && $(e.target).hasClass('hp-modal-cell'))) {
          this.hide({
            index: key
          })
        }
      })
    },
    cancelClick (e, index) {
      if (this.activeModals[index] &&
        this.activeModals[index].props &&
      this.activeModals[index].props.cancel) {
        this.activeModals[index].props.cancel()
      }

      this.hide({ index: index })
    },
    confirmClick (e, index) {
      // TODO: Figure out how this could be called when this.activeModals[index] is undefined, like in delete list
      console.log('in confirm click')
      if (this.activeModals[index] && this.activeModals[index].props && this.activeModals[index].props.confirm) {
        this.activeModals[index].props.confirm(e)
      }

      this.hide({ index: index })
    },
    buttonClick (button, index) {
      if (button == 'edit') {
        this.buttons.edit = true
        this.buttons.preview = false
        this.jobModalPreview = false
      }
      if (button == 'delete') {
        this.activeModals[index].props.deleteJob(this.activeModals[index].props.job.id, index)
      }
      if (button == 'save') {
        this.activeModals[index].props.saveJob(this.activeModals[index].props.job.id, this.activeModals[index].props.updateJobCallback)
      }
      if (button == 'preview') {
        this.buttons.edit = false
        this.buttons.preview = true
        this.jobModalPreview = true
      }
      if (button == 'send') {
        this.buttons.edit = true
        this.buttons.preview = false
        this.jobModalPreview = false
        this.activeModals[index].props.shareJob(this.activeModals[index].props.job)
      }
    },
    copyJobLink (e, index) {
      if (this.$refs.jobLink[0].value) {
        this.$refs.jobLink[0].select()
        let copied = true
        let status = 'success'
        let message = `Great — you successfully copied the job link <a href="${this.activeModals[index].props.job.published_url}" target="_blank">${this.activeModals[index].props.job.published_url}</a> to your clipboard! Paste it as you please!`
        try {
          let copy = document.execCommand('copy')
          copied = !!copy
        } catch (err) {
          copied = false
        }
        if (!copied) {
          status = 'error'
          message = 'Uh oh! For some reason, there was an error copying your job link to your clipboard. Please try again — sorry for the inconvenience!'
        }
        alerts.show({
          message: message,
          status: status
        })
      }
    }
  },
  props: {
  }
}
</script>

<style lang='scss'>
  @import "~styles/variables";

  // Can't scope these because they won't be passed to children, so prepend with hp-
  .hp-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

    background-color: rgba(50, 50, 51,0.56);

    @include modal-overlay;
    @include transition-sm-med-ease;
  }

  .hp-modal-positioner {
    position: absolute;
    display: table;

    height: 80%;
    width: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    @include modal-body-index;
    @include transition-sm-med-ease;

    // Hide x scrolling since sometimes components in modals can mistakingly overlap
    .panel {
      overflow-x: hidden;
    }
  }

  .hp-modal-cell {
    display: table-cell;
    vertical-align: middle;
  }

  .email-preview-header {
    width: 100%;
    background-color: $barney;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    padding: 15px 25px;
    position: relative;
    z-index: 101;
    margin: auto;

    h2 {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1.5px;
      color: $white;
      display: inline;
      margin: 0px 15px;
      vertical-align: middle;
    }

    .hp-modal-close-button {
      top: 13px;
    }
  }

  .job-link-container {
    width: 100%;
    background-color: $barney;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    padding: 7px;
    border-radius: 2px;
    margin: auto;
    margin-bottom: 10px;

    h2 {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1.5px;
      color: $white;
      display: inline;
      margin: 0px 15px;
    }

    input {
      margin-right: 15px;
      width: 275px;
    }

    span {
      font-size: 14px;
      color: $white;
    }
  }

  .job-modal-preview-buttons {
    width: 350px;
    margin: auto;
    margin-bottom: 10px;

    span {
      display: inline-block;
      width: 50%;
      background-color: $turquoise;
      color: $white;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.3px;
      text-align: center;
      padding: 8px 0px;

      @include transition-sm-med-ease;

      &:first-child {
        border-radius: 2px 0px 0px 2px;
      }

      &:last-child {
        border-radius: 0px 2px 2px 0px;
      }

      &.active {
        background-color: #3aaa90;
      }
    }
  }

  .hp-modal-container {
    min-height: 100px;
    max-height: 100%;
    overflow-y: auto;
    position: relative;

    margin: auto;

    background: white;

    width: 535px;
    height: auto;

    @include modal-body-index;
    @include transition-sm-med-ease;

    // Hide x scrolling since sometimes components in modals can mistakingly overlap
    .panel {
      overflow-x: hidden;
    }

    &.job-board {
      width: 830px !important;
      background-color: $alabaster;
      padding: 67px 24px 15px 24px;

      &::before {
        display: block;
        width: 830px;
        height: 52px;
        content: ' ';
        background-color: $white;
        border-bottom: solid 1px #dddddd;
        background-image: url('~img/happie-logo.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0px;
        left: 0px;
      }

      // Shove buttons aside when the modal expands to fit the job panel.
      + .hp-modal-buttons-container {
        width: 1000px;
      }

      .modal-content-container {
        background-color: $white;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);

        .logo-container {
          .logo {
            width: 150px;
            height: 150px;
          }
        }

        .map-section {
          width: 830px;
        }
      }
    }
  }

  .hp-modal-close-button {
    position: absolute;
    top: 19px;
    right: 19px;
    padding: 6px;
    @include modal-close
  }

  .hp-modal-header {
    position: absolute;
    top: 25px;
    left: 45px;
    h2 {
      font-weight: 600;
    }
  }

  .hp-confirm-prompt {
    padding: 7.2rem 4.5rem 5.2rem 4.5rem;
    text-align: center;
  }

  // Animations for modals

  .modal-animation-enter {
    opacity: 0 !important;
    .hp-modal-positioner {
      transform: scale(0) !important;
    }
    .hp-modal-buttons-aligner {
      top: -150% !important;
    }
  }
  .modal-animation-enter-active {
    opacity: 1;
    .hp-modal-positioner {
      transform: scale(1);
    }
    .hp-modal-buttons-aligner {
      top: 10%;
    }
  }
  .modal-animation-leave {
    opacity: 1;
    .hp-modal-positioner {
      transform: scale(1);
    }
  }
  .modal-animation-leave-active {
    opacity: 0;
    .hp-modal-positioner {
      transform: scale(0);
    }
  }

  .slide-from-right-enter {
    opacity: 0 !important;
    .hp-modal-positioner {
      left: 100% !important;
    }
  }
  .slide-from-right-enter-active {
    opacity: 1;
    .hp-modal-positioner {
      left: 0;
    }
  }
  .slide-from-right-leave {
    opacity: 1;
    .hp-modal-positioner {
      left: 0;
    }
  }
  .slide-from-right-leave-active {
    opacity: 0;
    .hp-modal-positioner {
      left: 100%;
    }
  }

  .hp-modal-buttons-container {
    width: 758px;
    height: 80%;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include modal-button-container-index;
    @include transition-sm-med-ease;
  }

  .hp-modal-buttons-aligner {
    width: 75px;
    position: absolute;

    @include transition-sm-med-ease;

    $scaleSize: 1.12;
    $scaleSizeSmall: 0.9;

    top: 0;
    right: 0;

    span {
      display: inline-block;
      height: 75px;
      width: 75px;
      border-radius: 50%;
      background: $turquoise;
      margin-bottom: 15px;

      @include transition-sm-med-ease;

      &.active-button{
        transition: all 0 ease-in-out;
        background: #3aaa90;
        transform: translateZ(0) scale(1) !important;
      }

      &.active-button:active {
        transform: translateZ(0) scale($scaleSizeSmall) !important;
      }

      img {
        padding: 20px;
      }
    }

    span:hover {
      transform: translateZ(0) scale($scaleSize);
      @include transition-sm-med-ease;
    }

    span:active {
      @include transition-sm-ease;
      background: #3aaa90;
      transform: translateZ(0) scale($scaleSizeSmall);
    }

  }


</style>
