<template>
  <div class="modal-container" :style="modalStyles">
    <div class="toolbar-top" @click="hideModal">
      <slot name="toolbar-top" class="toolbar"></slot>
    </div>
    <div class="modal">
      <div v-if="type === 'header'" class="header header-purple">
        <slot name="header"></slot>
      </div>
      <div class="body-container">
        <div class="modal-body">
          <slot name="content"></slot>
        </div>
      </div>
      <div class="toolbar-side">
        <slot name="toolbar-side"></slot>
      </div>
    </div>
  </div>
</template>

<script>
import { modals } from 'helpers'

export default {
  components: {
  },
  props: {
    type: { required: false, type: String, default: 'default' },
    hideModal: { required: true },
    modalStyles: { required: true }
  },
  data () {
    return {
      modals
    }
  },
  computed: {
  },
  methods: {
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .modal-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 12px;
  }

  .toolbar-top {
    flex-basis: auto;

    span {
      display: inline-block;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: $turquoise;
      margin-bottom: 13px;

      @include transition-sm-med-ease;

      &.active-button{
        transition: all 0 ease-in-out;
        background: #3aaa90;
        transform: translateZ(0) scale(1);
      }

      &.active-button:active {
        transform: translateZ(0) scale(0.9);
      }

      + span {
        margin-left: 10px;
      }

      img {
        padding: 7px;
        height: 40px;
        width: 40px;
      }
    }
  }
  .modal {
    background-color: $white;
    height: 100%;
    overflow-y: auto;
  }

  .header {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    padding: 15px 25px;

    &.header-purple {
      background-color: $barney;
      color: $white;
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }

  .body-container {
    overflow-y: auto;
  }

  .modal-body {
    padding: 18px;
  }
</style>
