<template>
  <Modal type="header" :modalStyles="modalStyles" :hideModal="hideModal">
    <template slot="toolbar-top">
      <span role="button" @click="(e) => {buttonClick(e, 'preview')}" v-bind:class="{'active-button': previewMode}">
        <img v-svg-src="previewButton">
      </span>
      <span role="button" @click="(e) => {buttonClick(e,'edit')}" v-bind:class="{'active-button': !previewMode}">
        <img v-svg-src="editButton">
      </span>
      <span class="toolbar-button" role="button" @click="(e) => {buttonClick(e, 'save')}">
        <img v-svg-src="saveButton">
      </span>
    </template>
    <template slot="header">
      Onboarding Wizard Response
    </template>
    <template slot="content">
      <div class="typeform-response" v-for="query in onboardingResponses">
        <label v-html="query.question"></label>
        <!-- Text Field -->
          <p v-show="previewMode"> {{ query.answer }}</p>
          <CustomInput
            v-show="!previewMode"
            v-model="query.answer"
            :customStyles="inputStyles">
          </CustomInput>
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from './Modal'

import CustomInput from 'components/FormElements/CustomInput'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import CustomToggle from 'components/FormElements/CustomToggle'

import previewButton from 'img/job-modal-preview.svg'
import editButton from 'img/job-modal-edit.svg'
import saveButton from 'img/save.svg'

import { setupHelper } from 'helpers'

export default {
  components: {
    Modal,
    CustomInput,
    CustomTextArea,
    CustomToggle
  },
  props: {
    setup: { required: true },
    hideModal: { required: true },
    modalStyles: { required: true }
  },
  data () {
    return {
      previewButton,
      editButton,
      saveButton,
      previewMode: true, // preview is true, edit is false
      inputStyles: { width: '100%' },
      answers: this.setup.typeform_responses.answers,
      questions: this.setup.typeform_responses.definition.fields
    }
  },
  computed: {
    onboardingResponses () {
      // If this is our first time opening the Onboarding Response Modal,
      // we need to unpack the responses from Typeform
      // (See formResponeses() and unMerge()). Otherwise, we'll just use what
      // we have stored in onboarding_responses.
      return this.setup.onboarding_responses || this.formResponses
    },
    formResponses () {
      const formResponses = this.answers.map(answer => {
        return {
          id: answer.field.id,
          type: answer.type,
          answer: answer.type === 'choice'
            ? answer.choice
            : answer.type === 'choices'
              ? answer.choices.labels.join(', ')
              : answer[answer.type],
          question: this.unMerge(this.questions.find(question => question.id === answer.field.id).title)
        }
      })
      console.log('formatted:', formResponses)
      return formResponses
    }
  },
  methods: {
    buttonClick (e, button) {
      e.stopPropagation()
      switch (button) {
        case 'preview':
          this.previewMode = true
          break
        case 'edit':
          this.previewMode = false
          break
        case 'save':
          setupHelper.patch(this.setup.id, { onboarding_responses: this.onboardingResponses })
          break
        default:
          break
      }
    },
    unMerge (string) {
      const regex = /({{answer_([a-zA-Z0-9_]+)}})/g
      let results = []
      let match

      while ((match = regex.exec(string)) !== null) {
        results.push(match)
      }

      results.forEach(result => {
        let answer = this.answers.find(answer => answer.field.id === result[2])
        answer = answer.type === 'choice' ? answer.choice.label : answer[answer.type]
        string = string.replace(result[1], answer)
      })
      return string
    },
    save () {
      console.log('saved')
    }
  }
}
</script>

<style lang='scss'>
  @import "~styles/variables";

  .typeform-response {
    label {
      display: block;
      font-size: 16px;
      font-weight: bold;
      margin: 20px 0 5px;

      strong {
        // Override the <strong> tag typeform sends with their strings. Seriously, what the fuck.
        font-weight: inherit;
      }
    }

    p {
      font-size: 14px;
      white-space: pre-wrap;
    }
  }
</style>
