<template>
  <div class="hp-confirm-prompt">
    <div class="hp-modal-header">
      <h2 class="i-b">Add a new phone number</h2>
    </div>
    <div class="labeled-form">
      <div class="form-row">
        <label>
          <span>Name</span>
          <CustomInput
            v-model="name"
            :containerStyles="containerInputStyles"
            :customStyles="customInputStyles"
            placeholder="Enter a name..."
          />
        </label>
      </div>
      <div class="form-row">
        <label>
          <span>Description</span>
          <CustomTextArea
            v-model="description"
            :containerStyles="containerInputStyles"
            :customStyles="customInputStyles"
            placeholder="Enter a description..."
          />
        </label>
      </div>
      <div class="form-row">
        <label>
          <span>Area Code</span>
          <CustomInput
            v-model="areaCode"
            :containerStyles="containerInputStyles"
            :customStyles="customInputStyles"
            placeholder="Enter area code..."
            :icon="areaCodeImg"
            :onClick="inputClick"
            :onEnter="formSubmit"
            maxlength="3"
          />
        </label>
      </div>
      <div class="form-row numbers">
        <span
          v-for="number in numbers"
          @click="selectNumber(number)"
          :class="{'number': true, 'selected': selected == number}"
        >
          {{phoneNumber.makeReadable(number.number, 'US')}}
          <span class="location">{{numberLocation(number)}}</span>
        </span>
      </div>
      <div class="form-row">
        <PromptButton :text="buttonText" :customStyles="promptButtonStyles" :onClick="formSubmit" />
      </div>
    </div>
  </div>
</template>


<script>
import PromptButton from 'components/FormElements/PromptButton'
import CustomInput from 'components/FormElements/CustomInput'
import CustomTextArea from 'components/FormElements/CustomTextArea'

import areaCodeImg from 'img/settings/mobile.svg'

import api from 'api'
import { alerts, phoneNumber } from 'helpers'
import { phoneNumbersStore } from 'stores'

export default {
  components: {
    PromptButton,
    CustomInput,
    CustomTextArea
  },
  mounted () {
  },
  data () {
    return {
      search: true,
      name: '',
      description: '',
      areaCode: '',
      selected: null,
      numbers: [],
      phoneNumber,
      containerInputStyles: {
        'display': 'inline-block'
      },
      customInputStyles: {
        'margin-left': '0px'
      },
      tooltipStyles: {
        'display': 'inline-block',
        'margin-left': '10px',
        'margin-top': '-3px'
      },
      promptButtonStyles: {
        width: '275px'
      },
      areaCodeImg
    }
  },
  computed: {
    buttonText () {
      return this.search ? 'SEARCH' : 'SAVE'
    }
  },
  methods: {
    numberLocation (number) {
      return `${number.city}, ${number.state}`
    },
    inputClick () {
      this.search = true
      this.selected = null
    },
    selectNumber (number) {
      this.search = false
      this.selected = number
    },
    formSubmit () {
      if (this.search) {
        if (parseInt(this.areaCode) > 99 && parseInt(this.areaCode) < 1000) {
          api.ajax('tracking-numbers/search', {
            type: 'GET',
            data: {
              area_code: this.areaCode
            }
          })
          .done((response) => {
            console.log('Get phone numbers ', response)
            this.numbers = response
            this.selected = null
            if (!this.numbers.length) {
              alerts.show({
                message: `Sorry, no numbers found for area code ${this.areaCode}`,
                status: 'error'
              })
            }
          })
          .fail((e) => {
            console.error('Failed getting phone numbers ', e)
            alerts.show({
              message: 'Failed getting phone numbers',
              status: 'error'
            })
          })
        } else {
          alerts.show({
            message: 'Area code must be 3 numbers!',
            status: 'error'
          })
        }
      } else {
        api.ajax('tracking-numbers', {
          type: 'POST',
          data: {
            name: this.name,
            description: this.description,
            number: this.selected.number
          }
        })
        .done((response) => {
          phoneNumbersStore.addPhones([response])
          this.addedNewPhone(response.number)
          this.hideModal()
        })
        .fail((e) => {
          console.error('failed saving number ', e)
          alerts.show({
            message: "Failed saving phone number. Make sure it's not the same name as any others!",
            status: 'error'
          })
        })
      }
    }
  },
  props: {
    addedNewPhone: { required: true },
    hideModal: { required: true }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .labeled-form {

    label {
      span {
        margin-right: 29px;
      }
      input {
        margin-left: 0;
      }
    }

    .form-row:last-child {
      text-align: center;
    }

    .numbers {
      text-align: center;

      .number {
        padding: 5px 15px;
        border-radius: 2px;
        display: inline-block;
        margin-bottom: 23px;
        text-align: center;
        width: 33%;
        vertical-align: top;

        @for $i from 1 through 18 {
          @if (mod($i, 3) == 1) {
            &:nth-child(#{$i}) {
              &+:last-child {
                margin-right: 33%;
                width: 33%;
              }
             &:last-child {
               margin-right: 66%;
             }
            }
          }
        }

        .location {
          color: #b2bcca;
          @include transition-sm-med-ease;
        }

        @include transition-sm-med-ease;

        &:hover, &.selected {
          cursor: pointer;
          color: #ffffff;
          background-color: $turquoise;

          .location {
            color: $white;
          }
        }
      }
    }
  }
</style>
