<template>
  <div class="preview-container">
    <template v-if="type === 'email'">
      <div class="metadata-container">
        <div><b>Scheduled Delivery:</b> {{sendAt}}</div>
        <div><b>To:</b> {{preview.recipient}}</div>
        <div><b>Reply-to:</b> {{preview.reply_to}}</div>
        <div><b>Subject:</b> {{preview.subject}}</div>
      </div>
      <div class="content-container" v-html="preview.html"></div>
    </template>
    <template v-else-if="type === 'sms'">
      <template v-if="wittyBanter">
        <img :src="phoneImg" alt="" height="300">
        <div class="text-message" v-html="preview.text"></div>
      </template>
      <template v-else>
          <div class="iphone">
            <div class="message">
              <span class="text" v-html="preview.text"></span>
              <img class="chat-bubble-tail" v-svg-src="chatBubbleTail"></span>
            </div>
          </div>
      </template>
    </template>
  </div>
</template>

<script>
import phoneImg from 'img/nokia.jpeg'
import chatBubbleTail from 'img/chat-bubble-curl-user.svg'

import { accountStore } from 'stores'

import moment from 'moment'
import momentTimezone from 'moment-timezone'

export default {
  props: {
    type: { required: true },
    preview: { required: true }
  },
  data () {
    return {
      phoneImg,
      chatBubbleTail,
      wittyBanter: false,
      accountStore: accountStore.get()
    }
  },
  computed: {
    timezone () {
      return this.preview.timezone || this.accountStore.account.timezone || 'UTC'
    },
    sendAt () {
      return moment(this.preview.send_at).tz(this.timezone).format('dddd, MMMM D, YYYY [at] h:mmA z')
    },
    isSteven () {
      const regex = /^((steven|duque).*@gethappie\.me)$/i
      return !!regex.exec(this.accountStore.account.email)
    }
  },
  mounted () {
    this.wittBanter = (Math.random() <= 0.01 && this.accountStore.account.is_sourcer) || this.isSteven
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";
  @font-face {
    font-family: nokia;
    src: url('~styles/font/nokia.ttf');
  }

  .preview-container {
    padding: 25px;
    color: $black;

    .metadata-container {
      font-size: 12px;
      line-height: 1.6;
      letter-spacing: 0.2px;
      text-align: left;
    }

    .content-container {
      margin-top: 25px;
    }
  }

  .text-message {
    color: #465241;
    cursor: default;
    font-family: nokia;
    font-size: 8px;
    height: 42px;
    left: 260px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    position: absolute;
    top: 115px;
    user-select: none;
    width: 66px;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 3px;

      &-thumb {
        background-color: #465241;
      }
    }
  }

  .iphone {
    background-image: url('~img/preview-phone.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: block;
    position: relative;
  }

  .message {
    bottom: 235px;
    right: 115px;
    max-height: 222px;
    max-width: 235px;
    display: inline-block;
    margin: 0 15px;
    vertical-align: bottom;
    text-align: left;
    position: absolute;

    .text {
      background-color: $white;
      display: inline-block;
      font-size: 14px;
      padding: 5px 10px;
      border-radius: 8px;
      margin-top: 4px;
      min-height: 25px;
    }

    .chat-bubble-tail {
      right: -5px;
      bottom: -3px;
      transform: rotate(-32deg);
      position: absolute;
    }
  }
</style>
