<template>
  <div class="modal-content-container">
    <p class="heading">Send test {{previewType}} to preview
      <Tooltip content="You can <i>send a test email to preview</i> how it will appear to candidates. Select members of your team who are already on Happie, or enter their email addresses if they aren't. Get feedback from internal stakeholders (like hiring managers), and make certain your messages both stand out and are on point!" :customStyles="tooltipStyles" />
    </p>
    <div v-if="canPickSignature" class="signatures-container">
      <SignaturesDropdown
        :isDropdown="true"
        :signatureChange="signatureChange"
        :selectedSignature="selectedSignature"
      />
    </div>
    <div v-if="canPickFromPhone" class="signatures-container">
      <h1>From Number</h1>
      <div>
        <CustomSelect
          :items="phoneNumberItems"
          :selected="selectedPhone"
          :onChange="(item) => {phoneChange(item)}"
          selectIcon="phone-book"
        />
      </div>
    </div>
    <CustomInput
      :icon="searchImg"
      placeholder="Search by name or email..."
      :containerStyles="searchContainerStyles"
      :customStyles="searchCustomStyles"
      v-model="searchQuery"
    />
    <Tablist
      :tabs="composeTabs"
      :selectedTab="activeComposeTab"
      @change="tabChange"
    />

    <!-- User Container -->
    <div role="tabpanel" class="user-list-container" v-show="activeComposeTab === 0">
      <ul class="users">
        <li v-for="user in filteredUsers" @click="sendPreview(user)">
          <span class="user-image" :style="getProfileImage(user.profile_photo_url)"></span>
          {{user.display_name}}{{accountStore.account.id === user.id ? ' (you)' : ''}}
        </li>
      </ul>
    </div>

    <!-- Invite Container -->
    <div role="tabpanel" class="invite-container" v-show="activeComposeTab === 1">
      <label for="emails">{{composeType}}(s)</label>
      <CustomInput
        v-model="sendTo"
        customId="emails"
        :placeholder="composePlaceholder"
        :containerStyles="inputContainerStyles"
        :customStyles="inputCustomStyles"
      />
      <Tooltip content="You can send your preview email to team members who aren't Happie users yet, by entering multiple email addresses at once, separated by a comma (,)." :customStyles="tooltipStyles" />
      <PromptButton text="SEND" :onClick="sendPreviewCompose" :customStyles="inviteButtonStyles"></PromptButton>
    </div>
  </div>
</template>


<script>
import Tablist from 'components/Tools/Tablist'
import PromptButton from 'components/FormElements/PromptButton'
import CustomInput from 'components/FormElements/CustomInput'
import CustomSelect from 'components/FormElements/CustomSelect'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import SignaturesDropdown from 'components/Sections/Settings/SettingsSignaturesPanel'
import Tooltip from 'components/Tools/Tooltip'

import api from 'api'
import { modals, alerts, profileImageStyle, mergeTagsParser } from 'helpers'
import { usersStore, accountStore, mergeTagsStore, signaturesStore, phoneNumbersStore } from 'stores'

import profile from 'img/small-profile.svg'
import profileActive from 'img/small-profile-active.svg'
import ticket from 'img/ticket.svg'
import ticketActive from 'img/ticket-active.svg'
import searchImg from 'img/search.svg'
import accountPlaceholder from 'img/account-placeholder.svg'

export default {
  components: {
    Tablist,
    CustomInput,
    CustomTextArea,
    SignaturesDropdown,
    Tooltip,
    PromptButton,
    CustomSelect
  },
  data () {
    return {
      accountStore: accountStore.get(),
      usersStore: usersStore.get(),
      mergeTagsStore: mergeTagsStore.get(),
      signaturesStore: signaturesStore.get(),
      phoneNumbersStore: phoneNumbersStore.get(),
      previewType: this.sms ? 'SMS' : 'email',
      composeType: this.sms ? 'Phone #' : 'Email',
      composePlaceholder: this.sms ? 'Enter phone #(s)' : 'Enter email address(es)',
      sendTo: '',
      selectedSignature: null,
      searchQuery: '',
      selectedPhone: { value: null },
      accountPlaceholder,
      composeTabs: [
        { title: 'Select', image: profile, activeImage: profileActive },
        { title: 'Enter', image: ticket, activeImage: ticketActive }
      ],
      activeComposeTab: 0,
      searchContainerStyles: {
        display: 'inline-block',
        'margin-right': '25px'
      },
      searchCustomStyles: {
        width: '300px'
      },
      searchImg: searchImg,
      inputContainerStyles: {
        display: 'inline-block'
      },
      inputCustomStyles: {
        width: '277px',
        'margin-bottom': '20px'
      },
      textAreaContainerStyles: {
        display: 'inline-block'
      },
      textAreaCustomStyles: {
        width: '277px',
        'margin-bottom': '20px'
      },
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle',
        'margin-left': '18px'
      },
      inviteButtonStyles: {
        display: 'block',
        width: '277px',
        'margin-left': '150px'
      }
    }
  },
  computed: {
    filteredUsers () {
      // TODO: For @theron -> refactor this filter function into a helper since we're using it in a few places

      // Otherwise filter out users by checking of search query exists in their first or last name
      let filteredUsers = $.grep(this.usersStore.users, (user) => {
        // Check if search query is in first or last name
        let match = `${user.first_name} ${user.last_name} ${user.email}`
        .toLowerCase()
        .indexOf(this.searchQuery.toLowerCase()) > -1

        // Or if search query is empty, set match to true
        if (!this.searchQuery) {
          match = true
        }

        // Also filter out non provisional
        if (user.is_provisional) {
          match = false
        }

        // Set the display name
        user.display_name = user.first_name || user.last_name ? `${user.first_name} ${user.last_name}` : user.email

        return match
      })

      return filteredUsers
    },
    phoneNumberItems () {
      let items = [{ label: 'Phone Number', value: null }, { label: 'Add a New Phone Number', value: 'create' }]
      $.each(this.phoneNumbersStore.phones, (index, value) => {
        items.push({
          label: `${value.name} ${value.number}`,
          value: value.number
        })
      })
      return items
    }
  },
  methods: {
    getProfileImage (url) {
      return profileImageStyle(url, accountPlaceholder)
    },
    tabChange (index) {
      this.activeComposeTab = index
    },
    phoneChange (item) {
      this.selectedPhone = item
      if (item.value === 'create') {
        this.selectedPhone = { value: null }
        modals.show({
          component: 'PhoneNumbersModal',
          props: {
            addedNewPhone: (id) => {
              this.phoneChange({ value: id })
            }
          }
        })
      }
    },
    sendPreview (user) {
      if (this.sms) {
        // See if the user has a mobile number
        let recipients = []
        $.each(user.phones, (index, value) => {
          if (value.type == 'mobile') {
            recipients.push(value.number)
          }
        })
        // Just try and send to their first phone number anyway
        try {
          if (!recipients.length && user.phones[0].number) {
            recipients.push(user.phones[0].number)
          }
        } catch (e) {
          // No phones for the user
        }
        if (!recipients.length) {
          alerts.show({
            message: "Sorry, this user doesn't have a phone number to send to.",
            status: 'error'
          })
          return
        }
        this.sendText({
          text: this.sms.text,
          from_number: this.sms.from_number,
          to_numbers: recipients,
          substitution_variables: {
            candidate: this.mergeTagsStore.previewCandidate
          }
        })
      } else {
        this.sendEmail({
          recipients: [user.email],
          subject: `(PREVIEW) ${this.email.subject}`,
          html: mergeTagsParser.parseHTML(this.email.html),
          substitution_variables: {
            candidate: this.mergeTagsStore.previewCandidate
          }
        })
      }
    },
    sendPreviewCompose () {
      if (this.sms) {
        this.sendText({
          text: this.sms.text,
          from_number: this.sms.from_number,
          to_numbers: this.sendTo.split(),
          substitution_variables: {
            candidate: this.mergeTagsStore.previewCandidate
          }
        })
      } else {
        this.sendEmail({
          recipients: this.sendTo.split(),
          subject: `(PREVIEW) ${this.email.subject}`,
          html: mergeTagsParser.parseHTML(this.email.html),
          substitution_variables: {
            candidate: this.mergeTagsStore.previewCandidate
          }
        })
      }
    },
    sendText (requestObject) {
      api.ajax('sms/send', {
        type: 'POST',
        data: requestObject
      })
      .done((response) => {
        // If we have a syntax error in the sms, we'll still get a 200, so we need to parse response for error message
        let error = false
        $.each(response, (key, value) => {
          if (value.status.toLowerCase() != 'queued' && value.status.toLowerCase() != 'sent') {
            error = true
          }
        })

        if (error) {
          console.error('failed to send sms')
          alerts.show({
            status: 'error',
            message: `Uh oh! There was an error parsing your sms content. Please double check that everything is formatted correctly and try again.`
          })
        } else {
          alerts.show({
            status: 'success',
            message: 'Boom! Your test sms successfully sent. You and/or the teammates you selected should have it in their inbox to preview.'
          })
        }
      })
      .fail((e) => {
        console.error('failed to send sms ', e)
        alerts.show({
          status: 'error',
          message: `Uh oh! There was an error sending your test email to you and the recipients you added. Please try again  —  sorry!`
        })
      })
    },
    sendEmail (requestObject) {
      // Append a signature to the object if there is one
      if (this.selectedSignature || this.email.signatureId) {
        requestObject.signature_id = this.selectedSignature || this.email.signatureId
      }
      api.ajax('emails/send', {
        type: 'POST',
        data: requestObject
      })
      .done((response) => {
        // If we have a syntax error in the email, we'll still get a 200, so we need to parse response for error message
        let error = false
        if (response.message.toLowerCase().indexOf('success') === -1) {
          error = true
        }

        $.each(response.recipients, (key, value) => {
          if (value.status != 'queued' && value.status != 'sent') {
            error = true
          }
        })

        if (error) {
          console.error('failed to send email')
          alerts.show({
            status: 'error',
            message: `Uh oh! There was an error parsing your email content. Please double check that everything is formatted correctly and try again.`
          })
        } else {
          alerts.show({
            status: 'success',
            message: 'Boom! Your test email successfully sent. You and/or the teammates you selected should have it in their inbox to preview.'
          })
        }
      })
      .fail((e) => {
        console.error('failed to send email ', e)
        alerts.show({
          status: 'error',
          message: `Uh oh! There was an error sending your test email to you and the recipients you added. Please try again  —  sorry!`
        })
      })
    },
    signatureChange (id) {
      this.selectedSignature = id
    }
  },
  props: {
    email: { required: false },
    sms: { required: false },
    canPickSignature: { required: false },
    canPickFromPhone: { required: false },
    signatureId: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  // TODO: Probably can unscope these at some point and combine the styles somewhere

  .modal-content-container {
    padding: 0px 35px;
    height: 500px;
  }

  .heading {
    font-size: 1.4rem;
    margin: 52px auto 20px auto;
  }

  .users {
    padding: 0px;
    margin-top: 0px;
    height: 300px;
    overflow: auto;

    .user-image {
      width: 45px;
      height: 45px;

      @include circle-img;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 45px;
    }

    li {
      padding: 12px 10px;
      list-style: none;
      border-bottom: 0.5px solid $border-gray;
      &:hover {
        background-color: #f7f8f9;
        cursor: pointer;
      }
    }
  }

  .invite-container {
    padding-top: 30px;
  }

  label {
    display: inline-block;
    width: 120px;
    text-align: right;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 30px;
  }

  .signatures-container {
    margin-bottom: 20px;

    h1 {
      margin-bottom: 10px;
    }
  }
</style>
