<template>
  <div class="modal-content-container">
    <h1 class="heading">{{heading}}</h1>
    <Tablist
      :tabs="composeTabs"
      :selectedTab="activeComposeTab"
      @change="tabChange"
    />

    <!-- Three different containers for different tabs -->
    <!-- Email Container -->
    <div role="tabpanel" class="compose-container" v-show="activeComposeTab === 0 && enableEmail">
      <h1>Subject</h1>
      <input type="text" v-model="subject" placeholder="Enter your subject..."></input>
      <div>
        <h1 class="content-header">Content</h1>
        <CustomSelect
          :items="templateItems"
          :onChange="templateChange"
          :selected="selectedTemplate"
          :customStyles="selectStyles"
          :icon="templateImg"
          :forceRenderAbove="true"
        />
      </div>
      <RichTextEditor
        v-if="jobsLoaded && pagesLoaded"
        :content="html"
        :onChange="htmlChanged"
        :heightMin="150"
        :linkList="linkList"
      />
      <div class="signatures-container">
        <SignaturesDropdown
          :isDropdown="true"
          :signatureChange="signatureChange"
          :selectedSignature="selectedSignature"
        />
        <span :class="{'preview-button': true, 'disabled': !html || !subject}" role="button" @click="previewClick">
          <img v-svg-src="previewButton">
          PREVIEW
        </span>
      </div>
    </div>

    <!-- SMS Container -->
    <div role="tabpanel" class="compose-container" v-show="activeComposeTab === 1 || !enableEmail">
      <h1>From Number</h1>
      <div>
        <CustomSelect
          :items="phoneNumberItems"
          :selected="selectedPhone"
          :onChange="(item) => {phoneChange(item)}"
          selectIcon="phone-book"
        />
      </div>
      <div>
        <h1 class="content-header">Content</h1>
        <CustomSelect
          :items="templateItems"
          :onChange="templateChange"
          :selected="selectedTemplate"
          :customStyles="selectStyles"
          :icon="templateImg"
          :forceRenderAbove="true"
        />
      </div>
      <RichTextEditor
        v-if="jobsLoaded && pagesLoaded"
        :content="smsText"
        :onChange="smsChanged"
        :plainText="true"
        :height="90"
        :linkList="linkList"
      />
      <div style="margin-bottom: 50px;">
        <div class="characters-used">
          <span :class="{'amount': true, 'warning': smsText.length>105, 'danger': smsText.length>120}">{{120 - smsText.length}}</span>
        </div>
        <span :class="{'preview-button': true, 'disabled': !smsText}" role="button" @click="previewClick">
          <img v-svg-src="previewButton">
          PREVIEW
        </span>
      </div>
    </div>

    <!-- Notification Container -->
    <!-- <div role="tabpanel" class="compose-container" v-show="activeComposeTab === 2">
      <h1>Notifications</h1>
    </div> -->

    <div class="buttons-container">
      <PromptButton text="SEND" :onClick="sendMessage" :icon="sendIcon" customId="test-reports-send-button"></PromptButton>
      <PromptButton type="hollow" text="CANCEL" :onClick="hideModal" customId="test-reports-send-button"></PromptButton>
    </div>

  </div>
</template>


<script>
import Tablist from 'components/Tools/Tablist'
import RichTextEditor from 'components/Tools/RichTextEditor'
import PromptButton from 'components/FormElements/PromptButton'
import SignaturesDropdown from 'components/Sections/Settings/SettingsSignaturesPanel'
import CustomSelect from 'components/FormElements/CustomSelect'

import api from 'api'
import { modals, alerts, mergeTagsParser } from 'helpers'
import { accountStore, phoneNumbersStore, organizationStore, jobsStore, pagesStore, templatesStore } from 'stores'

import emailImg from 'img/email.svg'
import smsImg from 'img/sms.svg'
// import clockImg from 'img/clock.svg'
import emailActiveImg from 'img/email-active.svg'
import smsActiveImg from 'img/sms-active.svg'
// import clockActiveImg from 'img/clock-active.svg'
import sendIcon from 'img/send-email.svg'
import templateImg from 'img/template.svg'
import previewButton from 'img/job-modal-preview.svg'

export default {
  components: {
    Tablist,
    RichTextEditor,
    PromptButton,
    SignaturesDropdown,
    CustomSelect
  },
  created () {
    // Load pages
    if (!this.pagesStore.pages.length) {
      api.ajax('page')
      .done((response) => {
        console.log('response from page ', response)
        pagesStore.init(response)
        this.pagesLoaded = true
      })
      .fail((e) => {
        console.error('Error getting pages ', e)
      })
    } else {
      this.pagesLoaded = true
    }

    // Load jobs
    if (!this.jobsStore.jobs.length) {
      api.ajax('reqs')
      .done((response) => {
        console.log('response from jobs ', response)
        jobsStore.init(response)
        this.jobsLoaded = true
      })
      .fail((e) => {
        console.error('Error getting jobs ', e)
      })
    } else {
      this.jobsLoaded = true
    }
  },
  data () {
    return {
      activeComposeTab: 0,
      subject: '',
      html: '',
      smsText: '',
      accountStore: accountStore.get(),
      phoneNumbersStore: phoneNumbersStore.get(),
      organizationStore: organizationStore.get(),
      jobsStore: jobsStore.get(),
      pagesStore: pagesStore.get(),
      selectedSignature: null,
      selectedPhone: { value: null },
      selectedTemplate: { value: 'select' },
      pagesLoaded: false,
      jobsLoaded: false,
      sendIcon,
      templateImg,
      previewButton,
      selectStyles: {
        display: 'inline-block',
        float: 'right',
        width: '180px',
        margin: '15px 0px'
      }
    }
  },
  computed: {
    activeTab () {
      return this.composeTabs[this.activeComposeTab]
    },
    composeTabs () {
      let composeTabs = []
      if (this.enableEmail) composeTabs.push({ value: 'email', title: 'Email', image: emailImg, activeImage: emailActiveImg })
      // {title: "Notification", image: clockImg, activeImage: clockActiveImg}
      if (this.organizationStore.organization.sms_enabled && !this.userIsTransactional && this.enableSMS) {
        composeTabs.push({ value: 'sms', title: 'SMS Text', image: smsImg, activeImage: smsActiveImg })
      }
      return composeTabs
    },
    templateItems () {
      let items = [{ value: 'select', label: 'Templates' }, { value: 'use-template', label: 'Use a template' }]
      if (this.html || this.smsText) {
        items.splice(1, 0, { value: 'create', label: 'Save new template' })
      }
      return items
    },
    linkList () {
      let linkList = []
      $.each(this.jobsStore.jobs, (key, value) => {
        // Only push live jobs into the linkList
        if (value.active) {
          linkList.push({
            text: `Job - ${value.title ? value.title : 'Untitled'}`,
            href: `{{open_jobs.${value.id}.published_url}}`,
            target: '_blank'
          })
        }
      })
      $.each(this.pagesStore.pages, (key, value) => {
        // Only push published pages into the linkList
        if (value.page_route != null) {
          linkList.push({
            text: `Page - ${value.title ? value.title : 'Untitled'}`,
            href: `{{pages['${value.page_route}'].url}}`,
            target: '_blank'
          })
        }
      })
      return linkList
    },
    phoneNumberItems () {
      let items = [{ label: 'Phone Number', value: null }, { label: 'Add a New Phone Number', value: 'create' }]
      $.each(this.phoneNumbersStore.phones, (index, value) => {
        items.push({
          label: `${value.name} ${value.number}`,
          value: value.number
        })
      })
      return items
    },
    heading () {
      const addressees = this.candidates.length - this.noEmail
      if (this.candidates.length > 1 && addressees > 1) {
        return `Send a message to ${addressees} candidates`
      } else if (this.candidates.length > 1 && addressees === 1) {
        return 'Send a message to 1 candidate'
      } else {
        return 'Send a message to this candidate'
      }
    },
    userIsTransactional () {
      return this.accountStore.account.is_transactional
    }
  },
  mounted () {
    if (this.type === 'sms') this.activeComposeTab = 1
  },
  methods: {
    previewClick () {
      const requestObject = {}
      requestObject.candidate_id = this.candidates[0]
      switch (this.activeTab.value) {
        case 'email':
          if (!this.html && !this.subject) return
          requestObject.html = mergeTagsParser.parseHTML(this.html)
          requestObject.subject = this.subject
          requestObject.signature_id = this.selectedSignature
          break
        case 'sms':
          requestObject.text = this.smsText
          break
      }
      api.ajax('templates/preview', {
        type: 'POST',
        data: requestObject
      })
      .done(response => {
        modals.show({
          component: 'PreviewModal',
          props: {
            hideXout: true,
            preview: response,
            type: this.activeTab.value,
            containerStyles: {
              width: '576px'
            }
          }
        })
      })
      .fail(e => {
        console.error('preview error ', e)
      })
    },
    templateChange (item) {
      switch (item.value) {
        case 'create':
          modals.show({
            component: 'CreateNewModal',
            props: {
              template: {
                name: '',
                description: '',
                subject: this.subject,
                html: this.html,
                text: this.smsText,
                template_type: this.activeTab.value
              },
              modalType: 'template',
              customCallback: (template) => {
                templatesStore.addTemplates([template])
                alerts.show({
                  message: `You successfully created the template “${template.name}”!`,
                  status: 'success'
                })
              }
            }
          })
          break
        case 'use-template':
          this.openTemplateModal(this.activeTab.value)
          break
      }
      this.selectedTemplate = { value: 'select' }
    },
    phoneChange (item) {
      this.selectedPhone = item
      if (item.value === 'create') {
        this.selectedPhone = { value: null }
        modals.show({
          component: 'PhoneNumbersModal',
          props: {
            addedNewPhone: (id) => {
              this.phoneChange({ value: id })
            }
          }
        })
      }
    },
    smsChanged (e) {
      this.smsText = e
    },
    tabChange (index) {
      this.activeComposeTab = index
    },
    htmlChanged (e) {
      this.html = e
    },
    openTemplateModal (type) {
      let insertTemplate
      switch (type) {
        case 'email':
          insertTemplate = (template) => {
            this.html = template.html
            this.subject = template.subject
          }
          break
        case 'sms':
          insertTemplate = (template) => {
            this.smsText = template.text
          }
          break
      }
      modals.show({
        component: 'TemplatesModal',
        props: {
          insertTemplate: insertTemplate,
          type: type
        }
      })
    },
    signatureChange (id) {
      this.selectedSignature = id
    },
    sendMessage () {
      switch (this.activeTab.value) {
        case 'email':
          let email = {
            candidate_ids: this.candidates,
            subject: this.subject,
            html: mergeTagsParser.parseHTML(this.html),
            signature_id: this.selectedSignature
          }
          if (this.recipients) {
            email.recipients = this.recipients
          }
          this.sendEmail(email)
          break
        case 'sms':
          if (!this.selectedPhone.value) {
            alerts.show({
              message: 'Make sure you have selected a from number!',
              status: 'error'
            })
            return false
          }
          let sms = {
            candidate_ids: this.candidates,
            text: this.smsText,
            from_number: this.selectedPhone.value
          }
          if (this.recipients) {
            sms.recipients = this.recipients
          }
          this.sendText(sms)
          break
      }
    },
    sendText (requestObject) {
      api.ajax('sms/send', {
        type: 'POST',
        data: requestObject
      })
      .done((response) => {
        // If we have a syntax error in the sms, we'll still get a 200, so we need to parse response for error message
        let sendCount = 0
        let failCount = 0
        $.each(response, (key, value) => {
          if (value.status.toLowerCase() != 'queued' && value.status.toLowerCase() != 'sent') {
            failCount++
          } else {
            sendCount++
          }
        })

        if (failCount && sendCount) {
          alerts.show({
            status: 'warning',
            message: `Your message sent successfully to ${sendCount} candidate(s), but failed to send to ${failCount}.`
          })
          this.hideModal()
        } else if (sendCount) {
          alerts.show({
            status: 'success',
            message: `Boom! Your text successfully sent to ${sendCount} candidate(s).`
          })
          this.hideModal()
        } else {
          alerts.show({
            status: 'error',
            message: `Uh oh! Your message failed to send to ${failCount} candidate(s).`
          })
        }
      })
      .fail((e) => {
        console.error('failed to send sms ', e)
        alerts.show({
          status: 'error',
          message: `Uh oh! There was an error sending your text to you and the recipients you added. Please try again  —  sorry!`
        })
      })
    },
    sendEmail (requestObject) {
      api.ajax('emails/send', {
        type: 'POST',
        data: requestObject
      })
      .done((response) => {
        // If we have a syntax error in the email, we'll still get a 200, so we need to parse response for error message
        // TODO: figure out what to do with this
        // let error = false
        // if (response.message.toLowerCase().indexOf('success') === -1) {
        //   error = true
        // }

        let sendCount = 0
        let failCount = 0
        $.each(response.recipients, (key, value) => {
          if (value.status.toLowerCase() != 'queued' && value.status.toLowerCase() != 'sent') {
            failCount++
          } else {
            sendCount++
          }
        })

        if (failCount && sendCount) {
          alerts.show({
            status: 'warning',
            message: `Your message sent successfully to ${sendCount} candidate(s), but failed to send to ${failCount}.`
          })
          this.hideModal()
        } else if (sendCount) {
          alerts.show({
            status: 'success',
            message: `Boom! Your email successfully sent to ${sendCount} candidate(s).`
          })
          this.hideModal()
        } else {
          alerts.show({
            status: 'error',
            message: `Uh oh! Your message failed to send to ${failCount} candidate(s).`
          })
        }
      })
      .fail((e) => {
        console.error('failed to send email ', e)
        alerts.show({
          status: 'error',
          message: `Uh oh! There was an error sending your email to you and the recipients you added. Please try again  —  sorry!`
        })
      })
    }
  },
  props: {
    noEmail: {
      required: false,
      default: 0
    },
    candidates: {
      required: true
    },
    recipients: {
      required: false
    },
    enableEmail: {
      required: false,
      default: true
    },
    enableSMS: {
      required: false,
      default: true
    },
    type: {
      required: false,
      default: 'both'
    },
    hideModal: {
      required: true
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .modal-content-container {
    padding: 30px;
  }

  h1 {
    margin: 2.2rem 0;

    &.heading {
      text-align: center;
      margin: 20px auto;
    }
  }

  input {
    width: 100%;
  }

  .compose-container {
    margin-top: 2rem;

    h1 {
      @include i-b();
      width: calc(100% - 10.0rem);

      &.content-header {
        width: auto;
        margin: 27px 0px;
      }
    }
  }

  .buttons-container {
    text-align: center;

    button {
      margin-right: 1.8rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .signatures-container {
    margin-bottom: 20px;
  }

  .characters-used {
    display: inline-block;
    letter-spacing: 0.2px;
    color: $tundora;

    .amount {
      font-weight: bold;
      margin-left: 4px;
      border-radius: 2px;
      padding: 1px 8px;
      color: #ffffff;
      background-color: $alto;

      &.warning {
        background-color: $warning;
      }

      &.danger {
        background-color: $danger;
      }
    }
  }

  .preview-button {
    margin-left: 30px;
    display: inline-block;
    float: right;
    border-radius: 2px;
    color: $white;
    text-align: center;
    background-color: $barney;
    letter-spacing: 1.8px;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 20px;

    @include transition-sm-med-ease;

    &:hover {
      background-color: $barney-hover;
    }

    img {
      vertical-align: middle;
      margin-right: 15px;
      width: 19px;
      height: 19px;
    }

    &.disabled {
      background-color: $alto;

      &:hover {
        cursor: not-allowed;
      }
    }
  }

</style>
