<template>
  <Modal :modalStyles="modalStyles" :hideModal="hideModal">
    <template slot="toolbar-top">
      <span class="toolbar-button close" role="button" @click="(e) => {buttonClick(e, 'close')}">
        <img v-svg-src="closeButton">
      </span>
      <span class="toolbar-button" role="button" @click="(e) => {buttonClick(e, 'save')}">
        <img v-svg-src="saveButton">
      </span>
    </template>
    <template slot="content">
      <h1><Tooltip content="You can create custom lines for the messages in your sequence steps. Simply write the copy (that means “words” in recruitment marketing-speak) for your custom merge tag. Be sure to keep them short and sweet! Few people read until the end. Case in point, if you’re reading this tooltip, you’re probably one of very few people who have!" :customStyles="tooltipStyles"/> Sequence Custom Merge Tags</h1>
      <div v-for="content, name, index in setup.sequence_variables">
        <h2>Custom Lines {{index}}</h2>
        <CustomTextArea
          placeholder="Write 1-2 lines of custom copy that you think would be compelling to candidates..."
          :customStyles="mergeTagStyles"
          v-model="setup.sequence_variables[name]" />
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from './Modal'
import Tooltip from 'components/Tools/Tooltip'

import CustomTextArea from 'components/FormElements/CustomTextArea'

import { setupHelper } from 'helpers'

import saveButton from 'img/save.svg'
import closeButton from 'img/x-out.svg'
export default {
  components: {
    Modal,
    Tooltip,
    CustomTextArea
  },
  data () {
    return {
      saveButton,
      closeButton,
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle'
      },
      mergeTagStyles: {
        'margin-bottom': '15px',
        width: '100%'
      }
    }
  },
  props: {
    modalStyles: { required: true },
    setup: { required: true },
    hideModal: { required: true }
  },
  computed: {
  },
  methods: {
    buttonClick (e, button) {
      e.stopPropagation()
      switch (button) {
        case 'save':
          setupHelper.patch(this.setup.id, { 'sequence_variables': this.setup.sequence_variables })
          break
        case 'close':
          this.hideModal()
          break
        default:
          break
      }
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .toolbar-button {
    display: inline-block;
    height: 40px;
    float: right;
    width: 40px;
    border-radius: 50%;
    background: $turquoise;
    margin-bottom: 13px;

    @include transition-sm-med-ease;

    &.active-button{
      transition: all 0 ease-in-out;
      background: #3aaa90;
      transform: translateZ(0) scale(1);
    }

    &.active-button:active {
      transform: translateZ(0) scale(0.9);
    }

    &.close {
      background-color: $white;
      opacity: 1;

      img {
        padding: 12px;
      }
    }

    + span {
      margin-right: 10px;
    }

    img {
      padding: 7px;
      height: 40px;
      width: 40px;
    }
  }

  h1 {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-bottom: 26px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    margin-bottom: 7px;
  }

</style>
