<template>
  <div class="hp-confirm-prompt">
    <div class="hp-modal-header">
      <h2 class="i-b">Create a new email signature</h2>
      <Tooltip content="After you create a new <i>email signature</i>, other team members in your organization will be able to use it too. Try using merge tags instead of writing in things like your personal information — that way, anyone on your team can create a campaign without having to customize their signature." :customStyles="tooltipStyles" />
    </div>
    <form class="labeled-form" @submit="formSubmit">
      <div class="form-row">
        <label>
          Name
          <CustomInput
            v-model="name"
            :containerStyles="containerInputStyles"
            placeholder="Enter a name for your new email signature"
          />
        </label>
      </div>
      <div class="form-row">
        <PromptButton text="SAVE" :customStyles="promptButtonStyles" type="submit" :onClick="()=>{}" />
      </div>
    </form>
  </div>
</template>


<script>
import PromptButton from 'components/FormElements/PromptButton'
import CustomInput from 'components/FormElements/CustomInput'
import Tooltip from 'components/Tools/Tooltip'

export default {
  components: {
    PromptButton,
    CustomInput,
    Tooltip
  },
  mounted () {
  },
  data () {
    return {
      name: '',
      containerInputStyles: {
        'display': 'inline-block'
      },
      tooltipStyles: {
        'display': 'inline-block',
        'margin-left': '10px',
        'margin-top': '-3px'
      },
      promptButtonStyles: {
        width: '275px'
      }
    }
  },
  computed: {
  },
  methods: {
    cancelFunc () {

    },
    formSubmit (e) {
      e.preventDefault()
      this.confirmCallback(this.name)
    }
  },
  props: {
    confirmText: {
      required: false,
      default: 'Yes'
    },
    cancelText: {
      required: false,
      default: 'No'
    },
    cancelCallback: { required: false },
    confirmCallback: { required: false }
  }
}
</script>

<style lang='scss'>
  @import "~styles/variables";

</style>
