<template>
  <div class="modal-content-container">
    <Tooltip content="You can change the <i>Sourcing Status</i> to help track where reqs are in Happie’s sourcing process. " :customStyles="tooltipStyles"/>
      <div class="modal-body">
        <p class="heading">Change Sourcing Status</p>
          <CustomMultiSelect
            :items="metadataStore.sourcedReqStatuses"
            :onChange="(item) => {changeStatus(item)}"
            :selected="selectedStatus"
            :customStyles="inputStyles"
            :icon="statusImg" />
        <div class="text-centered">
          <FlatButton :click="submitClick" color="green">CHANGE STATUS</FlatButton>
        </div>
      </div>
  </div>
</template>

<script>
import Tooltip from 'components/Tools/Tooltip'
import CustomSelect from 'components/FormElements/CustomSelect'
import CustomMultiSelect from 'components/FormElements/CustomMultiSelect'
import FlatButton from 'components/FormElements/FlatButton'

import statusImg from 'img/pulse.svg'

import { metadataStore, sourcedReqStore } from 'stores'

import { alerts, modals } from 'helpers'

import api from 'api'

export default {
  components: {
    Tooltip,
    CustomSelect,
    CustomMultiSelect,
    FlatButton
  },
  data () {
    return {
      statusImg,
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle'
      },
      inputStyles: {
        margin: '0 10% 75px',
        width: '80%'
      },
      selectedStatus: -1,
      metadataStore: metadataStore.get(),
      sourcedReqStore: sourcedReqStore.get()
    }
  },
  computed: {
    sourcedReqsToChange () {
      let reqs = []
      $.each(this.sourcedReqStore.sourcedReqs, (key, value) => {
        if (value.isChecked) {
          reqs.push(value)
        }
      })
      return reqs
    }
  },
  methods: {
    changeStatus (item) {
      this.selectedStatus = item
    },
    submitClick (item) {
      if (this.selectedStatus != -1) {
        let ids = []
        $.each(this.sourcedReqsToChange, (key, value) => {
          ids.push(value.id)
        })
        modals.show({
          component: 'Confirm',
          props: {
            message: `Are you sure you want to change the status of ${this.sourcedReqsToChange.length} reqs? Other members of the fufillment team are using statuses to track the progress of work on reqs.`,
            confirmText: 'Yes, change them!',
            cancelText: 'Cancel',
            confirm: () => {
              api.ajax(`sourced-reqs/bulk/status`, {
                type: 'POST',
                data: {
                  ids: ids,
                  sourcing_status: this.selectedStatus
                }
              })
              .done((response) => {
                console.log('Succesfully updated sourcing requirements')
                $.each(this.sourcedReqsToChange, (key, value) => {
                  value.sourcing_status = this.selectedStatus
                  value.isChecked = false
                })
                modals.hide()
                alerts.show({
                  status: 'success',
                  message: `Good stuff — you successfully changed the status of ${this.sourcedReqsToChange.length} reqs!`
                })
              })
              .fail(() => {
                console.log('Error updating sourcing requirements')
                modals.hide()
                alerts.show({
                  status: 'error',
                  message: `Uh oh! There was an error changing the status of  ${this.sourcedReqsToChange.length} reqs. Please try again!`
                })
              })
            },
            cancel: () => {
              modals.hide()
            }
          }
        })
      } else {
        alerts.show({
          status: 'error',
          message: 'Whoops! Looks like you forgot to select a status.'
        })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.modal-content-container {
  height: 360px;
  padding: 0 15px 35px;
  margin-top: 15px;
}

.heading {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin: 25px 0 25px 30px;
  text-transform: uppercase;
}

.custom-select-container {
  margin: 0 auto 150px;
}
</style>
