<template>
  <div class="modal-content-container">
    <Tooltip content="You can create a new <i>Sourced Req</i> to track the sourced candidates, submission targets, and engagement details for a given customer’s job. Be sure to fill out all the details to ensure that we’re able to get detailed information in the Customer Success Report, which we use to monitor customers’ health. You should create one Sourced Req for every distinct job that Happie is finding and engaging on behalf of a given customer. For example, if we’re helping a customer find candidates for two roles, you should create two Sourced Reqs for the customer. Pro Tip: “req” is recruiter-speak for “requisition”! " :customStyles="tooltipStyles"/>
    <div class="modal-body">
      <p class="heading" v-if="sourcedReq">Editing Req #{{ sourcedReq.id}} - {{ sourcedReq.name}}</p>
      <p class="heading" v-else>Create A New Req</p>
      <div>
        <div class="column" style="margin-right: 4%;">
          <CustomInput
            v-model="sourcedReqName"
            :icon="userIcon"
            :customStyles="fieldStyles"
            placeholder="Sourced Req Name" />
          <CustomSelect
            v-if="sourcedReq"
            :icon="companyIcon"
            :items="companySelectItems"
            :onChange="(e) => {changeInput('company', e)}"
            :selected="selectedCompany"
            :customStyles="fieldStyles"
            :disabled="sourcedReq" />
          <Autocomplete
            v-else
            placeholder="Search by company name..."
            :suggestions="companySelectItems"
            :viewKeys="['label']"
            :searchKeys="['label']"
            :onSelect="(e) => {changeInput('company', e)}"
            :customStyles="fieldStyles"
            :containerStyles="autocompleteStyles"
            :icon="companyIcon"
          />
          <CustomSelect
            :icon="organizationIcon"
            :items="organizationSelectItems"
            :onChange="(e) => {changeInput('organization', e)}"
            :selected="selectedOrganization"
            :customStyles="fieldStyles"
            :disabled="sourcedReq" />
          <CustomSelect
            :icon="jobIcon"
            :items="jobSelectItems"
            :onChange="(e) => {changeInput('job', e)}"
            :selected="selectedJob"
            :customStyles="fieldStyles"
            :disabled="sourcedReq" />
          <CustomSelect
          :icon="pulseIcon"
          :items="metadataStore.sourcedReqStates"
          :onChange="(e) => {changeInput('state', e)}"
          :selected="selectedState"
          :customStyles="fieldStyles" />
        </div>
        <div class="column">
          <CustomSelect
            :icon="userIcon"
            :items="accountManagerSelectItems"
            :onChange="(e) => {changeInput('accountManager', e)}"
            :customStyles="fieldStyles"
            :selected="selectedAccountManager" />
          <CustomSelect
            :icon="userIcon"
            :items="sourcerSelectItems"
            :onChange="(e) => {changeInput('sourcer', e)}"
            :customStyles="fieldStyles"
            :selected="selectedSourcer" />
          <CustomSelect
            :icon="userIcon"
            :items="salespersonSelectItems"
            :onChange="(e) => {changeInput('salesperson', e)}"
            :customStyles="fieldStyles"
            :selected="selectedSalesperson" />
          <DatePicker
            :date="sourcedReq.engagement_date || null"
            :autofill="false"
            :fullWidth="true"
            :onChange="(e) => {changeInput('engagementDate', e)}"
            placeholder="End of Engagement Date" />
            <!-- Sometimes it's better not to ask questions -->
          <CustomSelect
            v-visible="false"
            :icon="userIcon"
            :items="salespersonSelectItems"
            :onChange="(e) => {changeInput('salesperson', e)}"
            :customStyles="fieldStyles"
            :selected="selectedSalesperson" />
        </div>
      </div>
      <CustomMultiSelect
        :icon="pulseIcon"
        placeholder="Sourcing Status"
        :items="metadataStore.sourcedReqStatuses"
        :selected="selectedStatus"
        :onChange="(e) => { changeInput('sourcingStatus', e) }"
        :customStyles="multiselectFieldStyles" />
      <div>
        <p class="heading">Job Board Syndication</p>
        <div class="column" style="margin-right: 4%">
          <CustomSelect
            :icon="powerIcon"
            :items="syndicationSelectItems"
            :onChange="(e) => {changeInput('syndicated', e)}"
            :selected="selectedSyndication"
            :customStyles="fieldStyles" />
        </div>
        <div class="column">
          <CustomSelect
          :icon="priorityLevelIcon"
          :items="metadataStore.syndicationPriorityLevels"
          :onChange="(e) => {changeInput('priorityLevel', e)}"
          :selected="selectedPriorityLevel"
          :customStyles="fieldStyles" />
        </div>
      </div>
      <div>
        <p class="heading">Craigslist Syndication</p>
        <div class="column" style="margin-right: 4%">
          <CustomSelect
            :icon="powerIcon"
            :items="craigslistSyndicationSelectItems"
            :onChange="(e) => {changeInput('craigslistSyndicated', e)}"
            :selected="selectedCraigslistSyndication"
            :customStyles="fieldStyles" />
          <CustomSelect
            :icon="jobIcon"
            :items="craigslistEmploymentTypeSelectItems"
            :onChange="(e) => {changeInput('craigslistEmploymentType', e)}"
            :selected="selectedCraigslistEmploymentType"
            :customStyles="fieldStyles" />
        </div>
        <div class="column">
          <DatePicker
            :date="sourcedReq.craigslist_date || null"
            :autofill="false"
            :fullWidth="true"
            :onChange="(e) => {changeInput('craigslistDate', e)}"
            placeholder="Posting Date" />
          <CustomSelect
            :icon="jobIcon"
            :items="craigslistCategoryItems"
            :onChange="(e) => {changeInput('craigslistCategory', e)}"
            :selected="selectedCraigslistCategory"
            :customStyles="fieldStyles" />
        </div>
        <CustomMultiSelect
          :icon="locationIcon"
          :items="craigslistLocationSelectItems"
          placeholder="Craigslist Location"
          :selected="selectedCraigslistLocations"
          :onChange="(e) => { changeInput('craigslistLocation', e) }"
          :customStyles="multiselectFieldStyles" />
      </div>
      <div class="text-centered">
        <FlatButton :click="submit" color="green">{{ sourcedReq ? 'UPDATE' : 'CREATE' }}</FlatButton>
      </div>
    </div>
  </div>
</template>

<script>
import Tooltip from 'components/Tools/Tooltip'
import CustomSelect from 'components/FormElements/CustomSelect'
import CustomInput from 'components/FormElements/CustomInput'
import CustomMultiSelect from 'components/FormElements/CustomMultiSelect'
import DatePicker from 'components/Tools/DatePicker'
import CustomToggle from 'components/FormElements/CustomToggle'
import FlatButton from 'components/FormElements/FlatButton'
import Autocomplete from 'components/FormElements/Autocomplete'

import companyIcon from 'img/company.svg'
import organizationIcon from 'img/organization.svg'
import jobIcon from 'img/briefcase.svg'
import userIcon from 'img/small-profile.svg'
import goalIcon from 'img/goal.svg'
import pulseIcon from 'img/pulse.svg'
import powerIcon from 'img/power.svg'
import priorityLevelIcon from 'img/priority-level.svg'
import locationIcon from 'img/location-pin.svg'

import { sourcedReqStore, adminStore, jobsStore, usersStore, metadataStore, craigslistStore } from 'stores'

import { alerts, sourcedReqHelper, modals } from 'helpers'

import moment from 'moment'

export default {
  components: {
    Tooltip,
    CustomSelect,
    CustomInput,
    CustomMultiSelect,
    DatePicker,
    CustomToggle,
    FlatButton,
    Autocomplete
  },
  props: {
    sourcedReq: { required: false, default: false }
  },
  data () {
    return {
      companyIcon,
      organizationIcon,
      jobIcon,
      userIcon,
      goalIcon,
      pulseIcon,
      powerIcon,
      priorityLevelIcon,
      locationIcon,
      moment,
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle'
      },
      fieldStyles: {
        display: 'inline-block',
        width: '100%',
        'max-width': '100%'
      },
      multiselectFieldStyles: {
        'margin-bottom': '50px',
        'margin-right': '52%',
        width: '48%'
      },
      autocompleteStyles: {
        'margin-bottom': '27px'
      },
      syndicationSelectItems: [
        { value: null, label: 'Job Board Syndication' },
        { value: true, label: 'On' },
        { value: false, label: 'Off' }
      ],
      craigslistSyndicationSelectItems: [
        { value: null, label: 'Craigslist Syndication' },
        { value: true, label: 'On' },
        { value: false, label: 'Off' }
      ],
      craigslistEmploymentTypeSelectItems: [
        { value: null, label: 'Craigslist Employment Type' },
        { value: 'full_time', label: 'Full Time' },
        { value: 'part_time', label: 'Part Time' },
        { value: 'employee_choice', label: "Employee's Choice" }
      ],
      selectedCompany: null,
      selectedOrganization: null,
      selectedJob: null,
      selectedState: null,
      selectedSourcer: null,
      selectedSalesperson: null,
      selectedAccountManager: null,
      sourcedReqName: '',
      engagementEndDate: null,
      selectedStatus: null,
      selectedSyndication: null,
      selectedPriorityLevel: null,
      selectedCraigslistSyndication: null,
      selectedCraigslistDate: null,
      selectedCraigslistLocations: [],
      selectedCraigslistCategory: null,
      selectedCraigslistEmploymentType: null,
      isActive: true,
      sourcedReqStore: sourcedReqStore.get(),
      adminStore: adminStore.get(),
      jobsStore: jobsStore.get(),
      usersStore: usersStore.get(),
      metadataStore: metadataStore.get(),
      craigslistStore: craigslistStore.get()
    }
  },
  computed: {
    job () {
      let job = {}
      if (this.sourcedReq) {
        $.each(this.jobsStore.jobs, (key, value) => {
          if (value.id == this.sourcedReq.req) {
            job = value
            return false
          }
        })
      }
      return job
    },
    companySelectItems () {
      // If we're editing an existing sourced req, use its company and skip adding the rest because it's ineditable. Otherwise, get a list of available companies from the adminstore.
      let items = []
      if (this.sourcedReq) {
        $.each(this.adminStore.organizations, (key, value) => {
          if (this.job.organization == value.id) {
            items = [{ value: null, label: value.company.name }]
            return false
          }
        })
        return items
      } else {
        // Make sure we only put companies in the dropdown that have an org that is_transactional
        let hasOrg = []
        $.each(this.adminStore.organizations, (key, value) => {
          if (value.is_transactional && hasOrg.indexOf(value.company.id) === -1) {
            hasOrg.push(value.company.id)
            items.push({ value: value.company.id, label: value.company.name })
          }
        })
        return items
      }
    },
    organizationSelectItems () {
      // If we're editing an existing sourced req, use its organization and skip adding the rest because it's ineditable. Otherwise, get a list of available organizations.
      let items = [{ value: null, label: 'Customer Organization' }]
      if (this.sourcedReq) {
        $.each(this.adminStore.organizations, (key, value) => {
          if (this.job.organization == value.id) {
            items = [{ value: null, label: value.name }]
            return false
          }
        })
        return items
      } else {
        // Cut the mustard
        if (!this.selectedCompany) {
          this.selectedOrganization = null
          return items
        }

        $.each(this.adminStore.organizations, (key, value) => {
          if (value.company.id == this.selectedCompany && value.is_transactional) {
            items.push({ value: value.id, label: value.name })
          }
        })
        return items
      }
    },
    jobSelectItems () {
      // If we're editing an existing sourced req, use its job and skip adding the rest because it's ineditable. Otherwise, get a list of available jobs.
      let items = [{ value: null, label: 'Job' }]
      if (this.sourcedReq) {
        $.each(this.jobsStore.jobs, (key, value) => {
          if (this.sourcedReq.req == value.id) {
            items = [{ value: value.id, label: value.title }]
            return false
          }
        })
        return items
      } else {
        // Cut the mustard
        if (!this.selectedOrganization) {
          this.selectedJob = null
          return items
        }

        $.each(this.jobsStore.jobs, (key, value) => {
          if (value.organization == this.selectedOrganization) {
            items.push({ value: value.id, label: value.title })
          }
        })
        return items
      }
    },
    sourcerSelectItems () {
      let items = [{ value: null, label: 'Sourcer' }]
      $.each(this.usersStore.users, (key, value) => {
        if (value.groups.indexOf('Sourcers') !== -1) {
          items.push({ value: value.id, label: `${value.first_name} ${value.last_name}` })
        }
      })
      return items
    },
    salespersonSelectItems () {
      let items = [{ value: null, label: 'Salesperson' }]
      $.each(this.usersStore.users, (key, value) => {
        if (value.groups.indexOf('Sales People') !== -1) {
          items.push({ value: value.id, label: `${value.first_name} ${value.last_name}` })
        }
      })
      return items
    },
    accountManagerSelectItems () {
      let items = [{ value: null, label: 'Account Manager' }]
      $.each(this.usersStore.users, (key, value) => {
        if (value.groups.indexOf('Account Managers') !== -1) {
          items.push({ value: value.id, label: `${value.first_name} ${value.last_name}` })
        }
      })
      return items
    },
    craigslistLocationSelectItems () {
      let locations = this.craigslistStore.locations
      locations.forEach((_) => {
        let subMarket = ' '
        if (_.subMarket) subMarket = ` (${_.subMarket})`
        _.label = `${_.city}, ${_.state}${subMarket} - ${_.craigslistMediaFee}`
      })
      return locations
    },
    craigslistCategoryItems () {
      let categories = this.craigslistStore.categories
      categories.unshift({ value: null, label: 'Craigslist Category' })
      return categories
    }
  },
  mounted () {
    // If we're editing an existing req, establish default values. Check out the datepickers because something fucky's going on to make them work.
    if (this.sourcedReq) {
      this.selectedJob = this.sourcedReq.req || null // If the associated job has been deleted
      // TODO: Uncomment when the API exists
      this.selectedState = this.sourcedReq.state
      this.selectedSourcer = this.sourcedReq.sourcer
      this.selectedSalesperson = this.sourcedReq.sales_person
      this.selectedAccountManager = this.sourcedReq.account_manager
      this.sourcedReqName = this.sourcedReq.name
      this.engagementEndDate = this.sourcedReq.engagement_date
      this.selectedState = this.sourcedReq.req_status
      this.isActive = this.sourcedReq.active
      this.selectedStatus = this.sourcedReq.sourcing_status
      this.selectedSyndication = this.sourcedReq.syndicated
      this.selectedPriorityLevel = this.sourcedReq.priority_level
      this.selectedCraigslistSyndication = this.sourcedReq.craigslist_status
      this.selectedCraigslistDate = this.sourcedReq.craigslist_date
      this.selectedCraigslistLocations = this.sourcedReq.craigslist_locations
      this.selectedCraigslistCategory = this.sourcedReq.craigslist_category_id
      this.selectedCraigslistEmploymentType = this.sourcedReq.craigslist_employment_type
    }
  },
  methods: {
    changeInput (target, e) {
      switch (target) {
        case 'company':
          this.selectedCompany = parseInt(e.value)
          break
        case 'organization':
          this.selectedOrganization = parseInt(e.value)
          break
        case 'job':
          this.selectedJob = parseInt(e.value)
          break
        case 'state':
          this.selectedState = e.value
          if (this.sourcedReq && (e.value === 'Paused' || e.value === 'Closed')) this.selectedSyndication = false
          break
        case 'sourcer':
          this.selectedSourcer = parseInt(e.value)
          break
        case 'salesperson':
          this.selectedSalesperson = parseInt(e.value)
          break
        case 'accountManager':
          this.selectedAccountManager = parseInt(e.value)
          break
        case 'submitDate':
          this.submitDueDate = moment(e).format()
          break
        case 'engagementDate':
          this.engagementEndDate = moment(e).format()
          break
        case 'sourcingStatus':
          this.selectedStatus = e
          break
        case 'syndicated':
          this.selectedSyndication = e.value
          break
        case 'priorityLevel':
          this.selectedPriorityLevel = e.value
          break
        case 'craigslistSyndicated':
          this.selectedCraigslistSyndication = e.value
          break
        case 'craigslistDate':
          // Warn users that changing the craigslist posting date incurs additional fees.
          if (this.sourcedReq.craigslist_date) {
            modals.show({
              component: 'Confirm',
              props: {
                message: 'Changing the date of this Craigslist post will result in a new Craigslist posting and additional costs. Do you want to proceed?',
                confirmText: 'Yes, please!',
                confirm: () => {
                  this.selectedCraigslistDate = moment(e).format()
                },
                cancel: () => {
                  this.selectedCraigslistDate = this.sourcedReq.craigslist_date
                }
              }
            })
          } else {
            this.selectedCraigslistDate = moment(e).format()
          }
          break
        case 'craigslistLocation':
          this.selectedCraigslistLocations = e
          break
        case 'craigslistCategory':
          this.selectedCraigslistCategory = e.value
          break
        case 'craigslistEmploymentType':
          this.selectedCraigslistEmploymentType = e.value
          break
        default:
          break
      }
    },
    submit () {
      // Preflights
      if (this.sourcedReq) {
        sourcedReqHelper.update.apply(this)
        return
      }
      if (this.selectedJob === null) {
        alerts.show({
          status: 'error',
          message: `Whoops! Looks like you forgot to select a job to associate with this sourced req.`
        })
        return
      }
      let duplicate
      $.each(this.sourcedReqStore.sourcedReqs, (key, value) => {
        if (value.req == this.selectedJob) {
          duplicate = value.id
        }
      })
      if (duplicate) {
        alerts.show({
          status: 'error',
          message: `Whoops! Looks like the job you've selected is already associated with Req #${duplicate}. You can only have one req per job.`
        })
        return
      }
      // End Preflights
      sourcedReqHelper.createNew.apply(this)
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-content-container {
  padding: 0 15px 35px;
  margin-top: 15px;
}

.modal-body {
  padding: 0 20px;
}

.heading {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin: 25px 0 18px;
  text-transform: uppercase;
}

.column {
  display: inline-block;
  width: 48%;
}

.custom-select-container,
.custom-input-container,
.custom-datepicker-container {
  margin-bottom: 27px;
}
</style>
