<template>
  <div class="modal-content-container">
    <div class="tooltip-positioner">
      <Tooltip content="You can <i>start a conversation</i> with any candidate in your Happie database. If you're starting an SMS text message conversation, make certain you've set a phone number so that candidates can text you back. Then, just select the candidate you want to message, and you're off to the races!" />
    </div>
    <UpsellButton
      :image="smsImg"
      title="sms text message"
      :onClick="startTextConvo"
      :imageStyles="upsellImgStyles"
      :customStyles="upsellStyles"
    />
    <!-- NOTE: hiding the email option for now -->
    <UpsellButton
      v-if="false"
      :image="emailImg"
      title="email"
      :onClick="startEmailConvo"
      :imageStyles="emailImgStyles"
      :customStyles="upsellStyles"
    />
  </div>
</template>


<script>

import UpsellButton from 'components/Modals/Upsell/UpsellButton'
import Tooltip from 'components/Tools/Tooltip'

import emailImg from 'img/email.svg'
import smsImg from 'img/sms.svg'

import { modals, alerts, candidateHelper } from 'helpers'
import { accountStore, conversationsStore } from 'stores'
import api from 'api'

export default {
  components: {
    UpsellButton,
    Tooltip
  },
  mounted () {
  },
  data () {
    return {
      smsImg,
      emailImg,
      accountStore: accountStore.get(),
      conversationsStore: conversationsStore.get(),
      upsellImgStyles: {
        width: '50px'
      },
      emailImgStyles: {
        width: '50px',
        'margin-top': '5px',
        'margin-bottom': '23px'
      },
      upsellStyles: {
        height: '170px'
      }
    }
  },
  computed: {
  },
  methods: {
    startTextConvo () {
      api.ajax('candidates', {
        type: 'GET',
        data: {
          super_minimal: 1
        }
      })
      .done((response) => {
        modals.show({
          component: 'ListCandidatesModal',
          props: {
            candidatesProp: candidateHelper.minimalMap(response),
            createConvo: 'sms',
            customSelect: (selected) => {
              // Make sure they have selected a tracking number
              let tracking = selected.trackingNumber
              if (!selected.trackingNumber) {
                alerts.show({
                  message: 'Make sure you have selected a from number!',
                  status: 'error'
                })
                return false
              }

              // Grab a phone number to text
              let candidate = selected.candidate
              api.ajax('conversations', {
                type: 'POST',
                data: {
                  candidate_id: candidate.id,
                  internal_endpoint: tracking
                }
              })
              .done((response) => {
                let conversation = response.conversation
                conversation.messages = response.messages || []
                let newConvo = true
                $.each(this.conversationsStore.conversations, (index, convo) => {
                  if (convo.id == conversation.id) {
                    conversationsStore.update(conversation)
                    newConvo = false
                    return false
                  }
                })
                if (newConvo) {
                  conversationsStore.add([conversation])
                }
                this.customCallback(conversation.id)
                modals.hide()
              })
              .fail((e) => {
                if (e === 'Candidate has no phone') {
                  alerts.show({
                    message: 'Sorry, there is no phone number associated with this candidate to text!',
                    status: 'error'
                  })
                } else {
                  alerts.show({
                    message: 'Sorry, there was an error trying to start a conversation with this candidate! Please refresh and try again.',
                    status: 'error'
                  })
                }
              })
            }
          }
        })
      })
    },
    startEmailConvo () {
      // TODO
    }
  },
  props: {
    customCallback: { required: true }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .modal-content-container {
    padding: 68px 18px 24px 18px;
    text-align: center;
  }

  .tooltip-positioner {
    position: absolute;
    top: 23px;
    left: 25px;
  }


</style>
