<template>
  <div class="content-container">
    <h1>Change Status</h1>
    <CustomSelect
      :items="statuses"
      :icon="statusImg"
      :customStyles="selectStyles"
      :onChange="statusChange"
      :selected="selectedStatus"
      :menuMaxHeight="150"
    />
    <PromptButton text="SAVE" type="submit" :onClick="buttonClick" :customStyles="buttonStyles"></PromptButton>
  </div>
</template>

<script>
import CustomSelect from 'components/FormElements/CustomSelect'
import PromptButton from 'components/FormElements/PromptButton'

import { metadataStore, accountStore } from 'stores'
import { alerts } from 'helpers'

import statusImg from 'img/settings/pulse.svg'

export default {
  components: {
    CustomSelect,
    PromptButton
  },
  data () {
    return {
      metadataStore: metadataStore.get(),
      accountStore: accountStore.get(),
      selectedStatus: { value: -1 },
      statusImg,
      buttonStyles: {
        display: 'block',
        margin: '100px auto 0px auto'
      },
      selectStyles: {
        display: 'block',
        margin: 'auto'
      }
    }
  },
  computed: {
    userIsTransactional () {
      return this.accountStore.account.is_transactional
    },
    statuses () {
      let statuses
      if (this.userIsTransactional) {
        statuses = [].concat(this.metadataStore.transactionalFilterStatuses)
      } else {
        statuses = [].concat(this.metadataStore.filterStatuses)
      }
      statuses[0].value = -1
      statuses[0].label = 'Select Status'
      if (!this.accountStore.account.is_sourcer) statuses.pop()
      return statuses
    }
  },
  methods: {
    statusChange (item) {
      this.selectedStatus = item
    },
    buttonClick () {
      if (this.selectedStatus.value != -1) {
        this.onSubmit(this.selectedStatus.value)
        this.hideModal()
      } else {
        alerts.show({
          message: 'Please select a status!',
          status: 'error'
        })
      }
    }
  },
  props: {
    onSubmit: { required: true },
    hideModal: { required: true }
  }
}
</script>

<style lang="scss" scoped>
  @import '~styles/variables';

  .content-container {
    padding: 0px 20px 30px 20px;
  }

  h1 {
    font-size: 14px;
    margin: 25px 0px 50px 0px;
  }
</style>
