<template>
  <div class="modal-content-container">
    <p class="heading">Select the template that you would like to insert into your sequence.</p>
    <CustomInput
      :icon="searchImg"
      placeholder="Search by name..."
      :containerStyles="searchContainerStyles"
      :customStyles="searchCustomStyles"
      v-model="searchQuery"
    />
    <Tablist
      :tabs="composeTabs"
      :selectedTab="activeComposeTab"
      @change="tabChange"
    />

    <!-- Templates Container -->
    <div role="tabpanel" class="template-list-container" v-show="activeComposeTab === 0">
      <ul class="templates">
        <li v-for="template in filteredTemplates" @click="selectTemplate(template)">
          {{template.name}}
        </li>
      </ul>
    </div>

  </div>
</template>


<script>
import Tablist from 'components/Tools/Tablist'
import CustomInput from 'components/FormElements/CustomInput'

import api from 'api'
import { templatesStore } from 'stores'

import searchImg from 'img/search.svg'
import templateIcon from 'img/template.svg'
import templateIconActive from 'img/template-active.svg'

export default {
  components: {
    Tablist,
    CustomInput
  },
  created () {
    // If the template store is empty, call the api
    if (this.templates.length < 1) {
      api.ajax('templates/all')
      .done((response) => {
        console.log('response from templates ', response)

        let insertableTemplates = $.grep(response, (template) => {
          return template.template_source != 'sendwithus'
        })

        templatesStore.init(insertableTemplates)

        this.templates = templatesStore.get().templates
      })
      .fail((e) => {
        console.error('Error getting templates ', e)
      })
    }
  },
  data () {
    return {
      searchQuery: '',
      composeTabs: [
        { title: 'Templates', image: templateIcon, activeImage: templateIconActive }
      ],
      activeComposeTab: 0,
      searchContainerStyles: {
        display: 'inline-block',
        'margin-right': '25px'
      },
      searchCustomStyles: {
        width: '300px'
      },
      searchImg: searchImg,
      inputContainerStyles: {
        display: 'inline-block'
      },
      templates: templatesStore.get().templates
    }
  },
  computed: {
    filteredTemplates () {
      // Otherwise filter out templates by checking of search query exists in their first or last name
      let filteredTemplates = $.grep(this.templates, (template) => {
        if (template.template_type != this.type) {
          return false
        }

        // Check search query
        let match = `${template.name}`
        .toLowerCase()
        .indexOf(this.searchQuery.toLowerCase()) > -1

      // Or if search query is empty, set match to true
        if (!this.searchQuery) {
          match = true
        }

        return match
      })

      return filteredTemplates
    }
  },
  methods: {
    tabChange (index) {
      this.activeComposeTab = index
    },
    selectTemplate (template) {
      // Check if the html has been stored already or if we have to get it
      if (template.html) {
        this.insertTemplate(template)
        this.hideModal()
      } else {
        api.ajax(`templates/${template.id}/`)
        .done((response) => {
          console.log('response from template ', response)

        // Update the template with it's html
          templatesStore.updateTemplates([response])

        // Remove reference
          let theTemplate = $.extend(true, {}, response)
          this.insertTemplate(theTemplate)
          this.hideModal()
        })
        .fail((e) => {
          console.error('Error getting template ', e)
        })
      }
    }
  },
  props: {
    insertTemplate: { required: true },
    modalIndex: { required: true },
    type: { required: false, default: 'email' },
    hideModal: { required: true }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  // TODO: Probably can unscope these at some point and combine the styles somewhere

  .modal-content-container {
    padding: 0px 35px;
    height: 500px;
  }

  p {
    &.heading {
      font-size: 1.4rem;
      margin: 52px auto 38px auto;
    }
  }

  .templates {
    padding: 0px;
    margin-top: 0px;
    height: 300px;
    overflow: auto;

    .template-image {
      width: 45px;
      height: 45px;

      @include circle-img;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 45px;
    }

    li {
      padding: 27px 35px;
      list-style: none;
      border-bottom: 0.5px solid $border-gray;
    }
    li:hover {
      background-color: #f7f8f9;
      cursor: pointer;
    }
  }

  .invite-container {
    padding-top: 30px;
  }

  label {
    display: inline-block;
    width: 120px;
    text-align: right;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 30px;
  }

</style>
