<template>
  <div>
    <div class="modal-header">
      <span>Edit Transactional Account Setup</span>
      <FlatButton color="turquoise" :click="save">SAVE</FlatButton>
    </div>
    <div class="modal-body">
      <table class="steps">
        <tbody>
          <tr id="companyorganization" class="step">
            <td class="counter"><span @click="setup.step_1_done = !setup.step_1_done" :class="{completed: setup.step_1_done}"></span></td>
            <td class="content">
              <h1><Tooltip content="You can edit a company or organization name of a transactional account setup by simply editing a customer’s response from their Onboarding Wizard, which is automatically entered into the related field. Or, you can select an existing company company and/or organization, if they already exist." :customStyles="tooltipStyles"/> Company &amp; Organization</h1>
              <div class="choice-field">
                <h2>Company</h2>
                <Autocomplete
                  :selected="setup.company_name"
                  placeholder="Company Name..."
                  :suggestions="companySelectItems"
                  :viewKeys="['label']"
                  :searchKeys="['label']"
                  :liveUpdate="true"
                  :onSelect="(e) => { saveCompany(e) }"
                  :icon="companyIcon"
                />
              </div>
              <div class="choice-field">
                <h2>Organization</h2>
                <CustomInput
                v-model="customOrgName"
                placeholder="New Organization Name..."
                :icon="organizationIcon" />
                <template v-if="selectedCompanyExists">
                  <div class="or">OR</div>
                  <CustomSelect
                    :icon="organizationIcon"
                    :items="availableOrganizations"
                    :onChange="(e)=>{selectedOrg = e}"
                    :selected="setup.target_org" />
                </template>
              </div>
            </td>
          </tr>
          <tr id="jobdescription" class="step">
            <td class="counter"><span @click="setup.step_2_done = !setup.step_2_done" :class="{completed: setup.step_2_done}"></span></td>
            <td class="content">
              <h1><Tooltip content="You can edit a job description for a new transactional customer’s account by clicking the button below. Be sure to read the customer’s survey response, which is displayed alongside the job, and make certain that its copy reads well and its formatting looks good! The completed job description is one of the first things a customer experiences with Happie, and it’s a major touchpoint with candidates. Make certain it’s awesome!" :customStyles="tooltipStyles"/> Job Description</h1>
              <span
              class="btn-hollow"
              @click="editJob"
              @mouseover="() => {editImg = editWhite}"
              @mouseleave="() => {editImg = editGreen}"
              role="button"
              >
              <img class="job" v-svg-src="editImg">
              EDIT JOB
            </span>
            </td>
          </tr>
          <tr id="customusers" class="step">
            <td class="counter"><span @click="setup.step_3_done = !setup.step_3_done" :class="{completed: setup.step_3_done}"></span></td>
            <td class="content">
              <h1><Tooltip content="You can edit and/or add users to a transactional customer’s account by editing and adding their information below." :customStyles="tooltipStyles"/> Custom Users</h1>
              <div>
                <span
                  class="btn-hollow"
                  @click="addUser"
                  @mouseover="() => {addImg = addWhite}"
                  @mouseleave="() => {addImg = addGreen}"
                  role="button">
                  <img clas="add" v-svg-src="addImg">
                  ADD A NEW USER
                </span>
              </div>
            <div v-for="user, index in setup.primary_contact_data.contacts" class="user-block">
              <h2>New Custom User {{ index + 1 }} <img v-show="setup.primary_contact_data.contacts.length > 1" v-svg-src="trashIcon" @click="removeUser(index)" class="trash-icon"></img></h2>
              <CustomInput
                v-model="user.first_name"
                placeholder="First Name..."
                :icon="userIcon" />
              <CustomInput
                v-model="user.last_name"
                placeholder="Last Name..."
                :icon="userIcon" />
              <CustomInput
                v-model="user.phone_number"
                placeholder="Phone Number..."
                :icon="phoneIcon" />
              <CustomInput
                v-model="user.email_address"
                placeholder="Email Address..."
                :icon="emailIcon" />
            </div>
            </td>
          </tr>
          <tr id="assignedteammember" class="step">
            <td class="counter"><span @click="setup.step_4_done = !setup.step_4_done" :class="{completed: setup.step_4_done}"></span></td>
            <td class="content">
              <h1><Tooltip content="You can assign a team member as the dedicated sourcer for a given customer’s account. After the transactional account setup is activated, Happie will automatically create a new user account for the team member in the customer’s account." :customStyles="tooltipStyles"/> Assigned Team Member</h1>
              <CustomSelect
                :icon="userIcon"
                :items="availableSourcers"
                :onChange="(e)=>{setup.sourcer_1 = e.value}"
                :selected="setup.sourcer_1" />
            </td>
          </tr>
          <tr id="sequencecustomization" class="step">
            <td class="counter"><span @click="setup.step_5_done = !setup.step_5_done" :class="{completed: setup.step_5_done}"></span></td>
            <td class="content">
              <h1><Tooltip content="You can edit a sequence for a new transactional customer’s account by clicking the button below. Be sure to read the customer’s survey response, which is displayed alongside the fields for custom lines in the sequence’s messages, to inform what you say to candidates. Imagine who the candidates are, and do your best to convey why our customer’s open job could be an incredible opportunity for them!" :customStyles="tooltipStyles"/> Sequence Customization</h1>
              <span
              class="btn-hollow"
              @click="editSequenceVariables"
              @mouseover="() => {editImg = editWhite}"
              @mouseleave="() => {editImg = editGreen}"
              role="button"
              >
              <img class="job" v-svg-src="editImg">
              ADD CUSTOM LINES
            </span>
            </td>
          </tr>
          <tr id="jobboardsyndication" class="step">
            <td class="counter"><span @click="setup.step_6_done = !setup.step_6_done" :class="{completed: setup.step_6_done}"></span></td>
            <td class="content">
              <h1><Tooltip content="You can syndicate a customer’s jobs to job boards to help them attract active candidate applications. Happie supports two types of syndication: pay-per-click (PPC) job board advertising to a wide variety of job boards and Craigslist posting. Please be particularly careful with the latter — each Craigslist posting costs, on average, 40 dollars. In larger cities, it could cost even more." :customStyles="tooltipStyles"/> Job Board Syndication</h1>
              <h2>General Job Boards</h2>
              <div class="form">
                <CustomSelect
                :icon="powerIcon"
                :items="syndicationItems"
                :selected="setup.syndicated"
                :onChange="(e)=>{setup.syndicated = e.value}" />
                <CustomSelect
                :icon="priorityLevelIcon"
                :items="syndicationPriorityLevels"
                :selected="setup.priority_levels"
                :onChange="(e)=>{setup.syndicated = e.value}" />
              </div>
              <h2>Craigslist</h2>
              <div class="form">
                <CustomSelect
                :icon="powerIcon"
                :items="craigslistSyndicationItems"
                :selected="setup.craigslist_status"
                :onChange="(e)=>{setup.craigslist_status = e.value}" />
                <DatePicker
                :date="setup.craigslist_date"
                :autofill="false"
                :fullWidth="true"
                :onChange="(e) => { setup.craigslist_date = moment(e).format()}"
                placeholder="Posting Date" />
              </div>
              <div class="form">
                <CustomSelect
                :icon="jobIcon"
                :items="craigslistEmploymentTypeItems"
                :selected="setup.craigslist_employment_type"
                :onChange="(e)=>{setup.craigslist_employment_type = e.value}" />
                <CustomSelect
                :icon="jobIcon"
                :items="craigslistCategoryItems"
                :selected="setup.craigslist_category_id"
                :onChange="(e)=>{setup.craigslist_category_id = e.value}" />
              </div>
              <CustomMultiSelect
              :icon="locationIcon"
              :items="craigslistLocationSelectItems"
              placeholder="Craigslist Location"
              :selected="setup.craigslist_locations"
              :onChange="(e) => {setup.craigslist_locations = e}"
              :customStyles="multiselectFieldStyles" />
            </td>
          </tr>
          <tr id="endofengagement" class="step">
            <td class="counter"><span @click="setup.step_7_done = !setup.step_7_done" :class="{completed: setup.step_7_done}"></span></td>
            <td class="content">
              <h1><Tooltip content="You can edit the customer’s end of engagement date, to mark when a customer should stop receiving services. By default, the end of engagement date is set to 3 months after the customer submits her Happie Onboarding Wizard response." :customStyles="tooltipStyles"/> End Of Engagement Date</h1>
              <DatePicker
              :date="setup.engagement_date"
              :autofill="false"
              :onChange="(e) => {setup.engagement_date = moment(e).format()}"
              placeholder="End Of Engagement..." />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Tooltip from 'components/Tools/Tooltip'
import FlatButton from 'components/FormElements/FlatButton'
import Autocomplete from 'components/FormElements/Autocomplete'
import CustomInput from 'components/FormElements/CustomInput'
import CustomSelect from 'components/FormElements/CustomSelect'
import DatePicker from 'components/Tools/DatePicker'
import CustomMultiSelect from 'components/FormElements/CustomMultiSelect'

import companyIcon from 'img/company.svg'
import organizationIcon from 'img/organization.svg'

import editGreen from 'img/green-edit.svg'
import editWhite from 'img/white-edit.svg'
import addGreen from 'img/circle-plus-green-small.svg'
import addWhite from 'img/circle-plus-white.svg'

import userIcon from 'img/settings/person-name.svg'
import phoneIcon from 'img/settings/phone.svg'
import emailIcon from 'img/settings/email.svg'

import trashIcon from 'img/trash.svg'

import powerIcon from 'img/power.svg'
import priorityLevelIcon from 'img/priority-level.svg'
import locationIcon from 'img/location-pin.svg'
import jobIcon from 'img/briefcase.svg'

import { setupsStore, craigslistStore, adminStore, usersStore } from 'stores'

import { setupHelper, modals } from 'helpers'

import moment from 'moment'

export default {
  components: {
    FlatButton,
    Autocomplete,
    CustomInput,
    CustomSelect,
    DatePicker,
    CustomMultiSelect,
    Tooltip
  },
  props: {
    scrollTo: { required: false },
    setupId: { required: true }
  },
  data () {
    return {
      companyIcon,
      organizationIcon,
      editImg: editGreen,
      editGreen,
      editWhite,
      addImg: addGreen,
      addGreen,
      addWhite,
      userIcon,
      phoneIcon,
      emailIcon,
      powerIcon,
      trashIcon,
      priorityLevelIcon,
      locationIcon,
      jobIcon,
      tooltipStyles: {
        display: 'inline-block',
        'vertical-align': 'middle'
      },
      multiselectFieldStyles: {
        'margin-bottom': '50px',
        'margin-right': '52%',
        width: '225px'
      },
      syndicationItems: [
        { value: null, label: 'Job Board Syndication' },
        { value: true, label: 'On' },
        { value: false, label: 'Off' }
      ],
      syndicationPriorityLevels: [
        { value: null, label: 'Priority Level' },
        { value: 'low', label: 'Low' },
        { value: 'medium', label: 'Medium' },
        { value: 'high', label: 'High' }
      ],
      craigslistSyndicationItems: [
        { value: null, label: 'Job Board Syndication' },
        { value: true, label: 'On' },
        { value: false, label: 'Off' }
      ],
      craigslistEmploymentTypeItems: [
        { value: null, label: 'Craigslist Employment Type' },
        { value: 'full_time', label: 'Full Time' },
        { value: 'part_time', label: 'Part Time' },
        { value: 'employee_choice', label: "Employee's Choice" }
      ],
      customOrgName: '',
      selectedOrg: { value: null },
      setupsStore: setupsStore.get(),
      craigslistStore: craigslistStore.get(),
      adminStore: adminStore.get(),
      usersStore: usersStore.get(),
      moment
    }
  },
  computed: {
    setup () {
      return this.setupsStore.setups.find(setup => setup.id == this.setupId)
    },
    availableSourcers () {
      let availableSourcers = []
      $.each(this.usersStore.users, (key, value) => {
        if (value.groups.indexOf('Sourcers') > -1) {
          availableSourcers.push({
            value: value.id,
            label: `${value.first_name} ${value.last_name}`
          })
        }
      })
      availableSourcers.unshift({ value: null, label: 'Sourcers' })
      return availableSourcers
    },
    availableOrganizations () {
      let availableOrganizations = []
      this.adminStore.organizations.forEach(organization => {
        if (organization.company.name === this.setup.company_name) {
          availableOrganizations.push({ value: organization.id, label: organization.name })
        }
      })
      availableOrganizations.unshift({ value: null, label: 'Existing Organization' })
      return availableOrganizations
    },
    craigslistCategoryItems () {
      let categories = this.craigslistStore.categories
      categories.unshift({ value: null, label: 'Craigslist Category' })
      return categories
    },
    companySelectItems () {
      let items = []
      // Make sure we only put companies in the dropdown that are transactional
      $.each(this.adminStore.organizations, (key, value) => {
        if (value.is_transactional) {
          items.push({ value: value.company.id, label: value.company.name })
        }
      })
      return items
    },
    selectedCompanyExists () {
      return !!this.companySelectItems.find(companyObject => companyObject.label === this.setup.company_name)
    },
    craigslistLocationSelectItems () {
      let locations = this.craigslistStore.locations
      locations.forEach(_ => {
        let subMarket = ' '
        if (_.subMarket) subMarket = ` (${_.subMarket})`
        _.label = `${_.city}, ${_.state}${subMarket} - ${_.craigslistMediaFee}`
      })
      return locations
    }
  },
  mounted () {
    this.$nextTick(() => {
      $('html, body').animate({
        scrollTop: $(this.scrollTo).offset().top
      })
    })
  },
  methods: {
    saveCompany (e) {
      if (e.label) {
        this.setup.target_company = e.value
        this.setup.company_name = e.label
      } else {
        this.setup.target_company = null
        this.setup.company_name = e
      }
    },
    editSequenceVariables () {
      modals.show({
        component: 'CompoundModal',
        subComponents: [{
          component: 'OnboardingResponseModal',
          modalStyles: { height: '100%', 'max-width': '576px' },
          props: { setup: this.setup }
        },
        {
          component: 'sequenceVariableModal',
          modalStyles: {
            height: 'auto',
            'max-height': '100%',
            width: 'auto',
            position: 'relative'
          },
          props: { setup: this.setup }
        }]
      })
    },
    save () {
      this.setup.org_name = this.selectedOrg.label || this.customOrgName
      this.setup.target_org = this.selectedOrg.value
      setupHelper.saveSetup(this.setup)
    },
    editJob () {
      modals.show({
        component: 'CompoundModal',
        subComponents: [{
          component: 'OnboardingResponseModal',
          modalStyles: { height: '100%', width: 'auto' },
          props: { setup: this.setup }
        },
        {
          component: 'JobModal',
          modalStyles: {
            'background-color': '#fff',
            height: 'auto',
            'max-height': '100%',
            'min-width': '576px',
            position: 'relative',
            width: '576px'
          },
          props: { setupId: this.setup.id, job: this.setup.job_object.job }
        }]
      })
    },
    addUser () {
      this.setup.primary_contact_data.contacts.push({
        first_name: '',
        last_name: '',
        phone_number: '',
        email_address: ''
      })
    },
    removeUser (index) {
      this.setup.primary_contact_data.contacts.splice(index, 1)
    }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .modal {
    counter-reset: step;
  }

  .modal-header {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    height: 68px;

    span {
      display: inline-block;
      font-size: 16px;
      letter-spacing: 1px;
      margin: 25px 0 0 27px;
    }

    button {
      float: right;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1.6px;
      margin: 11px 75px 0 0;
      padding-bottom: 5px;
    }
  }

  .steps {
    border-collapse: collapse;
    counter-reset: step;
    width: 100%;

    .step {
        counter-increment: step;

        td {
          padding-top: 20px;
        }

        &:first-child {
          td:first-child {
            border-top: 2px solid rgba($black, .1);
          }
        }

        &:last-child {
          td {
            padding-bottom: 100px;
          }
        }

      .counter {
        background-color: $border-gray;
        padding-left: 7px;
        width: 56px;
        vertical-align: top;

        span {
          background-color: $dusty-gray;
          border-radius: 50%;
          cursor: pointer;
          padding: 12px 16px;

          &.completed {
            background-color: $shamrock;
          }

          &::before {
            color: $white;
            font-size: 16px;
            font-weight: 800;
            content: counter(step);
          }
        }

      }

      .content {
        padding-left: 20px;
      }
    }
  }
  h1,
  h2 {
    margin-bottom: 15px;
  }
  h1 {
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 14px;
    font-weight: bold;
  }

  .choice-field {
    margin-bottom: 20px;

    > div {
      display: inline-block;

      &:last-child {
        width: 275px;
        vertical-align: bottom;
      }

      &.or {
        font-weight: bold;
        margin: 0 20px;
      }
    }
  }

  .btn-hollow {
    background-color: $white;
    border: solid 1px $shamrock;
    border-radius: 2px;
    color: $shamrock;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 9px;
    text-align: left;

    @include transition-sm-med-ease;

    img {
      vertical-align: middle;
      margin-right: 4px;

      &.job {
        height: 16px;
        width: 16px;
      }
    }

    &:hover {
      color: $white;
      background-color: $shamrock;
    }
  }

  .custom-input-container {
    + .custom-input-container {
      margin-top: 20px;
    }
  }

  .form {
    margin-bottom: 20px;

    .custom-datepicker-container {
      width: 225px !important;
    }

    div[class^='custom-'] {
      display: inline-block;
      width: 275px;
      vertical-align: top;

      + div[class^='custom-'] {
        margin-left: 90px;
      }
    }

  }

  .user-block {
    display: inline-block;
    margin-bottom: 20px;
    width: 50%;

    .trash-icon {
      cursor: pointer;
      margin-left: 65px;
      vertical-align: bottom;
    }
  }
</style>
