<template>
  <div class="main-container app-settings-container" :class="{'is-modal': isModal}">
    <div class="panel settings-panel">

      <div class="settings-panel-aligner">
        <CustomInput
          v-model="searchQuery"
          :icon="searchImg"
          :customStyles="searchInputStyle"
          :containerStyles="containerInputStyles"
          placeholder="Search by name...."
        />
        <PromptButton text="Create New"
          v-if="apiUrl === 'candidate-lists'"
          :onClick="createNew"
          :customStyles="promptButtonStyles"
          :icon="addIcon"/>
        <Tablist
          :tabs="tabs"
          :selectedTab="selectedTab"
          :customStyles="tablistStyles"
        />

        <div role="tabpanel" class="profile-list" v-show="selectedTab === 0">
          <ul>
            <li v-for="list in filteredLists" @click="() => {listClick(list)}" role="button">
              <span class="row-contents">
                <span>{{list.name}}</span>
              </span>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</template>


<script>
import CustomInput from 'components/FormElements/CustomInput'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import PromptButton from 'components/FormElements/PromptButton'

import searchImg from 'img/search.svg'

import smallProfile from 'img/small-profile.svg'
import smallProfileActive from 'img/small-profile-active.svg'
import addIcon from 'img/add-block-white.svg'

import Tooltip from 'components/Tools/Tooltip'
import Tablist from 'components/Tools/Tablist'

import { modals } from 'helpers'

import api from 'api'

export default {
  components: {
    CustomInput,
    CustomTextArea,
    Tooltip,
    Tablist,
    PromptButton
  },
  mounted () {
    // If we have a list passed in, we want to display the users for that
    // TODO: This should probably be refactored in a `UsersList` component so it's
    // more obvious how it's shared between settings panel and lists options

    api.ajax(this.apiUrl)
    .done((response) => {
      this.lists = response
    })
    .fail((e) => {
      console.error('Failed to get list ', e)
    })
  },
  data () {
    return {
      addIcon,
      searchQuery: '',
      searchImg: searchImg,
      tabs: [{ title: 'All', image: smallProfile, activeImage: smallProfileActive }],
      topTooltipStyle: {
        position: 'absolute',
        top: '-57px',
        left: '-6px'
      },
      formTooltipStyle: {
        position: 'absolute',
        top: '-3px',
        left: '15px'
      },
      textareaTooltipStyle: {
        position: 'absolute',
        top: '10px',
        left: '15px'
      },
      searchInputStyle: {
        'width': '250px',
        'margin-right': '25px'
      },
      containerInputStyles: {
        'display': 'inline-block',
        'margin-top': '20px'
      },
      promptButtonStyles: {
        height: '40px',
        'margin-top': '20px'
      },
      tablistStyles: {
        'max-width': '450px'
      },
      selectedTab: 0,
      lists: []
    }
  },
  computed: {
    filteredLists () {
      // Otherwise filter out users by checking of search query exists in their first or last name
      let filteredLists = $.grep(this.lists, (list) => {
        // Check if search query is in first or last name
        let match = `${list.name}`
        .toLowerCase()
        .indexOf(this.searchQuery.toLowerCase()) > -1

      // Or if search query is empty, set match to true
        if (!this.searchQuery) {
          match = true
        }

        return match
      })

      return filteredLists
    }
  },
  methods: {
    listClick (list) {
      if (this.customCallback) {
        this.customCallback(list)
      }
      if (this.hideModal) {
        this.hideModal()
      }
    },
    createNew () {
      this.hideModal()
      modals.show({
        component: 'CreateNewModal',
        props: {
          customCallback: this.customCallback,
          modalType: 'list'
        }
      })
    }
  },
  props: {
    isModal: { required: false, default: false },
    customCallback: { required: false },
    hideModal: { required: false },
    apiUrl: { required: true }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .settings-panel {
    padding: 8.0rem 3.0rem 0 3.0rem;

    // TODO: Add overflow-x hidden to all settings panels?
    overflow-x: hidden;
  }

  ul {
    margin: 0;
    padding: 0;
    height: 300px;
    overflow: auto;
  }

  li {
    position: relative;
    list-style-type: none;
    padding: 2.6rem 6rem 2.6rem 6rem;
    border-bottom: 1px solid $gallery;

    // Hover to show it's clickable
    &:hover {
      background-color: $alabaster;
    }

    .list-image {
      @include circle-img();
      width: 44px;
      height: 44px;

      position: absolute;
      top: 11px;
      left: 20px;
    }

    .row-contents {
      overflow: hidden;
      white-space: nowrap;
      max-width: 250px;
      display: inline-block;
      text-overflow: ellipsis;
      line-height: 1.4rem;
    }

    .delete-list-item {
      position: absolute;
      top: 24px;
      right: 20px;
    }
  }

  .profile-list {
    max-width: 450px;
  }

  .labeled-form {
    margin-top: 30px;
  }

</style>
