<template>
  <div class="modal-content-container">
    <p class="heading">
      Select or invite your featured team member
      <Tooltip content="Feature team members to help humanize your employer brand while promoting your jobs. Setting featured team members exposes candidates to people whom they'll get to know when they interview and, ultimately, join your team. For many, jobs are more than duties and responsibilities; they're also opportunities to join a team and become part of a company's culture. Your featured team member is a representative of your company's culture — it could be you!" :customStyles="tooltipStyles" />
    </p>
    <CustomInput
      :icon="searchImg"
      placeholder="Search by name or email..."
      :containerStyles="searchContainerStyles"
      :customStyles="searchCustomStyles"
      v-model="searchQuery"
    />
    <Tablist
      :tabs="composeTabs"
      :selectedTab="activeComposeTab"
      @change="tabChange"
    />

    <!-- User Container -->
    <div role="tabpanel" class="user-list-container" v-show="activeComposeTab === 0">
      <ul class="users">
        <li v-for="user in filteredUsers" @click="inviteRecruiter(user)">
          <span class="user-image" :style="getProfileImage(user.profile_photo_url)"></span>
          {{account.id===user.id ? user.first_name+' '+user.last_name+' (you)' : user.first_name+' '+user.last_name}}
        </li>
      </ul>
    </div>

    <!-- Invite Container -->
    <div role="tabpanel" class="invite-container" v-show="activeComposeTab === 1">
      <label for="email">Email</label>
      <CustomInput
        customId="email"
        placeholder="Enter email address of invitee"
        :containerStyles="inputContainerStyles"
        :customStyles="inputCustomStyles"
        v-model="composeInvite.email"
      />
      <Tooltip content="You can invite your featured team member by entering their email address here." :customStyles="tooltipStyles" />
      <label for="subject">Subject</label>
      <CustomInput
        customId="subject"
        placeholder="Enter the subject of your email"
        v-model="composeInvite.subject"
        :containerStyles="inputContainerStyles"
        :customStyles="inputCustomStyles"
      />
      <Tooltip content="You can customize the subject line of the email, or you can leave it as it is." :customStyles="tooltipStyles" />
      <label for="description">Custom Message</label>
      <CustomTextArea
        v-model="composeInvite.message"
        customId="description"
        :customStyles="textAreaCustomStyles"
        :containerStyles="textAreaContainerStyles"
        placeholder="(Optional) Add a custom message to the invitation to be the featured team member for your job on Happie."
      />
      <Tooltip content="You can add a custom message to Happie’s standard email to encourage your featured team member to create their account. Keep it short and sweet — no offence to all the business email essayists out there!" :customStyles="tooltipStyles" />
      <PromptButton text="INVITE" :onClick="inviteRecruiterEmail" :customStyles="inviteButtonStyles"></PromptButton>
    </div>
  </div>
</template>


<script>
import Tablist from 'components/Tools/Tablist'
import PromptButton from 'components/FormElements/PromptButton'
import CustomInput from 'components/FormElements/CustomInput'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import Tooltip from 'components/Tools/Tooltip'

import api from 'api'
import { alerts, profileImageStyle } from 'helpers'
import { usersStore, companyStore, accountStore, metadataStore } from 'stores'

import profile from 'img/small-profile.svg'
import profileActive from 'img/small-profile-active.svg'
import ticket from 'img/ticket.svg'
import ticketActive from 'img/ticket-active.svg'
import searchImg from 'img/search.svg'
import accountPlaceholder from 'img/account-placeholder.svg'

// FYI: featured team member = hiring manager OR recruiter

export default {
  components: {
    Tablist,
    CustomInput,
    CustomTextArea,
    Tooltip,
    PromptButton,
    accountPlaceholder
  },
  data () {
    return {
      account: accountStore.get().account,
      company: companyStore.get().company,
      composeInvite: {
        email: '',
        subject: accountStore.get().account.first_name + ' ' + accountStore.get().account.last_name + ' featured you on a ' + this.job.title + ' role at ' + companyStore.get().company.name,
        message: ''
      },
      searchQuery: '',
      accountPlaceholder: accountPlaceholder,
      composeTabs: [
        { title: 'All', image: profile, activeImage: profileActive },
        { title: 'Invite', image: ticket, activeImage: ticketActive }
      ],
      activeComposeTab: 0,
      searchContainerStyles: {
        display: 'inline-block',
        'margin-right': '25px'
      },
      searchCustomStyles: {
        width: '300px'
      },
      searchImg: searchImg,
      inputContainerStyles: {
        display: 'inline-block'
      },
      inputCustomStyles: {
        width: '277px',
        'margin-bottom': '20px'
      },
      textAreaContainerStyles: {
        display: 'inline-block'
      },
      textAreaCustomStyles: {
        width: '277px',
        'margin-bottom': '20px'
      },
      tooltipStyles: {
        position: 'absolute',
        'margin-left': '18px'
      },
      inviteButtonStyles: {
        display: 'block',
        width: '277px',
        'margin-left': '150px'
      },
      users: usersStore.get().users
    }
  },
  computed: {
    filteredUsers () {
      // Otherwise filter out users by checking of search query exists in their first or last name
      let filteredUsers = $.grep(this.users, (user) => {
        // Check if search query is in first or last name
        let match = `${user.first_name} ${user.last_name} ${user.email}`
        .toLowerCase()
        .indexOf(this.searchQuery.toLowerCase()) > -1

      // Or if search query is empty, set match to true
        if (!this.searchQuery) {
          match = true
        }

        // Also filter out non provisional
        if (user.is_provisional) {
          match = false
        }

        return match
      })

      return filteredUsers
    }
  },
  methods: {
    getProfileImage (url) {
      return profileImageStyle(url, accountPlaceholder)
    },
    tabChange (index) {
      this.activeComposeTab = index
    },
    inviteRecruiter (user) {
      let jobURL = metadataStore.get().url_base + '#/outreach/jobs/' + this.job.id
      let updateProfileURL = metadataStore.get().url_base + '#/outreach/settings/profile'

      this.sendEmail({
        template_name: 'featured_team_member_page_builder_invite_already_a_happie_user',
        recipients: [user.email],
        substitution_variables: {
          'invite': {
            'job_title': this.job.title,
            'job_url': jobURL,
            'manager_name': user.first_name + ' ' + user.last_name,
            'update_profile_url': updateProfileURL
          }
        }
      })

      api.ajax(`reqs/${this.job.id}`, {
        type: 'PUT',
        data: {
          'hiring_manager': user.email
        }
      })
      .done((response) => {
        console.log('added hiring manager ', response)
        this.updateJob(response.hiring_manager)
      })
      .fail((e) => {
        console.error('Error trying to set hiring manager ', e)
      })
    },
    inviteRecruiterEmail () {
      let jobURL = metadataStore.get().url_base + '#/outreach/jobs/' + this.job.id
      let updateProfileURL = metadataStore.get().url_base + '#/outreach/settings/profile'

      this.sendEmail({
        template_name: 'featured_team_member_page_builder_invite_not_yet_a_happie_user',
        recipients: [this.composeInvite.email],
        subject: this.composeInvite.subject,
        substitution_variables: {
          'invite': {
            'job_title': this.job.title,
            'job_url': jobURL,
            'message': this.composeInvite.message,
            'update_profile_url': updateProfileURL
          }
        }
      })
    },
    sendEmail (requestObject) {
      api.ajax('emails/send', {
        type: 'POST',
        data: requestObject
      })
      .done(() => {
        alerts.show({
          status: 'success',
          message: 'Woohoo — you successfully invited a featured team member for this job on Happie!'
        })
      })
      .fail(() => {
        console.error('failed to send email')
        alerts.show({
          status: 'error',
          message: `Oh no! For some reason, your invitation to your featured team member failed to send. Please check the email address, and try again.`
        })
      })
    }
  },
  props: {
    job: { required: true },
    updateJob: { required: true }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .modal-content-container {
    padding: 0px 35px;
    height: 500px;
  }

  p {
    &.heading {
      font-size: 1.4rem;
      margin: 52px auto 38px auto;
    }
  }

  .users {
    padding: 0px;
    margin-top: 0px;
    height: 300px;
    overflow: auto;

    li {
      padding: 10px 12px;
      list-style: none;
      border-bottom: 0.5px solid $border-gray;
    }
    li:hover {
      background-color: #f7f8f9;
      cursor: pointer;
    }

    .user-image {
      width: 45px;
      height: 45px;

      @include circle-img;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 45px;
    }
  }

  .invite-container {
    padding-top: 30px;
  }

  label {
    display: inline-block;
    width: 120px;
    text-align: right;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 30px;
  }

</style>
