<template>
  <div class="main-container app-settings-container" :class="{'is-modal': isModal}">
    <SubSideNav v-if="!isModal" />
    <div class="panel settings-panel">

      <div class="settings-panel-aligner">
        <div v-if="createConvo == 'sms'" class="phones-container">
          <h1>From Number</h1>
          <CustomSelect
            :items="phoneNumberItems"
            :selected="selectedPhone"
            :onChange="phoneChange"
            selectIcon="phone-book"
            customId="test-phone-numbers-dropdown"
          />
        </div>
        <CustomInput
          v-model="searchQuery"
          :icon="searchImg"
          :customStyles="searchInputStyle"
          :containerStyles="containerInputStyles"
          placeholder="Search by name or email..."
        />
        <span class="matches">{{filteredCandidates.length}} match{{filteredCandidates.length != 1 ? 'es' : ''}}</span>
        <Tablist
          :tabs="tabs"
          :selectedTab="selectedTab"
          :customStyles="tablistStyles"
        />

        <div role="tabpanel" class="profile-list" v-show="selectedTab === 0">
          <ul @scroll="scrollHandler">
            <li v-for="candidate, index in filteredCandidates" v-if="index < renderAmount + renderLimit" @click="rowClickHandler(candidate)">
              <span class="list-image" :style="getProfileImage(candidate.profile_photo_url)" @click="candidateClick(candidate)"></span>
              <span class="row-contents">
                <span class="candidate-name" role="button" @click="candidateClick(candidate)">{{candidate.first_name}} {{candidate.last_name}}</span>
              </span>
              <img v-if="list" class="delete-list-item" role="button" v-svg-src="xOutImg" @click="() => {deleteCandidateFromList(candidate)}"></img>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</template>


<script>
import SubSideNav from 'components/SubSideNav'
import CustomInput from 'components/FormElements/CustomInput'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import PromptButton from 'components/FormElements/PromptButton'
import CustomSelect from 'components/FormElements/CustomSelect'

import searchImg from 'img/search.svg'

import Tooltip from 'components/Tools/Tooltip'
import Tablist from 'components/Tools/Tablist'

import smallProfile from 'img/small-profile.svg'
import smallProfileActive from 'img/small-profile-active.svg'
import profilePlaceholder from 'img/account-placeholder.svg'

// import ticket from 'img/ticket.svg'
// import ticketActive from 'img/ticket-active.svg'
import xOutImg from 'img/x-out.svg'

import api from 'api'
import { companyStore, phoneNumbersStore } from 'stores'
import { alerts, modals, profileImageStyle, candidateHelper } from 'helpers'

export default {
  components: {
    SubSideNav,
    CustomInput,
    CustomTextArea,
    Tooltip,
    Tablist,
    PromptButton,
    CustomSelect
  },
  mounted () {
    this.loadCandidates()
  },
  data () {
    return {
      searchQuery: '',
      searchImg,
      xOutImg,
      tabs: [{ title: 'All', image: smallProfile, activeImage: smallProfileActive }],
      topTooltipStyle: {
        position: 'absolute',
        top: '-57px',
        left: '-6px'
      },
      formTooltipStyle: {
        position: 'absolute',
        top: '-3px',
        left: '15px'
      },
      textareaTooltipStyle: {
        position: 'absolute',
        top: '10px',
        left: '15px'
      },
      searchInputStyle: {
        'width': '300px'
      },
      containerInputStyles: {
        'display': 'inline-block'
      },
      promptButtonStyles: {
        width: '275px'
      },
      tablistStyles: {
        'max-width': '450px'
      },
      composeInvite: {
        emails: '',
        subject: 'Invitation to join ' + companyStore.get().company.name + ' on Happie',
        message: ''
      },
      selectedTab: 0,
      companyStore: companyStore.get(),
      phoneNumbersStore: phoneNumbersStore.get(),
      candidates: [],
      reloadRequired: false,
      renderAmount: 0,
      renderLimit: 25,
      scrollPadding: 100,
      selectedPhone: { value: null }
    }
  },
  computed: {
    phoneNumberItems () {
      let items = [{ label: 'Phone Number', value: null }, { label: 'Add a New Phone Number', value: 'create' }]
      $.each(this.phoneNumbersStore.phones, (index, value) => {
        items.push({
          label: `${value.name} ${value.number}`,
          value: value.number
        })
      })
      return items
    },
    filteredCandidates () {
      // Otherwise filter out candidates by checking of search query exists in their first or last name
      let filteredCandidates = $.grep(this.candidates, (candidate) => {
        let email = ''
        if (candidate.emails && candidate.emails.length) {
          email = candidate.emails[0].address
        }

        // Check if search query is in first or last name
        let match = `${candidate.first_name} ${candidate.last_name} ${email}`
        .toLowerCase()
        .indexOf(this.searchQuery.toLowerCase()) > -1

      // Or if search query is empty, set match to true
        if (!this.searchQuery) {
          match = true
        }

        // Also filter out non provisional
        if (candidate.is_provisional) {
          match = false
        }

        return match
      })

      // Reset the renderAmount
      this.renderAmount = 0

      return filteredCandidates
    }
  },
  methods: {
    phoneChange (item) {
      this.selectedPhone = item
      if (item.value === 'create') {
        this.selectedPhone = { value: null }
        modals.show({
          component: 'PhoneNumbersModal',
          props: {
            addedNewPhone: (id) => {
              this.phoneChange({ value: id })
            }
          }
        })
      }
    },
    rowClickHandler (candidate) {
      if (this.customSelect) {
        if (this.createConvo == 'sms') {
          this.customSelect({
            candidate: candidate,
            trackingNumber: this.selectedPhone.value
          })
        }
      }
    },
    loadCandidates () {
      if (this.candidatesProp) {
        this.candidates = this.candidatesProp
      } else {
        api.ajax(`candidates`, {
          type: 'GET',
          data: {
            super_minimal: 1,
            list_ids: this.list.id
          }
        })
        .done((response) => {
          this.candidates = candidateHelper.minimalMap(response)
        // Reset the renderAmount
          this.renderAmount = 0
        })
        .fail((e) => {
          console.error('Failed to get list ', e)
        })
      }
    },
    scrollHandler (e) {
      let scroll = $(e.target).scrollTop()
      let totalHeight = e.target.scrollHeight - $(e.target).height() - this.scrollPadding
      if (scroll >= totalHeight) {
        this.renderAmount += this.renderLimit
      }
    },
    getProfileImage (url) {
      return profileImageStyle(url, profilePlaceholder)
    },
    candidateClick (candidate) {
      if (!this.customSelect) {
        candidateHelper.openCandidateModal.apply(this, [candidate.id, this.loadCandidates])
      }
    },
    deleteCandidateFromList (candidate) {
      let candidateToDelete = candidate
      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to delete ${candidateToDelete.first_name} ${candidateToDelete.last_name} from ${this.list.name}?`,
          confirmText: 'Yes',
          cancelText: 'No',
          confirm: () => {
            api.ajax(`candidate-lists/${this.list.id}/members`, {
              type: 'DELETE',
              data: [candidateToDelete.id]
            })
            .done((response) => {
              if (this.customCallback) {
                this.customCallback(response)
              }

              // Remove from local data too
              $.each(this.candidates, (key, value) => {
                if (value.id === candidateToDelete.id) {
                  // Note that splice usually returns a new array, but in vue it
                  // actually modifies our array
                  this.candidates.splice(key, 1)
                  return false
                }
              })
            })
            .fail((e) => {
              console.error('Failed to delete candidate')
              if (e.responseJSON && e.responseJSON.detail) {
                alerts.show({
                  message: e.responseJSON.detail,
                  status: 'error'
                })
              }
            })
          }
        }
      })
    }
  },
  props: {
    isModal: { required: false, default: false },
    list: { required: false },
    customCallback: { required: false },
    hideModal: { required: false },
    candidatesProp: { required: false },
    customSelect: { required: false },
    createConvo: { required: false }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  .settings-panel {
    padding: 8.0rem 3.0rem 0 3.0rem;

    // TODO: Add overflow-x hidden to all settings panels?
    overflow-x: hidden;
  }

  .matches {
    margin-left: 20px;
  }

  ul {
    margin: 0;
    padding: 0;
    height: 300px;
    overflow: auto;
  }

  li {
    position: relative;
    list-style-type: none;
    padding: 2.6rem 6rem 2.6rem 13.1rem;
    border-bottom: 1px solid $gallery;

    &:hover {
      background-color: #f7f8f9;
    }

    .list-image {
      @include circle-img();
      width: 44px;
      height: 44px;

      position: absolute;
      top: 11px;
      left: 20px;
    }

    .row-contents {
      overflow: hidden;
      white-space: nowrap;
      max-width: 250px;
      display: inline-block;
      text-overflow: ellipsis;
      line-height: 1.4rem;
    }

    .delete-list-item {
      position: absolute;
      top: 24px;
      right: 20px;
    }
  }

  .profile-list {
    max-width: 475px;

    .candidate-name {
      @include green-link;
    }
  }

  .labeled-form {
    margin-top: 30px;
  }

  .phones-container {
    margin-bottom: 15px;

    h1 {
      margin-bottom: 10px;
    }
  }

</style>
