<template>
  <div class="modal-content-container">
    <p class="heading">Send job to team for review
      <Tooltip content="You can send your job to team members and/or yourself to help review its details and description. How you describe your job is one of the most important ways that you can communicate your employer brand to candidates and attract them with your employer brand. It can’t hurt to get an extra set of eyes on it!" :customStyles="tooltipStyles" />
    </p>
    <CustomInput
      :icon="searchImg"
      placeholder="Search by name or email..."
      :containerStyles="searchContainerStyles"
      :customStyles="searchCustomStyles"
      v-model="searchQuery"
    />
    <Tablist
      :tabs="composeTabs"
      :selectedTab="activeComposeTab"
      @change="tabChange"
    />

    <!-- User Container -->
    <div role="tabpanel" class="user-list-container" v-show="activeComposeTab === 0">
      <ul class="users">
        <li v-for="user in filteredUsers" @click="shareJob(user)">
          <span class="user-image" :style="getProfileImage(user.profile_photo_url)"></span>
          {{account.id===user.id ? user.first_name+' '+user.last_name+' (you)' : user.first_name+' '+user.last_name}}
        </li>
      </ul>
    </div>

    <!-- Invite Container -->
    <div role="tabpanel" class="invite-container" v-show="activeComposeTab === 1">
      <label for="emails">Email(s)</label>
      <CustomInput
        v-model="composeInvite.emails"
        customId="emails"
        placeholder="Enter email address(es) of invitee(s)"
        :containerStyles="inputContainerStyles"
        :customStyles="inputCustomStyles"
      />
      <Tooltip content="You can invite multiple people in your company to view your job on Happie at once by entering multiple email addresses at once, separated by a comma (,)." :customStyles="tooltipStyles" />
      <label for="subject">Subject</label>
      <CustomInput
        v-model="composeInvite.subject"
        customId="subject"
        placeholder="Enter the subject of your email"
        :containerStyles="inputContainerStyles"
        :customStyles="inputCustomStyles"
      />
      <Tooltip content="You can customize the subject line of the email, or you can leave it as it is." :customStyles="tooltipStyles" />
      <label for="description">Custom Message</label>
      <CustomTextArea
        v-model="composeInvite.message"
        customId="description"
        :customStyles="textAreaCustomStyles"
        :containerStyles="textAreaContainerStyles"
        placeholder="(Optional) Add a custom message to the invitation to review your job on Happie."
      />
      <Tooltip content="You can add a custom message to Happie’s standard email to encourage your teammates to review your job. Keep it short and sweet — no offence to all the business email essayists out there!" :customStyles="tooltipStyles" />
      <PromptButton text="INVITE" :onClick="shareJobEmail" :customStyles="inviteButtonStyles"></PromptButton>
    </div>
  </div>
</template>


<script>
import Tablist from 'components/Tools/Tablist'
import PromptButton from 'components/FormElements/PromptButton'
import CustomInput from 'components/FormElements/CustomInput'
import CustomTextArea from 'components/FormElements/CustomTextArea'
import Tooltip from 'components/Tools/Tooltip'

import api from 'api'
import { alerts, profileImageStyle } from 'helpers'
import { usersStore, companyStore, accountStore, metadataStore } from 'stores'

import profile from 'img/small-profile.svg'
import profileActive from 'img/small-profile-active.svg'
import ticket from 'img/ticket.svg'
import ticketActive from 'img/ticket-active.svg'
import searchImg from 'img/search.svg'
import accountPlaceholder from 'img/account-placeholder.svg'

export default {
  components: {
    Tablist,
    CustomInput,
    CustomTextArea,
    Tooltip,
    PromptButton,
    accountPlaceholder
  },
  mounted () {
  },
  data () {
    return {
      account: accountStore.get().account,
      company: companyStore.get().company,
      composeInvite: {
        emails: '',
        subject: 'Review ' + companyStore.get().company.name + "'s job on Happie",
        message: ''
      },
      searchQuery: '',
      accountPlaceholder: accountPlaceholder,
      composeTabs: [
        { title: 'All', image: profile, activeImage: profileActive },
        { title: 'Invite', image: ticket, activeImage: ticketActive }
      ],
      activeComposeTab: 0,
      searchContainerStyles: {
        display: 'inline-block',
        'margin-right': '25px'
      },
      searchCustomStyles: {
        width: '300px'
      },
      searchImg: searchImg,
      inputContainerStyles: {
        display: 'inline-block'
      },
      inputCustomStyles: {
        width: '277px',
        'margin-bottom': '20px'
      },
      textAreaContainerStyles: {
        display: 'inline-block'
      },
      textAreaCustomStyles: {
        width: '277px',
        'margin-bottom': '20px'
      },
      tooltipStyles: {
        position: 'absolute',
        'margin-left': '18px'
      },
      inviteButtonStyles: {
        display: 'block',
        width: '277px',
        'margin-left': '150px'
      },
      users: usersStore.get().users
    }
  },
  computed: {
    filteredUsers () {
      // Otherwise filter out users by checking of search query exists in their first or last name
      let filteredUsers = $.grep(this.users, (user) => {
        // Check if search query is in first or last name
        let match = `${user.first_name} ${user.last_name} ${user.email}`
        .toLowerCase()
        .indexOf(this.searchQuery.toLowerCase()) > -1

      // Or if search query is empty, set match to true
        if (!this.searchQuery) {
          match = true
        }

        // Also filter out non provisional
        if (user.is_provisional) {
          match = false
        }

        return match
      })

      return filteredUsers
    }
  },
  methods: {
    getProfileImage (url) {
      return profileImageStyle(url, accountPlaceholder)
    },
    tabChange (index) {
      this.activeComposeTab = index
    },
    shareJob (user) {
      let jobURL = metadataStore.get().url_base + '#/outreach/jobs/' + this.job.id

      this.sendEmail({
        template_name: 'review_job_template_existing_user',
        recipients: [user.email],
        substitution_variables: {
          'invite': {
            'job_url': jobURL
          }
        }
      })
    },
    shareJobEmail () {
      // Split "to" emails into array
      let recipients = this.composeInvite.emails.split(',')

      let jobURL = metadataStore.get().url_base + '#/outreach/jobs/' + this.job.id

      this.sendEmail({
        template_name: 'review_job_template_not_a_user',
        recipients: recipients,
        subject: this.composeInvite.subject,
        substitution_variables: {
          'invite': {
            'message': this.composeInvite.message,
            'job_url': jobURL
          }
        }
      })
    },
    sendEmail (requestObject) {
      api.ajax('emails/send', {
        type: 'POST',
        data: requestObject
      })
      .done(() => {
        alerts.show({
          status: 'success',
          message: 'Woohoo — you successfully invited other team members to review your job on Happie. More eyes are better than two!'
        })
      })
      .fail(() => {
        console.error('failed to send email')
        alerts.show({
          status: 'error',
          message: `Oh no! For some reason, your invitations to review your jobs on Happie failed to send. Please check the email addresses, and try again.`
        })
      })
    }
  },
  props: {
    job: { required: true }
  }
}
</script>

<style lang='scss' scoped>
  @import "~styles/variables";

  // TODO: Probably can unscope these at some point and combine the styles somewhere

  .modal-content-container {
    padding: 0px 35px;
    height: 500px;
  }

  p {
    &.heading {
      font-size: 1.4rem;
      margin: 52px auto 38px auto;
    }
  }

  .users {
    padding: 0px;
    margin-top: 0px;
    height: 300px;
    overflow: auto;

    .user-image {
      width: 45px;
      height: 45px;

      @include circle-img;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 45px;
    }

    li {
      padding: 12px 10px;
      list-style: none;
      border-bottom: 0.5px solid $border-gray;
    }
    li:hover {
      background-color: #f7f8f9;
      cursor: pointer;
    }
  }

  .invite-container {
    padding-top: 30px;
  }

  label {
    display: inline-block;
    width: 120px;
    text-align: right;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 30px;
  }

</style>
