<template>
  <div class="candidate-info-container">

    <div class="info-sections">

      <div v-if="accountStore.account.is_sourced_req_admin">
        <div class="filter-collapse" role="button" @click="(e) => {userCollapsed = !userCollapsed}">
          ACCOUNT INFO
          <img :class="{'i-b collapse-arrow': true, 'options-open': !userCollapsed}" v-svg-src="upArrowImg" role="button"/>
        </div>
        <div v-show="!userCollapsed">
          <div class="account-info">
            <div><b>Company:</b>{{candidateOrg.company.name}}</div>
            <div><b>Organization:</b>{{candidateOrg.name}}</div>
          </div>
        </div>
      </div>

      <div class="filter-collapse" role="button" @click="(e) => {jobsCollapsed = !jobsCollapsed}">
        TARGETED JOB(S)
        <img :class="{'i-b collapse-arrow': true, 'options-open': !jobsCollapsed}" v-svg-src="upArrowImg" role="button"/>
      </div>
      <div v-show="!jobsCollapsed">
        <div class="targeted-jobs">
          <span v-for="job in targetedJobs" class="job">{{job.title}}</span>
          <span v-if="!targetedJobs.length" class="none">Targeted jobs</span>
        </div>
      </div>

      <div class="filter-collapse" role="button" @click="(e) => {trackingCollapsed = !trackingCollapsed}">
        TRACK STATUS
        <img :class="{'i-b collapse-arrow': true, 'options-open': !trackingCollapsed}" v-svg-src="upArrowImg" role="button"/>
      </div>
      <div v-if="candidate.id" v-show="!trackingCollapsed">
         <div class="label-select">
          <CustomSelect
            :items="statusItems"
            :onChange="statusChange"
            :selected="candidate.status"
            :customStyles="selectStyles"
            :icon="statusImg"
            customId="test-status-dropdown"
          />
        </div>
      </div>

      <div class="filter-collapse" role="button" @click="(e) => {infoCollapsed = !infoCollapsed}">
        CANDIDATE INFO
        <img :class="{'i-b collapse-arrow': true, 'options-open': !infoCollapsed}" v-svg-src="upArrowImg" role="button"/>
      </div>
      <div v-if="!!preferredContact" class="preferred-contact">
        <span>{{ candidate.first_name }} {{ candidate.last_name }} was contacted via
          <template v-if="preferredContact.type === 'email'">
            <b>Email</b>. <span class="link" @click="emailClick(preferredContact.method)">Click here</span> to send an email to {{ candidate.first_name }}.
          </template>
  				<template v-else-if="preferredContact.type === 'sms'">
  					<b>Text Message</b>. Please contact {{ candidate.first_name }} at <b class="link" @click="smsClick(preferredContact.method)">{{ phoneNumber.makeReadable(preferredContact.method, 'US') }}</b>.
  				</template>
  				<template v-else-if="preferredContact.type === 'home'">
  					a <b>Phone Call</b>. Please contact {{ candidate.first_name }} at <b>{{ phoneNumber.makeReadable(preferredContact.method, 'US') }}</b>.
  				</template>
        </span>
      </div>
      <div v-if="candidate.id" v-show="!infoCollapsed">
        <div class="preview-container">
          <span class="profile-image" :style="profileImageStyle(candidate.profile_photo_url, placeholderImg)"></span>
          <span class="candidate-name" @click="nameClick">{{`${candidate.first_name} ${candidate.last_name}`}}</span>
          <a v-if="candidate.linkedin_url" :href="candidate.linkedin_url" target="_blank">
            <img class="linkedin" v-svg-src="linkedinIcon">
          </a>
          <img v-else class="linkedin" v-svg-src="linkedinDisabledIcon">
          <img v-if="candidate.resume_uploaded" @click="downloadResume" role="button" class="resume" v-svg-src="resumeIcon">
          <img v-else class="resume" v-svg-src="resumeDisabledIcon">
          <a v-if="candidate.facebook_url" :href="candidate.facebook_url" target="_blank">
            <img class="facebook" v-svg-src="facebookIcon">
          </a>
          <img v-else class="facebook" v-svg-src="facebookDisabledIcon">
          <div>
            <span v-if="candidate.do_not_sms && candidate.do_not_email" class="do-not-contact">DO NOT CONTACT</span>
            <span v-else-if="candidate.do_not_sms" class="do-not-contact">DO NOT SMS</span>
            <span v-else-if="candidate.do_not_email" class="do-not-contact">DO NOT EMAIL</span>
          </div>
          <div class="emails">
            <span class="float-left">
              <img v-svg-src="emailIcon">
              <span v-if="!emailAddresses.length" class="none">Emails</span>
              <span v-else :class="{'preferred-contact-badge': emailAddresses[0].preferred && preferredContact.type === 'email'}">{{emailAddresses[0].address}}</span>
            </span>
            <span class="float-right">
              <template v-if="emailAddresses.length > 1">
                <DynamicTooltip>
                  <template slot="content">
                    <span class="email" :class="{'preferred-contact-badge': email.preferred && preferredContact.type === 'email'}" v-for="email in emailAddresses.slice(1)">{{email.address}}</span>
                  </template>
                  <span class="additional-info" slot="triggerElement">+{{emailAddresses.length-1}}</span>
                </DynamicTooltip>
              </template>
            </span>
          </div>

          <div class="phones">
            <div class="mobile">
              <img v-svg-src="mobileIcon">
              <span v-if="mobilePhones[0].number != ''" class="phone-link" :class="{'preferred-contact-badge': mobilePhones[0].preferred && preferredContact.type === 'sms'}">{{ phoneNumber.makeReadable(mobilePhones[0].number, 'US') }}</span>
              <span v-else class="none">Mobile</span>
              <template v-if="mobilePhones.length > 1">
                <DynamicTooltip>
                  <template slot="content">
                    <span class="email" :class="{'preferred-contact-badge': phone.preferred && preferredContact.type === 'sms'}" v-for="phone in mobilePhones.slice(1)">{{ phoneNumber.makeReadable(phone.number, 'US') }}</span>
                  </template>
                  <span class="additional-info" slot="triggerElement">+{{ mobilePhones.length - 1 }}</span>
                </DynamicTooltip>
              </template>
            </div>
            <div class="phone">
              <img v-svg-src="phoneIcon">
              <span v-if="homePhones[0].number != ''" class="phone-link" :class="{'preferred-contact-badge': homePhones[0].preferred && preferredContact.type === 'home'}">{{ phoneNumber.makeReadable(homePhones[0].number, 'US') }}</span>
              <span v-else class="none">Home</span>
              <template v-if="homePhones.length > 1">
                <DynamicTooltip>
                  <template slot="content">
                    <span class="email" v-for="phone in homePhones.slice(1)" :class="{'preferred-contact-badge': phone.preferred && preferredContact.type === 'home'}">{{ phoneNumber.makeReadable(phone.number, 'US') }}</span>
                  </template>
                  <span class="additional-info" slot="triggerElement">+{{ homePhones.length - 1 }}</span>
                </DynamicTooltip>
              </template>
            </div>
          </div>

          <div class="bottom-info">
            <div class="title">
              <img v-svg-src="titleIcon">
              <span v-if="candidate.title">{{candidate.title}}</span>
              <span v-else class="none">Title</span>
            </div>
            <div class="company">
              <img v-svg-src="companyIcon">
              <span v-if="candidate.company_name">{{candidate.company_name}}</span>
              <span v-else class="none">Company</span>
            </div>
            <div class="location">
              <img v-svg-src="locationIcon">
              <span v-if="candidateLocation">{{candidateLocation}}</span>
              <span v-else class="none">Location</span>
            </div>
            <div class="industry">
              <img v-svg-src="industryIcon">
              <span v-if="candidate.industry_code">{{selectedIndustry}}</span>
              <span v-else class="none">Industry</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <CandidateComments :candidate="candidate" :collapsible="true" :commentsLoaded="true" />
    <CandidateActivities :candidate="candidate" :collapsible="true" />

  </div>
</template>

<script>

import CustomSelect from 'components/FormElements/CustomSelect'
import DynamicTooltip from 'components/Tools/DynamicTooltip'
import CandidateComments from 'components/Sections/Candidates/CandidateComments'
import CandidateActivities from 'components/Sections/Candidates/CandidateActivities'

import api from 'api'
import { accountStore, candidatesStore, jobsStore, metadataStore, industriesStore, conversationsStore, adminStore } from 'stores'
import { profileImageStyle, candidateActions, candidateHelper, alerts, phoneNumber } from 'helpers'

import placeholderImg from 'img/account-placeholder.svg'
import upArrowImg from 'img/up-arrow.svg'
import statusImg from 'img/settings/pulse.svg'
import linkedinIcon from 'img/candidates/linked-in.svg'
import linkedinDisabledIcon from 'img/candidates/linked-in-disabled.svg'
import resumeIcon from 'img/candidates/resume.svg'
import resumeDisabledIcon from 'img/candidates/resume-disabled.svg'
import facebookIcon from 'img/candidates/facebook.svg'
import facebookDisabledIcon from 'img/candidates/facebook-disabled.svg'
import emailIcon from 'img/settings/email.svg'
import mobileIcon from 'img/settings/mobile.svg'
import phoneIcon from 'img/settings/phone.svg'
import titleIcon from 'img/candidates/title.svg'
import companyIcon from 'img/candidates/company.svg'
import locationIcon from 'img/settings/location.svg'
import industryIcon from 'img/settings/industry.svg'

export default {
  components: {
    CustomSelect,
    CandidateComments,
    CandidateActivities,
    DynamicTooltip
  },
  created () {
    if (this.activeCandidateId) {
      this.loadCandidate()
    }
  },
  mounted () {
  },
  computed: {
    candidateOrg () {
      let convo = this.conversationsStore.conversations.find((value) => {
        return this.activeConvoId == value.id
      })
      if (convo) {
        return this.adminStore.organizations.find((value) => {
          return value.id == convo.organization
        }) ||
        { name: '', company: { name: '' } }
      }
      return { name: '', company: { name: '' } }
    },
    checkedCandidates () {
      return [this.candidate.id]
    },
    candidateLocation () {
      return candidateHelper.getCityState(this.candidate)
    },
    selectedIndustry () {
      let industry = ''
      $.each(this.industriesStore.industries, (key, value) => {
        if (value.code === this.candidate.industry_code) {
          industry = value.name || value.label
          return false
        }
      })
      return industry
    },
    candidate () {
      let candidate = {}
      if (this.activeCandidateId) {
        $.each(this.candidatesStore.candidates, (index, value) => {
          if (value.id == this.activeCandidateId) {
            candidate = value
            return false
          }
        })
      }
      return candidate
    },
    targetedJobs () {
      let jobs = []
      if (this.candidate.req_ids) {
        $.each(this.candidate.req_ids, (key, value) => {
          $.each(this.jobsStore.jobs, (k, v) => {
            if (v.id == value) {
              jobs.push(v)
              return false
            }
          })
        })
      }
      return jobs
    },
    statusItems () {
      let items = [].concat(this.metadataStore.filterStatuses)
      items[0].label = 'Select Status'
      return items
    },
    emailAddresses () {
      let emailAddresses = []
      if (this.candidate.emails) {
        for (var i = 0; i < this.candidate.emails.length; i++) {
          if (this.candidate.emails[i].address) {
            emailAddresses.push({ address: this.candidate.emails[i].address, preferred: this.candidate.emails[i].preferred })
          }
        }
      }
      return emailAddresses
    },
    phoneNumbers () {
      // Make sure the candidate has a phone number array
      if (!this.candidate.phones) this.candidate.phones = []

      // Default any null type phone number to mobile
      this.candidate.phones.forEach((value) => {
        if (!value.type) value.type = 'mobile'
      })

      // Make sure the candidate has at least one mobile and one home number
      let hasMobile = this.candidate.phones.find(value => value.type == 'mobile')
      let hasHome = this.candidate.phones.find(value => value.type == 'home')
      if (!hasMobile) this.candidate.phones.push({ type: 'mobile', number: '' })
      if (!hasHome) this.candidate.phones.push({ type: 'home', number: '' })
      return this.candidate.phones
    },
    mobilePhones () {
      let mobile = []
      $.each(this.phoneNumbers, (key, value) => {
        if (value.type == 'mobile') {
          mobile.push(value)
        }
      })
      return mobile
    },
    homePhones () {
      let home = []
      $.each(this.phoneNumbers, (key, value) => {
        if (value.type == 'home') {
          home.push(value)
        }
      })
      return home
    },
    preferredContact () {
      // Cut the mustard
      if (!this.candidate.preferred_contact_method) return false

      let type
      let method

      switch (this.candidate.preferred_contact_method) {
        case 0:
          break
        case 1:
          if (!this.emailAddresses.length) {
            this.candidate.preferred_contact_method = 0
            break
          }
          type = 'email'
          method = this.emailAddresses.find(email => email.preferred).address
          if (method) return { type, method }
          else break
        case 2:
          if (!this.mobilePhones[0].number) {
            this.candidate.preferred_contact_method = 0
            break
          }
          type = 'sms'
          method = this.mobilePhones.find(phone => phone.preferred).number
          if (method) return { type, method }
          else break
        case 3:
          if (!this.homePhones[0].number) {
            this.candidate.preferred_contact_method = 0
            break
          }
          type = 'home'
          method = this.homePhones.find(phone => phone.preferred).number
          if (method) return { type, method }
          else break
        default:
          break
      }
      return false
    }
  },
  data () {
    return {
      candidatesStore: candidatesStore.get(),
      accountStore: accountStore.get(),
      jobsStore: jobsStore.get(),
      metadataStore: metadataStore.get(),
      industriesStore: industriesStore.get(),
      adminStore: adminStore.get(),
      conversationsStore: conversationsStore.get(),
      phoneNumber,
      userCollapsed: false,
      jobsCollapsed: false,
      trackingCollapsed: false,
      infoCollapsed: false,
      profileImageStyle,
      placeholderImg,
      upArrowImg,
      statusImg,
      linkedinIcon,
      linkedinDisabledIcon,
      resumeIcon,
      resumeDisabledIcon,
      facebookIcon,
      facebookDisabledIcon,
      emailIcon,
      mobileIcon,
      phoneIcon,
      titleIcon,
      companyIcon,
      locationIcon,
      industryIcon,
      selectStyles: {
        display: 'inline-block',
        'margin-top': '15px',
        width: '100%',
        'max-width': '100%',
        'vertical-align': 'middle'
      }
    }
  },
  methods: {
    loadCandidate () {
      // Clear the candiates store
      this.candidatesStore.candidates = []
      if (this.activeCandidateId) {
        api.ajax(`candidates/${this.activeCandidateId}`)
        .done((response) => {
          // Map our candidate object
          let theCandidate = response.candidate
          theCandidate.comments = response.comments
          theCandidate.activities = response.activities
          theCandidate.candidate_profile = response.candidate_profile

          candidatesStore.addCandidates([theCandidate])
        })
        .fail((e) => {
          console.error('Failed to get candidate ', e)
          if (e.status == 403) {
            alerts.show({
              message: `Uh oh — it doesn't look like you have access to this candidate. Make sure you are logged in to the correct account.`,
              status: 'error'
            })
          }
        })
      }
    },
    statusChange (item) {
      api.ajax(`candidates/${this.candidate.id}`, {
        type: 'PUT',
        data: {
          status: item.value
        }
      })
      .done((response) => {
        // Update it in our store
        this.candidate.status = item.value
      })
    },
    downloadResume () {
      candidateHelper.downloadResume(this.candidate)
    },
    nameClick () {
      candidateHelper.openCandidateModal.apply(this, [this.candidate.id])
    },
    emailClick (email) {
      if (this.candidate.do_not_email) return false
      candidateActions.sendMessage.apply(this, [[email]])
    },
    smsClick (number) {
      if (this.candidate.do_not_sms || this.userIsTransactional) return false
      candidateActions.sendMessage.apply(this, [[number], true, 'sms'])
    }
  },
  watch: {
    activeCandidateId: {
      handler (newVal, oldVal) {
        if (newVal != oldVal) {
          this.loadCandidate()
        }
      }
    },
    candidate: {
      handler (candidate) {
        let hasPreffered = false
        if ('emails' in candidate) {
          candidate.emails.forEach(email => {
            if (email.preferred) hasPreffered = true
          })
        }
        if ('phones' in candidate) {
          candidate.phones.forEach(phone => {
            if (phone.preferred) hasPreffered = true
          })
        }
        if (!hasPreffered) this.candidate.preferred_contact_method = 0
      },
      deep: true
    }
  },
  props: {
    activeCandidateId: { required: true },
    activeConvoId: { required: true }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .candidate-info-container {
    display: inline-block;
    margin-left: 25px;
    width: 310px;
    background-color: $white;
    vertical-align: top;
    height: calc(100% - #{$inbox-buttons-height});
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    overflow-y: auto;

    .info-sections {
      padding: 0px 15px 15px 15px;
    }

    .filter-collapse {
      margin-top: 15px;
    }

    .label-select {
      padding: 0px 18px;
    }

    .account-info {
      font-size: 14px;
      line-height: 1.29;
      padding-top: 15px;
      color: #777782;

      > div {
        margin-bottom: 10px;
      }

      b {
        margin-right: 15px;
      }
    }

    .preferred-contact {
      margin: 8px 0 0;
    }

    .preview-container {
      text-align: center;
      padding-top: 15px;

      img {
        vertical-align: middle;
      }

      .candidate-name {
        @include green-link;
        font-size: 16px;
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
      }

      .emails {
        margin-top: 15px;
        height: 20px;
        line-height: 20px;
        width: 100%;

        span {
          color: $tundora;

          &:hover {
            cursor: text;
          }

          &.none {
            color: $none-gray;
          }
        }

        .float-left {
          width: 90%;
          @include text-ellipsis;
        }

      }

      .phones {
        color: $tundora;
        font-weight: bold;
      }

      .emails, .phones {
        .additional-info {
          color: $white;
          position: static;
        }
      }

      .bottom-info {
        text-align: left;
        font-size: 14px;

        div {
          margin-top: 15px;
          @include text-ellipsis;
        }

        .location {
          img {
            width: 15px;
          }
        }

        img {
          margin-right: 8px;
        }
      }
    }

    .candidate-comment-container {
      margin-top: 0px;
    }
  }

  .email {
    display: block;

    &:not(:last-child)::after {
      color: $black;
      content: ',';
      font-weight: 400;
    }
  }

  .link {
    cursor: pointer;
    text-decoration: underline;
  }
</style>
