<template>
  <div class="conversations-container">
    <div class="top-section">
      <span @click="createConversation" role="button" class="create-new">Start a conversation</span>
      <CustomInput
        v-model="filters.search"
        :icon="searchImg"
        placeholder="Search by name..."
        :customStyles="searchStyles"
        :onEnter="searchHandler"
      />
    </div>
    <div class="filters-container">
      <div class="filter-collapse" role="button" @click="(e) => {filtersCollapsed = !filtersCollapsed}">
        FILTERS
        <img :class="{'i-b collapse-arrow': true, 'options-open': !filtersCollapsed}" v-svg-src="upArrowImg" role="button"/>
      </div>
      <div v-show="!filtersCollapsed" class="filters">
        <Autocomplete
          v-if="accountStore.account.is_sourced_req_admin"
          placeholder="Search by company..."
          :suggestions="adminStore.companies"
          :viewKeys="['name']"
          :searchKeys="['name']"
          :onSelect="(item) => {filterChange('company', item)}"
          :customStyles="searchStyles"
          :containerStyles="selectStyles"
          :selected="filters.company"
          :icon="companyIcon"
        />
        <CustomSelect
          v-if="accountStore.account.is_sourced_req_admin"
          :items="organizationItems"
          :onChange="(item) => {filterChange('organization', item)}"
          :selected="filters.organization"
          :customStyles="selectStyles"
          :icon="organizationIcon"
          :removeSelected="true"
          :disabled="!filters.company"
        />
        <CustomSelect
          :items="jobItems"
          :onChange="(item) => {filterChange('job', item)}"
          :selected="filters.job"
          :customStyles="selectStyles"
          :icon="briefcase"
          :removeSelected="true"
          customId="test-jobs-dropdown"
        />
        <CustomSelect
          :items="typeItems"
          :onChange="(item) => {filterChange('type', item)}"
          :selected="filters.type"
          :customStyles="selectStyles"
          :icon="speechBubble"
          :removeSelected="true"
          customId="test-convo-type-dropdown"
        />
      </div>
    </div>
    <div :class="{'conversations': true, 'filters-closed': filtersCollapsed, 'is-sourcer': accountStore.account.is_sourced_req_admin}" @scroll="scrollHandler">
      <div
        v-for="candidate, index in candidates"
        v-if="index < renderAmount + renderLimit"
        :class="{'candidate-container': true, 'selected': candidate.conversation_ids.indexOf(activeConvoId) !== -1}"
        @click="selectHandler(candidate)"
      >
        <img v-if="isStarred(candidate)" v-svg-src="starSelected" class="star" role="button" @click="unstarConvos(candidate)">
        <img v-else v-svg-src="starUnselected" class="star" role="button" @click="starConvos(candidate)">
        <span class="candidate-image" :style="profileImageStyle(candidate.profile_photo_url, placeholderImg)"></span>
        <div class="middle-section">
          <span class="candidate-name">{{`${candidate.first_name} ${candidate.last_name}`}}</span>
          <span class="last-message">{{formatLastMessage(candidate.conversations[0])}}</span>
        </div>
        <span :class="{'total-count': true, 'unread': isUnread(candidate)}">{{totalMessageCount(candidate)}}</span>
      </div>
    </div>
  </div>
</template>

<script>

import CustomInput from 'components/FormElements/CustomInput'
import CustomSelect from 'components/FormElements/CustomSelect'
import Autocomplete from 'components/FormElements/Autocomplete'

import { conversationsStore, accountStore, jobsStore, adminStore } from 'stores'
import { profileImageStyle, modals, copyObj } from 'helpers'
import api from 'api'
import moment from 'moment'
import momentTimezone from 'moment-timezone'

import placeholderImg from 'img/account-placeholder.svg'
import starSelected from 'img/star-selected.svg'
import starUnselected from 'img/star-unselected.svg'
import searchImg from 'img/search.svg'
import upArrowImg from 'img/up-arrow.svg'
import speechBubble from 'img/settings/speech-bubble.svg'
import briefcase from 'img/briefcase.svg'
import companyIcon from 'img/company.svg'
import organizationIcon from 'img/organization.svg'

export default {
  components: {
    CustomInput,
    CustomSelect,
    Autocomplete
  },
  computed: {
    organizationItems () {
      let items = [{ value: 0, label: 'All Organizations' }]
      if (this.filters.company) {
        for (let org of this.adminStore.organizations) {
          if (org.company.id == this.filters.company.id) {
            items.push({ value: org.id, label: org.name })
          }
        }
      }
      return items
    },
    jobItems () {
      let items = [{ value: 0, label: 'All Jobs' }]
      if (this.filters.organization) {
        for (let job of this.jobsStore.jobs) {
          if (job.organization == this.filters.organization) {
            items.push({
              value: job.id,
              label: job.title || 'Untitled'
            })
          }
        }
      } else if (this.filters.company) {
        let orgs = this.adminStore.organizations.filter((value) => {
          return value.company.id == this.filters.company.id
        })
        .map((value) => {
          return value.id
        })
        for (let job of this.jobsStore.jobs) {
          if (orgs.indexOf(job.organization) !== -1) {
            items.push({
              value: job.id,
              label: job.title || 'Untitled'
            })
          }
        }
      } else {
        for (let job of this.jobsStore.jobs) {
          items.push({
            value: job.id,
            label: job.title || 'Untitled'
          })
        }
      }
      return items
    },
    candidates () {
      let candidates = []

      // Map the conversations by candidate
      for (let convo of this.conversationsStore.conversations) {
        // TODO: figure out what to do with convos that don't have candidates
        if (!convo.external_candidate) {
          continue
        }

        // Check if they are already in our candidates array
        let index = candidates.findIndex((candidate) => {
          return candidate.id == convo.external_candidate.id
        })

        if (index !== -1) {
          candidates[index].conversations.push(convo)
          candidates[index].conversation_ids.push(convo.id)
          // Sort the convos everytime we add a new one to a candidate
          candidates[index].conversations.sort((a, b) => {
            let aTime = a.last_inbound_message || a.last_message
            let bTime = b.last_inbound_message || b.last_message
            return moment(bTime).unix() - moment(aTime).unix()
          })
        } else {
          let candidate = copyObj(convo.external_candidate)
          candidate.conversations = [convo]
          candidate.conversation_ids = [convo.id]
          candidates.push(candidate)
        }
      }

      // Now sort the candidates by the most recent inbound message
      candidates.sort((a, b) => {
        let aTime = a.conversations[0].last_inbound_message || a.conversations[0].last_message
        let bTime = b.conversations[0].last_inbound_message || b.conversations[0].last_message
        return moment(bTime).unix() - moment(aTime).unix()
      })

      // Update our candidate array in the conversationsStore
      this.conversationsStore.candidates = candidates

      return candidates
    },
    // NOTE: commenting this out incase we EVER need to go back to filtering on the font end side
    // filteredCandidates() {
    //   // NOTE: passing candidates through a second computed variable for filters so that
    //   // we don't recall the massive candidates mapping variable
    //   let filteredCandidates = this.candidates.filter((candidate) => {
    //     let match = true;
    //     switch (this.filters.type) {
    //       case 'unread':
    //         match = this.isUnread(candidate);
    //         break;
    //       case 'starred':
    //         match = this.isStarred(candidate);
    //         break;
    //       case 'archived':
    //         match = this.isArchived(candidate);
    //         break;
    //       default:
    //         match = !this.isArchived(candidate);
    //         break;
    //     }
    //     if (match && this.filters.organization) {
    //       match = !!candidate.conversations.find((value) => {
    //         return value.organization == this.filters.organization
    //       })
    //     } else if (match && this.filters.company) {
    //       let orgs = this.adminStore.organizations.filter((value) => {
    //         return value.company.id == this.filters.company.id
    //       })
    //       .map((value) => {
    //         return value.id
    //       })
    //       match = !!candidate.conversations.find((value) => {
    //         return orgs.indexOf(value.organization) !== -1
    //       })
    //     }
    //     if (match && this.filters.job) {
    //       if (candidate.req_ids) {
    //         match = candidate.req_ids.indexOf(this.filters.job) !== -1;
    //       } else {
    //         match = false;
    //       }
    //     }
    //     if (match && this.filters.search) {
    //       match = `${candidate.first_name} ${candidate.last_name}`.toLowerCase().indexOf(this.filters.search.toLowerCase()) !== -1;
    //     }
    //     return match;
    //   });
    //   return filteredCandidates;
    // },
    timezone () {
      return this.accountStore.account.timezone || 'UTC'
    }
  },
  data () {
    return {
      conversationsStore: conversationsStore.get(),
      accountStore: accountStore.get(),
      jobsStore: jobsStore.get(),
      adminStore: adminStore.get(),
      filters: {
        company: null,
        organization: 0,
        search: '',
        job: 0,
        type: 'all'
      },
      typeItems: [
        { value: 'all', label: 'All Conversations' },
        { value: 'unread', label: 'Unread' },
        { value: 'starred', label: 'Starred' },
        { value: 'archived', label: 'Archived' }
      ],
      renderAmount: 0,
      renderLimit: 25,
      scrollPadding: 100,
      loadingStatus: 'done', // done, loading, end
      filtersCollapsed: false,
      profileImageStyle,
      placeholderImg,
      starSelected,
      starUnselected,
      searchImg,
      upArrowImg,
      speechBubble,
      briefcase,
      companyIcon,
      organizationIcon,
      searchStyles: {
        display: 'inline-block',
        width: '100%'
      },
      selectStyles: {
        'margin-top': '15px'
      }
    }
  },
  watch: {
    'conversationsStore.conversations': {
      handler (val) {
        if (!this.activeConvoId && this.candidates.length) {
          this.selectHandler(this.candidates[0])
        }
      },
      deep: true
    }
  },
  methods: {
    searchHandler () {
      this.loadingStatus = 'loading'
      this.conversationsStore.filters.candidate_name = this.filters.search
      this.conversationsStore.filters.company = this.filters.company ? this.filters.company.id : 0
      this.conversationsStore.filters.organization = this.filters.organization
      this.conversationsStore.filters.req = this.filters.job
      this.conversationsStore.filters.offset = 0
      this.conversationsStore.filters.starred = this.filters.type == 'starred' ? 1 : 0
      this.conversationsStore.filters.archived = this.filters.type == 'archived' ? 1 : 0
      this.conversationsStore.filters.unread = this.filters.type == 'unread' ? 1 : 0
      this.searchConvos()
      .done((response) => {
        this.loadingStatus = response.length < this.conversationsStore.filters.limit ? 'end' : 'done'
        if (this.candidates.length) {
          this.selectHandler(this.candidates[0])
        }
      })
    },
    createConversation () {
      modals.show({
        component: 'StartConversationModal',
        props: {
          customCallback: (id) => {
            this.selectConvo(id)
          }
        }
      })
    },
    filterChange (type, item) {
      switch (type) {
        case 'company':
          this.filters.company = item
          break
        case 'organization':
          this.filters.organization = item.value
          break
        case 'job':
          this.filters.job = parseInt(item.value)
          break
        case 'type':
          this.filters.type = item.value
          break
      }
      this.searchHandler()
    },
    selectHandler (candidate) {
      // The first index should be the most recent because of our sorting in the computed candidates variable
      this.selectConvo(candidate.conversations[0].id)
    },
    isStarred (candidate) {
      let starred = false
      $.each(candidate.conversations, (index, convo) => {
        if (convo.starred) {
          starred = true
          return false
        }
      })
      return starred
    },
    starConvos (candidate) {
      $.each(candidate.conversations, (i, convo) => {
        api.ajax(`conversations/${convo.id}/set-attributes`, {
          type: 'PATCH',
          data: {
            starred: true
          }
        })
        .done((response) => {
          convo.starred = true
          conversationsStore.update(convo)
        })
      })
    },
    unstarConvos (candidate) {
      $.each(candidate.conversations, (i, convo) => {
        api.ajax(`conversations/${convo.id}/set-attributes`, {
          type: 'PATCH',
          data: {
            starred: false
          }
        })
        .done((response) => {
          convo.starred = false
          conversationsStore.update(convo)
        })
      })
    },
    isUnread (candidate) {
      let unread = false
      $.each(candidate.conversations, (index, convo) => {
        if (convo.unread_count) {
          unread = true
          return false
        }
      })
      return unread
    },
    isArchived (candidate) {
      let archived = false
      $.each(candidate.conversations, (index, convo) => {
        if (convo.archived) {
          archived = true
          return false
        }
      })
      return archived
    },
    totalMessageCount (candidate) {
      let count = 0
      $.each(candidate.conversations, (index, convo) => {
        count += convo.inbound_count
      })
      return count
    },
    formatLastMessage (conversation) {
      let timeStamp = conversation.last_inbound_message || conversation.last_message
      return moment(timeStamp).tz(this.timezone).format('M/D/YY [at] h:mmA z')
    },
    scrollHandler (e) {
      let scroll = $(e.target).scrollTop()
      let totalHeight = e.target.scrollHeight - $(e.target).height() - this.scrollPadding

      if (scroll >= totalHeight && this.renderAmount + this.renderLimit < this.candidates.length) {
        this.renderAmount += this.renderLimit
      } else if (scroll >= totalHeight && this.loadingStatus == 'done') {
        this.loadingStatus = 'loading'
        this.conversationsStore.filters.offset += this.conversationsStore.filters.limit
        this.searchConvos(true)
        .done((response) => {
          this.loadingStatus = response.length < this.conversationsStore.filters.limit ? 'end' : 'done'
          if (this.candidates.length) {
            this.selectHandler(this.candidates[0])
          }
        })
      }
    }
  },
  props: {
    activeConvoId: { required: true },
    selectConvo: { required: true },
    searchConvos: { required: true }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .conversations-container {
    vertical-align: top;
    display: inline-block;
    width: $conversations-width;
    background-color: $catskill-nav;
    height: calc(100% - #{$total-header-height});

    .top-section {
      background-color: $white;
      padding: 15px 25px;
      border-right: solid 0.5px rgba(200, 200, 200, 0.56);

      .create-new {
        margin-bottom: 15px;
        display: block;
      }
    }

    .filters-container {
      background-color: $white;
      border-right: solid 0.5px rgba(200, 200, 200, 0.56);

      .filters {
        padding: 0px 18px 15px 18px;
      }
    }

    .conversations {
      height: calc(100% - 256px);
      overflow-y: auto;

      &.is-sourcer {
        height: calc(100% - 366px);
      }

      &.filters-closed {
        height: calc(100% - 131px);
      }

      .candidate-container {
        padding: 10px 0px;
        border: solid 0.5px rgba(200, 200, 200, 0.56);
        border-top: 0px none;
        background-color: #f3f3f3;

        &:hover {
          cursor: pointer;
        }

        &:first-child {
          border-top: solid 0.5px rgba(200, 200, 200, 0.56);
        }

        img.star {
          margin-left: 9px;
          vertical-align: middle;
        }

        .candidate-image {
          width: 30px;
          height: 30px;

          @include circle-img;
          position: relative;
          display: inline-block;
          vertical-align: middle;
          margin-left: 7px;
          margin-right: 10px;
        }

        .middle-section {
          display: inline-block;
          vertical-align: middle;
          width: 125px;

          .candidate-name {
            color: $shamrock;
            font-size: 14px;
            font-weight: normal;
            display: block;
            @include text-ellipsis;
          }

          .last-message {
            display: block;
            margin-top: 3px;
            font-size: 10px;
            color: $dusty-gray;
            @include text-ellipsis;
          }
        }

        .total-count {
          display: inline-block;
          border-radius: 50%;
          height: 25px;
          width: 25px;
          color: $white;
          background-color: $dusty-gray;
          text-align: center;
          line-height: 25px;

          &.unread {
            background-color: $havelock;
          }
        }

        &.selected {
          background-color: #ffffff;
          border-right: 0px none;

          .candidate-name {
            font-weight: bold;
          }
        }
      }

    }
  }
</style>
