<template>
  <div class="app-container reports-container">

    <Loader :loader-visible="loaderVisible" />
    <CustomHeader />
    <Banner />

    <Conversations
      :activeConvoId="activeConvoId"
      :selectConvo="selectConvo"
      :searchConvos="searchConvos"
    />

    <div class="main-section">

      <div class="top-button-container">
        <span
          @click="starConvo"
          @mouseover="() => {starImg = hoverStar}"
          @mouseleave="() => {starImg = noHoverStar}"
          class="inbox-btn star"
          role="button"
        >
          <img v-svg-src="starImg" alt="star">
          STAR
        </span>

        <!-- TODO: hiding sms forward for now -->

        <span
          v-if="false"
          @click="forwardConvo"
          @mouseover="() => {forwardImg = hoverForward}"
          @mouseleave="() => {forwardImg = noHoverForward}"
          class="inbox-btn forward"
          role="button"
        >
          <img v-svg-src="forwardImg" alt="forawrd">
          FORWARD
        </span>

        <span
          @click="clearSequences"
          @mouseover="() => {clearImg = hoverClear}"
          @mouseleave="() => {clearImg = noHoverClear}"
          class="inbox-btn clear"
          role="button"
        >
          <img v-svg-src="clearImg" alt="clear sequences">
          CLEAR SEQUENCES
        </span>

        <span
          @click="archiveConvo"
          @mouseover="() => {archiveImg = hoverArchive}"
          @mouseleave="() => {archiveImg = noHoverArchive}"
          class="inbox-btn archive"
          role="button"
        >
          <img v-svg-src="archiveImg" alt="archive">
          ARCHIVE
        </span>

        <img
          :class="{'dropdown-button':true, 'active':dropdownOpen}"
          role="button"
          @click="toggleDropdown"
          @mouseover="() => {optionsImg = hoverOptions}"
          @mouseleave="() => {optionsImg = !dropdownOpen ? noHoverOptions: hoverOptions}"
          v-svg-src="optionsImg">
        <CustomSelect
          :customStyles="dropdownStyles"
          :items="dropdownItems"
          :selected="selectedAction"
          :onChange="actionChange"
          :button-hidden="true"
          :fixed-width-med="true"
          :menuMaxHeight="350"
          ref="customSelect"
          :onToggle="onToggle"
        />
      </div>

      <Inbox
        :activeConvoId="activeConvoId"
        :selectConvo="selectConvo"
      />

      <CandidateInfo
        :activeCandidateId="activeCandidateId"
        :activeConvoId="activeConvoId"
      />

    </div>
  </div>
</template>

<script>
import Banner from 'components/Banner'
import Loader from 'components/Loader'
import CustomHeader from 'components/Header'
import Conversations from 'components/Sections/Inbox/Conversations'
import Inbox from 'components/Sections/Inbox/Inbox'
import CandidateInfo from 'components/Sections/Inbox/CandidateInfo'
import CustomSelect from 'components/FormElements/CustomSelect'

import api from 'api'
import { conversationsStore, pusherStore, soundsStore, jobsStore, pagesStore, adminStore, accountStore, candidatesStore } from 'stores'
import { modals, candidateActions, alerts } from 'helpers'

import hoverOptions from 'img/candidates/options-white.svg'
import noHoverOptions from 'img/candidates/options.svg'
import hoverClear from 'img/clear-sequences-button-gray-selected.svg'
import noHoverClear from 'img/clear-sequences-button-gray-unselected.svg'
import hoverForward from 'img/forward-button-green-selected.svg'
import noHoverForward from 'img/forward-button-green-unselected.svg'
import hoverStar from 'img/star-button-yellow-selected.svg'
import noHoverStar from 'img/star-button-yellow-unselected.svg'
import hoverArchive from 'img/archive-button-red-selected.svg'
import noHoverArchive from 'img/archive-button-red-unselected.svg'

export default {
  components: {
    Banner,
    Loader,
    CustomHeader,
    Conversations,
    CustomSelect,
    Inbox,
    CandidateInfo
  },
  created () {
    if (!this.jobsStore.jobs.length || this.accountStore.account.is_sourced_req_admin) {
      api.ajax('reqs', {
        type: 'GET',
        data: {
          sourced_reqs: this.accountStore.account.is_sourced_req_admin ? 1 : 0
        }
      })
      .done((response) => {
        jobsStore.init(response)
      })
    }

    if (!this.pagesStore.pages.length && this.accountStore.account.is_sourced_req_admin) {
      api.ajax('page', {
        type: 'GET',
        data: {
          sourced_reqs: this.accountStore.account.is_sourced_req_admin ? 1 : 0
        }
      })
      .done((response) => {
        pagesStore.init(response)
      })
    }

    // Load our convo store after the accountStore has initited
    conversationsStore.clearFilters()
    this.searchConvos()

    // Watch for new messages
    this.pusherStore.channels.org.promise.done(() => {
      // Always unbind first to make sure we're not binding multiple times
      this.pusherStore.channels.org.channel.unbind('new_message')
      this.pusherStore.channels.org.channel.bind('new_message', (data) => {
        console.log('pusher event: new_message ', data)

        // Only add the convo if it meets the current filters
        let match = true

        // God mode filters
        if (this.accountStore.account.is_sourced_req_admin) {
          if (match && this.conversationsStore.filters.user_email) {
            let user = this.adminStore.users.find((user) => {
              return user.id == data.conversation.user
            })
            if (user) {
              match = user.email.toLowerCase().indexOf(this.conversationsStore.filters.user_email) === 0
            } else {
              match = false
            }
          }
          if (match && this.conversationsStore.filters.company) {
            let org = this.adminStore.organizations.find((value) => {
              return value.id == data.conversation.organization
            })
            if (org) {
              match = this.conversationsStore.filters.company == org.company.id
            } else {
              match = false
            }
          }
          if (match && this.conversationsStore.filters.organization) {
            match = this.conversationsStore.filters.organization == data.conversation.organization
          }
        }

        // Normal filters
        if (match && this.conversationsStore.filters.req) {
          match = data.conversation.external_candidate.req_ids.includes(this.conversationsStore.filters.req)
        }
        if (match && this.conversationsStore.filters.unread) {
          match = data.conversation.unread_count > 0
        }
        if (match && this.conversationsStore.filters.starred) {
          match = data.conversation.starred == 1
        }
        if (match && this.conversationsStore.filters.archived) {
          match = data.conversation.archived == 1
        }

        if (match) {
          // If it's not an inbound message, ignore it unless it's the current conversation
          if (!data.message.inbound && this.activeConvoId != data.conversation.id) {
            return false
          } else if (this.activeConvoId == data.conversation.id) {
            // Always mark the convo as read if it's our current convo
            data.conversation.unread_count = 0
            data.conversation.read = true
            this.markConvoAsRead(data.conversation.id)

            // If the message is in the current convo, check and see if we already have it
            let convo = this.conversationsStore.conversations.find((value) => {
              return value.id == data.conversation.id
            })
            if (convo) {
              let message = convo.messages.find((value) => {
                return value.id == data.message.id
              })
              if (message) {
                // If we already have the message then ignore
                return false
              }
            }
          }

          // Only play the sound if it's an inbound message
          if (data.message.inbound) {
            soundsStore.playSound('pop')
          }

          // Check if it's a new conversation or if we are just updating our store
          let index = this.conversationsStore.conversations.findIndex((convo) => {
            return convo.id == data.conversation.id
          })

          if (index !== -1) {
            conversationsStore.update(data.conversation)
            this.conversationsStore.conversations[index].messages.push(data.message)
          } else {
            data.conversation.messages = [data.message]
            conversationsStore.add([data.conversation])
          }
        }
      })
    })
  },
  watch: {
    'accountStore.account.is_sourced_req_admin': {
      handler (val) {
        // This watcher is incase they refresh the page in god mode
        if (val) {
          conversationsStore.clearFilters()
          this.searchConvos()
          // Reload jobs
          api.ajax('reqs', {
            type: 'GET',
            data: {
              sourced_reqs: this.accountStore.account.is_sourced_req_admin ? 1 : 0
            }
          })
          .done((response) => {
            jobsStore.init(response)
          })
          // Reload pages
          api.ajax('page', {
            type: 'GET',
            data: {
              sourced_reqs: this.accountStore.account.is_sourced_req_admin ? 1 : 0
            }
          })
          .done((response) => {
            pagesStore.init(response)
          })
        }
      }
    }
  },
  computed: {
    activeCandidateId () {
      let id = 0
      $.each(this.conversationsStore.conversations, (index, convo) => {
        if (convo.id == this.activeConvoId && convo.external_candidate) {
          id = convo.external_candidate.id
          this.activeCandidate = convo.external_candidate
          return false
        }
      })
      return id
    },
    dropdownItems () {
      let actions = [
        { value: 'pause-messages', label: 'Pause Messages' },
        { value: 'resume-messages', label: 'Resume Messages' },
        { value: 'wrong-number', label: 'Wrong Number' },
        { value: 'do-not-sms', label: 'Do Not SMS' },
        { value: 'do-not-email', label: 'Do Not Email' },
        { value: 'do-not-contact', label: 'Do Not Contact' }
      ]
      if (this.adminStore.is_system_admin) {
        actions.push({ value: 'find', label: 'Find Personal Info' })
      }
      actions.unshift({ value: 'select', label: 'Select Action' })
      return actions
    },
    activeConvo () {
      return this.conversationsStore.conversations.find((value) => {
        return value.id == this.activeConvoId
      })
    }
  },
  data () {
    return {
      conversationsStore: conversationsStore.get(),
      pusherStore: pusherStore.get(),
      jobsStore: jobsStore.get(),
      pagesStore: pagesStore.get(),
      adminStore: adminStore.get(),
      accountStore: accountStore.get(),
      candidatesStore: candidatesStore.get(),
      activeConvoId: 0,
      activeCandidate: {},
      dropdownOpen: false,
      selectedAction: { value: 'select' },
      optionsImg: noHoverOptions,
      starImg: noHoverStar,
      forwardImg: noHoverForward,
      clearImg: noHoverClear,
      archiveImg: noHoverArchive,
      noHoverArchive,
      noHoverClear,
      noHoverForward,
      noHoverStar,
      noHoverOptions,
      hoverArchive,
      hoverForward,
      hoverClear,
      hoverStar,
      hoverOptions,
      dropdownStyles: {
        position: 'absolute',
        left: '450px',
        width: '0',
        height: '20px'
      }
    }
  },
  methods: {
    searchConvos (loadMore = false) {
      // Reset the active convo so it picks the top of the list
      this.activeConvoId = 0
      // Check if we are in god mode
      this.conversationsStore.filters.user_email = this.accountStore.account.is_sourced_req_admin
        ? `${this.accountStore.account.email.split('@')[0].toLowerCase()}+` : ''
      this.conversationsStore.filters.all_orgs = this.accountStore.account.is_sourced_req_admin ? 1 : 0
      return api.ajax('conversations', {
        type: 'GET',
        data: this.conversationsStore.filters
      })
      .done((response) => {
        console.log('Conversations ', response)

        $.each(response, (index, convo) => {
          convo.messages = []
        })

        if (loadMore) {
          conversationsStore.add(response)
        } else {
          conversationsStore.init(response)
        }

        // TODO: figure out how to select the convo in the url
        // if (this.$route.params.conversation_id) {
        //   this.selectConvo(this.$route.params.conversation_id);
        // }
      })
      .fail((e) => {
        console.error('Failed getting conversations ', e)
      })
    },
    selectConvo (conversationId) {
      this.activeConvoId = parseInt(conversationId)
      this.$router.replace({ path: `/inbox/${this.activeConvoId}` })
    },
    starConvo () {
      api.ajax(`conversations/${this.activeConvo.id}/set-attributes`, {
        type: 'PATCH',
        data: {
          starred: true,
          archived: false
        }
      })
      .done((response) => {
        // If the archived filter is applied, remove it from the store, otherwise, update it
        if (!this.conversationsStore.filters.archived) {
          this.activeConvo.starred = true
          this.activeConvo.archived = false
          conversationsStore.update(this.activeConvo)
        } else {
          conversationsStore.delete(this.activeConvo)
          this.activeConvoId = 0
        }
      })
    },
    forwardConvo () {
      if (this.activeConvoId) {
        modals.show({
          component: 'SettingsUsersPanel',
          props: {
            hideInvite: true,
            headerText: this.accountStore.account.is_sourced_req_admin ? 'Forward to a customer' : 'Forward to team members',
            allUsers: !!this.accountStore.account.is_sourced_req_admin,
            selectFunction: (user) => {
              let name = user.first_name || user.last_name ? `${user.first_name} ${user.last_name}` : user.email
              api.ajax('sms/forward', {
                type: 'POST',
                data: {
                  conversation_id: this.activeConvoId,
                  target_user_id: user.id
                }
              })
              .done((response) => {
                const convo = response.conversation
                convo.messages = response.messages
                conversationsStore.add(convo)
                this.activeConvoId = convo.id
                alerts.show({
                  status: 'success',
                  message: `Woohoo! You succesfully forwarded this SMS text message conversation to ${name}!`
                })
              })
              .fail((e) => {
                alerts.show({
                  status: 'error',
                  message: `Uh oh! There was an error forwarding your SMS text message to ${name}. Please try again!`
                })
              })
            }
          }
        })
      }
    },
    clearSequences () {
      let _this2 = this
      _this2.candidate = this.activeCandidate
      _this2.checkedCandidates = [_this2.candidate.id]
      candidateActions.clearMessages.apply(_this2)
    },
    archiveConvo () {
      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to archive this conversation with ${this.activeCandidate.first_name} ${this.activeCandidate.last_name}? It will no longer appear under All Conversations, but you can filter by Archived conversations if you want to view it later.`,
          confirm: () => {
            api.ajax(`conversations/${this.activeConvo.id}/set-attributes`, {
              type: 'PATCH',
              data: {
                starred: false,
                archived: true
              }
            })
            .done((response) => {
              // If the archived filter is applied, update the convo, otherwise, remove it from the store
              if (this.conversationsStore.filters.archived) {
                this.activeConvo.starred = false
                this.activeConvo.archived = true
                conversationsStore.update(this.activeConvo)
              } else {
                conversationsStore.delete(this.activeConvo)
                this.activeConvoId = 0
              }
            })
          },
          confirmText: 'Yes, archive it!',
          cancelText: 'Cancel'
        }
      })
    },
    toggleDropdown () {
      this.$refs.customSelect.toggle()
    },
    onToggle (state) {
      this.dropdownOpen = state
      this.optionsImg = state ? hoverOptions : noHoverOptions
    },
    actionChange (item) {
      let action = item.value
      let _this2 = this
      _this2.candidate = this.activeCandidate
      _this2.checkedCandidates = [_this2.candidate.id]
      switch (action) {
        case 'pause-messages':
          candidateActions.pauseMessages.apply(_this2)
          break
        case 'resume-messages':
          candidateActions.resumeMessages.apply(_this2)
          break
        case 'find':
          candidateActions.findPersonalInfo.apply(_this2)
          break
        case 'wrong-number':
          this.markWrongNumber()
          break
        case 'do-not-sms':
          candidateActions.optOut.apply(_this2, ['sms'])
          break
        case 'do-not-email':
          candidateActions.optOut.apply(_this2, ['email'])
          break
        case 'do-not-contact':
          candidateActions.optOut.apply(_this2, ['all'])
          break
      }

      // Reset dropdown after selecting
      this.selectedAction = { value: 'select' }
    },
    markConvoAsRead (id) {
      api.ajax(`conversations/${id}/set-attributes`, {
        type: 'PATCH',
        data: {
          read: true
        },
        disableOverlay: true
      })
    },
    markWrongNumber () {
      modals.show({
        component: 'Confirm',
        props: {
          message: `Are you sure you want to mark this conversation as a wrong number? This will also remove the number associated with the candidate.`,
          confirm: () => {
            api.ajax(`conversations/${this.activeConvoId}/set-attributes`, {
              type: 'PATCH',
              data: {
                wrong_number: true,
                archived: true
              }
            })
            .done((response) => {
              // Find and remove the phone from the candidate's phone array
              const conversation = this.conversationsStore.conversations.find((value) => {
                return value.id == this.activeConvoId
              })
              // Mark the convo as a wrong number in the store
              conversation.wrong_number = true
              const candidate = this.candidatesStore.candidates.find((value) => {
                return value.id == conversation.external_candidate.id
              })
              const phoneIndex = candidate.phones.findIndex((value) => {
                return value.number == conversation.external_endpoint
              })
              // If it's found, remove it from the array and save
              if (phoneIndex !== -1) {
                candidate.phones.splice(phoneIndex, 1)
                api.ajax(`candidates/${this.activeCandidateId}`, {
                  type: 'PUT',
                  data: {
                    phones: candidate.phones
                  },
                  disableOverlay: true
                })
              }
              alerts.show({
                status: 'success',
                message: `You successfully approved marked this conversation as a wrong number!`
              })
            })
            .fail((e) => {
              alerts.show({
                status: 'error',
                message: 'Uh oh! For some reason, there was an error marking this conversation as a wrong number.'
              })
            })
          },
          confirmText: 'Yes, mark it!',
          cancelText: 'Cancel'
        }
      })
    }
  },
  props: ['loaderVisible', 'debugMode']
}
</script>

<style lang="scss">
  @import "~styles/variables";

  .main-section {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - #{$conversations-width});
    height: calc(100% - #{$total-header-height});

    .top-button-container {
      height: $inbox-buttons-height;
      line-height: $inbox-buttons-height;
      padding-left: 20px;
      background-color: $white;
      width: 100%;
      z-index: 2;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
      position: relative;

      // Defined here instead of customStyles: so we can have hover style
      span.inbox-btn {
        margin-right: 15px;
        height: 35px;
        line-height: 33px;
        background: $white;
        display: inline-block;
        vertical-align: middle;
        padding: 0px 14px;
        border-radius: 2px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.8px;

        @include transition-sm-med-ease;

        &.star {
          border: 1px solid $warning;
          color: $warning;
          &:hover {
            background-color: $warning;
            color: $white;
          }
        }

        &.forward {
          border: 1px solid $turquoise;
          color: $turquoise;
          &:hover {
            background-color: $turquoise;
            color: $white;
          }
        }

        &.clear {
          border: 1px solid $dusty-gray;
          color: $dusty-gray;
          &:hover {
            background-color: $dusty-gray;
            color: $white;
          }
        }

        &.archive {
          border: 1px solid $danger;
          color: $danger;
          &:hover {
            background-color: $danger;
            color: $white;
          }
        }

        img {
          margin-right: 10px;
          vertical-align: middle;
        }
      }

      .x-out-button {
        padding: 6px;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }

    .dropdown-button {
      display: inline-block;
      vertical-align: middle;
      padding: 10px;
      border-radius: 2px;

      &:hover, &:focus, &.active {
        background-color: $dusty-gray;
      }
    }

  }

</style>
