<template>
  <div class="inbox-container">
    <Tablist
      v-show="sendingState === 'done'"
      :tabs="composeTabs"
      :selectedTab="activeComposeTab"
      @change="tabChange"
      :customStyles="tabStyles"
    />
    <div v-show="sendingState !== 'done'" class="sending-container">
      <span class="sending-message">{{sendingMessage}}</span>
      <span class="progress-bar">
        <span :class="progressClasses"></span>
      </span>
    </div>
    <div :class="convoClasses" ref="messagesContainer">
      <div
        v-for="message, index in messages"
        :class="{'message-container': true, 'user': !message.inbound, 'candidate': message.inbound, 'before-forward': index < forwardIndex}"
      >
        <div v-if="typeof messageText(message) === 'string'" class="message-contents">
          <fieldset v-if="dayCheck(index)" class="day-break">
            <legend>{{dayCheck(index)}}</legend>
          </fieldset>
          <span
            v-if="message.inbound && profileCheck(index)"
            class="image"
            :style="profileImageStyle(conversation.external_candidate.profile_photo_url, placeholderImg)"
          ></span>
          <span :class="{'message':true,'no-image':!profileCheck(index)}">
            <img
              v-if="profileCheck(index)"
              v-svg-src="whichCurl(message, index)"
              class="chat-bubble-curl"
            >
            <span
              v-if="timestampCheck(index)"
              class="info"
              v-html="messageInfo(message)"
            ></span>
            <span class="text" v-html="messageText(message)"></span>
          </span>
          <span
            v-if="!message.inbound && profileCheck(index)"
            class="image"
            :style="profileImageStyle(accountStore.account.profile_photo_url, placeholderImg)"
          ></span>
        </div>
        <div v-else class="forward-message">
          <h2>
            <Tooltip :content="messageText(message).tooltip" :white="true" :customStyles="tooltipStyles" />
            HANDOFF!
          </h2>
          <span
            class="image"
            :style="profileImageStyle(messageText(message).from_user_obj.profile_photo_url, placeholderImg)"
          ></span>
          <img class="white-arrow" v-svg-src="whiteArrow">
          <span
            class="image"
            :style="profileImageStyle(messageText(message).to_user_obj.profile_photo_url, placeholderImg)"
          ></span>
          <img class="high5" v-svg-src="high5">
          <div class="info-text">You are starting a new conversation!</div>
        </div>
      </div>
      <div v-if="conversation.wrong_number" class="wrong-number-container">
        <span class="wrong-number-marker">
          <img v-svg-src="wrongNumberWhiteImg">
          MARKED AS WRONG NUMBER
        </span>
      </div>
    </div>
    <RichTextEditor
      v-if="textBox"
      :content="smsText"
      :onChange="smsChanged"
      :plainText="true"
      :height="90"
      :onEnter="sendMessage"
      :linkList="linkList"
      :disabled="conversation.wrong_number"
    />
    <div class="characters-used">
      <span :class="{'amount': true, 'warning': smsText.length>105, 'danger': smsText.length>120}">{{120 - smsText.length}}</span>
    </div>
    <span :class="{'send-button': true, 'disabled': conversation.wrong_number || !smsText}" @click="sendMessage" role="button">
      <img v-svg-src="sendIcon">
      SEND
    </span>
    <span class="preview-button" :class="{disabled: !smsText}" @click="previewClick" role="button">
      <img v-svg-src="previewButton">
      PREVIEW
    </span>
    <CustomSelect
      :disabled="conversation.wrong_number"
      :items="templateItems"
      :onChange="templateChange"
      :selected="selectedTemplate"
      :customStyles="selectStyles"
      :icon="templateImg"
      :forceRenderAbove="true"
      customId="test-templates-dropdown"
    />
  </div>
</template>

<script>

import Tablist from 'components/Tools/Tablist'
import RichTextEditor from 'components/Tools/RichTextEditor'
import CustomSelect from 'components/FormElements/CustomSelect'
import Tooltip from 'components/Tools/Tooltip'

import api from 'api'
import { conversationsStore, accountStore, jobsStore, pagesStore, templatesStore, candidatesStore, usersStore } from 'stores'
import { profileImageStyle, alerts, modals, messageParser } from 'helpers'
import moment from 'moment'
import momentTimezone from 'moment-timezone'

// import emailImg from 'img/email.svg'
import smsImg from 'img/sms.svg'
// import clockImg from 'img/clock.svg'
// import emailActiveImg from 'img/email-active.svg'
import smsActiveImg from 'img/sms-active.svg'
// import clockActiveImg from 'img/clock-active.svg'
import sendIcon from 'img/send-email.svg'
import placeholderImg from 'img/account-placeholder.svg'
import userCurl from 'img/chat-bubble-curl-user.svg'
import candidateCurl from 'img/chat-bubble-curl-candidate.svg'
import wrongCurl from 'img/chat-bubble-curl-wrong-number.svg'
import templateImg from 'img/template.svg'
import wrongNumberWhiteImg from 'img/wrong-number-white.svg'
import wrongNumberImg from 'img/wrong-number-tab.svg'
import wrongNumberActiveImg from 'img/wrong-number-tab-active.svg'
import high5 from 'img/high5.svg'
import whiteArrow from 'img/white-arrow.svg'
import previewButton from 'img/job-modal-preview.svg'

export default {
  components: {
    Tablist,
    RichTextEditor,
    CustomSelect,
    Tooltip
  },
  data () {
    return {
      accountStore: accountStore.get(),
      conversationsStore: conversationsStore.get(),
      candidatesStore: candidatesStore.get(),
      pagesStore: pagesStore.get(),
      jobsStore: jobsStore.get(),
      usersStore: usersStore.get(),
      smsText: '',
      sendingMessage: '',
      pendingSends: 0,
      sendingState: 'done', // start, sending, sent, and done
      sendingInterval: null,
      timestampInterval: 300, // in seconds
      textBox: true,
      selectedTemplate: { value: 'select' },
      forwardIndex: 0,
      forwardObj: null,
      profileImageStyle,
      placeholderImg,
      sendIcon,
      userCurl,
      candidateCurl,
      wrongCurl,
      templateImg,
      wrongNumberImg,
      wrongNumberActiveImg,
      wrongNumberWhiteImg,
      high5,
      whiteArrow,
      previewButton,
      tabStyles: {
        'margin-top': '5px',
        height: '35px'
      },
      selectStyles: {
        display: 'inline-block',
        float: 'right',
        width: '180px'
      },
      tooltipStyles: {
        'vertical-align': 'middle'
      }
    }
  },
  created () {
    this.loadConvo()
  },
  mounted () {
    this.scrollToBottom()
  },
  computed: {
    candidate () {
      let candidate = {}
      if (this.conversation.external_candidate) {
        candidate = this.conversationsStore.candidates.find((value) => {
          return value.id == this.conversation.external_candidate.id
        })
      }
      return candidate
    },
    linkList () {
      let linkList = []
      $.each(this.jobsStore.jobs, (key, value) => {
        // If we're in god mode filter the link list to the current conversation
        if (this.accountStore.account.is_sourced_req_admin && value.organization != this.conversation.organization) {
          return true
        }
        // Only push live jobs into the linkList
        if (value.active) {
          linkList.push({
            text: `Job - ${value.title ? value.title : 'Untitled'}`,
            href: `{{open_jobs.${value.id}.published_url}}`,
            target: '_blank'
          })
        }
      })
      $.each(this.pagesStore.pages, (key, value) => {
        // If we're in god mode filter the link list to the current conversation
        if (this.accountStore.account.is_sourced_req_admin && value.organization != this.conversation.organization) {
          return true
        }
        // Only push published pages into the linkList
        if (value.page_route != null) {
          linkList.push({
            text: `Page - ${value.title ? value.title : 'Untitled'}`,
            href: `{{pages['${value.page_route}'].url}}`,
            target: '_blank'
          })
        }
      })
      return linkList
    },
    conversation () {
      let conversation = {}
      if (this.activeConvoId) {
        $.each(this.conversationsStore.conversations, (index, convo) => {
          if (this.activeConvoId == convo.id) {
            conversation = convo
            // If it's a wrong number set the profile image to the placeholder
            if (conversation.wrong_number) conversation.external_candidate.profile_photo_url = ''
            return false
          }
        })
      }
      return conversation
    },
    convoClasses () {
      return {
        'messages-container': true,
        'wrong-number': this.conversation.wrong_number
      }
    },
    messages () {
      return this.conversation.messages || []
    },
    composeTabs () {
      let tabs = []
      if (this.candidate.conversations) {
        this.candidate.conversations.forEach((convo) => {
          tabs.push({ id: convo.id, title: `SMS Text ${this.conversation.unread_count ? `(${this.conversation.unread_count})` : ''}`, image: (convo.wrong_number ? wrongNumberImg : smsImg), activeImage: (convo.wrong_number ? wrongNumberActiveImg : smsActiveImg) })
        })
      }
      // TODO: This will eventually need to change for email convos
      // let composeTabs = [
      //   { title: 'SMS Text', image: smsImg, activeImage: smsActiveImg }
      //   // {title: "Email", image: emailImg, activeImage: emailActiveImg},
      //   // {title: "Notification", image: clockImg, activeImage: clockActiveImg}
      // ]
      return tabs
    },
    progressClasses () {
      let classes = { progress: true }
      classes[this.sendingState] = true
      return classes
    },
    timezone () {
      return this.accountStore.account.timezone || 'UTC'
    },
    templateItems () {
      let items = [{ value: 'select', label: 'Templates' }, { value: 'use-template', label: 'Use a template' }]
      if (this.smsText) {
        items.splice(1, 0, { value: 'create', label: 'Save new template' })
      }
      return items
    },
    activeComposeTab () {
      return this.composeTabs.findIndex((tab) => {
        return this.activeConvoId == tab.id
      })
    }
  },
  methods: {
    templateChange (item) {
      // TODO: need to make this modular for saving email templates
      this.selectedTemplate = { value: 'select' }
      switch (item.value) {
        case 'create':
          modals.show({
            component: 'CreateNewModal',
            props: {
              template: {
                name: '',
                description: '',
                text: this.smsText,
                template_type: 'sms'
              },
              modalType: 'template',
              customCallback: (template) => {
                templatesStore.addTemplates([template])
                alerts.show({
                  message: `You successfully created the template “${template.name}”!`,
                  status: 'success'
                })
              }
            }
          })
          break
        case 'use-template':
          this.openTemplateModal('sms')
          break
      }
    },
    reloadTextBox () {
      this.textBox = false
      this.$nextTick(() => {
        this.textBox = true
      })
    },
    loadConvo () {
      if (this.activeConvoId) {
        api.ajax(`conversations/${this.activeConvoId}`, {
          type: 'GET',
          data: {
            mark_read: 1
          }
        })
        .done((response) => {
          console.log('Conversation: ', response)
          let conversation = response.conversation
          conversation.messages = response.messages
          conversationsStore.update(conversation)
        })
        .fail((e) => {
          console.error('Failed to load conversation: ', e)
        })
      }
    },
    openTemplateModal (type) {
      let insertTemplate
      switch (type) {
        case 'email':
          // TODO
          break
        case 'sms':
          insertTemplate = (template) => {
            this.smsText = template.text
          }
          break
      }
      modals.show({
        component: 'TemplatesModal',
        props: {
          insertTemplate: insertTemplate,
          type: type
        }
      })
    },
    smsChanged (text) {
      this.smsText = text
    },
    tabChange (index) {
      this.selectConvo(this.composeTabs[index].id)
    },
    dayCheck (index) {
      if (index) {
        return moment(this.messages[index].timestamp).tz(this.timezone).format('D') !== moment(this.messages[index - 1].timestamp).tz(this.timezone).format('D') ? moment(this.messages[index].timestamp).tz(this.timezone).format('dddd, M/D/YYYY') : false
      }
      return moment(this.messages[index].timestamp).tz(this.timezone).format('dddd, M/D/YYYY')
    },
    timestampCheck (index) {
      return index ? this.messages[index].inbound != this.messages[index - 1].inbound || moment(this.messages[index].timestamp).unix() - moment(this.messages[index - 1].timestamp).unix() > this.timestampInterval : true
    },
    messageInfo (message) {
      let time = moment(message.timestamp).tz(this.timezone).format('h:mmA z')
      return message.inbound ? `<b>${message.external_endpoint} ${this.conversation.wrong_number ? '(wrong number)' : ''} -</b> ${time}` : time
    },
    profileCheck (index) {
      return index + 1 < this.messages.length ? this.messages[index + 1].inbound != this.messages[index].inbound || moment(this.messages[index + 1].timestamp).unix() - moment(this.messages[index].timestamp).unix() > this.timestampInterval : true
    },
    whichCurl (message, index) {
      return message.inbound
        ? this.conversation.wrong_number || index < this.forwardIndex
          ? this.wrongCurl
          : this.candidateCurl
        : this.userCurl
    },
    messageText (message) {
      // Check if it's a forward message
      try {
        const messObj = JSON.parse(message.text)
        switch (messObj.type) {
          case 'forward':
            messObj.from_user_obj = this.usersStore.users.find((user) => { return user.id == messObj.from_user }) || { profile_photo_url: '' }
            messObj.to_user_obj = this.usersStore.users.find((user) => { return user.id == messObj.to_user }) || { profile_photo_url: '' }
            this.forwardIndex = this.messages.findIndex((value) => { return value.id == message.id })
            let userName = messObj.from_user_obj.first_name || messObj.from_user_obj.last_name ? `${messObj.from_user_obj.first_name} ${messObj.from_user_obj.last_name}` : messObj.from_user_obj.email
            let can = this.conversation.external_candidate
            messObj.tooltip = `${userName} handed off a conversation with ${can.first_name} ${can.last_name}, because ${can.first_name} is ready to talk! You can see their forwarded conversation above, but your conversation with ${can.first_name} is entirely separate. Be sure to message ${can.first_name} as soon as possible!`
            return messObj
        }
      } catch (e) {
        // Nothing needs to be done here
      }
      // Find all emails and phones in a message if it's from the candidate
      let text = message.text
      if (message.inbound) {
        messageParser.emails(text).forEach((value) => {
          let re = new RegExp(messageParser.escapeRegex(value), 'g')
          text = text.replace(re, `<a href="javascript:void(0)" class="add-to-candidate email">${value}</a>`)
        })
        messageParser.phones(text).forEach((value) => {
          let re = new RegExp(messageParser.escapeRegex(value), 'g')
          text = text.replace(re, `<a href="javascript:void(0)" class="add-to-candidate phone">${value}</a>`)
        })
        // NOTE: Since we can't have dynamic templates in vue, we need to register the click event in jquery
        this.$nextTick(() => {
          $(this.$refs.messagesContainer).find('.add-to-candidate').unbind().click((e) => {
            e.stopPropagation()
            $('.add-to-candidate-container').hide()
            this.addToCandidateClick(e, message.id)
          })
          // Close all add to candidate containers when you click outside
          $(document).unbind().click((e) => {
            $('.add-to-candidate-container').hide()
          })
        })
      }
      return text
    },
    addToCandidateClick (e, id) {
      const $el = $(e.target)
      const type = $el.hasClass('email') ? 'email' : 'phone'
      // See if we already have the dropdown element
      let $addEl = $(`#message-${id}.${type}`)
      if (!$addEl.length) {
        const $newEl = $(`
          <div id="message-${id}" class="add-to-candidate-container ${type}">
            <span class="primary">Save as ${type == 'email' ? 'Primary Email' : 'Mobile Number'}</span>
            <span class="alertnate">Save as ${type == 'email' ? 'Alternate Email' : 'Home Number'}</span>
          </div>
        `).css({ // Calcuate the absolute position based off the click event
          top: e.pageY,
          left: e.pageX
        })
        $('body').append($newEl)
        // Add the data to the element to save later
        $(`#message-${id}.${type}`).data({ value: $el.text() })
        $(`#message-${id}.${type} > span`).unbind().click((e) => {
          let value = $(e.target).parent().data().value
          let primary = $(e.target).hasClass('primary')
          type == 'email' ? this.saveCandidateEmail(value, primary) : this.saveCandidatePhone(value, primary)
        })
      } else { // Otherwise toggle it
        $addEl.css({
          top: e.pageY,
          left: e.pageX
        }).toggle()
      }
    },
    saveCandidateEmail (email, primary) {
      const emails = [].concat(this.candidate.emails)
      primary ? emails.unshift({ address: email }) : emails.push({ address: email })
      api.ajax(`candidates/${this.candidate.id}`, {
        type: 'PUT',
        data: { emails: emails }
      })
      .done((response) => {
        this.candidate.emails = response.candidate.emails
        let message = primary
          ? `Great! You successfully changed ${this.candidate.first_name} ${this.candidate.last_name}’s primary email to "${email}"!`
          : `Great! You successfully added the email "${email}" to ${this.candidate.first_name} ${this.candidate.last_name}!`
        alerts.show({
          message: message,
          status: 'success'
        })
      })
      .fail((e) => {
        let message = primary
          ? `Uh oh! There was an error changing ${this.candidate.first_name} ${this.candidate.last_name}’s primary email. Please check and try again!`
          : `Uh oh! There was an error adding this email to ${this.candidate.first_name} ${this.candidate.last_name}. Please check and try again!`
        alerts.show({
          message: message,
          status: 'error'
        })
      })
    },
    saveCandidatePhone (phone, primary) {
      const phones = [].concat(this.candidate.phones)
      const type = primary ? 'mobile' : 'home'
      phones.unshift({ type: type, number: phone })
      api.ajax(`candidates/${this.candidate.id}`, {
        type: 'PUT',
        data: { phones: phones }
      })
      .done((response) => {
        this.candidate.phones = response.candidate.phones
        alerts.show({
          message: `Great! You successfully changed ${this.candidate.first_name} ${this.candidate.last_name}’s primary ${type} number to "${phone}"!`,
          status: 'success'
        })
      })
      .fail((e) => {
        alerts.show({
          message: `Uh oh! There was an error changing ${this.candidate.first_name} ${this.candidate.last_name}’s primary ${type} number. Please check and try again!`,
          status: 'error'
        })
      })
    },
    sendMessage () {
      if (this.conversation.conversation_type == 'sms' && this.smsText && !this.conversation.wrong_number) {
        this.pendingSends++
        const convoId = this.conversation.id
        api.ajax(`conversations/${convoId}`, {
          type: 'PATCH',
          data: {
            text: this.smsText,
            simulate: window.e2e_testing_mode ? 1 : 0
          },
          disableOverlay: true
        })
        .done((response) => {
          console.log('text sent ', response)
          this.pendingSends--
          // Incase they switch conversations before the send finishes
          if (this.conversation.id == convoId) this.conversation.messages.push(response)
        })
        .fail((e) => {
          alerts.show({
            message: e.responseText,
            status: 'error'
          })
          this.pendingSends = -1
        })
        this.smsText = ''
      }
    },
    previewClick () {
      const requestObject = {
        text: this.smsText,
        candidate_id: this.candidate.id
      }
      api.ajax('templates/preview', {
        type: 'POST',
        data: requestObject
      })
      .done(response => {
        modals.show({
          component: 'PreviewModal',
          props: {
            hideXout: true,
            preview: response,
            type: 'sms',
            containerStyles: {
              width: '576px'
            }
          }
        })
      })
    },
    scrollToBottom () {
      // Wrap in timeout to give time for view render
      this.$nextTick(() => {
        let cont = $(this.$refs.messagesContainer)
        cont.scrollTop(cont.prop('scrollHeight'))
      })
    }
  },
  watch: {
    activeConvoId: {
      handler (newVal, oldVal) {
        if (newVal != oldVal) {
          this.loadConvo()
          this.reloadTextBox()
          this.forwardIndex = 0
        }
      }
    },
    messages: {
      handler (val) {
        this.scrollToBottom()
      }
    },
    pendingSends: {
      handler (val) {
        if (val > 0 && !this.sendingInterval) {
          let ellipsis = 1
          let countUp = true
          this.sendingState = 'start'
          this.sendingMessage = 'SENDING'
          this.$nextTick(() => {
            this.sendingInterval = setInterval(() => {
              if (ellipsis == 1) countUp = true
              if (ellipsis == 3) countUp = false
              countUp ? ellipsis++ : ellipsis--
              this.sendingState = 'sending'
              this.sendingMessage = `SENDING${'.'.repeat(ellipsis)}`
            }, 500)
          })
        } else if (val == 0 && this.sendingInterval) {
          this.sendingState = 'sent'
          this.sendingMessage = 'YAY! MESSAGE SENT!'
          clearInterval(this.sendingInterval)
          this.sendingInterval = null
          setTimeout(() => {
            if (!this.sendingInterval) this.sendingState = 'done'
          }, 3000)
        } else if (val == -1) {
          if (this.sendingInterval) clearInterval(this.sendingInterval)
          this.sendingInterval = null
          this.sendingState = 'error'
          this.sendingMessage = 'UH OH! MESSAGE FAILED TO SEND!'
          this.pendingSends = 0
          setTimeout(() => {
            if (!this.sendingInterval) this.sendingState = 'done'
          }, 3000)
        }
      }
    }
  },
  beforeDestroy () {
    // Remove all our appended dropdowns
    $('.add-to-candidate-container').remove()
  },
  props: {
    activeConvoId: { required: true },
    selectConvo: { required: true }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .inbox-container {
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.24);
    padding: 0px 20px 20px 20px;
    vertical-align: top;
    width: calc(100% - 335px);
    height: calc(100% - #{$inbox-buttons-height});

    .sending-container {
      margin-top: 9px;
      text-align: center;
      height: 31px;

      .sending-message {
        font-size: 14px;
        letter-spacing: 2px;
        text-align: left;
        color: $tundora;
      }

      .progress-bar {
        margin-top: 3px;
        display: block;
        background-color: $alto;
        font-size: 0px;
        text-align: left;

        .progress {
          background-color: $turquoise;
          display: inline-block;
          height: 6px;
          transition: all .5s ease-in-out;

          &.start {
            width: 0%;
          }

          &.sending {
            width: 90%;
          }

          &.sent {
            width: 100%;
          }

          &.done {
            width: 0%;
          }

          &.error {
            width: 100%;
            background-color: $danger;
          }
        }
      }
    }

    .messages-container {
      height: calc(100% - 220px);
      padding: 10px;
      background-color: $gallery;
      overflow-y: auto;

      .message-container {
        &.user {
          text-align: right;

          .message {
            &.no-image {
              margin-right: 52px;
            }

            .text {
              background-color: #ffffff;
            }

            .chat-bubble-curl {
              right: -5px;
              bottom: -3px;
              transform: rotate(-32deg);
            }
          }
        }

        &.candidate {
          text-align: left;

          .message {
            &.no-image {
              margin-left: 52px;
            }
            .text {
              color: #ffffff;
              background-color: $havelock;
            }

            .chat-bubble-curl {
              left: -5px;
              bottom: -3px;
              transform: rotate(32deg);
            }
          }
        }

        .day-break {
          font-weight: 600;
          line-height: 1.6;
          letter-spacing: 0.2px;
          text-align: center;
          margin: 15px 30px 0px 30px;
          border: 0px none;
          border-top: 1px solid $dusty-gray;
          padding: 0px;

          legend {
            padding: 0px 10px;
          }
        }

        .message {
          max-width: 250px;
          display: inline-block;
          margin: 0px 15px;
          vertical-align: bottom;
          text-align: left;
          position: relative;

          .info {
            display: block;
            margin-bottom: 3px;
            font-size: 10px;
            margin-top: 15px;
            width: 0px;
            white-space: nowrap;
          }

          .text {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 8px;
            font-size: 14px;
            margin-top: 4px;
            word-break: break-word;
          }

          .chat-bubble-curl {
            position: absolute;
          }
        }

        .image {
          width: 30px;
          height: 30px;

          @include circle-img;
          position: relative;
          display: inline-block;
          vertical-align: middle;
          margin-right: 7px;
        }

        .forward-message {
          background-color: $barney;
          text-align: center;
          color: $white;
          margin: 20px -10px 0px -10px;
          padding: 10px 0px;

          h2 {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.2;
            letter-spacing: 1.8px;
          }

          .image {
            height: 40px;
            width: 40px;
            margin: 0px 6px;
            border: 1px solid $white;
          }

          .high5 {
            display: block;
            margin: 0px auto 10px auto;
          }

          .info-text {
            font-size: 12px;
            font-weight: 600;
            line-height: 1.6;
            letter-spacing: 0.2px;
          }
        }

        &.before-forward {
          opacity: 0.75;

          &.candidate .text {
            background-color: $dusty-gray;
          }
        }
      }

      &.wrong-number {
        .message-container.candidate .text {
          background-color: $dusty-gray;
        }
      }

      .wrong-number-container {
        margin: 30px 0px;
        text-align: center;

        .wrong-number-marker {
          padding: 4px 10px;
          border-radius: 2px;
          background-color: $violet;
          color: $white;
          display: inline-block;
          font-weight: bold;
          letter-spacing: 1.2px;

          img {
            vertical-align: middle;
            margin-right: 12px;
          }
        }
      }
    }

    .characters-used {
      display: inline-block;
      letter-spacing: 0.2px;
      color: $tundora;

      .amount {
        font-weight: bold;
        margin-left: 4px;
        border-radius: 2px;
        padding: 1px 8px;
        color: #ffffff;
        background-color: $alto;

        &.warning {
          background-color: $warning;
        }

        &.danger {
          background-color: $danger;
        }
      }
    }

    .send-button {
      margin-left: 30px;
      display: inline-block;
      float: right;
      background-color: $turquoise;
      border-radius: 2px;
      color: $white;
      text-align: center;
      letter-spacing: 1.8px;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 20px;

      @include transition-sm-med-ease;

      &:hover {
        background-color: $half-baked;
      }

      &.disabled {
        background-color: $alto;

        &:hover {
          cursor: not-allowed;
        }
      }

      img {
        margin-right: 15px;
        vertical-align: middle;
      }
    }
  }
  .preview-button {
    margin-left: 30px;
    display: inline-block;
    float: right;
    border-radius: 2px;
    color: $white;
    text-align: center;
    background-color: $barney;
    letter-spacing: 1.8px;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 20px;

    @include transition-sm-med-ease;

    &:hover {
      background-color: $barney-hover;
    }

    img {
      vertical-align: middle;
      margin-right: 15px;
      width: 19px;
      height: 19px;
    }

    &.disabled {
      background-color: $alto;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
</style>
