<template>
  <div class="main-container">
    <div class="panel">
      <img v-svg-src="comingSoon">
    </div>
  </div>
</template>

<script>
import CustomHeader from 'components/Header'
import Banner from 'components/Banner'

import comingSoon from 'img/reports-coming-soon.svg'

export default {
  components: {
    CustomHeader,
    Banner
  },
  data () {
    return {
      comingSoon
    }
  },
  mounted () {
  },
  computed: {
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .panel {
    text-align: center;
  }

</style>
