<template>
  <div class="main-container">

    <!-- Filters hidden for now
      <div class="reports-filters-container">
        <CustomSelect
          :customStyles="leftDropdownStyles"
          :items="jobFilters"
          :selected="selectedJobFilter"
          :onChange="jobFilterChange"
        />
        <CustomSelect
          :customStyles="middleDropdownStyles"
          :items="listOptions"
          :selected="selectedList"
          :onChange="listChange"
        />
        <CustomSelect
          :customStyles="rightDropdownStyles"
          :items="selectedDateOptions"
          :selected="selectedDateRange"
          :onChange="selectedDateChange"
        />
      </div>

    -->

    <div class="reports-top-nav">
      <router-link
        :to="{path: `/reports/candidates`,
        query: $route.query}">
          <img v-svg-src="backArrow"></img>
          <span>Back to Funnel Report</span>
      </router-link>
    </div>

    <div class="panel">
      <img v-svg-src="comingSoon">

      <div>
        Report Type: {{reportType}}
      </div>

    </div>
  </div>
</template>

<script>

import CustomSelect from 'components/FormElements/CustomSelect'
import Tablist from 'components/Tools/Tablist'

import comingSoon from 'img/reports-coming-soon.svg'
import backArrow from 'img/back-arrow.svg'

import funnel from 'img/funnel.svg'
import funnelActive from 'img/funnel-active.svg'
import snapshot from 'img/snapshot.svg'
import snapshotActive from 'img/snapshot-active.svg'

export default {
  components: {
    CustomSelect,
    Tablist
  },
  data () {
    return {
      comingSoon,
      backArrow,
      reportType: this.$route.params.reportType,
      leftDropdownStyles: {
        'display': 'inline-block'
      },
      middleDropdownStyles: {
        'display': 'inline-block',
        'margin-left': '14px'
      },
      rightDropdownStyles: {
        'float': 'right'
      },
      jobFilters: [
        { label: 'Filter by job function', value: -1 }
      ],
      // Note: might need new component depending on requirements for this dropdown
      selectedDateOptions: [
        { label: 'Filter by date range', value: -1 }
      ],
      listOptions: [
        { label: 'Filter by lists', value: -1 }
      ],
      selectedJobFilter: -1,
      selectedDateRange: -1,
      selectedList: -1,
      composeTabs: [
        { title: 'Funnel', image: funnel, activeImage: funnelActive },
        { title: 'Snapshot', image: snapshot, activeImage: snapshotActive }
      ],
      activeComposeTab: 0
    }
  },
  mounted () {
  },
  computed: {
  },
  methods: {
    jobFilterChange () {

    },
    selectedDateChange () {

    },
    listChange () {

    },
    tabChange (index) {
      this.activeComposeTab = index
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .panel {
    text-align: center;
  }


</style>
