<template>
  <div class="main-container">

    <!-- TODO: filters on reports are commented out for now -->

    <!-- <div class="reports-filters-container">
      <CustomSelect
        :customStyles="leftDropdownStyles"
        :items="jobFilters"
        :selected="selectedJobFilter"
        :onChange="jobFilterChange"
      />
      <CustomSelect
        :customStyles="middleDropdownStyles"
        :items="listOptions"
        :selected="selectedList"
        :onChange="listChange"
      />
      <CustomSelect
        :customStyles="rightDropdownStyles"
        :items="selectedDateOptions"
        :selected="selectedDateRange"
        :onChange="selectedDateChange"
      />
    </div> -->

    <div class="panel">
      <Tablist
        :tabs="tabs"
        :selectedTab="activeTab"
        @change="tabChange"
      />

      <div v-show="activeTab === 0">
        <div ref="funnel" class="funnel"></div>
        <div class="count-container">
          <ReportsCount
            label="inactive"
            type="hover"
            :percent="funnelData.inactive.percent"
            :number="funnelData.inactive.number"
          />
          <ReportsCount
            label="passed"
            type="hover"
            :percent="funnelData.passed.percent"
            :number="funnelData.passed.number"
          />
          <ReportsCount
            label="unsubscribed"
            type="hover"
            :percent="funnelData.unsubscribed.percent"
            :number="funnelData.unsubscribed.number"
          />
          <ReportsCount
            label="bounced"
            type="hover"
            :percent="funnelData.bounced.percent"
            :number="funnelData.bounced.number"
          />
        </div>
      </div>

      <div v-show="activeTab === 1">

        <h1><b>total candidates:</b> {{totalCandidates}} candidates</h1>

        <div class="key-container">
          <div class="key">
            <span :style="{'background-color': keyColors.new}"></span>
            New
          </div>
          <div class="key">
            <span :style="{'background-color': keyColors.outreach}"></span>
            In Outreach
          </div>
          <div class="key">
            <span :style="{'background-color': keyColors.engaged}"></span>
            Engaged
          </div>
          <div class="key">
            <span :style="{'background-color': keyColors.interviewing}"></span>
            Interviewing
          </div>
          <div class="key">
            <span :style="{'background-color': keyColors.hired}"></span>
            Hired
          </div>
          <br />
          <div class="key">
            <span :style="{'background-color': keyColors.inactive}"></span>
            Inactive
          </div>
          <div class="key">
            <span :style="{'background-color': keyColors.passed}"></span>
            Passed
          </div>
          <div class="key">
            <span :style="{'background-color': keyColors.unsubscribed}"></span>
            Unsubscribed
          </div>
          <div class="key">
            <span :style="{'background-color': keyColors.bounced}"></span>
            Bounced
          </div>
        </div>

        <div class="graph-container">
          <svg class="polar" ref="polar"></svg>
        </div>

        <ReportsTable
          :table="table"
          :containerStyles="tableStyles"
        />

      </div>

    </div>
  </div>
</template>

<script>

import CustomSelect from 'components/FormElements/CustomSelect'
import Tablist from 'components/Tools/Tablist'
import ReportsCount from 'components/Sections/Reports/ReportsCount'
import ReportsTable from 'components/Sections/Reports/ReportsTable'

import comingSoon from 'img/reports-coming-soon.svg'

import funnel from 'img/funnel.svg'
import funnelActive from 'img/funnel-active.svg'
import snapshot from 'img/snapshot.svg'
import snapshotActive from 'img/snapshot-active.svg'

import D3Funnel from 'd3-funnel'
import * as d3 from 'd3'
import api from 'api'

export default {
  components: {
    CustomSelect,
    Tablist,
    ReportsCount,
    ReportsTable
  },
  created () {
    this.activeTab = this.$route.params.report_type == 'snapshot' ? 1 : 0
  },
  data () {
    return {
      comingSoon,
      tableStyles: {
        'margin-top': '40px'
      },
      leftDropdownStyles: {
        'display': 'inline-block'
      },
      middleDropdownStyles: {
        'display': 'inline-block',
        'margin-left': '14px'
      },
      rightDropdownStyles: {
        'float': 'right'
      },
      jobFilters: [
        { label: 'Filter by job function', value: -1 }
      ],
      // Note: might need new component depending on requirements for this dropdown
      selectedDateOptions: [
        { label: 'Filter by date range', value: -1 }
      ],
      listOptions: [
        { label: 'Filter by lists', value: -1 }
      ],
      selectedJobFilter: -1,
      selectedDateRange: -1,
      selectedList: -1,
      tabs: [
        { title: 'Funnel', image: funnel, activeImage: funnelActive },
        { title: 'Snapshot', image: snapshot, activeImage: snapshotActive }
      ],
      activeTab: 0,
      funnelData: {
        inactive: {
          percent: '0%',
          number: 0
        },
        passed: {
          percent: '0%',
          number: 0
        },
        unsubscribed: {
          percent: '0%',
          number: 0
        },
        bounced: {
          percent: '0%',
          number: 0
        },
        new: 0,
        in_outreach: 0,
        engaged: 0,
        interviewing: 0,
        hired: 0,
        total: 0
      },
      totalCandidates: 0,
      snapshotData: {
        new: 0,
        outreach: 0,
        engaged: 0,
        interviewing: 0,
        hired: 0,
        inactive: 0,
        passed: 0,
        unsubscribed: 0,
        bounced: 0
      },
      keyColors: {
        new: '#50e3c2',
        newHover: '#80C7C8',
        outreach: '#4ad3b4',
        outreachHover: '#74B6B6',
        engaged: '#42bfa3',
        engagedHover: '#68A5A5',
        interviewing: '#3dae95',
        interviewingHover: '#5E9797',
        hired: '#379e87',
        hiredHover: '#4C7D7D',

        inactive: '#dce3eb',
        inactiveHover: '#BED2E8',
        passed: '#c4cbd4',
        passedHover: '#A8BBD3',
        unsubscribed: '#b2b9c1',
        unsubscribedHover: '#91A6BE',
        bounced: '#a1a8af',
        bouncedHover: '#8096AD'
      },
      table: {
        head: {
          cells: [
            { label: 'status' },
            { label: '# of candidates' },
            { label: '% of candidates' }
          ]
        },
        rows: [],
        cellStyle: {
          width: '33%',
          'text-align': 'center'
        }
      },
      funnelLoaded: false,
      snapshotLoaded: false
    }
  },
  mounted () {
    // TODO: only call the snapshot api if the user is on that tab, that way they can see the animation
    if (this.$route.params.report_type === 'funnel') {
      this.initFunnel()
    } else {
      this.initSnapshot()
    }
  },
  computed: {
  },
  methods: {
    initSnapshot () {
      // Only init once even if we keep switching tabs
      if (this.snapshotLoaded) {
        return
      }

      api.ajax('reports/snapshot')
      .done((response) => {
        console.log('response for getting snapshot report', response)
        this.displaySnapshot(response)
      })
      .fail((e) => {
        console.error('error getting snapshot report', e)
      })
      .always(() => {
        this.snapshotLoaded = true
      })
    },
    initFunnel () {
      // Only init once even if we keep switching tabs
      if (this.funnelLoaded) {
        return
      }

      api.ajax('reports/funnel')
      .done((response) => {
        console.log('response for getting funnel report', response)

        this.funnelData.total = 0

        $.each(response, (key, value) => {
          // Only add for funnel stats, not bottom percentages
          if (key === 'rejected' ||
            key === 'complained' ||
            key === 'unsubscribed' ||
            key === 'bounced'
          ) {
            return
          }

          // TODO: Verify this is the right way to get the total
          this.funnelData.total += value

          // Set our data, unless it's 'inactive' or 'passed' which are set below
          if (key !== 'inactive' && key !== 'passed') {
            this.funnelData[key] = value
          }
        })

        this.funnelData.inactive.number = response.inactive || 0
        this.funnelData.inactive.percent = this.getPercent(this.funnelData.inactive.number, this.funnelData.total)

        this.funnelData.passed.number = response.passed || 0
        this.funnelData.passed.percent = this.getPercent(this.funnelData.passed.number, this.funnelData.total)

        this.funnelData.unsubscribed.number = response.unsubscribed || 0
        this.funnelData.unsubscribed.percent = this.getPercent(this.funnelData.unsubscribed.number, this.funnelData.total)

        this.funnelData.bounced.number = response.bounced || 0
        this.funnelData.bounced.percent = this.getPercent(this.funnelData.bounced.number, this.funnelData.total)

        this.createFunnel()
      })
      .fail((e) => {
        console.error('error getting funnel report', e)
      })
      .always(() => {
        this.funnelLoaded = true
      })
    },
    jobFilterChange () {

    },
    selectedDateChange () {

    },
    listChange () {

    },
    tabChange (index) {
      this.$router.replace({ path: `/reports/candidates/${this.tabs[index].title.toLowerCase()}` })
      this.activeTab = index
    },
    createFunnel () {
      // TODO: Fill in real data
      let data = [
          ['New', this.funnelData.new],
          ['In Outreach', this.funnelData.in_outreach],
          ['Engaged', this.funnelData.engaged],
          ['Interviewing', this.funnelData.interviewing],
          ['Hired', this.funnelData.hired]
      ]

      let colors = ['#50e3c2', '#4ad3b4', '#42bfa3', '#3dae95', '#379e87']

      $.each(data, (key, value) => {
        data[key].push(colors[key])
      })

      const options = {
        chart: {
          bottomPinch: 3,
          height: 300,
          width: '50%'
        },
        block: {
          dynamicHeight: false,
          highlight: '#80c7c8'
        },
        label: {
          format: `{l}
          {f}`
        },
        events: {
          click: {
            block: (e) => {
              let path = e.label.raw.toLowerCase().replace(/ /g, '_')
              this.$router.push({
                path: `/reports/candidates/funnel/${path}`,
                query: this.$router.query
              })
            }
          }
        }
      }

      const chart = new D3Funnel(this.$refs.funnel)
      chart.draw(data, options)
    },
    getPercent (value, total) {
      let percent = (value / total * 100).toFixed(1)
      return !isNaN(percent) && percent !== 'Infinity' ? `${percent}%` : `0%`
    },
    displaySnapshot (data) {
      // Make the graph and table
      let graphData = []
      let rows = []

      $.each(data, (key, value) => {
        switch (key) {
          case 'new':
            this.snapshotData.new += value
            this.totalCandidates += value
            break
          case 'outreach':
            this.snapshotData.outreach += value
            this.totalCandidates += value
            break
          case 'engaged':
            this.snapshotData.engaged += value
            this.totalCandidates += value
            break
          case 'interviewing':
            this.snapshotData.interviewing += value
            this.totalCandidates += value
            break
          case 'hired':
            this.snapshotData.hired += value
            this.totalCandidates += value
            break
          case 'inactive':
            this.snapshotData.inactive += value
            this.totalCandidates += value
            break
          case 'passed':
            this.snapshotData.passed += value
            this.totalCandidates += value
            break
          // NOTE: Any email related statuses do NOT add to the total candidates
          case 'unsubscribed':
            this.snapshotData.unsubscribed += value
            break
          case 'bounced':
            this.snapshotData.bounced += value
            break
          case 'rejected':
            this.snapshotData.bounced += value
            break
          case 'complained':
            // TODO: Do nothing for now
            break
          // If they don't have a status still add them to the total amount
          case 'None':
            this.totalCandidates += value
            break
        }
      })

      $.each(this.snapshotData, (key, value) => {
        graphData.push({
          status: key,
          candidates: value
        })
        rows.push({
          cells: [
            {
              type: 'link',
              path: `/reports/candidates/snapshot/${key}`,
              label: key.replace(/([A-Z])/g, ' $1').replace(/^./, function (str) { return str.toUpperCase() })
            },
            {
              type: 'total',
              label: value
            },
            {
              type: 'normal',
              label: this.getPercent(value, this.totalCandidates)
            }
          ]
        })
      })

      this.createPolar(graphData)
      this.table.rows = rows
    },
    createPolar (graphData) {
      var initPolarChart = {
        draw: (config) => {
          var data = config.data

          var margin = { top: 10, right: 10, bottom: 10, left: 10 }
          var width = 300 - margin.left - margin.right
          var height = 300 - margin.top - margin.bottom
          var radius = Math.min(width, height) / 2
          var maxDomain = d3.max(data, (d) => { return d.candidates + (d.candidates * 0.25) })

          var radiusScale = d3.scaleSqrt()
            .range([0, radius])
            .domain([0, maxDomain])

          var arc = d3.arc()
              .outerRadius((d) => {
                return radiusScale(d.data.candidates)
              })
              .innerRadius(0)

          var pie = d3.pie()
              .sort(null)
              .value((d) => { return 1 })

          var svg = d3.select(config.element)
              .attr('width', width + margin.left + margin.right)
              .attr('height', height + margin.top + margin.bottom)
            .append('g')
              .attr('transform', 'translate(' + (width + margin.left + margin.right) / 2 + ',' + (height + margin.top + margin.bottom) / 2 + ')')

          // y axis and scale circles

          var barScale = d3.scaleSqrt()
            .rangeRound([0, radius])
            .domain([0, maxDomain])
            .nice()

          var y = d3.scaleSqrt()
            .rangeRound([0, -radius])
            .domain([0, maxDomain])
            .nice()

          svg.selectAll('circle')
            .data(y.ticks(5))
          .enter().append('circle')
            .attr('r', function (d) { return barScale(d) })
            .style('fill', 'none')
            .style('stroke', '#dce3eb')
            .style('stroke-width', '1px')

          var yAxis = d3.axisLeft(y)
            .ticks(5)
            .tickFormat((d) => { return d })

          // Data

          var g = svg.selectAll('.arc')
              .data(pie(data))
            .enter().append('g')
              .attr('class', 'arc')

          g.append('path')
              .on('mouseover', (d, i, e) => {
                d3.select(e[i]).style('fill', this.keyColors[`${d.data.status}Hover`])
              })
              .on('mouseout', (d, i, e) => {
                d3.select(e[i]).style('fill', this.keyColors[d.data.status])
              })
              .on('click', (d) => {
                this.$router.push({ path: `/reports/candidates/snapshot/${d.data.status}` })
              })
              .style('fill', (d) => { return this.keyColors[d.data.status] })
              .transition()
              .ease(d3.easeBounce)
              .duration(2000)
              // .delay(function(d, i) { return i * 100; })
              .attrTween('d', tweenPie)

          function tweenPie (b) {
            b.innerRadius = 0
            var i = d3.interpolate({ startAngle: 0, endAngle: 0 }, b)
            return function (t) { return arc(i(t)) }
          }

          // Append y axis

          svg.append('g')
            .attr('class', 'y axis')
            .call(yAxis)

          svg.select('.y.axis path.domain').remove()

          var ticks = svg.selectAll('.y.axis .tick')

          ticks.selectAll('line').remove()

          ticks.selectAll('text')
            .attr('x', '0')
            .attr('fill', '#666666')
            .attr('font-size', '10px')
            .attr('font-family', 'Open Sans')
            .attr('text-anchor', 'middle')
        }
      }
      initPolarChart.draw({
        data: graphData,
        element: this.$refs.polar
      })
    }
  },
  watch: {
    $route: {
      handler (newRoute) {
        if (newRoute.params.report_type === 'funnel') {
          this.initFunnel()
        } else {
          this.initSnapshot()
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .panel {
    text-align: center;

    h1 {
      color: $dove-gray;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1.8px;
      font-weight: normal;
      margin-top: 30px;
    }

    .key-container {
      margin-top: 30px;

      .key {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 10px;

        span {
          display: inline-block;
          margin-right: 10px;
          width: 31px;
          height: 9px;
        }
      }
    }

    .graph-container {
      margin-top: 15px;
    }
  }

  .compose-tab-container {
    text-align: left;
  }

  .funnel {
    margin-top: 50px;
  }

  .count-container {
    margin: 34px 15px;
  }

</style>
