<template>
  <div class="main-container">
    <div class="reports-filters-container">
      <CustomSelect
        :customStyles="leftDropdownStyles"
        :items="jobFilters"
        :selected="selectedJobFilter"
        :onChange="jobFilterChange"
      />
      <CustomSelect
        :customStyles="rightDropdownStyles"
        :items="listOptions"
        :selected="selectedList"
        :onChange="listChange"
      />
    </div>

    <div class="reports-top-nav">
      <router-link
        :to="{path: `/reports/jobs`,
        query: $route.query}">
          <img v-svg-src="backArrow"></img>
          <span>Back to Jobs Report</span>
      </router-link>
    </div>

    <div class="panel">
      <img v-svg-src="comingSoon">
    </div>
  </div>
</template>

<script>
import CustomSelect from 'components/FormElements/CustomSelect'

import comingSoon from 'img/reports-coming-soon.svg'
import backArrow from 'img/back-arrow.svg'

export default {
  components: {
    CustomSelect
  },
  data () {
    return {
      leftDropdownStyles: {
        'display': 'inline-block'
      },
      rightDropdownStyles: {
        'display': 'inline-block',
        'margin-left': '14px'
      },
      comingSoon,
      backArrow,
      jobFilters: [
        { label: 'Filter by job function', value: -1 }
      ],
      listOptions: [
        { label: 'Filter by lists', value: -1 }
      ],
      selectedJobFilter: -1,
      selectedList: -1
    }
  },
  mounted () {
  },
  computed: {
  },
  methods: {
    jobFilterChange () {

    },
    listChange () {

    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .panel {
    text-align: center;
  }

</style>
