<template>
  <div class="main-container">
    <!-- TODO: commenting out for now -->

    <!-- <div class="reports-filters-container">
      <CustomSelect
        :customStyles="leftDropdownStyles"
        :items="jobFilters"
        :selected="selectedJobFilter"
        :onChange="jobFilterChange"
      />
      <CustomSelect
        :customStyles="rightDropdownStyles"
        :items="selectedDateOptions"
        :selected="selectedDateRange"
        :onChange="selectedDateChange"
      />
    </div>
    <div class="panel">
      <img v-svg-src="comingSoon" :style="{margin: '20px'}">

      <div>
        <router-link
          :to="{path: `/reports/jobs/applicants/123`,
          query: $route.query}">
            Account Executive
        </router-link>
      </div>
    </div> -->

    <div class="panel">
      <div class="counts-container">
        <ReportsCount
          label="views"
          tooltip="<i>Views</i> record the number of times a job is viewed. This includes both views by returning visitors, who Happie recognizes as already having viewed the job, and unique views, which record visitors who haven’t yet viewed the job."
          :value="views"
        />
        <ReportsCount
          label="unique views"
          tooltip="<i>Unique views</i> record the number of times a job is viewed by visitors who haven’t yet viewed the job."
          :value="uniqueViews"
        />
        <ReportsCount
          v-if="userIsTransactinal"
          label="Interested"
          tooltip="<i>Interested</i> records the number of candidates who expressed interest in your job on Happie."
          :value="applications"
        />
        <ReportsCount
          v-else
          label="applications"
          tooltip="<i>Applications</i> record the number of candidates who applied to your job on Happie."
          :value="applications"
        />
        <ReportsCount
          v-if="userIsTransactinal"
          label="interest rate"
          tooltip="The <i>interest rate</i> is calculated by dividing the number of candidates interested in a job on Happie by the number of unique views the job receives."
          :value="applyRate"
        />
        <ReportsCount
          v-else
          label="apply rate"
          tooltip="The <i>apply rate</i> is calculated by dividing the number of applications to a job on Happie by the number of unique views the job receives."
          :value="applyRate"
        />
      </div>
      <ReportsTable
        :table="table"
        :containerStyles="tableStyles"
      />
    </div>
  </div>
</template>

<script>
import ReportsCount from 'components/Sections/Reports/ReportsCount'
import ReportsTable from 'components/Sections/Reports/ReportsTable'
import CustomSelect from 'components/FormElements/CustomSelect'

import { accountStore } from 'stores'

import api from 'api'

import comingSoon from 'img/reports-coming-soon.svg'

export default {
  components: {
    CustomSelect,
    ReportsCount,
    ReportsTable
  },
  data () {
    return {
      tableStyles: {
        'margin-top': '40px'
      },
      leftDropdownStyles: {
        'display': 'inline-block'
      },
      rightDropdownStyles: {
        'float': 'right'
      },
      comingSoon,
      jobFilters: [
        { label: 'Filter by job function', value: -1 }
      ],
      // Note: might need new component depending on requirements for this dropdown
      selectedDateOptions: [
        { label: 'Filter by date range', value: -1 }
      ],
      selectedJobFilter: -1,
      selectedDateRange: -1,
      views: 0,
      uniqueViews: 0,
      applications: 0,
      applyRate: 0,
      table: {
        head: {
          cells: [
            { label: 'jobs' },
            { label: 'views' },
            { label: 'unique views' },
            { label: this.userIsTransactinal ? 'interested' : 'applications' },
            { label: this.userIsTransactinal ? 'interest rate' : 'apply rate' }
          ]
        },
        rows: []
      },
      accountStore: accountStore.get()
    }
  },
  mounted () {
    api.ajax('reports/jobs')
    .done((response) => {
      console.log('response for getting jobs report', response)
      this.displayData(response)
    })
    .fail((e) => {
      console.error('error getting jobs report', e)
    })
  },
  computed: {
    userIsTransactinal () {
      return false
      // TODO: Uncomment below line when API exists
      // return this.accountStore.account.is_transactional
    }
  },
  methods: {
    filterChange () {
      // TODO
    },
    getPercent (value, total) {
      let percent = (value / total * 100).toFixed(1)
      return !isNaN(percent) ? `${percent}%` : `0%`
    },
    displayData (data) {
      // Make the table
      let rows = []
      $.each(data, (index, value) => {
        rows.push({
          cells: [
            {
              type: 'link',
              label: value.title ? value.title : 'Untitled',
              path: `/reports/jobs/applicants/${value.id}`
            },
            {
              type: 'normal',
              label: value.views
            },
            {
              type: 'normal',
              label: value.unique_views
            },
            {
              type: 'normal',
              label: this.userIsTransactinal ? value.interested : value.applications
            },
            {
              type: 'normal',
              label: this.getPercent(this.userIsTransactinal ? value.interested : value.applications, value.views)
            }
          ]
        })

        // Fill in the top count data
        this.views += value.views
        this.uniqueViews += value.unique_views
        this.applications += value.applications
      })

      // Fill in the apply rate
      this.applyRate = this.getPercent(this.applications, this.views)

      this.table.rows = rows
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .panel {
    text-align: center;
    color: $tundora;

    .counts-container {
      margin-top: 30px;
    }
  }

</style>
