<template>
  <div class="main-container">
    <div class="panel-controls-row">

      <div class="float-right">

        <span role="button" class="tile-type-toggle graph-toggle" :class="{'active': gridType === 'graph'}" @click="()=>{toggleGridType('graph')}"></span>
        <span role="button" class="tile-type-toggle list-toggle" :class="{'active': gridType === 'table'}" @click="()=>{toggleGridType('table')}"></span>
      </div>
    </div>

    <div v-show="gridType === 'graph'">
      <div class="panel" v-for="page, index in pages">
        <h1 class="panel-title">
          {{ page.title || 'Untitled' }}
          </h1>
        <div class="panel-body">
          <div>
            <div class="page-info">
              <span>{{ page.views }}</span>
              Page Views
            </div>
            <div class="page-info">
              <span>{{ page.duration.lexical}}</span>
              Avg. Visit Duration
            </div>
          </div>
          <div>
            <svg :ref="`${page.unique_views.id}-${page.id}`"></svg>
            <router-link v-if="!accountStore.account.is_transactional" class="graph-description" :to="{ path: `/reports/pages/${page.id}/page_viewed`, query: $route.query}">{{ page.unique_views.numerical }} Unique Visitors</router-link>
            <span v-else class="graph-description">{{ page.unique_views.numerical }} Unique Views</span>
          </div>
          <div>
            <svg :ref="`${page.signups.id}-${page.id}`"></svg>
            <router-link v-if="!accountStore.account.is_transactional" class="graph-description" :to="{ path: `/reports/pages/${page.id}/signup`, query: $route.query}">{{ page.signups.numerical }} Signups</router-link>
            <span v-else class="graph-description">{{ page.signups.numerical }} Signups</span>
          </div>
          <div>
            <svg :ref="`${page.applications.id}-${page.id}`"></svg>
            <router-link v-if="!accountStore.account.is_transactional" class="graph-description" :to="{ path: `/reports/pages/${page.id}/applied`, query: $route.query}">{{ page.applications.numerical }} Applications</router-link>
            <span v-else class="graph-description">{{ page.applications.numerical }} Applications</span>
          </div>
        </div>

      </div>
    </div>

    <div v-show="gridType === 'table'">
      <div class="panel">
        <div class="counts-container">
          <ReportsCount
            label="total views"
            tooltip="<i>Total Views</i> records the total number of times a page has been viewed. This includes both views by returning visitors, who Happie reconizes as already having viewed the page, and unique visitors, who are viewing the page for the first time."
            :value="totals.views" />
          <ReportsCount
            label="unique visitors"
            tooltip="<i>Unique Views</i> records the total number of times a new visitor has viewed any page for the first time."
            type="hover"
            :number="totals.unique_views.numerical"
            :percent="totals.unique_views.percentile" />
          <ReportsCount
            label="avg visit duration"
            tooltip="<i>Average Visit Duration</i> records the average amount of time spent on all pages, across all visitors."
            :value="totals.duration.lexical"/>
          <ReportsCount
            label="SIGNUPS"
            tooltip="<i>Signups</i> records the total amount of visitors who have signed up across all pages."
            type="hover"
            :number="totals.signups.numerical"
            :percent="totals.signups.percentile" />
          <ReportsCount
            label="APPLICATIONS"
            tooltip="<i>Applications</i> records the total amount of visitors who have applied across all pages."
            type="hover"
            :number="totals.applications.numerical"
            :percent="totals.applications.percentile" />
        </div>
        <div class="table-container">
          <ReportsTable :table="table" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import CustomSelect from 'components/FormElements/CustomSelect'
import ReportsCount from 'components/Sections/Reports/ReportsCount'
import ReportsTable from 'components/Sections/Reports/ReportsTable'

import api from 'api'
import * as d3 from 'd3'

import { accountStore, userPreferencesStore } from 'stores'

export default {
  components: {
    CustomSelect,
    ReportsCount,
    ReportsTable
  },
  data () {
    return {
      userPreferencesStore: userPreferencesStore.get(),
      accountStore: accountStore.get(),
      gridType: '',
      pages: [],
      totals: {
        views: 0,
        unique_views: {
          numerical: 0
        },
        duration: {
          numerical: 0
        },
        signups: {
          numerical: 0
        },
        applications: {
          numerical: 0
        }
      },
      table: {
        head: {
          cells: [
            { label: 'PAGES' },
            { label: 'TOTAL VIEWS' },
            { label: 'UNIQUE  VISITORS' },
            { label: 'AVG. VISIT DURATION' },
            { label: 'SIGNUPS' },
            { label: 'APPLICATIONS' }
          ]
        },
        rows: []
      }
    }
  },

  mounted () {
    // Set grid type based on preference
    this.gridType = this.userPreferencesStore.pagesReportsGridType

    // this.init(this.debug);

    api.ajax(`reports/pages/`)
    .done((response) => {
      this.init(response)
    })
    .fail((e) => {
      console.error('error getting sequence report: ', e)
    })
  },

  computed: {
  },
  methods: {
    init (data) {
      this.pages = data

      $.each(this.pages, (key, value) => {
        value.unique_views = {
          label: 'Of All Visitors',
          id: 'unique_views',
          numerical: value.unique_views,
          percentile: this.getPercent(value.unique_views, value.views)
        }
        value.duration = {
          numerical: value.duration,
          lexical: this.parseTime(value.duration, value.views)
        }
        value.signups = {
          label: 'Signed Up',
          id: 'signups',
          numerical: value.signups,
          percentile: this.getPercent(value.signups, value.views)
        }
        value.applications = {
          label: 'Applied',
          id: 'applications',
          numerical: value.applications,
          percentile: this.getPercent(value.applications, value.views)
        }
      })
      this.createTable()
      this.renderGraphs()
    },
    createTable () {
      let tableRows = []

      // Compute table rows from datapoints.
      $.each(this.pages, (key, value) => {
        // Keep a running total across all pages.
        this.totals.views += value.views
        this.totals.unique_views.numerical += value.unique_views.numerical
        this.totals.duration.numerical += value.duration.numerical
        this.totals.signups.numerical += value.signups.numerical
        this.totals.applications.numerical += value.applications.numerical

        tableRows.push({
          cells: [
            {
              type: 'bold',
              label: value.title || 'Untitled'
            },
            {
              type: 'normal',
              label: value.views
            },
            {
              type: !this.accountStore.account.is_transactional ? 'hoverlink' : 'hover',
              number: value.unique_views.numerical,
              percent: value.unique_views.percentile,
              path: `/reports/pages/${value.id}/page_viewed`
            },
            {
              type: 'normal',
              label: value.duration.lexical
            },
            {
              type: !this.accountStore.account.is_transactional ? 'hoverlink' : 'hover',
              number: value.signups.numerical,
              percent: value.signups.percentile,
              path: `/reports/pages/${value.id}/signup`
            },
            {
              type: !this.accountStore.account.is_transactional ? 'hoverlink' : 'hover',
              number: value.applications.numerical,
              percent: value.applications.percentile,
              path: `/reports/pages/${value.id}/applied`
            }
          ]
        })
      })

      // Compute totals now that we have all the data
      this.totals.unique_views.percentile = this.getPercent(this.totals.unique_views.numerical, this.totals.views)
      this.totals.duration.lexical = this.parseTime(this.totals.duration.numerical, this.totals.views)
      this.totals.signups.percentile = this.getPercent(this.totals.signups.numerical, this.totals.views)
      this.totals.applications.percentile = this.getPercent(this.totals.applications.numerical, this.totals.views)

      this.table.rows = tableRows
    },
    createGraph (config) {
      const value = config.percentile
      const dataset = [{ percent: parseFloat(value) }, { percent: 100 - parseFloat(value) }]
      const element = config.element
      const title = config.title
      const width = 150
      const height = 150
      const outerRadius = Math.min(width, height) / 2
      const innerRadius = 60

      const svg = d3.select(this.$refs[element][0])
        .attr('width', width)
        .attr('height', height)
        .append('g')
          .attr('transform', 'translate(' + (width / 2) + ',' + (height / 2) + ')')

      // Gradient
      const defs = svg.append('defs')
      const gradient = defs.append('linearGradient')
        .attr('id', 'svgGradient')

      gradient.append('stop')
        .attr('offset', '0%')
        .attr('stop-color', '#50E3C2')

      gradient.append('stop')
        .attr('offset', '100%')
        .attr('stop-color', '#80C7C8')
      // End gradient

      const arc = d3.arc()
        .innerRadius(innerRadius)
        .outerRadius(outerRadius)

      const pie = d3.pie()
        .value((d) => { return d.percent })
        .sort(null)

      svg.selectAll('path')
        .data(pie(dataset))
        .enter()
        .append('path')
          .attr('d', arc)
          .attr('fill', (d, i) => { return i === 0 ? 'url(#svgGradient)' : '#eee' })
          .transition()
          .duration(2000)
          .attrTween('d', tweenPie)

      svg.append('text')
      .attr('text-anchor', 'middle')
      .attr('class', 'chart-percent')
      .attr('fill', '#666666')
      .style('font-size', '24px')
      .style('font-family', 'Open Sans')
      .text(value)  // Percent

      svg.append('text')
      .attr('text-anchor', 'middle')
      .attr('class', 'chart-legend')
      .attr('transform', 'translate(0,15)')
      .attr('fill', '#445870')
      .style('font-size', '12px')
      .style('font-family', 'Open Sans')
      .text(title) // Legend

      function tweenPie (b) {
        b.innerRadius = 0
        var i = d3.interpolate({ startAngle: 0, endAngle: 0 }, b)
        return (t) => { return arc(i(t)) }
      }
    },
    renderGraphs () {
      this.$nextTick(() => {
        $.each(this.pages, (key, value) => {
          this.createGraph({
            element: `${value.unique_views.id}-${value.id}`,
            percentile: value.unique_views.percentile,
            title: value.unique_views.label
          })
        })
        $.each(this.pages, (key, value) => {
          this.createGraph({
            element: `${value.signups.id}-${value.id}`,
            percentile: value.signups.percentile,
            title: value.signups.label
          })
        })
        $.each(this.pages, (key, value) => {
          this.createGraph({
            element: `${value.applications.id}-${value.id}`,
            percentile: value.applications.percentile,
            title: value.applications.label
          })
        })
      })
    },
    getPercent (value, total) {
      const percent = (value / total * 100).toFixed(1)
      return !isNaN(percent) ? `${percent}%` : `0%`
    },
    parseTime (duration, views) {
      if (!duration) {
        return '00:00:00'
      }
      const avgDuration = duration / views
      let minutes = Math.floor(avgDuration / 60)
      const seconds = avgDuration % 60
      const hours = Math.floor(minutes / 60)
      minutes %= 60
      function pad (num) {
        return ('0' + num).slice(-2)
      }
      return pad(hours) + ':' + pad(minutes) + ':' + pad(seconds)
    },
    toggleGridType (type) {
      // Save in our store so it's remembered when we come back
      userPreferencesStore.set('pagesReportsGridType', type)
      this.gridType = type
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .panel {
    text-align: center;
    color: $tundora;
    margin-bottom: 30px;
  }

  .panel-controls-row {
    height: 40px;
    margin-bottom: 2.6rem;
  }

  .tile-type-toggle {
    width: 45px;
    height: 40px;

    @include i-b;
    @include transition-sm-med-ease;

    border-radius: 2px 0 0 2px;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: center center;

    border: 1px solid $alto;

    &.active {
      background-color: $alto;
    }

    &:hover, &:focus {
      background-color: $alto;
    }

    &.graph-toggle {
      background-image: url("~img/bar-graph.svg");
    }

    &.list-toggle {
      background-image: url("~img/list.svg");
      border-radius: 0 2px 2px 0;

      border-left: 0;
    }
  }

  .counts-container {
    margin-top: 30px;
  }

  .table-container {
    margin-top: 40px;
  }

  .panel-title {
    color: $dove-gray;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;

    a {
      color: inherit;
    }
  }

  .panel-body {
    padding: 25px 45px 35px;

    > div {
      display: inline-block;
      width: 25%;
    }
  }

  .page-info {
    color: $fiord;
    font-size: 16px;

    span {
      display: block;
      font-size: 24px;
    }

    &:first-child {
      margin-bottom: 75px;
    }
  }

  .graph-description {
    color: $fiord;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
  }

</style>
