<template>
  <div class="count-container" :style="containerStyles" :class="{'hover-number':type=='hover'}">
    <div class="label">{{label}}</div>
    <Tooltip :content="tooltip" :customStyles="tooltipStyles" v-if="tooltip" />
    <div class="value">
      <span v-if="type=='hover'">
        <span class="percent">{{percent}}</span>
        <span class="number">{{number}}</span>
      </span>
      <span v-else>
        {{value}}
      </span>
    </div>
  </div>
</template>

<script>

import Tooltip from 'components/Tools/Tooltip'
import { hoverNumber } from 'helpers'

export default {
  components: {
    Tooltip
  },
  data () {
    return {
      tooltipStyles: {
        display: 'inline-block',
        position: 'absolute',
        'margin-left': '5px',
        'top': '-3px'
      }
    }
  },
  mounted () {
    hoverNumber.init()
  },
  computed: {
  },
  props: {
    label: { required: true },
    tooltip: { required: false },
    value: { required: false },
    type: { required: false },
    percent: { required: false },
    number: { required: false },
    containerStyles: { required: false }
  },
  watch: {
    percent: {
      handler (val) {
        hoverNumber.init()
      }
    },
    deep: true
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .count-container {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0px 25px;

    cursor: pointer;

    .label {
      display: inline-block;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1.8px;
      text-transform: uppercase;
    }

    .value {
      margin-top: 10px;
      font-size: 20px;
      letter-spacing: 2.1px;

      .percent, .number {
        font-weight: bold;
      }

      .number {
        display: none;
      }
    }

  }

</style>
