<template>
  <div class="reports-container">
    <CustomHeader />
    <Banner />
    <div class="panel-container">
      <div class="panel">
        <img v-svg-src="comingSoon">
      </div>
    </div>
  </div>
</template>

<script>
import CustomHeader from 'components/Header'
import Banner from 'components/Banner'

import comingSoon from 'img/reports-coming-soon.svg'

export default {
  components: {
    CustomHeader,
    Banner
  },
  data () {
    return {
      comingSoon
    }
  },
  mounted () {
  },
  computed: {
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .reports-container {
    background: $polar;
    width: 100%;
    height: 100%;

    .panel-container {
      padding: 20px;

      .panel {
        padding: 70px 0px;
        text-align: center;
      }
    }
  }

</style>
