<template>
  <div class="table-container" :style="containerStyles">
    <table>
      <thead>
      <tr>
        <th v-for="cell in table.head.cells" :style="table.cellStyle">
          {{cell.label}}
          <img v-svg-src="filterDownImg" alt="filter-ascending" />
          <!-- TODO: sort buttons -->
        </th>
      </tr>
      </thead>
      <tbody>
        <tr v-for="row, rowIndex in table.rows" v-if="!amountToShow || (rowIndex < amountToShow)">
          <td v-for="cell, index in row.cells" v-bind:class="{'hover-number':cell.type=='hover' || 'hoverlink' || 'candidate'}" :style="table.cellStyle">
            <router-link v-if="cell.type=='link'" :to="{path: cell.path, query: $route.query}">
              <b>{{cell.label}}</b>
            </router-link>
            <span v-else-if="cell.type === 'candidate'" @click="openCandidateModal(cell.id)" class="candidate-link">
              <span v-if="'profile_photo' in cell" class="profile-image" :style="profileImage(cell.profile_photo)"></span>
              <span class="profile-label">{{ cell.label }}</span>
            </span>
            <span v-else-if="cell.type=='hover'">
              <span class="percent">{{cell.percent}}</span>
              <span class="number">{{cell.number}}</span>
            </span>
            <span v-else-if="cell.type=='hoverlink'">
              <router-link :to="{path: cell.path, query: $route.query}">
                <span class="percent">{{cell.percent}}</span>
                <span class="number">{{cell.number}}</span>
              </router-link>
            </span>
            <span v-else-if="cell.type=='step'">
              <b>Step {{rowIndex + 1}}:</b>
              {{cell.label}}
            </span>
            <span v-else-if="cell.type=='bold'">
              <b>{{cell.label}}</b>
            </span>
            <span v-else-if="cell.type=='badge'">
              <div class="badge" :class="cell.state">
                {{cell.label}}
              </div>
            </span>
            <span v-else>
              {{cell.label}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

import filterUpImg from 'img/candidates/filter-up.svg'
import filterDownImg from 'img/candidates/filter-down.svg'
import filterToggleImg from 'img/candidates/filter-toggle.svg'
import accountPlaceholder from 'img/account-placeholder.svg'

import { hoverNumber, profileImageStyle, candidateHelper } from 'helpers'

export default {
  components: {
  },
  data () {
    return {
      filterUpImg,
      filterDownImg,
      filterToggleImg,
      accountPlaceholder
    }
  },
  mounted () {
  },
  computed: {
  },
  props: {
    table: { required: true },
    containerStyles: { required: false },
    amountToShow: { required: false }
  },
  watch: {
    table: {
      handler (val) {
        hoverNumber.init()
      },
      deep: true
    }
  },
  methods: {
    openCandidateModal (id) {
      candidateHelper.openCandidateModal.apply(this, [id])
    },
    profileImage (photo) {
      return profileImageStyle(photo, accountPlaceholder)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .table-container {
    table {
      width: 100%;
      border-collapse: collapse;

      tr {

        &:last-child {
          td {
            border: 0px none;
          }
        }

        th {
          text-align: center;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          padding: 0px 0px 10px 0px;
          border-bottom: 1px solid $mystic;

          &:first-child {
            text-align: left;
          }
        }

        td {
          text-align: center;
          padding: 30px 0px 30px 0px;
          border-bottom: 1px solid $mystic;

          &:first-child {
            text-align: left;
            max-width: 120px;

            a, span.candidate-link {
              color: $shamrock;
              cursor: pointer;
              text-align: center;
              text-decoration: none;

              &:hover {
                color: $shamrock-hover;
                text-decoration: underline;
              }
            }

          }

          &.hover-number {
            font-size: 12px;
            font-weight: bold;

            .number {
              display: none;
            }
          }

          .profile-image {
            display: block;
            margin: 0 auto 10px;
            width: 38px;
            height: 38px;
            border: solid 1px $border-gray;
            @include circle-img();

            + .profile-label {
              display: block;
              font-weight: bold;
            }
          }



          a {
            color: #4a90e2;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
              color: #3e79be;
            }
          }
        }
      }
    }
  }

  .badge {
    border-radius: 2px;
    color: $white;
    font-weight: bold;
    padding: 3px 0;
    text-transform: uppercase;

    &.success {
      background-color: $shamrock;
    }

    &.warning {
      background-color: $buttercup;
    }

    &.error {
      background-color: $bittersweet;
    }
  }

</style>
