<template>
  <div class="app-container reports-container">
    <Loader :loader-visible="loaderVisible" />
    <CustomHeader />
    <Banner />
    <SideNav :debug-mode="debugMode" type="reports" />
    <router-view></router-view>
  </div>
</template>

<script>
import Banner from 'components/Banner'
import SideNav from 'components/SideNav'
import Loader from 'components/Loader'
import CustomHeader from 'components/Header'

export default {
  components: {
    Banner,
    SideNav,
    Loader,
    CustomHeader
  },
  created () {
  },
  computed: {
  },
  methods: {
  },
  props: ['loaderVisible', 'debugMode']
}
</script>

<style lang="scss">
  @import "~styles/variables";

  // Intentionally un-scoped so other components can pick up styles
  .reports-container {
    background: $polar;
    width: 100%;
    height: 100%;

    .main-container {
      background-color: $polar;
    }

    .reports-filters-container {
      height: 40px;
      margin-bottom: 24px;
    }

    .panel {
      padding: 14px;
      max-height: none;

      .back-link {
        display: inline-block;
        float: left;

        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px;
        }

        a {
          text-decoration: none;
          color: $dove-gray;
        }
      }
    }
  }


</style>
