<template>
  <div class="main-container">
    <!-- TODO: commenting filters out for now, we will need them later -->
    <!-- <div class="reports-filters-container">
      <CustomSelect
        :customStyles="leftDropdownStyles"
        :items="jobFilters"
        :selected="selectedJobFilter"
        :onChange="(item) => {filterChange('job',item)}"
        :icon="jobImg"
      />
      <CustomSelect
        :customStyles="middleDropdownStyles"
        :items="userFilters"
        :selected="selectedUserFilter"
        :onChange="(item) => {filterChange('user',item)}"
        selectIcon="profile"
      />
      <DateRangePicker
        :startDate="dateStartFilter"
        :endDate="dateEndFilter"
        :onChange="(item) => {filterChange('range',item)}"
        :containerStyles="rightDropdownStyles"
        :inputCustomStyles="filterInputStyles"
        placeholder="Filter by date range"
      />
    </div> -->

    <div class="panel">
      <div class="counts-container">
        <ReportsCount
          label="candidates"
          tooltip="<i>Candidates</i> record the number of candidates who are going through or have completed the steps of a sequence."
          :value="candidates"
        />
        <ReportsCount
          label="sends"
          tooltip="<i>Sends</i> record the total number of steps in a sequence that were sent to candidates."
          :value="sends"
        />
        <ReportsCount
          label="opens"
          tooltip="<i>Opens</i> record the total number of times candidates who receive email steps in a sequence open those emails. The <i>open rate</i> is the percentage of sent emails in a sequence that are opened."
          type="hover"
          :percent="opens.percent"
          :number="opens.number"
        />
        <ReportsCount
          label="clicks"
          tooltip="<i>Clicks</i> record the total number of times candidates who receive steps in a sequence click links inserted in those emails. The <i>click rate</i> is the percentage of sent steps in a sequence that earn clicks from candidates who are in the sequence."
          type="hover"
          :percent="clicks.percent"
          :number="clicks.number"
        />
        <ReportsCount
          label="bounces"
          tooltip="<i>Bounces</i> record the number of sequence emails that cannot be sent to candidates for some reason. The <i>bounce rate</i> is the percentage of sent email steps in a sequence that <i>bounce</i>."
          type="hover"
          :percent="bounces.percent"
          :number="bounces.number"
        />
        <ReportsCount
          label="sched. sends"
          tooltip="<i>Scheduled Sends</i> record the number of remaining steps in a sequence that could be sent to candidates who are going through a sequence, assuming none is removed or bounce."
          :value="scheduled"
        />
      </div>
      <ReportsTable
        :table="table"
        :containerStyles="tableStyles"
      />
    </div>
  </div>
</template>

<script>

import ReportsCount from 'components/Sections/Reports/ReportsCount'
import ReportsTable from 'components/Sections/Reports/ReportsTable'
import CustomSelect from 'components/FormElements/CustomSelect'
import DateRangePicker from 'components/Tools/DateRangePicker'

import api from 'api'

import jobImg from 'img/briefcase.svg'

export default {
  components: {
    CustomSelect,
    DateRangePicker,
    ReportsCount,
    ReportsTable
  },
  data () {
    return {
      jobImg,
      tableStyles: {
        'margin-top': '40px'
      },
      leftDropdownStyles: {
        'display': 'inline-block',
        'width': '205px',
        'max-width': '205px'
      },
      middleDropdownStyles: {
        'display': 'inline-block',
        'margin-left': '14px',
        'width': '205px',
        'max-width': '205px'
      },
      rightDropdownStyles: {
        'float': 'right',
        'width': '205px',
        'max-width': '205px'
      },
      filterInputStyles: {
        width: '100%',
        'max-width': '100%'
      },
      jobFilters: [
        { label: 'Filter by jobs', value: -1 }
      ],
      userFilters: [
        { label: 'Filter by user', value: -1 }
      ],
      dateStartFilter: null,
      dateEndFilter: null,
      selectedJobFilter: -1,
      selectedUserFilter: -1,
      candidates: 0,
      sends: 0,
      opens: {
        percent: 0,
        number: 0
      },
      clicks: {
        percent: 0,
        number: 0
      },
      bounces: {
        percent: 0,
        number: 0
      },
      scheduled: 0,
      table: {
        head: {
          cells: [
            { label: 'sequence' },
            { label: 'candidates' },
            { label: 'steps' },
            { label: 'sends' },
            { label: 'opens' },
            { label: 'clicks' },
            { label: 'bounces' },
            { label: 'sched. sends' }
          ]
        },
        rows: []
      }
    }
  },
  mounted () {
    api.ajax('reports/sequences')
    .done((response) => {
      console.log('response for getting sequences report', response)
      this.displayData(response)
    })
    .fail((e) => {
      console.error('error getting sequences report', e)
    })
  },
  computed: {
  },
  methods: {
    filterChange () {
      // TODO
    },
    getPercent (value, total) {
      let percent = (value / total * 100).toFixed(1)
      return !isNaN(percent) ? `${percent}%` : `0%`
    },
    displayData (data) {
      // Fill in the top count data
      this.candidates = data.candidates
      this.sends = data.submitted
      this.opens = {
        percent: this.getPercent(data.opened, data.submitted),
        number: data.opened
      }
      this.clicks = {
        percent: this.getPercent(data.clicked, data.submitted),
        number: data.clicked
      }
      this.bounces = {
        percent: this.getPercent(data.bounced, data.submitted),
        number: data.bounced
      }
      this.scheduled = data.scheduled_sends

      // Make the table
      let rows = []
      $.each(data.sequences, (key, value) => {
        rows.push({
          cells: [
            {
              type: 'link',
              label: value.name ? value.name : 'Untitled',
              path: `/reports/sequences/${value.id}`
            },
            {
              type: 'normal',
              label: value.candidates
            },
            {
              type: 'normal',
              label: value.step_count
            },
            {
              type: 'normal',
              label: value.submitted
            },
            {
              type: 'hover',
              percent: this.getPercent(value.opened, value.submitted),
              number: value.opened
            },
            {
              type: 'hover',
              percent: this.getPercent(value.clicked, value.submitted),
              number: value.clicked
            },
            {
              type: 'hover',
              percent: this.getPercent(value.bounced, value.submitted),
              number: value.bounced
            },
            {
              type: 'normal',
              label: value.scheduled_sends
            }
          ]
        })
      })
      this.table.rows = rows
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .panel {
    text-align: center;
    color: $tundora;

    .counts-container {
      margin-top: 30px;
    }
  }

</style>
