<template>
  <div class="main-container" @scroll="scrollHandler">
    <!-- TODO: commenting out filters for now -->
    <!-- <div class="reports-filters-container">
      <DateRangePicker
        :startDate="dateStartFilter"
        :endDate="dateEndFilter"
        :onChange="(item) => {filterChange('range',item)}"
        :containerStyles="rightDropdownStyles"
        :inputCustomStyles="filterInputStyles"
        placeholder="Filter by date range"
      />
    </div> -->

    <div class="reports-top-nav">
      <router-link
        :to="{path: `/reports/sequences`,
        query: $route.query}">
          <img v-svg-src="backArrow"></img>
          <span>Back to All Sequence Reports</span>
      </router-link>
    </div>

    <div class="panel">
      <Tablist
        :tabs="reportTabs"
        :selectedTab="activeReportTab"
        :customStyles="tablistStyles"
        @change="tabChange" />
      <div v-show="activeReportTab === 0">
        <h1>sequence: {{sequence.sequence_name ? sequence.sequence_name : "Untitled"}}</h1>

        <div class="big-data-container">
          <div class="big-data">
            <h2>candidates</h2>
            <div>{{sequence.candidates}}</div>
          </div>

          <div class="big-data">
            <h2>sends</h2>
            <div class="green">{{sequence.submitted}}</div>
          </div>

          <div class="big-data">
            <h2>scheduled sends</h2>
            <div class="purple">{{sequence.scheduled_sends}}</div>
          </div>
        </div>

        <div class="graph-container">
          <h2>sequence progress</h2>
          <svg class="graph" ref="d3"></svg>
        </div>

        <ReportsTable
          :table="table"
          :containerStyles="tableStyles"
        />
      </div>
      <div v-show="activeReportTab === 1">
        <template v-if="activities.length > 0">
          <h1>Sequence Activity Feed</h1>
          <div class="counts-container">
            <ReportsCount
              label="Total Activities"
              :value="activities.length"
            />
            <ReportsCount
              label="Delivered"
              :value="delivered"
            />
            <ReportsCount
              label="Not Delivered"
              :value="notDelivered"
            />
            <ReportsCount
              label="Queued"
              :value="queued"
            />
          </div>
          <ReportsTable
            :table="activityTable"
            :containerStyles="tableStyles"
            :amountToShow="amountToShow"
          />
        </template>
        <template v-else>
          <h1>No Activity Yet!</h1>
        </template>
      </div>

    </div>
  </div>
</template>

<script>
import ReportsCount from 'components/Sections/Reports/ReportsCount'
import ReportsTable from 'components/Sections/Reports/ReportsTable'
import DateRangePicker from 'components/Tools/DateRangePicker'
import Tablist from 'components/Tools/Tablist'
import backArrow from 'img/back-arrow.svg'
import pulse from 'img/sequence-activity-inactive.svg'
import activePulse from 'img/sequence-activity-active.svg'
import results from 'img/bar-graph-inactive.svg'
import activeResults from 'img/bar-graph-active.svg'
import api from 'api'
import * as d3 from 'd3'
import moment from 'moment'
export default {
  components: {
    ReportsCount,
    ReportsTable,
    DateRangePicker,
    Tablist
  },
  data () {
    return {
      backArrow,
      pulse,
      activePulse,
      results,
      activeResults,
      tableStyles: {
        'margin-top': '60px'
      },
      rightDropdownStyles: {
        'float': 'right',
        'width': '205px',
        'max-width': '205px'
      },
      filterInputStyles: {
        width: '100%',
        'max-width': '100%'
      },
      tablistStyles: {
        width: '90%',
        display: 'inline-block',
        'margin-top': '10px'
      },
      reportTabs: [
        {
          title: 'Results',
          image: results,
          activeImage: activeResults
        },
        {
          title: 'Activity',
          image: pulse,
          activeImage: activePulse
        }
      ],
      dateStartFilter: null,
      dateEndFilter: null,
      sequence: {
        sequence_name: '',
        candidates: 0,
        submitted: 0,
        scheduled_sends: 0
      },
      table: {
        head: {
          cells: [
            { label: 'step' },
            { label: 'sends' },
            { label: 'opens' },
            { label: 'clicks' },
            { label: 'bounces' },
            { label: 'sched. sends' }
          ]
        },
        rows: []
      },
      activityTable: {
        head: {
          cells: [
            { label: 'candidate' },
            { label: 'status' },
            { label: 'subject' },
            { label: 'email/phone' },
            { label: 'time' }
          ]
        },
        rows: []
      },
      activities: [],
      activeReportTab: 0,
      scrollPadding: 200,
      renderAmount: 0,
      renderLimit: 25
    }
  },
  mounted () {
    api.ajax(`reports/sequences/${this.$route.params.sequence_id}`)
    .done((response) => {
      console.log('response for getting sequence report', response)
      this.displayData(response)
    })
    .fail((e) => {
      console.error('error getting sequence report', e)
    })

    api.ajax(`reports/sequences/${this.$route.params.sequence_id}/activity`)
    .done((response) => {
      console.log('response for getting sequence activity report', response)
      this.displayActivity(response)
    })
    .fail((e) => {
      console.error('error getting sequence report', e)
    })
  },
  computed: {
    queued () {
      return $.grep(this.activities, (key, value) => {
        return key.activity === 'queued'
      }).length
    },
    notDelivered () {
      return $.grep(this.activities, (key, value) => {
        return key.activity === 'not delivered'
      }).length
    },
    delivered () {
      return $.grep(this.activities, (key, value) => {
        return key.activity === 'delivered'
      }).length
    },
    amountToShow () {
      return this.renderAmount + this.renderLimit
    }
  },
  methods: {
    filterChange () {
      // TODO
    },
    scrollHandler (e) {
      let scroll = $(e.target).scrollTop()
      let totalHeight = e.target.scrollHeight - $(e.target).height() - this.scrollPadding
      if (scroll >= totalHeight) {
        this.renderAmount += this.renderLimit
      }
    },
    displayData (data) {
      // Fill in top data
      this.sequence = data
      // Make the graph and table
      let stepCount = 1
      let graphData = []
      let rows = []
      let steps = []
      $.each(data.steps, (key, value) => {
        steps.push(value)
      })
      steps = steps.sort((a, b) => {
        return a.seq - b.seq
      })
      $.each(steps, (key, value) => {
        graphData.push({
          step: stepCount,
          type: 'EMAIL',
          sends: value.submitted,
          scheduled: value.scheduled_sends
        })
        rows.push({
          cells: [
            {
              type: 'step',
              label: value.name
            },
            {
              type: value.submitted ? 'link' : 'normal',
              path: `/reports/sequences/${this.$route.params.sequence_id}/${value.id}/submitted`,
              label: value.submitted
            },
            {
              type: value.opened ? 'link' : 'normal',
              path: `/reports/sequences/${this.$route.params.sequence_id}/${value.id}/opened`,
              label: value.opened
            },
            {
              type: value.clicked ? 'link' : 'normal',
              path: `/reports/sequences/${this.$route.params.sequence_id}/${value.id}/clicked`,
              label: value.clicked
            },
            {
              type: value.bounced ? 'link' : 'normal',
              path: `/reports/sequences/${this.$route.params.sequence_id}/${value.id}/bounced`,
              label: value.bounced
            },
            {
              type: value.scheduled_sends ? 'link' : 'normal',
              path: `/reports/sequences/${this.$route.params.sequence_id}/${value.id}/scheduled`,
              label: value.scheduled_sends
            }
          ]
        })
        stepCount++
      })
      // Build the graph
      this.createGraph(graphData)
      // Add completed sequence to the table rows
      rows.push({
        cells: [
          {
            type: 'bold',
            label: 'COMPLETED SEQUENCE'
          },
          {
            type: data.completed ? 'link' : 'normal',
            path: `/reports/sequences/${this.$route.params.sequence_id}/0/completed`,
            label: data.completed
          }
        ]
      })
      this.table.rows = rows
    },
    displayActivity (data) {
      data.forEach((activity) => {
        this.activities.push({
          candidate: {
            // Display the candidates name, or if they don't have one, their email or phone number depending on type.
            name: !activity.candidate_first_name && !activity.candidate_last_name
            ? activity.type === 'email'
              ? activity.candidate_email
              : activity.candidate_phone_number
            : `${activity.candidate_first_name} ${activity.candidate_last_name}`,
            pointOfContact: activity.type === 'email' ? activity.candidate_email : activity.candidate_phone_number,
            id: activity.candidate_id,
            profile_photo: activity.candidate_profile_photo_url
          },
          activity: activity.status,
          payload: activity.type === 'email' ? activity.email_subject : activity.sms_text,
          timestamp: activity.timestamp
        })
      })
      $.each(this.activities, (key, value) => {
        let state
        switch (value.activity) {
          case 'delivered':
            state = 'success'
            break
          case 'queued':
            state = 'warning'
            break
          case 'not_delivered':
            state = 'error'
            break
          default:
            break
        }
        this.activityTable.rows.push({
          cells: [
            {
              type: 'candidate',
              id: value.candidate.id,
              profile_photo: value.candidate.profile_photo,
              label: value.candidate.name
            },
            {
              type: 'badge',
              state: state,
              label: value.activity
            },
            {
              type: 'bold',
              label: value.payload || 'None'
            },
            {
              type: 'normal',
              label: value.candidate.pointOfContact
            },
            {
              type: 'normal',
              label: moment(value.timestamp).format('dddd, MMMM DD YYYY HH:mmA')
            }
          ]
        })
      })
    },
    createGraph (graphData) {
      var initStackedBarChart = {
        draw (config) {
          var domEle = config.element
          var stackKey = config.key
          var data = config.data
          var margin = { top: 20, right: 20, bottom: 60, left: 150 }
          var width = 700 - margin.left - margin.right
          var height = 260 - margin.top - margin.bottom
          var xScale = d3.scaleLinear().rangeRound([0, width])
          var yScale = d3.scaleBand().rangeRound([height, 0]).padding(0.2)
          var xAxis = d3.axisBottom(xScale).ticks(5).tickSizeOuter(0).tickSizeInner(12)
          var yAxis = d3.axisLeft(yScale).tickPadding(30).tickSize(0)
          var svg = d3.select(domEle)
              .attr('width', width + margin.left + margin.right)
              .attr('height', height + margin.top + margin.bottom)
              .append('g')
                .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')
          var stack = d3.stack()
            .keys(stackKey)
            /* .order(d3.stackOrder) */
            .offset(d3.stackOffsetNone)
          var layers = stack(data)
          data.sort(function (a, b) { return b.step - a.step })
          yScale.domain(data.map(function (d) { return `STEP ${d.step} (${d.type})` }))
          xScale.domain([ 0, d3.max(layers[layers.length - 1], function (d) { return d[1] }) ]).nice()
          // Make the gradients
          var gradient = svg.append('defs')
            .append('linearGradient')
              .attr('id', 'sends')
              .attr('x1', '0%')
              .attr('y1', '100%')
              .attr('x2', '100%')
              .attr('y2', '100%')
              .attr('spreadMethod', 'pad')
          gradient.append('stop')
              .attr('offset', '0%')
              .attr('stop-color', '#80c7c8')
              .attr('stop-opacity', 1)
          gradient.append('stop')
              .attr('offset', '100%')
              .attr('stop-color', '#50e3c2')
              .attr('stop-opacity', 1)
          var gradient2 = svg.append('defs')
            .append('linearGradient')
              .attr('id', 'scheduled')
              .attr('x1', '0%')
              .attr('y1', '100%')
              .attr('x2', '100%')
              .attr('y2', '100%')
              .attr('spreadMethod', 'pad')
          gradient2.append('stop')
              .attr('offset', '0%')
              .attr('stop-color', '#8578ff')
              .attr('stop-opacity', 1)
          gradient2.append('stop')
              .attr('offset', '100%')
              .attr('stop-color', '#c96dd8')
              .attr('stop-opacity', 1)
          var layer = svg.selectAll('.layer')
            .data(layers)
            .enter().append('g')
              .attr('class', 'layer')
              .style('fill', function (d, i) {
                return `url(#${d.key})`
              })
          layer.selectAll('rect')
              .data(function (d) { return d })
              .enter().append('rect')
                .attr('y', function (d) { return yScale(`STEP ${d.data.step} (${d.data.type})`) })
                .attr('height', yScale.bandwidth())
                .transition()
                .duration(1000)
                .delay(function (d, i) { return i * 100 })
                .attr('x', function (d) { return xScale(d[0]) })
                .attr('width', function (d) { return xScale(d[1]) - xScale(d[0]) })
          svg.append('g')
              .attr('class', 'axis axis--x')
              .attr('transform', 'translate(0,' + (height + 30) + ')')
              .call(xAxis)
          svg.select('.axis--x')
              .selectAll('text')
              .style('font-size', '14px')
              .style('font-family', 'Open Sans')
              .style('fill', '#9b9b9b')
          svg.select('.axis--x')
              .selectAll('.tick line')
              .attr('transform', 'translate(0,-5)')
          svg.select('.axis--x .tick line:first-child')
              .attr('transform', 'translate(0,-30)')
              .attr('y1', '0')
              .attr('y2', '30')
          svg.append('g')
              .attr('class', 'axis axis--y')
              .attr('transform', 'translate(0,0)')
              .call(yAxis)
          svg.select('.axis--y')
              .selectAll('text')
              .each((text, i, a) => {
                var t = text.split('(')
                d3.select(a[i]).html('<tspan>' + t[0] + '</tspan>(' + t[1])
              })
          svg.select('.axis--y')
              .selectAll('text')
              .style('letter-spacing', '1.5px')
              .style('font-size', '12px')
              .style('font-family', 'Open Sans')
              .style('fill', '#4a4a4a')
          svg.select('.axis--y')
              .selectAll('text tspan')
              .style('font-weight', '800')
          svg.selectAll('.axis path, .axis .tick line')
              .attr('stroke-width', '2px')
              .attr('stroke', '#9b9b9b')
        }
      }
      var key = ['sends', 'scheduled']
      initStackedBarChart.draw({
        data: graphData,
        key: key,
        element: this.$refs.d3
      })
    },
    tabChange (index) {
      this.activeReportTab = index
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~styles/variables";

  .reports-top-nav {
    height: 43px;
    line-height: 43px;

    padding: 0 27px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    background-color: $white;
    margin-bottom: 24px;

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
    }

    a {
      text-decoration: none;
      color: $dove-gray;
    }
  }

  .panel {
    text-align: center;
    h1 {
      margin-top: 50px;
      font-size: 16px;
      letter-spacing: 1.8px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    h2 {
      color: #393939;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1.8px;
      text-transform: uppercase;
    }
    .big-data-container {
      .big-data {
        display: inline-block;
        width: 180px;
        &:first-child {
          float: left;
          margin-left: 40px;
        }
        &:last-child {
          float: right;
          margin-right: 40px;
        }
        div {
          color: $tundora;
          margin-top: 5px;
          padding: 15px 0px;
          width: 100%;
          font-size: 30px;
          letter-spacing: 3.8px;
          border-radius: 2px;
          font-weight: 300;
          &.green {
            color: $white;
            background-image: linear-gradient(to left, #50e3c2, #80c7c8);
          }
          &.purple {
            color: $white;
            background-image: linear-gradient(to right, #8578ff, #c96dd8);
          }
        }
      }
    }
    .graph-container {
      margin-top: 50px;
    }
  }
  .counts-container {
    margin-top: 30px;
  }
</style>
